<style>
    
    
    .panel-success > .panel-heading {
        color: #030404;
        background-color: #bccac9;
    }
    
    .panel-success > .panel-heading + .panel-collapse .panel-body {
        border-top-color: #22965b;
        border-top-width: 2px;
    }


</style>

<style>
	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini { width: 180px !important;} 

     .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }


    .daterangepicker {
        position: absolute;
        color: inherit;
        background: #fff;
        border-radius: 4px;
        width: 560px;
        padding: 4px;
        margin-top: 1px;
        top: 100px;
        left: 20px;
    /* Calendars */ }
</style>

<style>
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

</style>

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li><a href="#">Home</a><i class="fa fa-circle"></i></li>
	<li class="active">Dashboard</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController" class="margin-top-10">

	<div class="row">
				        
        <div class="col-md-5 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md" ng-show='empresaGrupo == 1'>
						<i class="icon-bar-chart font-green-haze hide"></i> 
                            <span class="caption-subject font-green-haze bold uppercase">Faturamento( Dr.Consulta )</span>

					</div>
                    <div class="caption caption-md" ng-show='empresaGrupo == 2'>
						<i class="icon-bar-chart font-green-haze hide"></i> 
                            <span class="caption-subject font-green-haze bold uppercase">Faturamento( Dental )</span>

					</div>
                    <div class="caption caption-md" ng-show='empresaGrupo == 3'>
						<i class="icon-bar-chart font-green-haze hide"></i> 
                            <span class="caption-subject font-green-haze bold uppercase">Faturamento( Performance )</span>

					</div>
					<div class="actions">
						<div class="btn-group">
							<button type="button" class="btn btn-default" ng-click="previousMonthReport0001()">Anterior</button>
							<button type="button" class="btn btn-default" ng-click="nextMonthReport0001()">Pr&oacute;ximo</button>
						</div>
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<h4 class="block">{{report0001.my}}</h4>

					<div id="report0001piechart" class="chart"></div>

                    <div ng-show="empresaGrupo == 3">
                        <button class="btn btn-sm blue" type="button" ng-click="getDetalhesFaturamento()"> 
                            <i class="fa fa-list" aria-hidden="true"></i> Detalhes Faturamento
                        </button>
                    </div>
                    <br><br>
					<div class="table-responsive">
						<em ng-show="report0001.data.length == 0">Sem dados disponiveis.</em>
						<table ng-hide="report0001.data.length == 0"
							class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>Tipo</th>
									<th>Contratos</th>
									<th>Faturamento</th>

								</tr>
							</thead>
							<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
							<tr ng-repeat="item in report0001.data">
								<td ng-bind-html="item.formapagamento | to_trusted"></td>
								<td>{{item.numerocontratos}}</td>
								<td>{{item.faturamentoFormatado}}</td>
						</table>
					</div>
                    
					<h4 class="block">Mensalidades Pagas</h4>
					<div class="table-responsive">
						<em ng-show="report0007.data.length == 0">Sem dados disponiveis.</em>
						<table ng-hide="report0007.data.length == 0"
							class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>Tipo</th>
									<th>Contratos</th>
									<th>Faturamento</th>

								</tr>
							</thead>
							<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
							<tr ng-repeat="item in report0007.data">
								<td ng-bind-html="item.formapagamento | to_trusted"></td>
								<td>{{item.numerocontratos}}</td>
								<td>{{item.faturamentoFormatado}}</td>
						</table>
					</div>
				</div>
			</div>
    <div class="portlet light ">
            <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i> 
                            <span class="caption-subject font-green-haze bold uppercase">Mapa de clientes</span>
                    </div>
            </div>        
    <div class="container">
      <!-- Button to trigger modal -->
      <p><img href="#mapmodals" role="button" data-toggle="modal" class="btn btn-default" ng-src="assets/global/img/mapa/ManausMap.JPG"  style="width:35%; height:35%"></a></p>  
      <!-- MAPS -->
      <div class="modal fade" id="mapmodals" style="margin-top:-10%">
        <div class="modal-dialog" style="width:100% !important; height:auto">
          <div class="modal-content col-md-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myCity">Mapa de clientes</h4>   
            </div>
            <div class="modal-body"> 

                <div class="row">
                    
                    <div id="buttons" class="btn-group col-md-3" data-toggle="buttons" style="margin-left:4%">
                       <p style="margin-left:21%">Tipo de clientes:</p>
							<label class = "btn btn-primary" ng-click="buscaClientes(1)">
								<input type="checkbox" class="toggle" >Associados</label>
							<label class = "btn btn-primary active" ng-click="buscaClientes(2)">
								<input type="checkbox" class="toggle" >Não associados</label>
					</div> 
                  
                    <div class="btn-group col-md-4" data-toggle="buttons" style="margin-left:3%">
                        <p style="margin-left:24%">Atendido nos últimos:</p>
							<label class = "btn btn-primary active" ng-click= "periodo(30)" >
								<input type="radio" class="toggle">30 dias</label>
							<label class = "btn btn-primary" ng-click= "periodo(60)" >
								<input type="radio" class="toggle" >60 dias</label>
							<label class = "btn btn-primary btn-sm" type="radio">
                               <input type="radio" class="toggle">
                                <input id="calendar" date-range-picker placeholder="Escolha o per&iacute;odo" class="form-control date-picker text-center input-xs" type="text" ng-model="dataFiltro.date"
                                    
                                    options="{eventHandlers:{'apply.daterangepicker':calendarFunc}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:false, maxDate: maxDate ,showCustomRangeLabel:true ,timePicker:false }">
                            </label>
                    <div >
                    <button type="button" class="btn btn-circle default disabled">{{markers.length}}</button>
				 	</div>
                    </div>
                    <div class="btn-group col-md-4" data-toggle="buttons" style="margin-left:1.2%">
                       <p style="margin-left:35%">Unidade:</p>
							<label class = "btn btn-primary active" ng-click="buscaUnidade(2)">
								<input type="checkbox" class="toggle" >Tarumã</label>
							<label class = "btn btn-primary" ng-click="buscaUnidade(7)">
								<input type="checkbox" class="toggle" >Grande Circular</label>
                            <label class = "btn btn-primary" ng-click="buscaUnidade(1)">
								<input type="checkbox" class="toggle" >Joaquim Nabuco</label>
					</div> 
                </div>
                
              <div id="map_canvas" style="width:100%; height:480px"></div>
            
            </div>
            <!--<div class="modal-footer">
              <button type="button" class="close" data-dismiss="modal">Close</button>
            </div> -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div> <!-- /container -->
    </div>
        <button ng-show="valideBotao" type="button" class="btn btn-primary" ng-click="cadastrarLatLng()" ng-disabled="disabledButton">Get Lat/Lng</button>
</div>

        <div class="col-md-7 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">Contratos</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					
                    <div id="report0006chart"></div>
					
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                             <h4 class="block">{{report0002.my}}</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <div class="actions">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-click="previousMonthReport0002()">Anterior</button>
                                        <button type="button" class="btn btn-default" ng-click="nextMonthReport0002()">Pr&oacute;ximo</button>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                        
					<div class="table-responsive">
						<em ng-show="report0002.data.length == 0">Sem dados disponiveis.</em>
						<table ng-hide="report0002.data.length == 0"
							class="table table-striped table-bordered">
							<thead>
								<tr>
                                    <th class="text-center">*</th>
									<th>Situação</th>
									<th>Quantidade</th>
									<th>Faturamento</th>

								</tr>
							</thead>
							<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
							<tr ng-repeat-start="item in report0002.data">
                                <td class="text-center">
                                   <button ng-if="item.expanded" 
                                    class=" btn blue btn-xs glyphicon glyphicon-chevron-up" 
                                    ng-click="item.expanded = false">
                                   </button>

                                    <button ng-if="!item.expanded" 
                                     class="btn blue btn-xs glyphicon glyphicon-chevron-down" ng-click="getDetalheContratoDb(item)">
                                    </button>
                                </td>       
								<td>{{item.situacaocontrato}}</td>
								<td>{{item.numerocontratos}} </td>
								<td>{{item.faturamentoFormatado}}</td>
                            </tr>
                            
                                             
                            <tr ng-if="item.expanded" ng-repeat-end="">
                                <td colspan="4">
                                    <div class="col-md-offset-2 col-md-8" ng-if="item.situacaocontrato == 'NOVOS CONTRATOS'">
                                        <table class="table">
                                            <tbody ng-show="empresaGrupo == 3">
                                                <tr ng-repeat=" subItem in report0002.dataReport10 "  ng-show="subItem.id > 0 && subItem.id <=3  " >
                                                    <td>{{subItem.situacaocontrato}}</td>
                                                    <td>{{subItem.numerocontratos}}</td>
                                                    <td>{{subItem.faturamentoFormatado}}</td>
                                                </tr>                                                
                                            </tbody>
                                            <tbody ng-show="empresaGrupo != 3">
                                                <tr ng-repeat=" subItem in report0002.dataReport10 "  ng-show="subItem.id == 3  " >
                                                    <td>{{subItem.situacaocontrato}}</td>
                                                    <td>{{subItem.numerocontratos}}</td>
                                                    <td>{{subItem.faturamentoFormatado}}</td>
                                                </tr>                                                
                                            </tbody>
                                        </table>    
                                    </div>
                                    <div class="col-md-offset-2 col-md-8" ng-if="item.situacaocontrato == 'CONTRATOS INATIVADOS'">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat=" subItem in report0002.dataReport10 "  ng-show="subItem.id > 3 && subItem.id <= 5  " >
                                                    <td>{{subItem.situacaocontrato}}</td>
                                                    <td>{{subItem.numerocontratos}}</td>
                                                    <td>{{subItem.faturamentoFormatado}}</td>
                                                </tr>   
                                            </tbody>
                                        </table>    
                                    </div>
                                </td>
                            </tr>
                            
                            
						</table>
					</div>
				</div>
			</div>
		</div>
       
        
        <div class="col-md-7 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">Clientes</span>
					</div>                    
					<div class="actions">						
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
						</a>
					</div>
				</div>
				<div class="portlet-body">	
                    
                    <div class="col-md-6 col-md-offset-6">
                        <table class="table table-hover">
                            <thead></thead>
                            <tbody>
                                <tr ng-repeat="item in report0012">
                                    <td>{{item.clientes}}</td>                            
                                    <td><span class="badge badge-success"> {{item.quantidade}} </span></td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                                        
                    <div class="row">
                        <div class="col-md-6">
                             <h4 class="block">{{report0003.my}}</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <div class="actions">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-click="previousMonthReport0003()">Anterior</button>
                                        <button type="button" class="btn btn-default" ng-click="nextMonthReport0003()">Pr&oacute;ximo</button>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                    
					<div class="table-responsive">
						<em ng-show="report0003.data.length == 0">Sem dados disponiveis.</em>
                        
                        <div>
                            <accordion> <accordion-group heading="Associados: {{report0009.data[0].quantidade}} - Faturamento de Despesa: {{report0009.data[0].faturamentoFormatado}}" is-open="false" class="panel-success ng-scope ng-isolate-scope panel">
                            <em ng-show="report0003.data.length == 0">Sem dados disponiveis.</em>
                            
                            <table ng-hide="report0014.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>Unidade</th>
                                        <th>Quantidade</th>
                                        <th>Faturamento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in report0014.data" >
                                        <td>{{item.nmUnidade}}</td>
                                        <td>{{item.quantidade}}</td>
                                        <td>{{item.faturamentoFormatado}}</td>                                        
                                    </tr>
                                </tbody>
                            </table>  
                                
                            <table ng-hide="report0003.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>Clientes</th>
                                        <th>Quantidade</th>
                                        <th>Faturamento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in report0003.data" ng-if="item.clientes == 'CLIENTES NOVOS ASSOCIADOS'">
                                        <td>{{item.clientes}}</td>
                                        <td>{{item.quantidade}}</td>
                                        <td>{{item.faturamentoFormatado}}</td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            </accordion-group> </accordion>
                        </div>
                        
                        <div>
                            <accordion> <accordion-group heading="Não Associados: {{report0009.data[1].quantidade}} - Faturamento de Despesa: {{report0009.data[1].faturamentoFormatado}}" 
                                                         is-open="false" class="panel-success ng-scope ng-isolate-scope panel">
                            <em ng-show="report0003.data.length == 0">Sem dados disponiveis.</em>
                            
                            <table ng-hide="report0015.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>Unidade</th>
                                        <th>Quantidade</th>
                                        <th>Faturamento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in report0015.data" >
                                        <td>{{item.nmUnidade}}</td>
                                        <td>{{item.quantidade}}</td>
                                        <td>{{item.faturamentoFormatado}}</td>                                        
                                    </tr>
                                </tbody>
                            </table>  
                                
                            <table ng-hide="report0003.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>Clientes</th>
                                        <th>Quantidade</th>
                                        <th>Faturamento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in report0003.data" ng-if="item.clientes == 'CLIENTES NOVOS NAO ASSOCIADOS'">
                                        <td>{{item.clientes}}</td>
                                        <td>{{item.quantidade}}</td>
                                        <td>{{item.faturamentoFormatado}}</td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            </accordion-group> </accordion>
                        </div>                                                                                                                    
					</div>
                    
				</div>
			</div>
		</div>
        
        <div class="col-md-5 col-sm-12" ng-show="empresaGrupo != 3">
        </div>
        
        <div class="col-md-7 col-sm-12" ng-show="empresaGrupo != 3">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">Agendamentos</span>
					</div>                    
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-click="previousMonthReport0013()">Anterior</button>
                            <button type="button" class="btn btn-default" ng-click="nextMonthReport0013()">Pr&oacute;ximo</button>                            
                        </div>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                        </a>
                    </div>
				</div> 
                
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="block"> {{report0013.my}} - Total cadastrados: {{totais.agendamentosCriados}} </h4>
                        </div>
                        <div class="col-md-offset-1 col-md-11">
                            <table class="table table-hover">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td>Total agendados: </td>                            
                                        <td><span class="badge badge-success"> {{totais.agendamentosAgendados}} </span></td>
                                        <td>Total atendidos: </td>
                                        <td><span class="badge badge-success"> {{totais.agendamentosAtendidos}} </span></td>
                                        <td>Total bloqueados: </td>
                                        <td><span class="badge badge-success"> {{totais.agendamentosBloqueados}} </span></td>
                                        <td>Total faltosos: </td>
                                        <td><span class="badge badge-success"> {{totais.agendamentosFaltosos}} </span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <div class="table-responsive">						                                                
                                <div ng-show="empresaGrupo == 1">
                                    <accordion> <accordion-group heading="Unidade : Joaquim Nabuco" is-open="true" class="panel-success ng-scope ng-isolate-scope panel">
                                    <em ng-show="report0013.data.length == 0">Sem dados disponiveis.</em>
                                    <table ng-hide="report0013.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Agendamento(s)</th>
                                                <th>Atendido(s)</th>
                                                <th>Bloqueado(s)</th>
                                                <th>Faltoso(s)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in report0013.data" ng-if="item.unidade == 'JOAQUIM NABUCO' && item.tipo == 'AGENDADOS'">
                                                <td>{{item.tipo}}</td>
                                                <td>{{item.totalagendamento}}</td>
                                                <td>{{item.totalatendido}}</td>
                                                <td>{{item.totalbloqueado}}</td>
                                                <td>{{item.totalfaltoso}}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                    </accordion-group> </accordion>
                                </div>
                                <div ng-show="empresaGrupo == 1">
                                    <accordion> <accordion-group heading="Unidade : Tarumã" is-open="true" class="panel-success ng-scope ng-isolate-scope panel">
                                    <em ng-show="report0013.data.length == 0">Sem dados disponiveis.</em>
                                    <table ng-hide="report0013.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Agendamento(s)</th>
                                                <th>Atendido(s)</th>
                                                <th>Bloqueado(s)</th>
                                                <th>Faltoso(s)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in report0013.data" ng-if="item.unidade == 'TARUMÃ' && item.tipo == 'AGENDADOS'">
                                                <td>{{item.tipo}}</td>
                                                <td>{{item.totalagendamento}}</td>
                                                <td>{{item.totalatendido}}</td>     
                                                <td>{{item.totalbloqueado}}</td>
                                                <td>{{item.totalfaltoso}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </accordion-group> </accordion>
                                </div>
                                <div ng-show="empresaGrupo == 1">
                                    <accordion> <accordion-group heading="Unidade : Grande Circular" is-open="true" class="panel-success ng-scope ng-isolate-scope panel">
                                    <em ng-show="report0013.data.length == 0">Sem dados disponiveis.</em>
                                    <table ng-hide="report0013.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Agendamento(s)</th>
                                                <th>Atendido(s)</th>
                                                <th>Bloqueado(s)</th>
                                                <th>Faltoso(s)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in report0013.data" ng-if="item.unidade == 'GRANDE CIRCULAR' && item.tipo == 'AGENDADOS'">
                                                <td>{{item.tipo}}</td>
                                                <td>{{item.totalagendamento}}</td>
                                                <td>{{item.totalatendido}}</td>
                                                <td>{{item.totalbloqueado}}</td>
                                                <td>{{item.totalfaltoso}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </accordion-group> </accordion>
                                </div>
                                <div ng-show="empresaGrupo == 2">
                                    <accordion> <accordion-group heading="Unidade : Dental" is-open="true" class="panel-success ng-scope ng-isolate-scope panel">
                                    <em ng-show="report0013.data.length == 0">Sem dados disponiveis.</em>
                                    <table ng-hide="report0013.data.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Agendamento(s)</th>
                                                <th>Atendido(s)</th>
                                                <th>Bloqueado(s)</th>
                                                <th>Faltoso(s)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in report0013.data" ng-if="item.unidade == 'DENTAL' && item.tipo == 'AGENDADOS'">
                                                <td>{{item.tipo}}</td>
                                                <td>{{item.totalagendamento}}</td>
                                                <td>{{item.totalatendido}}</td>
                                                <td>{{item.totalbloqueado}}</td>
                                                <td>{{item.totalfaltoso}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </accordion-group> </accordion>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>                
                
            </div>
		</div>   
        
	</div>

	<!-- SECOND ROW -->
	<div class="row">
		<div class="col-md-12">

			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light ">
                <div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">Faturamento por Plano</span>
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
                            data-loading>
                            <br/>
                        </div>
					</div>
                     
					<div class="actions">
						<div class="btn-group btn-group-devided" data-toggle="buttons">
							<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"></a>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<em ng-show="report0004.length == 0">Sem dados disponiveis.</em>
					<table ng-hide="report0004.length == 0" class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th>Plano</th>
								<th>Vidas</th>
								<th>Custo/Vida</th>
								<th>Valor do Plano</th>
								<th>Contratos</th>
								<th>Total Real</th>
                                <th class="text-center">Contrato(s) cliente</th>
								<!--<th>Arquivo</th>-->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in report0004">
								<td>{{item.nomeplano}}</td>
								<td>{{item.vidas}}</td>
								<td>{{item.custoVidaFormatado}}</td>
								<td>{{item.valorplanoFormatado}}</td>
								<td>{{item.contratos}}</td>
								<td>{{item.totalrealFormatado}}</td>
                                <td class="text-center">
                                    <a class="general-link"                                        
                                       ui-sref="db_clientePlano({idPlano:item.idplano, nmPlano:item.nomeplano, vlPlano:item.valorplanoFormatado, idEmpresaGrupo:empresaGrupo})" 
                                       target="_blank"> 
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" />                                        
                                    </a>
                                </td>
								<!-- <td><a href="mediclab/dashboard/reports/report0005?plano={{item.idplano}}" target="_blank">CSV</a></td> -->
                            </tr>
						</tbody>
					</table>
				</div>
                
               

		</div>
	</div>
    
    <div class="col-md-12 col-sm-12" ng-show="empresaGrupo != 3">
			<div class="portlet light ">
				 <div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">Faturamento por Plano( Empresarial )</span>
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
                            data-loading>
                            <br/>
                        </div>					
                    </div>
                    <div class="actions">
						<div class="btn-group btn-group-devided" data-toggle="buttons">
							<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"></a>
						</div>
					</div>
				</div>
                <div class="portlet-body">
					<em ng-show="report0011.length == 0">Sem dados disponiveis.</em>
					<table ng-hide="report0011.length == 0" class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th>Plano</th>
								<th>Vidas</th>
								<th>Custo/Vida</th>
								<th>Valor do Plano</th>
								<th>Contratos</th>
								<th>Total Real</th>
                                <th class="text-center">Contrato(s) cliente</th>
								<!--<th>Arquivo</th>-->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in report0011">
								<td>{{item.nomeplano}}</td>
								<td>{{item.vidas}}</td>
								<td>{{item.custoVidaFormatado}}</td>
								<td>{{item.valorplanoFormatado}}</td>
								<td>{{item.contratos}}</td>
								<td>{{item.totalrealFormatado}}</td>
                                <td class="text-center">
                                    <a class="general-link"                                        
                                       ui-sref="db_clientePlano({idPlano:item.idplano, nmPlano:item.nomeplano, vlPlano:item.valorplanoFormatado, idEmpresaGrupo:empresaGrupo})" 
                                       target="_blank"> 
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" />                                        
                                    </a>
                                </td>
								<!-- <td><a href="mediclab/dashboard/reports/report0005?plano={{item.idplano}}" target="_blank">CSV</a></td> -->
                            </tr>
						</tbody>
					</table>
				</div>
			</div>
    <!-- END EXAMPLE TABLE PORTLET-->
    </div>
	<!-- END MAIN CONTENT -->
	<!-- BEGIN MAIN JS & CSS -->

</div>
   
</div>
