<div class="row">
	<div class="col-md-12">
		<div class="portlet light ">
			
			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> {{nmPlano}} - {{vlPlano}} </span>
					 <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>                
			</div>
			<!-- END TITLE -->
            
            <!-- BEGIN AGENDAMENTOS APTOS -->
                        
            <div>			
                <div class="portlet box blue">                    
                    <div class="portlet-body flip-scroll">                          
                        <div class="col-md-2" ng-show='empresaGrupo != 3'>                          
                            <div class="form-group">
                                <label class="control-label" for="nrQtd" title="Quantidade de Atendimento(s) Inicial">
                                    Quantidade de Atendimento
                                </label>
                                <div class="input-group"> 
                                    <span class="input-group-addon" tooltip = "Resultado >="> 
                                       <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span> 
                                    <input type="text" class="form-control" ng-model="nrQtdAtendimento" ui-number-mask="0"/>   
                                </div>                                  
                            </div>
                            <div class="form-group">                                
                                <div class="input-group"> 
                                    <span class="input-group-addon" tooltip = "Resultado <="> 
                                       <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span> 
                                    <input type="text" class="form-control" ng-model="nrQtdAtendimentoFim" ui-number-mask="0"/>   
                                </div>                                  
                            </div>
                        </div>   
                        <div class="col-md-3" ng-show='empresaGrupo != 3'>                          
                            <div class="form-group">
                                <label class="control-label" for="custoVida" title="Custo por vida">
                                    Custo Vida
                                </label>
                                <div class="input-group"> 
                                    <span class="input-group-addon" tooltip = "Resultado < ou ="> 
                                       <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span> 
                                    <input type="text" class="form-control" ng-model="vlCustoVida" ui-number-mask/>   
                                </div>                                  
                            </div>                           
                        </div>
                        
                        <div class="col-md-3" ng-show='empresaGrupo != 3'>                          
                            <div class="form-group">
                                <label class="control-label" for="ultimoPagamento" title="Último Pagamento">
                                    Último Pagamento
                                </label>
                                <div class="input-group"> 
                                    <span class="input-group-addon" tooltip = "Resultado < ou ="> 
                                       <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span> 
                                    <input type="text" class="form-control" ng-model="vlUltimoPagamento" ui-number-mask/>   
                                </div>                                  
                            </div>                           
                        </div>
                        
                        <div class="col-md-12"></div>   
                        
                         <div class="col-md-6" ng-show='empresaGrupo != 3'>                          
                            <div class="text-right">
                                <div class="input-group"> 
                                    <span class="input-group-btn">
                                        <button class="btn blue" type="button"
                                         ng-click="pesquisarClientesPlanoByQtdAtendimento()">Pesquisar</button>
                                    </span>
                                </div>                                  
                            </div>                           
                        </div>                       
                        <div class="col-md-12">
                            <div class="text-right">
                                <button class="btn btn-xs btn-primary" ng-click="gerarPdfExames()">
                                    Gerar Pdf
                                </button>
                            </div>
                            <br />
                        </div>


                      <div class="col-md-4">
                    <label>Formas de Pagamento</label>
                    <div class="form-group">
                        <ui-select ng-model="formaPagamentoSelected.formaPagamento" 
                            theme="select2" class="form-control select2me" 
                            on-select="pesquisarClientesPlanoByQtdAtendimento()" 
                            name="nmFormaPagamento" id="nmFormaPagamento"
                            search-enabled="false"
                            style="min-width: 300px;" > 
                                <ui-select-match placeholder="Selecione a forma de pagamento ">
                                    {{$select.selected.nmFormaPagamento}}
                                </ui-select-match> 
                                <ui-select-choices repeat="item as item in formaPagamentoOptions | filter: $select.search">
                                    <div ng-bind-html="item.nmFormaPagamento | highlight: $select.search"></div>
                                </ui-select-choices> 
                        </ui-select>    
                    </div>
                </div>
                <!-- END SEARCH BY FORMA PAGAMENTO -->
                        <table 
                            class="table table-bordered table-striped table-condensed flip-content" ng-table="tableParams">                            
                            <thead class="flip-content">
                                <tr>
                                    <th class="text-center"> Cliente </th>
                                    <th class="text-center"> Contrato </th>
                                    <th class="text-center"> Situação </th>
                                    <th class="text-center"> Forma de Pagamento </th>                                    
                                    <th class="text-center"> Vida(s) </th>
                                    <th class="text-center"> Custo vida </th>                                   
                                    <th class="text-center"> Valor Contrato </th>
                                    <th class="text-center"> Último Pagamento </th>
                                    <th class="text-center" title="Quantidade de atendimentos no período de 12 mêses." 
                                        ng-show="empresaGrupo != 3"> Qtd. Atendimento(s) </th>
                                    <th class="text-center"> Telefone </th>
                                    <th class="text-center"> Celular </th>
                                    <th class="text-center"> Endereço </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $data" >
                                    <td>{{item.nomecliente}}</td>
                                    <td class="text-center">{{item.numerocontrato}}</td>
                                    <td class="text-center">{{item.situacao}}</td>
                                    <td class="text-center">{{item.formapagamento}}</td>
                                    <td class="text-center">{{item.vidas}}</td>
                                    <td class="text-right">{{item.custoVidaFormatado}}</td>
                                    <td class="text-right">{{item.cobradoFormatado}}</td>
                                    <td class="text-right">{{item.ultimoPagamentoFormatado}}</td>
                                    <td class="text-center" ng-show="empresaGrupo != 3">{{item.qtdatendimento}}</td>
                                    <td class="text-center">{{item.telefone}}</td>
                                    <td class="text-center">{{item.celular}}</td>
                                    <td>{{item.endereco + ', Nº ' + item.numeroendereco}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
            <!-- END AGENDAMENTOS APTOS -->
            
            <!-- BEGIN RESUMO ATENDIMENTO -->
            <br />
            <div class="row">                
                <div class="col-md-3">
                    <div class="dashboard-stat white">
                        <div class="visual">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{totalRegistro}} </div>
                            <div class="desc"> Contrato(s) </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{totalDebito}} </div>
                            <div class="desc"> Débito Automático </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{totalContracheque}} </div>
                            <div class="desc"> Contra Chéque </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{totalBoleto}} </div>
                            <div class="desc"> Boleto Bancário </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="dashboard-stat purple-studio">
                        <div class="visual">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{totalRecorrente}} </div>
                            <div class="desc"> Cartão Recorrente </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- END RESUMO ATENDIMENTO -->
            
            
        </div>
	</div>
</div>