<style>
    #nmClienteLink {
        text-decoration:underline; 
        color: #0099CC;
    }

    .input-mini {
        width: 180px !important;
    } 
</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption"></div>
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
				<div class="portlet-body">
                    
                    <div class="row">
                        <!-- DATEPICKER RANGE -->
                        <div class="col-md-offset-3 col-md-6">
                            <div class="form-group" >
                                <input date-range-picker class="form-control date-picker text-center" type="text" ng-model="dataFiltro.date"
                                 options="{eventHandlers:{'apply.daterangepicker': pesquisarFaturamentoContrato}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:mostrarCalendario, showCustomRangeLabel:mostrarCustomizado ,timePicker:false }" 
                                placeholder="Selecione a data" />
                            </div>
                        </div> 
                        <!-- END DATEPICKER RANGE -->
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="block">Novos Contratos</h4>
                            <div class="table-responsive">
                                <em ng-show="faturamento.drConsulta.data.length == 0">Sem dados disponiveis.</em>
                                <table ng-show="faturamento.drConsulta.data.length > 0"
                                    class="table  table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">*</th>
                                            <th>Empresa</th>
                                            <th>Contrato(s)</th>
                                            <th>Faturamento</th>

                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="text-center">
                                           <button ng-if="faturamento.drConsulta.expanded" 
                                            class=" btn blue btn-xs glyphicon glyphicon-chevron-up" 
                                            ng-click="faturamento.drConsulta.expanded = false">
                                           </button>

                                            <button ng-if="!faturamento.drConsulta.expanded" 
                                             class="btn blue btn-xs glyphicon glyphicon-chevron-down" ng-click="getDetalheContratoEmpresa(faturamento.drConsulta)">
                                            </button>
                                        </td>
                                        <td><a class="general-link" ng-click="goToDashboard(1)" title="Visualizar dashboard">{{faturamento.drConsulta.nome}}</a></td>
                                        <td>{{faturamento.drConsulta.data[0].numerocontratos}}</td>
                                        <td>{{faturamento.drConsulta.data[0].faturamentoFormatado}}</td>
                                    </tr>
                                        <!--<tr ng-if="faturamento.drConsulta.expanded">
                                            <td colspan="4">
                                                <div class="col-md-offset-3 col-md-6">
                                                    <table class="table">
                                                        <thead>
                                                            <th>Situação</th>
                                                            <th>Contrato(s)</th>
                                                            <th>Faturamento</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{faturamento.drConsulta.data[0].situacaocontrato}}</td>
                                                                <td>{{faturamento.drConsulta.data[0].numerocontratos}}</td>
                                                                <td>{{faturamento.drConsulta.data[0].faturamentoFormatado}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{faturamento.drConsulta.data[0].situacaocontrato}}</td>
                                                                <td>{{faturamento.drConsulta.data[0].numerocontratos}}</td>
                                                                <td>{{faturamento.drConsulta.data[0].faturamentoFormatado}}</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>    
                                                </div>
                                            </td>
                                        </tr>--> 
                                    
                                    <tr>
                                        <td class="text-center">
                                           <button ng-if="faturamento.dental.expanded" 
                                            class=" btn blue btn-xs glyphicon glyphicon-chevron-up" 
                                            ng-click="faturamento.dental.expanded = false">
                                           </button>

                                            <button ng-if="!faturamento.dental.expanded" 
                                             class="btn blue btn-xs glyphicon glyphicon-chevron-down" ng-click="getDetalheContratoEmpresa(faturamento.dental)">
                                            </button>
                                        </td>
                                        <td><a class="general-link" ng-click="goToDashboard(2)" title="Visualizar dashboard">{{faturamento.dental.nome}}</a></td>
                                        <td>{{faturamento.dental.data[0].numerocontratos}}</td>
                                        <td>{{faturamento.dental.data[0].faturamentoFormatado}}</td>
                                    </tr>
                                        <!--<tr ng-if="faturamento.dental.expanded">
                                            <td colspan="4">
                                                <div class="col-md-offset-3 col-md-6">
                                                    <table class="table">
                                                        <thead>
                                                            <th>Situação</th>
                                                            <th>Contrato(s)</th>
                                                            <th>Faturamento</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{faturamento.dental.data[0].situacaocontrato}}</td>
                                                                <td>{{faturamento.dental.data[0].numerocontratos}}</td>
                                                                <td>{{faturamento.dental.data[0].faturamentoFormatado}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{faturamento.dental.data[0].situacaocontrato}}</td>
                                                                <td>{{faturamento.dental.data[0].numerocontratos}}</td>
                                                                <td>{{faturamento.dental.data[0].faturamentoFormatado}}</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>    
                                                </div>
                                            </td>
                                        </tr>   -->                                     
                                    
                                    <tr>
                                        <td class="text-center">
                                           <button ng-if="faturamento.academia.expanded" 
                                            class=" btn blue btn-xs glyphicon glyphicon-chevron-up" 
                                            ng-click="faturamento.academia.expanded = false">
                                           </button>

                                            <button ng-if="!faturamento.academia.expanded" 
                                             class="btn blue btn-xs glyphicon glyphicon-chevron-down" ng-click="getDetalheContratoEmpresa(faturamento.academia)">
                                            </button>
                                        </td>
                                        <td><a class="general-link" ng-click="goToDashboard(3)" title="Visualizar dashboard">{{faturamento.academia.nome}}</a></td>
                                        <td>{{faturamento.academia.data[0].numerocontratos}}</td>
                                        <td>{{faturamento.academia.data[0].faturamentoFormatado}}</td>
                                    </tr>
                                        <tr ng-if="faturamento.academia.expanded">
                                            <td colspan="4">
                                                <div class="col-md-offset-3 col-md-6">
                                                    <table class="table">
                                                        <thead>
                                                            <th>Situação</th>
                                                            <th>Contrato(s)</th>
                                                            <th>Faturamento</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{faturamento.academia.data[1].situacaocontrato}}</td>
                                                                <td>{{faturamento.academia.data[1].numerocontratos}}</td>
                                                                <td>{{faturamento.academia.data[1].faturamentoFormatado}}</td>
                                                            </tr> 
                                                            <tr>
                                                                <td>{{faturamento.academia.data[2].situacaocontrato}}</td>
                                                                <td>{{faturamento.academia.data[2].numerocontratos}}</td>
                                                                <td>{{faturamento.academia.data[2].faturamentoFormatado}}</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>    
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                        
                         <!--<div class="col-md-12">
                            <h4 class="block">Novos Contratos (Migracao)</h4>
                            <div class="table-responsive">
                                <em ng-show="faturamento.drConsulta.data.length == 0">Sem dados disponiveis.</em>
                                <table ng-show="faturamento.drConsulta.data.length > 0"
                                    class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Empresa</th>
                                            <th>Quantidade</th>
                                            <th>Faturamento</th>

                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>{{faturamento.drConsulta.nome}}</td>
                                        <td>{{faturamento.drConsulta.data[1].numerocontratos}}</td>
                                        <td>{{faturamento.drConsulta.data[1].faturamentoFormatado}}</td>
                                    </tr>
                                    <tr>
                                       <td>{{faturamento.dental.nome}}</td>
                                       <td>{{faturamento.dental.data[1].numerocontratos}}</td>
                                       <td>{{faturamento.dental.data[1].faturamentoFormatado}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{faturamento.academia.nome}}</td>
                                        <td>{{faturamento.academia.data[1].numerocontratos}}</td>
                                        <td>{{faturamento.academia.data[1].faturamentoFormatado}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>-->
                        
                        
				    </div>   
				</div>
			</div>
		</div>
	</div>
</div>
