<div  >
	<div class="row">
		<div class="col-md-12">	
			<div class="caption">
	       		<h3 class="text-center">
	       			<span>{{nmGrupoFinanciero}} </span>
	       		</h3>
	    	</div>
		</div>
	</div>
	<!-- FIM DIV IMPORTAR FOLHA -->
	
	<br/>
	<div class="row">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i> <span
						class="caption-subject font-green-haze bold uppercase">Folha (&Uacute;ltimos 12 meses)</span>
				</div>
			</div>
			<div class="portlet-body">
				<div id="chart"></div>
			</div>
		</div>
	</div><!--  FIM DIV GRAFICO -->
</div>
<!-- END CONTENT-->