<style>
	.note.note-danger {
	    background-color: #fef7f8;
	    border-color: #f0868e;
	    color: #210406;
	}

	.note {
	    margin: 0 0 20px;
	    padding: 15px 30px 15px 15px;
	    border-left: 5px solid #eee;
	    border-radius: 0 4px 4px 0;
	}
</style>
<div  class="margin-top-10" ng-controller="FolhaImportacaoController">
	<div class="row">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="fa fa-file-text-o" aria-hidden="true"></i>
					<span class="caption-subject font-green-haze bold">
						Upload folha de pagamento: {{nmFantasia}}
					</span>
				</div>
			</div>
			
			<br />
			<form  name="form" style="margin-left:30%" id="formUpload" 
			novalidate ng-show="canShow">
				<div class="row" >
					<div class="col-md-6">
						<div class="form-group">
							<label style="font-weight:bold;" for="arquivo">Importação de arquivo</label>
							<input id="arquivo" type="file" id="exampleInputFile"
						    	type="file" ngf-select ng-model="file" name="file" ngf-accept="'.txt'" 
						    	 ngf-pattern="'.txt'" ng-click="inicializarFormUpload()" required />
						</div>		
					</div>
				</div>
				
				<button type="submit" class="btn btn-info" ng-click="submit()" 
				style="margin-left:70px;"  ng-disabled="buttonSumbmitDisabled" >
					Submeter
				</button>		  
			</form>

			<br /><br /><br />
			<div class="col-md-offset-3 col-md-6" ng-show="file">
				 <div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="0"
				  aria-valuemin="0" aria-valuemax="100"style="width:{{f.progress}}%"  >
				  </div>
				</div>
			</div>
			<br /><br />
		</div>
	</div>
	<!--  FIM DIV UPLOAD-->

	<div class="row" ng-show="isData && codFuncDuplicadoList.length == 0">
		<form novalidate >
			<div class="portlet light" ng-show="isData">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="fa fa-cog"></i>
						<span class="caption-subject font-green-haze bold uppercase">
							Resumo da Folha
						</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">			
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="nmEmpresaFinanceiro">
									Empresa
								</label>
								<h5 id="nmEmpresaFinanceiro">
									{{folhaImportadaResult.data.nmEmpresaFinanceiro}}
								</h5>
							</div>
							<div class="form-group">
								<label class="control-label" for="nmUnidade">
									Unidade
								</label>
								<h5  id="nmUnidade">{{folhaImportadaResult.data.nmUnidade}}</h5>
							</div>
							<div class="form-group">
								<label class="control-label" for="txtNrImportados">
									N&uacute;mero de importados
								</label>
								<h5  id="txtNrImportados">
									{{folhaImportadaResult.data.nroImportados}}
								</h5>
							</div>
							<div class="form-group">
								<label class="control-label" for="txtReferencia">
									Per&iacute;odo de refer&ecirc;ncia
								</label>
								<h5  id="txtReferencia">{{folhaImportadaResult.data.mesReferencia}}</h5>
							</div>							
						</div><!-- END FOLHA INFORMATION GENERAL-->
						<div class="col-md-6">			
							<table class="table table-striped table-bordered table-hover" 
							ng-table="tableParams" >
								<thead>
									<tr>
										<th>Funcion&aacute;rio</th>
										<th>Cargo</th>
										<th>Sal&aacute;rio</th>
										<th>L&iacute;quido</th>
									</tr>
								</thead>
								<tr ng-repeat="funcionario in $data">
									<td data-title="'Nome'">{{funcionario.name}}</td>
	 								<td data-title="'Cargo'">{{funcionario.cargo}}</td>
									<td data-title="'Salário Base'">{{funcionario.salario}}</td> 
	 								<td data-title="'Total a pagar'">{{funcionario.liquido}}</td>
								</tr>
							</table>

							<div class="form-group">
								<label class="control-label" for="txtErro">Erros:</label>
								<textarea class="form-control" id="txtErro" cols="6" rows="10">{{folhaImportadaResult.data.erros}}</textarea>
							</div>
						</div><!-- END FOLHA FUNCIONARIOS E ERROS FIELD-->					
					</div><!-- END INFORMATIONS -->

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
		                    	<label class="sr-only">Folha avulsa</label>
		                        <div>
		                            <label>
		                                <input type="checkbox" 
		                                 ng-model="checkboxOption.isFolhaAvulsa"> Folha avulsa 
		                            </label>
		                        </div>
		                    </div>
						</div>
					</div>
					<div class="margiv-top-10 ">
						<input type="submit" class="btn green-haze" value="Salvar"  ng-disabled="buttonDisabled"  ng-click="verificarCodFuncDuplicado()"   /> 
					</div>	
					<br />
				</div>
			</div>
		 </form>
	</div>

	<div class="row" ng-show="codFuncDuplicadoList.length > 0">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="fa fa-cog font-red"></i>
					<span class="caption-subject font-red bold">
						Lista de c&oacute;digos de funcion&aacute;rios duplicados para esta empresa.
					</span>
				</div>
			</div>
			
			<div class="note note-danger">
                <h4 class="block">C&oacute;digo Duplicado !</h4>
                 <p> A tabela abaixo apresenta funcion&aacute;rio(s) com c&oacute;digo(s)
                j&aacute; existentes nesta empresa e per&iacute;odo. &Eacute; importante ressaltar que o sistema n&atilde;o poder&aacute; salv&aacute;-los, pois funcion&aacute;rios devem ter 
                c&oacute;digo &uacute;nico em uma empresa.
                </p>
            </div>

			<div class="portlet-body">
				<div class="table-scrollable">
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th> Codigo </th>
		                        <th> Nome  </th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr ng-repeat="item in codFuncDuplicadoList" class="danger">
		                        <td> {{item.description}} </td>
		                        <td> {{item.opcionalInfo}} </td>
		                    </tr>
		                </tbody>
		            </table>
	        	</div>	
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT-->
