<style>
	#tbValidaFuncionario p {
		margin-left: 10px;
	}
</style>

<div class="margin-top-10">
	<div class="row">
		<div class="portlet light ">
			
			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i> 
					<span
						class="caption-subject font-green-haze bold uppercase">Valida&ccedil;&atilde;o
						de Folha de Pagamento - {{nmFantasia}}
					</span>
				</div>
			</div>
			<!-- END TITLE -->

			<!-- INICIO INFO. GRUPO-->
			<div class="col-md-12 text-right">

				<a href="#" class="label label-sm label-blue" data-toggle="modal"
				 data-target="#myModal" ng-show="tipoGrupoFinanceiro == 3">
				 	Dr. Consulta
				</a>
				<a href="#" class="label label-sm label-success" data-toggle="modal" 
				 data-target="#myModal" ng-show="tipoGrupoFinanceiro == 2"	>
				 	Sa&uacute;de Performance
				</a>
				<a href="#" class="label label-sm label-danger" data-toggle="modal" 
				 data-target="#myModal" ng-show="tipoGrupoFinanceiro == 1">
				 	Dental Sa&uacute;de
				</a>
				<a href="#" class="label label-sm label-info" data-toggle="modal"
				 data-target="#myModal" ng-show="tipoGrupoFinanceiro == 0">
				 	Medic Lab
				</a>
				
			
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  
				 aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title text-left" id="myModalLabel">
				        	Valores totais grupo 
				        	<span class="label label-sm label-info" ng-show="tipoGrupoFinanceiro == 0">medicLab</span>
				        	<span class="label label-sm label-danger" ng-show="tipoGrupoFinanceiro == 1">dental sa&uacute;de
				        	</span>
				        	<span ng-show="tipoGrupoFinanceiro == 2"
				        	class="label label-sm label-success">sa&uacute;de performance</span>
				        </h4>
				      </div>
				      <div class="modal-body">
				        <div class="table-responsive">
				        		<!-- TABLE TOTAIS GRUPO-->
								<table class="table table-hover table-light">
									<thead>
										<tr>
											<th>Descri&ccedil;&atilde;o</th>
											<th></th>
											<th>Valor</th>
										</tr>
									</thead>
									<tr>
										<td class="text-left">Sal&aacute;rio Base</td>
										<td class="text-left"><span class="glyphicon glyphicon-bookmark"></span></td>
										<td>{{totaisPorGrupoFinanceiro.salarioBaseTotal | currency:"R$"}} </td>
									</tr>
									<tr>
										<td class="text-left">Sal&aacute;rio Folha</td>
										<td class="text-left"><span class="glyphicon glyphicon-saved"></span></td>
										<td>{{totaisPorGrupoFinanceiro.somaSalarioFolhaTotal | currency:"R$"}} </td>
									</tr>
									<tr>
										<td class="text-left">Descontos</td>
										<td class="text-left"><span class="glyphicon glyphicon-chevron-down"
											style="color: blue"></span></td>
										<td>{{totaisPorGrupoFinanceiro.somaDescontoTotal | currency:"R$"}}</td>
									</tr>
									<tr>
										<td class="text-left">Acr&eacute;scimos</td>
										<td class="text-left"><span class="glyphicon glyphicon-chevron-up"
											style="color: red"></span></td>
										<td>{{totaisPorGrupoFinanceiro.somaAcrescimoTotal | currency:"R$"}}</td>
									</tr>
									<tr>
										<td class="text-left"><span class="bold font-green-haze">Total a Pagar</span></td>
										<td class="text-left"><span class="glyphicon glyphicon-flash"
											style="color: green"></span></td>
										<td>{{totaisPorGrupoFinanceiro.somaValorPagarTotal | currency:"R$"}}</td>
									</tr>
								</table>
								<!-- END TABLE TOTAIS GRUPO-->
							</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">fechar</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- END MODAL-->
			</div>
			<!-- /END INFO.GRUPO-->

			<br /><br />
			<div class="col-md-8"></div>
			
			<!-- INFORMAÇÕES RESUMO FOLHA -->	
			<div class="col-md-4" ng-show="folhaPagamentoImportadaSelected">
				<div class="panel panel-info">
				  <div class="panel-body text-center">
				  	<label class="caption-subject">
						Per&iacute;odo: <strong>{{folhaPagamentoImportadaSelected.mesanoreferencia}}</strong>
						-
						Total: <strong>{{folhaPagamentoImportadaSelected.somavalorapagar | currency:"R$" }}</strong>
						&nbsp;
						<a href="#" class="btn btn-warning btn-xs" title="Informações gerais"
						data-toggle="modal" data-target="#modalInfoGeral">
							<i class="fa fa-info" aria-hidden="true"></i>
						</a>
					</label>
				  </div>
				</div>

				<!-- INICIO MODAL INFORMACOES GERAIS -->
				<div class="modal fade" id="modalInfoGeral" tabindex="-1" role="dialog" 
				 aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title text-left" id="myModalLabel">
				        	Totais de descontos
				        </h4>
				      </div>
				      <div class="modal-body">
				        <div class="table-responsive">
								<table class="table table-hover table-light">
									<thead>
										<tr>
											<th>Codigo</th>
											<th>Descri&ccedil;&atilde;o</th>
											<th>Total</th>
										</tr>
									</thead>
									<tr ng-repeat="tipoDesconto in descontosTotaisWidget">
										<td>{{tipoDesconto.nrCodigo}}</td>
										<td>{{tipoDesconto.descricao}}</td>
										<td>{{tipoDesconto.total | currency:"R$"}} </td>
									</tr>
								</table>
							</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">fechar</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- /MODAL INFORMACOES GERAIS -->
			</div>
			<!-- END INFORMAÇÕES RESUMO FOLHA -->	
			
			<!-- BEGIN UNIDADES EMPRESA FINANCEIRO -->
			<div class="portlet-body">
				</br>
				<tabset justified="true" >
					<tab heading="{{folha.oif.unidadeFinanceiro.nmUnidade + ( folha.oif.isFolhaAvulsa ? 

					' (13º SAL&Aacute;RIO) ' : '' ) }}" active="folha.active" 

					 ng-repeat="folha in folhaPagamentoImportadaSelected.folhas track by $index" >
						<div class="portlet-body">   			 				
							<br>
							<form>
								<div>
									<div class="actions col-md-8">
										Filtro:
										<div class="btn-group" role="group">	
											<label
												class="btn btn-success btn-xs" 
												ng-model="filterStatus.status"
												btn-radio="['1', '0']" uncheckable>Aprovado</label> 
											<label
												class="btn btn-danger btn-xs" ng-model="filterStatus.status"
												btn-radio="'2'" uncheckable>Reprovado</label>		
											<label
												class="btn btn-default btn-xs" ng-model="filterStatus.status"
												btn-radio="'0'" uncheckable>Pendente</label>		
										</div>
										
									</div>
									<div class="col-md-4">
											<label>
												Folha: 
												<strong>
													{{folha.oif.somavalorapagar |  currency:'R$' }}
												</strong> 
											</label>
											&nbsp;
											&nbsp;
											<label ng-show="canEditFolha">
												<button class="btn btn-sm btn-warning" ng-click="atualizarAcrescimoSalario( folha )">
													Atualizar Acrescimo
												</button>
											</label>
									</div>
								</div>
							</form>
							<br />							
							<hr><br />
							<div class="table-responsive">
								<table 
									id="tbValidaFuncionario" 
									class="table table-striped table-bordered table-hover" 
									ng-table="tabledata[$index].tableParams" show-filter="true">									
									<thead>
										<tr>
											<th>
												*
											</th>
											<th>
												<a href="#" ng-click="sortType='nome'; sortReverse = !sortReverse ">
													Nome
													<span ng-show="sortType == 'nome'" class="fa fa-caret-down"></span>
												</a>
											</th>
											<th>Cargo</th>
											<th>Base</th>
											<th>L&iacute;quido</th>
											<th>Acréscimo</th>
											<th>Total Final</th>
											<th>Status</th>
											<th ng-show="canEditFolha">A&ccedil;&otilde;es</th>
										</tr>
									</thead>
									<tr ng-repeat-start="funcionario in  $data | orderBy:sortType:sortReverse | filter: filterStatus">
										<td>
											   <button ng-if="funcionario.expanded" 
											   	class=" btn btn-info btn-xs glyphicon glyphicon-chevron-up"
											   	ng-click="funcionario.expanded = false">
											   </button>
              									<button ng-if="!funcionario.expanded"
												class="btn btn-info btn-xs glyphicon glyphicon-chevron-down"
              									ng-click="getFluxoFuncPeriodoAnterior(funcionario)">
              									</button>
										</td>
										<td data-title="'Nome'">{{funcionario.nome}}</td>
 										<td data-title="'Cargo'">{{funcionario.cargo}}</td>
										<td data-title="'Sal_base'">
											{{funcionario.salario | currency:"R$"}} <br/>
											<div>
 												<small style="color:green;" 
 												 ng-show="((funcionario.salario - funcionario.vlmesanteriorBase) > 0 && 
 													funcionario.vlmesanteriorBase != null )">
 													<i class="fa fa-arrow-up font-green-meadow" aria-hidden="true"></i>
 													{{funcionario.salario - funcionario.vlmesanteriorBase | currency:"R$"}}
	 											</small>
	 											<small style="color:red;" 
	 												ng-show="((funcionario.salario - funcionario.vlmesanteriorBase) < 0 && 
	 													funcionario.vlmesanteriorBase != null)">
	 												<i class="fa fa-arrow-down font-red-sunglo" 
 												     aria-hidden="true"></i>	
	 												{{funcionario.salario - funcionario.vlmesanteriorBase | currency:"R$"}}
	 											</small>
 											</div>
										</td> 
 										
 										<td data-title="'Sal_liquido'">
 											{{funcionario.liquido | currency:"R$"}}
 											<div>
 												<small style="color:green;" 
 												 ng-show="((funcionario.liquido - funcionario.vlmesanterior) > 0 && 
 												 funcionario.vlmesanterior != null )">
 												 <i class="fa fa-arrow-up font-green-meadow" aria-hidden="true"></i>
 												 {{funcionario.liquido - funcionario.vlmesanterior | currency:"R$"}}
 												</small>
	 											<small style="color:red;" 
	 											 ng-show="((funcionario.liquido - funcionario.vlmesanterior) < 0 && 
	 											 funcionario.vlmesanterior != null)">
	 											 <i class="fa fa-arrow-down font-red-sunglo" 
 												  aria-hidden="true"></i>
	 											  {{funcionario.liquido - funcionario.vlmesanterior | currency:"R$"}}
	 											</small>
 											</div>
 										</td>

										<td>
											<div class="input-icon input-small">
	                                            <i class="fa fa-pencil-square-o"></i>
	                                            <input type="text" class="form-control" placeholder="digite..." ng-model="funcionario.vlAcrescimoSalario" ui-number-mask  ng-disabled="!canEditFolha">
                                            </div>		
 										</td>

 										<td data-title="'total_salario'">
	 										<div class="text-center">
	 										 {{ ( totalSalario = funcionario.vlAcrescimoSalario ? funcionario.liquido + funcionario.vlAcrescimoSalario : funcionario.liquido)  | currency:"R$"}} 	
	 										</div>
	 										<div class="text-center">
	 											<small style="color:green;" 
 												 ng-show="(totalSalario-(funcionario.vlmesanterior + funcionario.vlAcrescimoSalarioMesAnterior) ) > 0
 												  &&  funcionario.vlmesanterior != null">
 												 <i class="fa fa-arrow-up font-green-meadow" aria-hidden="true"></i>
 												 {{ (totalSalario - ( funcionario.vlmesanterior + funcionario.vlAcrescimoSalarioMesAnterior) ) | currency:"R$"}}
 												</small>
	 											<small style="color:red;" 
	 											 ng-show="(totalSalario-(funcionario.vlmesanterior + funcionario.vlAcrescimoSalarioMesAnterior) ) < 0
	 											  &&  funcionario.vlmesanterior != null">
	 											 <i class="fa fa-arrow-down font-red-sunglo" 
 												  aria-hidden="true"></i>
	 											   {{ (totalSalario - ( funcionario.vlmesanterior + funcionario.vlAcrescimoSalarioMesAnterior) ) | currency:"R$"}}
	 											</small>
	 										</div>

											<div class="text-center">
	                                        	<button 
	                                        	 popover-html="'<strong>{{(funcionario.nome | limitTo:15 ) + '...'}}</strong><br/><br/><label>Base:</label>{{funcionario.vlmesanteriorBase | currency:'R$'}}<br/>
	                                        	 <label>Líquido:</label>
											     {{funcionario.vlmesanterior | currency:'R$'}}
											     <br/>
											     <label>Acréscimo:</label>
												 {{(funcionario.vlAcrescimoSalarioMesAnterior != null ? funcionario.vlAcrescimoSalarioMesAnterior : 0) | currency:'R$'}} <br/>
												 <label><strong>Total:</strong></label>
												 {{(funcionario.vlmesanterior + funcionario.vlAcrescimoSalarioMesAnterior) | currency:'R$' }}'"
	                                        	 popover-title="Mês anterior" 
												 popover-placement="top"			
	                                        	 type="button" class="btn btn-xs btn-default">mês anterior</button>	
	                                        </div>
 										</td>

 										<td data-title="'Status'" ng-switch on="funcionario.status">
 											<div ng-switch-when="0" class="label label-sm label-default">Pendente</div>
											<div ng-switch-when="1" class="label label-sm label-success">Aprovado</div>
											<div ng-switch-when="2" class="label label-sm label-danger" 
												tooltip="{{funcionario.comentario}}" >Reprovado</div>
 										</td>
 										<td ng-show="canEditFolha">
											<div class="text-center">
												<div class="col-md-3" 
												  ng-hide="funcionario.status == 1">
													<button
													 	id="btnAprovar"
													 	class="btn btn-xs blue"
														ng-click="aprovarFolhaFuncionario(  funcionario,folha.oif.id, folhaPagamentoImportadaSelected.mesanoreferencia  )"
														>
														 <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
												</div>
												<div class="col-md-3" 
												 ng-hide="funcionario.status == 2">
												<button
												   	id="btnNegar"
												    class="btn btn-xs red"
													ng-click="openReprovarModal( funcionario,folha.oif.id, folhaPagamentoImportadaSelected.mesanoreferencia )" 
													>
													 <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												</button></div>
											</div>
										</td>
									</tr><!-- FIM TR DE FUNCIONÁRIOS -->				
									 <tr ng-if="funcionario.expanded" ng-repeat-end="">
            							<td colspan="9">
            									<tabset active="active" class="col-md-12">
												    <tab index="0" heading="Fluxo">
												    	<br/>
												    	<div class="col-md-6" ng-show="funcionario.fluxos.length > 0">
												    		<span>
												    			<strong>M&ecirc;s atual</strong>
												    		<span>
												    		<table class="table table-bordered
												    			table-condensed table-responsive
												    			table-striped">
												    			<thead>
												    				<tr>
												    					<th>Descri&ccedil;&atilde;o</th>
												    					<th>Uni.</th>
												    					<th>Total</th>
												    				</tr>
												    			</thead>
												    			<tbody>
												    				<tr ng-repeat="fluxo in funcionario.fluxos | orderBy:'-tipo'"
												    				class=
												    				"{{fluxo.fluxoClass}}" 
												    				ng-class="
																	fluxo.tipo == 'proventos' ? fluxo.fluxoClass = 'success': 
																	fluxo.fluxoClass = 'danger'">
												    					<td>{{fluxo.descricao}}</td>
												    					<td>{{fluxo.vlunitario}}</td>
												    					<td>{{fluxo.vltotal | currency: "R$" : 2}}</td>
												    				</tr>
												    			</tbody>
												    		</table>
												    	</div>
												    	<div class="col-md-6" ng-show="funcionario.fluxosMesAnterior.length > 0">
												    		<span>
												    			<strong>M&ecirc;s Anterior</strong>
												    		<span>
												    		<table class="table table-bordered
												    			table-condensed table-responsive
												    			table-striped">
												    			<thead>
												    				<tr>
												    					<th>Descri&ccedil;&atilde;o</th>
												    					<th>Uni.</th>
												    					<th>Total</th>
												    				</tr>
												    			</thead>
												    			<tbody>						
												    				<tr ng-repeat="fluxoAnterior in funcionario.fluxosMesAnterior
												    				| orderBy:'-tipo'"
												    				class=
												    				"{{fluxoAnterior.fluxoClass}}" 
												    				ng-class="
																	fluxoAnterior.tipo == 'proventos' ? fluxoAnterior.fluxoClass = 'success': 
																	fluxoAnterior.fluxoClass = 'danger'">
												    					<td>{{fluxoAnterior.descricao}}</td>
												    					<td>{{fluxoAnterior.vlunitario}}</td>
												    					<td>{{fluxoAnterior.vltotal | currency: "R$" : 2}}</td>
												    				</tr>
												    			</tbody>
												    		</table>
												    	</div>
												    	<div class="col-md-6" ng-show="funcionario.fluxosMesAnterior.length == 0">
												    		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												    		<strong>Sem resultados m&ecirc;s anterior.</strong>
												    	</div>
												    	<div class="col-md-6" ng-show="funcionario.fluxos.length == 0">
												    		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												    		<strong>Sem resultados m&ecirc;s atual.</strong>
												    	</div>
													</tab>
													<tab index="1" heading="Informa&ccedil;&otilde;es">
														<div class="col-md-12">
			            									<div class="col-md-3">
			            										<label>&raquo; Admiss&atilde;o</label>	
			            										<p>
			            											{{funcionario.admissao | date:'dd/MM/yyyy'}}
			            										</p>
			            									</div>
			            									<div class="col-md-3">
			            										<label>&raquo; Base IRRF</label>
			           											<p>{{funcionario.baseirrf | 
			           												currency: "R$" : 2}}
			           											</p>
			            									</div>
			            									<div class="col-md-3">
			            										<label>&raquo; Base FGTS</label>
			           											<p>{{funcionario.basefgts |
			           											 currency: "R$" : 2}}
			           											</p>
			            									</div>
			            									<div class="col-md-3">
			            										<label>&raquo; FGTS</label>
			           											<p>{{funcionario.fgts |
			           											 currency: "R$" : 2}}
			           											</p>
			            									</div>
			            								</div>
			            								<div class="col-md-12">
			            									<div class="col-md-3">
			            										<label>&raquo; Nr. Dep.</label>	
			            										<p>{{funcionario.nrodep}}</p>
			            									</div>
			            									<div class="col-md-3">
			            										<label>&raquo; Contr. INSS</label>
			           											<p>{{funcionario.contrinss | 
			           												currency: "R$" : 2}}
			           											</p>
			            									</div>
			            									<div class="col-md-3">
			            										<label>&raquo; INSS Segurado</label>
			           											<p>{{funcionario.insssegurado | currency: "R$" : 2}}
			           											</p>
			            									</div>
			            								</div>
													</tab>
												</tabset>
            							</td>
          							</tr>
								</table>
							</div>
						</div>
					</tab><!--  FIM TAB DE UNIDADES -->
				</tabset>
				<br>
			</div>
			<!-- END UNIDADES EMPRESA FINANCEIRO -->
		</div>
	</div>
</div>
<!-- END CONTENT-->