<!-- MODAL FUNCIONARIO REPROVA FOLHA @version: 1.2 -->

<div class="modal-header">
	<h4 class="modal-title">Reprovacao de folha de funcionario</h4>
</div>
<div class="modal-body">
	<div class="page-alerts">
		<alert ng-if="alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</alert>
		<alert ng-if="!alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<div class="form-group form-md-line-input">
		<div class="form-control form-control-static">{{funcionario.nome}}</div>
		<label for="form_control_1">Nome Funcionario</label>
	</div>
	<div class="form-group">
		<label class="control-label">Motivo Reprovacao</label>
		<textarea id="maxlength_textarea" ng-model="motivoExclusao" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>