<div ng-controller="AdministracaoCobrancaController" class="row">
<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption caption-md">
				<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Pesquisa</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
			</div>
            <div class="tools">
                <a href="" class="collapse"> </a>
            </div>
		</div>
		<div class="portlet-body">
		<div class="row">
			<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Pesquisa de Cliente</label>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-search" popover-title="Ajuda"
						popover="Utilize tambem o recurso de filtros ! para consultar por diferentes parametros. Por exemplo digite '!rg 16477884' e veja o resultado. Filtros disponiveis (!cod, !rg, !cpf)."
						popover-trigger="mouseenter" popover-placement="bottom"></i>
					</span>
					<ui-select 
						id="uiSelectClienteSearch" 
						ng-model="cliente.selected" 
						ng-disabled="enabled" 
						reset-search-input="false" 
						autofocus="true" 
						on-select="searchUser($item)">

						<ui-select-match placeholder="Digite um nome...">
							{{$select.selected.nmCliente}}
						</ui-select-match>

						<ui-select-choices 
							repeat="cliente in clientes track by $index" 
							refresh="atualizarSelectClientes($select.search)"
							refresh-delay="1000">

							<div ng-bind-html="cliente.nmCliente | highlight: $select.search"></div>
							<small> COD: {{cliente.nrCodCliente}} CPF: <span ng-bind-html="''+ cliente.nrCPFFormatado | highlight: $select.search"></span> STATUS: <span ng-bind-html="''+ cliente.statusGeralFormatado | highlight: $select.search"></span></small> 
						</ui-select-choices> 
					</ui-select>

					<span class="input-group-btn"> 
						<select class="btn default dropdown-toggle" ng-model="searchFiltro">
							<option value="">Filtros</option>
							<option value="!cod ">Codigo</option>
							<option value="!cpf ">CPF</option>
							<option value="!rg ">RG</option>
						</select>
					</span>
				</div>
				<p>{{selectedClienteNotFound}}</p>
			</div>
			</div>

			<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Data Inicial</label>

				<div class="input-group">
	              	<input 
	              		type="text" 
	              		class="form-control" 
	              		datepicker-popup="{{format}}" 
	              		ng-model="dtInicial" 
	              		is-open="status.openedDtInicial" 
	              		min-date="minDate" 
	              		max-date="maxDate" 
	              		datepicker-options="dateOptions" 
	              		date-disabled="disabled(date, mode)" 
	              		ng-required="true" 
	              		close-text="Close" />

	              	<span class="input-group-btn">
	                	<button type="button" class="btn btn-default" ng-click="openDtInicial($event)">
	                		<i class="glyphicon glyphicon-calendar"></i>
	                	</button>
	              	</span>
				</div>
			</div>
			</div>

			<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Data Final</label>

				<div class="input-group">
	              	<input 
	              		type="text" 
	              		class="form-control" 
	              		datepicker-popup="{{format}}" 
	              		ng-model="dtFinal" 
	              		is-open="status.openedDtFinal" 
	              		min-date="minDate" 
	              		max-date="maxDate" 
	              		datepicker-options="dateOptions" 
	              		date-disabled="disabled(date, mode)" 
	              		ng-required="true" 
	              		close-text="Close" />

	              	<span class="input-group-btn">
	                	<button type="button" class="btn btn-default" ng-click="openDtFinal($event)">
	                		<i class="glyphicon glyphicon-calendar"></i>
	                	</button>
	              	</span>
				</div>
			</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">
						Forma de pagamento<span class="required"> * </span>
					</label>

					<ui-select 
						name="selFormaPagamento" 
						id="selFormaPagamento" 
						ng-model="selectedFormaPagamento.forma_pagamento.id" 
						theme="select2" 
						class="form-control select2me">

						<ui-select-match placeholder="Selecione...">
							{{$select.selected.description}}
						</ui-select-match> 
						<ui-select-choices repeat="item.id as item in formaPagamentoOptions | filter: $select.search">
							<div ng-bind-html="item.description | highlight: $select.search"></div>
						</ui-select-choices> 
					</ui-select>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">
						Empresa<span class="required"> * </span>
					</label>

					<ui-select ng-model="selectedContrato.empresaGrupo.id" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmRazaoSocial}}</ui-select-match>
					<ui-select-choices repeat="propType.id as propType in empresagrupoOptions track by $index | filter: $select.search">
					<div ng-bind-html="propType.nmRazaoSocial | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">&nbsp;</label>
				<div class="input-group">
					<button class="btn green" ng-click="atualizarColecao()">
							Pesquisar<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
			</div>
		</div>
		</div> <!-- <div class="portlet-body"> -->
	</div>
</div>
</div>
