<!-- BEGIN HEADER INNER -->
<div class="page-header-inner" ng-controller="HeaderController">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="/#/index.html">
		<img src="assets/admin/layout4/img/logo-big.png" alt="logo" class="logo-default"/>
		</a>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE ACTIONS -->
	<!-- DOC: Remove "hide" class to enable the page header actions -->

	<div class="page-actions" ng-show="autorizaGuiche">
		<div class="btn-group">
			<input size="8" style="font-size:15px;" type="text" name="txtGuiche" id="txtGuiche" ng-model="nmGuinche" placeholder="Seu Guichê" class="form-control" capitalize />
			</button>
		</div>
	</div>

	<div class="page-actions" ng-show="autorizaGuiche">
		<div class="btn-group">
			<button type="button" class="btn green-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-click="repeat()">
			<span class="hidden-sm hidden-xs">Chamar Novamente</span>
			</button>
		</div>
	</div>

	<div class="page-actions" ng-show="autorizaGuiche">
		<div class="btn-group">
			<button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-click="nextNormal()">
			<span class="hidden-sm hidden-xs">Próximo Normal</span>
			</button>
		</div>
	</div>

	<div class="page-actions" ng-show="autorizaGuiche">
		<div class="btn-group">
			<button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-click="nextPrioridade()">
			<span class="hidden-sm hidden-xs">Próximo Prioridade</span>
			</button>
		</div>
	</div>

	

	<div class="page-actions" ng-show="autorizaGuiche">
		<div class="btn-group">
			<input size="8" ng-disabled = "true" type="text" style="text-align:center;font-size:15px;" ng-model="ultimoGuicheUsuario "  class="form-control" />
			</button>
		</div>
	</div>

	<div class="page-actions" ng-show="autorizaGuicheGerente">
		<div class="btn-group">
			<a href="http://atendimento.uebisite.com.br:3000/chamar?unidade={{keyUnidadeFuncionario}}" target="_blank" >
				<span style="color:white;font-size:10px">Configuração senha</span></a> 
			</button>
		</div>
	</div>
	
	<!-- END PAGE ACTIONS -->
	<!-- BEGIN PAGE TOP -->
	<div class="page-top">
		<!-- BEGIN HEADER SEARCH BOX -->
		<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
		
		<!-- END HEADER SEARCH BOX -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li class="separator hide"></li>
					<div class="page-actions">
						<div class="btn-group">
							<button ng-show="autorizaGuicheGerente" type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-click="updatePainel()">
							<span class="hidden-sm hidden-xs">Atualizar Painel</span>
							</button>
				<!-- 			<ul class="dropdown-menu" role="menu"> -->
				<!-- 				<li> -->
				<!-- 					<a href="#/atendimento.html/cliente-conta-novo"> -->
				<!-- 					<i class="icon-docs"></i> Novo Cliente </a> -->
				<!-- 				</li> -->
				<!-- 			</ul> -->
						</div>
					</div>
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user dropdown-dark">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="username username-hide-on-mobile">
						{{userName}} 
						</span>
						<!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
						
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="javascript:logout();">
							<i class="icon-key"></i> Sair </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->