<div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true"
	 data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<li class="start" showrole="menuCanSeeHome">
			<a href="#/home.html">
				<i class="icon-home"></i>
				<span class="title">Inicio</span>
			</a>
		</li>
		<!-- <li showrole="menuCanSeeAdministracao">
			<a href="javascript:;">
				<i class="fa fa-pie-chart" aria-hidden="true"></i>
				<span class="title">testes</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/teste">
						<i class="icon-eyeglasses"></i>
						<span>testes</span>
					</a>
				</li>
			</ul>
		</li> -->
		<li showrole="menuCanSeeCadastro">
			<a href="javascript:;">
				<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
				<span class="title">Cadastrar</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li showrole="menuCanSeeAdministracao">
					<a href="#/cadastro/banco.html">
						<i class="fa fa-usd" aria-hidden="true"></i>
						<span>Banco/Agência</span>
					</a>
				</li>
				<li showrole="menuCanSeeAdministracao">
					<a href="#/cadastro/cidade.html">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<span>Cidade/Bairro</span>
					</a>
				</li>
				<!--1<li>
					<a href="#/controlePortaria.html">
						<i class="fa fa-heartbeat" aria-hidden="true"></i>
						<span>Terceirizada</span>
					</a>
				</li>-->
				<li showrole="menuCanSeeSubCadastro">
					<a href="#/cadastro/conveniada.html">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span>Conveniada</span>
					</a>
				</li>
				<!--<li>
					<a href="#/controlePortaria.html">
						<i class="fa fa-building" aria-hidden="true"></i>
						<span>Empresa/Unidade</span>
					</a>
				</li>
				<li>
					<a href="#/controlePortaria.html">
						<i class="fa fa-stethoscope" aria-hidden="true"></i>
						<span>Especialidade</span>
					</a>
				</li>-->
				<li showrole="menuCanSeeAdministracao">
					<a href="#/cadastro/funcionario.html">
						<i class="fa fa-user-plus" aria-hidden="true"></i>
						<span>Funcionário</span>
					</a>
				</li>
				<li showrole="menuCanSeeAdministracao">
					<a href="#/cadastro/orgao.html">
						<i class="fa fa-university" aria-hidden="true"></i>
						<span>Órgão</span>
					</a>
				</li>
				<!--<li>
					<a href="#/controlePortaria.html">
						<i class="fa fa-medkit" aria-hidden="true"></i>
						<span>Plano</span>
					</a>
				</li>
				<li>
					<a href="#/controlePortaria.html">
						<i class="fa fa-user-md" aria-hidden="true"></i>
						<span>Profissional</span>
					</a>
				</li>-->
				<li showrole="menuCanSeeAdministracao">
					<a href="#/cadastro/servico.html">
						<i class="fa fa-plus-square" aria-hidden="true"></i>
						<span>Serviço</span>
					</a>
				</li>
				<!--<li>
					<a href="#/controlePortaria.html">
						<i class="fa fa-address-card" aria-hidden="true"></i>
						<span>Salários Méd/Odont</span>
					</a>
				</li>-->
			</ul>
		</li>

		<li showrole="menuCanSeeAdministracao">
			<a href="javascript:;">
				<i class="fa fa-laptop" aria-hidden="true"></i>
				<span class="title">Administrativo</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/administrativo/gerar-boleto">
						<i class="fa fa-tasks" aria-hidden="true"></i>
						<span>Gerar Boleto</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeAtendimentoCliente">
			<a href="javascript:;">
				<i class="fa fa-commenting"></i>
				<span class="title">Atendimento</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/atendimentoCliente.html">
						<i class="fa fa-user"></i>
						<span>Atendimento Cliente</span>
					</a>
				</li>
				<li>
					<a href="#/atendimento/painel">
						<i class="fa fa-television"></i>
						<span>Consultar Painel </span>
					</a>
				</li>
				<li>
					<a href="#/agendamentoMedico.html">
						<i class="fa fa-calendar-check-o"></i>
						<span>Consultar Agendamentos</span>
					</a>
				</li>
				<li>
					<a href="#/administrativo/telefones">
						<i class="fa fa-phone-square" aria-hidden="true"></i>
						<span>Telefones</span>
					</a>
				</li>
			</ul>
		</li>

		<li class="start" showrole="menuCanSeeAtendimentoCliente">
			<a href="javascript:;">
				<i class="fa fa-file-o" aria-hidden="true"></i>
				<span class="title">Servicos</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/pesquisa-servico.html">
						<i class="glyphicon glyphicon-search"></i>
						<span>Pesquisa de servicos</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeRelatorio">
			<a href="javascript:;">
				<i class="fa fa-object-group" aria-hidden="true"></i>
				<span class="title">Relat&oacute;rios Administrativos</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li showrole="menuCanSeeRelatorioAgendamento">
					<a href="#/relatorioAgendamentoMedico.html">
						<i class="fa fa-file" aria-hidden="true"></i>
						<span>Agendamento M&eacute;dico</span>
					</a>
				</li>
				<li showrole="menuCanSeeRelFaturamentoMedico">
					<a href="#/investimentoMedicoGeral.html">
						<i class="fa fa-usd" aria-hidden="true"></i>
						<span>Faturamento M&eacute;dico</span>
					</a>
				</li>
				<li showrole="menuCanSeeRelComissaoFunc">
					<a href="#/comissaoFuncionariosUnidades.html">
						<i class="fa fa-usd" aria-hidden="true"></i>
						<span>Comiss&atilde;o Funcion&aacute;rios</span>
					</a>
				</li>
				<li showrole="menuCanSeeDashboard">
					<a href="#/produtividade/funcionario">
						<i class="fa fa-flag" aria-hidden="true"></i>
						<span>Desempenho Funcion&aacute;rio</span>
					</a>
				</li>
				<li showrole="menuCanSeeRelDesempenhoMedico">
					<a href="#/investimentoMedico.html">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
						<span>Desempenho Atendimento M&eacute;dico</span>
					</a>
				</li>
				<li showrole="menuCanSeeRelDesempenhoMedico">
					<a href="#/previsaoAgendamentos.html">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<span>Previs&atilde;o agendamentos</span>
					</a>
				</li>
				<li showrole="menuCanSeeRelatorioRenovacao">
					<a href="#/renovacao.html">
						<i class="fa fa-file-text" aria-hidden="true"></i>
						<span>Renova&ccedil;&atilde;o</span>
					</a>
				</li>
				<li showrole="menuCanSeeRelConveniada">
					<a href="javascript:;">
						<span>Conveniada</span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="#/relatorio_adm_conveniada.html">
								<i aria-hidden="true"></i>
								<span>Guia</span>
							</a>
						</li>
						<li>
							<a href="#/relatorio_adm_conveniada_faturamento.html">
								<i aria-hidden="true"></i>
								<span>Faturamento</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeCortesias">
			<a href="javascript:;">
				<i class="fa fa-ticket" aria-hidden="true"></i>
				<span class="title">Cortesias</span>
				<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/cortesias">
						<i class="fa fa-tags"></i>
						<span>Lista de cortesias</span>
					</a>
				</li>
			</ul>
		</li>


		<li showrole="menuCanSeeFuncionarios">
			<a href="javascript:;">
				<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
				<span class="title">Funcionários</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/funcionarios-ativos.html">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span>Funcionários</span>
					</a>
				</li>
				<li>
					<a href="#/controlePortaria.html">
						<i class="fa fa-list" aria-hidden="true"></i>
						<span>Controle de Portaria</span>
					</a>
				</li>
				<li>
					<a href="#/atendimentoMedico.html">
						<i class="fa fa-user-md"></i>
						<span>Consultar Profissional</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeFolha">
			<a href="javascript:;">
				<i class="glyphicon glyphicon-leaf" aria-hidden="true"></i>
				<span class="title">Folha de Pagamento</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li ng-repeat="grupo in grupos">
					<a href="javascript:;">
						<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
						<span>{{grupo.nome}}</span>
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li ng-repeat="empresa in grupo.empresas">
							<a href="#/folha_dashboard/empresa/{{empresa.idEmpresaFinanceiro}}">
								<i class="{{empresa.class}}" aria-hidden="true"></i>
								<span>{{empresa.nmFantasia}}</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
						<span>Totais por grupo</span>
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li ng-repeat="grupo in grupos">
							<a href="#/folha_dashboard/grupo/{{grupo.id}}">
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
								<span>{{grupo.nome}}</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeAtendimentoMedico">
			<a href="javascript:;">
				<i class="fa fa-user-md" aria-hidden="true"></i>
				<span class="title">Atendimento Médico</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/profissional/pacientes.html">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span>Atendimento</span>
					</a>
				</li>
				<li>
					<a href="#/atendimentoMedico.html">
						<i class="fa fa-list"></i>
						<span>Templates M&eacute;dicos</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeEnfermagem">
			<a href="javascript:;">
				<i class="fa fa-history" aria-hidden="true"></i>
				<span class="title">Agendamentos</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/agendamentoMedico.html">
						<i class="fa fa-heartbeat" aria-hidden="true"></i>
						<span>Médicos</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeTelemarketing">
			<a href="javascript:;">
				<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
				<span class="title">Telemarketing</span>
				<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/agenda-especialidade.html">
						<i class="fa fa-chevron-circle-right"></i>
						<span>Agendamento por especialidade</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeTriagem">
			<a href="javascript:;">
				<i class="fa fa-medkit" aria-hidden="true"></i>
				<span class="title">Triagem</span>
				<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/triagem/pacientes.html">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span>Triar pacientes</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeCobranca">
			<a href="javascript:;">
				<i class="fa fa-gavel" aria-hidden="true"></i>
				<span class="title">Cobrança</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/cobrancaCliente.html">
						<i class="fa fa-meh-o" aria-hidden="true"></i>
						<span>Clientes inadimplentes</span>
					</a>
				</li>
				<li>
					<a href="#/cobranca/gerar-boleto">
						<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
						<span>Gerar Boletos</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeDashboard">
			<a href="javascript:;">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
				<span class="title">Dashboard</span>
				<span class="arrow "></span>
			</a>

			<ul class="sub-menu">
				<li>
					<a ui-sref="controle-unidades.views">
						<i class="fa fa-sliders" aria-hidden="true"></i>
						<span>Controle de Unidades</span>
					</a>
				</li>

                <li>
					<a href="#/resumo-faturamento/dashboard">
						<i class="fa fa-newspaper-o" aria-hidden="true"></i>
						<span>Resumo Faturamento</span>
					</a>
				</li>
				<li>
					<a href="#/1/dashboard.html">
						<i class="fa fa-plus font-blue" aria-hidden="true"></i>
						<span>Dr. Consulta</span>
					</a>
				</li>

                <li>
					<a href="#/2/dashboard.html">
						<i class="fa fa-bookmark font-red" aria-hidden="true"></i>
						<span>Dental Saúde</span>
					</a>
				</li>

                <li>
					<a href="#/3/dashboard.html">
						<i class="fa fa-bicycle font-green" aria-hidden="true"></i>
						<span>Academia Performance</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeFinanceiro">
			<a href="javascript:;">
				<i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
				<span class="title">Financeiro</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/financeiro/visao-geral">
						<i class="fa fa-asterisk" aria-hidden="true"></i>
						<span>Vis&atilde;o Geral</span>
					</a>
				</li>
				<li>
					<a href="#/financeiro/cadastro">
						<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
						<span>Cadastros</span>
					</a>
				</li>
				<li>
					<a href="#/financeiro/contaPagar/inicio">
						<i class="fa fa-arrow-circle-down font-red" aria-hidden="true"></i>
						<span>Contas a pagar</span>
					</a>
				</li>
				<li>
					<a href="#/financeiro/analiseFinanceira">
						<i class="fa fa-bars" aria-hidden="true"></i>
						<span>An&aacute;lise Financeiro</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeFinanceiro">
			<a href="javascript:;">
				<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
				<span class="title">Relat&oacute;rios</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/financeiro/movimentacoes">
						<i class="fa fa-refresh" aria-hidden="true"></i>
						<span>Movimenta&ccedil;&otilde;es</span>
					</a>
				</li>
				<li>
					<a href="#/financeiro/conciliacao-bancaria">
						<i class="fa fa-exchange" aria-hidden="true"></i>
						<span>Concilia&ccedil;&atilde;o Banc&aacute;ria</span>
					</a>
				</li>
				<li>
					<a href="#/financeiro/despesas/agrupadas">
						<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
						<span>Despesas por Ordem de Servi&ccedil;o</span>
					</a>
				</li>
			</ul>
		</li>

		<li showrole="menuCanSeeFinanceiro">
			<a href="javascript:;">
				<i class="fa fa-money" aria-hidden="true"></i>
				<span class="title">Caixa</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/caixa/conferencia/empresas">
						<i class="fa fa-folder-open" aria-hidden="true"></i>
						<span>Conferencia</span>
					</a>
				</li>
			</ul>
		</li>


		<li showrole="menuCanSeeConveniada">
			<a href="javascript:;">
				<i class="fa fa-building" aria-hidden="true"></i>
				<span class="title">Conveniada</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/conveniada/associados.html">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span>Associados</span>
					</a>
				</li>
				<li>
					<a href="#/conveniada/guias.html">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<span>Guias</span>
					</a>
				</li>
				<li>
					<a href="#/conveniada/guia_servicos.html">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<span>Guia Serviços</span>
					</a>
				</li>
				<li>
					<a href="#/conveniada/cobertura_plano.html">
						<i class="icon-feed" aria-hidden="true"></i>
						<span>Cobertura Plano</span>
					</a>
				</li>
			</ul>
		</li>


	</ul>
	<!-- END SIDEBAR MENU -->
</div>
