<div ng-controller="ClienteDependenteController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Dependente </span> <span class="caption-helper">{{dependente.nrCodCliente}}</span>
				</div>
				<div class="actions">
					<div class="btn-group">
						<button ng-show="dependente.digitalDependente != null" id="btnCadDepDigitalFoto" class="btn btn-xs green" ng-click="openModalDigitalDependente()"><i class="fa fa-dot-circle-o"></i>Cadastrar Digital novamente</button>
						<button ng-show="dependente.digitalDependente == null" class="btn btn-xs blue" ng-click="openModalDigitalDependente()">
							<i class="fa fa-dot-circle-o"></i>Cadastrar Digital
						</button>

					</div>
					<div class="input-group" ng-switch on="dependente.idDedoDigital">
									<div ng-switch-when="0">
										<h4>
											<span class="label label-warning">Dedo desconhecido</span>
										</h4>
									</div>
									<div ng-switch-when="1">
										<h4>
											<span class="label label-warning">Polegar direito</span>
										</h4>
									</div>
									<div ng-switch-when="2">
										<h4>
											<span class="label label-warning">Indicador direito</span>
										</h4>
									</div>
									<div ng-switch-when="3">
										<h4>
											<span class="label label-warning">Médio direito</span>
										</h4>
									</div>
									<div ng-switch-when="4">
										<h4>
											<span class="label label-warning">Anelar direito</span>
										</h4>
									</div>
									<div ng-switch-when="5">
										<h4>
											<span class="label label-warning">Mínimo direito</span>
										</h4>
									</div>
									<div ng-switch-when="6">
										<h4>
											<span class="label label-warning">Polegar esquerdo</span>
										</h4>
									</div>
									<div ng-switch-when="7">
										<h4>
											<span class="label label-warning">Indicador esquerdo</span>
										</h4>
									</div>
									<div ng-switch-when="8">
										<h4>
											<span class="label label-warning">Médio esquerdo</span>
										</h4>
									</div>
									<div ng-switch-when="9">
										<h4>
											<span class="label label-warning">Anelar esquerdo</span>
										</h4>
									</div>
									<div ng-switch-when="10">
										<h4>
											<span class="label label-warning">Mínimo esquerdo</span>
										</h4>
									</div>
									<div ng-switch-default>
										<h4>
											<span class="label label-warning">Dedo desconhecido</span>
										</h4>
									</div>
								</div>
				</div>
			</div>
			<div class="portlet-body">
				<form ng-submit="updateDependenteCadastro()" id ="formDependente">
					<div class="row">
						
						<div class="col-md-6">
							<div class="form-group">
							<label class="control-label" for="txtNome">Nome<span class="required"> * </span></label> <input type="text" name="txtNome" id="txtNome" ng-model="dependente.nmDependente"
								 class="form-control" capitalize />
						</div>
						</div>
						
						<div class="col-md-6">
							<div class="profile-sidebar-right profile-userpic">
								<img alt="Clique aqui para atualizar a foto" ng-click="openModalAbrirCameraFoto()" data-ng-src="data:image/png;base64,{{dependente.fotoDependenteDecoded}}" ng-if="dependente.fotoDependenteDecoded != null" class="img-responsive" style="padding:1px; border:1px solid #021a40;" /> <img
									 alt="Clique aqui para atualizar a foto" ng-click="openModalAbrirCameraFoto()" src="assets/admin/pages/media/profile/avatar.gif" class="img-responsive" ng-if="dependente.fotoDependenteDecoded == null">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
								<div class="form-group">
									<label class="control-label" for="txtCPF">CPF</label> <input type="text" id="txtCPF" name="txtCPF"  ng-model="dependente.nrCpf" placeholder="XXX.XXX.XXX-XX" class="form-control" />
								</div>
							</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
									<label class="control-label">Data de Nascimento<span class="required"> * </span></label> <input type="text" name="txtDtNascimento" id="txtDtNascimento" class="form-control"
										datepicker-popup="dd/MM/yyyy" date-disabled="disabled(date, mode)" ng-model="dependente.dtNascimento" is-open="opened" ng-click="opened = true" max-date="today" />
								</div>
						</div>
						<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Parentesco *</label>
									<ui-select ng-model="dependente.inParentesco" theme="select2"  class="form-control select2me" required="true" name="cbParentesco" id="cbParentesco"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
									<ui-select-choices repeat="propType.id as propType in parentescoOptions track by $index | filter: $select.search">
									<div ng-bind-html="propType.description | highlight: $select.search"></div>
									</ui-select-choices> </ui-select>
								</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Sexo</label>
								<div class="input-group" ng-disabled="true">
									<label ng-readonly="true" class="btn btn-primary" ng-model="dependente.inSexo" btn-radio="0">Masculino</label> <label ng-readonly="true" class="btn btn-primary" ng-model="dependente.inSexo"
										btn-radio="1">Feminino</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Celular</label> <input type="text"  id="txtCelular" ng-model="dependente.nrCelular" placeholder="(92) 99100-2000" class="form-control" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Telefone</label> <input type="text"  id="txtTelefone" ng-model="dependente.nrTelefone" placeholder="(92) 99100-2000" class="form-control" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label"><E></E>Email</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-envelope"></i>
							</span> <input type="text"  ng-model="dependente.nmEmail" class="form-control" placeholder="nome@dominio.com.br">
						</div>
					</div>
					<hr>
					
					<h4>Endereco</h4>
					<div class="icheckbox text-right">
			            <input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_flat-blue" 
			            ng-model="endereco.titular" ng-change="loadEndereco()"/> Endereço titular                  
			    	</div>			
									
                    
					<div class="form-group">
						<label class="control-label">CEP *</label> <input type="text" id="txtCEP"  ng-model="dependente.nrCep" placeholder="XXXXX-XXX" class="form-control" />
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Logradouro *</label> <input type="text" ng-model="dependente.nmLogradouro" placeholder="XXX" class="form-control" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Numero *</label> <input type="text" ng-model="dependente.nrNumero" placeholder="XX" class="form-control" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Complemento</label> <input type="text"  ng-model="dependente.nmComplemento" placeholder="" class="form-control" />
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Cidade</label>
								<ui-select ng-model="dependente.cidade.id" theme="select2"  class="form-control select2me" on-select="loadBairroOptions($item)"> <ui-select-match
									placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
								<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Bairro</label>
								<ui-select ng-model="dependente.bairro.id" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match>
								<ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
								<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Ponto de Referencia</label>
						<textarea id="maxlength_textarea" class="form-control" maxlength="225"  ng-model="dependente.nmPontoReferencia" rows="2" placeholder="Limite 225 caracteres"></textarea>
					</div>
					<div class="margiv-top-10">
						<input type="submit" id="submit" class="btn green-haze" value="Salvar" /> <a ng-click="previous()" class="btn default"> Cancelar </a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="cadDigitalFotoModalDepContent.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Deseja cadastrar uma nova digital?
	        </h4>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn green-haze" type="button" id="btnCadDigitalFoto" ng-click="cadDigitalFoto()">{{digitalFotoDepMsg}}</button>
	        <button class="btn default" type="button" ng-click="exit()">Fechar</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
	</script>
	<script type="text/ng-template" id="abrirFotoDependente.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Por favor, alinhe a imagem no centro da Câmera.
	        </h4>
	    </div>
		<div class="modal-body" style="width: 100%; display: table;">
			<webcam channel="cameraSettings"></webcam>
		</div>
		<canvas id="snapshot" name="snapshot" style="display:none;" />
		<textarea class="snapshot-data ng-pristine ng-valid" ng-model="snapshotData" ng-show="showBase64" style="display: none;"></textarea>
	    <div class="modal-footer">
 			<button class="btn green-haze" type="button" ng-click="makeSnapshot()">Tirar Foto</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
	</script>
</div>
<script>
	$(document).ready(function() {

		$("#txtCelular").inputmask("(99) 99999-9999");

		$("#txtTelefone").inputmask("(99) 9999-9999");

		$("#txtCPF").inputmask("999.999.999-99", {
			removeMaskOnSubmit : true
		});

		$("#txtDtNascimento").inputmask("d/m/y");

		$("#txtCEP").inputmask("99999-999", {
			removeMaskOnSubmit : true
		});
	});


	var form = $('#formDependente');
	var error = $('.alert-danger', form);

		form.validate({
		errorElement : 'span', //default input error message container
		errorClass : 'help-block help-block-error', // default input error message class
		focusInvalid : true, // do not focus the last invalid input
		ignore : "", // validate all fields including form hidden input
		messages : {
			select_multi : {
				maxlength : jQuery.validator
						.format("Max {0} items allowed for selection"),
				minlength : jQuery.validator
						.format("At least {0} items must be selected")
			}
		},
		rules : {
			//txtCPF : {
			//	cpf : {
			//		cpf : true,
			//		required : false
			//	},
			//	required : false
			//},
			
			txtNome : {
				minlength : 5,
				required : true
			},
		
			txtDtNascimento : {
				dateITA : true,
				required : true
			},

			cbParentesco : {
				required : true
			}

		},
		invalidHandler : function(event, validator) { //display error alert on form submit              
			error.show();
			Metronic.scrollTo(error, -200);
		},

		highlight : function(element) { // hightlight error inputs
			$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
		},

		unhighlight : function(element) { // revert the change done by hightlight
			$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
		},

		success : function(label) {
			label.closest('.form-group').removeClass('has-error'); // set success class to the control group
		},

		submitHandler : function(form) {
			error.hide();
		}
	});

	form.submit(function() {
		//TODO this isn't elegant, find a better way handle the
		//unmask before submit (due the fact that changes in the
		//selectors are not propagated to the model.
		//form.scope().dependente.nrCpf = $('#txtCPF').val();
		//form.scope().dependente.nrCEP = $('#txtCEP').val();

	});
</script>