<div ng-controller="ClienteCoberturaController" class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Cobertura de Plano</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<div class="portlet-body">
				
				<em ng-show="coberturas.length == 0">Sem dados disponiveis.</em>
				<table ng-table="tableParams" show-filter="true" ng-hide="coberturas.length == 0" class="table table-striped table-bordered table-hover">
					<tr ng-repeat="item in $data">
						<td data-title="'Cobre'" >{{item.boCoberturaFormatada}}</td>
						<td data-title="'Servico'" filter="{ 'servico': 'text' }">{{item.servico}}</td>
						<td data-title="'Codigo'" filter="{ 'codigo': 'text' }">{{item.codigo}}</td>
						<td data-title="'Tipo'" filter="{ 'tipo': 'text' }">{{item.tipo}}</td>
						<td data-title="'Valor Associado'">{{item.valorAssociado | currency:"R$":2}}</td>
						<td data-title="'Valor Nao Associado'">{{item.valorNaoAssociado | currency:"R$":2}}</td>
						<td data-title="'Carencia'" class="text-center">{{item.carencia}}</td>
						<td data-title="'V.Contratual (Dias)'" class="text-center">{{item.validadeContratual}}</td>
						<td data-title="'Plano'" filter="{ 'nmPlano': 'text' }">{{item.nmPlano}}</td>
						<td data-title="'Numero Contrato'">{{item.nroContrato}}</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
