<div ng-controller="ClienteContaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">

			<!-- BEGIN TITTLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> 
					<span class="caption-subject font-blue-madison bold uppercase">Cliente </span>
				</div>
				<div class="actions">
					<div class="btn-group">
						<div class="clear-fix">
							<button ng-show="selectedCliente.digitalCliente != null" id="btnCadDepDigitalFoto" class="btn btn-xs green" ng-click="openModalDigitalFotoCliente()">
								Cadastrar Digital novamente
							</button>
							<button ng-show="selectedCliente.digitalCliente == null" 
							class="btn btn-xs blue" ng-click="openModalDigitalFotoCliente()">
								<i class="fa fa-dot-circle-o"></i> Cadastrar Digital
							</button>
						</div>
					</div>
					<div class="input-group" ng-switch on="selectedCliente.idDedoDigital">
						<div ng-switch-when="0">
							<h4> <span class="label label-warning">Dedo desconhecido</span></h4>
						</div>
						<div ng-switch-when="1">
							<h4> <span class="label label-warning">Polegar direito</span></h4>
						</div>
						<div ng-switch-when="2">
							<h4><span class="label label-warning">Indicador direito</span></h4>
						</div>
						<div ng-switch-when="3">
							<h4><span class="label label-warning">Médio direito</span></h4>
						</div>
						<div ng-switch-when="4">
							<h4><span class="label label-warning">Anelar direito</span></h4>
						</div>
						<div ng-switch-when="5">
							<h4><span class="label label-warning">Mínimo direito</span></h4>
						</div>
						<div ng-switch-when="6">
							<h4><span class="label label-warning">Polegar esquerdo</span></h4>
						</div>
						<div ng-switch-when="7">
							<h4><span class="label label-warning">Indicador esquerdo</span></h4>
						</div>
						<div ng-switch-when="8">
							<h4><span class="label label-warning">Médio esquerdo</span></h4>
						</div>
						<div ng-switch-when="9">
							<h4><span class="label label-warning">Anelar esquerdo</span></h4>
						</div>
						<div ng-switch-when="10">
							<h4><span class="label label-warning">Mínimo esquerdo</span></h4>
						</div>
						<div ng-switch-default>
							<h4><span class="label label-warning">Dedo desconhecido</span></h4>
						</div>
					</div>
				</div>
			</div>
			<!-- END TITTLE -->

			<div class="portlet-body">
				<form ng-submit="updateCliente()" id="formCliente" novalidate>
					
					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						Dados Inv&aacute;lidos. Por favor verifique os campos abaixo.
					</div>

					<span class="label label-sm label-success">
					C&oacute;digo: {{selectedCliente.nrCodCliente}}
					</span><br/><br/>

					<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/cliente-conta-editar-template.html'"></div>
						
											
					<div class="margiv-top-10">
						<input type="submit" class="btn green-haze" value="Salvar" /> <a ng-click="previous()" class="btn default"> Cancelar </a>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="cadDigitalFotoModalContent.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Deseja cadastrar uma nova digital?
	        </h4>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn green-haze" type="button" id="btnCadDigitalFoto" ng-click="cadDigitalFoto()">{{digitalFotoClienteMsg}}</button>
	        <button class="btn default" type="button" ng-click="exit()">Fechar</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
</script>
<script>
	$("#rdSexo").buttonset();

	var form = $('#formCliente');
	var error = $('.alert-danger', form);

	form.validate({
		errorElement : 'span', //default input error message container
		errorClass : 'help-block help-block-error', // default input error message class
		focusInvalid : true, // do not focus the last invalid input
		ignore : "", // validate all fields including form hidden input
		messages : {
			select_multi : {
				maxlength : jQuery.validator
						.format("Max {0} items allowed for selection"),
				minlength : jQuery.validator
						.format("At least {0} items must be selected")
			}
		},
		rules : {
			txtCPF : {
				cpf : {
					cpf : true,
					required : true
				},
				required : true
			},
			txtRG : {
				minlength : 4,
				required : true
			},
			txtNome : {
				minlength : 5,
				required : true
			},
			txtTelefone : {
				minlength : 14,
				required : false
			},
			txtCelular : {
				minlength : 15,
				required : true
			},
			txtDtNascimento : {
				dateITA : true,
				required : true
			},
			selEstadoCivil : {
				required : true
			},
			txtCEP1 : {
				minlength : 8,
				required : true
			},
			rdSexo : {
				required : true
			},
			txtCEP1 : {
				required : true
			},
			txtLogradouro : {
				required : true
			},
			txtLogradouroNumero : {
				required : true
			}
		},
		invalidHandler : function(event, validator) { //display error alert on form submit              
			error.show();
			Metronic.scrollTo(error, -200);
		},

		highlight : function(element) { // hightlight error inputs
			$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
		},

		unhighlight : function(element) { // revert the change done by hightlight
			$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
		},

		success : function(label) {
			label.closest('.form-group').removeClass('has-error'); // set success class to the control group
		},

		submitHandler : function(form) {
			error.hide();
		}
	});
</script>