<style>
	.required{
		color: red;
	}
</style>
<form id="formContrato" name="formContrato" class="horizontal-form" novalidate ng-hide="contratoCriado">
	<br><br>
	<fieldset>
		<legend>Escolha dependentes para o plano</legend>
		<div class="row">
			<div class="col col-md-8">
				<div class="radio-list">
                    <label ng-repeat="pessoa in listaUsuarios" style="cursor: pointer;">
                        <input type="checkbox" name="incluidos" icheck class-check-icheck="icheckbox_square-blue" 
                        ng-model="pessoa.checked"/>
                        {{pessoa.isTitular ? pessoa.nmCliente + ' (Titular)' : pessoa.nmDependente + ' (Dependente)'}} 
                    </label>
                </div>
			</div>
		</div>
	</fieldset>
	<br>
	<fieldset>	
		<legend>
			Informa&ccedil;&otilde;es do Contrato
		</legend>

		<div class="row">
			<div class="col col-md-8">
				<div class="form-group">
					<label>Tipo<span class="required"> * </span></label>
					<div class="radio-list">
                        <label class="radio-inline" ng-repeat="tipo in tiposCliente">
                            <input type="radio" name="tipo-contrato" icheck class-radio-icheck="iradio_square-blue" ng-value="tipo.idTipo" ng-model="contratoCliente.inTipoCliente" ng-change="checkTipoCliente(tipo.idTipo)"/>{{tipo.nmTipo}}
                        </label>
                    </div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="contratoCliente.inTipoCliente == 1">
			
			<div class="col col-md-3">
				<div class="form-group">
					<label>Matr&iacute;cula <span class="required">*</span></label>
					<input class="form-control" ng-model="contratoCliente.nrMatricula" ng-required="contratoCliente.inTipoCliente == 1" placeholder="Número da matrícula aqui..." />
				</div>
			</div>
			<div class="col col-md-4">
				<div class="form-group">
					<label>&Oacute;rg&atilde;o <span class="required">*</span></label>					
                    <ui-select ng-model="contratoCliente.orgao" theme="select2"  class="form-control select2me" required="true" > 
                        <ui-select-match placeholder="Selecione...">{{$select.selected.nmOrgao}}</ui-select-match>
                    <ui-select-choices repeat="orgao in listaOrgaos | filter: $select.search">
                    <div ng-bind-html="orgao.nmOrgao | highlight: $select.search"></div>
                    </ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="col col-md-5" ng-if="contratoCliente.orgao">
				<div class="form-group">
					<label>Grupo</label>
					<p class="form-control">{{contratoCliente.orgao.grupoOrgao.nmGrupoOrgao}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-6">
				<div class="form-group">
					<label>Empresa <span class="required">*</span></label>
					<select class="form-control" ng-model="contrato.empresaGrupo.id" ng-change="loadPlanos()" required>
                        <option ng-repeat="empresa in listaEmpresas" ng-value="empresa.id" ng-if="empresa.id == 9" ng-selected="empresa.id == 9">{{empresa.nmFantasia}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-6">
				<div class="form-group">
					<label>Plano <span class="required"> * </span> </label>
					<ui-select class="form-control select2me" theme="select2" ng-model="contrato.plano" required>
						<ui-select-match placeholder="Selecione o plano...">
							{{$select.selected.nmPlano}}
						</ui-select-match>
						<ui-select-choices repeat="item as item in listaPlanos | filter: $select.search">
							<div ng-bind-html="item.nmPlano | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="form-group" ng-if="contrato.plano.id">
				<div class="col col-md-2">	
					<label>Valor Unitário</label>
					<p class="form-control">{{contrato.plano.vlPlano}}</p>
				</div>
				<div class="col col-md-3">
					<label>Valor Total</label>
					<p class="form-control">{{contrato.plano.vlPlano * getSelectedUsers().length}}</p>
				</div>
			</div>
		</div>
	</fieldset>
	<br><br><br><br>
	<div class="col-md-12">
		<div class="text-center">
			<button class="btn blue" ng-disabled="formContrato.$invalid || getSelectedUsers().length == 0 || contrato.plano.id == null" ng-click="form.next()">
				Proximo Passo
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</button>
		</div>
	<div>
	<br><br><br><br>
	<br>
</form>