<div ng-controller="ClienteContaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Novo Cliente</span>
				</div>
			</div>
			<div class="portlet-body">

				<div class="alert alert-danger display-hide">
					<button class="close" data-close="alert"></button>
					Dados Inv&aacute;lidos. Por favor verifique os campos abaixo.
				</div>
				
				<div class="row" ng-show="!canShowFluxoConverterAssociado">
					<div class="col-md-offset-3 col-md-6">
	                    <div class="radio-list">
                            <label class="radio-inline" ng-repeat="optionDate in rdOptionsMigrar">
                                <input type="radio" name="tipoFiltroData" icheck class-radio-icheck="iradio_square-blue"
                                 ng-value="{{optionDate.value}}" ng-model="optionMigrar.value">{{optionDate.name}}
                            </label>
                        </div>
                	</div>	
				</div>

				<!-- FORM NAO ASSOCIADO -->
				<form id="formCliente" name="formCliente" ng-submit="saveCliente(formCliente, true)" class="horizontal-form" 
				ng-validate="validationOptions" ng-if="optionMigrar.value == 0">
					<div class="form-body">						
						<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/cliente-conta-cadastrar-template.html'"></div>					
					</div>
					<div class="margiv-top-10">
						<a ng-click="previous()" class="btn default"> Cancelar </a>
						<input type="submit" class="btn green-haze" ng-disabled="buttonDisabled" value="Salvar" /> 
					</div>
				</form>

				<!-- FLUXO ASSOCIADO -->
				<div class="row">
					<div class="col-md-12" ng-if="optionMigrar.value == 1 || canShowFluxoConverterAssociado">
						<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/converter-associado.html'"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<script>

	$("#rdSexo").buttonset();

	var form = $('#formCliente');
	var error = $('.alert-danger', form);

	console.log("form",form);

	
</script>