<style>
#toast-container {
  top: 10%;

}
</style>

<form ng-controller="ClienteComprovanteNovoController" id="formComprovante" class="horizontal-form" novalidate ng-hide="contratoCriado">
	<fieldset>
		<legend>Imprimir comprovante</legend>
		<div class="row">
			<div class="text-center">
			<button class="btn blue" type="button" ng-click="printDiamante(0)" ng-disabled="disabledButtonDiamante == true">
					DIAMANTE <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="disabledButtonDiamante"></i>
			</button>&nbsp;&nbsp;&nbsp;
			<button class="btn blue" type="button" ng-click="printDiamanteSemCarencia(1)" ng-disabled="disabledButtonDiamanteSemC == true">
					DIAMANTE SEM CARÊNCIA <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="disabledButtonDiamanteSemC"></i>
			</button>
			</div>
		</div>
	</fieldset>
	<fieldset ng-show="idFormaPagamento == 0">
		<legend>Imprimir boleto</legend>
		<div class="row">
			<div class="text-center">
			<button class="btn blue" type="button" ng-click="printBoleto()" ng-disabled="disabledButtonBoleto == true">
					BOLETO BANCÁRIO <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="disabledButtonBoleto"></i>
			</button>
			</div>
		</div>
	</fieldset>
	<div class="row text-left">
		<button class="btn green" type="button" ng-click="finalizar(listaUsuarios[0].id)">
				FINALIZAR
		</button>
	</div>
</form>