<div ng-controller="ClienteAgendamentoController" class="row no-print">
	<div class="col-md-12">
		<div class="portlet light">

			<!-- TITLE-->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Agendamento </span><span class="caption-helper"><b>{{agendamento.nrAgendamento}}</b><span>
				</div>
			</div>
			<!-- END TITLE-->

			<div class="portlet-body">
				<form ng-submit="updateAgendamento()" id="formAgendamento">

					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						Dados Inv&aacute;lidos. Por favor verifique abaixo.
					</div>

					<div class="row">
						<div class="col-md-3" ng-hide="disableReagendamentoButton">
							<div class="form-group">
								<span class="input-group-btn btn-right">
									<a ng-click="enableReagendamento()" class="btn green-jungle" >	Clique para reagendar <i class="fa fa-calendar"></i>
									</a>
								</span>
							</div>
						</div>

						<div class="col-md-2" ng-show = "agendamento.inStatus == 1 || agendamento.inStatus == 0">
							<div class="form-group">
								<span class="input-group-btn btn-right">
									<a ng-click="printerAgendamento2via()" class="btn blue" >	2ª via agendamento <i class="fa fa-files-o" aria-hidden="true"></i>
									</a>
								</span>
							</div>
						</div>

						<div class="col-md-2" ng-if="agendamento.inStatus == 4">
							<div class="form-group">
								<span class="input-group-btn btn-right">
									<a class="btn green" ng-click="getAgendamentoView(agendamento.id)">
										<i class="fa fa-files-o" aria-hidden="true"></i>
										2&ordf; via Presen&ccedil;a
									</a>
								</span>
							</div>
						</div>
					</div>


					<div class="row">

						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Tipo</label>
								<div class="input-group" ng-switch on="agendamento.inTipo">
									<div ng-switch-when="0" ng-show="!agendamento.boReagendamento">
										<h4>
											<span class="label label-primary">Agendamento{{origemBoParticular ? "/Particular" : ""}}</span>
										</h4>
									</div>
									<div ng-switch-when="1">
										<h4>
											<span class="label label-primary">Encaixe</span>
										</h4>
									</div>
								</div>
								<div ng-show="agendamento.boReagendamento">
									<h4>
										<span class="label label-primary">Reagendamento</span>
									</h4>
								</div>
								<div ng-show="agendamento.boRetorno">
									<h4>
										<span class="label label-default">Retorno</span>
									</h4>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Status *</label>
								<div ng-switch on="agendamento.inStatus">
									<div ng-switch-when="0">
										<h4>
											<span class="label label-danger">Bloqueado</span>
										</h4>
									</div>
									<div ng-switch-when="4">
										<h4>
											<span class="label label-warning">Presente</span>
										</h4>
									</div>
									<div ng-switch-when="1">
										<h4>
											<span class="label label-success">Liberado</span>
										</h4>
									</div>
									<div ng-switch-when="2">
										<h4>
											<span class="label label-primary">Atendido</span>
										</h4>
									</div>
									<div ng-switch-when="3">
										<h4>
											<span class="label label-default">Faltoso</span>
										</h4>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Horário de Chegada</label>
								<div>
								<h4>
								<span class="label label-warning">
									{{agendamento.hrInicio}} até {{agendamento.hrFim}}
								</span>
								</h4>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Log</label>
								<div>
								<h4>
								<span ng-show="!checkEditRole(infoagendamento)"class="label label-info" popover-template="'myPopoverTemplate_.html'"
								popover-placement="bottom" popover-title="Cadastro / Altera&ccedil;&atilde;o" popover-trigger="mouseenter" >
									Informacao
								</span>
								</h4>
								</div>
							</div>
						</div>

						<div class="form-group" ng-if="despesa.id">

							<div class="col-md-12">
								<h4><strong>&raquo; Despesa</strong></h4><br/>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<span class="input-group-btn btn-right">
										<a ng-click="printPDF()" target="_blank"
										class="btn green-jungle">{{printPDFButton}}
											<i class="fa fa-print"></i>
										</a>
									</span>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Numero </label>
									<input type="text" ng-model="despesa.id"
									ng-readonly="true" class="form-control" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Data criacao </label>
									<input type="text" ng-model="despesa.dtDespesaFormatado"
									ng-readonly="true" class="form-control" />
								</div>
							</div>
						</div>
					</div>

					<object ng-show="pdf" data="{{pdf}}" type="application/pdf" style="width: 100%; height: 400px;"></object>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group"  ng-show="agendamento.contrato.plano.observacao">
								<label class="control-label">Observa&ccedil;&otilde;es</label>
								<textarea id="textQueixa" name="textQueixa"
									ng-model="agendamento.contrato.plano.observacao"
									class="form-control" rows="3" ng-readonly="true" style="color:red">
								</textarea>
							</div>
						</div>
					</div>

					<div class="row">

						<br/>
						<div class="col-md-12">
							<h4><strong>&raquo; Informacoes gerais</strong></h4><br/>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Paciente *</label>
								<input type="text" ng-model="agendamento.paciente.nmPaciente"
								ng-readonly="true" class="form-control" />
							</div>
						</div>


						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Celular *</label> <input type="text" id="txtCelular" ng-model="agendamento.cliente.nrCelular" ng-readonly="true" placeholder="(XX) XXXXX-XXXX" class="form-control" />
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Plano *</label> <input type="text" ng-model="agendamento.contrato.plano.nmPlano" ng-readonly="true" class="form-control" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Telefone *</label> <input type="text" id="txtTelefone" ng-model="agendamento.cliente.nrTelefone" ng-readonly="true" placeholder="(XX) XXXX-XXXX"
									class="form-control" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Unidade</label>
						<ui-select ng-model="agendamento.unidade.id" theme="select2" ng-disabled="disableReagendamento" class="form-control select2me" on-select="loadProfissionalReagendamento($item)"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmUnidade}}</ui-select-match>
						<ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
						<div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
						</ui-select-choices> </ui-select>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Especialidade</label>
								<ui-select ng-model="agendamento.especialidade.id" theme="select2" ng-disabled="true" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmEspecialidade}}</ui-select-match>
								<ui-select-choices repeat="item.id as item in especialidadeOptions track by $index | filter: $select.search">
								<div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<!--<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Sub-Especialidade</label>
								<ui-select ng-model="agendamento.subEspecialidade.id" theme="select2" ng-disabled="true" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmSubEspecialidade}}</ui-select-match>
								<ui-select-choices repeat="item.id as item in subEspecialidadeOptions | filter: $select.search">
								<div ng-bind-html="item.nmSubEspecialidade | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>-->
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Profissional</label>
								<ui-select ng-model="agendamento.profissional.id" theme="select2" ng-disabled="disableReagendamento" on-select="cleanTipoConsultaComboReagendamento()" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmFuncionario}}</ui-select-match>
								<ui-select-choices repeat="item.id as item in profissionaisOptions | filter: $select.search">
								<div ng-bind-html="item.nmFuncionario | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Servico *</label>
								<ui-select ng-model="agendamento.servico.id" theme="select2" ng-disabled="true" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.servico.nmServico}}</ui-select-match>
								<ui-select-choices repeat="item.servico.id as item in servicoOptions | filter: $select.search">
								<div ng-bind-html="item.servico.nmServico | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-6">
							<span class="input-group-btn btn-right">
								<a ng-click="getPreparatorio()" class="btn blue">
									Preparatório
								</a>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4><strong>&raquo; Dados da consulta</strong></h4><br/>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Tipo Consulta *</label>
								<ui-select ng-model="agendamento.inTipoConsulta" theme="select2" ng-disabled="disableReagendamento" on-select="loadCalendarioSemanalReagendamento($item)"  class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
								<ui-select-choices repeat="item.id as item in tipoConsultaOptions | filter: $select.search">
								<div ng-bind-html="item.description | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>

						<div class="col-md-12">
							<div ng-hide="disableReagendamento">
								<accordion> <accordion-group heading="Ver Horario de Atendimento"> <em ng-show="calendarioSemanal.length == 0">Sem dados disponiveis.</em>
								<table ng-hide="calendarioSemanal.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
									<thead>
										<tr>
											<th>T. Atendimento</th>
											<th>Unidade</th>
											<th>Especialidade</th>
											<th>Sub-Especialidade</th>
											<th>Dia</th>
											<th>Turno</th>
											<th>Inicio</th>
											<th>Fim</th>
											<th>T. Consulta</th>
											<th>Qtd Paciente</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in calendarioSemanal">
											<td>{{item.nmTipoAtendimento}}</td>
											<td>{{item.nmUnidade}}</td>
											<td>{{item.nmEspecialidade}}</td>
											<td>{{item.nmSubEspecialidade}}</td>
											<td>{{item.nmDiaSemana}}</td>
											<td>{{item.nmTurno}}</td>
											<td>{{item.nmHrInicio}}</td>
											<td>{{item.nmHrFim}}</td>
											<td>{{item.nmTipoConsulta}}</td>
											<td>{{item.qtPacienteAtender}}</td>
										</tr>
									</tbody>
								</table>
								</accordion-group> </accordion>
							</div>
						</div>

						<div class="col-md-6" ng-show="disableReagendamento">
							<div class="form-group" >
								<label class="control-label">Data de Atendimento</label> <span><b>{{agendamento.dtAgendamentoFormatado }}</b></span>
							</div>
						</div>

						<div class="col-md-6" ng-hide="disableReagendamento">
							<div class="form-group" >
								<label class="control-label">Data de Atendimento</label>
								<div ng-hide="viewLastAgendamentoTelemarketing" >
									<label ng-show ="ultimoAgendamentoFaltoso" class="control-label"><b>Ultimo agendamento faltoso em: {{ultimoAgendamentoFaltoso}}</b>
									</label>
								</div>
								<datepicker ng-model="agendamento.dtAgendamento" min-date="minDate" show-weeks="true" class="well well-sm" date-disabled="dateRangeDisabled(date, mode)" date-picker-refresh-view="dateRangeDisablePromise" custom-class="getDayClass(date, mode)" ng-change="cleanHorario()"></datepicker>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group" ng-show="disableReagendamento">
								<label class="control-label">Hor&aacute;rio/Ordem de Atendimento</label> <span><b>{{agendamento.hrAgendamentoFormatado }}</b></span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group" ng-hide="disableReagendamento">
								<span class="label label-danger" ng-show="msgParticular">Houve divergência no tipo de agendamento particular/plano. Ajuste antes de salvar</span>
								<span class="label label-danger" ng-show="msgRetorno">Qualquer retorno não pode ser agendado no horario particular</span>
								<label class="control-label">Hor&aacute;rio/Ordem de Atendimento <span class="required"> * </span></label>
								<ui-select ng-model="agendamento.hrAgendamento" on-select="setParticularAgendamento($item.boParticular)" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.data}}{{$select.selected.boParticular ? " Particular":""}}</ui-select-match>
								<ui-select-choices repeat="item.id as item in horarioOptions | filter: $select.search">
								<div ng-bind-html="item.data + (item.boParticular ? ' Particular' : '') | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
					</div>
					<div class="margiv-top-10 text-right ">
						<br/>
							<a ng-click="previous()" class="btn btn-danger"> Cancelar </a>
						<input type="submit" id="submit" ng-disabled="disableReagendamento || buttonDisabled" class="btn green-haze" value="Salvar" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {

		$("#txtCelular").inputmask("(99) 99999-9999");

		$("#txtTelefone").inputmask("(99) 9999-9999");

	});
</script>

<script type="text/ng-template" id="myPopoverTemplate_.html">


							<table  class="table table-striped table-bordered table-hover">
									<tbody>
										<tr>
											<td>Cadastrado</td>
											<td style="float: left; WIDTH: 200">{{agendamento.nmOperadorCadastro}}</td>
										</tr>
										<tr>
											<td>Data de cadastro</td>
											<td>{{agendamento.dtInclusaoFormatada}}</td>
										</tr>

										<tr>
											<td>Alteração</td>
											<td>{{agendamento.nmOperadorAlteracao}}</td>
										</tr>
										<tr>
											<td>Modificação</td>
											<td>{{agendamento.dtModificacaoFormatada}}</td>
										</tr>
								   </tbody>
								</table>

</script>
