<div ng-controller="ClienteObservacaoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Observa&ccedil;&atilde;o </span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="alert alert-danger display-hide">
					<button class="close" data-close="alert"></button>
					Dados Inv&aacute;lidos. Por favor verifique abaixo.
				</div>
				<div class="form-group">
					<label class="control-label" for="areaObservacao">Observacao *</label>
					<textarea id="areaObservacao" name="areaObservacao" class="form-control" maxlength="1000" ng-model="observacao.nmObservacaoCliente" rows="5" placeholder="Limite 1000 caracteres"> </textarea>
				</div>
				<div class="margiv-top-10">
					<a ng-click="previous()" class="btn default"> Cancelar </a>
				</div>
			</div>
		</div>
	</div>
</div>
