<div ng-controller="ClienteSituacaoFinanceiraController">
	<div class="portlet light col-md-12">
        
        <!-- BEGIN TITLE -->
		<div class="portlet-title">
			<div class="caption caption-md">
				<i class="fa fa-sticky-note-o"></i> <span class="caption-subject font-blue-madison bold uppercase"> Contratos com pend&ecirc;ncias financeiras</span>
				<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
			</div>

		</div>
		<!-- END TITLE -->
	 
        <!-- BEGIN DATA RESULTS -->  
        <br/><br/> 
        <div class="row">
    		<div class="col-md-12">		

    			<div class="portlet box blue">
                    
                    <div class="portlet-title">
                        <div class="caption">
                          Contratos
                        </div>
                    </div>

                    <div class="portlet-body flip-scroll">                        
                        <br/>
                        <div ng-show="contratos.length == 0" class="alert alert-success">
                            <em ><strong>Contrato(s) em dias com a empresa.</strong></em>
                        </div>
                        
                        <table 
                         class="table table-bordered table-striped table-condensed table-hover flip-content"
                         ng-show="contratos.length > 0">
                         	<thead>
								<tr>
									<th class="text-center">*</th>
									<th class="text-center" >N&uacute;mero</th>
                                    <th class="text-center" >Forma de Pagamento</th>
									<th class="text-center">Plano</th>
									<th class="text-center">In&iacute;cio</th>
                                    <th class="text-center">Total de dependentes</th>
                                    <th class="text-center">Total t&iacute;tulos abertos</th>
                                    <th class="text-center">D&iacute;vida</th>
                                    <th class="text-center">D&iacute;vida c/ juros</th>
                                    <th class="text-center">Titular faz uso</th>
                                    <th class="text-center">Situa&ccedil;&atilde;o</th>
								</tr>
							</thead>
                            <tr ng-repeat-start="item in contratos" >
                                <td class="text-center">
                                   <button ng-if="item.expanded" 
                                    class=" btn blue btn-xs glyphicon glyphicon-chevron-up" 
                                    ng-click="item.expanded = false">
                                   </button>

                                    <button ng-if="!item.expanded" 
                                     class="btn blue btn-xs glyphicon glyphicon-chevron-down" ng-click="getDependentesContrato(item)">
                                    </button>
                                </td>
                                <td>
                                     {{item.nrContrato}}
                                </td>
                                <td>
                                     {{item.nmFormaDePagamento}}
                                </td>
                                 <td>
                                     {{item.nmPlano}}
                                </td>
                                 <td class="text-center">
                                    {{item.dtContrato | date: 'dd/MM/yyyy'}}
                                </td>
                                <td  class="text-center">
                                    {{item.quantidadeDependentes}}
                                </td>
                                <td  class="text-center">
                                    {{item.quantidadeTituloAberto}}
                                </td>
                                <td  class="text-center">
                                    {{item.totalDevido | currency:'R$': 2}}
                                </td>
                                 <td  class="text-center">
                                    {{item.totalDevidoComJuros | currency:'R$': 2}}
                                </td>
                                <td class="text-center">
                                    <span 
                                        ng-if="!item.boNaoFazUsoDoPlano"
                                        class="label label-success">
                                        Sim
                                    </span>
                                    <span 
                                        ng-if="item.boNaoFazUsoDoPlano"
                                        class="label label-danger">
                                        N&atilde;o
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span 
                                        ng-if="item.inSituacao == 0"
                                        class="label label-success">
                                        Ativo
                                    </span>
                                    <span 
                                        ng-if="item.inSituacao == 1"
                                        class="label label-danger">
                                        Inativo
                                    </span>
                                </td>
                            </tr>
                             <tr ng-if="item.expanded" ng-repeat-end="">
                                <td colspan="11">
                                    <br/>
                                    <tabset>
                                      	<!-- tab dependentes -->
                                        <tab>
                                            <tab-heading>
                                               <i class="fa fa-child"></i> Dependentes
                                            </tab-heading> 

                                            <div class="col-md-6">
                                                <div ng-show="item.dependentes.length == 0">
                                                    <span class="glyphicon glyphicon-remove" 
                                                     aria-hidden="true"></span>
                                                    <strong>Sem dependentes.</strong>
                                                </div>
                                           		<div class="table-responsive" ng-show="item.dependentes.length > 0">          
                                                  <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th class="text-center">Nome</th>
                                                        <th class="text-center">Parentesco</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr ng-repeat="dependente in item.dependentes">
                                                        <td class="text-center">
                                                            {{dependente.description}}
                                                        </td>
                                                         <td class="text-center">
                                                            {{dependente.opcionalInfo}}
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                                                                              
                                            </div>
                                        </tab>
                                        <!-- end  tab dependentes -->

                                        <!-- tab titulos abertos -->
                                        <tab select="carregarTitulosEmAberto(item)">
                                            <tab-heading>
                                              <i class="fa fa-clone"></i> Titulos abertos
                                            </tab-heading> 
                                            
                                                <div class="table-responsive">          
                                                  <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th class="text-center">Tipo</th>
                                                        <th class="text-center">Nr. T&iacute;tulo</th>
                                                        <th class="text-center">Forma Pagamento Combinada</th>
                                                        <th class="text-center">Vencimento</th>
                                                        <th class="text-center">Valor</th>
                                                        <th class="text-center">Com juros</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr ng-repeat="conta in item.titulosAbertos">
                                                        <td class="text-center">
                                                            {{conta.tipo}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.nrTitulo}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.formaPagamento}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.dtVencimento}}
                                                        </td>
                                                        <td class="text-center">
                                                           {{conta.valor | currency:'R$':2}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.valorComJuros | currency:'R$':2}}
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>

                                        </tab>
                                        <!-- end titulos abertos -->

                                        <!-- tab titulos abertos -->
                                        <tab select="carregarTitulosFechado(item)">
                                            <tab-heading>
                                              <i class="fa fa-handshake-o"></i> Titulos Pagos
                                            </tab-heading> 
                                            
                                                <div class="table-responsive">          
                                                  <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th class="text-center">Tipo</th>
                                                        <th class="text-center">Nr. T&iacute;tulo</th>
                                                        <th class="text-center">Forma Pagamento Combinada</th>
                                                        <th class="text-center">Vencimento</th>
                                                        <th class="text-center">Valor</th>
                                                        <th class="text-center">Pagamento</th>
                                                        <th class="text-center">Forma de Pagamento Efetiva</th>
                                                        <th class="text-center">Valor Pago</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr ng-repeat="conta in item.titulosFechados">
                                                        <td class="text-center">
                                                            {{conta.nmTipo}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.nrDocumento}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.nmFormaCombinada}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.dtVencimentoFormatada}}
                                                        </td>
                                                        <td class="text-center">
                                                           {{conta.vlDocumento | currency:'R$':2}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.dtPagamentoFormatada}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.nmFormaQuitacao}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{conta.vlPago | currency:'R$':2}}
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>

                                        </tab>
                                        <!-- end titulos abertos -->
                                        
                                    </tabset>
                                    <br/>
                                </td>
                             </tr>
                        </table>
                        <br>
            		</div>
         		</div>
    		</div>
        </div>
        <!-- END AGENDAMENTOS APTOS -->
    </div>
    </div>
    </div>
	</div>
</div>
</div>