<div ng-controller="ClienteDespesaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Lan&ccedil;amento de Despesa</span>
				</div>
			</div>
			<div class="portlet-body">
				<form ng-submit="saveLancamentoDespesa()" id="formLancamentoDespesa">
					<div class="form-group">
						<h4 class="form-section">Informa&ccedil;&otilde;es de Despesa</h4>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Titular</label> <input type="text" ng-readonly="true" ng-model="despesaDTO.nmLanctoTitular" class="form-control" />
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Tipo de Despesa</label> <input type="text" ng-model="despesaDTO.nmLanctoTipoDespesa" ng-readonly="true" class="form-control" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Plano</label> <input type="text" ng-readonly="true" ng-model="despesaDTO.nmLanctoPlano" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Paciente</label> <input type="text" ng-model="despesaDTO.nmLanctoPaciente" ng-readonly="true" class="form-control" />
							</div>
							<div class="row">
								<div class="col-md-4">
									<label class="control-label">Cr&eacute;dito Pessoal</label> <input type="text" id="vlLanctoCreditoPessoal" ng-model="despesaDTO.vlLanctoCreditoPessoal" placeholder="XXX,XX" ng-readonly="true"
										class="form-control" />
								</div>
								<div class="col-md-4">
									<label class="control-label">Valor da Despesa</label> <input type="text" id="vlLanctoDespesaTotal" ng-model="despesaDTO.vlLanctoDespesaTotal" placeholder="XXX,XX" ng-readonly="true"
										class="form-control" />
								</div>
								<div class="col-md-4">
									<label class="control-label">Cobertura</label> <input type="text" id="vlLanctoCobertura" ng-model="despesaDTO.vlLanctoCobertura" ng-readonly="true" class="form-control" />
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<h4 class="form-section">Informa&ccedil;&otilde;es de Pagamento</h4>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6" ng-show="statusAdminCredit">
									<div class="form-group" ng-show="statusAdminCreditOptions">
										<label class="control-label">Administradora</label>
										<ui-select theme="select2" ng-model="despesaDTO.formaPagamentoCreditoTipo" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
										<ui-select-choices repeat="item.id as item in adminCreditDebitOptions | filter: $select.search">
										<div ng-bind-html="item.description | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
									<div class="form-group" ng-show="statusAdminDebitOptions">
										<label class="control-label">Administradora</label>
										<ui-select theme="select2" ng-model="despesaDTO.formaPagamentoDebitoTipo" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
										<ui-select-choices repeat="item.id as item in adminCreditDebitOptions | filter: $select.search">
										<div ng-bind-html="item.description | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Vencimento</label> <input type="text" datepicker-popup="dd/MM/yyyy" date-disabled="disabled(date, mode)" ng-model="despesaDTO.dtVencimento" ng-readonly="true"
											class="form-control" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Valor</label> <input type="text" id="vlLanctoValorDespesa" placeholder="XXX,XX" ng-model="despesaDTO.vlLanctoValorDespesa" ng-readonly="true"
											class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Sal&aacute;rio</label> <input type="text" id="vlLanctoSalario" ng-model="despesaDTO.vlLanctoSalario" placeholder="XXX,XX" ng-readonly="true" class="form-control" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Percentual</label> <input type="text" id="vlLanctoPercentual" ng-model="despesaDTO.vlLanctoPercentual" ng-readonly="true" class="form-control" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Limite</label> <input type="text" id="vlLanctoLimite" ng-model="despesaDTO.vlLanctoLimite" ng-readonly="true" class="form-control" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">D&eacute;bito Usado</label> <input type="text" id="vlLanctoDebitoUsado" ng-model="despesaDTO.vlLanctoDebitoUsado" ng-readonly="true" class="form-control" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Boleto Usado</label> <input type="text" id="vlLanctoBoletoUsado" ng-model="despesaDTO.vlLanctoBoletoUsado" ng-readonly="true" class="form-control" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Dispon&iacute;vel</label> <input type="text" id="vlLanctoDisponivel" ng-model="despesaDTO.vlLanctoDisponivel" ng-readonly="true" class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END TAB INFORMACOES DE DESPESA-->
					<!-- CHANGE Dependentes AUTORIZADOS TAB -->
					<h4>Dependentes Autorizados</h4>
					<em ng-show="false">Sem dados disponiveis.</em>
					<table ng-table="tableParams" ng-hide="despesaDTO.dependenteList.length == 0" class="table table-striped table-bordered table-hover" id="table_dependentes">
						<thead>
							<tr>
								<th>Nome</th>
							</tr>
						</thead>
						<tr ng-repeat="item in despesaDTO.dependenteList">
							<td>{{item.nmDependente}}</td>
						</tr>
					</table>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Observa&ccedil;&atilde;o</label>
								<textarea id="maxlength_textarea" ng-model="despesaDTO.despesa.nmObservacao" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres."></textarea>
							</div>
						</div>
					</div>
					<div class="margiv-top-10">
						<input type="submit" id="btnRegistrar" ng-disabled="btnRegistrarDisabled" class="btn green-haze" value="Registrar"/>
                        <a ng-click="previous()" class="btn default"> Cancelar </a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="gerarPdfModalContent.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Despesa gerada com sucesso. Deseja imprimir o comprovante da Despesa?
	        </h4>
	    </div>
		<object ng-show="pdf" data="{{pdf}}" type="application/pdf" style="width: 100%; height: 400px;"></object>
	    <div class="modal-footer">
	        <a ng-click="ok()" target="_blank" id="imprimirPdf" class="btn btn-default gray">Imprimir<i class="fa fa-print"></i></a>
	        <button class="btn default" type="button" id="imprimirCancel" ng-click="cancel()">Fechar</button>
	    </div>
	</script>
	<script type="text/ng-template" id="autorizarGerenteModalContent.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Autoriza&ccedil;&atilde;o Gerente
	        </h4>
	    </div>
		<div class="modal-body">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="exampleInputEmail3">Gerente</label>
					<input type="username" ng-model="userNameGerente" class="form-control" id="exampleInputEmail3" placeholder="Gerente">
				</div>
			</div>
			<div class="col-md-6">
	     		<div class="form-group">
					<label class="control-label" for="exampleInputPassword3">Senha</label>
					<input type="password" ng-model="passwordGerente" class="form-control" id="exampleInputPassword3" placeholder="Senha">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn default" type="button" ng-click="loginAutorizacaoGerente()">Autorizar</button>
			<button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
		</div>
	</script>
</div>
<script>
	$(document).ready(function() {

		$("#vlLanctoCreditoPessoal").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoDespesaTotal").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoCobertura").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoValorDespesa").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoSalario").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoPercentual").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			removeMaskOnSubmit : true
		});

		$("#vlLanctoLimite").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoDebitoUsado").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoBoletoUsado").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#vlLanctoDisponivel").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

	});

	var form = $('#formLancamentoDespesa');

	form.submit(function() {

	});
</script>
