<div ng-controller="ClienteDespesaController" class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Despesas</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif"
						data-loading>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<div class="clearfix">
									<button class="btn blue" ui-sref="atendimentoCliente.cliente-despesas-nova">
										Nova<i class="fa fa-plus"></i>
									</button>
									<button class="btn green" ng-click="refreshDespesas()">
										Atualizar<i class="fa fa-refresh"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<em ng-show="despesas.length == 0">Sem dados disponiveis.</em>
				<table ng-table="tableParams" show-filter="true" ng-hide="despesas.length == 0" class="table table-striped table-bordered table-hover">
					<tr ng-repeat="item in $data">
						<td data-title="'N&deg; Despesa'" filter="{ 'id': 'text' }" 
						 class="text-center ">
							 <a ui-sref="atendimentoCliente.cliente-despesas-editar({ id: item.id })"
							   class="table-main-link">{{item.id}}
							  </a>
						</td>
						<td data-title="'Encaminhamentos'" filter="{ 'nrEncaminhamento': 'text' }">{{item.nrEncaminhamento}}</td>
						<td data-title="'Paciente'" filter="{ 'paciente':'text' }">{{item.paciente}}</td>
						<td data-title="'Data'" filter="{ 'dtDespesaFormatado':'text' }">{{item.dtDespesaFormatado}}</td>
						<td data-title="'Situa&ccedil;&atilde;o'" ng-switch on="item.inSituacao">
							<div ng-switch-when="0" class="label label-sm label-danger">N&atilde;o Quitado</div>
							<div ng-switch-when="1" class="label label-sm label-success">Quitada</div>
						</td>
						<td data-title="'A&ccedil;&otilde;es'">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
									... <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right" showrole="deleteRoles">
									<li><a ng-click="openDeleteModal(item)"> Remover </a></li>
								</ul>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
	<script type="text/ng-template" id="despesaModalContent.html">
	    <div class="modal-header">
	        <h4 class="modal-title">J&aacute; existe uma despesa gerada, a atual ser&aacute; exclu&iacute;da. Deseja continuar?
	        </h4>
	    </div>
	    <div class="modal-footer">
	        <button class="btn green-haze" type="button" ng-click="ok(item)">Confirmar</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
	</script>
</div>
