<div ng-controller="ClienteArquivoController" class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Arquivos</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<div class="clearfix">
									<button class="btn green" ng-click="refreshArquivos()">
											Atualizar<i class="fa fa-refresh"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<em ng-show="arquivos.length == 0">Sem dados disponiveis.</em>
				 <table ng-hide="arquivos.length == 0" class="table table-striped table-bordered table-hover" id="table_arquivos_cliente">
					<thead>
						<tr>
							<th>Arquivo</th>
							<th>Pre-Visualizacao</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in arquivos">
						  
							<td>{{item.nmImagemCliente}}</td>
							<td>
								<a href="http://images.elev-sistema.com.br:8083/{{item.urlImagem}}" target="_blank">
									<img style="width: 150px; height: auto" ng-src="http://images.elev-sistema.com.br:8083/{{item.urlImagem}}"/>
								</a>
							</td>
					</tbody>
				</table>


				<!--<div style="margin-left:20px;">
						 		<ng-gallery images="employeeImages" thumbs-num="11">
							</ng-gallery>	
						 	</div>
				<div ng-repeat="item in arquivos">
					<a href="http://images.elev-sistema.com.br:8083/{{item.urlImagem}}" target="_blank"><img id="im" img height="300" width="300" src="http://images.elev-sistema.com.br:8083/{{item.urlImagem}}"
	                    ></a>

	                    <script >
							$("im").ezPlus();

						</script>
	            </div>-->
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET   ng-src="/mediclab/clientes/{{selectedCliente.id}}/arquivos/{{item.urlImagem}}"-->
	</div>
</div>


