<div class="modal-header">
	<h4 class="modal-title">Registro de Presença/Atualização de Dados Cadastrais</h4>
</div>
<form id="formPresenca" ng-submit="registrar()">
<div class="modal-body">
	<!-- <div class="page-alerts">
		<alert ng-if="alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</alert>
		<alert ng-if="!alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div> -->
	<div class="btn-group">
		<div class="clear-fix">
			<button class="btn btn-xs green" ng-click="lerBiometria()">
										<i class="fa fa-dot-circle-o"></i>{{clienteDigital.message}}</button>
			<button class="btn btn-xs green" ng-click="identificarClienteSemBiometria()">
										Registrar presença sem biometria</button>
		</div>
	</div>
	<br/>
	<div ng-show="validCliente">
	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
					<label for="form_control_1">Nome (cliente)</label>
				<div class="form-control form-control-static">{{cliente.nmCliente}}</div>
			</div>
		</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">CPF (cliente)</label> <input type="text" id="txtCpf" name="txtCpf" ng-model="cliente.nrCPF" placeholder="XXX.XXX.XXX-XX" class="form-control" />
				</div>
			</div>
	</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Celular (cliente)</label> <input type="text" id="txtCelular" name="txtCelular" ng-model="cliente.nrCelular" placeholder="(XX) XXXXX-XXXX" class="form-control" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Telefone (cliente)</label> <input type="text" id="txtTelefone" name="txtTelefone" ng-model="cliente.nrTelefone" placeholder="(XX) XXXX-XXXX" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Email (cliente)</label>
					<div class="input-group">
						<span class="input-group-addon"> <i class="fa fa-envelope"></i>
						</span> <input type="text" ng-model="cliente.nmEmail" class="form-control" placeholder="Email">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">CEP *</label> <input type="text" name="txtCEP1" id="txtCEP1" ng-model="cliente.nrCEP" placeholder="XXXXX-XXX" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Logradouro *</label> <input type="text" name="txtLogradouro" id="txtLogradouro" ng-model="cliente.nmLogradouro" placeholder="Endereco"
						class="form-control" capitalize />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">N&uacute;mero *</label> <input type="text" name="txtLogradouroNumero" id="txtLogradouroNumero" ng-model="cliente.nrNumero" placeholder="XXX"
						class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Complemento</label> <input type="text" id="selCidade" ng-model="cliente.nmComplemento" placeholder="" class="form-control" capitalize />
		</div>
	</div>




<div ng-show="validDependente">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
					<label for="form_control_1">Nome (dependente)</label>
				<div class="form-control form-control-static">{{dependente.nmDependente}}</div>
			</div>
		</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">CPF (dependente)</label> <input type="text" id="txtCpf" name="txtCpf" ng-model="dependente.nrCpf" placeholder="XXX.XXX.XXX-XX" class="form-control" />
				</div>
			</div>
	</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Celular (dependente)</label> <input type="text" id="txtCelular" name="txtCelular" ng-model="dependente.nrCelular" placeholder="(XX) XXXXX-XXXX" class="form-control" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Telefone (dependente)</label> <input type="text" id="txtTelefone" name="txtTelefone" ng-model="dependente.nrTelefone" placeholder="(XX) XXXX-XXXX" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Email (dependente)</label>
					<div class="input-group">
						<span class="input-group-addon"> <i class="fa fa-envelope"></i>
						</span> <input type="text" ng-model="dependente.nmEmail" class="form-control" placeholder="Email">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">CEP *</label> <input type="text" name="txtCEP1" id="txtCEP1" ng-model="dependente.nrCep" placeholder="XXXXX-XXX" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Logradouro *</label> <input type="text" name="txtLogradouro" id="txtLogradouro" ng-model="dependente.nmLogradouro" placeholder="Endereco"
						class="form-control" capitalize />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">N&uacute;mero *</label> <input type="text" name="txtLogradouroNumero" id="txtLogradouroNumero" ng-model="dependente.nrNumero" placeholder="XXX"
						class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Complemento</label> <input type="text" id="selCidade" ng-model="dependente.nmComplemento" placeholder="" class="form-control" capitalize />
		</div>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="!clienteFound || bloqueioBotao">Atualizar dados e Registrar Presença</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
<script>
	$(document).ready(function() {
		
		$("#txtCelular").inputmask("(99) 99999-9999");

		$("#txtTelefone").inputmask("(99) 9999-9999");
		
		$("#txtCEP1").inputmask("99999-999");

	});
	
</script>