<!-- PERSONNAL DATA-->
<fieldset>
	<legend>
		Dados Pessoais
	</legend>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label" for="txtNome">
					Nome <span class="required"> * </span>
				</label>
				<input type="text" name="txtNome" id="txtNome" ng-model="selectedCliente.nmCliente" placeholder="Seu Nome" class="form-control" capitalize />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="txtCPF">
					CPF<span class="required"> * </span>
				</label>
				<input type="text" name="txtCPF" id="txtCPF" ng-model="selectedCliente.nrCPF" placeholder="000.000.000-00" ng-change="searchNewProspect(selectedCliente)"
				class="form-control" ui-br-cpf-mask />
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label" for="txtCelular">
					Celular <span class="required"> * </span>
				</label>
				<input type="text" name="txtCelular" id="txtCelular" ng-model="selectedCliente.nrCelular"
                       placeholder="(99) 99999-9999" class="form-control" ui-br-phone-number />
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label" for="txtTelefone">Telefone</label>
                <input type="text" name="txtTelefone" id="txtTelefone" ng-model="selectedCliente.nrTelefone"
                       placeholder="(99) 9999-9999" class="form-control" ui-br-phone-number />
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Email</label>
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-envelope"></i>
					</span>
					<input type="text" ng-model="selectedCliente.nmEmail"
					 class="form-control" placeholder="Email">
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="txtRG">
					RG <span ng-hide="canUseSimplesForm" class="required"> * </span>
				</label>
				<input type="text" name="txtRG" id="txtRG"  ng-model="selectedCliente.nrRG" placeholder="XXXX" class="form-control" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">
					Data de Nascimento <span ng-hide="canUseSimplesForm"
					 class="required"> * </span>
				</label>
				<input type="text" name="txtDtNascimento" id="txtDtNascimento" class="form-control"
				ng-model="selectedCliente.dtNascimento" ui-date-mask="DD-MM-YYYY" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Sexo</label>
				<div class="input-group" ng-disabled="true">
					<label ng-readonly="true" class="btn btn-primary" ng-model="selectedCliente.inSexo" btn-radio="0">Masculino</label> <label ng-readonly="true" class="btn btn-primary"
						ng-model="selectedCliente.inSexo" btn-radio="1">Feminino</label>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group"
			ng-class="{ 'has-error': comboValidacao.invalidEstadoCivil }">
				<label class="control-label">
					Estado Civil
					<span ng-hide="canUseSimplesForm" class="required"> * </span>
				</label>
				<ui-select ng-required="true" name="selEstadoCivil" id="selEstadoCivil" ng-model="selectedCliente.inEstadoCivil" theme="select2"  class="form-control select2me" on-select="alterarStatusValidacaoEstadoCivil()">
					<ui-select-match placeholder="Selecione...">
						{{$select.selected.description}}
					</ui-select-match>
					<ui-select-choices repeat="propType.id as propType in estadoCivilOptions | filter: $select.search">
						<div ng-bind-html="propType.description | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Ocupacao</label> <input type="text" ng-model="selectedCliente.nmOcupacao" placeholder="Profissao" class="form-control"
				 capitalize/>
		</div>
	</div>

</fieldset>

<fieldset>
	<legend>
		Endere&ccedil;o
	</legend>

	<div style="padding-bottom: 10px;">
		<label class="label label-success"> Correspond&ecirc;cia </label>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">
					CEP <span ng-hide="canUseSimplesForm" class="required"> * </span>
				</label>
				<input type="text" name="txtCEP1" id="txtCEP1"
				ng-model="selectedCliente.nrCEP"
				ng-change="changeCep()"
				cep-validate
				placeholder="XXXXX-XXX"
				class="form-control"/>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">
					Logradouro
					<span ng-hide="canUseSimplesForm" class="required"> * </span>
				</label>
				<input type="text" name="txtLogradouro" id="txtLogradouro"
				ng-model="selectedCliente.nmLogradouro" placeholder="Endereco"
				class="form-control" capitalize />
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">
					N&uacute;mero
					<span ng-hide="canUseSimplesForm" class="required"> * </span>
				</label>
				<input type="text" name="txtLogradouroNumero" id="txtLogradouroNumero" ng-model="selectedCliente.nrNumero" placeholder="XXX" class="form-control" capitalize />
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Complemento</label> <input type="text" ng-model="selectedCliente.nmComplemento" placeholder="" class="form-control" capitalize/>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group"
			 ng-class="{ 'has-error': comboValidacao.invalidCidade }" >
				<label class="control-label">
					Cidade
					<span ng-hide="canUseSimplesForm" class="required"> * </span>
				</label>
				<ui-select name="selCidade" id="selCidade" ng-model="selectedCliente.cidade.id" theme="select2" class="form-control select2me"
				on-select="loadBairroOptions($item)">
				<ui-select-match
					placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
				<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group"
			 ng-class="{ 'has-error': comboValidacao.invalidBairro }" >
				<label class="control-label">
					Bairro
					<span ng-hide="canUseSimplesForm" class="required"> * </span>
				</label>
				<ui-select name="selBairro" id="selBairro" ng-model="selectedCliente.bairro.id" theme="select2" class="form-control select2me"
				on-select="alterarStatusValidacaoBairro()">
				<ui-select-match placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match>
				<ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
				<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Ponto de Referencia</label>
				<textarea id="maxlength_textarea" ng-model="selectedCliente.nmPontoReferencia" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
			</div>
		</div>
</fieldset>
