<div ng-controller="ClienteObservacaoController" class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Observa&ccedil;&otilde;es</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<div class="clear-fix">
									<button class="btn blue" ui-sref="atendimentoCliente.cliente-observacoes-novo">
										Novo<i class="fa fa-plus"></i>
									</button>
									<button class="btn green" ng-click="refreshObservacoes()">
										Atualizar<i class="fa fa-refresh"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<em ng-show="observacoes.length == 0">Sem dados disponiveis.</em>
				<table ng-hide="observacoes.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th>Data</th>
							<th>Usu&aacute;rio</th>
							<th>Observa&ccedil;&atilde;o</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in observacoes">
							<td><a ui-sref="atendimentoCliente.cliente-observacoes-editar({ id: item.id })" >{{item.dtObservacaoCliente | date : 'dd/MM/yyyy' : '-0400'}}</a></td>
							<td>{{item.funcionario.nmFuncionario}}</td>
							<td>{{item.nmObservacaoCliente}}</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
										... <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu pull-right" role="menu">
										<li><a ng-click="remove(item)"> Remover </a></li>
									</ul>
								</div>
							</td>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
