<div ng-controller="ClienteGuiasController">
	<div class="portlet light col-md-12">
		<div class="portlet-title">
			<div class="caption caption-md">
				<i class="fa fa-sticky-note-o"></i>
				<span class="caption-subject font-blue-madison bold">
					Guias
				</span>
				<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
			</div>
		</div>
		<div class="portlet-body">
			<table ng-table="tableParams" show-filter="true" ng-show="lGuias.hasOwnProperty('data')" class="table table-striped table-bordered table-hover">
				<tr ng-repeat="item in $data">
					<td data-title="'Código'" filter="{ 'id': 'text' }">
						<a ui-sref="atendimentoCliente.guiaDetail({ id: item.id })" class="table-main-link">
							{{('000000' + item.id).slice(-6)}}
						</a>
					</td>
					<td data-title="'Titularidade'" filter="{ 'titularidade': 'text' }">
						{{item.titularidade}}
					</td>
					<td data-title="'Beneficiário'" filter="{ 'beneficiario': 'text' }">
						{{item.beneficiario.name}}
					</td>
					<td data-title="'Validade'" filter="{ 'validade': 'text' }" ng-class="{'text-danger': item.expired}">
						{{item.validateFormated}}
						<strong ng-show="item.expired">Vencido</strong>
					</td>
				</tr>
			</table>
			<em ng-show="!lGuias.hasOwnProperty('data')">Não há dados</em>
		</div>
    </div>
</div>
