
<div ng-controller="ClienteAgendamentoController" id="divController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Novo Agendamento </span>
				</div>
			</div>
			<!-- END TITLE -->
			
			<div class="portlet-body">
				<form ng-submit="saveAgendamento()" id="formAgendamento">
					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						Dados Inv&aacute;lidos. Por favor verifique abaixo.
					</div>

					<!-- TIPO DE PACIENTE -->
					<div class="form-group">
						<h4><strong>&raquo; Dados do Paciente</strong></h4><br/>
						<div class="btn-group">
							<label class="btn btn-success btn-sm" ng-model="rdTipoPaciente" btn-radio="0" 
							 ng-required="!rdTipoPaciente" name="rdTipoPaciente" 
							 id="rdTipoPaciente">Titular</label>
							 <label class="btn btn-success btn-sm"
							  ng-model="rdTipoPaciente" btn-radio="1" 
							  ng-required="!rdTipoPaciente" 
							  ng-show="todosDependentesCliente.length > 0">Dependente</label>
						</div>
					</div>
					<!--END TIPO DE PACIENTE -->
					
					<!-- SWITCH COMPONENTES TIPO DE PACIENTE -->
					<div ng-switch on="rdTipoPaciente">
						
						<!-- INICIO TITULAR -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="0">
									<label class="control-label">
										Paciente (Titular) <span class="required"> * </span>
									</label> 
									<input type="text" ng-model="agendamento.paciente.nmPaciente" ng-readonly="true" name="txtNmPaciente"
									id="txtNmPaciente" class="form-control" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="0">
									<label class="control-label">
										Celular <span class="required"> * </span>
									</label>
									<input type="text" name="txtCelular" id="txtCelular" 
									 ng-model="agendamento.cliente.nrCelular" ng-readonly="false"
									 placeholder="(XX) XXXXX-XXXX" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="0">
									<label class="control-label">
										Plano/Contrato <span class="required"> * </span>
									</label>
									<ui-select name="planoTitular" id="planoTitular" ng-model="agendamento.contrato.id" ng-change="changedContrato($select.selected)" theme="select2" class="form-control select2me" required validation-field-required="true"
									validation-dynamically-defined="locallyDefinedValidations"> 
										<ui-select-match placeholder="Selecione...">
											{{$select.selected.planoFormatado}}
										</ui-select-match>
										<ui-select-choices
										 ui-disable-choice="item.boBloqueado == true"
										 repeat="item.id as item in contratoOptions | filter: $select.search">
											<div ng-bind-html="item.planoFormatado | highlight: $select.search"></div>
											<small> Contrato: <b>{{item.nrContrato}}</b> Faz uso Plano?: <b>
											<span ng-bind-html="''+ item.fazUsoPlanoFormatado | highlight: $select.search"></span></b> Bloqueado: <b>
											<span ng-bind-html="''+ item.boBloqueadoFormatado | highlight: $select.search"></span></b>
										</ui-select-choices> 
									</ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="0">
									<label class="control-label">Telefone <span class="required"> * </span></label> <input type="text" name="txtTelefone" id="txtTelefone" ng-model="agendamento.cliente.nrTelefone"
										ng-readonly="false" placeholder="(XX) XXXX-XXXX" class="form-control" />
								</div>
							</div>
						</div>
						<!-- END TITULAR -->

						<!-- INICIO DEPENDENTE -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="1">
									<label class="control-label">
										Paciente(Dependente) <span class="required"> * </span>
									</label>
									<ui-select ng-model="agendamento.dependente.id" theme="select2" class="form-control select2me" on-select="changePacienteDependente($select.selected)" name="nmDependente" id="nmDependente"
									append-to-body="true"> 
										<ui-select-match
										placeholder="Selecione...">{{$select.selected.nmDependente}}
										</ui-select-match> 
										<ui-select-choices repeat="item.id as item in dependenteOptions | filter: $select.search">
											<div ng-bind-html="item.nmDependente | highlight: $select.search"></div>
										</ui-select-choices> 
									</ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="1">
									<label class="control-label">Plano/Contrato
										<span ng-show="msgUsaPlano != null"> | Faz uso do plano? 
											<span ng-show="msgUsaPlano == true" style="font-weight:bold">SIM</span>
											<span ng-show="msgUsaPlano == false" style="font-weight:bold">NÃO</span>
										</span>
									</label>
									<ui-select name="planoDep" id="planoDep" ng-model="agendamento.contrato.id" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.contrato.planoFormatado}}</ui-select-match>
									<ui-select-choices ui-disable-choice="item.contrato.boBloqueado == true"  repeat="item.contrato.id as item in contratoDependenteOptions | filter: $select.search">
									<div ng-bind-html="item.contrato.planoFormatado | highlight: $select.search"></div>
									<small> Contrato: <b>{{item.contrato.nrContrato}}</b> Bloqueado: <b><span
											ng-bind-html="''+ item.contrato.boBloqueadoFormatado | highlight: $select.search"></span></b></ui-select-choices> </ui-select>
								</div>
							</div>
						</div>
						<!-- END DEPENDENTE -->
					</div>
					<!-- END SWITCH COMPONENTES TIPO DE PACIENTE -->
					<hr>
					<h4><strong>&raquo; Dados do Agendamento</strong></h4><br/>
					<div class="row">
						<!-- BEGIN RADIO TIPO AGENDAMENTO -->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Tipo de Agendamento</label>
								<br/>
								<div class="btn-group">
									<label class="btn btn-success btn-sm" ng-model="agendamento.inTipo" btn-radio="0" ng-click="resetCombos()">
										Agendamento
									</label> 
									<label class="btn btn-success btn-sm"  ng-model="agendamento.inTipo" id="rdTipo"	btn-radio="1" showrole="encaixeRoles" ng-click="resetCombos()">
										Encaixe
									</label>
								</div>
							</div>
						</div>
						<!-- END RADIO TIPO AGENDAMENTO -->

						<div class="col-md-6">
							<div class="form-group" ng-show="agendamento.inTipo">
								<label class="control-label">Motivo Encaixe <span class="required"> * </span></label>
								<textarea id="txtareaMotivo" name="txtareaMotivo" ng-model="agendamento.motivoEncaixe" class="form-control" maxlength="225" rows="2"
									placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Unidade <span class="required"> * </span></label>
								<ui-select ng-model="agendamento.unidade.id" theme="select2" class="form-control select2me" on-select="loadEspecialidades($item, true)" name="nmUnidade" id="nmUnidade"> <ui-select-match
									placeholder="Selecione...">{{$select.selected.nmUnidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
								<div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Especialidade <span class="required"> * </span></label>
								<ui-select ng-model="agendamento.especialidade.id" theme="select2" class="form-control select2me" on-select="loadSubEspecialidades($item, true)" name="nmEspecialidade" id="nmEspecialidade">
								<ui-select-match placeholder="Selecione...">{{$select.selected.nmEspecialidade}}</ui-select-match> <ui-select-choices
									repeat="item.id as item in especialidadeOptions | filter: $select.search">
								<div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-12">
		<!-- 				<div class="form-group">
								<label class="control-label">Sub-Especialidade</label>
								<ui-select ng-model="agendamento.subEspecialidade.id" theme="select2" class="form-control select2me" name="nmSubEspecialidade" id="nmSubEspecialidade"> <ui-select-match
									placeholder="Selecione...">{{$select.selected.nmSubEspecialidade}}</ui-select-match> <ui-select-choices
									repeat="item.id as item in subEspecialidadeOptions track by $index | filter: $select.search">
								<div ng-bind-html="item.nmSubEspecialidade | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div> -->
						</div>
					</div>
					
					<!-- BEGIN RADIO TIPO VISAO -->
					<div class="form-group">
						<label class="control-label">Visão por</label><br/>
						<div class="btn-group">
							<label class="btn btn-success btn-sm" ng-model="rdTipoVisao" 
							 btn-radio="0" ng-click="" id="rdTipoVisao">Profissional</label> 
							<label class="btn btn-success btn-sm" ng-model="rdTipoVisao" 
							id="rdTipoVisao" btn-radio="1" ng-click="">Especialidade</label>
						</div>
					</div>
					<!-- END RADIO TIPO VISAO -->

					<!-- BEGIN SWITCH COMPONENTS TIPO VISAO -->
					<div ng-switch on="rdTipoVisao">

						<!-- BEGIN VISAO PROFISSIONAL -->
						<div id="divVisaoProfissional" ng-switch-when="0">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Profissional <span class="required"> * </span></label>
										<ui-select ng-model="agendamento.profissional.id" theme="select2" class="form-control select2me" on-select="loadServicos($item, true)" name="nmFuncionario" id="nmFuncionario"> <ui-select-match
											placeholder="Selecione...">{{$select.selected.nmFuncionario}}</ui-select-match> <ui-select-choices repeat="item.id as item in profissionaisOptions | filter: $select.search">
										<div ng-bind-html="item.nmFuncionario | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Servi&ccedil;o <span class="required"> * </span></label>
										<ui-select ng-model="agendamento.servico.id" theme="select2" class="form-control select2me" on-select="loadTipoConsulta($item, true)" name="nmServico" id="nmServico"> <ui-select-match placeholder="Selecione...">{{$select.selected.servico.nmServico}}</ui-select-match>
										<ui-select-choices repeat="item.servico.id as item in servicoOptions | filter: $select.search">
										<div ng-bind-html="item.servico.nmServico | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Tipo Consulta <span class="required"> * </span></label>
								<ui-select ng-model="agendamento.inTipoConsulta" theme="select2" class="form-control select2me" on-select="loadCalendarioSemanal($item, true, true)" name="tipoConsulta" id="tipoConsulta">
								<ui-select-match placeholder="Selecione...">{{$select.selected.nmTipoConsulta}}</ui-select-match> <ui-select-choices repeat="item.id as item in tipoConsultaOptions | filter: $select.search">
								<div ng-bind-html="item.nmTipoConsulta | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
							<div>
								<accordion> <accordion-group heading="Visualizar Hor&aacute;rio de Atendimento do Profissional"> <em ng-show="calendarioSemanal.length == 0">Sem dados
									disponiveis.</em>
								<table ng-hide="calendarioSemanal.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
									<thead>
										<tr>
											<th>T. Atendimento</th>
											<th>Unidade</th>
											<th>Especialidade</th>
											<th>Sub-Especialidade</th>
											<th>Dia</th>
											<th>Turno</th>
											<th>In&iacute;cio</th>
											<th>Fim</th>
											<th>T. Consulta</th>
											<th>Qtd Paciente</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in calendarioSemanal">
											<td>{{item.nmTipoAtendimento}}</td>
											<td>{{item.nmUnidade}}</td>
											<td>{{item.nmEspecialidade}}</td>
											<td>{{item.nmSubEspecialidade}}</td>
											<td>{{item.nmDiaSemana}}</td>
											<td>{{item.nmTurno}}</td>
											<td>{{item.nmHrInicio}}</td>
											<td>{{item.nmHrFim}}</td>
											<td>{{item.nmTipoConsulta}}</td>
											<td>{{item.qtPacienteAtender}}</td>
										</tr>
									</tbody>
								</table>
								</accordion-group> </accordion>
							</div>
							<div class="form-group">
								<label class="control-label">
									Data <span class="required"> * </span>
								</label>

								<div ng-hide="viewLastAgendamentoTelemarketing" >
									<label ng-show="ultimoAgendamentoFaltoso" 
									class="control-label">
										<b>
											Ultimo agendamento faltoso em: {{ultimoAgendamentoFaltoso}}
										</b>
									</label>
								</div>
								
								<div style="display:inline-block; min-height:290px;" >
									<datepicker ng-model="agendamento.dtAgendamento" 
									 min-date="minDate"
									 date-disabled="dateRangeDisabled(date, mode)" 
									 date-picker-refresh-view="dateRangeDisablePromise" 
									 class="well well-sm"  
									 custom-class="getDayClass(date, mode)" 
									 ng-change="cleanHorario()">
									</datepicker>
								</div>
							</div>
						</div>
						<!-- END VISAO PROFISSIONAL getDayClass-->

						<!-- BEGIN VISAO ESPECIALIDADE -->
						<div id="divVisaoEspecialidade" ng-switch-when="1">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Calendário <span class="required"> * </span></label>
										<datepicker ng-model="agendamento.dtAgendamento" min-date="minDate" date-disabled="dateRangeCalendarioDisabled(date, mode)" date-picker-refresh-view="dateRangeCalendarioDisablePromise"
											class="well well-sm" custom-class="getDayClass(date, mode)" ng-change="loadProfissionaisDoDia()">
									</div>
								</div>
								<div class="col-md-6">
									<label class="control-label">Profissionais Disponíveis <span class="required"> * </span></label>
									<br/>
									<em ng-show="profissionaisDoDia.length == 0">Nenhum profissional encontrado.</em>
									<div style="overflow: auto; height: 230px;">
										<table ng-hide="profissionaisDoDia.length == 0" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>Selecione</th>
													<th>Profissional</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in profissionaisDoDia">
													<td><label class="btn btn-xs btn-success" ng-model="agendamento.profissional.id" btn-radio="{{item.id}}" ng-change="loadServicos(item, true, true)" id="rdProfissional">Selecionar</label></td>
													<td id="pulsate-once-target{{item.id}}">{{item.nmFuncionario}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Tipo Consulta <span class="required"> * </span></label>
										<ui-select ng-model="agendamento.inTipoConsulta" theme="select2" class="form-control select2me" on-select="loadCalendarioSemanal($item, false, true)" name="tipoConsulta" id="tipoConsulta">
										<ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in tipoConsultaOptions | filter: $select.search">
										<div ng-bind-html="item.description | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Servi&ccedil;o <span class="required"> * </span></label>
										<ui-select ng-model="agendamento.servico.id" theme="select2" class="form-control select2me" name="nmServico" id="nmServico"> <ui-select-match placeholder="Selecione...">{{$select.selected.servico.nmServico}}</ui-select-match>
										<ui-select-choices repeat="item.servico.id as item in servicoOptions | filter: $select.search">
										<div ng-bind-html="item.servico.nmServico | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
								</div>
							</div>
						</div>
						<!-- END VISAO ESPECIALIDADE -->
					</div>
					<!-- END SWITCH COMPONENTS TIPO VISAO -->

					<div class="form-group">
						<label class="control-label">Hor&aacute;rio/Ordem de Atendimento <span class="required"> * </span></label>
						<ui-select ng-model="agendamento.hrAgendamento" on-select="setValidaHorarioAgendamento($item)" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione..." >{{$select.selected.data}} {{$select.selected.boParticular ? "Particular":""}}</ui-select-match>
						<ui-select-choices repeat="item.id as item in horarioOptions | filter: $select.search">
						<div ng-bind-html="item.data + (item.boParticular ? ' Particular' : '') | highlight: $select.search"></div>
						</ui-select-choices> </ui-select>
					</div>
					<div class="margiv-top-10 text-right">
						<br/>
						<a ng-click="previous()" class="btn btn-danger" ng-disabled="buttonDisabled"> Cancelar </a>
						<input type="submit" class="btn green-haze" ng-disabled="buttonDisabled" value="Salvar" />
						<br/><br/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {

		$("#txtCelular").inputmask("(99) 99999-9999");

		$("#txtTelefone").inputmask("(99) 9999-9999");

	});

	var form = $('#formAgendamento');
	var error = $('.alert-danger', form);

	form.validate({
		errorElement : 'span', //default input error message container
		errorClass : 'help-block help-block-error', // default input error message class
		focusInvalid : true, // do not focus the last invalid input
		ignore : "", // validate all fields including form hidden input
		messages : {
			select_multi : {
				maxlength : jQuery.validator
						.format("Max {0} items allowed for selection"),
				minlength : jQuery.validator
						.format("At least {0} items must be selected")
			}
		},
		rules : {
			txtareaMotivo : {
				minlength : 5,
				required : function(element) {
					return $('#rdTipo').hasClass("active");
				}
			}
		},
		invalidHandler : function(event, validator) { //display error alert on form submit              
			error.show();
			Metronic.scrollTo(error, -200);
		},

		highlight : function(element) { // hightlight error inputs
			$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
		},

		unhighlight : function(element) { // revert the change done by hightlight
			$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
		},

		success : function(label) {
			label.closest('.form-group').removeClass('has-error'); // set success class to the control group
		},

		submitHandler : function(form) {
			error.hide();
		}
	});
</script>