<style>
#table_agendamento #idservico {
	margin-left: 0;
	width: 300px;
}
</style>
<div ng-controller="ClienteAgendamentoController" class="row">
	<div class="col-md-12">

		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light no-print">

			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Agendamentos Recentes</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<!-- END TITLE -->

			<!-- CONTENT-->
			<div class="portlet-body">
				<!-- ACTIONS-->
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<div class="clearfix">
									<button class="btn blue btn-sm"
									ui-sref="atendimentoCliente.cliente-agendamento-novo">
										Novo<i class="fa fa-plus"></i>
									</button>
									<button class="btn green btn-sm"
									ng-click="refreshAgendamentos()">
										Atualizar<i class="fa fa-refresh"></i>
									</button>
									<button class="btn green btn-sm"
									ng-click="refreshAgendamentos(true)">
										Todos<i class="fa fa-clock-o"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END ACTIONS-->

				<!-- LEGENDA STATUS AGENDAMENTO -->
				<div class="row" ng-show="agendamentos.length > 0">
					<div class="col-md-12">
						<div class="form-group text-right" >

							<div class="label label-xs label-danger" style="margin-right:10px"><i class="fa fa-lock" title="Bloqueado"></i> Bloqueado</div>

							<div class="label label-xs label-success" style="margin-left:10px"><i class="fa fa-thumbs-up" title="Liberado"></i> Liberado</div>

							<div class="label label-xs label-warning" style="margin-left:10px"><i class="fa fa-map-marker" title="Presente"></i> Presente</div>

							<div class="label label-xs label-primary" style="margin-left:10px"><i class="fa fa-star" title="Atendido"></i> Atendido</div>

							<div class="label label-xs label-default" style="margin-left:10px"><i class="fa fa-clock-o" title="Faltoso"></i> Faltoso</div>
						</div>
					</div>
				</div>
				<!-- END LEGENDA STATUS AGENDAMENTO -->

				<strong>
					<em ng-show="agendamentos.length == 0">Sem dados dispon&iacute;veis <br/></em>
				</strong>

				<!-- TABLE AGENDAMENTOS -->
				<table id="table_agendamento" ng-table="tableParams" show-filter="true"
				ng-hide="agendamentos.length == 0"
				class="table table-striped table-bordered table-condensed table-hover">
					<tr ng-repeat="item in $data">

						<td data-title="'C&oacute;digo'" filter="{ 'nrAgendamento': 'text' }">
							<a ui-sref="atendimentoCliente.cliente-agendamento-editar({ id: item.id })" class="table-main-link">{{item.nrAgendamento + (item.boParticular ? ' PARTICULAR':'')}}</a>
						</td>

						<td data-title="'Despesa'" filter="{ 'nrDespesa': 'text' }">
							{{item.nrDespesa}}
						</td>
						<td data-title="'Guia'" filter="{ 'idGuia': 'text' }">
							<a ui-sref="atendimentoCliente.guiaDetail({ id: item.idGuia })" class="table-main-link">
								<span ng-show="item.idGuia">
									{{('000000' + item.idGuia).slice(-6)}}
								</span>
							</a>
						</td>
						<td data-title="'Paciente'" filter="{ 'paciente': 'text' }">
							{{item.paciente}}
						</td>

						<td data-title="'Medico'" filter="{ 'profissional.nmFuncionario':'text' }">{{item.profissional.nmFuncionario}}
						</td>

						<td data-title="'Tipo'" filter="{ 'especialidade.nmEspecialidade':'text' }">
							<label title="{{item.especialidade.nmEspecialidade}}">
								{{item.especialidade.nmEspecialidade | limitTo : 7 }}
							</label>
						</td>

						<td data-title="'Serviço'" filter="{ 'servico.nmServico':'text' }">
							{{item.servico.nmServico}}
						</td>

						<td data-title="'Retorno'">{{item.retornoFormatado}}</td>

						<td data-title="'Data'" filter="{ 'dtAgendamentoFormatado':'text' }">{{item.dtAgendamentoFormatado }}
						</td>

						<td data-title="'Hora'">{{item.hrAgendamento}}</td>

						<td data-title="'Status'" ng-switch on="item.inStatus">
							<div ng-switch-when="0" class="label label-xs label-danger" style="margin-left:10px"><i class="fa fa-lock" title="Bloqueado"></i></div>
							<div ng-switch-when="1" class="label label-xs label-success" style="margin-left:10px"><i class="fa fa-thumbs-up" title="Liberado"></i></div>
							<div ng-switch-when="2" class="label label-xs label-primary" style="margin-left:10px"><i class="fa fa-star" title="Atendido"></i></div>
							<div ng-switch-when="3" class="label label-xs label-default" style="margin-left:10px"><i class="fa fa-clock-o" title="Faltoso"></i></div>
							<div ng-switch-when="4" class="label label-xs label-warning" style="margin-left:10px"><i class="fa fa-map-marker" title="Presente"></i></div>
						</td>

						<td data-title="'*'">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
									... <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right" role="menu">
									<li ng-show="item.boDespesaGerada != null && item.boDespesaGerada && item.inStatus != 2"><a ng-click="statusPresente(item)"> Presente </a></li>
									<li ng-show="item.inTipoAgendamento == 0 && (item.boDespesaGerada == null || !item.boDespesaGerada)"><a ng-click="openModalDespesaGerada(item)"> Adicionar Despesa </a></li>
									<!--
                                    <li ng-show="item.inTipoAgendamento == 0 && item.inStatus == 0 && item.boDespesaGerada"><a ng-click="openModalDespesaGerada(item)"> Adicionar Despesa Novamente </a></li>
                                    -->
									<li ng-hide="(item.boSolicitouRetorno && item.boRetornoGerado) || item.boRetorno"><a ng-click="openRetorno(item)"> Retorno </a></li>
									<li ng-show="(item.inStatus== 0 || item.inStatus == 1) && !checkEditRole(deleteRoles)"><a ng-click="deleteAgendamento(item)"> Excluir </a></li>
								</ul>
							</div>
						</td>
					</tr>
				</table>
				<br/><br/>
				<!-- END TABLE AGENDAMENTOS -->
			</div>
			<!-- END CONTENT-->
		</div>
	</div>
	<script type="text/ng-template" id="despesaModalContent.html">
	    <div class="modal-header">
	        <h4 class="modal-title">J&aacute; existe uma despesa gerada, a atual ser&aacute; exclu&iacute;da. Deseja continuar?
	        </h4>
	    </div>
	    <div class="modal-footer">
	        <button class="btn green-haze" type="button" ng-click="ok(item)">Confirmar</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
	</script>
</div>
