<div ng-controller="ClienteContratoController" class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Contratos</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<div class="clear-fix">
									<button class="btn green" ng-click="refreshContratos()">
											Atualizar<i class="fa fa-refresh"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<em ng-show="contratos.length == 0">Sem dados disponiveis.</em>
				<table ng-hide="contratos.length == 0" class="table table-striped table-bordered table-hover" id="table_dependentes">
					<thead>
						<tr>
							<th>
								 N&uacute;mero
							</th>
							<th>
								 Empresa
							</th>
							<th>
								 Plano
							</th>
							<th>
								 Situa&ccedil;&atilde;o
							</th>
							<th>
								 Data Contrato
							</th>
							<th>
								 Data Inativa&ccedil;&atilde;o
							</th>
							<th>
								 Tipo Inativa&ccedil;&atilde;o
							</th>
							<th>
								 Bloqueado
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in contratos">
							<td>
								<a ui-sref="atendimentoCliente.cliente-contratos-editar({ id: item.id })"  class="table-main-link">
									{{ item.nrContrato }}
								</a>
							</td>
							<td>{{item.empresaGrupo.nmFantasia}}</td>
							<td>{{item.plano.nmPlano}}</td>
							<td>{{item.situacaoFormatado}}</td>
							<td>{{item.dtContratoFormatado }}</td>
							<td>{{item.dtInativacaoFormatado }}</td>
							<td>{{item.tipoInativacaoFormatado}}</td>
							<td ng-switch on="item.boBloqueado">
								<div ng-switch-when="true" class="label label-sm label-danger">Bloqueado</div>
							</td>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
