<div ng-controller="ClienteContratoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Contrato</span> <span class="caption-helper">N&deg;
						{{selectedContrato.nrContrato}}<span>
				</div>
			</div>
			<div class="portlet-body">
				<form>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="checkbox-list">
									<label>Bloqueado? <span ng-switch on="selectedContrato.boBloqueado"> <span ng-switch-when="true" class="label btn-danger">Sim</span> <span ng-switch-when="false"
											class="label btn-success">N&atilde;o</span>
									</span></label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="checkbox-list">
									<label>Titular faz uso do plano? 
										<span ng-switch on="selectedContrato.boNaoFazUsoPlano"> 
											<span ng-switch-when="false" class="label btn-success">Sim
											</span>
											<span ng-switch-when="true" class="label btn-danger">
												N&atilde;o
											</span>
									</span></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Data *</label>
								<div class="input-group">
									<span class="input-group-addon"> <i class="fa fa-calendar"></i>
									</span> <input class="form-control" type="text" ng-model="selectedContrato.dtContratoFormatado" readonly />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Tipo *</label>
								<ui-select ng-model="selectedContratoCliente.inTipoCliente" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
								<ui-select-choices repeat="propType.id as propType in tipoClienteOptions track by $index | filter: $select.search">
								<div ng-bind-html="propType.description | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
					</div>
					<!-- FUNCIONARIO PUBLICO -->
					<div ng-switch on="selectedContratoCliente.inTipoCliente">
						<div ng-switch-when="1">
							<hr>
							<h4>Dados Funcionario Publico</h4>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Orgao *</label>
										<ui-select ng-model="selectedContratoCliente.orgao.id" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmOrgao}}</ui-select-match>
										<ui-select-choices repeat="propType.id as propType in orgaoOptions | filter: $select.search">
										<div ng-bind-html="propType.nmOrgao | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Grupo *</label> <input type="text" ng-model="selectedContratoCliente.orgao.grupoOrgao.nmGrupoOrgao" readonly class="form-control" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Matricula *</label> <input type="text" ng-model="selectedContratoCliente.nrMatricula" readonly class="form-control" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Vinculo *</label>
										<ui-select ng-model="selectedContratoCliente.inVinculo" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
										<ui-select-choices repeat="propType.id as propType in vinculoOptions track by $index | filter: $select.search">
										<div ng-bind-html="propType.description | highlight: $select.search"></div>
										</ui-select-choices> </ui-select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END FUNCIONARIO PUBLICO -->
					<hr>
					<h4>Plano</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Empresa Grupo *</label>
								<ui-select ng-model="selectedContrato.empresaGrupo.id" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmRazaoSocial}}</ui-select-match>
								<ui-select-choices repeat="propType.id as propType in empresagrupoOptions track by $index | filter: $select.search">
								<div ng-bind-html="propType.nmRazaoSocial | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Plano *</label> <input type="text" ng-model="selectedContrato.plano.nmPlano" ng-readonly="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Valor *</label> <input type="text" id="txtVlContrato" name="txtVlContrato" ng-model="selectedContrato.vlContrato" readonly placeholder="0,00" class="form-control" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Desconto % *</label>
								<ui-select ng-model="xyz" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
								<ui-select-choices repeat="propType.id as propType in descontoOptions track by $index | filter: $select.search">
								<div ng-bind-html="propType.description | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Desconto R$ *</label> <input type="text" id="txtVlDesconto" name="txtVlDesconto" ng-model="selectedContrato.vlDesconto" readonly placeholder="0,00"
									class="form-control" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label"><b>Total *</b></label> <input type="text" id="txtVlTotal" name="txtVlTotal" ng-model="selectedContrato.vlTotal" readonly placeholder="0,00" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Forma Pagamento *</label>
								<ui-select ng-model="selectedContrato.informaPagamento" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
								<ui-select-choices repeat="propType.id as propType in formaPagamentoOptions track by $index | filter: $select.search">
								<div ng-bind-html="propType.description | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Vendedor *</label>
								<ui-select ng-model="selectedContrato.funcionario.id" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmFuncionario}}</ui-select-match>
								<ui-select-choices repeat="propType.id as propType in vendedoresOptions track by $index | filter: $select.search">
								<div ng-bind-html="propType.nmFuncionario | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
					</div>
					<hr>
					<h4>Dados Bancarios</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Banco *</label>
								<ui-select ng-model="selectedContrato.banco.id" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmBanco}}</ui-select-match>
								<ui-select-choices repeat="propType.id as propType in bancoOptions track by $index | filter: $select.search">
								<div ng-bind-html="propType.nmBanco | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Conta</label> <input type="text" ng-model="selectedContrato.nrConta" readonly class="form-control" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Digito</label> <input type="text" readonly ng-model="selectedContrato.nrDigitoVerificador" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Agencia *</label>
								<ui-select ng-model="selectedContrato.agencia.id" ng-disabled="true" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nrAgencia}}</ui-select-match>
								<ui-select-choices repeat="propType.id as propType in agenciaOptions track by $index | filter: $select.search">
								<div ng-bind-html="propType.nrAgencia | highlight: $select.search"></div>
								</ui-select-choices> </ui-select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="checkbox-list">
									<label>Cadastro no Banco do Brasil? <span ng-switch on="selectedContrato.boCadastradoBancoBrasil"> <span ng-switch-when="true" class="label btn-success">Sim</span> <span
											ng-switch-when="false" class="label btn-success">N&atilde;o</span>
									</span></label>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<h4>Dados das Mensalidades</h4>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Talao N.o</label> <input type="text" ng-model="selectedContrato.nrTalao" readonly placeholder="XXXXX" class="form-control" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Vencimento Inicial</label>
								<div class="input-group">
									<span class="input-group-addon"> <i class="fa fa-calendar"></i>
									</span> <input class="form-control" id="txtDtVencimentoInicial" type="text" ng-model="selectedContrato.dtVencimentoInicialFormatado" readonly />
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Multa por atraso (%)</label> <input type="text" id="txtVlMultaAtraso" readonly ng-model="selectedContrato.vlMultaAtraso" placeholder="2,00" class="form-control" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Taxa de Juros (% ao mes)</label> <input type="text" id="txtVlTaxaJuros" readonly ng-model="selectedContrato.vlTaxaJuros" placeholder="4,00" class="form-control" />
							</div>
						</div>
					</div>
					<hr>
					<h4>Dependentes do Contrato</h4>
					<em ng-show="contratosDependentes.length == 0">Sem dados disponiveis.</em>
					<table ng-table ng-hide="contratosDependentes.length == 0" class="table table-striped table-bordered table-hover">
						<tr ng-repeat="item in contratosDependentes">
							<td data-title="'Nome'">{{item.dependente.nmDependente}}</td>
							<td data-title="'Parentesco'">{{item.dependente.parentescoFormatado}}</td>
							<td class="text-center" data-title="'Autorizar D&eacute;bito Autom&aacute;tico'" ng-switch on="item.blAutorizaDebAut">
								<div ng-switch-when="false" class="label label-sm label-danger">NAO</div>
								<div ng-switch-when="true" class="label label-sm label-success">SIM</div>
							</td>
							<td class="text-center" data-title="'Situação'" ng-switch on="item.inSituacao">
								<div ng-switch-when="1" class="label label-sm label-warning">INATIVO</div>
								<div ng-switch-when="0" class="label label-sm label-success">ATIVO</div>
							</td>
							<td class="text-center" data-title="'Faz uso do plano?'" ng-switch on="item.boFazUsoPlano">
								<div ng-switch-when="false" class="label label-sm label-danger">NAO</div>
								<div ng-switch-when="true" class="label label-sm label-success">SIM</div>
							</td>
						</tr>
					</table>
					<div class="margiv-top-10">
						<input type="submit" id="submit" class="btn green-haze" value="Salvar" /> <a ng-click="previous()" class="btn default"> Cancelar </a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {

		$("#txtVlContrato").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#txtVlTotal").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#txtVlDesconto").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			prefix : 'R$ ',
			removeMaskOnSubmit : true
		});

		$("#txtVlMultaAtraso").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			suffix : ' %',
			removeMaskOnSubmit : true
		});

		$("#txtVlTaxaJuros").inputmask("decimal", {
			radixPoint : ",",
			groupSeparator : ".",
			digits : 2,
			autoGroup : true,
			suffix : ' %',
			removeMaskOnSubmit : true
		});

	});
</script>