<form id="formPagamento" name="formPagamento" ng-submit="finalizarConversao(form)" class="horizontal-form" novalidate ng-hide="contratoCriado">
	<fieldset>
		<legend>Pagamento</legend>
		<div class="row">
			<div class="form-group">
				<label>Forma de pagamento <span class="required"> * </span></label>
				<div class="radio-list">
                    <label class="radio-inline" ng-repeat="forma in formasPagamento" ng-if="forma.id != 2 || (forma.id == 2 && contratoCliente.inTipoCliente == 0)">
                        <input type="radio" name="forma-pagamento" icheck class-radio-icheck="iradio_square-blue" ng-value="forma.id" ng-model="contrato.informaPagamento" ng-change="checkFormaPagamento(forma.id)">{{forma.nmFormaPagamento}}
                    </label>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-5" ng-if="contrato.informaPagamento == 30 || contrato.informaPagamento == 0">
				<div class="form-group" >
					<label>Vencimento inicial <span class="required">*</span> </label>
					<input type="text" class="form-control" placeholder="Selecione uma data" datepicker-popup="{{format[0]}}" ng-model="contrato.dtVencimentoInicial" is-open="status.opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false" close-on-date-selection="true" close-text="Fechar" ng-focus="showDatePicker()" />
				</div>
			</div>
            <div class="col col-md-5" ng-if="contrato.informaPagamento == 1 || contrato.informaPagamento == 2">
				<div class="form-group" >
					<label>Vencimento inicial <span class="required">*</span> </label>
					<input type="date" class="form-control" placeholder="Selecione uma data" ng-model="contrato.dtVencimentoInicial" disabled />
				</div>
			</div>
		</div>
		<div class="row" ng-if="contrato.informaPagamento == 1">
				<div class="col col-md-5">
					<label>Banco <span class="required">*</span></label>
					<select class="form-control" ng-model="contrato.banco.id" ng-change="loadAgenciasBanco(contrato.banco.id)" ng-required="contrato.informaPagamento == 1">
						<option ng-repeat="banco in listaBancos" ng-value="banco.id" ng-selected="banco.id == contrato.banco.id">{{banco.nmBanco}}</option>
					</select>
				</div>
				<div class="col col-md-4">
					<label>Ag&ecirc;ncia <span class="required">*</span> </label>
					<ui-select class="form-control select2me" theme="select2" ng-model="contrato.agencia.id" ng-required="contrato.informaPagamento == 1">
						<ui-select-match placeholder="Selecione a agência...">
							{{$select.selected.nrAgencia}} - {{$select.selected.nmAgencia}}
						</ui-select-match>
						<ui-select-choices repeat="item.id as item in listaAgenciasBanco | filter: $select.search">
							<div ng-bind-html="item.nrAgencia + ' - ' + item.nmAgencia | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-3"></div>
			<div class="form-group">
				<div class="col col-md-5">
					<label>Conta <span class="required"> * </span> </label>
					<input type="text" class="form-control" placeholder="Número da conta" ng-model="contrato.nrConta" 
                           ng-required="contrato.informaPagamento" maxlength="9"/>
				</div>
				<div class="col col-md-2">
					<label>D&iacute;gito Conta <span class="required"> * </span> </label>
					<input type="text" class="form-control" placeholder="Numéro da agência" ng-model="contrato.nrDigitoVerificador" 
                           ng-required="contrato.informaPagamento == 1" maxlength="2"/>
                   
				</div>
			</div>
		</div>
		<div class="row" ng-if="contrato.informaPagamento == 30">
			<div class="col-md-12">
				<div class="row">
					<div class="col col-md-7">
						<div class="form-group">
							<label>Nome do titular <span class="required"> * </span> </label>
							<input type="text" class="form-control" placeholder="Nome do titular como consta no cartão" ng-model="cartao.portador" ng-required="contrato.informaPagamento == 30" capitalize />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-6 col-md-4 col-lg-4">
							<label>N&uacute;mero do cart&atilde;o <span class="required"> * </span> </label>
							<input id="cardnum" name="cardnum" type="text" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="19" pattern="\d{13,19}" ng-model="cartao.numero" ng-required="contrato.informaPagamento == 30" />
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3">
							<label>C&oacute;digo de seguran&ccedil;a <span class="required"> * </span> </label>
							<input type="text" class="form-control" placeholder="XXX" maxlength="4" ng-model="cartao.cvv" ng-required="contrato.informaPagamento == 30" pattern="\d{3,4}" />
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3">
							<div class="form-group">
								<label>Validade <span class="required"> * </span> </label>
								<input type="text" class="form-control" placeholder="Selecione uma data" datepicker-popup="{{format[1]}}" ng-model="cartao.vencimento" is-open="statusDtVencimento.opened" min-date="minDate" datepicker-options="optionsVencCartao" date-disabled="disabled(date, mode)" ng-required="contrato.informaPagamento == 30" show-button-bar="false" close-on-date-selection="true" close-text="Fechar" ng-focus="statusDtVencimento.opened = true" />
							</div>
						</div>
						<div class="col-sm-6 col-md-2 col-lg-2">
							<label>Tipo cart&atilde;o <span class="required"> * </span> </label>
							<div class="radio-list">
			                    <label style="cursor: pointer;">
			                        <input type="checkbox" name="is-elo" icheck class-check-icheck="icheckbox_square-blue" 
			                        ng-model="cartao.isElo"/> É cartão elo
			                    </label>
			                </div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-12">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="text-center">
							<br/><br/>
							<button type="button" class="btn blue-soft" ng-disabled="formPagamento.$invalid || creatingSubscription || assinaturaCriada" ng-click="criarAssinatura()">
								<i class="fa fa-credit-card" aria-hidden="true"></i>
								Criar assinatura
								<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="creatingSubscription"></i>
							</button>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</fieldset>
	<div class="text-center">
		<div class="alert alert-danger" ng-if="contratoErro">
			<strong>{{contratoErroMsg}}</strong>
		</div>

		<button class="btn green" ng-disabled="formPagamento.$invalid || (contrato.informaPagamento == 30 && creatingSubscription) || savingContrato == true">
			Salvar contrato
			<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="savingContrato"></i>
		</button>
	</div>
</form>

<script>
	$(document).ready(function() {
		$("#cardnum").inputmask('9999-9999-9999-9999');
	});
</script>