<!-- 

@author : Phillip Furtado
@since : 01-01-2016
@last-modification: 23-05-2016
@version : 1.1 

-->

<div ng-controller="ClienteDespesaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">

			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Lan&ccedil;ar Despesa </span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif"
						data-loading>
				</div>
			</div><!-- END TITLE -->

			<div class="portlet-body">

				<form ng-submit="saveDespesa()" id="formDespesa">
					
					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						Dados Inv&aacute;lidos. Por favor verifique abaixo.
					</div>

					<h4><strong>&raquo; Tipo de cliente</strong></h4>
					<div class="form-group">
						<div class="btn-group">
							<label class="btn btn-success btn-sm" ng-model="rdTipoPaciente" btn-radio="0" ng-required="!rdTipoPaciente" name="rdTipoPaciente" id="rdTipoPaciente">
								Titular
							</label> 
							<label class="btn btn-success btn-sm"
								ng-model="rdTipoPaciente" btn-radio="1" ng-required="!rdTipoPaciente">
								Dependente
							</label>
						</div>
					</div>

					<div ng-switch on="rdTipoPaciente">

						<!-- INICIO TITULAR -->
						<div class="row">

							<div class="col-md-6">
								<div class="form-group" ng-switch-when="0">
									<label class="control-label">Paciente (Titular) <span class="required"> * </span></label> <input type="text" ng-model="despesa.contratoCliente.cliente.nmCliente" ng-readonly="true"
										name="txtNmPaciente" id="txtNmPaciente" class="form-control" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" ng-switch-when="0">
									<label class="control-label">
										Plano/Contrato <span class="required"> * </span>
									</label>
									<ui-select name="planoTitular" id="planoTitular" 
									ng-model="despesa.contratoCliente.contrato.id" 
									theme="select2" class="form-control select2me" 
									required validation-field-required="true"
									validation-dynamically-defined="locallyDefinedValidations"> 
										<ui-select-match placeholder="Selecione...">
											{{$select.selected.planoFormatado}}
										</ui-select-match> 

										<ui-select-choices
										ui-disable-choice="item.boBloqueado == true" 
										repeat="item.id as item in contratoOptions | filter: $select.search">
										
											<div ng-bind-html="item.planoFormatado | highlight: $select.search"></div>

											<small> Contrato: <b>{{item.nrContrato}}</b> 
												Faz uso Plano?: <b>
												<span ng-bind-html="''+ item.fazUsoPlanoFormatado | highlight: $select.search"></span>
												</b> Bloqueado: <b>
												<span ng-bind-html="''+ item.boBloqueadoFormatado | highlight: $select.search"></span></b> 
											</small>

										</ui-select-choices> 
									</ui-select>
								</div>
							</div>
						</div>
						<!-- FIM TITULAR -->

						<!-- INICIO DEPENDENTE -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="1">
									<label class="control-label">Paciente(Dependente) <span class="required"> * </span></label>
									<ui-select ng-model="despesa.dependente" theme="select2" class="form-control select2me" on-select="changePacienteDependente($select.selected)" name="nmDependente" id="nmDependente">
									<ui-select-match placeholder="Selecione...">{{$select.selected.nmDependente}}</ui-select-match> <ui-select-choices repeat="item in dependenteOptions | filter: $select.search">
									<div ng-bind-html="item.nmDependente | highlight: $select.search"></div>
									</ui-select-choices> </ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-switch-when="1">
									<label class="control-label">Plano/Contrato</label>
										<span ng-show="msgUsaPlano != null"> | Faz uso do plano? 
											<span ng-show="msgUsaPlano == true" style="font-weight:bold">SIM</span>
											<span ng-show="msgUsaPlano == false" style="font-weight:bold">NÃO</span>
										</span>
									<ui-select name="planoDep" id="planoDep" ng-model="despesa.contratoDependente.contrato.id" theme="select2" class="form-control select2me"> <ui-select-match
										placeholder="Selecione...">{{$select.selected.contrato.planoFormatado}}</ui-select-match> <ui-select-choices ui-disable-choice="item.contrato.boBloqueado == true" repeat="item.contrato.id as item in contratoDependenteOptions | filter: $select.search">
									<div ng-bind-html="item.plano.nmPlano | highlight: $select.search"></div>
									<small> Contrato: <b>{{item.contrato.nrContrato}}</b> Bloqueado: <b><span
											ng-bind-html="''+ item.contrato.boBloqueadoFormatado | highlight: $select.search"></span></b></small></ui-select-choices> </ui-select>
								</div>
							</div>
						</div>

					</div><!-- END SWITCH TITULAR/DEPENDENTE -->
					
					<!-- INICIO ORCAMENTO -->
					<hr> 
					<div class="row" ng-switch on="rdTipoPaciente" >

						<!-- INICIO ORCAMENTO TITULAR -->
						<div id="orcamentoTitular" ng-switch-when="0" 
						ng-show="canShowTitularOrcDetails" >


							<div style="margin-left: 16px;">
								<h4>
									<strong>&raquo; Or&ccedil;amento(Titular)</strong>
								</h4>
							</div>

							<br />
							<div class="col-md-6">
								<div class="form-group">
																		
									<ui-select name="orcamentoTitular" id="orcamentoTitular" ng-model="titularOrcamento.id" theme="select2" 
									class="form-control select2me" 
									on-select="carregarServicosOrcamento($item,'T')"> 
										
										<ui-select-match placeholder="Selecione o orçamento...">
											{{$select.selected.nmEspecialidade}} ({{$select.selected.dtAtendimento | date: 'dd/MM/yyyy' }})
										</ui-select-match> 

										<ui-select-choices
										repeat="item.idOrcamentoExame as item in orcamentosTitular | filter: $select.search">
											<div ng-bind-html="item.nmEspecialidade | highlight: $select.search">
											</div>
											<small> 
												Profissional:
												<b><span  ng-bind-html="''+ item.nmFuncionario | highlight: $select.search">
												</span></b> 
												Data Or&ccedil;amento: 
												<b><span ng-bind-html="''+ item.dtAtendimento | highlight: $select.search | date: 'dd/MM/yyyy'" >
												</span></b> 
											</small>
										</ui-select-choices> 
									</ui-select>
								</div>
							</div><!-- END COMBO ORCAMENTOS TITULAR -->		

							
							<div class="col-md-12" ng-show="servicosOrcamentoTitular.length > 0">

								<br/>
								<div class="table-responsive">
									<table class="table table-hover table-bordered">
									    <thead>
									      <tr>
									      	<th>Quantidade</th>
									        <th>Servi&ccedil;o</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr ng-repeat="servicosOrcamento in servicosOrcamentoTitular">
									      	<td>{{servicosOrcamento.quantidade}}</td>
									        <td>{{servicosOrcamento.nmServico}}</td>
									      </tr>
									    </tbody>
									  </table>
								</div>
								<div class="text-right">
									<a class="btn btn-primary btn-sm" ng-click="addServicosOrcamento(servicosOrcamentoTitular)"
									du-smooth-scroll="servicosSelecionados" duration="1000">	Utilizar servi&ccedil;os</a>	
								</div>
							</div><!-- END TABLE SERVICOS ORCAMENTOS -->
							
							<div class="col-md-12">
								<hr>	
							</div>
							
						</div><!-- END ORCAMENTO TITULAR-->

						<!-- INICIO ORCAMENTO DEPENDENTE  -->
						<div id="orcamentoDependente" ng-switch-when="1"
						ng-show="canShowDependenteOrcDetails">

							<div style="margin-left:16px;">
								<h4>
									<strong>&raquo; Or&ccedil;amento( Dependente )</strong>
								</h4>

							</div>

							<br />
							<div class="col-md-6">
								<div class="form-group">
																		
									<ui-select id="orcamentoDep"
									name="orcamentoDep" 
									ng-model="orcamentoDependente.id" theme="select2" 
									class="form-control select2me" 
									on-select="carregarServicosOrcamento($item,'D')"> 
										
										<ui-select-match placeholder="Selecione o orçamento...">
											{{$select.selected.nmEspecialidade}} ({{$select.selected.dtAtendimento | date: 'dd/MM/yyyy' }})
										</ui-select-match> 

										<ui-select-choices
										repeat="item.idOrcamentoExame as item in orcamentosDependente | filter: $select.search">
											<div ng-bind-html="item.nmEspecialidade | highlight: $select.search">
											</div>
											<small> 
												Profissional:
												<b><span  ng-bind-html="''+ item.nmFuncionario | highlight: $select.search">
												</span></b> 
												Data Or&ccedil;amento: 
												<b><span ng-bind-html="''+ item.dtAtendimento | highlight: $select.search | date: 'dd/MM/yyyy'" >
												</span></b> 
											</small>
										</ui-select-choices> 
									</ui-select>
								</div>
							</div><!-- END COMBO ORCAMENTOS DEPENDENTE -->	

							<br/>
							<div class="col-md-12" ng-show="servicosOrcamentoDependente.length > 0">
								<div class="table-responsive">
									<table class="table table-hover table-bordered">
									    <thead>
									      <tr>
									      	<th>Quantidade</th>
									        <th>Servi&ccedil;o</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr ng-repeat="servicosOrcamento in servicosOrcamentoDependente">
									      	<td>{{servicosOrcamento.quantidade}}</td>
									        <td>{{servicosOrcamento.nmServico}}</td>
									      </tr>
									    </tbody>
									  </table>
								</div>
								<div class="text-right">
									<a class="btn btn-primary btn-sm" ng-click="addServicosOrcamento(servicosOrcamentoDependente)"
									du-smooth-scroll="servicosSelecionados" duration="1000">	Utilizar Sevi&ccedil;os</a>	
								</div>
							</div><!-- END TABLE SERVICOS ORCAMENTOS -->	
							
							<br/><br/>
							<hr>	
						</div><!-- END ORCAMENTO DEPENDENTE-->
						
					</div><!--  END ORCAMENTO CONTENT-->

					<h4>
						<strong>&raquo; Servi&ccedil;os</strong>
					</h4>

					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					
					<br/><br/>
					<div class="input-group">
						<ui-select id="uiSelectServicoSearch" ng-model="servicoSelected" reset-search-input="false" autofocus="true" on-select="addServico($item)"> <ui-select-match
							placeholder="Digite um nome de servi&ccedil;o">{{$select.selected.nmServico}}</ui-select-match> <ui-select-choices repeat="servico in servicos track by $index"
							refresh="atualizarSelectServicos($select.search)" refresh-delay="1000">
						<div ng-bind-html="servico.nmServico | highlight: $select.search"></div>
						<small> COD: {{servico.nrCodServico}} Servi&ccedil;o: <span ng-bind-html="''+ servico.nmServico | highlight: $select.search"></span>
						</small> </ui-select-choices> </ui-select>
						<span class="input-group-addon"> <i class="fa fa-search" popover-placement="right" popover-title="Dica"
							popover="Utilize '%' no inicio e/ou fim da palavra para obter resultados mais precisos." popover-trigger="mouseenter"></i>
						</span>
					</div>
					
					<br/>
					<p>{{selectedServicoNotFound}}</p>
					<div class="text-right">
							<div class="btn-group pull-right">
								<button type="button" ng-show="lastDespesaServicoEncaminhado" class="btn btn-xs blue" ng-click="encaminharTodos(despesa)">
									<i class="fa fa-forward"></i>Encaminhar Todos
								</button>
							</div>
							<br/>
					</div>
					<br/>
					<div class="col-md-12" id="servicosSelecionados">
						<h4 ng-show="despesaServicosSelecionados.toArray().length > 0">Lista de servi&ccedil;os selecionados</h4>
					</div>
					
					<table ng-hide="despesaServicosSelecionados.toArray().length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>C&oacute;digo</th>
								<th>Servi&ccedil;o</th>
								<th>Qtd.</th>
								<th>Valor</th>
								<th>Coberto</th>
								<th>Aberto</th>
								<th>Cred./Prof.</th>
								<th>Status</th>
								<th>Encaminhar</th>
								<th>Remover</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in despesaServicosSelecionados.toArray()">
								<td>{{item.servico.nrCodServico}}</td>
								<td>{{item.servico.nmServico}}</td>
								<td>
									<div class="input-group" style="width: 90px;" ng-show="item.qtServico">
										<b>{{item.qtServico}}</b>
										<div class="spinner-buttons input-group-btn">
											<button type="button" class="btn btn-xs spinner-up default" ng-click="increaseItemQtdServico(item)">
												<i class="fa fa-angle-up"></i>
											</button>
											<button type="button" class="btn btn-xs spinner-down default" ng-click="decreaseItemQtdServico(item)">
												<i class="fa fa-angle-down"></i>
											</button>
										</div>
									</div>
								</td>
								<td>{{item.vlServico | currency }}</td>
								<td>{{item.vlCoberto | currency }}</td>
								<td>{{item.vlAberto | currency }}</td>
								<td>{{item.profissional.nmFuncionario}}{{item.encaminhamento.credenciada.descricao}}</td>
								<td>
									<span ng-switch on="item.boEncaminhado">
										<span ng-switch-when="false" class="label label-sm label-danger">
											N&Atilde;O ENCAMINHADO
										</span> 
										<span ng-switch-when="true"
										class="label label-sm label-success">Encaminhado</span>
								    </span><br /> <br /> 
                                    <span ng-switch on="item.inCoberto"> 
                                        <span ng-switch-when="false" class="label label-sm label-warning">Sem Cobertura</span> 
                                        <span ng-switch-when="true" class="label label-sm label-success">Coberto</span>
								    </span>
                                </td>
								<td>
                                    <button type="button" class="btn btn-info btn-xs " popover-title="Ajuda" popover="Abrir Tela de Encaminhamento" popover-trigger="mouseenter"
										ng-click="openEncaminhamentoModal([item], despesa)">
										<i class="fa fa-forward"></i>
									</button> <br />
									<button ng-show="lastDespesaServicoEncaminhado" type="button" popover-title="Ajuda"
										popover="Encaminhamento Autom&aacute;tico para o &uacute;ltimo profissional/credenciada utilizado. (Quando for poss&iacute;vel atender o servi&ccedil;o)" popover-trigger="mouseenter"
										class="btn btn-xs blue" ng-click="encaminharAutomatico(item, despesa)">
										<i class="fa fa-forward"></i> Auto
									</button>
                                </td>
								<td>
                                    <button type="button" class="btn btn-xs gray" ng-click="removeDespesaServico(item)">
										<i class="fa fa-trash-o" popover="Remover"></i>
									</button>
                                </td>
							</tr>
						</tbody>
					</table>

					<hr/>
					<h4>
						<strong>&raquo; Dados da Despesa</strong>
					</h4>

					<br/>
					<div class="actions" >
						<div class="btn-group">
							<div class="clear-fix">
								<button class="btn btn-primary btn-xs " type="button" ng-click="printOrcamentoPDF()">
									<i class="fa fa-print"></i>{{printOrcamentoPDFButton}}
								</button>
							</div>
						</div>
					</div>
				
					<object ng-show="orcamentopdf" data="{{orcamentopdf}}" type="application/pdf" style="width: 100%; height: 400px;"></object>

					<br/>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group form-md-line-input">
								<div class="form-control form-control-static">{{despesa.vlDespesaTotal | currency }}</div>
								<label for="form_control_1">Valor Total</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group form-md-line-input">
								<div class="form-control form-control-static">{{despesa.vlDespesaCoberta | currency }}</div>
								<label for="form_control_1">Valor Coberto</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group form-md-line-input">
								<div class="form-control form-control-static">{{despesa.vlDespesaAberto | currency }}</div>
								<label for="form_control_1">Valor em Aberto</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Observa&ccedil;&atilde;o</label>
						<textarea id="maxlength_textarea" ng-model="despesa.nmObservacao" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
					</div>

					<br>
					<div class="margiv-top-10 text-right">
						<a ng-click="previous()" class="btn btn-danger"> Cancelar </a>
						<input type="submit" id="submit" ng-disabled="buttonDisabled" class="btn btn-primary" value="Salvar" /> 
					</div>
					<br/>
				</form>
			</div>
		</div>
	</div>
</div>