<div class="modal-header">
	<h4 class="modal-title">Encaminhamento de Despesa</h4>
</div>
<div class="modal-body">
	<table ng-hide="ds.toArray().length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
		<thead>
			<tr>
				<th>Servi&ccedil;os sem encaminhamento</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in ds.toArray()">
				<td>{{item.servico.nmServico}}</td>
			</tr>
		</tbody>
	</table>
	<div class="form-group">
		<label class="control-label">Tipo de Encaminhamento </label>
		<div class="input-group">
			<label class="btn btn-info" ng-model="ds[0].rdTipoEncaminhamento" btn-radio="0" ng-required="!ds[0].rdTipoEncaminhamento" name="rdTipoEncaminhamento" id="rdTipoEncaminhamento">Interno</label> <label
				class="btn btn-info" ng-model="ds[0].rdTipoEncaminhamento" btn-radio="1" ng-required="!ds[0].rdTipoEncaminhamento">Externo</label>
		</div>
	</div>
	<div ng-switch on="ds[0].rdTipoEncaminhamento">
		<!-- ENCAMINHAMENTO INTERNO -->
		<div ng-switch-when="0">
			<div class="form-group">
				<label class="control-label">Tipo de Encaminhamento Interno </label>
				<div class="input-group">
					<label class="btn btn-info" ng-model="ds[0].rdTipoEncaminhamentoInterno" btn-radio="0" ng-required="!ds[0].rdTipoEncaminhamentoInterno" name="rdTipoEncaminhamentoInterno"
						id="rdTipoEncaminhamentoInterno">Profissional</label> <label class="btn btn-info" ng-model="ds[0].rdTipoEncaminhamentoInterno" btn-radio="1" ng-required="!ds[0].rdTipoEncaminhamentoInterno">Credenciada
						Interna</label>
				</div>
			</div>
			<div ng-switch on="ds[0].rdTipoEncaminhamentoInterno">
				<div class="form-group" ng-switch-when="0">
					<label class="control-label">Profissional <span class="required"> * </span></label>
					<ui-select ng-model="ds[0].profissionalDTO" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.descricao}}</ui-select-match> <ui-select-choices
						repeat="item as item in profissionaisOptions | filter: $select.search">
					<div ng-bind-html="item.descricao | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>
				<div class="form-group" ng-switch-when="1">
					<label class="control-label">Credenciada Interna <span class="required"> * </span></label>
					<ui-select ng-model="ds[0].credenciadaInternaDTO" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.descricao}}</ui-select-match>
					<ui-select-choices repeat="item as item in credenciadasInternaOptions | filter: $select.search">
					<div ng-bind-html="item.descricao | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>
			</div>
		</div>
		<!-- ENCAMINHAMENTO EXTENO -->
		<div class="form-group" ng-switch-when="1">
			<label class="control-label">Credenciada <span class="required"> * </span></label>
			<ui-select ng-model="ds[0].credenciadaExternaDTO" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.descricao}}</ui-select-match>
			<ui-select-choices repeat="item as item in credenciadasExternaOptions | filter: $select.search">
			<div ng-bind-html="item.descricao | highlight: $select.search"></div>
			</ui-select-choices> </ui-select>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>