<div ng-controller="ClienteDespesaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Despesa </span><span class="caption-helper"><b>{{despesaDTO.despesa.id}}</b><span>
							<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
				<div class="actions">
					<div class="btn-group">
						<div class="clear-fix">
							<button class="btn btn-xs green" ng-click="printDespesaPDF()">
								<i class="fa fa-print"></i>{{printDespesaPDFButton}}
							</button>
							<button class="btn btn-xs green" ng-click="printEncaminhamentoPDF()">
								<i class="fa fa-print"></i> {{printEncaminhamentoPDFButton}}
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<object ng-show="despesapdf" data="{{despesapdf}}" type="application/pdf" style="width: 100%; height: 400px;"></object>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group form-md-line-input">
							<div class="form-control form-control-static">{{despesaDTO.despesa.id}}</div>
							<label for="form_control_1">N&deg; Despesa</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group form-md-line-input">
							<div class="form-control form-control-static">{{despesaDTO.despesa.dtDespesaFormatado}}</div>
							<label for="form_control_1">Data de Lan&ccedil;amento</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group form-md-line-input">
							<div class="form-control form-control-static">{{despesaDTO.despesa.vlDespesaTotalFormatado}}</div>
							<label for="form_control_1">Valor Total</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-md-line-input">
							<div class="form-control form-control-static">{{despesaDTO.despesa.contratoCliente.cliente.nmCliente}}</div>
							<label for="form_control_1">Titular</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-md-line-input">
							<div class="form-control form-control-static">{{despesaDTO.despesa.nomePaciente}}</div>
							<label for="form_control_1">Paciente</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-md-line-input">
							<div class="form-control form-control-static">{{despesaDTO.despesa.operadorCadastro.nmFuncionario}}</div>
							<label for="form_control_1">Operador de Inclus&atilde;o</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-md-line-input">
							<div class="form-control form-control-static">{{despesaDTO.despesa.nmObservacao}}</div>
							<label for="form_control_1">Observa&ccedil;&atilde;o</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Observa&ccedil;&otilde;es do Plano</label>
					<h4 class="list-group-item-text">{{despesaDTO.despesa.contratoCliente.contrato.plano.observacao}}</h4>
				</div>
				<div class="form-group form-md-line-input">
					<label for="form_control_1">Servi&ccedil;os</label> <em ng-show="despesaDTO.despesaServicos.length == 0">Sem dados disponiveis.</em>
					<table ng-hide="despesaDTO.despesaServicos.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>C&oacute;digo</th>
								<th>Servi&ccedil;o</th>
                                <th>Guia</th>
                                <th>Coberto</th>
                                <th>Qtd</th>
								<th>Valor</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in despesaDTO.despesaServicos">
								<td>{{item.id}}</td>
								<td>{{item.servico.nmServico}}</td>
								<td>
									<span ng-show="item.guia.id">{{('000000' + item.guia.id).slice(-6)}}
									</span>
								</td>
                                <td>{{item.inCobertoFormatado}}</td>
                                <td>{{item.qtServico}}</td>
								<td>{{item.vlServicoFormatado}}</td>

							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group form-md-line-input">
					<label for="form_control_1">Parcelas</label> <em ng-show="despesaDTO.parcelas.length == 0">Sem dados disponiveis.</em>
					<table ng-hide="despesaDTO.parcelas.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>C&oacute;digo</th>
								<th>Vencimento</th>
								<th>Valor</th>
								<th>Data Inclus&atilde;o</th>
								<th>Quitada</th>
								<th>Data Pagamento</th>
								<!-- <th>Quitar/Desquistar</th>-->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in despesaDTO.parcelas">
								<td>{{item.nrParcela}}</td>
								<td>{{item.dtVencimentoFormatado}}</td>
								<td>{{item.vlParcelaFormatado}}</td>
								<td>{{item.dtInclusaoFormatado}}</td>
								<td ng-switch on="item.dtPagamento || '_undefined_'">
									<div ng-switch-when="_undefined_" class="label label-sm label-danger">N&atilde;o</div>
									<div ng-switch-default class="label label-sm label-success">Sim</div>
								</td>
								<td>{{item.dtPagamentoFormatado}}</td>
								<!--<td><button ng-show="item.dtPagamento == null && !checkEditRole(quitarRoles)" type="button" class="btn btn-xs blue" ng-click="abrirTextareaQuitarParcela(item)">
										<i class="fa fa-thumbs-o-up"></i> Quitar
									</button>
									<button ng-show="item.dtPagamento != null && !checkEditRole(desquitarRoles)" type="button" class="btn btn-xs red" ng-click="desquitarParcela(item)">
										<i class="fa fa-thumbs-o-down"></i> Desquitar
									</button></td>-->
							</tr>
						</tbody>
					</table>
				</div>
				<form ng-submit="quitarParcela()" id="formQuitarDespesa" class="horizontal-form">
					<div class="form-group" ng-show="showMotivoQuitacao">
						<label class="control-label">Motivo para Quitação</label>
						<textarea id="maxlength_textarea" ng-model="motivoQuitacao" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
					</div>
					<div class="margiv-top-10">
						<input type="submit" class="btn green-haze" ng-show="showMotivoQuitacao && !checkEditRole(quitarRoles)" value="Quitar" /><a ng-click="previous()" class="btn default"> Cancelar </a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
