<div ng-controller="ClienteObservacaoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Nova Observa&ccedil;&atilde;o </span>
				</div>
			</div>
			<div class="portlet-body">
				<form ng-submit="saveObservacao()" id="formObservacao">
					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						Dados Inv&aacute;lidos. Por favor verifique abaixo.
					</div>
					<div class="form-group">
						<label class="control-label" for="areaObservacao">Observacao *</label>
						<textarea id="areaObservacao" name="areaObservacao" class="form-control" maxlength="1000" ng-model="observacao.nmObservacaoCliente" rows="5" placeholder="Limite 1000 caracteres"> </textarea>
					</div>
					<div class="margiv-top-10">
						<input type="submit" id="submit" class="btn green-haze" value="Salvar" /> <a ng-click="previous()" class="btn default"> Cancelar </a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	var form = $('#formObservacao');
	var error = $('.alert-danger', form);

	form.validate({
		errorElement : 'span', //default input error message container
		errorClass : 'help-block help-block-error', // default input error message class
		focusInvalid : true, // do not focus the last invalid input
		ignore : "", // validate all fields including form hidden input
		messages : {
			select_multi : {
				maxlength : jQuery.validator
						.format("Max {0} items allowed for selection"),
				minlength : jQuery.validator
						.format("At least {0} items must be selected")
			}
		},
		rules : {
			areaObservacao : {
				required : true
			}
		},
		invalidHandler : function(event, validator) { //display error alert on form submit              
			error.show();
			Metronic.scrollTo(error, -200);
		},

		highlight : function(element) { // hightlight error inputs
			$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
		},

		unhighlight : function(element) { // revert the change done by hightlight
			$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
		},

		success : function(label) {
			label.closest('.form-group').removeClass('has-error'); // set success class to the control group
		},

		submitHandler : function(form) {
			error.hide();
		}
	});
</script>