	<div ng-controller="ClienteDependenteController" class="row" >
	
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Dependentes</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>

			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<div class="clear-fix">
									<a class="btn blue btn-sm" <a href="#" ui-sref="atendimentoCliente.cliente-dependentes-editar({id: null})" >
										Novo<i class="fa fa-plus"></i>
									</a>
									<button class="btn green btn-sm" ng-click="refreshDependentes()">
										Atualizar<i class="fa fa-refresh"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			<em ng-show="dependentes.length == 0">Sem dados disponiveis.</em>
				<table ng-hide="dependentes.length == 0" class="table table-striped table-bordered table-hover" id="table_dependentes">
					<thead>
						<tr>
							<th>Codigo</th>
							<th>Nome</th>
							<th>Mandar SMS</th>
							<th>Parentesco</th>
						
						</tr>
					</thead>
					<tr ng-repeat="item in dependentes">
						<td>
							<a href="#" ui-sref="atendimentoCliente.cliente-dependentes-editar({ id: item.id})" >{{ item.nrCodCliente }}</a> 
						</td>
						<td>{{item.nmDependente}}</td>
						<td>
							<div  ng-click="enviarDependente (item)" >
							<button id="popoverBtn"
									popover-template="myPopover.templateUrl" 
									popover-trigger = "click"
									popover-title="Informativos"
									popover-placement="left"  
									class="btn btn-sm btn-primary text-center" 
									popover-append-to-body="true" 
									popover-is-open="myPopover.isOpen" 
    								ng-click="myPopover.open()">SMS
							</button>

							</div>
						</td>
						<td>{{item.parentescoFormatado}}</td>
				</table>
		
				<script type="text/ng-template" id="myPopoverInformativo.html">
					<div>
						<table st-table="aux" class="table table-striped table-bordered table-hover" >
							<thead >
								<tr>
									<th>Referencia</th>
									<th>Descrição</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in informativoOptions" >
									<td><input ng-click="check(item.value1)" type="checkbox" ng-model="item.value1"> {{item.nmReferencia}}</td> 
									<td>{{item.nmInformativo}}</td>
								</tr>
							</tbody>
						</table>
						<div class="text-right"> 

							<button  title="Fechar" ng-click="myPopover.close()" class="btn btn-danger btn-circle btn-icon-only "><i class="fa fa-times" aria-hidden="true" style="font-size:17px"></i></button>
						 	<button title="Enviar" ng-click="enviarSMS()"  class="btn btn-success btn-circle btn-icon-only " ng-disabled="botaoEnviar || qtdcheck <= 0"><i class="fa fa-check" aria-hidden="true" style="font-size:17px"></i></button>
			
						</div>

					</div>
				</script>	
		
			</div>
		</div>
	</div>

</div>

