<style>

	.btn {
		border: none;
		color: white;
		padding: 14px 28px;
		cursor: pointer;
	}

	.padrao {background-color: #3333ff;} /*blue*/
	.padrao:hover {background: #0000cc;}

	.danger {background-color: rgba(249, 17, 0, 0.56);} /* Red */ 
	.danger:hover {background: #da190b;}

	.warning {background-color: rgba(255, 152, 0, 0.7);} /* Orange */
	.warning:hover {background: #e68a00;}

	.attetion{background-color: #ffff66} /*yellow*/
	.attetion:hover {background: #ffff00}
	
	.btn span.fa-check {    			
		opacity: 0;				
	}
	.btn.active span.fa-check {				
		opacity: 1;				
	}

	.danger.active{
		background-color: rgb(249, 17, 0);
	}

	.warning.active{
		background-color: #ff9a01;
	}
	.blue.active{
		background-color: #043556 !important; /*dark blue*/ 
	}

</style>
<div class="modal-header" ng-show="!showInfoTriagem">
    <h4 class="modal-title" style="text-align: center">Selecione a prioridade do paciente: </h4>
</div>
<div class="row">
	<br><br>
	<div class="row">
		<div class="col-md-12">
			<div class="portlet-body">
				<div class="alert alert-warning" style="text-align: center" ng-show="showInfoTriagem">
					<strong>Atenção!</strong> Após responder, encaminhe o paciente para a triagem.	
				</div>
				<div class="text-center"  ng-show="showInfoTriagem">
					<img src="assets/global/img/medical-images/triagem.jpg" alt="triagem"/>
				</div>
				<div class="row">
					<div class="col-md-12">
						<br>
						<div class="col-md-12 btn-group"><!-- 
							<button type="button" class="btn danger"> URGÊNCIA </button>
							<button type="button" class="btn warning"> MUITA URGÊNCIA</button> -->
							<label class="btn blue"  style="margin-left: 5%; float:none" ng-model="prioridaderec.inTipoPrioridade" btn-radio="'0'" uncheckable>
				            	NORMAL
				            </label>
							<label class="btn blue" style="margin-left: 5%; float:none" ng-model="prioridaderec.inTipoPrioridade" btn-radio="'1'" uncheckable>
				             	PRIORIDADE
				            </label>
				            <label class="btn blue" style="margin-left: 5%; float:none" ng-model="prioridaderec.inTipoPrioridade" btn-radio="'2'" uncheckable>
				            	PRIORIDADE ACIMA 80 ANOS
				            </label>
						</div>
						<br/><br><br>
						<div class="row">
							<br>
							<div class="col-md-12" style="margin-left: 5%">SITUAÇÃO DO PACIENTE (OPCIONAL): 
								<label class="btn danger btn-sm" style="margin-left: 15%; width: 30%" ng-model="prioridaderec.statusPrioridade" btn-radio="'1'" uncheckable>
						             	URGÊNCIA
						        </label>	
					        </div>
						</div>
						<br/>
						<div class="col-md-12" ng-show="prioridaderec.statusPrioridade == 1">
							<textarea id="nmDescricao" class="form-control input-sm"  rows="3"
							 ng-model="prioridaderec.obsurgencia" placeholder="Reporte as condições do paciente" style="text-transform: lowercase;"></textarea>
							<span class="help-block text-right"> 
								<label class="label label-sm label-info">
								{{ ( 50 - prioridaderec.obsurgencia.length ) + ' carac. restantes' }} 
								</label>
							</span>
						</div>
						<!-- <div class="row">
							<div class="col-md-12 btn-group">
								<label class="btn danger btn-sm"  style="margin-left: 10%; width: 30%" ng-model="statusPrioridade" btn-radio="'1'" uncheckable>
					            	MUITA URGÊNCIA
					            </label>
								            
					            <label class="btn blue" style="margin-left: 15%" ng-model="statusPrioridade" btn-radio="'2'" uncheckable>
					             	PRIORIDADE
					            </label>
							</div>
						</div> -->
					</div>
				</div>
				<br>
				
			</div>
		</div>
	</div>
	<div class="modal-footer">
	    <div class="text-center">
	    	<button class="btn btn-sm green" ng-click="finalizar(prioridaderec)">FINALIZAR</button>
	    	<button class="btn btn-sm default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
	</div> 
</div>