<div ng-controller="ClienteLaudosController">
	<div class="portlet light col-md-12">
        
        <!-- BEGIN TITLE -->
		<div class="portlet-title">
			<div class="caption caption-md">
				<span class="caption-subject font-blue-madison bold uppercase"> Laudos Médicos</span>
				<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
			</div>

		</div>
		<!-- END TITLE -->
			 <div class="wrapper text-center">
				<div class="btn-group" data-toggle="buttons">
					<label class = "btn blue" ng-click= "tipoCliente(1)">
						<input type="radio" class="toggle">Cliente</label>
					<label class = "btn blue" ng-click= "tipoCliente(0)">
						<input type="radio" class="toggle">Dependente</label>
				</div>   
			 </div>
        <!-- BEGIN DATA RESULTS -->  
        <br/><br/> 
		<strong ng-show = "showTable == false">
			<em>Sem dados dispon&iacute;veis.</em>
		</strong>

        <div class="row" ng-show = "showTable">
    		<div class="col-md-12">		

    			<div class="portlet box blue">
                    
                    <div class="portlet-title">
                        <div class="caption">
                          Laudos
                        </div>
                    </div>

                    <div class="portlet-body flip-scroll">   
					                  
                        <br/>
						
                        <table class="table table-bordered table-striped table-condensed table-hover flip-content">
                         	<thead>
								<tr>
									<th class="text-center">Agendamento</th>
									<th class="text-center">Nome</th>
									<th class="text-center">Especialidade</th>
									<th class="text-center">Serviço</th>
                                    <th class="text-center">Data do exame</th>
                                    <th class="text-center">Laudo (2º via)</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tipo in historicoLaudos | orderBy: '-dtAtendimento'">
									<td class="text-center">{{tipo.nrAgendamento}}</td>
									<td class="text-center">{{tipo.nmPaciente}}</td>
									<td class="text-center">{{tipo.nmEspecialidade}}</td>
									<td class="text-center">{{tipo.nmServico}}</td>
									<td class="text-center">{{tipo.dtAtendimento}}</td>
									<td class="text-center">
										<button type="button" ng-click="pdf(tipo.arqLaudo)" class="btn btn-sm btn-primary">
											<i class="fa fa-file-text-o" aria-hidden="true" ></i>
										</button>	
									</td>
								</tr>
							</tbody>
                        </table>
                        <br>
            		</div>
         		</div>
    		</div>
        </div>
        <!-- END TABLE  -->
    </div>
 </div>
