<div class="row">
	<div class="col-md-12">
		<div id="wizard" class="swMain">
			<!-- start: WIZARD SEPS -->
			<ul>
				<li ng-click="form.goTo(Form, 1)">
					<a href ng-class="{'selected' : currentStep >= 1, 'done' : currentStep > 1}">
						<div class="stepNumber">
							1
						</div>
						<span class="stepDesc text-small"> Titular </span>
					</a>
				</li>
				<li ng-click="form.goTo(Form, 2)">
					<a href ng-class="{'selected' : currentStep >= 2, 'done' : currentStep > 2}">
						<div class="stepNumber">
							2
						</div>
						<span class="stepDesc text-small"> Dependentes </span>
					</a>
				</li>
				<li ng-click="form.goTo(Form, 3)">
					<a href ng-class="{'selected' : currentStep >= 3, 'done' : currentStep > 3}">
						<div class="stepNumber">
							3
						</div>
						<span class="stepDesc text-small">Contrato</span>
					</a>
				</li>
				<li ng-click="form.goTo(Form, 4)">
					<a href ng-class="{'selected' : currentStep >= 4, 'done' : currentStep > 4}">
						<div class="stepNumber">
							4
						</div>
						<span class="stepDesc text-small">Forma de Pagamento </span>
					</a>
				</li>
				<li ng-click="form.goTo(Form, 5)">
					<a href ng-class="{'selected' : currentStep >= 5, 'done' : currentStep > 5}">
						<div class="stepNumber">
							5
						</div>
						<span class="stepDesc text-small"> Comprovantes </span>
					</a>
				</li>
			</ul>
			<!-- end: WIZARD SEPS -->

			<!-- start: WIZARD STEP 1 -->
			<div id="step-1" ng-show="currentStep == 1">
				<div class="row">
					<div class="col-md-12">
						<form id="formCliente" name="formCliente" ng-submit="saveCliente(formCliente,false)"
						class="horizontal-form" ng-validate="validationOptions" novalidate 
						ng-hide="fluxControl.wasCadastrado">
							<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/cliente-conta-cadastrar-template.html'"></div>
							<div class="margiv-top-10">
								<a ng-click="previous()" class="btn default"> Cancelar </a>
								<button type="submit" class="btn green-haze" ng-disabled="buttonDisabled">
									Salvar cliente
									<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="buttonDisabled"></i>
								</button> 
							</div>
						</form>

						<!-- <div ng-show="fluxControl.wasCadastrado" class="text-center">
							<p>Cliente cadastrado com sucesso</p>
							<button class="btn btn-info" ng-click="form.next()">
								Proximo Passo
							</button>
						</div> -->
						
					</div>
				</div>
			</div>
			<!-- end: WIZARD STEP 1 -->

			<!-- start: WIZARD STEP 2 -->
			<div id="step-2" ng-show="currentStep == 2">
				<form ng-if="listaNovosDependentes && listaNovosDependentes.length > 0">
					<fieldset>
						<legend>Dependentes cadastrados</legend>
						<div class="row">
							<div class="col col-md-10">
								<!-- <div class="radio-list">
				                    <label ng-repeat="pessoa in listaUsuarios" style="cursor: pointer;">
				                        <input type="checkbox" name="incluidos" icheck class-check-icheck="icheckbox_square-blue" 
				                        ng-model="pessoa.checked"/>
				                        {{pessoa.isTitular ? pessoa.nmCliente + ' (Titular)' : pessoa.nmDependente + ' (Dependente)'}} 
				                    </label>
				                </div> -->
				                <label class="list-group">
									<li ng-repeat="dep in listaNovosDependentes">
										{{dep.nmDependente}}
									</li>
								</label>
							</div>
						</div>
					</fieldset>
				</form>
				<div class="row">
					<div class="col-md-offset-3 col-md-6" ng-show="fluxControl.canShowAddDependenteOption" >
						<h4 class="text-center"><strong>Deseja cadastrar um novo dependente?</strong></h4>
						<div class="text-center">
							<button class="btn btn-success btn-md" ng-click="habilitarCadastroDependente()">
								Sim
							</button>
							<button class="btn btn-danger  btn-md" ng-click="form.next(); finishedDependentes()" >
								Nao (Ir para pr&oacute;ximo passo)
							</button>
						</div>
					</div>

					<div class="col-md-offset-3 col-md-6" ng-show="fluxControl.wasCadastradoDependente && !fluxControl.canCadastrarDependente ">
						<!-- <div class="row" ng-if="listaNovosDependentes && listaNovosDependentes.length > 0">
							<div class="col-md-12">
								<p>Dependentes cadastrados</p>
								<ul class="list-group">
									<li class="list-group-item" ng-repeat="dep in listaNovosDependentes">
										{{dep.nmDependente}}
									</li>
								</ul>
							</div>
						</div> -->
						<!-- <p> Dependente cadastrado com sucesso </p> -->
						<div class="row">
							<button class="btn btn-warning  btn-md" ng-click="fluxControl.canCadastrarDependente = true" >
								Novo Dependente
							</button>
							<button class="btn btn-success btn-md" ng-click="form.next(); finishedDependentes()">
								Proximo passo
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</button>
							<br>
						</div>
						
					</div>

					<div class="col-md-12" ng-show="fluxControl.canCadastrarDependente">
							<div ng-show="fluxControl.wasCadastrado" class="text-center">
								<!-- <p>Cliente cadastrado com sucesso</p> -->
								<button class="btn blue" ng-click="form.next(); finishedDependentes()">
									Proximo Passo
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
								</button>
							</div>

						<form id="formDependente" name="formDependente"
						class="horizontal-form" ng-submit="saveDependente(formDependente)"
						ng-validate="validationDependenteOptions" novalidate >
							<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/dependente-conta-template.html'"></div>	

							<div class="margiv-top-10">


								<a ng-click="cancelarCadastroDependente()" class="btn default"> Cancelar </a>

								<button type="submit" class="btn green-haze" ng-disabled="formDependente.$invalid || buttonDisabled"
								>
									Incluir dependente
									<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="buttonDisabled"></i>
								</button>

							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end: WIZARD STEP 2 -->

			<!-- BEGIN wrapper para controller de criacao de contratos -->
			<div ng-controller="ClienteContratoNovoController">
				<!-- start: WIZARD STEP 3 -->
				<div id="step-3" ng-show="currentStep == 3">
					<div class="row">
						<div class="col-md-12">
							<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/cliente-contrato-novo-template.html'" onload="stepTreeStarted(); formStep = 3"></div>
						</div>
					</div>
				</div>
				<!-- end: WIZARD STEP 3 -->

				<!-- start: WIZARD STEP 4 -->
				<div id="step-4" ng-show="currentStep == 4">
					<div class="row">
						<div class="col-md-12">
							<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/cliente-contrato-novo-pagamento-template.html'"></div>
						</div>
					</div>
				</div>
				<!-- end: WIZARD STEP 4 -->
			</div>
			<!-- END wrapper para controller de criacao de contratos -->

			<!-- start: WIZARD STEP 5 -->
			<div id="step-5"  ng-show="currentStep == 5">
				<div class="row">
					<div class="col-md-12">
						<div ng-include="'templates/admin4_material_design/angularjs/views/cliente/cliente-contrato-novo-comprovante.html'"></div>
					</div>
				</div>
			</div>
			<!-- end: WIZARD STEP 5 -->

		</div>
	</div>
</div>

<script>
	

	var form = $('#formDependente');
	var error = $('.alert-danger', form);

</script>