<fieldset>
	<legend>
		Dados Pessoais
	</legend>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
                <label class="control-label" for="txtNome">Nome<span class="required"> * </span></label>
                <input type="text" name="txtNome" id="txtNome" ng-model="dependente.nmDependente" class="form-control" capitalize />
			</div>
		</div>
		<div class="col-md-6">
			<div class="profile-sidebar-right profile-userpic">
				<img alt="Clique aqui para atualizar a foto" ng-click="openModalAbrirCameraFoto()" data-ng-src="data:image/png;base64,{{dependente.fotoDependenteDecoded}}" ng-if="dependente.fotoDependenteDecoded != null" class="img-responsive" style="padding:1px; border:1px solid #021a40;" /> <img
					 alt="Clique aqui para atualizar a foto" ng-click="openModalAbrirCameraFoto()" src="assets/admin/pages/media/profile/avatar.gif" class="img-responsive" ng-if="dependente.fotoDependenteDecoded == null">
			</div>
		</div>


		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label" for="txtCPF">CPF</label> <input type="text" id="txtCPF" name="txtCPF"  ng-model="dependente.nrCpf" placeholder="XXX.XXX.XXX-XX" class="form-control" ui-br-cpf-mask />
			</div>
		</div>

        <div class="col-md-3">
			<div class="form-group">
				<label class="control-label">
					Data de Nascimento<span class="required"> * </span>
				</label>
				<input type="text" name="txtDtNascimento" id="txtDtNascimento" class="form-control"
				ng-model="dependente.dtNascimento" ui-date-mask="DD-MM-YYYY" placeholder="DD/MM/YYYY"/>
            </div>
		</div>
		<div class="col-md-3" >

				<div class="form-group"	ng-class="{ 'has-error': comboValidacao.invalidParentesco }">
					<label class="control-label">Parentesco<span class="required"> * </span></label>
					<ui-select ng-model="dependente.inParentesco" theme="select2"  class="form-control select2me" required="true" name="cbParentesco" id="cbParentesco"> <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
					<ui-select-choices repeat="propType.id as propType in parentescoOptions track by $index | filter: $select.search">
					<div ng-bind-html="propType.description | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>

		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Sexo</label>
				<div class="input-group">
					<label class="btn btn-primary" ng-model="dependente.inSexo" btn-radio="0">Masculino</label>
					<label class="btn btn-primary" ng-model="dependente.inSexo" btn-radio="1">Feminino</label>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Celular</label>
				<input type="text" name="txtCelularDep" id="txtCelularDep" ng-model="dependente.nrCelular"
                       placeholder="(99) 99999-9999" class="form-control" ui-br-phone-number />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Telefone</label>
				<input type="text"  id="txtTelefoneDep" name="txtTelefoneDep" ng-model="dependente.nrTelefone"
                       placeholder="(99) 9999-9999" class="form-control" ui-br-phone-number />
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Email</label>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-envelope"></i>
					</span> <input type="text"  ng-model="dependente.nmEmail" class="form-control" placeholder="nome@dominio.com.br">
				</div>
			</div>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>
		Endere&ccedil;o
	</legend>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">CEP<span class="required"> * </span></label>
				<input type="text" name="txtCEP" ng-model="dependente.nrCep" placeholder="XXXXX-XXX"
                       class="form-control" cep-validate />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Logradouro<span class="required"> * </span></label>
				 <input type="text" name="txtLogradouro" ng-model="dependente.nmLogradouro" placeholder="XXX"
                        class="form-control" capitalize/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Numero<span class="required"> * </span></label>
                <input type="text" name="txtLogradouroNumero"  ng-model="dependente.nrNumero" placeholder="XX"
                       class="form-control" />
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Complemento</label>
                <input type="text"  ng-model="dependente.nmComplemento" placeholder="" class="form-control" capitalize/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group"
			ng-class="{ 'has-error': comboValidacao.invalidCidade }">
				<label class="control-label">Cidade<span class="required"> * </span></label>
				<ui-select ng-model="dependente.cidade.id" theme="select2" class="form-control select2me" on-select="loadBairroOptions($item)"> <ui-select-match
					placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
				<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group"
			ng-class="{ 'has-error': comboValidacao.invalidBairro }">
				<label class="control-label">Bairro<span class="required"> * </span></label>
				<ui-select  ng-model="dependente.bairro.id" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match>
				<ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
				<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Ponto de Referencia</label>
				<textarea id="maxlength_textarea" class="form-control" maxlength="225" ng-model="dependente.nmPontoReferencia" rows="2" placeholder="Limite 225 caracteres" capitalize></textarea>
			</div>
		</div>
	</div>
</fieldset>

<script type="text/ng-template" id="cadDigitalFotoModalDepContent.html">
    <div class="modal-header">
        <h4 class="modal-title">Deseja cadastrar uma nova digital?
        </h4>
    </div>
    <div class="modal-footer">
    	<button class="btn green-haze" type="button" id="btnCadDigitalFoto" ng-click="cadDigitalFoto()">{{digitalFotoDepMsg}}</button>
        <button class="btn default" type="button" ng-click="exit()">Fechar</button>
        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>

<script type="text/ng-template" id="abrirFotoDependente.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Por favor, alinhe a imagem no centro da Câmera.
	        </h4>
	    </div>
		<div class="modal-body" style="width: 100%; display: table;">
			<webcam channel="cameraSettings"></webcam>
		</div>
		<canvas id="snapshot" name="snapshot" style="display:none;" />
		<textarea class="snapshot-data ng-pristine ng-valid" ng-model="snapshotData" ng-show="showBase64" style="display: none;"></textarea>
	    <div class="modal-footer">
 			<button class="btn green-haze" type="button" ng-click="makeSnapshot()">Tirar Foto</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
</script>
