<div ng-controller="ClienteGuiaDetailsController">
	<div class="portlet light col-md-12">
		<div class="portlet-title">
			<div class="caption caption-md">
				<i class="fa fa-sticky-note-o"></i>
				<span class="caption-subject font-blue-madison bold">
					Guia
				</span>
				<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
			</div>
		</div>
		<div class="portlet-body">
			<div class="row print-content">
			    <div class="modal-header text-center">
			        <h2 class="modal-title">
			            Guia - <strong>{{('000000' + guia.id).slice(-6)}}</strong>
			        </h2>
			        <div class="margin10horizonte">
			            <div class="text-left">
			                <p class="">
			                    Criado em: <strong>{{dateCreatePretty}}</strong>
			                </p>
			                <p class="">
			                    Válido até: <strong>{{dateValidPretty}}</strong>
			                </p>
			                <p class="">
			                    Beneficiário (Paciente):
			                    <strong>{{own}}</strong>
			                </p>
			                <p class="">
			                    Titularidade:
			                    <strong>{{ownership}}</strong>
			                    <span ng-show="ownership == 'Dependente'">
			                        do titular
			                        <strong>{{guia.cliente.nmCliente}}</strong>
			                    </span>
			                </p>
			                <p>
			                    Agende em:
			                    <strong>{{company.nmUnidade}}</strong>
			                    <br/>
			                    <strong>{{company.nmLogradouro}}, Número {{company.nrNumero}},
			                        Bairro {{company.bairro.nmBairro}}
			                    </strong>
			                </p>
			                <p>
			                    Contato para agendamento:
			                    <strong>{{company.nrTelefone1}}</strong>
			                </p>
			            </div>
			        </div>
			    </div>
			    <div class="modal-body col-md-12">
			        <div class="col-md-12 text-center">
			            <table ng-hide="guia.guiaServicos.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
			                <thead>
			                    <tr>
			                        <th>Serviço</th>
			                        <th>Despesa</th>
			                        <th>Agendamento</th>
			                        <th>Status</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr ng-repeat="item in guia.guiaServicos track by $index">
			                        <td class="text-left">{{item.servico.nmServico}}</td>
			                        <td class="text-left">
										<span ng-hide="item.despesa.id">
											{{item.despesa.label}}
										</span>
										<a ng-show="item.despesa.id" ui-sref="atendimentoCliente.cliente-despesas-editar({ id: item.despesa.id})" class="">
											<i class="icon-wallet"></i>
											{{item.despesa.label}}
										</a>
			                        </td>
			                        <td class="text-left">
										<span ng-hide="item.agendamento.id">
											{{item.agendamento.label}}
										</span>
										<a ng-show="item.agendamento.id" ui-sref="atendimentoCliente.cliente-agendamento-editar({ id: item.agendamento.id})" class="">
											<i class="icon-calendar"></i>
											{{item.agendamento.label}}
										</a>
			                        </td>
			                        <td class="text-left">
										{{item.statusLabel}}
			                        </td>
			                    </tr>
			                </tbody>
			            </table>
			            <hr />
			            <div class="no-print">
			                <button class="btn btn-warning" type="button" ng-click="backList()">
			                    <i class="fa fa-arrow-left"></i>
			                    Voltar
			                </button>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
    </div>
</div>
