<div class="modal-header">
	<h4 class="modal-title">Informa&ccedil;&otilde;es do Funcion&aacute;rio P&uacute;blico</h4>
</div>
<div class="modal-body">
	<form name="ccInfoForm" class="row">
		<div class="col-md-12">
			<p>Atualize os dados cadastrais</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<label class="control-label" for="field-matricula">Matricula</label>
			<input name="field-matricula" class="form-control" type="text" ng-model="contracheque.nrMatricula" required />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<label class="control-label" for="field-orgao">Org&atilde;o</label>
			<input name="field-orgao" class="form-control" type="text" ng-model="contracheque.nmOrgao" required />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<label class="control-label" for="field-senha">Senha</label>
			<input name="field-senha" class="form-control" type="text" ng-model="contracheque.nmSenha" required />
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn default" type="button" ng-click="continueWithoutUpdate()">N&atilde;o atualizar</button>
	<button class="btn blue" type="submit" form="ccInfoForm" ng-disabled="ccInfoForm.$invalid" ng-click="updateContracheque()">Autualizar informa&ccedil;&otilde;es</button>
</div>
