<div >
	<div class="row">
		<div class="col-md-12">	
			<div class="caption">
	       		<h3 class="text-center">
	       			<span>{{empresaFinanceiroSelecionada.nmFantasia}} </span>
	       		</h3>
	    	</div>

			<button type="button" class="btn btn-warning btn-primary btn-sm"
					ui-sref="folha_importacao({idEmpresaFinanceiro: empresaFinanceiroSelecionada.idEmpresaFinanceiro,nmEmpresaNickName:empresaFinanceiroSelecionada.nmNickName,
					nmFantasia:empresaFinanceiroSelecionada.nmFantasia})" 
					title="importar para {{empresaFinanceiroSelecionada.nmFantasia}}" >
					Importar Folha
			</button>
		</div>
	</div>
	<!-- FIM DIV IMPORTAR FOLHA -->
	
	<br/>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">Resumo
							Folha {{folhaPagamentoMesAnterior.mesanoreferencia}}</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<div class="clear-fix">
								<button class="btn btn-xs blue"
									ui-sref="folha_dashboard-validar( {mesAnoReferencia: folhaPagamentoMesAnterior.mesanoreferencia, 
									idEmpresaFinanceiro: empresaFinanceiroSelecionada.idEmpresaFinanceiro, tipoGrupoFinanceiro: empresaFinanceiroSelecionada.inTipoGrupo,
									nmFantasia: empresaFinanceiroSelecionada.nmFantasia}  )" >
									Validar Folha</i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-hover table-light">
							<thead>
								<tr>
									<th>Descri&ccedil;&atilde;o</th>
									<th></th>
									<th>Valor</th>
								</tr>
							</thead>
							<tr>
								<td>Sal&aacute;rio Base</td>
								<td><span class="glyphicon glyphicon-bookmark"></span></td>
								<td>{{folhaPagamentoMesAnterior.somasalariobase | currency:"R$"}} </td>
							</tr>
							<tr>
								<td>Sal&aacute;rio Folha</td>
								<td><span class="glyphicon glyphicon-saved"></span></td>
								<td>{{folhaPagamentoMesAnterior.somasalariofolha | currency:"R$"}} </td>
							</tr>
							<tr>
								<td>Descontos</td>
								<td><span class="glyphicon glyphicon-chevron-down"
									style="color: blue"></span></td>
								<td>{{folhaPagamentoMesAnterior.somadescontos | currency:"R$"}}</td>
							</tr>
							<tr>
								<td>Acr&eacute;scimos</td>
								<td><span class="glyphicon glyphicon-chevron-up"
									style="color: red"></span></td>
								<td>{{folhaPagamentoMesAnterior.somaacrescimos | currency:"R$"}}</td>
							</tr>
							<tr>
								<td><span class="bold font-green-haze">Total a Pagar</span></td>
								<td><span class="glyphicon glyphicon-flash"
									style="color: green"></span></td>
								<td>{{folhaPagamentoMesAnterior.somavalorapagar | currency:"R$"}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div><!-- FIM DIV FOLHA MES ATUAL -->
		<div class="col-md-6 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">Resumo
							Folha {{folhaPagamentoMesAtual.mesanoreferencia}}</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<div class="clear-fix">
								<button class="btn btn-xs blue"
									ui-sref="folha_dashboard-validar( {mesAnoReferencia: folhaPagamentoMesAtual.mesanoreferencia, 
									idEmpresaFinanceiro: empresaFinanceiroSelecionada.idEmpresaFinanceiro,tipoGrupoFinanceiro: empresaFinanceiroSelecionada.inTipoGrupo,
									nmFantasia: empresaFinanceiroSelecionada.nmFantasia}  )" >
									Validar Folha</i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-hover table-light">
							<thead>
								<tr>
									<th>Descri&ccedil;&atilde;o</th>
									<th></th>
									<th>Valor</th>
								</tr>
							</thead>
							<tr>
								<td>Sal&aacute;rio Base</td>
								<td><span class="glyphicon glyphicon-bookmark"></span></td>
								<td>{{folhaPagamentoMesAtual.somasalariobase | currency:"R$"}}</td>
							</tr>
							<tr>
								<td>Sal&aacute;rio Folha</td>
								<td><span class="glyphicon glyphicon-saved"></span></td>
								<td>{{folhaPagamentoMesAtual.somasalariofolha | currency:"R$"}} </td>
							</tr>
							<tr>
								<td>Descontos</td>
								<td><span class="glyphicon glyphicon-chevron-down"
									style="color: blue"></span></td>
								<td>{{folhaPagamentoMesAtual.somadescontos | currency:"R$"}}</td>
							</tr>
							<tr>
								<td>Acr&eacute;scimos</td>
								<td><span class="glyphicon glyphicon-chevron-up"
									style="color: red"></span></td>
								<td>{{folhaPagamentoMesAtual.somaacrescimos | currency:"R$"}}</td>
							</tr>
							<tr>
								<td><span class="bold font-green-haze">Total a Pagar</span></td>
								<td><span class="glyphicon glyphicon-flash"
									style="color: green"></span></td>
								<td>{{folhaPagamentoMesAtual.somavalorapagar | currency:"R$" }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div><!-- FIM DIV FOLHA MES ANTERIOR -->
	</div><!--  FIM DIV DASHBOARD VALORES -->
	<div class="row">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i> <span
						class="caption-subject font-green-haze bold uppercase">Folha (&Uacute;ltimos 12 meses)</span>
				</div>

			</div>
			<div class="portlet-body">
				<div id="chart"></div>
			</div>
		</div>
	</div><!--  FIM DIV GRAFICO -->
</div>
<!-- END CONTENT-->