<!-- BEGIN MAIN CONTENT -->
<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div >
				<div class="portlet-body">
					<div class="row">
					<div class="col-md-12 text-center">
						<img ng-src="assets/global/img/loading-customize.gif">
						<h1>Redirecionando...</h1>		
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
</div>
