<div class="modal-header">
	<h4 class="modal-title">Autoriza&ccedil;&atilde;o Gerente</h4>
</div>
<div class="modal-body">
	<div class="page-alerts">
		<alert ng-if="alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</alert>
		<alert ng-if="!alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<div class="form-group form-md-line-input">
		<div ng-hide="showMsgPresencaModal" class="form-control form-control-static">{{motivacaoAutorizacao}}</div>
		<div ng-show="showMsgPresencaModal" ng-bind-html="msgPresenca" class="form-control form-control-static"></div>
		<label for="form_control_1">Motivação</label>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label" for="exampleInputEmail3">Gerente</label> <input type="username" ng-model="userNameGerente" class="form-control" id="exampleInputEmail3" placeholder="Gerente">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label" for="exampleInputPassword3">Senha</label> <input type="password" ng-model="passwordGerente" class="form-control" id="exampleInputPassword3" placeholder="Senha">
		</div>
	</div>
	<div class="form-group" ng-show="showJustificativa">
		<label class="control-label">Justificativa</label>
		<textarea id="maxlength_textarea" ng-model="justificativaGerente" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
	</div>
</div>
<div class="modal-footer">
	<button class="btn default" type="button" ng-click="authorize()">Autorizar</button>
	<button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
</div>
