<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li><a href="#">Home</a><i class="fa fa-circle"></i></li>
	<li class="active">Dashboard</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController" class="margin-top-10">

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">(MedicLab)Faturamento</span>

					</div>
					<div class="actions">
						<div class="btn-group">
							<button type="button" class="btn btn-default" ng-click="previousMonthReport0001()">Anterior</button>
							<button type="button" class="btn btn-default" ng-click="nextMonthReport0001()">Pr&oacute;ximo</button>
						</div>
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<h4 class="block">{{report0001.my}}</h4>

					<div id="report0001piechart" class="chart"></div>
					<div class="table-responsive">
						<em ng-show="report0001.data.length == 0">Sem dados disponiveis.</em>
						<table ng-hide="report0001.data.length == 0"
							class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>Tipo</th>
									<th>Contratos</th>
									<th>Faturamento</th>

								</tr>
							</thead>
							<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
							<tr ng-repeat="item in report0001.data">
								<td ng-bind-html="item.formapagamento | to_trusted"></td>
								<td>{{item.numerocontratos}}</td>
								<td>{{item.faturamentoFormatado}}</td>
						</table>
					</div>
					<h4 class="block">Mensalidades Pagas</h4>
					<div class="table-responsive">
						<em ng-show="report0007.data.length == 0">Sem dados disponiveis.</em>
						<table ng-hide="report0007.data.length == 0"
							class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>Tipo</th>
									<th>Contratos</th>
									<th>Faturamento</th>

								</tr>
							</thead>
							<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
							<tr ng-repeat="item in report0007.data">
								<td ng-bind-html="item.formapagamento | to_trusted"></td>
								<td>{{item.numerocontratos}}</td>
								<td>{{item.faturamentoFormatado}}</td>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">(MedicLab) Contratos</span>

					</div>
					<div class="actions">
						<div class="btn-group">
							<button type="button" class="btn btn-default" ng-click="previousMonthReport0002()">Anterior</button>
							<button type="button" class="btn btn-default" ng-click="nextMonthReport0002()">Pr&oacute;ximo</button>
						</div>
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div id="report0002chart"></div>
					<h4 class="block">{{report0002.my}}</h4>
					<div class="table-responsive">
						<em ng-show="report0002.data.length == 0">Sem dados disponiveis.</em>
						<table ng-hide="report0002.data.length == 0"
							class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>Situação</th>
									<th>Quantidade</th>
									<th>Faturamento</th>

								</tr>
							</thead>
							<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
							<tr ng-repeat="item in report0002.data">
								<td>{{item.situacaocontrato}}</td>
								<td>{{item.numerocontratos}}</td>
								<td>{{item.faturamentoFormatado}}</td>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">(MedicLab) Clientes</span>

					</div>
					<div class="actions">
						<div class="btn-group">
							<button type="button" class="btn btn-default" ng-click="previousMonthReport0003()">Anterior</button>
							<button type="button" class="btn btn-default" ng-click="nextMonthReport0003()">Pr&oacute;ximo</button>
						</div>
						<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<h4 class="block">{{report0003.my}}</h4>
					<div class="table-responsive">
						<em ng-show="report0003.data.length == 0">Sem dados disponiveis.</em>
						<table ng-hide="report0003.data.length == 0"
							class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>Tipo</th>
									<th>Quantidade</th>
								</tr>
							</thead>
							<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
							<tr ng-repeat="item in report0003.data">
								<td>{{item.clientes}}</td>
								<td>{{item.quantidade}}</td>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SECOND ROW -->
	<div class="row">
		<div class="col-md-12">

			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span
							class="caption-subject font-green-haze bold uppercase">(MedicLab) Faturamento por Plano</span>

					</div>
					<div class="actions">
						<div class="btn-group btn-group-devided" data-toggle="buttons">
							<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"></a>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<em ng-show="report0004.length == 0">Sem dados disponiveis.</em>
					<table ng-hide="report0004.length == 0" class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th>Plano</th>
								<th>Vidas</th>
								<th>Custo/Vida</th>
								<th>Valor do Plano</th>
								<th>Contratos</th>
								<th>Total Real</th>
								<th>Clientes</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in report0004">
								<td>{{item.nomeplano}}</td>
								<td>{{item.vidas}}</td>
								<td>{{item.custoVidaFormatado}}</td>
								<td>{{item.valorplanoFormatado}}</td>
								<td>{{item.contratos}}</td>
								<td>{{item.totalrealFormatado}}</td>
								<td><a href="mediclab/report0005?plano={{item.idplano}}" target="_blank">CSV</a></td>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->

		</div>
	</div>
	<!-- END MAIN CONTENT -->
	<!-- BEGIN MAIN JS & CSS -->

</div>
