<style>
    #toast-container {
       top: 11%;
       }
       .pagination-sm>li>a,
       .pagination-sm>li>span {
       padding: 5px 10px;
       font-size: 14px;
       line-height: 1.5;
       }
       .pagination>li>a,
       .pagination>li>span {
       position: relative;
       float: left;
       padding: 6px 12px;
       margin-left: -1px;
       line-height: 1.42857143;
       color: #337ab7;
       text-decoration: none;
       background-color: #fff;
       border: 1px;
       border-radius: 5px;
       }
       .pagination .active>a,
       .pagination .active>a:hover {
       background: #337ab7;
       border-color: #337ab7;
       color: white;
       }
       .popover {
       font-size: 11px;
       }
       input::-webkit-outer-spin-button,
       input::-webkit-inner-spin-button {
       /* display: none; <- Crashes Chrome on hover */
       -webkit-appearance: none;
       margin: 0;
       /* <-- Apparently some margin are still there even though it's hidden */
       }
</style>
<div class="margin-top-10">
    <div class="row">
        <div class="col col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Conveniadas</span>
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                    </div>
                </div>
                <div class="text-center" ng-show="valideBotao">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn blue active" ng-click="getEmpresas(0)">
                            <input type="radio" class="toggle" >Ativas</label>
                        <label class="btn blue" ng-click="getEmpresas(1)">
                            <input type="radio" class="toggle">Inativas</label>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Conveniadas Cadastradas
                                    </div>
                                </div>
                                <!-- PROFISSIONAIS VALUES -->
                                <div class="portlet-body flip-scroll">
                                    <!-- TABLE PROFISSIONAIS VALUES -->
                                    <tabset>
                                        <tab ng-click="returnConv()">
                                            <tab-heading>
                                                <i class="fa fa-building fa-lg" aria-hidden="true"></i> Conveniadas
                                            </tab-heading>
                                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                                            <table ng-show="empresasAtivas.length > 0 || empresasInativas.length > 0" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" show-filter="true">
                                                <tr ng-repeat-start="item in $data">
                                                    <td title="'Editar'" style="width: 8%" class="text-center">
                                                        <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="item.expanded" tooltip="Fechar" class="btn btn-default btn-xs" ng-click="item.expanded = false">
                                                            <span class="fa fa-pencil-square-o"></span>
                                                        </button>
                                                        <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="!item.expanded" tooltip="Editar" class="btn btn-default btn-xs" ng-click="item.expanded = true; editarEmpresa(item)">
                                                            <span class="fa fa-pencil-square-o"></span>
                                                        </button>
                                                        <button ng-show="item.expanded == true" ng-if="item.expanded" tooltip="Fechar" class="btn blue btn-xs" ng-click="item.expanded = false">
                                                            <span class="fa fa-pencil-square-o"></span>
                                                        </button>
                                                        <button ng-show="item.expanded == true" ng-if="!item.expanded" tooltip="Editar" class="btn blue btn-xs" ng-click="item.expanded = true; editarEmpresa(item)">
                                                            <span class="fa fa-pencil-square-o"></span>
                                                        </button>
                                                    </td>
                                                    <td title="'Razão Social'" class="text-left" filter="{ 'nmRazaoSocial': 'text' }">
                                                        <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmRazaoSocial}}</span>
                                                        <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmRazaoSocial}}</span>
                                                    </td>
                                                    <td title="'Nome Fantasia'" class="text-left" filter="{ 'nmFantasia': 'text' }">
                                                        <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmFantasia}}</span>
                                                        <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmFantasia}}</span>
                                                    </td>
                                                    <td title="'CNPJ'" class="text-center" filter="{ 'nrCnpjFormatado': 'text' }">
                                                        <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nrCnpjFormatado}}</span>
                                                        <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nrCnpjFormatado}}</span>
                                                    </td>
                                                    <td title="'Tipo de Pagamento'" class="text-center">
                                                        <span ng-if="item.inTipoPagamento == 2" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">MENSALIDADE</span>
                                                        <span ng-if="item.inTipoPagamento == 1" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">DESPESA</span>
                                                        <span ng-if="item.inTipoPagamento == 2" ng-show="item.expanded == false" ng-hide="item.expanded == true">MENSALIDADE</span>
                                                        <span ng-if="item.inTipoPagamento == 1" ng-show="item.expanded == false" ng-hide="item.expanded == true">DESPESA</span>
                                                    </td>
                                                    <td ng-if="tipo == 0" title="'Inativar'" class="text-center">
                                                        <button tooltip="Inativar" class="btn btn-danger btn-xs" ng-click="inativarEmpresa(item)">
                                                            <span class="fa fa-minus-circle"></span>
                                                        </button>
                                                    </td>
                                                    <td ng-if="tipo == 1" title="'Reativar'" class="text-center">
                                                        <button tooltip="Reativar" class="btn blue btn-xs" ng-click="ativarEmpresa(item)">
                                                            <span class="fa fa-plus-circle"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr ng-if="item.expanded" ng-repeat-end="">
                                                    <td colspan="12" style="background-color: white">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <tabset>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i> Informações
                                                                        </tab-heading>
                                                                        <ng-include src="'templates/admin4_material_design/angularjs/views/cadastro/formEditConveniada.html'"></ng-include>
                                                                    </tab>
                                                                    <tab ng-click="getFuncionarios(item)">
                                                                        <tab-heading>
                                                                            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                                                                            Funcionários
                                                                        </tab-heading>
                                                                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                                                                        <strong>
                                                                            <em ng-show="dadosFunc.length == 0">Sem dados dispon&iacute;veis</em>
                                                                        </strong>
                                                                        <table ng-show="dadosFunc.length > 0" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableFunc" show-filter="true">
                                                                            <tr ng-repeat="item in $data">
                                                                                <td title="'Contrato'" style="width: 15%" class="text-center">
                                                                                    {{item.nrContrato}}
                                                                                </td>
                                                                                <td title="'Cliente'" class="text-left" filter="{ 'nmCliente': 'text' }">
                                                                                    <a class="text-info" ng-href="#/atendimentoCliente.html?id_cliente={{item.idCliente}}">
                                                                                        {{item.nmCliente}}
                                                                                    </a>
                                                                                </td>
                                                                                <td title="'Plano'" class="text-center" filter="{ 'nmPlano': 'text' }">
                                                                                    {{item.nmPlano}}
                                                                                </td>
                                                                                <td class="text-center" data-title="'Empresarial ?'" ng-switch on="item.boEmpresaCliente">
                                                                                    <div ng-switch-when="false" class="label label-sm label-danger">NAO</div>
                                                                                    <div ng-switch-when="true" class="label label-sm label-success">SIM</div>
                                                                                </td>
                                                                                <td class="text-center" data-title="'Status'" ng-switch on="item.boBloqueado">
                                                                                    <div ng-switch-when="false" class="label label-sm label-success"><i class="fa fa-check" title="Liberado"></i></div>
                                                                                    <div ng-switch-when="true" class="label label-sm label-danger"><i class="fa fa-ban" title="Bloqueado"></i></div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </tab>
                                                                </tabset>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </tab>
                                        <tab ng-click="novoConv()">
                                            <tab-heading style="color: blue">
                                                <i class="fa fa-plus" aria-hidden="true"></i> Nova Conveniada
                                            </tab-heading>
                                            <ng-include src="'templates/admin4_material_design/angularjs/views/cadastro/formNewConveniada.html'"></ng-include>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
