<style>
#toast-container {
  top: 11%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Serviços</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
				</div>
                <div class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class = "btn blue active" ng-click="tipoServico(0)">
                            <input type="radio" class="toggle">Médico</label>
                        <label class = "btn blue" ng-click="tipoServico(2)">
                            <input type="radio" class="toggle">Laboratorial</label>
                        <label class = "btn blue" ng-click="tipoServico(3)">
                            <input type="radio" class="toggle">Estética</label>                 
                        </label>
                    </div>
                </div>
				<div class="portlet-body">
					<!-- BEGIN SEARCH ROW -->
					<div class="row text-center">
						<!-- BEGIN NOTAS OPTIONS -->
					<!--	<button class="btn blue"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</button>-->
						<!-- END NOTAS OPTIONS -->	
					</div>
					<!-- END SEARCH ROW -->

		<!-- BEGIN DADOS OBTIDOS --> 
        <br />
        <div class="row">
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          Serviços cadastrados
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
						<br/>   
						<tabset>
							<tab ng-click="inicio()">
								<tab-heading>
									<i class="fa fa-heartbeat" aria-hidden="true"></i>
                                Serviços
								</tab-heading>    
						<table ng-show="servicos.length > 0" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" how-filter="true">
							<tr ng-repeat-start="item in $data">
                                
                                <td title="'Editar'" style="width: 8%" class="text-center">
                                    <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = false">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                    <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="!item.expanded" tooltip="Editar"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = true; editarServico(item)">
                                         <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                        
                                    <button ng-show="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn blue btn-xs"
                                         ng-click="item.expanded = false">
                                         <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                    <button ng-show="item.expanded == true" ng-if="!item.expanded" tooltip="Editar"
                                         class="btn blue btn-xs" 
                                         ng-click="item.expanded = true; editarServico(item)">
                                         <span class="fa fa-pencil-square-o"></span>
									</button>
                                </td>

                                <td title="'Código'" class="text-center" filter="{ 'nrCodServico': 'text' }">
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nrCodServico}}</span>

									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nrCodServico}}</span>
                                </td>
                                
								<td title="'Serviço'" class="text-left" filter="{ 'nmServico': 'text' }">
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmServico}}</span>

									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmServico}}</span>
                                </td>
                                
								<td title="'Tipo'" class="text-center" ng-switch on="item.inTipoServico">
                                    <div ng-switch-when="0" class="label label-sm label-success">MÉDICO</div>
                                    <div ng-switch-when="2" class="label label-sm label-success">LABORATORIAL</div>
                                    <div ng-switch-when="3" class="label label-sm label-success">ESTÉTICA</div>
                                </td>

                                <td title="'Valor Custo'" class="text-center">
                                    <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.vlCusto | currency: 'R$ '}}</span>
                                    
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.vlCusto | currency: 'R$ '}}</span>
                                </td>
                                
                                <td title="'Valor Associado'" class="text-center">
                                    <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.vlServicoAssociado | currency: 'R$ '}}</span>
                                    
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.vlServicoAssociado | currency: 'R$ '}}</span>
								</td>

								<td title="'Valor Não Associado'" class="text-center">
                                    <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.vlServico |  currency: 'R$ '}}</span>
                                    
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.vlServico |  currency: 'R$ '}}</span>
								</td>
								
								<td title="'Validade'" class="text-center">
									<span ng-if="item.validade == 0" ng-show="item.expanded == false" ng-hide="item.expanded == true">0 dias</span>
									<span ng-if="item.validade == 0" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">0 dias</span>
									
									<span ng-if="item.validade != 0" ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.validade}} dias</span>
									<span ng-if="item.validade != 0" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.validade}} dias</span>
								</td>
								
								<td title="'Validade (Contratual)'" class="text-center">
                                    <span ng-if="item.validadeContratual == 0" ng-show="item.expanded == false" ng-hide="item.expanded == true">0 dias</span>
									<span ng-if="item.validadeContratual == 0" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">0 dias</span>
									
									<span ng-if="item.validadeContratual != 0" ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.validadeContratual}} dias</span>
									<span ng-if="item.validadeContratual != 0" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.validadeContratual}} dias</span>
								</td>

								<td title="'Triagem'" class="text-center" ng-switch on="item.boTriagem">
                                    <div ng-switch-when="true" class="label label-sm label-success">SIM</div>
                                    <div ng-switch-when="false" class="label label-sm label-danger">NAO</div>
                                </td>
								
								<td title="'Retorno'" class="text-center" ng-switch on="item.boGeraRetornoAgendamento">
                                    <div ng-switch-when="true" class="label label-sm label-success">SIM</div>
                                    <div ng-switch-when="false" class="label label-sm label-danger">NAO</div>
								</td>
								
								<td title="'Excluir'" class="text-center" >
                                    <button tooltip="Inativar"
                                         class="btn btn-danger btn-xs"
                                         ng-click="excluirServico(item)">
                                         <span class="fa fa-trash"></span>
                                    </button>
                                </td>
							</tr>
							<tr ng-if="item.expanded" ng-repeat-end="">
                                    <td colspan="12" style="background-color: white">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form ng-submit="atualizarServico(item)" >
                                                    <div class="form-group">
														<fieldset style="background-color: white">
															<legend class="text-left" style="font-size: 16px; font-weight: bold">
																Informações
															</legend>
                                                        <div class="row">
															<div style="margin-left: 7%" class ="col-md-2">
																<label class="control-label">Tipo<span class="required"> * </span></label></br>
																<ui-select  ng-model="servico.inTipoServico" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in tipoServicoOptions | filter: $select.search">
																<div ng-bind-html="item.description | highlight: $select.search"></div>
																</ui-select-choices></ui-select>
															</div>
															<div class="col-md-2">
                                                                <label class="control-label" for="txtCod">Código<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="servico.nrCodServico" class="form-control" required />
															</div>
															<div class="col-md-6">
                                                                <label class="control-label" for="txtCod">Serviço<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="servico.nmServico" class="form-control" required />
                                                            </div>
														</div></br>
														<div class="row">
															<div style="margin-left: 7%" class ="col-md-2">
																<label class="control-label">Valor Custo<span class="required"> * </span></label> 
                                                                <input type="text" ng-model="servico.vlCusto" class="form-control" required ui-money-mask="2"/>
															</div>
															<div class ="col-md-2">
																<label class="control-label">Valor Associado<span class="required"> * </span></label> 
                                                                <input type="text" ng-model="servico.vlServicoAssociado" class="form-control" required ui-money-mask="2"/>
															</div>
															<div class ="col-md-2">
																<label class="control-label">Valor Não Associado<span class="required"> * </span></label> 
                                                                <input type="text"  ng-model="servico.vlServico" class="form-control" required ui-money-mask="2"/>
															</div>
															<div class ="col-md-2">
																<div class="input-icon right">
																	<label class="control-label" for="txtCod">Validade (Médica)</label> 
																	<i style="font-style: normal; font-weight: bold; margin-right: 15%">dias</i>
																	<input  type="number"  ng-model="servico.validade" class="form-control" />
																</div>
															</div>
															<div class ="col-md-2">
																<div class="input-icon right">
																	<label class="control-label" for="txtCod">Validade (Contratual)</label> 
																	<i style="font-style: normal; font-weight: bold; margin-right: 15%">dias</i>
																	<input  type="number"  ng-model="servico.validadeContratual" class="form-control" />
																</div>
															</div>
															
														</div></br>
														<div class="row">
															<div style="margin-left: 7%" class="col-md-10">
																<label class="control-label">Preparatório</label>
																<textarea style="text-transform: uppercase"
																	ng-model="servico.nmPreparatorio"
																	class="form-control" rows="4">
																</textarea>
															</div>
														</div></br>
														<div class="row" style="margin-left: 8%">
															<div class="icheckbox text-left">
																<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
																ng-model="servico.boGratuito"/> Gratuito &nbsp;&nbsp;
																<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
																ng-model="servico.boBloqueio"/> Bloqueado &nbsp;&nbsp; 
																<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
																ng-model="servico.boValorAberto"/> Valor Aberto           
															</div></br>
															<div class="icheckbox text-left">
																<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
																ng-model="servico.boTriagem"/> Triagem &nbsp;&nbsp;
																<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
																ng-model="servico.boGeraRetornoAgendamento"/> Retorno &nbsp;&nbsp;&nbsp;&nbsp;
																<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
																ng-model="servico.boSite"/> Site (DrConsulta)               
															</div></br>
                                                            <div class="icheckbox text-left">
                                                                <input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
																ng-model="servico.boLaudo"/> Laudo &nbsp;&nbsp;
                                                            </div>    
														</div>
													</div>
													</fieldset>
                                                    <div class="text-center">
                                                        <input type="submit" id="submit"  class="btn blue" value="Atualizar" />&nbsp;
                                                        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
                                                    </div></br>  
                                                </form>
                                            </div>
                                        </div>
                                    </td>
								</tr>
						</table>
						</tab>
						<tab ng-click="novoServico()">
							<tab-heading style="color: blue">
								<i class="fa fa-plus"aria-hidden="true"></i>
								Novo Serviço
							</tab-heading>
						<div class="row">
						<form ng-submit="addServico()">
							<div class="col-md-12" >
							<div class="form-group" style="background-color: white">
								<fieldset style="background-color: white">
									<legend class="text-left" style="font-size: 16px; font-weight: bold">
										Informações
									</legend>
								<div class="row">
									<div style="margin-left: 7%" class ="col-md-2">
										<label class="control-label">Tipo<span class="required"> * </span></label></br>
										<ui-select  ng-model="servico.inTipoServico" theme="select2" class="form-control select2me"> <ui-select-match
											placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in tipoServicoOptions | filter: $select.search">
										<div ng-bind-html="item.description | highlight: $select.search"></div>
										</ui-select-choices></ui-select>
									</div>
									<div class="col-md-2">
										<label class="control-label" for="txtCod">Código<span class="required"> * </span></label> 
										<input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="servico.nrCodServico" class="form-control" required />
									</div>
									<div class="col-md-6">
										<label class="control-label" for="txtCod">Serviço<span class="required"> * </span></label> 
										<input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="servico.nmServico" class="form-control" required />
									</div>
								</div></br>
								<div class="row">
									<div style="margin-left: 7%" class ="col-md-2">
										<label class="control-label">Valor Custo<span class="required"> * </span></label> 
										<input type="text" ng-model="servico.vlCusto" class="form-control" required ui-money-mask="2"/>
									</div>
									<div class ="col-md-2">
										<label class="control-label">Valor Associado<span class="required"> * </span></label> 
										<input type="text" ng-model="servico.vlServicoAssociado" class="form-control" required ui-money-mask="2"/>
									</div>
									<div class ="col-md-2">
										<label class="control-label">Valor Não Associado<span class="required"> * </span></label> 
										<input type="text"  ng-model="servico.vlServico" class="form-control" required ui-money-mask="2"/>
									</div>
									<div class ="col-md-2">
										<div class="input-icon right">
											<label class="control-label" for="txtCod">Validade (Médica)</label> 
											<i style="font-style: normal; font-weight: bold; margin-right: 15%">dias</i>
											<input  type="number"  ng-model="servico.validade" class="form-control" />
										</div>
									</div>
									<div class ="col-md-2">
										<div class="input-icon right">
											<label class="control-label" for="txtCod">Validade (Contratual)</label> 
											<i style="font-style: normal; font-weight: bold; margin-right: 15%">dias</i>
											<input  type="number"  ng-model="servico.validadeContratual" class="form-control" />
										</div>
									</div>
									
								</div></br>
								<div class="row">
									<div style="margin-left: 7%" class="col-md-10">
										<label class="control-label">Preparatório</label>
										<textarea style="text-transform: uppercase"
											ng-model="servico.nmPreparatorio"
											class="form-control" rows="4">
										</textarea>
									</div>
								</div></br>
								<div class="row" style="margin-left: 8%">
									<div class="icheckbox text-left">
										<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
										ng-model="servico.boGratuito"/> Gratuito &nbsp;&nbsp;
										<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
										ng-model="servico.boBloqueio"/> Bloqueado &nbsp;&nbsp; 
										<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
										ng-model="servico.boValorAberto"/> Valor Aberto           
									</div></br>
									<div class="icheckbox text-left">
										<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
										ng-model="servico.boTriagem"/> Triagem &nbsp;&nbsp;
										<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
										ng-model="servico.boGeraRetornoAgendamento"/> Retorno &nbsp;&nbsp;&nbsp;&nbsp;
										<input ng-value= "" type="checkbox" name="endereco" icheck class-check-icheck="icheckbox_square-blue" 
										ng-model="servico.boSite"/> Site (DrConsulta)               
									</div>
								</div>
							</fieldset>
								<div class="text-center">
									<input type="submit" id="submit"  class="btn blue" value="Adicionar" />&nbsp;
								</div></br>
							</div>
							</div>
						</form>
						</div>							
						</tab>	
						</tabset>
					</br>
				</div>
			</div></br></br>
		</div>
	</div>
</div>