<style>
#toast-container {
  top: 11%;
}

.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px;
    border-radius: 5px;
}

.pagination .active > a, .pagination .active > a:hover {
    background: #337ab7;
    border-color: #337ab7;
    color: white;
}

.form-control {
    border-color: #A6A6A6;
}

.select2-container .select2-choice {
    border-color: #A6A6A6;
}

</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Órgãos</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
                </div>
                <div class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class = "btn blue active" ng-click="esferaOrgao(0)">
                            <input type="radio" class="toggle">Municipal</label>
                        <label class = "btn blue" ng-click="esferaOrgao(1)">
                            <input type="radio" class="toggle">Estadual</label>
                        <label class = "btn blue" ng-click="esferaOrgao(2)">
                            <input type="radio" class="toggle">Federal</label>                 
                        </label>
                    </div>
                </div>
				<div class="portlet-body">
                    
                    <!-- BEGIN SEARCH ROW -->
					<div class="row ">
                       
					</div>
					<!-- END SEARCH ROW -->

		<!-- BEGIN DADOS OBTIDOS --> 
        <br />
        

        <div class="row">
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-university fa-lg" aria-hidden="true"></i> Órgãos Cadastrados
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
                        <br/>   
						<tabset>
							<tab ng-click="returnOrgaos()">
								<tab-heading>
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									Órgãos
                                </tab-heading>   
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                        <strong ng-hide="orgaoOptions.length > 0"></br>Sem dados disponíveis</strong> 
						<table ng-show="orgaoOptions.length > 0" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" how-filter="true">
							<tr ng-repeat-start="item in $data">
                                <td title="'Editar'" style="width: 8%" class="text-center">
                                    <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = false">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                    <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="!item.expanded" tooltip="Editar"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = true; editarOrgao(item)">
                                         <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                        
                                    <button ng-show="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn blue btn-xs"
                                         ng-click="item.expanded = false">
                                         <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                    <button ng-show="item.expanded == true" ng-if="!item.expanded" tooltip="Editar"
                                         class="btn blue btn-xs" 
                                         ng-click="item.expanded = true; editarOrgao(item)">
                                         <span class="fa fa-pencil-square-o"></span>
									</button>
                                </td>

                                <td title="'Código'" class="text-center" filter="{ 'cdOrgao': 'text' }">
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.cdOrgao}}</span>

									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.cdOrgao}}</span>
                                </td>
                                
								<td title="'Nome'" class="text-center" filter="{ 'nmOrgao': 'text' }">
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmOrgao}}</span>

									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmOrgao}}</span>
                                </td>
                                
								<td title="'Esfera'" class="text-center">
                                    <span ng-if="item.inEsfera == 0" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">MUNICIPAL</span>
                                    <span ng-if="item.inEsfera == 1" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">ESTADUAL</span>
                                    <span ng-if="item.inEsfera == 2" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">FEDERAL</span>

                                    <span ng-if="item.inEsfera == 0" ng-show="item.expanded == false" ng-hide="item.expanded == true">MUNICIPAL</span>
                                    <span ng-if="item.inEsfera == 1" ng-show="item.expanded == false" ng-hide="item.expanded == true">ESTADUAL</span>
                                    <span ng-if="item.inEsfera == 2" ng-show="item.expanded == false" ng-hide="item.expanded == true">FEDERAL</span>
                                </td>

                                <td title="'Grupo'" class="text-center"  filter="{ 'grupoOrgao.nmGrupoOrgao': 'text' }">
                                    <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.grupoOrgao.nmGrupoOrgao}}</span>
                                    
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.grupoOrgao.nmGrupoOrgao}}</span>
                                </td>
                                <td title="'Excluir'" class="text-center" >
                                    <button tooltip="Inativar"
                                         class="btn btn-danger btn-xs"
                                         ng-click="excluirOrgao(item)">
                                         <span class="fa fa-trash"></span>
                                    </button>
                                </td>
							</tr>
							<tr ng-if="item.expanded" ng-repeat-end="">
                                    <td colspan="7" style="background-color: white">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form ng-submit="atualizarOrgao(item)">
                                                    <div class="form-group">
                                                        <fieldset style="background-color: white">
                                                            <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                                                Informações
                                                            </legend>
                                                        <div class="row">
                                                            <div style="margin-left: 4%" class="col-md-2">
                                                                <label class="control-label" for="txtCod">Código<span class="required"> * </span></label> 
                                                                <input type="text" name="txtCod" id="txtCod" ng-model="orgao.cdOrgao" class="form-control" required />
                                                            </div>
                                                            <div class="col-md-4" style="width: 25%">
                                                                <label class="control-label" for="txtCod">Nome<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="orgao.nmOrgao" class="form-control" required />
                                                            </div>
                                                        
                                                            <div class="col-md-3">
																<label  class="control-label">Esfera<span class="required"> * </span></label></br>
																<ui-select ng-model="orgao.inEsfera" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in inEsfera | filter: $select.search">
																<div ng-bind-html="item.description | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
															</div>
                                                            <div class="col-md-3">
																<label class="control-label">Grupo<span class="required"> * </span></label></br>
																<ui-select ng-model="orgao.grupoOrgao" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.nmGrupoOrgao}}</ui-select-match> <ui-select-choices repeat="item.id as item in gruposOrgaos | filter: $select.search">
																<div ng-bind-html="item.nmGrupoOrgao | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </fieldset>
                                                    <div class="text-center">
                                                        <input type="submit" id="submit"  class="btn blue" value="Atualizar" />&nbsp;
                                                        <button class="btn btn-default" ng-click="cancel(item)">Cancelar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
								</tr>
                        </table>
                        </tab>
						<tab ng-click="novoOrgao()">
							<tab-heading style="color: blue">
								<i class="fa fa-plus"aria-hidden="true"></i>
								Novo Órgão
							</tab-heading>
						<div class="row">
						<form ng-submit="addOrgao()">
							<div class="col-md-12">
								<div class="form-group" style="background-color: white">
                                    <fieldset style="background-color: white">
                                        <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                            Informações
                                        </legend>
                                    <div class="row" style="margin-left: 0%">
                                        <div class="col-md-2">
                                            <label class="control-label" for="txtUF">Código<span class="required"> * </span></label> 
                                            <input type="text" name="txtUF" id="txtUF" ng-model="orgao.cdOrgao" class="form-control" required />
                                        </div>
                                
                                        <div class="col-md-4" style="width: 25%">
                                            <label class="control-label" for="txtCidade">Nome<span class="required"> * </span></label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCidade" id="txtCidade" ng-model="orgao.nmOrgao" class="form-control" required />
                                        </div>
                                    <div class="col-md-3">
                                            <label class="control-label">Esfera<span class="required"> * </span></label></br>
                                            <ui-select ng-model="orgao.inEsfera" theme="select2" class="form-control select2me"> <ui-select-match
                                                placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in inEsfera | filter: $select.search">
                                            <div ng-bind-html="item.description | highlight: $select.search"></div>
                                            </ui-select-choices> </ui-select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Grupo<span class="required"> * </span></label></br>
                                            <ui-select ng-model="orgao.grupoOrgao" theme="select2" class="form-control select2me"> <ui-select-match
                                                placeholder="Selecione...">{{$select.selected.nmGrupoOrgao}}</ui-select-match> <ui-select-choices repeat="item.id as item in gruposOrgaos | filter: $select.search">
                                            <div ng-bind-html="item.nmGrupoOrgao | highlight: $select.search"></div>
                                            </ui-select-choices> </ui-select>
                                        </div>
                                    </div>
                                </fieldset>
                                    <div class="text-center">
                                        <button class="btn blue">Adicionar</button>
                                    </div>
								</div>
							</div>
						</form>
						</div>							
						</tab>	
						</tabset>
					</br>
				</div>
			</div></br></br>
		</div>
	</div>
</div>