<style>
#toast-container {
  top: 11%;
}

.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px;
    border-radius: 5px;
}

.pagination .active > a, .pagination .active > a:hover {
    background: #337ab7;
    border-color: #337ab7;
    color: white;
}

.popover {
    font-size: 11px;
}

.form-control {
    border-color: #A6A6A6;
}

.select2-container .select2-choice {
    border-color: #A6A6A6;
}

</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Funcionários</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
                </div>
                <div class="text-center"  ng-show="valideBotao">
                    <div class="btn-group" data-toggle="buttons">
                        <label class = "btn blue active" ng-click="getFuncionarios(0)">
                            <input type="radio" class="toggle" >Ativos</label>
                        <label class = "btn blue" ng-click="getFuncionarios(1)">
                            <input type="radio" class="toggle">Inativos</label>
                    </div>
                </div>
				<div class="portlet-body">
                    
                    <!-- BEGIN SEARCH ROW -->
					<div class="row ">
                       
					</div>
					<!-- END SEARCH ROW -->

		<!-- BEGIN DADOS OBTIDOS --> 
        <br />
        

        <div class="row">
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-users fa-lg" aria-hidden="true"></i> Funcionários Cadastrados
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
                        <br/>   
						<tabset>
							<tab ng-click="returnFunc()">
								<tab-heading>
                                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
									Funcionários
                                </tab-heading>   
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                        <strong ng-hide="funcionariosAtivos.length > 0 || funcionariosInativos.length > 0"></br>Sem dados disponíveis</strong> 
						<table ng-show="funcionariosAtivos.length > 0 || funcionariosInativos.length > 0" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" how-filter="true">
							<tr ng-repeat-start="item in $data">
                                
                                <td title="'Editar'" style="width: 8%" class="text-center">
                                    <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = false">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                    <button ng-show="item.expanded == false" ng-hide="item.expanded == true" ng-if="!item.expanded" tooltip="Editar"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = true; editarFunc(item)">
                                         <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                        
                                    <button ng-show="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn blue btn-xs"
                                         ng-click="item.expanded = false">
                                         <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                    <button ng-show="item.expanded == true" ng-if="!item.expanded" tooltip="Editar"
                                         class="btn blue btn-xs" 
                                         ng-click="item.expanded = true; editarFunc(item)">
                                         <span class="fa fa-pencil-square-o"></span>
									</button>
                                </td>

                                <td title="'Matrícula'" class="text-center" filter="{ 'nrMatricula': 'text' }">
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nrMatricula}}</span>

									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nrMatricula}}</span>
                                </td>
                                
								<td title="'Nome'" class="text-left" filter="{ 'nmFuncionario': 'text' }">
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmFuncionario}}</span>

									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmFuncionario}}</span>
                                </td>
                                
								<td title="'Grupo'" class="text-center">
                                    <span ng-if="item.inGrupoFuncionario == 0" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">FUNCIONÁRIOS</span>
                                    <span ng-if="item.inGrupoFuncionario == 1" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">MÉDICOS/DENTISTAS</span>
                                    <span ng-if="item.inGrupoFuncionario == 2" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">PRESTADORES DE SERVIÇOS</span>
                                    <span ng-if="item.inGrupoFuncionario == 3" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">VENDEDORES</span>
                                    <span ng-if="item.inGrupoFuncionario == 4" ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">ESTAGIÁRIOS</span>

                                    <span ng-if="item.inGrupoFuncionario == 0" ng-show="item.expanded == false" ng-hide="item.expanded == true">FUNCIONÁRIOS</span>
                                    <span ng-if="item.inGrupoFuncionario == 1" ng-show="item.expanded == false" ng-hide="item.expanded == true">MÉDICOS/DENTISTAS</span>
                                    <span ng-if="item.inGrupoFuncionario == 2" ng-show="item.expanded == false" ng-hide="item.expanded == true">PRESTADORES DE SERVIÇOS</span>
                                    <span ng-if="item.inGrupoFuncionario == 3" ng-show="item.expanded == false" ng-hide="item.expanded == true">VENDEDORES</span>
                                    <span ng-if="item.inGrupoFuncionario == 4" ng-show="item.expanded == false" ng-hide="item.expanded == true">ESTAGIÁRIOS</span>
                                </td>

                                <td title="'Cargo'" class="text-center"  filter="{ 'nmCargo': 'text' }">
                                    <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmCargo}}</span>
                                    
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmCargo}}</span>
                                </td>
                                
                                <td title="'Unidade'" class="text-center"  filter="{ 'unidade.nmUnidade': 'text' }">
                                    <span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.unidade.nmUnidade}}</span>
                                    
                                    <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.unidade.nmUnidade}}</span>
                                </td>

                                <td ng-if="tipo == 0" title="'Inativar'" class="text-center" >
                                    <button tooltip="Inativar"
                                         class="btn btn-danger btn-xs"
                                         ng-click="inativarFunc(item)">
                                         <span class="fa fa-minus-circle"></span>
                                    </button>
                                </td>

                                <td ng-if="tipo == 1" title="'Reativar'" class="text-center" >
                                    <button tooltip="Reativar"
                                         class="btn blue btn-xs"
                                         ng-click="ativarFunc(item)">
                                         <span class="fa fa-plus-circle"></span>
                                    </button>
                                </td>
							</tr>
							

							
							<tr ng-if="item.expanded" ng-repeat-end="">
                                    <td colspan="7" style="background-color: white">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form ng-submit="atualizarFuncionario(item)" >
                                                    <div class="form-group">
                                                        <fieldset style="background-color: white">
                                                            <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                                                Dados Pessoais
                                                            </legend>
                                                        </br>
                                                        <div class="row">
                                                            <div style="width: 13%; margin-left: 3%" class="col-md-3">
                                                                <label class="control-label" for="txtCod">Matrícula<span class="required"> * </span></label> 
                                                                <input type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrMatricula" class="form-control" required />
                                                            </div>
                                                            <div class="col-md-5">
                                                                <label class="control-label" for="txtCod">Nome<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmFuncionario" class="form-control" required />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label class="control-label">Data de Nascimento<span class="required"> * </span></label> <input type="text" name="txtDtNascimento" id="txtDtNascimento" class="form-control"
                                                                    datepicker-popup="dd/MM/yyyy" date-disabled="disabled(date, mode)" ng-model="funcionario.dtNascimento" is-open="opened" ng-click="opened = true" max-date="today" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
																<label class="control-label">Estado Civil<span class="required"> * </span></label></br>
																<ui-select  ng-model="funcionario.inEstadoCivil" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in estadoCivilOptions | filter: $select.search">
																<div ng-bind-html="item.description | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="row">
                                                            <div style="margin-left: 3%;width: 15%" class="col-md-2">
                                                                <label class="control-label" for="txtRG">RG<span class="required"> * </span></label> 
                                                                <input type="text" name="txtRG" id="txtRG" ng-model="funcionario.nrRg" class="form-control" maxlength="10" required/>
                                                            </div>
                                                            <div class="col-md-3" style="width: 17%">
                                                                <label class="control-label" for="txtCPF">CPF<span class="required"> * </span></label> 
                                                                <input type="text" name="txtCPF" id="txtCPF" ng-model="funcionario.nrCpf" class="form-control" required/>
                                                            </div>
                                                            <div class="col-md-3" style="width: 20%">
                                                                <div class="form-group">
                                                                    <label class="control-label">Sexo</label>
                                                                        <div class="input-group">
                                                                            <label class="btn btn-primary" ng-model="funcionario.inSexo" btn-radio="0">Masculino</label> 
                                                                            <label class="btn btn-primary" ng-model="funcionario.inSexo" btn-radio="1">Feminino</label>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label" for="txtCod">Telefone</label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrTelefone" class="form-control" ui-br-phone-number />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label" for="txtCod">Celular</label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrCelular" class="form-control" ui-br-phone-number />
                                                            </div>
                                                        </div>
                                                        </fieldset>
                                                        <fieldset style="background-color: white">
                                                            <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                                                Endereço
                                                            </legend>
                                                        <div class="row">
                                                            <div style="margin-left: 3%"  class="col-md-5">
                                                                <label class="control-label" for="txtCod">Logradouro<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmLogradouro" class="form-control" required />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label" for="txtCod">Número<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrNumero" class="form-control" required />
                                                            </div>
                                                            <div  class="col-md-4">
                                                                <label class="control-label" for="txtCod">Complemento</label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmComplemento" class="form-control" />
                                                            </div>
                                                         </div></br>
                                                         <div class="row">
                                                            <div style="margin-left: 3%" class="col-md-2">
                                                                <label class="control-label" for="txtCod">CEP<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrCep" class="form-control" ui-br-cep-mask required/>
                                                            </div>
                                                            <div style="width: 19%" class="col-md-3">
																<label class="control-label">Cidade<span class="required"> * </span></label></br>
																<ui-select  ng-model="funcionario.cidade" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
																<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
                                                            </div>
                                                            <div class="col-md-3">
																<label class="control-label">Bairro<span class="required"> * </span></label></br>
																<ui-select  ng-model="funcionario.bairro" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match> <ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
																<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
                                                            </div>                    
                                                        </div>

                                                        </fieldset>
                                                        <fieldset style="background-color: white">
                                                            <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                                                Informações
                                                            </legend>
                                                        <div class="row">
                                                            <div style="margin-left: 3%" class="col-md-3">
																<label class="control-label">Grupo<span class="required"> * </span></label></br>
																<ui-select ng-model="funcionario.inGrupoFuncionario" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in grupoFunc | filter: $select.search">
																<div ng-bind-html="item.description | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label" for="txtCod">Cargo</label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmCargo" class="form-control" />
                                                            </div>
                                                            <div class="col-md-3">
																<label class="control-label">Unidade<span class="required"> * </span></label></br>
																<ui-select  ng-model="funcionario.unidade" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.nmUnidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
																<div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
															</div>
                                                        </div></br>
                                                        <div class="row">
                                                            <div style="margin-left: 3%" class="col-md-2">
                                                                <div class="form-group">
                                                                    <label class="control-label">Data do Contrato<span class="required"> * </span></label> <input type="text" class="form-control"
                                                                    datepicker-popup="dd/MM/yyyy" date-disabled="disabled(date, mode)" ng-model="funcionario.dtContrato" is-open="openedContrato" ng-click="openedContrato = true" max-date="today" />
                                                                </div>
                                                            </div>
                                                            <div  class="col-md-3">
                                                                <label class="control-label" for="txtCod">Salário<span class="required"> * </span></label> 
                                                                <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.vlSalario" class="form-control" ui-money-mask required />
                                                            </div>                
                                                        </div> 
                                                        </fieldset>   
                                                    </div>
                                                    <div class="text-center">
                                                        <input type="submit" id="submit"  class="btn blue" value="Atualizar" />&nbsp;
                                                        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
                                                    </div></br>  
                                                </form>
                                            </div>
                                        </div>
                                    </td>
								</tr>
                        </table>
                        </tab>
						<tab ng-click="novoFunc()">
							<tab-heading style="color: blue">
								<i class="fa fa-plus"aria-hidden="true"></i>
								Novo Funcionário
							</tab-heading>
						<div class="row">
						<form ng-submit="addFunc()">
							<div class="col-md-12" >
								<div class="form-group" style="background-color: white">
                                    <fieldset style="background-color: white">
                                        <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                            Dados Pessoais
                                        </legend>
                                    <div class="row">
                                        <div style="width: 13%; margin-left: 3%" class="col-md-3">
                                            <label class="control-label" for="txtCod">Matrícula<span class="required"> * </span></label> 
                                            <input type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrMatricula" class="form-control" required />
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label" for="txtCod">Nome<span class="required"> * </span></label> 
                                            <input  style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmFuncionario" class="form-control" required />
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Data de Nascimento<span class="required"> * </span></label> <input type="text" name="txtDtNascimento" id="txtDtNascimento" class="form-control"
                                                datepicker-popup="dd/MM/yyyy" date-disabled="disabled(date, mode)" ng-model="funcionario.dtNascimento" is-open="opened" ng-click="opened = true" max-date="today" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Estado Civil<span class="required"> * </span></label></br>
                                            <ui-select  ng-model="funcionario.inEstadoCivil" theme="select2" class="form-control select2me"> <ui-select-match
                                                placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in estadoCivilOptions | filter: $select.search">
                                            <div ng-bind-html="item.description | highlight: $select.search"></div>
                                            </ui-select-choices> </ui-select>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div style="margin-left: 3%;width: 15%" class="col-md-2">
                                            <label class="control-label" for="txtRG">RG<span class="required"> * </span></label> 
                                            <input type="text" name="txtRG" id="txtRG" ng-model="funcionario.nrRg" class="form-control" maxlength="10" required/>
                                        </div>
                                        <div class="col-md-3" style="width: 18%">
                                            <label class="control-label" for="txtCPF">CPF<span class="required"> * </span></label> 
                                            <input type="text" name="txtCPF" id="txtCPF" ng-model="funcionario.nrCpf" class="form-control" required ui-br-cpf-mask/>
                                        </div>
                                            <div class="form-group">
                                                <label class="control-label">Sexo</label>
                                                    <div class="input-group">
                                                        <label class="btn btn-primary" ng-model="funcionario.inSexo" btn-radio="0">Masculino</label> 
                                                        <label class="btn btn-primary" ng-model="funcionario.inSexo" btn-radio="1">Feminino</label>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label" for="txtCod">Telefone</label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrTelefone" class="form-control" ui-br-phone-number />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label" for="txtCod">Celular</label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrCelular" class="form-control" ui-br-phone-number />
                                        </div>
                                    </div>
                                    </fieldset>
                                    <fieldset style="background-color: white">
                                        <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                            Endereço
                                        </legend>
                                    <div class="row">
                                        <div style="margin-left: 3%"  class="col-md-5">
                                            <label class="control-label" for="txtCod">Logradouro<span class="required"> * </span></label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmLogradouro" class="form-control" required />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label" for="txtCod">Número<span class="required"> * </span></label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrNumero" class="form-control" required />
                                        </div>
                                        <div  class="col-md-4">
                                            <label class="control-label" for="txtCod">Complemento</label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmComplemento" class="form-control" />
                                        </div>
                                        </div></br>
                                        <div class="row">
                                        <div style="margin-left: 3%" class="col-md-2">
                                            <label class="control-label" for="txtCod">CEP<span class="required"> * </span></label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nrCep" class="form-control" ui-br-cep-mask required/>
                                        </div>
                                        <div style="width: 19%" class="col-md-3">
                                            <label class="control-label">Cidade<span class="required"> * </span></label></br>
                                            <ui-select  ng-model="funcionario.cidade" ng-change="getBairros(funcionario.cidade)" theme="select2" class="form-control select2me"> <ui-select-match
                                                placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
                                            <div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
                                            </ui-select-choices> </ui-select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Bairro<span class="required"> * </span></label></br>
                                            <ui-select  ng-model="funcionario.bairro" theme="select2" class="form-control select2me"> <ui-select-match
                                                placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match> <ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
                                            <div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
                                            </ui-select-choices> </ui-select>
                                        </div>                    
                                    </div>
                                    </fieldset>
                                    <fieldset style="background-color: white">
                                        <legend class="text-left" style="font-size: 16px; font-weight: bold">
                                            Informações
                                        </legend>
                                    <div class="row">
                                        <div style="margin-left: 3%" class="col-md-3">
                                            <label class="control-label">Grupo<span class="required"> * </span></label></br>
                                            <ui-select ng-model="funcionario.inGrupoFuncionario" theme="select2" class="form-control select2me"> <ui-select-match
                                                placeholder="Selecione...">{{$select.selected.description}}</ui-select-match> <ui-select-choices repeat="item.id as item in grupoFunc | filter: $select.search">
                                            <div ng-bind-html="item.description | highlight: $select.search"></div>
                                            </ui-select-choices> </ui-select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="txtCod">Cargo</label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.nmCargo" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Unidade<span class="required"> * </span></label></br>
                                            <ui-select  ng-model="funcionario.unidade" theme="select2" class="form-control select2me"> <ui-select-match
                                                placeholder="Selecione...">{{$select.selected.nmUnidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
                                            <div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
                                            </ui-select-choices> </ui-select>
                                        </div>
                                    </div></br>
                                    <div class="row">
                                        <div style="margin-left: 3%" class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Data do Contrato<span class="required"> * </span></label> <input type="text" class="form-control"
                                                datepicker-popup="dd/MM/yyyy" date-disabled="disabled(date, mode)" ng-model="funcionario.dtContrato" is-open="openedContrato" ng-click="openedContrato = true" max-date="today" />
                                            </div>
                                        </div>
                                        <div  class="col-md-3">
                                            <label class="control-label" for="txtCod">Salário<span class="required"> * </span></label> 
                                            <input style="text-transform: uppercase" type="text" name="txtCod" id="txtCod" ng-model="funcionario.vlSalario" class="form-control" ui-money-mask required />
                                        </div>                
                                    </div> 
                                </div>
                                </fieldset>
                                    <div class="text-center">
									<button class="btn blue">Adicionar</button>&nbsp;
								    </div></br>   
							</div>
						</form>
						</div>							
						</tab>	
						</tabset>
					</br>
				</div>
			</div></br></br>
		</div>
	</div>
</div>