<style>
#toast-container {
  top: 11%;
}

</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Bancos</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
				</div>

				<div class="portlet-body">
					<!-- BEGIN SEARCH ROW -->
					<div class="row text-center">
						<!-- BEGIN NOTAS OPTIONS -->
					<!--	<button class="btn blue"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</button>-->
						<!-- END NOTAS OPTIONS -->	
					</div>
					<!-- END SEARCH ROW -->

		<!-- BEGIN DADOS OBTIDOS --> 
		<br/>

        <div class="row">
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-usd fa-lg" aria-hidden="true"></i> Bancos cadastrados
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
						<br/>   
						<tabset>
							<tab ng-click="inicio()">
								<tab-heading>
									<i class="fa fa-university"aria-hidden="true"></i>
									Bancos
								</tab-heading>    
						<table class="table table-striped table-bordered table-condensed table-hover" show-filter="true">
							<thead>
								<tr>
									<th class="text-center">*</th>
									<th class="text-center">Código</th>
									<th class="text-center">Banco</th>
								</tr>
							</thead>
							<tbody ng-repeat="item in listaBancos" >
							<tr ng-show="item.expanded == false || item.expanded = null" ng-hide="item.expanded == true">
								<td style="width: 20%" class="text-center">
                                    <button ng-if="item.expanded" tooltip="Fechar"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = false">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <button ng-if="!item.expanded" tooltip="Vizualizar agências"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = true; getAgencias(item)">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
									</button>
                                </td>
								<td class="text-center">
									<span >{{item.cdbanco}}</span>
									
								</td>
								<td class="text-center">
									<span>{{item.nmBanco}}</span>
									
								</td>
							</tr>
							<tr ng-show="item.expanded == true" ng-hide="item.expanded == false || item.expanded = null" style="background-color: silver">
								<td style="width: 20%" class="text-center">
                                    <button ng-if="item.expanded" tooltip="Fechar"
                                         class="btn blue btn-xs"
                                         ng-click="item.expanded = false">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <button ng-if="!item.expanded" tooltip="Vizualizar agências"
                                         class="btn blue btn-xs"
                                         ng-click="item.expanded = true; getAgencias(item)">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
									</button>
                                </td>
								<td class="text-center">
									<span style="font-weight: bold">{{item.cdbanco}}</span>
								</td>
								<td class="text-center">
									<span style="font-weight: bold">{{item.nmBanco}}</span>
								</td>
							</tr>
							<tr ng-if="item.expanded" ng-repeat-end="" >
                                    <td colspan="7" style="background-color: whitesmoke"> 
                                        <div class="row">
                                            <div class="col-md-12">
                                                <tabset>
                                                    <tab ng-click="returnAgencias(item)">
                                                        <tab-heading>
															<i class="fa fa-university"aria-hidden="true"></i>
                                                           	Agências
                                                        </tab-heading>
                                                    <div class="row">
														<div class="col-md-6">
															<table ng-show="showEmpty == false" class="table table-striped table-bordered table-condensed table-hover" ng-table="item.tableParams" show-filter="true">
																	<tr ng-repeat="agencia in $data" >
																		<td title="'Editar'" class="text-center">
																			<button ng-show="agencia.expanded == false" ng-hide="agencia.expanded == true" ng-if="agencia.expanded" tooltip="Fechar"
																				class="btn btn-default btn-xs"
																				ng-click="agencia.expanded = false">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																			<button ng-show="agencia.expanded == false" ng-hide="agencia.expanded == true" ng-if="!agencia.expanded" tooltip="Editar"
																				class="btn btn-default btn-xs"
																				ng-click="agencia.expanded = true; editarAgencia(agencia)">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																				
																			<button ng-show="agencia.expanded == true" ng-if="agencia.expanded" tooltip="Fechar"
																				class="btn blue btn-xs"
																				ng-click="agencia.expanded = false">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																			<button ng-show="agencia.expanded == true" ng-if="!agencia.expanded" tooltip="Editar"
																				class="btn blue btn-xs" 
																				ng-click="agencia.expanded = true; editarAgencia(agencia)">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																		</td>
																		<td style="width: 15%" title="'Número'" class="text-center" filter="{ 'nrAgencia': 'text' }">
																			{{agencia.nrAgencia}}
																		</td>
																		<td style="width: 10%" title="'Dígito'" class="text-center" filter="{ 'nrDigitoVerificador': 'text' }">
																			{{agencia.nrDigitoVerificador}}
																		</td>
																		<td title="'Agência'" class="text-center" filter="{ 'nmAgencia': 'text' }">
																			{{agencia.nmAgencia}}
																		</td>
																		<td title="'Cidade'" class="text-center" filter="{ 'cidade.nmCidade': 'text' }">
																			{{agencia.cidade.nmCidade}}
																		</td>
																	
																	</tr>
															
															</table>
															<strong ng-show="showEmpty == true"></br>Sem dados disponíveis </br></br></br></strong>
														</div>

														<div class="col-md-6" ng-show="showEdit == true">
															<form ng-submit="updateAgencia(item)" name="formUpdateAgencia">
															<fieldset style="background-color: whitesmoke">
																<legend class="text-left" style="font-size: 16px; font-weight: bold">
																	Dados
																</legend>
															<div class="form-group">
																<div class="col-md-3">
																	<label class="control-label" for="txtNum">Número<span class="required"> * </span></label> 
																	<input type="text" name="txtNum" id="txtNum" ng-model="ag.nrAgencia" class="form-control" required />
																</div>
																<div class="col-md-2">
																	<label class="control-label" for="txtDig">Dígito<span class="required"> * </span></label> 
																	<input type="text" name="txtDig" id="txtDig" ng-model="ag.digito" class="form-control" required />
																</div>
																<div class="col-md-7">
																	<label class="control-label" for="txtAgencia">Agência<span class="required"> * </span></label> 
																	<input style="text-transform: uppercase" type="text" name="txtAgencia" id="txtAgencia" ng-model="ag.nmAgencia" class="form-control" required />
																</div>
															</div>
														
															</br></br></br>
															<div class="form-group">
																<div class="col-md-7">
																<label class="control-label">Cidade<span class="required"> * </span></label>
																<ui-select ng-model="ag.idCidade" theme="select2" class="form-control select2me"> <ui-select-match
																	placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
																<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
																</div>
															</fieldset>	
																<div class="text-center">
																	<input type="submit" id="submit" class="btn blue" value="Atualizar" />&nbsp;
																	<button class="btn btn-default" ng-click="cancel()">Cancelar</button>
																</div>
															</form>
															</br>
														</div>
                                            	    </div>
													</tab>
													<tab ng-click="novaAgencia()">
													<tab-heading style="color: blue">
														<i class="fa fa-plus"aria-hidden="true"></i>
														Nova Agência
													</tab-heading>
													<div class="row">
														<div class="col-md-6">
														<form ng-submit="addAgencia(item)" name="formAddAgencia">
															<fieldset style="background-color: whitesmoke">
																<legend class="text-left" style="font-size: 16px; font-weight: bold">
																	Dados
																</legend>
															<div class="form-group">
																<div class="col-md-3">
																	<label class="control-label" for="txtNum">Número<span class="required"> * </span></label> 
																	<input type="text" name="txtNum" id="txtNum" ng-model="ag.nrAgencia" class="form-control" required />
																</div>
																<div class="col-md-2">
																	<label class="control-label" for="txtDig">Dígito<span class="required"> * </span></label> 
																	<input type="text" name="txtDig" id="txtDig" ng-model="ag.digito" class="form-control" required />
																</div>
																<div class="col-md-7">
																	<label class="control-label" for="txtAgencia">Agência<span class="required"> * </span></label> 
																	<input style="text-transform: uppercase" type="text" name="txtAgencia" id="txtAgencia" ng-model="ag.nmAgencia" class="form-control" required />
																</div>
															</div>
															
															</br></br></br>
															<div class="form-group">
																<div class="col-md-7">
																<label class="control-label">Cidade<span class="required"> * </span></label>
																<ui-select ng-model="ag.idCidade" theme="select2" class="form-control select2me" on-select="changeCidade($select.selected)"><ui-select-match
																	placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
																<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
																</ui-select-choices> </ui-select>
																</div>
															</div>
															</fieldset>	
															<div class="text-center" >
																<input type="submit" id="submit"  class="btn blue" value="Adicionar" />&nbsp;
															</div></br>
														</form>
														</div>
													</div>
                                                </tab>
                                                </tabset>               
                                            </div>
                                        </div>
                                    </td>
								</tr>
							</tbody>
						</table>
						</tab>
						<tab>
							<tab-heading style="color: blue">
								<i class="fa fa-plus"aria-hidden="true"></i>
								Novo Banco
							</tab-heading>
						<fieldset>
							<legend class="text-left" style="font-size: 16px; font-weight: bold">
								Dados
							</legend>
						<div class="row">
						<form ng-submit="addBanco()" name="formAddBanco">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row" style="margin-left: 0.5%">
										<div class="col-md-2" style="width: 13%">
											<label class="control-label" for="txtCod">Código<span class="required"> * </span></label> 
											<input type="text" name="txtCod" id="txtCod" ng-model="newBanco.cod" class="form-control" required />
										</div>
								
										<div class="col-md-4">
											<label class="control-label" for="txtnmBanco">Nome<span class="required"> * </span></label> 
											<input style="text-transform: uppercase" type="text" name="txtnmBanco" id="txtnmBanco" ng-model="newBanco.nmBanco" class="form-control" required />
										</div></br>&nbsp;&nbsp;
										<div class="col-md-4">
										<button class="btn blue" style="margin-top:2%">Adicionar</button>&nbsp;
										</div>
									</div>
									</br>
								</div>
							</div>
						</form>
						</fieldset>
						</div>
						</div>							
						</tab>	
						</tabset>
					</br>
				</div>
			</div></br></br>
		</div>
	</div>
</div>