<style>
#toast-container {
  top: 11%;
}

.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px;
    border-radius: 5px;
}

.pagination .active > a, .pagination .active > a:hover {
    background: #337ab7;
    border-color: #337ab7;
    color: white;
}

</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Cidades</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
				</div>

				<div class="portlet-body">
					<!-- BEGIN SEARCH ROW -->
					<div class="row text-center">
						<!-- BEGIN NOTAS OPTIONS -->
					<!--	<button class="btn blue"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</button>-->
						<!-- END NOTAS OPTIONS -->	
					</div>
					<!-- END SEARCH ROW -->

		<!-- BEGIN DADOS OBTIDOS --> 
        <br />
        <div class="row">
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-map-o fa-lg" aria-hidden="true"></i> Cidades Cadastradas
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
						<br/>   
						<tabset>
							<tab ng-click="inicio()">
								<tab-heading>
									<i class="fa fa-map-o"aria-hidden="true"></i>
									Cidades
								</tab-heading>  
						<table class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" show-filter="true">
							<tr ng-repeat-start="item in $data">
								<td title="'Bairros'" style="width: 20%" class="text-center">
                                    <button ng-show="item.expanded == false" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn btn-default btn-xs" ng-hide="item.expanded == true"
                                         ng-click="item.expanded = false">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <button ng-show="item.expanded == false" ng-if="!item.expanded" tooltip="Vizualizar bairros"
                                         class="btn btn-default btn-xs" ng-hide="item.expanded == true"
                                         ng-click="item.expanded = true; getBairros(item)">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
									</button>

									<button ng-show="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                         class="btn blue btn-xs"
                                         ng-click="item.expanded = false">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <button  ng-show="item.expanded == true" ng-if="!item.expanded" tooltip="Vizualizar bairros"
                                         class="btn blue btn-xs"
                                         ng-click="item.expanded = true; getBairros(item)">
                                         <span class="glyphicon glyphicon-chevron-down"></span>
									</button>
                                </td>
								<td title="'Cidade'" class="text-center" filter="{ 'nmCidade': 'text' }">
									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmCidade}}</span>
									
									<span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmCidade}}</span>
								</td>
								<td title="'UF'" class="text-center" filter="{ 'nmUF': 'text' }">
									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nmUF}}</span>

									<span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nmUF}}</span>
								</td>
							</tr>
							
							<tr ng-if="item.expanded" ng-repeat-end="" >
                                    <td colspan="7" style="background-color: whitesmoke">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <tabset>
                                                    <tab ng-click="returnBairros(item)">
                                                        <tab-heading>
															<i class="fa fa-map-marker"aria-hidden="true"></i>
                                                           	Bairros
                                                        </tab-heading>
                                                    <div class="row">
														<div class="col-md-6">
															<table ng-show="showEmpty == false" class="table table-striped table-bordered table-condensed table-hover" ng-table="item.tableParams" show-filter="true">
																
																	<tr ng-repeat="bairro in $data" >
																		<td style="width: 25%" title="'Editar'" class="text-center">
																			<button ng-show="bairro.expanded == false" ng-hide="bairro.expanded == true" ng-if="bairro.expanded" tooltip="Fechar"
																				class="btn btn-default btn-xs"
																				ng-click="bairro.expanded = false">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																			<button ng-show="bairro.expanded == false" ng-hide="bairro.expanded == true" ng-if="!bairro.expanded" tooltip="Editar"
																				class="btn btn-default btn-xs"
																				ng-click="bairro.expanded = true; editarBairro(item,bairro)">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																				
																			<button ng-show="bairro.expanded == true" ng-if="bairro.expanded" tooltip="Fechar"
																				class="btn blue btn-xs"
																				ng-click="bairro.expanded = false">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																			<button ng-show="bairro.expanded == true" ng-if="!bairro.expanded" tooltip="Editar"
																				class="btn blue btn-xs" 
																				ng-click="bairro.expanded = true; editarBairro(item,bairro)">
																				<span class="fa fa-pencil-square-o"></span>
																			</button>
																		</td>
																		<td title="'Bairro'" class="text-center" filter="{ 'nmBairro': 'text' }">
																			{{bairro.nmBairro}}
																		</td>
																	</tr>
															
															</table>
															<strong ng-show="showEmpty == true"></br>Sem dados disponíveis </br></br></br></strong>
														</div>

														<div class="col-md-6" ng-show="showEdit == true">
															<form ng-submit="updateBairro(item)">
															<fieldset style="background-color: whitesmoke">
																<legend class="text-left" style="font-size: 16px; font-weight: bold">
																	Dados
																</legend>
															<div class="form-group">
																<div class="col-md-12">
																	<label class="control-label" for="txtBairro">Bairro<span class="required"> * </span></label> 
																	<input style="text-transform: uppercase" type="text" name="txtBairro" id="txtBairro" ng-model="cidade.nmBairro" class="form-control" required />
																</div>
															</div>
															</fieldset>
															<div class="text-center">
																<input type="submit" id="submit"  class="btn blue" value="Atualizar" />&nbsp;
																<button class="btn btn-default" ng-click="cancel(item)">Cancelar</button>
															</div></br>
															</form>
														</div>
                                            	    </div>
													</tab>
													<tab ng-click="novoBairro()">
													<tab-heading style="color: blue">
														<i class="fa fa-plus"aria-hidden="true"></i>
														Novo Bairro
													</tab-heading>
													<div class="row">
														<div class="col-md-6">
														<form ng-submit="addBairro(item)">
														<fieldset style="background-color: whitesmoke">
																<legend class="text-left" style="font-size: 16px; font-weight: bold">
																	Dados
																</legend>
															<div class="form-group">
																<div class="col-md-12">
																	<label style="font-weight: bold">Cidade: {{item.nmCidade}}</label> 
																</div>
																<div class="col-md-12">
																	<label class="control-label" for="txtBairro">Bairro<span class="required"> * </span></label> 
																	<input style="text-transform: uppercase" type="text" name="txtBairro" id="txtBairro" ng-model="cidade.nmBairro" class="form-control" required />
																</div>
															</div>
															</fieldset>
															<div class="text-center">
																<input type="submit" id="submit"  class="btn blue" value="Adicionar" />&nbsp;
															</div></br>
														</form>
														</div>
													</div>
                                                </tab>
                                                </tabset>               
                                            </div>
                                        </div>
                                    </td>
								</tr>
                        </table>                       
                        </tab>
						<tab ng-click="novaCidade()">
							<tab-heading style="color: blue">
								<i class="fa fa-plus"aria-hidden="true"></i>
								Nova Cidade
							</tab-heading>
						<div class="row">
						<form ng-submit="addCidade()">
							<div class="col-md-12">
								<div class="form-group">
								<fieldset>
									<legend class="text-left" style="font-size: 16px; font-weight: bold">
										Dados
									</legend>
									<div class="row" style="margin-left:1%">
										<div class="col-md-2" style="width: 10%">
											<label class="control-label" for="txtUF">UF<span class="required"> * </span></label> 
											<input style="text-transform: uppercase" type="text" name="txtUF" id="txtUF" ng-model="cidade.UF" class="form-control" required />
										</div>
								
										<div class="col-md-4">
											<label class="control-label" for="txtCidade">Cidade<span class="required"> * </span></label> 
											<input style="text-transform: uppercase" type="text" name="txtCidade" id="txtCidade" ng-model="cidade.nmCidade" class="form-control" required />
										</div>&nbsp;&nbsp;
										<div class="col-md-3">
											<button class="btn blue" style="margin-top:10%" >Adicionar</button>
										</div>
									</div></br>
								</fieldset>
								</div>
							</div>
						</form>
						</div>							
						</tab>	
						</tabset>
					</br>
				</div>
			</div></br></br>
		</div>
	</div>
</div>