<form ng-submit="atualizarEmpresa(item)">
    <fieldset>
        <legend class="text-left" style="font-size: 16px; font-weight: bold">
            Dados
        </legend>
        <div class="row">
            <div style="margin-left: 3%" class="col-md-8">
                <label class="control-label" for="txtRazaoSocial">Razão Social<span class="required"> * </span></label>
                <input style="text-transform: uppercase" type="text" name="txtRazaoSocial" id="txtRazaoSocial" ng-model="empresa.nmRazaoSocial" class="form-control"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                 <div class="col-md-5" style="margin-left: 2%">
                    <label class="control-label" for="txtNomeFantasia">Nome Fantasia<span class="required"> * </span></label>
                    <input style="text-transform: uppercase" type="text" name="txtNomeFantasia" id="txtNomeFantasia" ng-model="empresa.nmFantasia" class="form-control" />
                </div>
                <div style="margin-left: 1%" class="col-md-3">
                    <label class="control-label" for="nrCnpj">
                        CNPJ<span class="required">*</span>
                    </label>
                    <input style="text-transform: uppercase" type="text" name="nrCnpj" id="nrCnpj" ng-model="empresa.nrCnpj" class="form-control" ng-blur="verificarCNPJDuplicado(empresa.nrCnpj)" ui-br-cnpj-mask/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div style="margin-left: 3%;width: 20.5%" class="col-md-2">
                <label class="control-label" for="txtInsEstadual">Inscrição Estadual</label>
                <input type="text" name="txtInsEstadual" id="txtInsEstadual" ng-model="empresa.nrInscEstadual" class="form-control" />
            </div>
            <div class="col-md-2" style="margin-left: 3%;width: 20.5%">
                <label class="control-label" for="txtInsMunicipal">Inscrição Municipal</label>
                <input type="text" name="txtInsMunicipal" id="txtInsMunicipal" ng-model="empresa.nrInscMunicipal" class="form-control" maxlength="11" />
            </div>
            <div class="col-md-2" style="margin-left: 2%;width: 20.5%">
                <label class="control-label" for="txtInsSuframa">Inscrição na Suframa</label>
                <input type="text" name="txtInsSuframa" id="txtInsSuframa" ng-model="empresa.nrInscsuframa" class="form-control" maxlength="11" />
            </div>
        </div>
    </fieldset>
    <fieldset>
         <legend class="text-left" style="font-size: 16px; font-weight: bold">
            Endereço
        </legend>
        <div class="row">
            <div style="margin-left: 3%" class="col-md-2">
                <label class="control-label" for="txtCEP">
                    CEP
                    <span class="required"> * </span></label>
                <input style="text-transform: uppercase" type="text" name="txtCEP" id="txtCEP" ng-model="empresa.nrCep" class="form-control" ui-br-cep-mask/>
            </div>
        </div>
        <br>
        <div class="row">
            <div style="margin-left: 3%" class="col-md-5">
                <label class="control-label" for="txtLogradouro">Logradouro<span class="required"> * </span></label>
                <input style="text-transform: uppercase" type="text" name="txtLogradouro" id="txtLogradouro" ng-model="empresa.nmLogradouro" class="form-control" />
            </div>
             <div   class="col-md-5">
                <label class="control-label" for="txtNumero">Número<span class="required"> * </span></label>
                <input style="text-transform: uppercase" type="text" name="txtNumero" id="txtNumero" ng-model="empresa.nrNumero" class="form-control" />
            </div>   
        </div>
        <br>
        <div class="row">
             <div style="margin-left: 3%" class="col-md-10">
                <label class="control-label" for="txtComplemento">Complemento</label>
                <input style="text-transform: uppercase" type="text" name="txtComplemento" id="txtComplemento" ng-model="empresa.nmComplemento" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row">
            <div style="margin-left: 3%" class="col-md-5">
                <label class="control-label">Cidade<span class="required"> * </span></label>
                <ui-select ng-model="empresa.cidade" ng-change="getBairros(empresa.cidade)" theme="select2" class="form-control select2me">
                    <ui-select-match placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match>
                    <ui-select-choices repeat="item in cidadeOptions | filter: $select.search">
                        <div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3">
                <label class="control-label">Bairro<span class="required"> * </span></label>
                <ui-select ng-model="empresa.bairro" theme="select2" class="form-control select2me">
                    <ui-select-match placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match>
                    <ui-select-choices repeat="item in bairrosOptions | filter: $select.search">
                        <div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <br>
        <div class="row">
            <div style="margin-left: 3%"  class="col-md-10">
                <label class="control-label" for="txtPontoRef">Ponto de Referência</label>
                <input style="text-transform: uppercase" type="text" name="txtPontoRef" id="txtPontoRef" ng-model="empresa.nmPontoReferencia" class="form-control" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="text-left" style="font-size: 16px; font-weight: bold">
            Contatos
        </legend>
        <div class="row">
            <div style="margin-left: 3%; width: 22%" class="col-md-2">
                <label class="control-label" for="txtTel1">Telefone 1<span class="required"> * </span></label>
                <input type="text" name="txtTel1" id="txtTel1" ng-model="empresa.nrTelefone1" maxlength="14" class="form-control" ui-br-phone-number/>
            </div>
            <div class="col-md-2" style="width: 22%">
                <label class="control-label" for="txtTel2">Telefone 2</label>
                <input type="text" name="txtTel2" id="txtTel2" ng-model="empresa.nrTelefone2" maxlength="14" class="form-control" ui-br-phone-number/>
            </div>
            <div class="col-md-3" style="width: 22%">
                <label class="control-label" for="txtTel3">Telefone 3</label>
                <input type="text" name="txtTel3" id="txtTel3" ng-model="empresa.nrtelefone3" maxlength="14" class="form-control" ui-br-phone-number/>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="txtFax">Fax</label>
                <input type="text" name="txtFax" id="txtFax" ng-model="empresa.nrFax" class="form-control" />
            </div>
        </div>
         <br>
        <div class="row">
            <div style="margin-left: 3%" class="col-md-6">
                <label class="control-label" for="txtEmail">E-mail</label>
                <input style="text-transform: uppercase" type="text" name="txtEmail" id="txtEmail" ng-model="empresa.nmEmail" class="form-control" />
            </div>
            <div class="col-md-5">
                <label class="control-label" for="txtSite">Site</label>
                <input style="text-transform: uppercase" type="text" name="txtSite" id="txtSite" ng-model="empresa.nmSite" class="form-control" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="text-left" style="font-size: 16px; font-weight: bold">
            Configurações
        </legend>
        <div class="row">
            <div style="margin-left: 3%" class="col-md-2">
                <label class="control-label" for="validadeGuia">
                 Durabilidade Guia
                </label>
                <input type="text" name="validadeGuia" id="validadeGuia" ng-model="empresa.validadeGuia" numbers-only class="form-control" title="Valor em dias que a Guia demora para vencer, contando deste a data que foi criada" />
            </div>
            <div class="col-md-2">
                <label class="control-label" for="txtDiaVenc">Dia de Vencimento<span class="required"> * </span></label>
                <input type="text" name="txtDiaVenc" id="txtDiaVenc" maxlength="2" ng-model="empresa.diaVencimento" class="form-control" />
            </div>
        
            <div  class="col-md-3">
                <label class="control-label" for="txtAcrescVenc">Acrescimo no Vencimento</label>
                <ui-select ng-model="empresa.inAcrescmoVencimento" theme="select2" class="form-control select2me">
                    <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in acrescimoVencimento | filter: $select.search">
                        <div ng-bind-html="item.description | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <br>
        <div class="row">
            <div style="margin-left: 3%"  class="col-md-2">
                <label class="control-label" for="txtTipoPag">Tipo de Pagamento<span class="required"> * </span></label>
                <ui-select ng-model="empresa.inTipoPagamento" ng-change="clear()" theme="select2" class="form-control select2me">
                    <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in TiposPagamentos | filter: $select.search">
                        <div ng-bind-html="item.description | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-show="empresa.inTipoPagamento == 2" class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Tipo de cobrança<span class="required"> * </span></label>
                    <div class="input-group">
                        <label class="btn blue" ng-model="tipo.cobranca" btn-radio="0">Fixo</label>
                        <label class="btn blue" ng-model="tipo.cobranca" btn-radio="1">Por vida</label>
                    </div>
                </div>
            </div>
            <div ng-show="empresa.inTipoPagamento == 2 && (tipo.cobranca == 0 || tipo.cobranca == 1)" class="col-md-2">
                <label class="control-label" for="txtValor">Valor<span class="required"> * </span></label>
                <input type="text" name="txtValor" id="txtValor" ng-model="tipo.fixo" class="form-control" ui-money-mask  />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="text-left" style="font-size: 16px; font-weight: bold">
            Contrato
        </legend>
        <div class="row">
            <div style="margin-left: 3%" class="col-md-2">
                <label class="control-label">Empresa Grupo<span class="required"> * </span></label>
                <input type="text" ng-model="contrato.nmEmpresaGrupo" ng-readonly="true" class="form-control" required/>
            </div>
            <div class="col-md-2">
                <label class="control-label">Nº Contrato<span class="required"> * </span></label>
                <input type="text" ng-model="contrato.nrContrato" ng-readonly="true" class="form-control" required/>
            </div>
            <div class="col-md-2" style="width: 12%">
                <label class="control-label">Data<span class="required"> * </span></label>
                <input type="text" ng-model="contrato.data" ng-readonly="true" class="form-control" required/>
            </div>
            <div class="col-md-2" style="width: 14%">
                <label class="control-label">Valor total<span class="required"> * </span></label>
                <input type="text" ng-model="contrato.vlTotal" ng-readonly="true" class="form-control" ui-money-mask required/>
            </div>
            <div class="col-md-2">
                <label class="control-label" for="txtCPF">Forma de Pagamento<span class="required"> * </span></label>
                <input type="text" ng-model="contrato.inFormaPagamento" ng-readonly="true" class="form-control" required/>
            </div>
            &nbsp;
            <div class="col-md-2">
                <div ng-switch on="contrato.boBloqueado" style="margin-top: 19%">
                    <label class="control-label">Bloqueado ?</label>&nbsp;
                    <div ng-switch-when="false" class="label label-sm label-success">NAO</div>
                    <div ng-switch-when="true" class="label label-sm label-danger">SIM</div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="text-center">
        <input type="submit" id="submit" class="btn blue" value="Atualizar" />&nbsp;
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    </div>
</form>
