<div ui-tree-handle class="tree-node tree-node-content">
	<div class="row">
		<div class="col-md-6">
			<a  ng-if="node.contasContabil && node.contasContabil.length > 0" ng-click="toggle(this)">
			<span class="fa" ng-class="{'fa-arrow-right': collapsed,'fa-arrow-down': !collapsed}"></span>
			</a>		
		</div>
		<div class="col-md-6">
			<a id="descricao" placeholder="descrição" class="link-blue" ng-click="definirContaContabil(node)">
				{{node.nmContaContabil}}
			</a>
		</div>
	</div>	
</div>
<ol ui-tree-nodes="" ng-model="node.contasContabil" ng-class="{hidden: collapsed}">
	<li ng-repeat="node in node.contasContabil | filter:searchList" ui-tree-node 
	 ng-include="'templates/admin4_material_design/angularjs/views/financeiro/contaPagar/contaPagar-cadastro-uiTree-contaContabil.html'">
    </li>
</ol>