<style>
	.modal-body {
    	max-height: calc(100vh - 210px);
    	overflow-y: auto;
	}

	.modal .modal-footer {
    	border: 0 !important;
    	background: #C9D3DD;
	}

	.modal .modal-dialog {
    	z-index: 10051;
    	top: 45px;
	}
</style>
<div class="modal-header">
	<button type="button" class="close" aria-label="Close" ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" ng-if="boShowCContabil" >Selecione a conta Cont&aacute;bil</h4>
	<h4 class="modal-title" ng-if="boShowCCusto" >Selecione o centro de custo</h4>
</div>

<div class="modal-body">
	<div>
		<!-- BEGIN NODES -->
		<div class="row">
			<div class="col-md-12 text-center" ng-show="data.length == 0">
				<em><strong>Sem dados dispon&iacute;veis,</strong></em><br/>
			</div>

			<div class="col-md-offset-3 col-md-5">
				<div class="form-group">
                    <div class="input-group input-group-sm">
                        <input id="fieldSearch" type="text" class="form-control" placeholder="pesquise..." ng-model="searchList" focus-element="focusFieldSearch">
                        <span class="input-group-addon" id="sizing-addon1">
                        	<i class="fa fa-search" aria-hidden="true"></i>
                    	</span>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<button class="btn btn-xs blue" ng-click="expandAll()">Expandir</button>
				<button class="btn btn-xs btn-danger" ng-click="collapseAll()">Minimizar</button>
			</div>
			<div class="col-md-12" ng-show="boShowCContabil">
				<div ui-tree data-drag-enabled="false" 
            	 data-empty-placeholder-enabled="false">
					<ol ui-tree-nodes ng-model="contaContabilList">
						 <li ng-repeat="node in contaContabilList | filter:searchList" 
						 ui-tree-node
						 ng-include="'templates/admin4_material_design/angularjs/views/financeiro/contaPagar/contaPagar-cadastro-uiTree-contaContabil.html'"></li>
					</ol>
				</div>
			</div>
			<div class="col-md-12" ng-show="boShowCCusto">
				<div ui-tree data-drag-enabled="false" 
            	 data-empty-placeholder-enabled="false">
					<ol ui-tree-nodes ng-model="centroCustoList">
						 <li ng-repeat="node in centroCustoList | filter:searchList" ui-tree-node 
						 ng-include="'templates/admin4_material_design/angularjs/views/financeiro/contaPagar/contaPagar-cadastro-uiTree-centroCusto.html'"></li>
					</ol>
				</div>
			</div>
		</div>
		<!-- END NODES -->
	</div>
</div>
</form>