<style>
	.multiSelect > button {
    	min-height: 25px !important;
	}

	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini {
    	width: 180px !important;
    } 
	.choiceFilter{
        visibility: hidden; 
        margin-left:-15px !important;
    }
    .active1 {
        background-color: #365b96;
        color: #ffffff;
    }
    .deactive1 {
        background-color: #E5E5E5;
    }
</style>
<div class="row" >
	<div class="col-md-12">
		<div class="portlet light">
			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject 
					 font-{{cssStyleObject.color}} bold uppercase">Despesas Cadastradas</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<!-- END TITLE -->
			
			
			<!-- BEGIN CONTENT -->
			<div class="portlet-body ">
				
				<!-- BEGIN EMPRESAS FINANCEIRO -->
				<br/>
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="form-group">
							<ui-select id="selEmpresaStart" name="selEmpresaStart"
	                     	ng-model="empresaFinanceiro.selected" class="form-control select2me" theme="select2" append-to-body="true" search-enabled="true" autofocus on-select="loadContasDespesa(null,false)"> 
	                     		<ui-select-match placeholder="Selecione a empresa...">
									{{$select.selected.nmFantasia}}
								</ui-select-match> 

								<ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
									<div ng-bind-html="item.nmFantasia | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>  
						</div>
					</div>
				</div>
				<br/>

	            <!-- BEGIN TABLE CENTRO DE CUSTOS -->
	            <div class="portlet box {{cssStyleObject.color}}">
	                <div class="portlet-title">
	                    <div class="caption">
	                       <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> 
	                       {{empresaFinanceiro.selected.nmFantasia}} 
	                   	</div>
	                    <div class="tools">
	                        <a href="javascript:;" class="collapse"> </a>
	                    </div>
	                </div>
	                <div class="portlet-body">
	                	<!--BEGIN OPTIONS GERAIS -->
	                	<br/>
	                	<div class="row">
	                		<div class="col-md-1">
	                			<button class="btn btn-xs {{cssStyleObject.color}}"
	                			 ng-click="goToCadastrarConta()">
	                				Nova
	                				<i class="fa fa-plus" aria-hidden="true"></i>			
	                			</button>
	                		</div>
	                		<div class="col-md-3">
	                			 <div class="btn-group">
	                                <label class="btn btn-xs {{cssStyleObject.color1}} " 
	                                 ng-model="inStatusFiltro" btn-radio="'2'" uncheckable>
	                                 	Atrasado
	                                 </label>
	                                <label class="btn btn-xs {{cssStyleObject.color2}}" 
	                                 ng-model="inStatusFiltro" btn-radio="'0'" uncheckable>
	                                 	Em aberto
	                             	</label>
	                                <label class="btn btn-xs {{cssStyleObject.color3}}" 
	                                 ng-model="inStatusFiltro" btn-radio="'1'" uncheckable>
	                                 	Pago
	                             	</label>
	                             	<label class="btn btn-xs {{cssStyleObject.color7}}" ng-model="inStatusFiltro" btn-radio="'7'" uncheckable>
	                             		Conciliado
	                             	</label>
	                            </div>
	                		</div>
							<div class="col-md-1">
								<label class="control-label">Vencimento:</label> 	
							</div>
							<!--DATEPICKER RANGE -->
			                <div class="col-md-2" style="width: 18%">
			                	<div>
			                       <input date-range-picker 
			                        class="form-control date-picker text-center" type="text" 
			                        ng-model="dataFiltro.date" placeholder="Pesquisa por data." 
			                        options="{eventHandlers:{'apply.daterangepicker':changeDateLoadContaDespesa}, locale: localeDateRangePicker, ranges:
			                        rangesDateRangePicker,alwaysShowCalendars:false, showCustomRangeLabel:true ,timePicker:false }" 
			                        />
			                    </div>      
			                </div>
							<!-- END DATEPICKER RANGE  --> 
							<div class="col-md-2" style="margin-left: 4%" ng-show="inStatusFiltro != 1"></div>
							
							<!-- BEGIN FILTRO MODALIDADE PAGAMENTO -->
							<div class="col-md-2" ng-show="inStatusFiltro == 1">
								<div class="btn-group">
								   <label class="btn btn-xs {{cssStyleObject.color4}} " 
									ng-model="inStatusModalidade" btn-radio="'4'" uncheckable>
										Dinheiro
									</label>
								   <label class="btn btn-xs {{cssStyleObject.color5}}" 
									ng-model="inStatusModalidade" btn-radio="'5'" uncheckable>
										Cheque
									</label>
								   <label class="btn btn-xs {{cssStyleObject.color6}}" 
									ng-model="inStatusModalidade" btn-radio="'6'" uncheckable>
										Débito
									</label>
							   </div>
						   </div>
						   <!-- END FILTRO MODALIDADE PAGAMENTO -->
							<div class="col-md-2">
								<div class="form-group">
									<ui-select
										ng-model="contaContabil.selected" ng-change="filterContaContabil(contaContabil.selected)" class="form-control select2me" theme="select2" append-to-body="true" search-enabled="true" autofocus> 
											<ui-select-match placeholder="Conta Contábil">
											{{$select.selected.nmContaContabil}}
										</ui-select-match> 
		
										<ui-select-choices repeat="item in listContaContabil | filter: $select.search | orderBy:'id' ">
											<div ng-bind-html="item.nmContaContabil | highlight: $select.search">
											</div>
										</ui-select-choices> 
									</ui-select>  
								</div>
							</div>
	                	</div>
	                	
	                	<!--END OPTIONS GERAIS -->
						<em ng-show="totalRegistro == 0"><strong>Sem dados dispon&iacute;veis.</strong></em>
											
						<div class="text-center" ng-show="(totalRegistro > 0 && inStatusFiltro != 1 && inStatusFiltro != null) || (totalRegistro > 0 && inStatusFiltro == 1  && inStatusModalidade != null) || (totalRegistro >0 && inStatusFiltro == null ) || (totalRegistro >0 && inStatusFiltro == 1 && inStatusModalidade == null)">
							<button class="btn btn-sm red text-center" type="button"
							ng-click="gerarPdf()">
							   <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
						   </button>	
						</div>
						<div ng-show="totalRegistro > 0" style="margin-right: 1%">
	                			<div class="text-right">
	                				<span class="badge badge-danger" tooltip="Atrasadas"> 
	                					{{totalVencidadas}} 
	                				</span>
	                				<span class="badge badge-blue" tooltip="Em aberto"> {{totalAbertas}} 
	                				</span>
	                				<span class="badge badge-success" tooltip="Pago"> {{totalPagas}} 
	                				</span>
	                				<span style="margin-left: 10px;"></span>
	                				<span class="badge badge-black" tooltip="Total"> {{totalRegistro}} 
	                				</span>
	                			</div>
							</div>
	                    <div class="table-responsive" ng-show="totalRegistro > 0" style="margin-top: 0.5%">
	                        <table id="table_centroCusto" ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-hover">
	                            <tr ng-repeat="item in $data">
	                                <td data-title="'Vencimento'" class="text-center"
	                                sortable="'dtVencimento'"> 
	                                	<a ng-click="goToCadastrarConta(item)"
	                                	  class="table-main-link">
	                                		{{item.dtVencimento | date:'dd/MM/yyyy' }} 	
	                                	</a>
	                                </td>
	                                <td data-title="'Documento'" class="text-center" 
	                            	 filter="{ 'nrDocumento': 'text' }" 
	                            	 sortable="'nrDocumento'"> 
	                                	{{item.nrDocumento }} 	
	                                </td>
	                                <td data-title="'Conta Cont&aacute;bil'" 
	                                filter="{ 'contaContabil.nmContaContabil': 'text' }" 
	                                sortable="'contaContabil.nmContaContabil'"> 
	                                 {{item.contaContabil.nmContaContabil}} 
	                             	</td>
	                             	<td data-title="'Parcela'" class="text-center"> 
	                                  <span class="label label-primary">
	                                 	{{item.nrOrdemParcela +'/'+ item.nrQuantidadeParcelas}} 
	                                  </span>
	                             	</td>
	                             	<td data-title="'Descri&ccedil;&atilde;o'" 
	                             	filter="{ 'nmDespesa': 'text' }">
									 <p tooltip="{{item.nmDespesa}}">
									 {{item.nmDespesa.length > 30 ? (item.nmDespesa | limitTo: 30) + '...' : item.nmDespesa }} </p>
	                             	</td>
	                             	<td data-title="'Fornecedor'" 
	                                filter="{ 'fornecedor.nmNomeFantasia': 'text' }"
	                                sortable="'fornecedor.nmNomeFantasia'">
	                                 {{item.fornecedor == null ? '-': item.fornecedor.nmNomeFantasia }} 
	                             	</td>
	                             	<td data-title="'Valor'" class="text-center" filter="{'vlDespesa' : 'text'}" sortable="'vlDespesa'">
	                                 {{item.vlDespesa | currency: 'R$'}} 
	                             	</td>
	                             	<td data-title="'Valor Pago'" class="text-center" sortable="'vlPago'">
	                                	{{item.vlPago | currency: 'R$'}}  <br/>
	                                	<div ng-show="item.vlPago != null">
											<!-- <small style="color:green;" ng-show="item.vlPago - item.vlDespesa > 0">
												<i class="fa fa-arrow-up font-green-meadow" aria-hidden="true"></i>
												{{item.vlPago - item.vlDespesa | currency:"R$"}}
											</small> -->
											<small style="color:green;" ng-show="item.vlPago - item.vlDespesa < 0">
												<i class="fa fa-arrow-down font-green-meadow" aria-hidden="true"></i>
												{{ item.vlDespesa - item.vlPago  | currency:"R$"}}
											</small>
 											<small style="color:red;" ng-show="item.vlPago - item.vlDespesa > 0" >
 												<i class="fa fa-arrow-up font-red-sunglo " aria-hidden="true"></i>
												    {{ item.vlDespesa - item.vlPago | currency:"R$"}}	
 											</small>
 										</div>
	                             	</td>
	                             	<td data-title="'Servi&ccedil;o'" class="text-center"  
	                             	filter="{ 'nrServico': 'text' }"
	                             	sortable="'nrServico'">
	                                	{{item.nrServico}} 
	                             	</td>
	                             	<td data-title="'Observacao'"
	                             	filter="{ 'nmObservacao': 'text'}">
	                                 	<p tooltip="{{item.nmObservacao}}">
	                                 	{{item.nmObservacao.length > 15 ? (item.nmObservacao | limitTo: 15) + '...' : item.nmObservacao }} </p>	
									 </td>
									<td data-title="'Forma Pagamento'">
										<span ng-if="item.inFormaPagamento == 0"> {{'Cheque'}} </span> 
										<span ng-if="item.inFormaPagamento == 1"> {{'Débito'}} </span> 
										<span ng-if="item.inFormaPagamento == 2"> {{'Dinheiro'}} </span> 
									</td>
	                             	<td data-title="'Situa&ccedil;&atilde;o'" class="text-center"
	                             	sortable="'inStatus'">
	                                 	<span class="label label-blue" ng-show="item.inSituacao == 0"> {{'EM ABERTO'}}</span>
	                                 	<span class="label label-success" ng-show="item.inSituacao == 1"> {{'PAGO'}}</span>
	                                 	<button type="button" class="btn btn-xs btn-circle grey-salt" ng-show="item.inSituacao == 1 && item.idTransacaoBancaria != null && showButtonConc" tooltip="desconciliar" ng-click="desconciliarDadosBancarios(item)"> {{'conciliado'}}</button>
	                                 	<span class="label label-danger" ng-show="item.inSituacao == 2"> {{'ATRASADO'}}</span>
	                             	</td>

	                             	<td data-title="'Op&ccedil;&otilde;es'" class="text-center"> 
	                             		<div class="btn-group inline">
	                             			<a style="padding-right:10px;" class="table-link-noDecoration" ng-click="goToCadastrarConta(item)" >
		                             			<i class="fa fa-pencil-square-o font-grey-mint" 
		                             			 aria-hidden="true"></i>
	                             			</a>
	                             			<a ng-bootbox-confirm="Realmente deseja inativar a despesa {{item.nmDespesa}}?" ng-bootbox-confirm-action="excluirDespesaFinanceiro( item )"  >
	                             				<span class="icon-trash font-red"></span>
	                             			</a>	                             			
	                             		</div>		
	                             	</td>
	                            </tr>
	                        </table>
	                    </div>
	                </div>
	            </div>
	           <!-- END TABLE CENTRO DE CUSTOS -->
			</div>
			<!-- END CONTENT -->
		</div>
	</div>
</div>