<style>
	
	#conta-dados-gerais {
   		border-right: 3px solid #eee;
	}

	hr {
	    margin: 5px 0;
	}

	.changeButtonColorBorder .form-control {
		 border: 1px solid #3598DC;
	} 

	.button-openModal {
		transition-duration: 0.4s;
	}

	.button-openModal:hover {
	    background-color: #3598DC;
	    color: white;
	}

	.button-cancel {
		border: 1px solid #E35B5A;
		transition-duration: 0.4s
	}

	.button-cancel:hover {
		background-color: #E35B5A;
		color: white;
	}

	.progress {
		line-height: 15px;
	   	height: 16px;
	    display: inline-block;
	    width: 50px;
	}

	.drop-box {
	    background: #F8F8F8;
	    border: 5px dashed #DDD;
	    width: 250px;
	    height: 50px;
	    text-align: center;
	    padding-top: 5px;
	    margin: 10px;
	}

	.dragover {
	    border: 5px dashed blue;
	}

	.thumb {
	    width: 48px;
	    height: 48px;
	    float: none;
	    position: relative;
	    top: 0px;
	}

	.teste .thumb {
		width: 80%; 
		height: 115px;
		float: none;
	    position: relative;
	    top: 0px;
	}

	div.show-image {
    	position: relative;
    	float:left;
    	margin:5px;
	}

	div.show-image:hover img{
	    opacity:0.5;
	}

	div.show-image:hover input {
	    display: block;
	}

	div.show-image input {
	    position:absolute;
	    display:none;
	}

	div.show-image input.update {
	    top:0;
	    left:0;
	}

	div.show-image input.delete {
	    top:0;
	    left:79%;
	}

</style>
<div class="row" >
	<div class="col-md-12">
		<div class="portlet light">			
			<!-- BEGIN CONTENT -->
			<div class="portlet-body ">
				<form>
					<!--BEGIN FLUXO PRINCIPAL CADASTRO -->
					<div class="row">
						<div class="col-md-6" id="conta-dados-gerais" >

							<div class="row">

								<!-- NR DOCUMENTO -->
								<div class="col-md-3">
									<label class="control-label">
										Nr.Documento <span class="required"> * </span>
									</label>
			                       	<input id="nrDocumento" type="text" class="form-control input-sm" 
			                       	ng-model="despesaFinanceiro.nrDocumento" 
			                       	ng-blur="verificarDocumentoDuplicado(despesaFinanceiro.nrDocumento)"> 
								</div>
								<!-- END NR DOCUMENTO -->

								<!-- valor -->
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">
											Valor <span class="required">*</span>
										</label>
										<input type="text" class="form-control input-sm"  ng-model="despesaFinanceiro.vlDespesa" ui-number-mask>
										<div class="help-block text-center" ng-show="despesaFinanceiro.id != null">
											<span class="label label-blue">
	                                 			Parcela: {{dfSelected.nrOrdemParcela +'/'+ dfSelected.nrQuantidadeParcelas}}
											</span>
										</div>
									</div>	
								</div>
								<!-- end valor -->	

								<!-- DESCRICAO-->
								<div class="col-md-6">
									<label class="control-label">
										Descri&ccedil;&atilde;o <span class="required"> * </span>
									</label>
									<textarea id="nmDescricao" class="form-control input-sm"  rows="3"
									 ng-model="despesaFinanceiro.nmDespesa"></textarea>
									<span class="help-block text-right"> 
										<label class="label label-sm label-info">
										{{ ( 200 - despesaFinanceiro.nmDespesa.length ) + ' carac. restantes' }} 
										</label>
									</span>
								</div>

							</div>
							<br>
							<div class="row">

								<!-- CONTA CONTABIL-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">
											Conta Cont&aacute;bil <span class="required"> * </span>
										</label>
										<div>
											<div class="changeButtonColorBorder">
												<button 
											 	 ng-click="loadContasContabil()" 
											 	 ng-show="!despesaFinanceiro.contaContabil"
											 	 class=" button-openModal form-control input-sm text-center">selecione</button>	
											</div>
											
											<div class="input-group input-group-sm"
											 ng-if="despesaFinanceiro.contaContabil.nmContaContabil.length > 0">
		                                        <input id="nmContaContabil" type="text" class="form-control" ng-model="despesaFinanceiro.contaContabil.nmContaContabil" ng-disabled="true">
		                                        <span class="input-group-btn">
		                                            <button class="btn blue" type="button"
		                                             ng-click="loadContasContabil()">
		                                            	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		                                            </button>
		                                        </span>
		                                    </div>
				                        </div>
									</div>
								</div>
								<!-- END CONTA CONTABIL-->

								<!-- data vencimento -->
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">
											Vencimento <span class="required">*</span>
										</label>
									 	<p class="input-group  input-group-sm">
				                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="despesaFinanceiro.dtVencimento" 
				                            is-open="openDtVencimento" 
				                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-focus="openDtVencimento = true"
				                            close-text="Close"/>
				                            <span class="input-group-btn">
				                                <button type="button" class="btn btn-default" 
				                                 ng-click="openDtVencimento = true">
				                                    <i class="glyphicon glyphicon-calendar"></i>
				                                </button>
				                            </span>
				                        </p>
									</div>
								</div>	
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<!-- FORNECEDOR -->
								<div class="col-md-6">
									<label for="">Fornecedor
									</label>
									<ui-select id="selFornecedor" name="selFornecedor"
			                     	 ng-model="despesaFinanceiro.fornecedor.id"  
			                     	 class="form-control input-sm select2me" theme="select2" 
			                     	 append-to-body="true"> 
			                     		<ui-select-match
										placeholder="Selecione...">
											{{$select.selected.nmNomeFantasia}}
										</ui-select-match> 

										<ui-select-choices repeat="item.id as item in fornecedorOptions | filter: $select.search">
											<div ng-bind-html="item.nmNomeFantasia | highlight: $select.search">
											</div>
										</ui-select-choices> 
									</ui-select>  
								</div>

								<!-- CENTRO CUSTO-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">
											Centro de Custo<span class="required">*</span>
										</label>
										<div>
			                        	 	<div class="changeButtonColorBorder">
												<button
											 	 ng-click="loadCentroCusto()" 
											 	 ng-show="!despesaFinanceiro.centroCusto"
											 	 class=" button-openModal form-control input-sm  text-center">selecione</button>	
											</div>
											
											<div class="input-group input-group-sm"
											 ng-if="despesaFinanceiro.centroCusto.nmCentroCusto.length > 0">
		                                    	<input id="nmCentroCusto" type="text" class="form-control" 
					                       	 	 ng-model="despesaFinanceiro.centroCusto.nmCentroCusto"
					                       	 	 ng-disabled="true">
		                                        <span class="input-group-btn">
		                                            <button class="btn blue" type="button"
		                                             ng-click="loadCentroCusto()">
		                                            	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		                                            </button>
		                                        </span>
		                                    </div>
				                        </div>
									</div>
								</div>
							</div>	

							<div class="row">

								<!-- DATA COMPETENCIA-->
								<div class="col-md-6">
									<div class="form-group">
										<label for="">Data Competencia</label>
									 	<p class="input-group  input-group-sm">
				                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="despesaFinanceiro.dtCompetencia" 
				                            is-open="openDtCompetencia" 
				                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-focus="openDtCompetencia = true"
				                            close-text="Close" id="dtCompetencia"  />
				                            <span class="input-group-btn">
				                                <button type="button" class="btn btn-default" 
				                                ng-click="openDtCompetencia = true">
				                                    <i class="glyphicon glyphicon-calendar"></i>
				                                </button>
				                            </span>
				                        </p>
									</div>
								</div>
				

								<!-- OBSERVACOES -->
								<div class="col-md-6">
									<div class="form-group">
										<label>
											Observa&ccedil;&otilde;es
										</label>
										<textarea class="form-control input-sm" rows="2"
										 ng-model="despesaFinanceiro.nmObservacao"></textarea>
										<span class="help-block text-right"> 
											<label class="label label-sm label-info">
											{{ ( 200 - despesaFinanceiro.nmObservacao.length ) + ' carac. restantes' }} 
											</label>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END FLUXO PRINCIPAL CADASTRO -->

					<hr ng-show="!despesaFinanceiro.id" />	
					
					<!-- BEGIN PERIDIOCIDADE AND PAGAMENTO -->
					<div class="row">
						<!-- peridiocidade-->
						<div class="col-md-4">
							<div ng-show="!despesaFinanceiro.id">
								<div class="radio-list">
		                            <label class="radio-inline">
		                                <input type="checkbox"
		                                  icheck
		                                  class-check-icheck="icheckbox_flat-blue" 
		                               	  ng-model="boControlesFluxo.isPeriodo">
		                               	  Per&iacute;odo
		                            </label>
	                        	</div>
	                        	<br/>
							</div>
							
							<div class="form-horizontal" ng-show="!despesaFinanceiro.id">
								<div class="col-md-4">
									<div class="form-group">
										<div>
											<ui-select id="selFrequencia" name="selFrequencia"
				                     		 ng-model="boControlesFluxo.inTipoFrequencia" 
				                     		 class="form-control input-sm select2me" 
				                     		 ng-disabled="!boControlesFluxo.isPeriodo"
				                     		 theme="select2" append-to-body="true" 
				                     		 search-enabled="false"> 
					                     		<ui-select-match
												placeholder="Frequência...">
													{{$select.selected.description}}
												</ui-select-match> 

												<ui-select-choices repeat="item.id as item in frequenciaOptions | filter: $select.search">
													<div ng-bind-html="item.description | highlight: $select.search">
													</div>
												</ui-select-choices> 
											</ui-select>  	
										</div>
									</div>
								</div>	
								<div class="col-md-4">
									<div class="form-group">
										<div class="col-md-12">
											<input type="text" class="form-control input-inline  input-sm" 
											 ng-model="boControlesFluxo.qtdOcorrencia" ng-disabled="!boControlesFluxo.isPeriodo" placeholder="Ocorrência">
											<span class="help-inline"> Vezes. </span>	
										</div>
									</div>	
								</div>
							</div>
						</div>
						<!-- end peridiocidade-->

						<!-- drop zone -->
						<div class="col-md-3">
							<div>
								<label>Anexos</label>
							</div>
							<div class="form-group">
								<div ngf-drop="preLoadFiles($files,$invalidFiles)"
								 ngf-select="preLoadFiles($files,$invalidFiles)"
								 class="drop-box" ngf-drag-over-class="'dragover'" 
								 ngf-multiple="true"  ngf-allow-dir="true" 
								 accept="image/*,application/pdf" 
						         ngf-pattern="'image/*,application/pdf'"
						         ngf-max-size="2MB">
						        	 <small><strong>Arraste/selecione pdfs ou imagens para upload</strong></small>
						     	</div>
							    <div ngf-no-file-drop>
							    	Funcao drag/drop nao suportado pelo browser
							    </div>
							</div>                                    			
                		</div>
						<!-- end drop zone--> 
						<div class="col-md-3">
						</div>
						<!-- table files -->
						<div class="col-md-5" ng-show="dfAnexos.length > 0">
	                		<table class="table table table-hover">
                				<thead>
                                    <tr>
                                        <th></th>
                                        <th> Descri&ccedil;&atilde;o </th>
                                        <th> Status </th>
                                        <th> Opções </th>
                                    </tr>
								</thead>
                				<tbody>
                					 <tr ng-repeat="file in dfAnexos">
                                        <td class="text-center"> 
                                        	<div>
												<!-- FLUXO FILE UPLOADED YET -->
												<a href="http://45.33.93.46/imagens/financeiro/{{file.url}}" target="_blank" ng-if="file.id && file.extensao != 'pdf' " >
                                        			<img class="thumb" 
                                        			ng-src="http://45.33.93.46/imagens/financeiro/{{file.url}}">
												</a> 

												<label ng-if="file.extensao == 'pdf' && file.id">
                                        			<a href="http://45.33.93.46/imagens/financeiro/{{file.url}}" target="_blank">
                                        		 		<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        		 	</a>
                                        		</label>	
												
												<!-- FLUXO FILE UPLOADED PENDING -->
                                        		<img ng-show="myForm.file.$valid && !file.id" 
                                        		 ngf-src="file" class="thumb" ng-src="file"><!-- ngf-thumbnail -->

												<label ng-if="(file.name.split('.')[file.name.split('.').length -1]) == 'pdf' && !file.id">
                                        			<a href="#">
                                        		 		<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        		 	</a>
                                        		</label>	
                                        		
                                        	</div>
                                        </td>
                                        <td>
                                        	<span tooltip="{{file.name}}">
                                        		{{(file.name | limitTo: 15) + '...'}} 
                                        	</span>
                                        </td>
                                        <td class="text-center">
                                        	<div ng-show="!file.progress && !file.id">
                                        		<span class="label label-warning" >
                                        			pendente
                                        		</span>
                                        	</div>
                                        	<div class="progress progress-striped"
		                                     ng-show="file.progress >= 0 && !file.$error && !file.result" >
												<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"aria-valuemax="100" 
												style="width:{{file.progress}}%"
											    ng-bind="file.progress + '%'">
											  	</div>
											</div>
											<div ng-show="file.result && !file.id">
												<span class="label label-success">
													Sucesso
												</span>
											</div>
											<div ng-show="file.id">
													-
											</div>
											<div ng-if="file.$error" >
												<div ng-show="file.$error == 'maxSize'">
													<span class="label label-danger"> 
														Maior que o permitido <br/> 
													</span>	
													<span class="label label-danger">
														( m&aacute;ximo {{file.$errorParam}} )
													</span>
												</div>
											</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group inline">
		                             			<a ng-bootbox-confirm="Realmente deseja excluir a imagem {{file.name}}?" ng-bootbox-confirm-action="excluirAnexo( file )"  >
		                             				<span class="icon-trash font-red"></span>
		                             			</a>	                             			
	                             			</div>	
                                        </td>
                                    </tr>	
                				</tbody>
	                		</table>
						</div>
					</div>
					<div class="row">
						<!-- Pagamento -->
						<div class="col-md-12">
							<hr>

							<div class="radio-list">
	                            <label class="radio-inline">
	                                <input type="checkbox"
	                                  icheck
	                                  class-check-icheck="icheckbox_flat-blue" 
	                               	  ng-model="boControlesFluxo.isPago"
	                               	  ng-disabled="despesaFinanceiro.inStatus == 1">
	                               	  Pago
	                            </label>
                        	</div>
                        	<br/>
						</div>

						<!-- BEGIN EMPRESA QUE PAGA -->
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">
									Empresa Pagante 
									<span class="required" ng-show="boControlesFluxo.isPago"> * </span>
								</label>
								<ui-select id="selEmpresaStart" name="selEmpresaStart"
		                     	ng-model="despesaFinanceiro.empresaFinanceiroPagante.idEmpresaFinanceiro" class="form-control input-sm select2me" theme="select2" append-to-body="true" search-enabled="true" autofocus 
		                     	ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1" on-select="loadContasBancariaDeEmpresaFinanceiro($item)"> 
		                     		<ui-select-match placeholder="Selecione...">
										{{$select.selected.nmFantasia}}
									</ui-select-match> 

									<ui-select-choices repeat="item.idEmpresaFinanceiro as item in empresaFinanceiroOptions | filter: $select.search">
										<div ng-bind-html="item.nmFantasia | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END EMPRESA QUE PAGA -->

						<!-- conta bancaria -->
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">
									Conta Banc&aacute;ria 
									<span class="required" ng-show="boControlesFluxo.isPago"> * </span>
								</label>
								<ui-select id="selFornecedor" name="selFornecedor"
		                     	ng-model="despesaFinanceiro.contaBancaria.id" class="form-control input-sm select2me" search-enabled="false" theme="select2" append-to-body="true"
		                     	ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1"> 
		                     		<ui-select-match
									placeholder="Selecione...">
										{{$select.selected.nmContaBancaria}}
									</ui-select-match> 

									<ui-select-choices repeat="item.id as item in contasBancariaOptions | filter: $select.search">
										<div ng-bind-html="item.nmContaBancaria | highlight: $select.search"></div>
										<small class="label"  
										ng-class="{'label-yellow': item.banco.cdbanco == '001','label-blue': item.banco.cdbanco == '104','label-danger': (item.banco.cdbanco == '237' && item.nrContaBancaria != '000000' ), 'label-red-soft': item.banco.cdbanco == '033' ,'label-purple':(item.banco == null || item.nrContaBancaria == '000000' )}"
										ng-bind-html="'' + (item.nrContaBancaria != '000000' ? item.banco.nmBanco : 'INTERNO' )   | highlight: $select.search"></small><br/>
										<small><b>{{item.nrContaBancaria + '-' +
										item.nrDigitoVerificador + '|' }}</b></small>
										<b><small><span ng-bind-html="''+ item.agencia.nmAgencia | highlight: $select.search"></span></small></b>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- end conta bancaria -->

						<div class="col-md-2">
							<!-- NR SERVICO -->
							<label>
								Nr. Servico
							</label>
	                       	<input id="nrServico" type="text" class="form-control input-sm" 
	                       	 ng-model="despesaFinanceiro.nrServico"
	                       	 ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1">
						</div>

						<!-- Tipo de Pagamento  -->
						<div class="col-md-2">
							<label class="control-label"> 
								Forma de Pagamento<span class="required">*</span>
							</label>
							<ui-select id="selFormaPag" name="selFormaPag" ng-model="despesaFinanceiro.inFormaPagamento" ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1"
							class="form-control input-sm select2m" theme="select2" append-to-body="true">
								<ui-select-match placeholder="Forma de Pagamento....">
									{{$select.selected.description}}
								</ui-select-match>
								<ui-select-choices repeat="item.id as item in formaPagamentoOptions | filter: $select.search">
									<div ng-bind-html="item.description | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>
						</div>

						<div class="col-md-12"></div>

						<div class="form-horizontal">
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-md-3">Data</label>
									<div class="col-md-9">
										 <div class="input-inline">
											<p class="input-group input-group-sm ">
					                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="despesaFinanceiro.dtPagamento" 
					                            is-open="openDtPagamento" 
					                            ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1"
					                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-focus="openDtPagamento = true"
					                            close-text="Close" />
					                            <span class="input-group-btn">
					                            	<button type="button" class="btn btn-default" 
					                            	 ng-click="openDtPagamento = true"
					                            	 ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1">
					                                    <i class="glyphicon glyphicon-calendar"></i>
					                                </button>
					                            </span>
				                        	</p>
			                        	</div>
		                        	</div>	
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label>Descontos</label>
									<input type="text" class="form-control input-inline input-small"  
									ng-model="despesaFinanceiro.vlDesconto" ui-number-mask
									ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1"
									ng-change="calcularValorFinal()">
								</div>	
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label>Juros/Multa</label>
									<input type="text" class="form-control input-inline input-small"  
									ng-model="despesaFinanceiro.vlJuros" ui-number-mask 
									ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1"
									ng-change="calcularValorFinal()">
								</div>	
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label>Valor pago</label>
									<input type="text" class="form-control input-inline input-small"  
									ng-model="despesaFinanceiro.vlPago" ui-number-mask 
									ng-disabled="!boControlesFluxo.isPago || despesaFinanceiro.inStatus == 1">
								</div>	
							</div>

						</div>

					</div>

					<br/>	
					<div class="row">
						<div class="col-md-1">
							<button type="button" class="button-cancel form-control input-sm"
							 ng-click="backToPrincipal()">
								Voltar
							</button>	
						</div>
						<div class="col-md-3">
							<div class="btn-group" dropdown dropdown-append-to="dtVencimento">
			                	<button type="button" class="btn btn-sm green-meadow"
			                	 ng-click="salvarDespesaFinanceiro( despesaFinanceiro, 0 )" ng-disabled="buttonDisabled">
			                		Salvar</button>
			                    <button type="button" class="btn btn-sm blue-soft" dropdown-toggle
			                     ng-show="!despesaFinanceiro.id">
			                            <span class="caret"></span>
			                            <span class="sr-only">Split button!</span>
			                        </button>
			                        <ul class="dropdown-menu  bottom-up" role="menu" dropdown-menu>
			                            <li>
			                                <a ng-click="salvarDespesaFinanceiro( despesaFinanceiro, 1 )">Salvar e manter dados</a>
			                            </li>
			                            <li>
			                                <a ng-click="salvarDespesaFinanceiro( despesaFinanceiro, 2 )" >Salvar e limpar dados</a>
			                            </li>
			                        </ul>
	                    	</div>	
						</div>
					</div>
					</div>
				</form>
			</div>
			<!-- END CONTENT -->
		</div>
	</div>
</div>