<div ui-tree-handle class="tree-node tree-node-content">
	<div class="row">
		<div class="col-md-1">
			<a class="btn btn-success btn-xs tree-node-content-space" ng-if="node.centroCustos && node.centroCustos.length > 0" ng-click="toggle(this)">
			<span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}"></span>
			</a>		
		</div>
		<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
	            		<input type="text" class="form-control text-center" placeholder="código" 
	            		id="codigo" ng-model="node.nrOrdem" ng-disabled="true"> 
					</div>
					<div class="col-md-8">
                    	<input type="text" class="form-control" id="descricao" placeholder="descrição" 
                    	 ng-model="node.nmCentroCusto"> 
					</div>
				</div>
		</div>
		<div class="col-md-3">
			<a class="pull-right btn btn-danger btn-xs" ng-click="remove(this)">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			<a class="pull-right btn btn-primary btn-xs" ng-click="newSubItem(this)" style="margin-right: 8px;">
	 			<span class="glyphicon glyphicon-plus"></span>
			</a>	
		</div>
	</div>	
</div>
<ol ui-tree-nodes="" ng-model="node.centroCustos" ng-class="{hidden: collapsed}">
	<li ng-repeat="node in node.centroCustos | filter:searchList" ui-tree-node 
	 ng-include="'templates/admin4_material_design/angularjs/views/financeiro/centralCadastro/centro-custo-nodes-template.html'">
    </li>
</ol>