<div ng-controller="ContaContabilController" class="row" >
	<div class="col-md-12">
		<div class="portlet light">
			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Conta Cont&aacute;bil</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<!-- END TITLE -->
			
			
			<!-- BEGIN CONTENT -->
			<div class="portlet-body ">
	            <!-- BEGIN TABLE CENTRO DE CUSTOS -->
	            <div class="portlet box blue">
	                <div class="portlet-title">
	                    <div class="caption">
	                       	<i class="fa fa-cubes" aria-hidden="true"></i> Contas cont&aacute;beis dispon&iacute;veis </div>
	                    <div class="tools">
	                        <a href="javascript:;" class="collapse"> </a>
	                    </div>
	                </div>
	                <div class="portlet-body">
	                	<!--BEGIN OPTIONS GERAIS -->
	                	<br/>
	                	<div class="row">
	                		<div class="col-md-9">
	                			<button class="btn btn-xs green-meadow"
	                			 ng-click="prepararModalCadastroContaContabil()">
	                				Novo
	                				<i class="fa fa-plus" aria-hidden="true"></i>			
	                			</button>
	                		</div>
	                		<div class="col-md-3">
	                			<div class="text-right">
	                				<span class="badge badge-blue"> {{contaContabilList.length}} 
	                				</span>
	                			</div>
	                		</div>
	                	</div>
	                	<hr/>
	                	<!--END OPTIONS GERAIS -->
	                    <div class="table-responsive">
	                        <table id="table_centroCusto" ng-table="tableParams" show-filter="true" 
	                         class="table table-striped table-bordered table-hover">
	                            <tr ng-repeat="item in $data">
	                                <td data-title="'Descri&ccedil;&atilde;o'" 
	                                 filter="{ 'nmContaContabil': 'text' }" class="text-center"> 
	                                 	<a class="link-blue" 
	                                 	 ng-click="prepararModalCadastroContaContabil(item)">
	                                 		{{item.nmContaContabil}} 
	                                 	</a>
	                             	</td>
	                             	<td data-title="'Op&ccedil;&otilde;es'" class="text-center"> 
	                             		<div class="btn-group inline">
	                             			<a style="padding-right:10px;" class="table-link-noDecoration"
	                             			 ng-click="prepararModalCadastroContaContabil(item)">
		                             			<i class="fa fa-pencil-square-o font-grey-mint" 
		                             			 aria-hidden="true"></i>
	                             			</a>
	                             			<a ng-bootbox-confirm="Realmente deseja inativar a conta contábil {{item.nmContaContabil}}?" ng-bootbox-confirm-action="inativarContaContabil( item )" >
	                             				<span class="icon-trash font-red"></span>
	                             			</a>	                             			
	                             		</div>		
	                             	</td>
	                            </tr>
	                        </table>
	                    </div>
	                </div>
	            </div>
	           <!-- END TABLE CENTRO DE CUSTOS -->
			</div>
			<!-- END CONTENT -->
		</div>
	</div>
</div>