<style>
	.modal-body {
    	max-height: calc(100vh - 210px);
    	overflow-y: auto;
	}

	.modal .modal-footer {
    	border: 0 !important;
    	background: #C9D3DD;
	}

	.modal .modal-dialog {
    	z-index: 10051;
    	top: 45px;
	}
</style>

<div class="modal-header">
	<button type="button" class="close" aria-label="Close" ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Nova Conta Cont&aacute;bil</h4>
</div>

<div class="modal-body">
	<div>
		<br/>
		<!-- BEGIN NODES -->
		<div class="row">
			
			<div class="col-md-offset-3 col-md-5" ng-show="canSearch">
				<div class="form-group">
                    <div class="input-group input-group-sm">
                        <input id="fieldSearch" type="text" class="form-control" placeholder="pesquise..." ng-model="searchList" focus-element="focusFieldSearch">
                        <span class="input-group-addon" id="sizing-addon1">
                        	<i class="fa fa-search" aria-hidden="true"></i>
                    	</span>
                    </div>
                </div>
			</div>

			<div class="col-md-12">
				<div ui-tree data-drag-enabled="false" max-depth="3" data-empty-placeholder-enabled="false">
					<ol ui-tree-nodes ng-model="data">
						 <li ng-repeat="node in data | filter:searchList" ui-tree-node 
						  ng-include="'templates/admin4_material_design/angularjs/views/financeiro/centralCadastro/contaContabil-nodes-template.html'"></li>
					</ol>
				</div>
			</div>
		</div>
		<!-- END NODES -->
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn green-meadow" type="button" ng-click="salvarContaContabil(data)">Salvar</button>
</div>
</form>