<style>
	#enderecoArea {
		border-right: 3px solid #eee;
	}

	.modal-body {
    	max-height: calc(100vh - 210px);
    	overflow-y: auto;
	}

	.modal .modal-footer {
    	border: 0 !important;
    	background: #C9D3DD;
	}

	.modal .modal-dialog {
    	z-index: 10051;
    	top: 45px;
	}

</style>
<div class="modal-header">
	 <button type="button" class="close" aria-label="Close" ng-click="cancel()">
	 	<span aria-hidden="true">&times;</span>
	 </button>
	<h4 class="modal-title">Novo Fornecedor</h4>
	<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
</div>

<div class="modal-body">
	<div>
		<form name="form">
			<div class="row">
				<div class="col-md-7" id="enderecoArea">
					<h4><strong>Dados Gerais</strong></h4>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
		                    	<label class="control-label">
		                    		Nome <span class="required"> * </span>
		                    	</label>
		                     	<input type="text" class="form-control" ng-model="fornecedor.nmNomeFantasia"> 
		                    </div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
		                    	<label>
		                    		Raz&atilde;o Social
		                    	</label>
		                     	<input type="text" class="form-control" 
		                     	 ng-model="fornecedor.nmRazaoSocial "> 
		                    </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
		                    	<label class="control-label">
		                    		Tipo pessoa <span class="required"> * </span>
		                    	</label>
		                     	<ui-select id="selTipoPessoa" name="selTipoPessoa"
		                     	ng-model="inTipoPessoa.selected" class="form-control select2me"
		                     	theme="select2" append-to-body="true"> 
		                     		<ui-select-match
									placeholder="Selecione...">
										{{$select.selected.nmTipoPessoa}}
									</ui-select-match> 

									<ui-select-choices repeat="item.id as item in tipoPessoaOptions | filter: $select.search">
										<div ng-bind-html="item.nmTipoPessoa | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select>  
		                    </div>
						</div>
						<div class="col-md-6" ng-switch on="inTipoPessoa.selected">
							<div class="form-group" ng-switch-when="0">
		                    	<label>
		                    		CPF
		                    	</label>
		                     	<input type="text" name="nrCpf" class="form-control" ui-br-cpf-mask 
		                     	ng-model="fornecedor.nrCpf" id="inputSuccess" 
		                     	>
		                    </div>	
		                    <div class="form-group" ng-switch-when="1">
		                    	<label>
		                    		CNPJ
		                    	</label>
		                     	<input type="text" name="nrCnpj" class="form-control" ui-br-cnpj-mask
		                     	 ng-model="fornecedor.nrCnpj"> 
		                    </div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
		                    	<label>
		                    		Insc. Estadual
		                    	</label>
		                     	<input type="text" class="form-control" 
		                     	 ng-model="fornecedor.nrInscricaoEstadual"> 
		                    </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
		                    	<label>
		                    		Insc. Municipal
		                    	</label>
		                     	<input type="text" class="form-control"
		                     	  ng-model="fornecedor.nrInscricaoMunicipal"> 
		                    </div>
						</div>
					</div>
				</div>
			
				<div class="col-md-5">
					<h4><strong>Endere&ccedil;o</strong></h4>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
		                    	<label class="control-label">
		                    		Logradouro <span class="required"> * </span>
		                    	</label>
		                     	<input type="text" class="form-control" 
		                     	 ng-model="fornecedor.nmLogradouro"> 
		                    </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
		                    	<label class="control-label">
		                    	CEP <span class="required"> * </span>
		                    	</label>
		                     	<input type="text" class="form-control" ui-br-cep-mask 
		                     	 ng-model="fornecedor.nrCep"> 
		                    </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
		                    	<label class="control-label">
		                    		N&uacute;mero <span class="required"> * </span>
		                    	</label>
		                     	<input type="text" class="form-control" ng-model="fornecedor.nrNumero"> 
		                    </div>
						</div>
					</div>
					<div class="row">
						<!-- BEGIN CIDADE -->
						<div class="col-md-6">
							<div class="form-group">
		                    	<label class="control-label">
		                    		Cidade <span class="required"> * </span>
		                    	</label>
		                     	<ui-select id="selCidade" name="selCidade"
		                     	ng-model="fornecedor.cidade.id" class="form-control select2me"
		                     	on-select="loadBairroOptions($item)" 
		                     	theme="select2" append-to-body="true" title="{{$select.selected.nmCidade}}"> 
		                     		<ui-select-match
									placeholder="Selecione...">
										{{$select.selected.nmCidade}}
									</ui-select-match> 

									<ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
										<div ng-bind-html="item.nmCidade | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select> 
		                    </div>
						</div>
						<!-- END CIDADE -->
						
						<!-- BEGIN BAIRROS-->
						<div class="col-md-6">
							<div class="form-group">
		                    	<label class="control-label">
		                    	Bairro <span class="required"> * </span>
		                    	</label>
		                     	<ui-select	name="selBairro" id="selBairro" 
		                     	ng-model="fornecedor.bairro.id" class="form-control select2me"
		                     	theme="select2" append-to-body="true" title="{{$select.selected.nmBairro}}"> 
		                     		<ui-select-match
									placeholder="Selecione...">
										{{$select.selected.nmBairro}}
									</ui-select-match> 

									<ui-select-choices repeat="item.id as item in bairroOptions | filter: $select.search">
										<div ng-bind-html="item.nmBairro | highlight: $select.search">
										</div>
									</ui-select-choices>
								</ui-select> 
		                    </div>
						</div>
						<!-- END BAIRROS -->
						<div class="col-md-12">
							<div class="form-group">
		                    	<label>
		                    		Complemento
		                    	</label>
		                     	<input type="text" class="form-control" ng-model="fornecedor.nmComplemento"> 
		                    </div>
						</div>
					</div>
				</div>
			</div>

			<a ng-click="isCollapsed = !isCollapsed" class="link-blue" style="font-size:14px">
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed,'glyphicon-chevron-right': !isCollapsed}"></span>
				<strong>Contato</strong>
			</a>
			
			<div class="row">
				<div class="col-md-12" collapse="!isCollapsed">
					<hr/>
					<div class="row" >
						<div class="col-md-6" id="foneComercial">
							<div class="form-group">
		                    	<label>
		                    	Fone comercial
		                    	</label>
		                     	<input type="text" class="form-control" ng-model="fornecedor.nrTelefone"
		                     	 ui-br-phone-number> 
		                    </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
		                    	<label>
		                    		Celular
		                    	</label>
		                     	<input type="text" class="form-control" ng-model="fornecedor.nrCelular"
		                     	 ui-br-phone-number> 
		                    </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
		                    	<label>
		                    		Email
		                    	</label>
		                     	<input type="text" class="form-control"  ng-model="fornecedor.nmEmail"> 
		                    </div>
						</div>
					</div>
				</div>
			</div>

			<br/>
			<a ng-click="isCollapsedObservacao = !isCollapsedObservacao" class="link-blue" style="font-size:14px">
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsedObservacao,'glyphicon-chevron-right': !isCollapsedObservacao}"></span>
				<strong>Observa&ccedil;&otilde;es</strong>
			</a>

			<div class="row" collapse="!isCollapsedObservacao">
				<hr/>
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="form-group">
	                     	 <textarea class="form-control" rows="3" ng-model="fornecedor.nmObservacao">
	                     	 </textarea>
	                    </div>
					</div>
				</div>
			</div>
		</form>
		<!-- END NODES -->
	</div>
</div>
<div class="modal-footer">
	<button class="btn green-meadow" type="button" ng-click="saveFornecedor(fornecedor)">Salvar</button>
</div>
</form>
