<div ng-controller="FornecedorController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Fornecedores</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<!-- END TITLE -->
			
			<br/>
			<!-- BEGIN CONTENT -->
			<div class="portlet-body ">
				<!-- BEGIN TABLE CENTRO DE CUSTOS -->
	        	<div class="portlet box blue">
	                <div class="portlet-title">
	                    <div class="caption">
	                       	<i class="fa fa-truck" aria-hidden="true"></i> Fornecedores dispon&iacute;veis </div>
	                    <div class="tools">
	                        <a href="javascript:;" class="collapse"> </a>
	                    </div>
	                </div>
	                <div class="portlet-body">
	                	<!--BEGIN OPTIONS GERAIS -->
	                	<br/>
	                	<div class="row">
	                		<div class="col-md-9">
	                			<button class="btn btn-xs green-meadow"
	                			 ng-click="prepararModalCadastroFornecedor()">
	                				Novo
	                				<i class="fa fa-plus" aria-hidden="true"></i>			
	                			</button>
	                		</div>
	                		<div class="col-md-3">
	                			<div class="text-right">
	                				<span class="badge badge-blue"> {{fornecedorList.length}} 
	                				</span>
	                			</div>
	                		</div>
	                	</div>
	                	<hr/>
	                	<!--END OPTIONS GERAIS -->

	                	<div class="row">
	                		<div class="col-md-offset-10 col-md-2">
	                		<div class="form-group">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="filtro.boInativo" 
                                        ng-change="loadFornecedoresCadastrados()"> 
                                        Inativos 
                                    </label>
                                </div>
                            </div>
                            </div>
	                	</div>

	                	<!--BEGIN TABLE CONTENT -->
	                    <div class="table-responsive">
	                        <table id="table_centroCusto" ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-hover">
	                            <tr ng-repeat="item in $data">
	                                <td data-title="'Nome Fantasia'" 
	                                 filter="{ 'nmNomeFantasia': 'text' }"> 
		                                 <a class="link-blue" 
		                                  ng-click="prepararModalCadastroFornecedor( item)">
		                                 	{{item.nmNomeFantasia}} 
		                                 </a>
	                             	</td>
	                             	<td data-title="'Raz&atilde;o Social'" 
	                                 filter="{ 'nmRazaoSocial': 'text' }"> 
	                                 {{item.nmRazaoSocial ? item.nmRazaoSocial:'-'}} 
	                             	</td>
	                             	<td data-title="'CNPJ'" 
	                                 filter="{ 'nrCnpj': 'text' }" class="text-center"> 
	                                 	{{item.nrCnpjFormatado ? item.nrCnpjFormatado : '-' }} 
	                             	</td>
	                             	<td data-title="'CPF'" 
	                                 filter="{ 'nrCpf': 'text' }" class="text-center"> 
	                                 	{{item.nrCpfFormatado ? item.nrCpfFormatado : '-' }} 
	                             	</td>
	                             	<td data-title="'Op&ccedil;&otilde;es'" class="text-center"> 
	                             		<div class="btn-group inline" ng-show="!item.dtExclusao">
	                             			<a style="padding-right:10px;" class="table-link-noDecoration"
	                             				ng-click="prepararModalCadastroFornecedor( item)">
		                             			<i class="fa fa-pencil-square-o font-grey-mint" 
		                             			 aria-hidden="true"></i>
	                             			</a>
	                             			<a ng-bootbox-confirm="Realmente deseja inativar o fornecedor {{item.nmNomeFantasia}}?" ng-bootbox-confirm-action="inativarFornecedor( item )" >
	                             				<span class="icon-trash font-red"></span>
	                             			</a>	                             			
	                             		</div>		
	                             		<div class="btn-group inline" ng-show="item.dtExclusao">
	                             			<a ng-bootbox-confirm="Realmente deseja reativar o fornecedor {{item.nmNomeFantasia}}?" ng-bootbox-confirm-action="reativarFornecedor( item )" tooltip="reativar" >
	                             				<span class="fa fa-exchange font-red"></span>
	                             			</a>	                             			
	                             		</div>		
	                             	</td>
	                            </tr>
	                        </table>
	                    </div>
	                    <!--END TABLE CONTENT -->
	                </div>
	            </div>
	           <!-- END TABLE CENTRO DE CUSTOS -->
			</div>
			<!-- END CONTENT -->
		</div>
	</div>
</div>