<style>
	.margin-top-80 {
		margin-top: 80px !important;
	}

	.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
</style>
<div  class="margin-top-10">
	<div class="portlet light">
	    <div class="portlet-body">
	     	<div class="row">
	     		<!--BEGIN NAV OPTIONS CADASTRO -->
	         	<div class="col-md-2 margin-top-80">
	         		<ul class="nav nav-tabs tabs-left">
	         			<li ng-class="{active: $state.includes('centralCadastro.fornecedorCadastro')}">
	         				<a ui-sref="centralCadastro.fornecedorCadastro">
	         					<i class="fa fa-truck font-blue" aria-hidden="true"></i>
	         					Fornecedor
	         				</a>
                        </li>
                        <li ng-class="{active: $state.includes('centralCadastro.centroCustoCadastro')}" ng-if="showTela">
	         				<a ui-sref="centralCadastro.centroCustoCadastro">
	         					<i class="fa fa-cubes font-blue" aria-hidden="true"></i>
	         					Centro de Custo
	         				</a>
                        </li>
                        <li ng-class="{active: $state.includes('centralCadastro.contaContabilCadastro')}" ng-if="showTela">
	         				<a ui-sref="centralCadastro.contaContabilCadastro">
	         					<i class="fa fa-list font-blue" aria-hidden="true"></i>
	         					Conta Cont&aacute;bil
	         				</a>
                        </li>
					</ul>
	         	</div>
	         	<!--END NAV OPTIONS CADASTRO -->

				<!--BEGIN CADASTRO VIEW DINAMIC CONTENT -->
	         	<div class="col-md-10">
	         		<div ui-view>
						<div ng-include="'templates/admin4_material_design/angularjs/views/financeiro/centralCadastro/fornecedores.html'">
						</div>
					</div>
	         	</div>
	         	<!--END CADASTRO VIEW DINAMIC CONTENT -->
	     	</div>
	    </div>
	</div>
</div>



			