<div class="modal-content print-content">
	<div class="row">
		<div class="modal-header text-center">
			<h2>Faturar</h2>
		</div>
		<div class="modal-body col-md-12">
		    <div class="modal-body ">
				<conveniada-faturar-component></conveniada-faturar-component>
				<div class="modal-footer">
					<div class="text-right">
						<a class="btn default" ng-click="close()">
							<i class="fa fa-times" aria-hidden="true"></i>
							Fechar
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
