<div class="col-md-12">
    <div class="row">
		<!-- <form name="formCreateBill" ng-submit="submitForm()" class="css-form" novalidate> -->
		    <fieldset>
		        <legend>
		            Faturar/Reabrir
		        </legend>
		         <!--BEGIN CONVENIADA -->
		        <div class="col-md-12">
		        	<div class="col-md-6">
						<label for="">
                            Conveniada
						</label>
						<ui-select id="selConveniada" name="selConveniada"
                     	 ng-model="conveniada.selected"
                     	 class="form-control input-sm select2me" theme="select2"
                     	 append-to-body="true" on-select="carregarPeriodoConv($item)">
                     		<ui-select-match
							placeholder="Selecione...">
								{{$select.selected.nmFantasia}}
							</ui-select-match>

							<ui-select-choices repeat="item.id as item in listConveniadas | filter: $select.search">
								<div ng-bind-html="item.nmFantasia | highlight: $select.search">
								</div>
							</ui-select-choices>
						</ui-select>
					</div>
		        </div>

               	<!-- END CONVENIADA -->
		        <!--BEGIN PERIODO -->
		        <div class="col-md-12">
                    <div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Período
							</label>
							<ui-select ng-model="periodo.selected" theme="select2" class="form-control select2me" on-select="verificarCondicao($item)">
								<ui-select-match placeholder="Selecione...">
									{{$select.selected.mesAno}}
								</ui-select-match>
								<ui-select-choices repeat="item in lPeriods | filter: $select.search">
									<div ng-bind-html="item.mesAno | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</div>
                    </div>
                    <div class="col-md-6">
                        <a ng-show="conFaturado == true && showInfos" ng-click="exportReportFatura(detalheFatura)" class="btn green-haze" title="Exportar relatório">
                            Exportar
                        </a>
                    </div>
                </div>
               	<!-- END PERIODO-->
                <!-- valor -->
                <div class=col-md-12 ng-show="conFaturado == false && showInfos">
                	<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">
								Valor de Desconto
							</label>
							<input type="text" class="form-control input-sm"  ng-model="faturamento.vlDesconto" ui-number-mask>
						</div>
					</div>
					<!-- end valor -->
					<!-- DESCRICAO-->
					<div class="col-md-9">
						<label class="control-label">
							Observações
						</label>
						<textarea id="nmObservacao" class="form-control input-sm"  rows="3"
						 ng-model="faturamento.nmObservacao"></textarea>
						<span class="help-block text-right">
							<label class="label label-sm label-info">
							{{ ( 200 - faturamento.nmObservacao.length ) + ' carac. restantes' }}
							</label>
						</span>
					</div>
                </div>
                <div class="col-md-12" ng-show="conFaturado == true && showInfos">
                	<div class="col-md-12">
                    	<div class="table-responsive">
                    		<table class="table table-striped table-bordered table-hover flip-content" >
                                <thead>
                                	<th style="font-size: 10px">Data Faturamento</th>
                                	<th style="font-size: 10px">Funcionário</th>
                                	<th style="font-size: 10px">Observação</th>
                                	<th style="font-size: 10px">Valor</th>
                                	<th>&nbsp;</th>
                                </thead>
                                <tbody>
                                	<td>{{infoPeriodo.dtFechamentoFormatada}}</td>
                                	<td>{{infoPeriodo.nmFuncionario}}</td>
                                	<td>{{infoPeriodo.obsDadosFinanceiros}}</td>
                                	<td>{{infoPeriodo.vlMensalidade | currency: 'R$ '}}</td>
                                	<td>
										<a ng-show="null == infoPeriodo.vlPago" ng-href="{{infoPeriodo.linkBoleto}}" class="btn green-haze" target="_blank" title="2ᵃ do boleto">
											2ᵃ via
										</a>
										<span  ng-show="infoPeriodo.vlPago">
											Valor pago
											<br />
											{{infoPeriodo.dtPagamento | currency: 'R$ '}}
										</span>
									</td>
                                </tbody>
                            </table>
                    	</div>
                    </div>
                </div>
			</fieldset>
			<div class="text-center">
				<button class="btn green-haze"  ng-show="conFaturado != undefined && !disableButton" ng-disabled="gerando">
					<span ng-show="!conFaturado && !gerando && !disableButton" ng-click="gerarFaturamentoConveniada(periodo.selected,faturamento.vlDesconto, faturamento.nmObservacao, conveniada.selected)"><!-- ng-show="searchButtonText == false" -->
						Gerar
					</span>
					<span ng-show="gerando">
						Gerando
						<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
					</span>
					<span ng-show="conFaturado && !disableButton && !gerando" ng-click="reabrirFatura(periodo.selected,conveniada.selected)" >
						Reabrir
					</span>
				</button>
			</div>
		<!-- </form> -->
    </div>
</div>
