<div class="modal-content print-content">
	<div class="row">
		<div class="modal-header text-center">
			<h2>Faturar {{nmEmpresaCliente}}</h2>
		</div>
		<div class="modal-body col-md-12">
		    <div class="modal-body ">
		        <div class="col-md-12">
		            <div class="row">
						<!-- <form name="formCreateBill" ng-submit="submitForm()" class="css-form" novalidate> -->
						    <fieldset>
						        <legend>
						            Faturar/Reabrir
						        </legend>
						        <div class="col-md-12">
			                        <div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Período: 
											</label>
											<br>
											<input type="text" ng-model="dataFiltro" ng-disabled= true style="text-align: center">
										</div>
			                        </div>
			                    </div>
		                        <!-- valor -->
		                        <div class="col-md-12" ng-show="conFaturado == false">
		                        	<div class="col-md-3">
										<div class="form-group">
											<label class="control-label">
												Valor de Desconto
											</label>
											<input type="text" class="form-control input-sm"  ng-model="faturamento.vlDesconto" ui-number-mask>
										</div>	
									</div>
									<!-- end valor -->	
									<!-- DESCRICAO-->
									<div class="col-md-9">
										<label class="control-label">
											Observações
										</label>
										<textarea id="nmObservacao" class="form-control input-sm"  rows="3"
										 ng-model="faturamento.nmObservacao"></textarea>
										<span class="help-block text-right"> 
											<label class="label label-sm label-info">
											{{ ( 200 - faturamento.nmObservacao.length ) + ' carac. restantes' }} 
											</label>
										</span>
									</div>
		                        </div>
		                        <div class="col-md-12">
		                        	<div class="col-md-6" ng-show="showMensagem">
										<div class="note note-info">
					                        <h4 class="block " style=" text-align: center"> Faturamento reaberto </h4>
					                    </div>
			                        </div>
		                        </div>
							</fieldset>
							<div class="text-center">
								<button class="btn green-haze"  ng-show="conFaturado != undefined && !disableButton">
									<span ng-show="!conFaturado && !gerando && !disableButton" ng-click="gerarFaturamentoConveniada(periodo.selected,faturamento.vlDesconto, faturamento.nmObservacao)"><!-- ng-show="searchButtonText == false" -->
										Gerar
									</span>
									<span ng-show="gerando">
										Gerando
										<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
									</span>
									<span ng-show="conFaturado && !disableButton" ng-click="reabrirFatura(dataFltro, false)">
										Reabrir
									</span>
								</button>
								<a class="btn default" ng-click="close()">Fechar</a>
							</div>
						<!-- </form> -->
			        </div>
		        </div>
		        <br/>
		        <!-- <div class="modal-footer">
		            <div class="text-right">
		                <button class="btn green" ng-click="close()">
							<i class="fa fa-times" aria-hidden="true"></i>
							Fechar
						</button>
		            </div>
		         </div> -->
		    </div>
		</div>
	</div>
</div>
