<style>
	
</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<!-- BEGIN TITLE -->
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Despesas por Numero de Servico</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					</div>
				</div>
				<!-- END TITLE -->
				<div class="portlet-body">
					<div class="row">
						<!-- Empresa Financeiro --> 
						<div class="col-md-5">
							<div class="form-group">
								<ui-select id="selEmpresaStart" name="selEmpresaStart"
		                     	ng-model="empresaFinanceiro.selected" class="form-control select2me"theme="select2" append-to-body="true" search-enabled="true"  
		                     	on-select="loadDespesasByNrServico(); loadContasBancarias($item)"> 
		                     		<ui-select-match placeholder="Selecione a empresa pagante...">
										{{$select.selected.nmFantasia}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
										<div ng-bind-html="item.nmFantasia | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END Empresa Financeiro -->
							 <!-- DATEPICKER RANGE --> 
						 <div class="col-md-5" style="width: 18%">
							 <div>
								 <input date-range-picker
								 class="form-control date-picker text-center" type="text" ng-model="dataFiltro.date"
								 placeholder="Selecione o período "
								 options="{eventHandlers:{'apply.daterangepicker' : inicializarData}, locale: localeDateRangePicker, ranges:
								 rangesDateRangePicker, alwaysShowCalendars:false, showCustomRangeLabel: true, timePicker:false, autoUpdateInput: autoupdateinput}" />
								 <!-- <input type="text" name="datefilter" value="" class="form-control text-center" placeholder="Selecione o período"/>  -->
							 </div>
						 </div>
						<!-- NR SERVICO -->
						<div class="col-md-3">
							<div class="form-group">
								<label class="sr-only" for="">Nr. Servico</label>
								<div class="input-group">
                                    <input type="text" class="form-control" ng-model="nrServico" placeholder="Número de serviço">
                                    <span class="input-group-btn">
                                        <button class="btn blue" type="button"
                                         ng-click="loadDespesasByNrServico()">Pesquisar</button>
                                    </span>
                                </div>
							</div>
						</div>
						<!-- NR SERVICO -->

						<!-- CONTA BANCÁRIA -->
						<div class="col-md-4" >
							<div class="form-group">
								<ui-select id="selContaBancaria" name="selContaBancaria"
		                     	ng-model="contaBancaria.selected" 
		                     	class="form-control select2me" search-enabled="false"
		                     	theme="select2" append-to-body="true"
		                     	on-select="loadDespesasByNrServico($item)"> 
		                     		<ui-select-match placeholder="Selecione a conta bancaria ...">
										{{$select.selected.nmContaBancaria}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in contasBancariaOptions | filter: $select.search">
										<div ng-bind-html="item.nmContaBancaria | highlight: $select.search"></div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END CONTA BANCÁRIA -->		
						<div class="col-md-12">
							<div style="padding-top:40px;" class="col-md-12">
								<div class="note note-info" ng-show="!despesaDTO.despesas ||despesaDTO.despesas.length == 0">
		                        	<h4 class="block"> Sem dados dispon&iacute;veis. </h4>
		                    	</div>
	                    	</div>
														
							<h4 class="text-center" style="padding-top:40px;"  
							ng-show="despesaDTO.despesas.length > 0">
							 	<b>{{empresaFinanceiro.selected.nmFantasia}}</b>
							 </h4>
							 
							 <div class="text-right"  ng-show="despesaDTO.despesas.length > 0">
								 <button class="btn btn-sm red" type="button" ng-click="gerarPdfAgrupado()">
                                 	<i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
                                 </button>
							</div> <br/>
	                		
		                    <div class="table-responsive" ng-show="despesaDTO.despesas.length > 0">
		                        <table id="table_contaAgrupada" ng-table="tableParams" 
		                         show-filter="true" class="table table-striped table-bordered table-hover">
		                            <tr ng-repeat="item in $data">
		                            	<td data-title="'Empresa'" class="text-center"
		                                filter="{ 'nmEmpresaSolicitante': 'text' }" 
		                                sortable="'nmEmpresaSolicitante'" > 
		                                	{{item.nmEmpresaSolicitante}}
		                                </td>
		                                <td data-title="'Fornecedor'" class="text-center"
		                                filter="{ 'nmFornecedor': 'text' }" 
		                                sortable="'nmFornecedor'"> 
		                                	{{item.nmFornecedor ? item.nmFornecedor : '-'}}
		                                </td>
		                                <td data-title="'Descri&ccedil;&atilde;o'" 
		                                 filter="{ 'nmDescricao': 'text' }" 
		                                 class="text-center"> 
		                                 {{item.nmDescricao}} 
		                             	</td>
		                             	<td data-title="'Observa&ccedil;&atilde;o'" 
		                                 filter="{ 'nmObservacao': 'text' }" 
		                                 class="text-center"> 
		                                 {{item.nmObservacao}} 
		                             	</td>
		                             	<td data-title="'Documento'" class="text-center" 
		                             	sortable="'nrDocumento'"
		                             	filter="{ 'nrDocumento': 'text' }" > 
		                                 	{{item.nrDocumento}} 
		                             	</td>
		                             	<td data-title="'Valor'" class="text-center"  sortable="'nrValorFormatado'">
		                                 	{{item.nrValorFormatado}} 
		                             	</td>
		                             	<td data-title="'Valor Pago'" class="text-center"  
		                             	sortable="'nrValorPagoFormatado'">
		                                 	{{item.nrValorPagoFormatado}} 
		                             	</td>
		                             	<td data-title="'Dt. Pagamento'" class="text-center"  
		                             	sortable="'dtPagamentoFormatado'"  
		                             	filter="{ 'dtPagamentoFormatado': 'text' }" >
		                                 	{{item.dtPagamentoFormatado}} 
		                             	</td>
		                             	<td data-title="'Centro de Custo'" class="text-center">
		                                 {{item.nmCentroCusto ? item.nmCentroCusto : '-' }} 
		                             	</td>
		                             	 <!-- <td data-title="'Empresa Pagante'" class="text-center"
		                             	 		                                filter="{ 'nmEmpresaPagante': 'text' }" > 
		                             	 		                                	{{item.nmEmpresaPagante ? item.nmEmpresaPagante : '-'}}
		                             	 		                                </td> -->
		                                 <td data-title="'C. Bancária'" class="text-center"
		                                filter="{ 'nmContaBancaria': 'text' }" > 
		                                	{{item.nmContaBancaria ? item.nmContaBancaria : '-'}}
		                                </td>
		                            </tr>
		                        </table>
		                    </div>
						</div>
					</div>	
					
					<div class="row" ng-show="despesaDTO.despesas.length > 0" 
					style="margin-top:15px;">
						<div class="col-md-12">
							<div class="jumbotron">
							  <div class="container">
							     <h3 class="text-center"><strong>Resumo</strong></h3>
							     <h4> <strong>Registros: </strong> {{despesaDTO.despesas.length}} </h4>
							     <h4> <strong>Total: </strong> {{despesaDTO.vlTotalDespesasFormatado }} </h4>
							     <h4> <strong>Total Pago: </strong> {{despesaDTO.vlTotalDespesasPagasFormatado }} </h4>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
