<style>
	/* FIX LAYOUT DATEPICKER RANGER */
	.input-mini {
    	width: 180px !important;
    }

    .label {
	    text-transform: lowercase;
	}

   .label-light {
	    background-color: #33bf99;
	    color: white;
	}

	.label.label-sm {
	    font-size: 10px;
	    font-weight: 600;
	    padding: 3px 6px 3px 6px;
	}

	.texto-riscado {
		text-decoration: line-through;
	}

	.texto-riscado-color {
		color: grey;
	}

</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<!-- BEGIN TITLE -->
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Movimentacoes</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					</div>
					<div class="text-right" ng-show="movimentacoesFinal.length > 0">
							<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" previous-text="anterior" next-text="próxima"
						 	boundary-links="true" first-text="primeira" last-text="última"></pagination>
					</div><br/><br/>
				</div>
				<!-- END TITLE -->
				<div class="portlet-body">
					<!-- BEGIN FILTERS -->
					<div class="row" style="padding-bottom:20px;">
						
						<!-- PERIODO -->
		                <div class="col-md-4">
		                	<div>
		                       <input date-range-picker 
		                        class="form-control date-picker text-center" type="text" 
		                        ng-model="dataFiltro.date" placeholder=" Escolha o periodo." 
		                        options="{eventHandlers:{'apply.daterangepicker':pesquisarMovimentacaoPorPeriodo}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,
		                        alwaysShowCalendars:false, showCustomRangeLabel:true ,timePicker:false }" 
		                        />
		                    </div>      
		                </div>
						<!-- END PERIODO -->

						<div class="col-md-12"><br/></div>

						<!-- EMPRESA FINANCEIRO -->
						<div class="col-md-4" >
							<div class="form-group">
								<ui-select id="selEmpresa" name="selEmpresa"
		                     	ng-model="empresaFinanceiro.selected" class="form-control select2me" 
		                     	theme="select2" append-to-body="true" search-enabled="true" 
		                     	on-select="loadContasBancariaDeEmpresaFinanceiro($item)"> 
		                     		<ui-select-match placeholder="Selecione a empresa...">
										{{$select.selected.nmFantasia}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
										<div ng-bind-html="item.nmFantasia | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END EMPRESA FINANCEIRO -->
						
						<!-- CONTA BANCÁRIA -->
						<div class="col-md-4" >
							<div class="form-group">
								<ui-select id="selContaBancaria" name="selContaBancaria"
		                     	ng-model="contaBancaria.selected" 
		                     	class="form-control select2me" search-enabled="false"
		                     	theme="select2" append-to-body="true"
		                     	on-select="pesquisarMovimentacaoPorPeriodo()"> 
		                     		<ui-select-match placeholder="Selecione a conta bancaria ...">
										{{$select.selected.nmContaBancaria}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in contasBancariaOptions | filter: $select.search">
										<div ng-bind-html="item.nmContaBancaria | highlight: $select.search"></div>
										<small class="label"  
										ng-class="{'label-yellow': item.banco.cdbanco == '001','label-blue': item.banco.cdbanco == '104','label-danger': item.banco.cdbanco == '237','label-default':item.banco == null}"
										ng-bind-html="''+ item.banco.nmBanco | highlight: $select.search"></small><br/>
										<small><b>{{item.nrContaBancaria + '-' +
										item.nrDigitoVerificador + '|' }}</b></small>
										<b><small><span ng-bind-html="''+ item.agencia.nmAgencia | highlight: $select.search"></span></small></b>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END CONTA BANCÁRIA -->		

						<!-- BUTTON OPTIONS  -->			
						<div class="col-md-4" ng-show="movimentacoesFinal.length > 0">
							<div class="text-right">
								 <button class="btn btn-sm red" type="button"
								  ng-click="gerarPdfMovimentacao()">
                                 	<i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
                                 </button>
							</div>
						</div>
						<!-- END BUTTON OPTIONS  -->	
					</div>
					<!-- END FILTERS -->


					<div class="row" ng-show="contaBancaria.selected">
						<div class="col-md-offset-3 col-md-6">
							<div class="form-group">
			                    <div class="input-group input-group-sm">
			                        <input id="fieldSearch" type="text" class="form-control" placeholder="pesquise..." 
			                        ng-model="search" ng-change="teste()">
			                        <span class="input-group-addon" id="sizing-addon1">
			                        	<i class="fa fa-search" aria-hidden="true"></i>
			                    	</span>
			                    </div>
			                </div>
						</div>
					</div>

					<div ng-show="contaBancaria.selected && movimentacoesFinal.length>0">
						<button class="btn btn-sm blue" type="button" ng-click="modalRetiradaDetalhes(contaBancaria.selected, 0)">  <!-- 0 - detalhes geral -->
							<i class="fa fa-list" aria-hidden="true"></i> Detalhes
                        </button>
					</div>

					<br/>
					<br/>
					
					<!-- ESTRUTURA PAGINACAO DE MOVIMENTACOES -->
					<div ng-show="movimentacoesFinal.length == 0">
						<strong><em>Sem dados dispon&iacute;veis.</em></strong>
					</div>

					<div ng-repeat="movimentacao in movimentacoesFinal.slice(((currentPage-1)*itemsPerPage), 
					((currentPage)*itemsPerPage))" >
					 	<strong>{{movimentacao.data}}</label></strong>
	                    <table class="table table-hover"  >
	                        <thead>
	                            <tr>
	                                <th> Data </th>
	                              	<th> A&ccedil;&atilde;o </th> 
	                                <th> Documento </th>
	                              <!--   <th> Tipo </th> -->
	                                <th> Fornecedor </th>
	                                <th> Descricao </th>
	                                <!-- <th></th>-->	                                <th class="text-right"> Entrada </th>
	                                <th class="text-right"> Sa&iacute;da </th>
									<th class="text-right"> Saldo </th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="mov in movimentacao.itens.slice(((movimentacao.currentPage-1)*movimentacao.itemsPerPage), ((movimentacao.currentPage)*movimentacao.itemsPerPage))" 
	                            ng-show="mov.nmAcaoMovimentacao != ' Saldo anterior'"
	                            ng-class="{'texto-riscado-color': mov.haveEstorno}">
	                                <td class="col-md-1"> {{mov.dtMovimentacao | date: 'dd/MM/yyyy'}} </td>
	                                <td class="col-md-2"> 
	                                	<span ng-class="{'texto-riscado': mov.haveEstorno}" >
	                                		{{mov.nmAcaoMovimentacao}}
	                                	</span>
	                                	<i ng-hide="!mov.descCaixa" class="fa fa-info-circle" aria-hidden="true" 
	                                	tooltip="{{mov.descCaixa}}">
	                                	</i>
	                                	<i ng-hide="!mov.haveEstorno" class="fa fa-info-circle font-red" aria-hidden="true" 
	                                	tooltip="{{mov.infoEstorno}}">
	                                	</i>
	                                </td>
	                                <td class="col-md-1">
	                                	<div>
	                                		<span ng-class="{'texto-riscado': mov.haveEstorno}" >
	                                			{{mov.nrDocumento}}
	                                		</span>
	                                	</div>
	                                </td>
	                                <!-- <td> 
	                                	<span ng-show="mov.inTipo == 0"
	                                	 class="label label-success">Entrada</span>
	                                	<span ng-show="mov.inTipo == 1"
	                                	 class="label label-danger">Sa&iacute;da</span>
	                                </td> -->
	                                <td class="col-md-2"> {{mov.fornecedores}} </td>
	                                <td class="col-md-2"> {{mov.nmDescricao}}  </td>
	                                <!-- <td><span class="label label-success">conciliado</span><span class="label label-default">não conciliado</span></td>-->
	                                <td class="col-md-1 text-right" > 
	                                	<a ng-click="modalRetiradaDetalhes(mov,1)" ng-if="mov.acaoMovimentacao  
	                                		== 3"> <!-- 1 - detalhes individual -->
		                                	<span class="font-green-seagreen" ng-show="mov.nrCredito > 0"> 
		                                		{{mov.nrCreditoFormatado}}    
		                                	</span>
		                                </a>
		                                <span class="font-green-seagreen" ng-show="mov.nrCredito >0" ng-if="mov.acaoMovimentacao !=3">
		                                	{{mov.nrCreditoFormatado}}
		                                </span>
	                                </td>
	                                <td class="col-md-1 text-right"> 
	                                	<span class="font-red-intense" ng-show="mov.nrDebito > 0"> 
	                                		{{mov.nrDebitoFormatado}}  
	                                	</span>
	                                </td>
	                               <td class="col-md-1 text-right">
	                                 	<span class="font-red-intense" ng-show="mov.nrSaldo < 0"> 
	                                 		{{mov.nrSaldoFormatado}}    
	                                 	</span>
	                                 	<span class="font-green-seagreen" ng-show="mov.nrSaldo > 0"> 
	                                 		{{mov.nrSaldoFormatado}}    
	                                 	</span>
	                                 	<span class="font-grey-salsa" ng-show="mov.nrSaldo == 0"> 
	                                 		{{mov.nrSaldoFormatado}}    
	                                 	</span>
	                             	</td>
	                            </tr>
	                            <tr class="text-right">
	                            	<td colspan="7"> <strong>Saldo em conta</strong></td>
	                            	<td colspan="1" class="text-right">
	                            		<span class="font-green-seagreen" ng-show="movimentacao.nrSaldo > 0"> 
	                                 		{{movimentacao.nrSaldoFormatado}}
	                                 	</span>
	                                 	<span class="font-red-intense" ng-show="movimentacao.nrSaldo < 0"> 
	                                 		{{movimentacao.nrSaldoFormatado}}
	                                 	</span>
	                                 	<span class="font-grey-salsa" ng-show="movimentacao.nrSaldo == 0"> 
	                                 		{{movimentacao.nrSaldoFormatado}}    
	                                 	</span>
	                            	</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <div class="text-center" ng-show="movimentacao.totalItems > movimentacao.itemsPerPage">
	                     <pagination total-items="movimentacao.totalItems" 
	                      ng-model="movimentacao.currentPage" items-per-page="movimentacao.itemsPerPage" previous-text="<" next-text=">"></pagination>	
	                    </div>
	                </div>
	                <div class="text-center" ng-show="movimentacoesFinal.length > 0">
						<pager total-items="totalItems" ng-model="currentPage" previous-text="anterior"
						next-text="próxima"
						items-per-page="itemsPerPage"></pager>
					</div>
					<!-- END ESTRUTURA PAGINACAO DE MOVIMENTACOES -->

					<!-- RESUMO TOTAIS -->
					<div class="row" style="margin-top:15px;"  ng-show="movimentacoesFinal.length > 0">
						<div class="col-md-12">
							<div class="jumbotron">
							  <div class="container">
							    <h3 class="text-center"><strong>Resumo</strong></h3>
							    <div class="col-md-offset-2 col-md-8">
		                            <div class="portlet light bordered">
		                                <div class="portlet-title">
		                                    <div class="caption"></div>
		                                    <div class="actions">
		                                            <i class="glyphicon glyphicon-info-sign"
		                                            tooltip="Valores para o periodo pesquisado"></i>
		                                    </div>
		                                </div>
		                                <div class="portlet-body">
		                                    <div class="table-scrollable">
		                                        <table class="table table-hover">
		                                            <thead>
		                                                <tr>
		                                                    <th>Totais </th>
		                                                    <th class="text-center"> Valor( R$) </th>
		                                                </tr>
		                                            </thead>
		                                            <tbody>
		                                            	<tr>
		                                                    <td> Saldo Mes Anterior </td>
		                                                    <td class="text-right">
							                                 	<span class="font-red-intense" 
							                                 	ng-show="total.vlSaldoMesAnterior < 0"> 
							                                 		{{total.vlSaldoMesAnterior | currency:'R$'}}
							                                 	</span>
							                                 	<span class="font-green-seagreen" 
							                                 	ng-show="total.vlSaldoMesAnterior >= 0"> 
							                                 		{{total.vlSaldoMesAnterior | currency:'R$'}}
							                                 	</span>
		                                                    </td>
		                                                </tr>
		                                                <tr>
		                                                    <td> Entrada </td>
		                                                    <td class="text-right"> 
		                                                    	<span class="font-green-seagreen" 
		                                                    	ng-show="total.entrada > 0"> 
							                                 		{{total.entrada | currency:'R$'}}
							                                 	</span>
							                                 	<span
							                                 	ng-show="total.entrada == 0"> 
							                                 		{{total.entrada | currency:'R$'}}
							                                 	</span>
		                                                    </td>
		                                                </tr>
		                                                <tr>
		                                                    <td> Sa&iacute;da </td>
		                                                    <td class="text-right">
							                                 	<span class="font-red-intense" 
							                                 	ng-show="total.saida > 0"> 
							                                 		{{total.saida | currency:'R$'}}
							                                 	</span>
							                                 	<span 
							                                 	ng-show="total.saida == 0"> 
							                                 		{{total.saida | currency:'R$'}}
							                                 	</span>
		                                                    </td>
		                                                </tr>
		                                                <tr>
		                                                    <td> <b>Saldo</b> </td>
		                                                    <td class="text-right">
							                                 	<span class="font-red-intense" 
							                                 	ng-show="total.saldo < 0"> 
							                                 		{{total.saldo | currency:'R$'}}
							                                 	</span>
							                                 	<span class="font-green-seagreen" 
							                                 	ng-show="total.saldo >= 0"> 
							                                 		{{total.saldo | currency:'R$'}}
							                                 	</span>
		                                                    </td>
		                                                </tr>
		                                            </tbody>
		                                        </table>
		                                    </div>
		                                </div>

		                                <div>
	                                       <div class="text-left">
	                                       		<span>
	                                       			Estorno
	                                       		</span>
	                                        	<span class="font-green-seagreen" 
	                                        	ng-show="total.estorno > 0"> 
			                                 		{{total.estorno | currency:'R$'}}
			                                 	</span>
			                                 	<span 
			                                 	ng-show="total.estorno == 0"> 
			                                 		{{total.estorno | currency:'R$'}}
			                                 	</span>
			                                 	<i class="glyphicon glyphicon-info-sign font-red"
		                                            tooltip="Estorno de contas, cuja movimentacao de pagamento destas não necessariamente estão no período pesquisado."></i>
	                                        </div>
		                                </div>
		                            </div>
		                        </div>
							  </div>
							</div>
						</div>
					</div>
					<!-- END RESUMO TOTAIS -->
				</div>
			</div>
		</div>
	</div>
</div>