description "DASHBOARD-WEB"
author      "Phillip Furtado <phillip.furtado@gmail.com>"

start on runlevel [2345]
stop on runlevel [016]

console none
chdir <%= @dw_dir %>
script
    set -a

    [ -f <%= @dw_sysconfig_file %> ] && . <%= @dw_sysconfig_file %>

    runuser -s /bin/bash -c 'exec node src/index.js' <%= @user_group %>
end script