<style>

.custom1 {

	height: 110px;
	font-size: 14px;
	text-align: center;
	background-color: #0081c1;
	border: 1px solid #0081c1;
}


.custom2 {

	height: 110px;
	font-size: 14px;
	text-align: center;
	background-color: #ba7100;
	border: 1px solid #ba7100;
}


.custom3 {

	height: 110px;
	font-size: 14px;
	text-align: center;
	background-color: #2d873c;
	border: 1px solid #2d873c;
}

/* .input-mini {
    width: 180px !important;
} */

</style>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			
			<!-- BEGIN TITLE-->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Agenda disponivel por especialidade</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<!-- END TITLE-->

			<div class="portlet-body" >
				
				<!-- DEMO DATEPICKER RANGE -->
				<div class="row">
					<div class="col-md-4">
						<div     
				    		isteven-multi-select
				    		input-model="especialidadeOptions"
				    		output-model="especialidadesSelecionadas"
				    		button-label="name"
				    		item-label="name maker"
				    		tick-property="selected"
				    		translation="localLang"
				    		max-height="250px"
				    		on-item-click="reloadEventsEspecialidade(true)"
				    		helper-elements="filter">
						</div>
					</div>	
				 
				<!-- END DEMO DATEPICKER RANGE -->

				<!-- BEGIN MULTISELECT FOR ESPECIALIDADE  -->
				
				<div class="col-md-4">
					<div class="clearfix">
						<div class="btn-group" data-toggle="buttons">
							<label class = "btn btn-primary" ng-click= "changeListUnidade(1)">
								<input type="checkbox" class="toggle">Joaquim Nabuco</label>
							<label class = "btn btn-primary" ng-click= "changeListUnidade(7)">
								<input type="checkbox" class="toggle">Grande Circular</label>
							<label class = "btn btn-primary" ng-click= "changeListUnidade(2)">
								<input type="checkbox" class="toggle">Tarumã</label>
						</div>
					</div>
				</div>

				<!-- MULTISELECT FOR SERVICOS  -->
				<div class="col-md-1"></div>
					<div class="col-md-3">
						<div     
				    		isteven-multi-select2	
				    		input-model="funcionarioOptions"
				    		output-model="funcionarioSelecionados"
				    		button-label="name"
				    		item-label="name maker"
				    		tick-property="selected"
				    		translation="LocalLang"
				    		max-height="250px"
				    		on-item-click="changeFunc()"
				    		helper-elements="filter">

						</div>
					</div>	
				</div><br/><br/>
				<!-- END MULTISELECT FOR ESPECIALIDADE  -->

				<!-- BEGIN FULL CALENDAR  -->
				<div class="row">
					<div class=" col-md-12">
					<div ui-calendar="uiConfig.calendar" ng-model="agendaDisponivel" 
						calendar="myCalendar" id="myCalendar"></div>
					</div>
				</div>
				<!-- END FULL CALENDAR  -->
				
			</div>
				
		</div>
	</div>
</div>
