<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="templates/admin4_material_design/angularjs/index.html">
		<img src="assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default"/>
		</a>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE ACTIONS -->
	<!-- DOC: Remove "hide" class to enable the page header actions -->
	<div class="page-actions">
		<div class="btn-group">
			<button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
			<span class="hidden-sm hidden-xs">A&ccedil;&otilde;es&nbsp;</span><i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">
					<i class="icon-docs"></i> Novo Post </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-tag"></i> Novo Coment&aacute;rio </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-share"></i> Compartilhar </a>
				</li>
			</ul>
		</div>
	</div>
	<!-- END PAGE ACTIONS -->
	<!-- BEGIN PAGE TOP -->
	<div class="page-top">
		<!-- BEGIN HEADER SEARCH BOX -->
		<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
		<form class="search-form" action="extra_search.html" method="GET">
			<div class="input-group">
				<input type="text" class="form-control input-sm" placeholder="Buscar..." name="query">
				<span class="input-group-btn">
				<a href="#" class="btn submit"><i class="icon-magnifier"></i></a>
				</span>
			</div>
		</form>
		<!-- END HEADER SEARCH BOX -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li class="separator hide"></li>
				
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user dropdown-dark">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="username username-hide-on-mobile">
						Ronaldo 
						</span>
						<!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
						<img alt="" class="img-circle" src="assets/admin/layout4/img/avatar9.jpg"/>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="#/profile/dashboard">
							<i class="icon-user"></i> Perfil </a>
						</li>
						<li>
							<a href="#">
							<i class="icon-calendar"></i> Calend&aacute;rio </a>
						</li>
						<li>
							<a href="#">
							<i class="icon-envelope-open"></i> Caixa de Entrada <span class="badge badge-danger">
							3 </span>
							</a>
						</li>
						<li>
							<a href="#/todo">
							<i class="icon-rocket"></i> Tarefas <span class="badge badge-success">
							7 </span>
							</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">
							<i class="icon-lock"></i> Travar Tela </a>
						</li>
						<li>
							<a href="#">
							<i class="icon-key"></i> Sair </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->