<div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<li class="heading">
			<h3>Menu</h3>
		</li>
		<li class="start">
			<a href="#/dashboard.html">
			<i class="icon-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-settings"></i>
			<span class="title">Relat&oacute;rios</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#">
					<i class="icon-puzzle"></i>MedicLab</span>
					</a>
				</li>
				<li>
					<a href="#/db_dentalsaude.html">
					<i class="icon-paper-clip"></i> Dental Sa&uacute;de</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-check"></i> Performance Academia</span>
					</a>
				</li>
			</ul>
		</li>
		
	</ul>
	<!-- END SIDEBAR MENU -->
</div>	