<style>
	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini { width: 180px !important;} 

     .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }
</style>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light ">
			
			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Gerar Boletos </span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<!-- END TITLE -->
			
			<!-- MAIN CONTENT -->	
			<div class="portlet-body">
				
				<div class="row">
					<!-- FILTRO POR PERIODO -->
					<div class="col-md-4">
						<label for="">Per&iacute;odo</label>
	                	<input date-range-picker class="form-control date-picker text-center" type="text" ng-model="fieldSearch.date" placeholder="Escolha o per&iacute;odo" 
	                    options="{eventHandlers:{'apply.daterangepicker':pesquisarClientes}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:false, showCustomRangeLabel:true ,timePicker:false }" 
	                    />
					</div>	
					<!-- END FILTRO POR PERIODO -->

					<!-- FORMA DE PAGAMENTO -->
					<div class="col-md-4">
						<div>
							<label for="">Forma de Pagamento</label>
							<ui-select id="selFormaPagamento" 
							name="selFormaPagamento"
	                     	ng-model="fieldSearch.formaPagamento.selected" 
	                     	class="form-control select2me" theme="select2" 
	                     	append-to-body="true" search-enabled="false" 
	                     	on-select="loadContasDespesa(null,false)"> 
	                     		<ui-select-match placeholder="forma de pagamento..."> {{$select.selected.label}}
								</ui-select-match> 

								<ui-select-choices repeat="item.id as item in formaPagamentoOptions | filter: $select.search">
									<div ng-bind-html="item.label | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>  
						</div>
					</div>	
					<!-- END FORMA DE PAGAMENTO -->
				</div>
				
				<br/>
				<div class="row">
					
					<!-- QTD INADIMPLENCIA-->
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">
								Quantidade T&iacute;tulos Abertos
							</label> 
							<rzslider rz-slider-model="fieldSearch.qtdTituloAbertoSlider.value" rz-slider-options="fieldSearch.qtdTituloAbertoSlider.options"></rzslider>
						</div>
					</div>
					<!-- END QTD INADIMPLENCIA-->

					<!-- Tipo de desconto -->
                    <div class="col-md-4">
                        <div class="radio-list" style="padding-bottom:10px;">
                        	<label for=""> Tipo de desconto</label>
                            <label class="radio-inline" ng-repeat="optionDesc in rdOptionsTipoDesc">
                                <input type="radio" name="tipoFiltroDesc" icheck class-radio-icheck="iradio_square-blue"
                                 ng-value="{{optionDesc.value}}" ng-model="fieldSearch.optionDescSelected.value">{{optionDesc.name}}
                            </label>
                        </div>
                        <div ng-if="fieldSearch.optionDescSelected.value == 0">
	                    	<div class="form-group">
	                            <div>
	                                <input type="text" class="form-control" placeholder="desconto em dinheiro" 
	                                ng-model="fieldSearch.vlDescDinheiro" 
	                                ui-money-mask > 
	                            </div>
	                        </div>
                        </div>
                        <div ng-if="fieldSearch.optionDescSelected.value == 1">
                        	<div class="form-group">
	                            <div>
	                                <input type="text" class="form-control" placeholder="desconto em porcentagem"
	                                ng-model="fieldSearch.vlDescPorcentagem"
	                                ui-percentage-mask="0"> 
	                            </div>
	                        </div>
                        </div>
                    </div>
                    <!-- END Tipo de desconto -->
				</div>

				<div class="row">

					<!-- Negociadas-->
					<div class="col-md-4">
						<label class="checkbox-list" ng-repeat="negOption in filtroNegociadaOptions">
                                <input type="checkbox" name="tipoFiltroNeg" 
                                icheck class-check-icheck="icheckbox_flat-blue"
                                ng-value="{{negOption.value}}" ng-model="fieldSearch.boNegociada.value">{{negOption.name}}
                        </label>
					</div>
					<!-- END Negociadas-->
				</div>

				<div class="row">
					<div class="col-md-8">
						<div class="text-right">
							<button class="btn blue" ng-click="pesquisarClientesInadimplentes()">
								<span  ng-show="searching == false"> 
									Pesquisar
								</span>
								<span ng-show="searching">
									Pesquisando
									<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
								</span> 
							</button>
						</div>
					</div>
				</div>

				<div class="row">

					<!-- TABLE ERROS CADASTRO CLIENTE -->
					<br/>
	                <div class="col-md-6" >
                    	<div class="portlet box red" ng-show="statusCadastro.erroList.length > 0">
	                        <div class="portlet-title">
	                            <div class="caption">
	                             	<i class="fa fa-picture"></i>Log erro de cadastro de cliente 
	                            </div>
	                            <div class="tools">
                                    <a ng-click="gerarPDF()" tooltip="pdf">
                                    	<i class="fa fa-file-pdf-o font-grey-silver" ></i>
                                    </a>
                                   		
                                   	<a href="javascript:;" class="remove"></a>	
                                </div>
	                        </div>
	                        <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-condensed table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th> Status </th>
                                                    <th> Mensagem </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat=" itemErro in statusCadastro.erroList" >
                                                	<td> 
                                                		<small class="label label-sm label-danger" >
                                                			{{itemErro.in_CodCliente}}
                                                		</small><br/>
                                                		{{itemErro.st_nome_sac}}
                                                    </td>
                                                    <td> {{itemErro.status}}</td>
                                                    <td> {{itemErro.msg}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
	                    <!-- TABLE ERROS CADASTRO CLIENTE -->

	                    <!-- TABLE ERROS COBRANCA  -->
	                    <div class="col-md-6" >
                    		<div class="portlet box red" ng-show="statusCobranca.erroList.length > 0">
		                        <div class="portlet-title">
		                            <div class="caption">
		                             	<i class="fa fa-picture"></i>Log erro de cobrancas 
		                            </div>
		                            <div class="tools">
	                                   	<a href="javascript:;" class="remove"></a>	
	                                </div>
		                        </div>
	                        <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-condensed table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th> Status </th>
                                                    <th> Mensagem </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat=" itemErro in statusCobranca.erroList" >
                                                	<td> 
                                                		<small class="label label-sm label-danger" >
                                                			{{itemErro.in_CodCliente}}
                                                		</small><br/>
                                                		{{itemErro.st_NomeCliente}}
                                                    </td>
                                                    <td> {{itemErro.status}}</td>
                                                    <td> {{itemErro.msg}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TABLE ERROS COBRANCA  -->

	<!-- 	                <div class="col-md-offset-9 col-md-3" style="margin-top:30px;padding-bottom:15px;"
	ng-show="clientes.length > 0">
								<div class="text-right">
									<div class="btn-group" dropdown>
		                            	<button type="button" class="btn blue-steel dropdown-toggle"
		                            	dropdown-toggle> 
		                            		<span class="badge badge-warning" ng-show="totalChecked > 0">{{totalChecked}}  
		                            		</span>
		                            			Clique para Op&ccedil;&otilde;es
		                                    <span class="caret"></span>
		                                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-show="optionRunning"></i>
		                                </button>
		                                <ul class="dropdown-menu" dropdown-menu role="menu">
		                                    <li>
		                                        <a ng-click="gerarBoletoSuperlogica()"
		                                        ng-hide="clientes[0].boNegociadoAuto == true">
		                                        	Gerar Boletos
		                                        </a>
		                                    </li>
		                                    <li class="divider" ></li>
		                                    <li>
		                                        <a ng-click="gerarBoletoSegundaVia(false)">Reimprimir Boleto</a>
		                                    </li>
		                                </ul>
		                            </div>	
								</div>
							</div> -->

					  <tabset>

	                   <!--TAB CLIENTES PENDENTES -->
	                   <tab>
	                        <tab-heading>
	                        	<i class="fa fa-user-circle font-green" aria-hidden="true"></i>
	                          	CLientes para cadastrar
	                        </tab-heading>
							
							<br/>
							<div class="col-md-12" style="margin-bottom:10px;">
								<div class="text-left">
									<img id="spinner" ng-src="assets/admin/layout4/img/squares.gif" data-loading>
								</div>
								<div class="text-right">
									<button class="btn btn-green" ng-click="cadastrarClientesSP()">
										<span class="badge badge-warning" ng-show="totalChecked > 0">{{totalChecked}}  
	                            		</span>
										Cadastrar Clientes
									</button>		
								</div>
							</div>

	                        <div class="row">
	                        	<!-- TABLE CLIENTES -->
								<div class="col-md-8" ng-show="clientes.length == 0">
									<div class="note note-info">
				                        <h4 class="block"> Sem dados dispon&iacute;veis. </h4>
				                    </div>
								</div>
								<div class="col-md-10"  ng-show="clientes.length > 0" 
									style="margin-left:20px;">
									<div class="text-left">
		                				<span > 
		                					Total: 
		                				</span>
		                				<span class="badge badge-success" tooltip="total de registros"> 
		                					{{clientes.length}} 
		                				</span>
	                				</div><br/>
								</div>
								<div class="col-md-12" ng-show="clientes.length > 0">
									<div class="table-responsive">
				                    	<table id="table_cliente" ng-table="tableParams" 
				                    	show-filter="true" 
				                    	class="table table-striped table-bordered table-hover">
				                    	<colgroup>
									    	<col width="5%" />
									    </colgroup>
				                        	<tr ng-repeat="item in $data">
				                        		<td header="'headerCheckbox.html'" class="text-center">
				                        			<input type="checkbox" name="tipoFiltroNeg" icheck 
				                        			class-check-icheck="icheckbox_flat-green" ng-value="" 
				                        			ng-model="checkboxes.items[item.idContrato]" />
				                        		</td>
				                                <td data-title="'Cliente'" sortable="'nmCliente'" 
				                                filter="{ 'nmCliente': 'text' }" > 
				                                	<div>
				                                		<label style="margin-top:3px;">
				                                			<small class="font-grey-silver">
				                                				<strong>{{item.nrCodCliente}}</strong>
				                                				<strong ng-if="item.idClienteSl" tooltip="Id Super lógica">
				                                					{{ ' |' + item.idClienteSl}}
				                                				</strong>
				                                			</small>
				                                			&nbsp;<br/>	
				                                			{{item.nmCliente}}
				                                		</label>
				                                	</div>
				                                </td>
				                                <td data-title="'Contrato'"
				                            	filter="{ 'nmPlano': 'text' }" sortable="'nmPlano'">
				                            		<small class="label label-success" style="margin-bottom:5px;"> 
				                                		{{item.nrContrato + ' - ' + item.dtContrato }}
				                                	</small>

				                                	<br/>

				                                	<label style="margin-top:3px;">{{item.nmPlano }}</label>
				                                </td>
				                                <td data-title="'Forma Pagamento'" class="text-center"
				                             	sortable="'inFormaPagamento'">
				                                 	<span ng-show="item.inFormaPagamento == 0"> 
				                                 		{{'BOLETO'}}
				                                 	</span>
				                                 	<span ng-show="item.inFormaPagamento == 1"> 	
				                                 		{{'DEBITO'}}
				                                 	</span>
				                                 	<span ng-show="item.inFormaPagamento == 2"> 		
				                                 		{{'CONTRA-CHEQUE'}}
				                                 	</span>
				                                 	<span ng-show="item.inFormaPagamento == 30"> 		
				                                 		{{'RECORRENTE'}}
				                                 	</span>
				                             	</td>
				                                <td data-title="'Endereco'"  filter="{ 'endereco': 'text' }"
				                                sortable="'endereco'"> 
				                                 	{{item.endereco}} <br/>
				                                 	{{item.enderecoComplemento}}
				                             	</td>
				                             	<td data-title="'Em aberto'" class="text-center"> 
				                                	{{item.qtdMensalidade}} <br/>
				                                	<span class="label label-success" 
				                                	ng-show="item.boNegociadoAuto == true"> 		
				                                 		{{'Negociado em:' + item.dtNegociadoAuto }}
				                                 	</span>
				                             	</td>
				                             	<td data-title="'D&iacute;vida'" class="text-center"> 
				                                  {{item.vlTotal | currency: 'R$'}}
				                             	</td>
				                             	<td data-title="'A pagar'" class="text-center"> 
				                                  {{item.vlDesconto | currency: 'R$'}}
				                             	</td>
				                             	<td data-title="'Op&ccedil;&otilde;es'" class="text-center"> 
													<!-- Our tooltip style toolbar
													<div id="toolbar-options" class="hidden">
													   <a href="#" ng-click="gerarBoletoSegundaVia(true,item)">
													   	<i class="fa fa-plane"></i></a>
													   <a href="#"><i class="fa fa-car"></i></a>
													   <a href="#"><i class="fa fa-bicycle"></i></a>
													</div> -->

													<!-- <div class="settings-button" style="margin-left:10px;">
														<div class="btn-toolbar btn-toolbar-success" 
														toolbar-tip="{content: '#toolbar-options', position: 'top',event: 'click',hideOnClick: true}">
															<i class="fa fa-cogs" aria-hidden="true"></i>
														</div>	
													</div> -->
													<div>
														<a ng-click="gerarBoletoSegundaVia(true,item)" 
														tooltip="Reimprimir" 
														ng-if="item.boNegociadoAuto == true && item.linkBoleto_sl">
														   	<i class="fa fa-files-o font-green-meadow" aria-hidden="true">
														   	</i>
														</a>

														<small ng-if="item.boNegociadoAuto == true && item.linkBoleto_sl == null" tooltip="Reimpressao Indisponível" >
															<i class="fa fa-chain-broken font-red" aria-hidden="true"></i>
														</small>
														
														<small ng-if="!item.boNegociadoAuto">
															{{'-'}}
														</small>
													</div>
				                             	</td>
				                            </tr>
				                        </table>
				                    </div>
								</div>
								<!-- END TABLE CLIENTES -->
	                        </div>

	                    </tab>

	                    <!--TAB CLIENTES PENDENTES -->
	                   <tab>
	                        <tab-heading>
	                        	<i class="fa fa-usd font-yellow-gold" aria-hidden="true"></i>
	                          	Cobrancas Pendentes
	                        </tab-heading>
							
							<br/>
							<div class="col-md-12" style="margin-bottom:10px;">
								<div class="text-left">
									<img id="spinner" ng-src="assets/admin/layout4/img/squares.gif" data-loading>
								</div>
								<div class="text-right">
									<button class="btn btn-blue" ng-click="cadastrarCobrancaSP()">
										<span class="badge badge-warning" ng-show="totalCheckedCobranca > 0">{{totalCheckedCobranca}}  
	                            		</span>
										Cobrar Clientes
									</button>		
								</div>
							</div>


	                        <div class="row">
	                        	<!-- TABLE CLIENTES -->
								<div class="col-md-8" ng-show="cobrancaPendenteGerarList.length == 0">
									<div class="note note-info">
				                        <h4 class="block"> Sem dados dispon&iacute;veis. </h4>
				                    </div>
								</div>
								<div class="col-md-10"  ng-show="cobrancaPendenteGerarList.length > 0" 
									style="margin-left:20px;">
									<div class="text-left">
		                				<span > 
		                					Total: 
		                				</span>
		                				<span class="badge badge-warning" tooltip="total de registros"> 
		                					{{cobrancaPendenteGerarList.length}} 
		                				</span>
	                				</div><br/>
								</div>
								<div class="col-md-12" ng-show="cobrancaPendenteGerarList.length > 0">
									<div class="table-responsive">
				                    	<table id="table_cobranca" ng-table="tableCobrancaParams" 
				                    	show-filter="true" 
				                    	class="table table-striped table-bordered table-hover">
				                    	<colgroup>
									    	<col width="5%" />
									    </colgroup>
				                        	<tr ng-repeat="item in $data">
				                        		<td header="'headerCheckboxCobranca.html'" class="text-center">
				                        			<input type="checkbox" name="tipoFiltroNeg" icheck 
				                        			class-check-icheck="icheckbox_flat-blue" ng-value="" 
				                        			ng-model="checkboxesCobranca.items[item.idContrato]" />
				                        		</td>
				                                <td data-title="'Identificado SP'" > 
				                                	{{item.id_sacado_sac}}
				                                </td>
				                                <td data-title="'Produto'">
				                            		{{item.produtoServicoGeneric.id_produto_prd}}
				                                </td>
				                                <td data-title="'Valor'">
				                            		{{item.produtoServicoGeneric.vl_unitario_prd}}
				                                </td>
				                                <td data-title="'Quantidade'">
				                            		{{item.produtoServicoGeneric.nm_quantidade_comp}}
				                                </td>
				                                <td data-title="'Idenficador Cliente'">
				                            		{{item.in_idCliente}}
				                                </td>
				                                <td data-title="'Codigo'">
				                            		{{item.in_CodCliente}}
				                                </td>
				                                <td data-title="'Nome'">
				                            		{{item.st_NomeCliente}}
				                                </td>
				                                <td data-title="'Identificador Contrato'">
				                            		{{item.idContrato}}
				                                </td>
				                            </tr>
				                        </table>
				                    </div>
								</div>
								<!-- END TABLE CLIENTES -->
	                        </div>
	                    </tab>
	                     

	                   <!--TAB IMPRESSAO -->
	                   <tab>
	                        <tab-heading>
	                        	<i class="fa fa-print font-red" aria-hidden="true"></i>
	                          	Imprimir Boleto
	                        </tab-heading>
							
							<br/>
							<div class="col-md-12" style="margin-bottom:10px;">
								<div class="text-left">
									<img id="spinner" ng-src="assets/admin/layout4/img/squares.gif" data-loading>
								</div>
								<div class="text-right">
									<button class="btn btn-red" ng-click="imprimirBoletosSP()">
										<span class="badge badge-warning" ng-show="totalCheckedImpressao > 0">{{totalCheckedImpressao}}  
	                            		</span>
										Imprimir Boleto
									</button>		
								</div>
							</div>


	                        <div class="row">
	                        	<!-- TABLE CLIENTES -->
								<div class="col-md-8" ng-show="arrayBoletosPrint.length == 0">
									<div class="note note-info">
				                        <h4 class="block"> Sem dados dispon&iacute;veis. </h4>
				                    </div>
								</div>
								<div class="col-md-10"  ng-show="arrayBoletosPrint.length > 0" style="margin-left:20px;">
									<div class="text-left">
		                				<span > 
		                					Total: 
		                				</span>
		                				<span class="badge badge-danger" tooltip="total de registros"> 
		                					{{arrayBoletosPrint.length}} 
		                				</span>
	                				</div><br/>
								</div>
								<div class="col-md-12" ng-show="arrayBoletosPrint.length > 0">
									<div class="table-responsive">
				                    	<table id="table_cobranca" ng-table="tableBoletoParams" 
				                    	show-filter="true" 
				                    	class="table table-striped table-bordered table-hover">
				                    	<colgroup>
									    	<col width="5%" />
									    </colgroup>
				                        	<tr ng-repeat="item in $data">
				                        		<td header="'headerCheckboxImpressao.html'" class="text-center">
				                        			<input type="checkbox" name="tipoFiltroNeg" icheck 
				                        			class-check-icheck="icheckbox_flat-blue" ng-value="" 
				                        			ng-model="checkboxesimpressao.items[item.link]" />
				                        		</td>
				                        		 <td data-title="'Cliente'">
				                            		{{item.nmCliente}}
				                                </td>
				                                <td data-title="'Endereco'" > 
				                                	{{item.endereco}}
				                                </td>
				                                <td data-title="'Complemento'">
				                            		{{item.enderecoComplemento}}
				                                </td>
				                                <td data-title="'link'">
				                            		<a href="{{item.link}}" target="_blank" 
				                            		ng-show="item.link" >
				                            			<i class="fa fa-folder-open" aria-hidden="true"></i>
				                            		</a>
				                                </td>
				                            </tr>
				                        </table>
				                    </div>
								</div>
								<!-- END TABLE CLIENTES -->
	                        </div>
	                    </tab>
	                    <!--END TAB IMPRESSAO -->
	                </tabset>

					
				</div>
			</div>
			<!-- END MAIN CONTENT -->	
	
		</div>
	</div>
</div>


<script type="text/ng-template" id="headerCheckbox.html">
	
    <input type="checkbox" name="tipoFiltroNeg" icheck class-check-icheck="icheckbox_flat-green"
     ng-value="" ng-model="checkboxes.checked">

    <!-- <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" /> -->
</script>

<script type="text/ng-template" id="headerCheckboxCobranca.html">
	
    <input type="checkbox" name="tipoFiltroNeg" icheck class-check-icheck="icheckbox_flat-blue"
     ng-value="" ng-model="checkboxesCobranca.checked">

    <!-- <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" /> -->
</script>

<script type="text/ng-template" id="headerCheckboxImpressao.html">
	
    <input type="checkbox" name="tipoFiltroNeg" icheck class-check-icheck="icheckbox_flat-blue"
     ng-value="" ng-model="checkboxesimpressao.checked">

    <!-- <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" /> -->
</script>