<style>
	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini { width: 180px !important;} 

    .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }

    .sectionSerch {
      margin-bottom: 60px;
      padding: 10px;
      background-color: #efefef;
    }

    .sectionSerch:last-child {
      margin-bottom: 0;
    }

</style>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light ">
			
			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> 
					<span class="caption-subject font-blue-madison bold uppercase"> 		Lista de Telefones 
					</span>
					 <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
	                data-loading>
				</div>
			</div>
			<!-- END TITLE -->
	
			
			<div class="portlet-body">
				<div class="row">

					<!-- FORMA DE PAGAMENTO -->
					<div class="col-md-4">
						<div>
							<label for="">Unidades</label>
							<ui-select id="selUnidade" 
							name="selUnidade"
	                     	ng-model="unidade.selected" 
	                     	class="form-control select2me" theme="select2" 
	                     	append-to-body="true" search-enabled="false" 
	                     	on-select="loadRamais()"> 
	                     		<ui-select-match placeholder="selecione a unidade..."> 	     {{$select.selected.nmUnidade}}
								</ui-select-match> 

								<ui-select-choices repeat="item as item in unidades | filter: $select.search">
									<div ng-bind-html="item.nmUnidade | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>  
						</div>
					</div>	
					<!-- END FORMA DE PAGAMENTO -->
				</div>

				 <br/><br/>
				<div class="row">
					<!-- TABLE CLIENTES -->
					<div class="col-md-12">
						<div class="col-md-12" ng-show="ramais.length == 0">
							<div class="note note-info">
		                        <h4 class="block"> Sem dados dispon&iacute;veis. </h4>
		                    </div>
						</div>
						<div class="table-responsive" ng-show="ramais.length > 0">
	                    	<table id="clientes_pagamento" ng-table="tableParams" 
	                    	class="table table-striped table-bordered table-hover" 
	                    	show-filter="true" >
	                    		 <colgroup>
						          <col width="50%" />
						          <col width="50%" />
						        </colgroup>
								<tr class="ng-table-group" ng-repeat-start="group in $groups">
						        <td colspan="2">
						        	<a href="" ng-click="group.$hideRows = !group.$hideRows"class="link-blue">
						           		<span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
						              <strong>{{ group.value }}</strong>
						            </a>
						          </td>
					        	</tr>

	                        	<tr ng-hide="group.$hideRows" ng-repeat="item in group.data"
	                        	ng-repeat-end >
	                        	 	<td data-title="'Nome'" filter="{ 'nome': 'text' }" > 
	                                	<div>
	                                		{{item.nome}}
	                                	</div>
	                                </td>
	                                <td data-title="'Ramal'" filter="{ 'nrRamal': 'number' }" > 
	                                	<div>
	                                		{{item.nrRamal}}
	                                	</div>
	                                </td>
	                            </tr>
	                        </table>
	                    </div>
					</div>
					<!-- END TABLE CLIENTES -->
				</div>					
                </div>
			</div>
		</div>
	</div>
</div>