description "FOLHA-READER"
author      "Phillip Furtado <phillip.furtado@gmail.com>"

start on runlevel [2345]
stop on runlevel [016]

console none
chdir <%= @fr_dir %>
script
   runuser -s /bin/bash -c 'exec python service.py' <%= @user_group %>
end script