<style>
    .multiSelect > button {
        min-height: 25px !important;
    }

    /* FIX LAYOUT DATEPICKER RANGER */
    .input-mini {
        width: 180px !important;
    }

    .divTable{
        display: table;
        width: 100%;
    }
    .divTableBody {
        display: table-row-group;
    }
    .divTableRow {
        display: table-row;
    }
    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
        min-width: 140px;
        width: 160px;
    }

    .choiceFilter{
        visibility: hidden; 
        margin-left:-15px !important;
    }
    .active1 {
        background-color: #365b96;
        color: #ffffff;
    }
    .deactive1 {
        background-color: #E5E5E5;
    }
</style>

<div class="row">
    <div class="col-md-5 col-sm-12">
    </div>
</div>

<div class="row" >
    <div class="col-md-14">
        <div class="portlet light">
            <!-- BEGIN TITLE -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i> <span class="caption-subject 
                     font-{{cssStyleObject.color}} bold uppercase">An&aacute;lise Financeiro</span>
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                </div>
            </div>
            <!-- END TITLE -->
            
            <!-- BEGIN CONTENT -->
            <div class="portlet-body">

                <div class="row">
                    <div class="col-md-offset-4 col-md-12">
                        <!-- BEGIN ESCOLHA CC -->
                        <div class="col-md-6">
                            <div class="btn-group">
                                <label class="btn btn-md {{cssStyleObject.color3}}" ng-model="inStatusFiltro" btn-radio="'1'" ng-click="escolhaCC(1,false); loadLista(1)" uncheckable>
                                    Conta Cont&aacute;bil <!-- true -->
                                </label>
                                <label class="btn btn-md {{cssStyleObject.color1}}" ng-model="inStatusFiltro" btn-radio="'2'" ng-click="escolhaCC(2, false); loadLista(2)" uncheckable>
                                    Centro de Custo <!-- false -->
                                </label> 
                            </div>
                        </div>
                        <!-- END ESCOLHA CC -->
                    </div>
                    <br/>
                </div>
                <br/>

                <!-- BEGIN TABLE ANALISE -->
                <div class="portlet box {{cssStyleObject.color}}" ng-if="mostrarTab">
                    <div class="portlet-title">
                        <div class="caption" ng-if="CCescolhido">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            Conta Cont&aacute;bil
                        </div>
                        <div class="caption" ng-if="!CCescolhido">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            Centro de Custo
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                        <div style="float: right">
                            <button class="btn btn-sm red text-center" type="button"
                            ng-click="gerarPdf(inStatusFiltro)" ng-show="tabelaPrincipalCentroCusto > 0" ng-if="!CCescolhido">
                                <i class="fa fa-print" aria-hidden="true"></i>
                            </button>   
                            <button class="btn btn-sm red text-center" type="button"
                            ng-click="gerarPdf(inStatusFiltro)" ng-show="tabelaPrincipal > 0" ng-if="CCescolhido">
                                <i class="fa fa-print" aria-hidden="true"></i>
                            </button>   
                        </div>
                        
                    </div> 
                    <div class="portlet-body" >
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                        <!-- BEGIN OPTIONS GERAIS -->
                        <br/>
                        <div class="row">
                            <!--BEGIN EMPRESAS FINANCEIRO -->
                            <br/>
                                <div class="col-md-12"> 
                                    <div class="col-md-offset col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Empresa <span class="required"> * </span>
                                            </label>
                                            <ui-select multiple close-on-select="true"
                                            ng-model="empresaFinanceiro.selected" theme="bootstrap"  sortable="true" on-select="choiceEmpresa($item)" on-remove="removeIdEmpresa($item)"> 
                                                <ui-select-match aria-placeholder="Selecione a empresa...">
                                                    {{$item.nmFantasia}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
                                                    <div ng-bind-html="item.nmFantasia | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                       <label class="control-label">
                                            Período: <span class="required"> * </span>
                                        </label>
                                    </div>
                                        <!-- DATEPICKER RANGE --> 
                                    <div class="col-md-2" style="width: 18%">
                                        <div ng-if="CCescolhido">
                                            <input date-range-picker
                                            class="form-control date-picker text-center" type="text"
                                            ng-model="dataFiltro.date" placeholder="Selecione o período "
                                            options="{eventHandlers:{'apply.daterangepicker' : changeDateLoadContaContabil}, locale: localeDateRangePicker, ranges:
                                            rangesDateRangePicker, alwaysShowCalendars:false, showCustomRangeLabel: true, timePicker:false}"/>
                                        </div>
                                        <div ng-if="!CCescolhido">
                                            <input date-range-picker
                                            class="form-control date-picker text-center" type="text"
                                            ng-model="dataFiltro.date" placeholder="Selecione o período "
                                            options="{eventHandlers:{'apply.daterangepicker' : changeDateLoadCentroCusto}, locale: localeDateRangePicker, ranges:
                                            rangesDateRangePicker, alwaysShowCalendars:false, showCustomRangeLabel: true, timePicker:false}"/>
                                        </div>
                                    </div>
                                    <br/>
                                        <!-- END DATEPICKER RANGE-->
                                    <!-- BEGIN FILTRO PAGO/ABERTO-->
                                    <div class="col-md-3">
                                        <label class="control-label">

                                        </label>
                                        <div class="btn-group">
                                            <label class="btn btn-xs" ng-class="{'active1': loadFilter.selected == filter.status, 'deactive1': loadFilter.selected != filter.status}" ng-repeat="filter in filters">
                                                <input name="status" type="radio" class="choiceFilter"  ng-model="loadFilter.selected" ng-click="loadStatus(inStatusFiltro)" ng-value="filter.status"  />
                                                {{filter.nome}}
                                            </label>
                                        </div>
                                    </div>

                                    <!-- END FILTRO -->
                                    <div class="col-md-2" ng-if="CCescolhido">
                                       <!--  <ui-select id="nmContaContabil" ng-model="listContaContabil.selected" theme="select2" class="form-control select2me" name="nmContaContabil"
                                            ng-required="true"  > -->
                                        <ui-select id="nmContaContabil" ng-model="listContaContabil.selected" ng-disabled="false" autofocus="true" reset-search-input="false"
                                          ng-required="true"  > <!--  name="nmContaContabil" falta o on-select -->
                                            <ui-select-match 
                                            placeholder="Conta Cont&aacute;bil...">{{$select.selected.nmContaContabil}}
                                            </ui-select-match>
                                            <!-- <ui-select-choices repeat="item in listContaContabil | filter: $select.search" ></ui-select-choices> -->
                                            <ui-select-choices repeat="item in listCC track by $index " refresh="atualizarSelectCC($select.search)" refresh-delay="1000">
                                                <div ng-bind-html="item.nmContaContabil | highlight: $select.search">
                                                </div>
                                            </ui-select-choices> 
                                        </ui-select> 
                                        <i class="fa fa-exclamation-circle" popover-placement="right" popover-title="Dica"
                                        popover="Utilize '%' no inicio e no fim da palavra para obter resultados mais precisos (contas principais). Ex: %despesa%" popover-trigger="mouseenter"></i>                                       
                                    </div>
                                    <div class="col-md-2"  ng-if="!CCescolhido">
                                       <!--  <ui-select id="nmCentroCusto" ng-model="listCentroCusto.selected" theme="select2" class="form-control select2me" 
                                        name="nmCentroCusto" ng-required="true"> --><!--  on-select="loadCentroCusto($item)" -->
                                        <ui-select id="nmCentroCusto" ng-model="listCentroCusto.selected" ng-disabled="false" autofocus="true" reset-search-input="false"
                                            ng-required="true">
                                            <ui-select-match 
                                            placeholder="Centro de Custo...">{{$select.selected.nmCentroCusto}}
                                            </ui-select-match>
                                            <!-- <ui-select-choices repeat="item in listCentroCusto | filter: $select.search"> -->
                                            <ui-select-choices repeat="item in listCentro track by $index" refresh="atualizarSelect($select.search)" refresh-delay="1000">
                                                <div ng-bind-html="item.nmCentroCusto | highlight: $select.search">
                                                </div>
                                            </ui-select-choices> 
                                        </ui-select>
                                        <i class="fa fa-exclamation-circle" popover-placement="right" popover-title="Dica"
                                        popover="Utilize '%' no inicio e no fim da palavra para obter resultados mais precisos (centros principais). Ex: %academia%" popover-trigger="mouseenter"></i> 
                                    </div>
                                </div>
                                <br/>
                                <div class="col-md-push-5 col-md-6">
                                    <span class="input-group-btn">
                                        <button class="btn blue" type="button" ng-click="prePesquisar(empresaFinanceiro.selected, 1, CCescolhido)">Pesquisar</button> 
                                    </span> 
                                </div>
                            <!--END EMPRESAS FINANCEIRO -->
                        </div>
                        <!-- END OPTIONS GERAIS -->
                        <br/>
                        <div class="row">
                            <div class="col-md-6" ng-if="tabelaPrincipal < 0 && showTab">
                                <br/>
                                <div class="note note-info">
                                    <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="tabelaPrincipalCentroCusto < 0 && showTab">
                                    <br/>
                                    <div class="note note-info">
                                        <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                    </div>
                                </div>
                            <div class="col-md-12" ng-show="(tabelaPrincipal >= 0 && showTab) || (tabelaPrincipalCentroCusto >= 0 && showTab)" >
                                <div class="table-responsive" style="margin-top: 0.5%" >
                                    <table class="table table-striped table-bordered table-hover flip-content">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th ng-if="!CCescolhido"> Centro de Custo</th>
                                                <th class="text-center" ng-if="CCescolhido"> Conta Cont&aacute;bil</th>
                                                <th ng-repeat="mes in tabMeses">{{mes.mesAnoFinalForm}}</th>
                                                <th > TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-if="CCescolhido">
                                            <tr ng-repeat="item in lisaAll" ng-if="!item.parent || item.isVisible">
                                                <td style="width: 5%" class="text-center;">
                                                    <a ng-if="item.expanded" ng-click="item.expanded = false; setVisible(item.id, false, 1, false)" ng-show="item.temFilhos == true">
                                                        <span class="glyphicon glyphicon-eye-close"></span>
                                                    </a>
                                                    <a ng-if="!item.expanded" ng-click="item.expanded = true; setVisible(item.id, true, 1, false)" ng-show="item.temFilhos == true">

                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                </td>
                                                <td scope="row" ng-if="item.showNegrito"><b >{{item.nrOrdem}}    {{item.nmContaContabil}}</b> </td>
                                                <td scope="row" ng-if="!item.showNegrito">{{item.nrOrdem}}    {{item.nmContaContabil}}</td>
                                                <td ng-repeat ="valorT in item.listaTodos" ng-if="item.showNegrito"> <a ng-click="modalDespesas(valorT)"><b>{{valorT.totalForm}}</b></a></td>
                                                <td ng-repeat ="valorT in item.listaTodos" ng-if="!item.showNegrito"> <a ng-click="modalDespesas(valorT)">{{valorT.totalForm}}</a></td>
                                                <td ng-if="item.showNegrito"><b>R$ {{item.totalContaContabil}}</b></td>
                                                <td ng-if="!item.showNegrito">R$ {{item.totalContaContabil}}</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="text-center;">TOTAL</td>
                                                <td ng-repeat="total in arrayTotais track by $index">{{total | currency: 'R$ '}}</td>
                                                <td>{{valorTotal| currency: 'R$ '}}</td>

                                            </tr>
                                        </tbody>
                                        <tbody ng-if="!CCescolhido" >
                                            <tr ng-repeat="item in lisaAll" ng-if="!item.parent || item.isVisible" >
                                                <td style="width: 5%" class="text-center;">
                                                    <a ng-if="item.expanded" ng-click="item.expanded = false; setVisible(item.id, false, 2, false)" ng-show="item.temFilhos == true">
                                                        <span class="glyphicon glyphicon-eye-close"></span>
                                                    </a>
                                                    <a ng-if="!item.expanded" ng-click="item.expanded = true; setVisible(item.id, true, 2, false)" ng-show="item.temFilhos == true">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                </td>
                                                <td scope="row" ng-if="item.showNegrito"><b>{{item.nrOrdem}}  {{item.nmCentroCusto}}</b></td>
                                                <td scope="row" ng-if="!item.showNegrito">{{item.nrOrdem}}  {{item.nmCentroCusto}}</td>
                                                <td ng-repeat="valorT in item.listaTodos" ng-if="item.showNegrito"> <a ng-click="modalDespesas(valorT)"><b>{{valorT.totalForm}}</b></a></td>
                                                <td ng-repeat="valorT in item.listaTodos" ng-if="!item.showNegrito"> <a ng-click="modalDespesas(valorT)">{{valorT.totalForm}}</a></td>
                                                <td ng-if="item.showNegrito"><b>R$ {{item.totalCentroCusto}}</b></td>
                                                <td ng-if="!item.showNegrito">R$ {{item.totalCentroCusto}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="text-center;">TOTAL</td>
                                                <td ng-repeat="total in arrayTotais track by $index">{{total | currency: 'R$ '}}</td>
                                                <td>{{valorTotal | currency: 'R$ '}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                             
                            </div>
                        </div>
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    </div>
                </div>
                <!-- END TABLE ANALISE -->
            </div>
            <!-- END CONTENT -->
            
            <!--BEGIN ANALISE HORIZONTAL --
            <div class="portlet box {{cssStyleObject.color}}" ng-if="mostrarTab && CCescolhido">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                        An&aacute;lise Horizontal
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div> 
                <div class="portlet-body" >
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <!-- BEGIN OPTIONS GERAIS --
                    <br/>
                    <div class="row">
                        <!--BEGIN EMPRESAS FINANCEIRO --
                        <br/>
                            <div class="col-md-12"> 
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Empresa <span class="required"> * </span>
                                        </label>
                                        <ui-select multiple  close-on-select="true"
                                        ng-model="empresaFinanceiroAnalise.selected"  theme="bootstrap" sortable="true" on-select="choiceEmpresaAH($item)" on-remove="removeIdEmpresa($item)"> 
                                            <ui-select-match aria-placeholder="Selecione a empresa...">
                                                {{$item.nmFantasia}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
                                                <div ng-bind-html="item.nmFantasia | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <label class="control-label">
                                        <span class="required"> </span>
                                    </label>
                                    <ui-select  ng-model="listContaContabilAnalise.selected" theme="select2" class="form-control select2me" on-select="choiceContaContabil($item)"
                                     ng-required="true">
                                        <ui-select-match 
                                        placeholder="Conta Cont&aacute;bil...">{{$select.selected.nmContaContabil}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in listContaContabil | filter: $select.search">
                                            <div ng-bind-html="item.nmContaContabil | highlight: $select.search">
                                            </div>
                                        </ui-select-choices> 
                                    </ui-select>
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label">
                                        <span class="required"> </span>
                                    </label>
                                    <span class="input-group-btn">
                                        <button class="btn blue" type="button" ng-click="prePesquisar(empresaFinanceiroAnalise.selected, 2)">Pesquisar</button>
                                    </span>
                                </div>
                            </div>
                        <!--END EMPRESAS FINANCEIRO --
                    </div>
                    <!-- END OPTIONS GERAIS --
                    <div class="row">
                        <div class="col-md-6" ng-show="tabelaAH < 0 && showTabAH">
                            <br/>
                            <div class="note note-info">
                                <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="tabelaAH >= 0 && showTabAH" >
                            <div class="table-responsive" style="margin-top: 0.5%" >
                                <table class="table table-striped table-bordered table-hover flip-content">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center"> Conta Cont&aacute;bil</th>
                                            <th ng-repeat="ano in tabAno">{{ano.anoAH}}</th>
                                            <th>AH%</th>
                                            <!-- <th > TOTAL</th> --   
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in lisaAllAH" ng-if="!item.parent || item.isVisible">
                                            <td style="width: 5%" class="text-center;">
                                                <a ng-if="item.expanded" ng-click="item.expanded = false; setVisible(item.id, false, 1, true)" ng-show="item.temFilhos == true">
                                                    <span class="glyphicon glyphicon-eye-close"></span>
                                                </a>
                                                <a ng-if="!item.expanded" ng-click="item.expanded = true; setVisible(item.id, true, 1, true)" ng-show="item.temFilhos == true">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </td>
                                            <td scope="row">{{item.nrOrdem}}    {{item.nmContaContabil}}</td>
                                            <td ng-repeat="valorT in item.listaTodos">{{valorT.totalForm}}</td>
                                            <td ></td>
                                            
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-center;">TOTAL</td>
                                            <td ng-repeat="total in arrayTotaisAH track by $index">{{total | currency: 'R$ '}}</td>
                                            <td>total AH%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                             
                        </div>
                    </div>
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                </div>
            </div> <!-- FIM ANALISE HORIZONTAL -->

        </div>
    </div>
</div>
