<div class="container" ng-controller="AppController">
	<div class="row">
		<div class="col-md-12 coming-soon-header">
			<a class="brand" href="index.html"> <span class="coming-soon-content"><h1>
						<b>Acesso Negado</b>
						</h2></span>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 coming-soon-content">
			<h1>Usu&aacute;rio n&atilde;o tem permiss&atilde;o de acesso a p&aacute;gina solicitada.</h1>
			<a class="btn blue" ui-sref="home" type="button"> <i class="m-icon-swapleft m-icon-white"></i> <span> P&aacute;gina Principal </span>
			</a>
		</div>
	</div>
	<!--/end row-->
	<div class="row">
		<br>
		<div class="col-md-12 coming-soon-footer">2015 &copy; MedicLab.</div>
	</div>
</div>