<div class="margin-top-10">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <!-- BEGIN TITLE -->
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i> 
                        <span class="caption-subject font-blue-madison bold uppercase">         Selecione a empresa
                        </span>
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
                        data-loading>
                    </div>
                </div>
                <!-- END TITLE -->

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-4" 
                            ng-repeat="empresa in empresaOptions" ng-show="empresa.inSistemaExterno == 0">
                            <div class="thumbnail">
                                <img ng-src="assets/global/img/empresa/{{empresa.empresaFinanceiro.nmFantasia}}.jpg" alt="empresas" style="width: 100%; height: 200px;">
                                <div class="caption">
                                    <h4 tooltip="{{empresa.empresaFinanceiro.nmFantasia}}" 
                                    class="text-center">
                                        {{(empresa.empresaFinanceiro.nmFantasia )}}
                                    </h4>
                                    <p class="text-center">
                                        <a href="javascript:;" class="btn blue" ng-click="goToInadimplentes(empresa.empresaFinanceiro)" >
                                            Inadimplentes 
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>