<style>
    #nmClienteLink {
        text-decoration:underline; 
        color: #0099CC;
    }

    .input-mini {
        width: 180px !important;
    } 

    .timeline.blue-red-red .timeline-content, .timeline.blue-red-red .timeline-icon, .timeline.blue-red-red .timeline-icon.timeline-icon-text span {
        border-color: #1690ed;
    }

    .sectionSerch {
      margin-bottom: 60px;
      padding: 30px;
      background-color: #efefef;
    }

    .sectionSerch:last-child {
      margin-bottom: 0;
    }


</style>

<div class="margin-top-10">
	<div class="portlet light col-md-12">
	     
        <!-- FILTROS -->  
        <br/><br/>  
        <div class="row">
            <div class="col-md-12">
                <!--<div class="col-md-8  text-right" ng-hide="canSearchCliente">

                    <a class="general-link" ng-click="pesquisarPorCliente()" > 
                        Clique aqui para pesquisar por cliente</a>
                </div>
                <!-- BEGIN SEARCH BY CLIENTE -->
                <br/>
                <div class="col-md-8" ng-show="canSearchCliente">
                    <label>Cliente</label>
                    <div class="sectionSerch">                    
                        <ui-select id="uiSelectClienteSearch" ng-model="cliente.selected" 
                         ng-disabled="disabled" reset-search-input="false" 
                         on-select="pesquisarClienteInadimpente($item)" > 
                            <ui-select-match placeholder="Digite um nome...">
                                {{$select.selected.nmCliente}}
                            </ui-select-match> 
                            <ui-select-choices repeat="cliente in clientes track by $index" 
                            refresh="atualizarPesquisaCliente($select.search)"
                            refresh-delay="1000">
                                <div ng-bind-html="cliente.nmCliente | highlight: $select.search">
                                </div>
                                <small> COD: {{cliente.nrCodCliente}} CPF: 
                                    <span ng-bind-html="''+ cliente.nrCPFFormatado | highlight: $select.search"></span> 
                                </small>
                            </ui-select-choices> 
                        </ui-select>                   
                    </div>
                </div>                            
                <!-- END SEARCH BY CLIENTE-->
                <br/>
                <div class="col-md-8 text-right" ng-show="canSearchCliente">
                    <br/>
                    <a class="general-link" ng-click="pesquisarPorCliente()" > 
                        Voltar filtro padr&atilde;o</a>
                </div>
            </div>
        </div>

        <div class="row" ng-show="!canSearchCliente">
            <div class="col-md-12">
                <!-- BEGIN SEARCH BY FORMA PAGAMENTO -->
                <div class="col-md-4">
                    <label>Formas de Pagamento</label>
                    <div class="form-group">
                        <ui-select ng-model="formaPagamentoSelected.formaPagamento" 
                            theme="select2" class="form-control select2me" 
                            on-select="alterarFormaPagtoClientesInadimplentes( $item )" 
                            name="nmFormaPagamento" id="nmFormaPagamento"
                            search-enabled="false"
                            style="min-width: 300px;" > 
                                <ui-select-match placeholder="Selecione a forma de pagamento ">
                                    {{$select.selected.nmFormaPagamento}}
                                </ui-select-match> 
                                <ui-select-choices repeat="item as item in formaPagamentoOptions | filter: $select.search">
                                    <div ng-bind-html="item.nmFormaPagamento | highlight: $select.search"></div>
                                </ui-select-choices> 
                        </ui-select>    
                    </div>
                </div>
                <!-- END SEARCH BY FORMA PAGAMENTO -->
                            
                <!-- fix-->
                <div class="col-md-12" ></div>
                <!-- fix-->

                <!-- OPTIONS filtro DATEPICKER -->
                <div class="col-md-4">

                    <label>Op&ccedil;&otilde;es por data</label><br/>

                     <!-- OPTIONS filtro DATEPICKER -->
                    <div class="col-md-12"  style="margin-left:5px;">
                        <div class="radio-list">
                            <label class="radio-inline" ng-repeat="optionDate in rdOptionsDate">
                                <input type="radio" name="tipoFiltroData" icheck class-radio-icheck="iradio_square-{{objectStyle.color}}"
                                 ng-value="{{optionDate.value}}" ng-model="optionDateSelected.value">{{optionDate.name}}
                            </label>
                        </div>
                    </div>
                    <br/><br/>
                </div>
                <!-- END OPTIONS-->
                
                <!-- OPTIONS filtro VLPICKER -->
                <div class="col-md-8">

                    <label>Valor para cobran&ccedil;a</label><br/>
                    
                    <div class="row">
                     <!-- OPTIONS filtro DATEPICKER -->
                        <div class="col-md-5"  style="margin-left:5px;">
                            <div class="radio-list">
                                <label class="radio-inline" ng-repeat="optionValor in rdOptionsValor">
                                    <input type="radio" name="tipoFiltroValor" icheck class-radio-icheck="iradio_square-{{objectStyle.color}}"
                                     ng-value="{{optionValor.value}}" ng-model="optionValorSelected.value">{{optionValor.name}}
                                </label>
                            </div>
                        </div>

                        <div class="col-md-3" ng-if="optionValorSelected.value != 3" style="margin-right:2%;">                            
                            <input type="number" class="form-control" id="valor" placeholder="Valor R$/%" 
                             ng-model="vlCobranca.value"> 
                        </div>
                    </div>
                    
                    <br/><br/>
                </div>
                <!-- END OPTIONS-->

                <!-- DATEPICKER RANGE -->
                <div class="col-md-8">
                    <div class="form-group" >
                        <input date-range-picker class="form-control date-picker text-center" type="text" ng-model="dataFiltro.date"
                        options="{eventHandlers:{'apply.daterangepicker': pesquisarClientesInadimplentes}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:mostrarCalendario, showCustomRangeLabel:mostrarCustomizado ,timePicker:false, applyClass:btnCalendarApply, cancelClass:btnCalendarCancel}" 
                        placeholder="Selecione a data" />
                    </div>
                </div> 
                <!-- END DATEPICKER RANGE -->
                
                 

                 <!-- fix-->
                <div class="col-md-12" ></div>
                <!-- fix-->                        
            </div>
        </div>
        <!-- END FILTROS -->    

        <!-- BEGIN CLIENTES INADIMPLENTES --> 
        <br/><br/>
        <div class="row">

    		<div class="col-md-12">			

    			<div class="portlet box  {{objectStyle.color}}">
                    
                    <div class="portlet-title">
                        <div class="caption">
                           <i class="fa fa-money"></i>  CLIENTES INADIMPLENTES
                        </div>
                    </div>

                    <div class="portlet-body flip-scroll">
                        
                        <!-- <br/>
                        <div class="text-right" ng-show="exportXLS">
                             <button class="btn green btn-sm " ng-click="pesquisarClientesInadimplentesExport()">
                                <i class="fa fa-download" aria-hidden="true"> Download</i>
                            </button>
                        </div> -->

                        <div ng-show="clientesInadimplentes.length == 0">
                            <em><strong>Sem dados dispon&iacute;veis.</strong></em>
                        </div>
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
                            data-loading>
                            <br/><br/>
                        </div>
                        
                        <div class="row">

                        <div class="col-md-offset-9 col-md-3" style="margin-top:10px;padding-bottom:15px;" ng-show="clientesInadimplentes.length > 0">
                            <div class="text-right">
                            <div><span class="badge badge-warning" ng-show="listCobrancaImpressao.length > 0">Impressão: {{listCobrancaImpressao.length}}</span></div>
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn {{objectStyle.color}} dropdown-toggle"
                                    dropdown-toggle> 
                                        <span class="badge badge-warning" ng-show="totalChecked > 0">{{totalChecked}}  
                                        </span>
                                            Clique para Op&ccedil;&otilde;es
                                        <span class="caret"></span>
                                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-show="optionRunning"></i>
                                    </button>
                                    <ul class="dropdown-menu" dropdown-menu role="menu">
                                        <li ng-show="totalChecked > 0">
                                            <a ng-click="prepararGerarCobrancaAvulsa()">
                                                Gerar Boleto(s)
                                            </a>
                                            <a ng-click="prepararGerarEndereco()">
                                                Gerar Endereço(s)
                                            </a>
                                        </li>
                                        <li class="divider" ng-show="listCobrancaImpressao.length > 0"></li>
                                        <li ng-show="listCobrancaImpressao.length > 0">
                                            <a ng-click="prepararBoletosImpressao()">Reimprimir Boleto</a>
                                        </li>
                                    </ul>
                                </div>  
                            </div>
                        </div> 
                        </div>

                        <table 
                         class="table table-bordered table-striped table-condensed table-hover flip-content" ng-show="clientesInadimplentes.length > 0"
                         cg-busy="[cadastrarClienteRequest]">
                            <thead>
                              <tr>
                                <th class="text-center">*</th>
                                <th class="text-center">
                                    <div tooltip="selecionar todos">
                                        <input type="checkbox" ng-model="selectedAll"
                                    ng-click="checkAll()" >    
                                    </div>
                                    
                                </th>
                                <th class="text-center" >Titular</th>
                                <th class="text-center">CPF</th>
                                <th class="text-center">Contato</th>
                                <th class="text-center">T&iacute;tulos abertos</th>
                                <th class="text-center">Total d&iacute;vida</th>
                                <th class="text-center">Total c/ juros</th>
                              </tr>
                            </thead>
                           
                            <tr dir-paginate-start="item in clientesInadimplentes| itemsPerPage: itemsPerPage" 
                            total-items="total_count" >
                                <td class="text-center">
                                   <a ng-if="item.expanded"  tooltip="Fechar dados"
                                      ng-click="item.expanded = false">
                                      <span class="glyphicon glyphicon-eye-close"></span>
                                   </a>
                                    <a ng-if="!item.expanded" tooltip="Verificar mensalidades"
                                       ng-click="loadMensalidadesCliente(item)">
                                       <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" 
                                    icheck  class-check-icheck="icheckbox_flat-{{objectStyle.color}}" ng-model="item.selected"
                                    ng-change="recalcularTotalChecked(item)" 
                                    ng-disabled="item.linkCobrancaBoleto_sl != null && item.idClienteBoleto_sl != null
                                    && item.idClienteBoleto_sl > 0 && item.linkCobrancaBoleto_sl.length > 0"/>
                                </td>
                                <td>     
                                        <a href="{{item.linkCobrancaBoleto_sl}}" class="general-link" target="_blank" ng-show="item.linkCobrancaBoleto_sl">
                                        {{item.nmCliente}}
                                        </a>
                                        <div ng-hide="item.linkCobrancaBoleto_sl">
                                        {{item.nmCliente}}
                                        </div> 
                                                                        
                                </td>
                                <td class="text-center">
                                    {{item.nrCPF}}
                                </td>
                                <td class="text-center">
                                   <div ng-if="item.nrCelular">{{item.nrCelular}}<br/></div> 
                                   <div ng-if="item.nrTelefone">{{item.nrTelefone}}</div> 
                                </td>
                                <td class="text-center">
                                    <span 
                                      popover="Mensalidades: {{item.qtdeMensalidade}} Despesas: {{item.qtdeDespesa}}" 
                                      popover-trigger="mouseenter"
                                      popover-title="Resumo títulos abertos">
                                      {{item.totalDocumentoAberto}}
                                    </span>
                                </td>
                                <td class="text-center">
                                    {{item.totalDivida | currency:'R$': 2}}
                                </td>
                                <td class="text-center">
                                    {{item.totalDividaComJuros | currency:'R$': 2}}
                                </td>
                            </tr>
                            <tr ng-if="item.expanded" dir-paginate-end="" >
                                <td colspan="10">     
                                    <div class="row" >
                                        <br/>
                                        <div class="col-md-offset-1 col-md-10">
                                            <div >
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                        <th class="text-center">*</th>
                                                        <th>Mensalidade</th>
                                                        <th>Valor Mensalidade</th>
                                                        <th>Vencimento</th>
                                                    </thead>
                                                    <tbody ng-repeat="mensalidade in item.mensalidades">
                                                        <tr>
                                                            
                                                            <td class="text-center">
                                                               <a ng-if="mensalidade.expanded"  tooltip="Fechar dados" 
                                                               
                                                                ng-click="mensalidade.expanded = false">
                                                                <span class="glyphicon glyphicon-eye-close"></span>
                                                               </a>
                                                                <a ng-if="!mensalidade.expanded" tooltip="Verificar Cobranças"
                                                               
                                                                ng-click="loadCobrancasMensalidade(mensalidade)">
                                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                                </a>
                                                            </td>
                                                        
                                                           <td>
                                                               {{mensalidade.nrMensalidade}}
                                                           </td> 
                                                           <td>
                                                               {{mensalidade.vlMensalidadeFormatado}}
                                                           </td> 
                                                           <td>
                                                               {{mensalidade.dtVencimentoFormatado}}
                                                           </td> 
                                                        </tr>
                                                        <tr ng-if="mensalidade.expanded" dir-paginate-end="" >
                                                        <td colspan="6">     
                                                            <div class="row" >
                                                                <br/>
                                                                <div class="col-md-offset-3 col-md-6">
                                                                    <div>
                                                                        <table class="table table-hover">
                                                                            <thead>
                                                                                <th class="text-center">*</th>
                                                                                <th>Geração</th>
                                                                                <th>Vencimento</th>
                                                                                <th>Boleto</th>
                                                                            </thead>
                                                                            <tbody ng-repeat="cobranca in mensalidade.cobrancas">
                                                                                <tr>
                                                                                    <td class="text-center">
                                                                                        <input type="checkbox" 
                                                                                        icheck  class-check-icheck="icheckbox_flat-{{objectStyle.color}}" ng-model="cobranca.selected"
                                                                                        ng-change="addRemoveListCobranca(cobranca)" />
                                                                                    </td>
                                                                                   <td>
                                                                                       {{cobranca.dtInclusaoFormatado}}
                                                                                   </td> 
                                                                                   <td>
                                                                                       {{cobranca.dtVencimentoFormatado}}
                                                                                   </td> 
                                                                                   <td>
                                                                                      <a href="{{cobranca.linkCobrancaBoleto_sl}}" target="_blank" ng-show="cobranca.linkCobrancaBoleto_sl">
                                                                                        <span class="fa fa-barcode" aria-hidden="true"></span>
                                                                                        </a>
                                                                                        <div ng-hide="cobranca.linkCobrancaBoleto_sl">
                                                                                         <span class="fa fa-ban" aria-hidden="true"></span>
                                                                                        </div> 
                                                                                   </td> 
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                         <dir-pagination-controls
                           max-size="8"
                           direction-links="true"
                           boundary-links="true"
                           on-page-change="pesquisarClientesInadimplentes(newPageNumber)" >
                        </dir-pagination-controls>
            		</div>
         		</div>
    		</div>
        </div>
	</div>
</div>