<style>
    .table thead tr th {
        font-size:10px;
        font-weight: 600;
    }
    .body {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 10px;
        direction: ltr;
    }

    .accordion-heading{
        background: white;
    }
    .accordion-toggle::after {
        font-family: 'FontAwesome';
        content: "\f078";    
        float: right;
    } 
    .accordion-opened .accordion-toggle::after {    
        content: "\f054";
    }  
   
</style>

<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center" ng-if="tipoCC == 1">Conta Cont&aacute;bil:  {{nomeDespesa}}</h4>
    <h4 class="modal-title" style="text-align: center" ng-if="tipoCC == 2">Centro Custo:    {{nomeDespesa}}</h4>
</div>
<form>
    <div class="modal-body"  style:"width: 100px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <span><b>Per&iacute;odo:</b> {{mesAnoFormatada}} </span>
                        <br/>
                        <span><b>Status Pagamento: </b>{{formaPag}}</span>
                        <br/>
                    </div>
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                    <h4 style="text-align: right"><b>Total:</b> R$ {{pagamentoTotal}}</h4>
                    <div class="note note-info col-md-6" ng-if="!showTabCC" >
                        <h4 class="block"> Sem dados dispon&iacute;veis</h4>
                    </div>
                    <table class="table table-bordered table-striped table-condensed flip-content"  ng-table="obsTableParams" ng-show="showTabCC"><!--  -->
                        <tbody>
                            <tr ng-repeat-start="item in $data" >
                                <td class="text-center" title="'Detalhes'">
                                    <button ng-if="item.expanded" 
                                        class="btn btn-default btn-xs"
                                        ng-click="item.expanded = false ">
                                        <span class="glyphicon glyphicon-eye-close" ></span>
                                    </button>
                                    <button ng-if="!item.expanded"
                                        class="btn btn-default btn-xs"
                                        ng-click="item.expanded = true;" >
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </td>
                                <td title="'Empresa'" sortable="'nmFantasia'">{{item.nmFantasia}}</td>
                                <td class="text-center" title="'Total'">
                                    <span class="badge badge-danger" style="float:right;" ng-if="$data.length >1">
                                       R$ {{item.totalEmpresaFinal}}
                                    </span>
                                    <span class="badge badge-danger" style="float:right;" ng-if="$data.length == 1">
                                        R$ {{pagamentoTotal}}
                                    </span>
                                </td>
                            </tr>
                            <tr ng-if="item.expanded" ng-repeat-end="">
                                <td colspan="7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-condensed table-hover" >
                                                        <thead>
                                                            <tr>
                                                                <th>Data Pagamento</th>
                                                                <th>Data Vencimento</th>
                                                                <th>Fornecedor</th>
                                                                <th>Descri&ccedil;&atilde;o</th>
                                                                <th ng-if="filtroPag == 1">Forma de Pagamento</th>
                                                                <th>Parcela</th>
                                                                <th>{{nmColPag}}</th>
                                                            </tr>                   
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="tipo in item.despesasResult | orderBy: 'dtFormatadaVenc'" >
                                                                <td class="text-center" ng-if="tipo.dtPagamento != null">{{tipo.dtFormatadaPagamento}}</td> 
                                                                <td class="text-center" ng-if="tipo.dtPagamento == null">Pendente</td>
                                                                <td class="text-center" >{{tipo.dtFormatadaVenc}}</td>
                                                                <td>{{tipo.nomeFornecedor}} </td>
                                                                <td>
                                                                    <p tooltip="{{tipo.nmDespesa}}">
                                                                   {{tipo.nmDespesa.length > 30 ? (tipo.nmDespesa | limitTo: 30) + '...' : tipo.nmDespesa }} </p>
                                                                </td>
                                                                <td ng-if="tipo.inFormaPagamento == 0 && filtroPag == 1"> {{'Cheque'}}</td>
                                                                <td ng-if="tipo.inFormaPagamento == 1 && filtroPag == 1"> {{'Débito'}}</td>
                                                                <td ng-if="tipo.inFormaPagamento == 2 && filtroPag == 1">  {{'Dinheiro'}}</td>
                                                                <td ng-if="tipo.inFormaPagamento == null && filtroPag == 1 "></td>
                                                                <td class="text-center"> 
                                                                    <span class="label label-primary">
                                                                        {{tipo.nrOrdemParcela +'/'+ tipo.nrQuantidadeParcelas}} 
                                                                    </span>
                                                                </td>
                                                                <td style="text-align: right" ng-if="$data.length > 1 || $data.length ==1" >
                                                                    R$ {{tipo.valorAPForm}}
                                                                </td>
                                                            </tr>
                                                        </tbody>            
                                                    </table> 
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="modal-footer">
            <div class="text-right">
                <button class="btn green" ng-click="close()">Fechar</button>
            </div>
         </div> 
    </div>
</form>


<script>
      $(document).on('show','.accordion', function (e) {
         //$('.accordion-heading i').toggleClass(' ');
         $(e.target).prev('.accordion-heading').addClass('accordion-opened');
    });
    
    $(document).on('hide','.accordion', function (e) {
        $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
        //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
    });
</script>
