<style>
	input[type=file] {
    	display: none;
	}
	.table{
		border-collapse: inherit;
	}
	.panel-primary .panel-heading{
		color: #FFFFFF !important;
		background-color: #1BBC9B !important;
	}

	.panel-primary .sistema{
		border-color:  #578ebe !important;
		background-color: #578ebe !important;
	}
/*	.form-control{
		width: 80% !important;
	}*/
	.changeButtonColorBorder .form-control {
		 border: 1px solid #3598DC;
		 width: 80% !important;

	} 
	.button-openModal {
		transition-duration: 0.4s;
	}

	.button-openModal:hover {
	    background-color: #3598DC;
	    color: white;
	}
	.positivo{
		color: #1ad61a !important;
	}
	.tam {
		font-size: 20px !important;
		color: #3333336b;
	}
	.negativo{
		color: red !important;
	}
	.conc-prob{
		background-color: #4e56551f !important;
		color: black;
	}

	.conc-available{
		background-color:#b6fff01f !important;
	}
	.prob{
		pointer-events: none;
	}

	.nav-tabs > li .conc-prob {
		background-color: #4e56551f !important;
		color: black;
	}

</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<!-- BEGIN TITLE -->
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Concilia&ccedil;&otilde;es</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					</div>
					<div class="actions">
						<button type="button" class="btn btn-circle green-meadow" style="width: 100%;" ng-click="goToCadastro(empresaFinanceiro.selected)"> Cadastrar Conta </button>
					</div>
				</div>
				<!-- END TITLE -->
				<div class="portlet-body">
					<!-- BEGIN FILTERS -->
					<div class="row" style="padding-bottom:20px;">
						<div class="col-md-4" >
							<div class="form-group">
								<ui-select id="selEmpresa" name="selEmpresa"
		                     	ng-model="empresaFinanceiro.selected" class="form-control select2me" 
		                     	theme="select2" append-to-body="true" search-enabled="true" 
		                     	on-select="loadContasBancariaDeEmpresaFinanceiro($item)"> 
		                     		<ui-select-match placeholder="Selecione a empresa...">
										{{$select.selected.nmFantasia}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
										<div ng-bind-html="item.nmFantasia | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END EMPRESA FINANCEIRO -->
						<!-- CONTA BANCÁRIA -->
						<div class="col-md-4" >
							<div class="form-group">
								<ui-select id="selContaBancaria" name="selContaBancaria"
		                     	ng-model="contaBancaria.selected" 
		                     	class="form-control select2me" search-enabled="false"
		                     	theme="select2" append-to-body="true"
		                     	on-select="pesquisarConciliacoes(empresaFinanceiro.selected, contaBancaria.selected)"> 
		                     		<ui-select-match placeholder="Selecione a conta bancaria ...">
										{{$select.selected.nmContaBancaria}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in contasBancariaOptions | filter: $select.search">
										<div ng-bind-html="item.nmContaBancaria | highlight: $select.search"></div>
										<small class="label"  
										ng-class="{'label-yellow': item.banco.cdbanco == '001','label-blue': item.banco.cdbanco == '104','label-danger': item.banco.cdbanco == '237','label-default':item.banco == null}"
										ng-bind-html="''+ item.banco.nmBanco | highlight: $select.search"></small><br/>
										<small><b>{{item.nrContaBancaria + '-' +
										item.nrDigitoVerificador + '|' }}</b></small>
										<b><small><span ng-bind-html="''+ item.agencia.nmAgencia | highlight: $select.search"></span></small></b>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						
						<!-- END CONTA BANCÁRIA -->		
					</div>
					<div>
						<button type="button" class=" btn btn-success" ng-click="goToImportarExtrato(empresaFinanceiro.selected, contaBancaria.selected)" ng-disabled="empresaFinanceiro.selected == undefined || contaBancaria.selected == undefined">Importar Extrato</button>
						 <span class="badge badge-warning" ng-show="infoExtrato.data.length > 0" style="float:right">{{infoExtrato.total}} Conciliações Pendentes</span>
					</div>
					<br/><br/><br/>
					<div class="row" ng-show="infoExtrato.data.length == 0">
						<em>Sem dados disponíveis</em>
					</div>
					<div class="row" ng-show="infoExtrato.data.length > 0">
						<div class="col-md-12">
							<div class="col-md-5">
								<div class="panel panel-primary" >
	                                <div class="panel-heading">
	                                    <h3 class="panel-title" style="text-align: center">Lançamentos importados do banco</h3>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-md-2">
	                        </div>
	                        <div class="col-md-5">
								<div class="panel panel-primary" >
	                                <div class="sistema panel-heading" >
	                                    <h3 class="panel-title" style="text-align: center">Lançamentos cadastrados no sistema </h3>
	                                </div>
	                            </div>
	                        </div>
						</div>
						<div class="col-md-12" ng-repeat="doc in infoExtrato.data" ng-disabled="!doc.disabled" >
							<div class="col-md-5"  >
								<div class=" portlet light bordered"  ng-class="{'conc-prob': doc.disabled, 'conc-available': !doc.disabled}">
									<div class="portlet-title">
										<div class="caption font-green-sharp">
										</div>
										<div class="actions" ng-show="!doc.isConciliado">
											<i class="fa fa-eye-slash tam" ng-click="ignorarLancamento(firstLoad, doc)" tooltip="Ignorar" onmouseover="mouseOver()" onmouseout="mouseOut()" id="icon" ></i>
										</div>
									</div>
									<div class="portle-body" >
	                                    	<label class="control-label">
													{{doc.dataFormatada}}</label>

											<label class="control-label" style="float:right" ng-class="{'positivo': !doc.isDebit, 'negativo': doc.isDebit}">R$ {{doc.extValorFormatado}}</label> <!--mudar de cor,receber pagar -->
											<br><br><br>
											<label>
												{{doc.transacaoNome}}
											</label>
											<br><br><br><br>
									</div>
								</div>
							</div>
							<div class="col-md-2" style="text-align: center;" ng-show="!doc.disabled">
								<br/><br/>
								<button type="button" class="btn btn-circle green-meadow" style="width: 60%;" ng-show="!doc.isConciliado" ng-disabled="doc.showTelaNovaBusc || (!doc.showTelaNovaBusc && doc.showTelaDiferenca)" ng-click="modalNrServico(doc)"><!-- ng-click="conciliarDadosBancarios(doc)" --> CONCILIAR </button>
								<button type="button" class="btn btn-circle green-meadow" style="width: 60%;" ng-show="doc.isConciliado" ng-disabled="doc.isConciliado">
									CONCILIADO
								</button>
								<button type="button" class="btn btn-circle" style="width: 60%; color:#ffffff; background-color:#f55c5c " ng-show="doc.isConciliado" ng-click="desconciliarDadosBancarios(doc)">
									DESCONCILIAR
								</button>
							</div>
							<div class="col-md-5" ng-show="!doc.disabled">
								<div class=" portlet light bordered" ng-if="doc.showTelaNovaBusc && !doc.showTelaSujestao">
									<!-- NOVO + BUSCAR LANÇAMENTOS -->
									<div class="portle-body" >
										<tabset>
                                            <tab >
                                                <tab-heading >
                                                    <i class="fa fa-file" aria-hidden="true"></i>
                                                    Novo
                                                </tab-heading> 
                                                <div class="row">
                                                	<div class=" col-md-12">
	                                                	<label class="control-label">
														Descri&ccedil;&atilde;o <span class="required"> * </span>
														</label>
														<input type="text" name="txtDescricao" id="txtDescricao" ng-model="despesaFinanceiro.nmDespesa"  class="form-control" capitalize /> 
													</div>
	                                            </div> 
	                                            <br/>
	                                            <div class="row">
													<div class="col-md-12">
														<label class="control-label">
																Fornecedor
															</label>
														<div class="col-md-11">
															<ui-select id="selFornecedor" name="selFornecedor"
									                     	 ng-model="despesaFinanceiro.fornecedor"  
									                     	 class="form-control input-sm select2me" theme="select2" 
									                     	 append-to-body="true" > 
									                     		<ui-select-match
																placeholder="Selecione...">
																	{{$select.selected.nmNomeFantasia}}
																</ui-select-match> 

																<ui-select-choices repeat="item as item in fornecedorOptions | filter: $select.search">
																	<div ng-bind-html="item.nmNomeFantasia | highlight: $select.search">
																	</div>
																</ui-select-choices> 
															</ui-select>
														</div>
														<br><br>  
								                        <div class="col-md-1" style="float:right">
								                        	<button class="btn-xs" ng-click="goToCadastroContasAPagar(doc, despesaFinanceiro.nmDespesa, despesaFinanceiro.fornecedor)" ><i class="fa fa-ellipsis-h"></i></button>
								                        </div>
                                            		</div>
	                                            </div>  
											</tab>
											<tab ng-click="loadBuscarLancamento(doc)" >
												<tab-heading>
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                    Buscar Lançamentos
                                                </tab-heading>    
											</tab>
										</tabset>
									</div>
								</div>
								<!-- END NOVO + BUSCAR LANÇAMENTOS -->
								<!-- OPÇAO SISTEMA -->
								<div class=" portlet light bordered" ng-repeat="desp in doc.lancamentos track by $index" ng-if="doc.showTelaSugestao && !doc.showTelaNovaBusc">
									<div class="portlet-title">
										<div class="caption font-green-sharp">
										</div>
										<div class="actions" ng-show="!doc.isConciliado">
											<i class="fa fa-times tam" ng-click="close(doc, desp)" onmouseover="mouseOverX()" onmouseout="mouseOutX()" id="x" ></i>
										</div>
									</div>
									<div class="portle-body">
	                                    	<label class="control-label">
													{{desp.dtPagamentoFormatada || desp.dtVencimentoFormatada}}</label>

											<label class="control-label negativo" style="float:right" ng-if="!doc.showValorExtrato">{{doc.valorDespesaFormatado || desp.vlDespesaFormatado}}</label> <!--mudar de cor,receber pagar ng-class="{'active1': loadFilter.selected == filter.status, 'deactive1': loadFilter.selected != filter.status}"-->
											<label class="contral-label negativo" style="float:right" ng-if="doc.showValorExtrato">
											R$ {{doc.valorDespesaExtratoFormatado}}
											<br>
											<strike>{{desp.vlPagoFormatado||desp.vlDespesaFormatado }}</strike>
											</label>
											<br>
											<label>
												<i class="fa fa-tasks"></i>		{{desp.nmDespesa}}
											</label><br>
											<label> <!-- se tiver-->
												<i class="fa fa-user"></i>		{{desp.nmFornecedor || desp.fornecedor.nmNomeFantasia}}
											</label><br>
											<label>
												<i class="fa fa-tag"></i>		{{desp.nmContaContabil || desp.contaContabil.nmContaContabil}}
											</label> 
											<label style="text-indent: 5em;">
												<i class="fa fa-tag"></i>		{{desp.nmCentroCusto || desp.centroCusto.nmCentroCusto}}
											</label>
											<br>
											<label style="color: #3333336b">------------------------------------------------------------------------------------------------------</label>
											<br>
											<label style="color: #333333cf;" >Juros / Multa&nbsp;&nbsp;&nbsp;&nbsp;{{(desp.vlMulta || 0) + (desp.vlJuros || 0) | currency: 'R$ '}}</label>
											<label style="text-indent: 10em; color: #333333cf;">Descontos&nbsp;&nbsp;&nbsp;&nbsp;{{(desp.vlDesconto || 0) | currency: 'R$ '}}</label>
									</div>
								</div>
								<!-- END OPÇAO SISTEMA -->
								<!-- DIFERENÇA -->
								<div class=" portlet light bordered" ng-if="doc.showTelaDiferenca  && !doc.showValorExtrato && doc.inStatus != 1"><!-- -->
 									<div class="portlet-title">
 										<br>
											Diferença <i class="fa fa-exclamation-circle" popover-placement="right"
	                    					popover="'É possível que você tenha pago menos do que previu. Se necessário, busque mais lançamentos para a conta fechar'" popover-trigger="mouseenter"></i> 
										<div class="actions" ng-class="{'positivo': doc.isPositive, 'negativo': !doc.isPositive}" >
											R$ {{doc.valorDiferenca}}
										</div>
									</div>
									<div class="portle-body" style="text-align:center">
										<!-- Example single danger button -->
										<div class="btn-group margin-left">
										  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
										   O que fazer com essa diferença?<span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu">
										    <li><a ng-click="loadBuscarLancamento(doc)">Buscar Lançamentos</a></li>
										    <li><a ng-click="usarValorExtrato(doc)"  ng-if="doc.lancamentos.length == 1" >Usar valor extrato</a></li>
										    <li><a ng-click= "setarTaxaDesconto(doc.lancamentos[0], doc)" ng-if="doc.lancamentos.length == 1">Definir como juros/desconto</a></li>
										    <li ng-repeat="item in doc.lancamentos" ng-if="doc.lancamentos.length > 1">
										    	<a ng-click="setarTaxaDesconto(item, doc)" ng-if="item.inStatus != 1" > <!-- colocar a condicao de desconto -->
										    		Definir desconto {{item.nmDespesa}} 
										    	</a>
										    </li>
										  </ul>
										</div>
									</div>
								</div>
								<!-- END DIFERENÇA -->
							</div>
						</div>
					</div>
				</div>

				<div class="text-center" ng-show="infoExtrato.data.length > 0">
					<pager total-items="totalItems" ng-model="currentPage" previous-text="anterior"
					next-text="próxima" ng-change="pageChanged(currentPage)"
					items-per-page="itemsPerPage"></pager>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function mouseOver() {
    document.getElementById("icon").style.color = "#333333";
}

function mouseOut() {
    document.getElementById("icon").style.color = "#3333336b";
}

function mouseOverX() {
    document.getElementById("x").style.color = "#333333";
}

function mouseOutX() {
    document.getElementById("x").style.color = "#3333336b";
}
</script>
			
			