<div class="margin-top-10">
    <div class="row">
        <div class="col col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row"> <!-- block config -->
                        <div class="col-lg-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Filtro
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                                        <a href="javascript:;" class="fullscreen" data-original-title="" title=""></a>
                                    </div>
                                </div>
                                <div class="portlet-body portlet-collapsed">
                                    <form name="formFilters" ng-submit="applyFilter(this)">
                                        <fieldset>
                                            <legend>
                                                Configurações da pesquisa
                                            </legend>
                                            <div class="col-md-3" style="margin-left:1%">
                    							<div class="form-group">
                    								<label>Período de criação</label>
                    								<div>
                    									<label style="width: 80%">
                    										<input id="calendar" date-range-picker placeholder="Escolha o período" class="form-control date-picker text-center input-xs" type="text" ng-model="filter.interval.date" options="{eventHandlers:{'apply.daterangepicker':buscarDados}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:true, maxDate: maxDate ,showCustomRangeLabel:true ,timePicker:false }">
                    									</label>
                    								</div>
                    							</div>
                    						</div>
                                            <div class="form-group col-md-6 form-md-checkboxes">
                                                <label class="control-label">
                                                    Status
                                                </label>
                                                <div class="md-checkbox-inline">
                                                    <div ng-repeat="status in filter.lStatus track by $index" class="md-checkbox">
                                                        <input ng-model="filter.lStatusSelecteds[$index]" id="{{$index}}" type="checkbox">
                                                        <label for="{{$index}}">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            {{status}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">Conveniada</label>
													<ui-select ng-model="filter.conveniada" theme="select2" class="form-control select2me">
														<ui-select-match placeholder="Selecione...">
															{{$select.selected.nmFantasia || $select.search}}
														</ui-select-match>
														<ui-select-choices repeat="item in (empresasClienteAtivas | filter: { nmFantasia: $select.search }) track by item.id">
															<div ng-bind-html="item.nmFantasia | highlight: $select.search"></div>
														</ui-select-choices>
													</ui-select>
												</div>
											</div>
										</fieldset>
                                        <button type="submit" class="btn btn-primary">
                                            Aplicar filtros
                                        </button>
                                    </form>
                                </div> <!-- class="portlet-body" -->
                            </div> <!-- class="portlet box blue" -->
                        </div> <!-- class="col-lg-8" -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="imageLoading">
                                                <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                                            </div>
                                            <div class="note note-info note1 col-md-6 margin-top-10">
												<h3>Criado - Em aberto, Agendado, Consumido</h3>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Quantidade serviços
                                                            </th>
                                                            <th>
                                                                valor
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="summary in lSummaryServicoByStatusHumanized" ng-class="{'bold': summary.classBold}">
                                                            <td>{{summary.status}}</td>
                                                            <td>{{summary.qdtServico}}</td>
                                                            <td class="text-left">{{summary.custoServicos | currency: 'R$ '}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <hr />
                                            </div>
                                            <div class="note note-info note1 col-md-6 margin-top-10">
												<h3>Todos por Status</h3>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Quantidade serviços
                                                            </th>
                                                            <th>
                                                                valor
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="summary in lSummaryServicoByStatus" ng-class="{'bold': summary.classBold}">
                                                            <td>{{summary.status}}</td>
                                                            <td>{{summary.qdtServico}}</td>
                                                            <td class="text-left">{{summary.custoServicos | currency: 'R$ '}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            &nbsp;
                                                        </th>
                                                        <th>
                                                            Serviço
                                                        </th>
                                                        <th>
                                                            Quantidade
                                                        </th>
                                                        <th>
                                                            Custo
                                                            <span title="Custo por item" class="text-primary">
                                                                &nbsp;<i class="fa fa-info-circle"></i>
                                                            </span>
                                                        </th>
                                                        <th>
                                                            Total
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat-start="summary in lSummaryGuiaServicoByServico track by $index">
                                                        <td>
                                                            <button ng-show="detailServicoShowing != summary.idServico" ng-click="getDetailServico(summary.idServico)" tooltip="Exibir mais detalhes" class="btn btn-xs ng-scope">
                                                                <i class="fa fa-chevron-down fa-lg"></i>
                                                            </button>
                                                            <button ng-show="detailServicoShowing == summary.idServico" ng-click="hideDetailServico(summary.idServico)" tooltip="Exibir menos" class="btn blue btn-xs ng-scope">
                                                                <i class="fa fa-chevron-up fa-lg"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            {{summary.nmServico}}
                                                        </td>
                                                        <td>{{summary.qdtServico}}</td>
                                                        <td>{{summary.custoServico | currency: 'R$ '}}</td>
                                                        <td>{{summary.custoServico * summary.qdtServico | currency: 'R$ '}}</td>
                                                    </tr>
                                                    <tr ng-repeat-end id="trDetailServico{{$index}}" ng-if="detailServicoShowing == summary.idServico">
                                                        <td colspan="5">
                                                            <orders-by-servico filter="filter" id-servico='summary.idServico'></orders-by-servico>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
