<style>
	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini { width: 180px !important;} 

     .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }


    .daterangepicker {
        position: absolute;
        color: inherit;
        background: #fff;
        border-radius: 4px;
        width: 750px;
        padding: 4px;
        margin-top: 1px;
        top: 100px;
        left: 20px;
    /* Calendars */ }

</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Comissão geral funcionários </span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
				</div>

				<div class="portlet-body">
					<!-- BEGIN SEARCH ROW -->
					<div class="row">
						<!-- BEGIN NOTAS OPTIONS -->
						<div class="col-md-3" style="margin-left:1%">
							<div class="form-group">
								<label>Período</label><span class="required"> *</span>
								<div>
									<label style="width: 80%">
										<input id="calendar" date-range-picker placeholder="Escolha o per&iacute;odo" class="form-control date-picker text-center input-xs" type="text" ng-model="datePicker.date"
                                   		options="{eventHandlers:{'apply.daterangepicker':buscarDados}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:true, maxDate: maxDate ,showCustomRangeLabel:true ,timePicker:false }">
									</label>
								</div>
							</div>
						</div>
						<!-- END NOTAS OPTIONS -->	
						<!-- BEGIN SEARCH BY UNIDADE -->
						<div class="col-md-3">
							<div class="form-group">
								<label>Unidade</label><span class="required"> *</span>
								<ui-select name="unidade" id="unidade" ng-model="multipleUnidades.selected" theme="select2" class="form-control select2me" required validation-field-required="true" validation-dynamically-defined="locallyDefinedValidations" on-select="obterEstatisticas($item)">
									<ui-select-match placeholder="Selecione...">
										{{$select.selected.nmUnidade}}
									</ui-select-match>
									<ui-select-choices repeat="item as item in unidadeOptions | filter: $select.search">
										<div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
									</ui-select-choices> 
								</ui-select>
							</div>
						</div>
						<!-- END SEARCH BY UNIDADE -->
					</div>
					<!-- END SEARCH ROW -->
					<!-- BEGIN RESUMO TOTAIS -->
                <div ng-show="showTable == true" class="col-md-offset-8 col-md-4" >  
                 
                        <div class="note note-info">
                                
                          <h4 class="block">Totais</h4> 
                               
                          <table class="table">
                            <tbody>
							<tr>
								<td>Contratos</td>
								<td>{{somaCont}}</td>
                            </tr>
                            <tr>
								<td>Venda</td>
								<td>
								{{somaVenda | currency: 'R$ '}}
								</td>
							</tr>
							<tr>
								<td>Comissão</td>
								<td>{{somaComissao | currency: 'R$ '}}</td>
                            </tr>
                            </tbody>	
                          </table>
                        </div>
                </div>
                <!-- END RESUMO TOTAIS -->

		<!-- BEGIN DADOS OBTIDOS --> 
        <br />
        <div class="row" >
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Produção por unidade
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
                        <br/> 
                        <em ng-show="showTable == false">Sem dados disponíveis</em>             
                        <table ng-show="showTable == true" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" show-filter="true">
								<tr ng-repeat="tipo in $data">
								<td title="'Funcionário'" class="text-center" filter="{ 'nmfuncionario': 'text' }">
									{{tipo.nmfuncionario}}
								</td>
								<td title="'Quantidade contratos'" class="text-center">
									{{tipo.quantcontratos}}
								</td>
								<td title="'Total venda'" class="text-center">
									{{tipo.totalvenda | currency: 'R$ '}}
								</td>
								<td title="'Total comissão'" class="text-center">
									{{tipo.totalcomissao | currency: 'R$ '}}
								</td>
							</tr>
                        </table>
					</br>
				</div>
			</div></br></br>
		</div>
	</div>
</div>