<style>
	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini { width: 180px !important;} 

     .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }


    .daterangepicker {
        position: absolute;
        color: inherit;
        background: #fff;
        border-radius: 4px;
        width: 750px;
        padding: 4px;
        margin-top: 1px;
        top: 100px;
        left: 20px;
    /* Calendars */ }

</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Comissão Funcionário</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
				</div>

				<div class="portlet-body">
					<!-- BEGIN SEARCH ROW -->
					<div class="row">
						<!-- BEGIN NOTAS OPTIONS -->
						<div class="col-sm-7 col-md-4 col-lg-4" style="margin-left:1%">
							<div class="form-group">
								<label>
									Período
								</label>
								<div>
									<label style="width: 50%">
										<input id="calendar" date-range-picker placeholder="Escolha o per&iacute;odo" class="form-control date-picker text-center input-xs" type="text" ng-model="datePicker.date"
                                   		options="{eventHandlers:{'apply.daterangepicker':buscarDados}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:true, maxDate: maxDate ,showCustomRangeLabel:true ,timePicker:false }">
									</label>
								</div>
							</div>
						</div>
						<!-- END NOTAS OPTIONS -->	
					</div>
					<!-- END SEARCH ROW -->
					<!-- BEGIN RESUMO TOTAIS -->
                <div ng-show="showTable == true" class="col-md-offset-8 col-md-4" >  
                 
                        <div class="note note-info">
                                
                          <h4 class="block">Totais</h4> 
                               
                          <table class="table">
                            <tbody>
                              <tr>
								<tr>
									<td>Venda</td>
									<td>
									{{somaVenda | currency: 'R$ '}}
									</td>
								</tr>
									<td>Comissão</td>
									<td>{{somaComissao | currency: 'R$ '}}</td>
                              </tr>
                            </tbody>	
                          </table>
                        </div>
                </div>
                <!-- END RESUMO TOTAIS -->

		<!-- BEGIN DADOS OBTIDOS --> 
        <br />
        <div class="row">
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Produção
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
						<legend>
							<h4 style="text-transform:uppercase">
								<strong>{{userName}}</strong>
							</h4>
						</legend>
                        <br/> 
                        <em ng-show="showTable == false">Sem dados disponíveis</em>             
                        <table  ng-show="showTable == true" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams">
                            <thead class="flip-content">
                                <tr>
                                    <th class="text-center"> Cliente </th>
									<th class="text-center"> Data </th>
                                    <th class="text-center"> Contrato </th>
                                    <th class="text-center"> Total plano </th>
                                    <th class="text-center"> Comissão </th>
                                    <th class="text-center"> Situação </th>
                                </tr>
                            </thead>
                            <tbody>
								<tr ng-repeat = "item in $data" >
									<td class="text-center">{{item.nmcliente}}</td>
									<td class="text-center">{{item.dtContratoFormatado}}</td>
									<td class="text-center">{{item.nrcontrato}}</td>
									<td class="text-center">{{item.vlVendaFormatado}}</td>
									<td class="text-center">{{item.vlProducaoFormatado}}</td>
									<td class="text-center">
										<div ng-show="item.vlProducaoFormatado == null" class="label label-xs label-warning">
											PENDENTE 
										</div>
										<div ng-show="item.vlProducaoFormatado != null" class="label label-xs label-success">
											APROVADO
										</div>
									</td>
								</tr>
                            </tbody>
                        </table>
					</br>
				</div>
			</div></br></br>
		</div>
	</div>
</div>