<style>
	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini { width: 180px !important;} 

     .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }


    .daterangepicker {
        position: absolute;
        color: inherit;
        background: #fff;
        border-radius: 4px;
        width: 750px;
        padding: 4px;
        margin-top: 1px;
        top: 100px;
        left: 20px;
    /* Calendars */ }

	.modal-header-primary {
		color:#010407;
		padding:9px 10px;
		border-bottom:1px solid #99ccff;
		background-color: #578ebe;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.modal-footer-primary {
		padding: 10px;
		text-align: right;
		border-top: 1px solid #a3a3c2;
	}

</style>


<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Controle de Portaria</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
				</div>

				<div class="portlet-body flip-scroll">
					<!--BEGIN SEARCH ROW-->
					<div class="row">
						<!-- BEGIN SEARCH BY UNIDADE -->
						<div class="col-sm-6 col-md-3 col-lg-3">
							<div class="form-group">
								<label>Unidade 
									<span class="required" style="color:red"> *</span>
								</label>
								<ui-select name="unidade" id="unidade" ng-model="multipleUnidades.selected" theme="select2" class="form-control select2me" required validation-field-required="true" validation-dynamically-defined="locallyDefinedValidations" on-select="obterEstatisticas($item)">
									<ui-select-match placeholder="Selecione...">
										{{$select.selected.nmUnidade}}
									</ui-select-match>
									<ui-select-choices repeat="item as item in unidadeOptions | filter: $select.search">
										<div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
									</ui-select-choices> 
								</ui-select>
							</div>
						</div> <!-- END SEARCH BY UNIDADE-->
						<!-- BEGIN NOTAS OPTIONS -->
						<div class="col-sm-7 col-md-4 col-lg-4" style="margin-left:1%">
							<div class="form-group">
								<label>
									Período
									<span class="required" style="color:red"> *</span>
								</label>
								<div>
									<label style="width: 50%">
										<input id="calendar" date-range-picker placeholder="Escolha o per&iacute;odo" class="form-control date-picker text-center input-xs" type="text" ng-model="dataFiltro.date"
                                   		options="{eventHandlers:{'apply.daterangepicker':loadAllProfissional}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:true, maxDate: maxDate ,showCustomRangeLabel:true ,timePicker:false }">
									</label>
								</div>
							</div>
						</div>
						<!-- END NOTAS OPTIONS -->
						<!--BEGIN SEARCH BY TIPO PROFISSIONAL-->
						<div class="col-sm-6 col-md-4 col-lg-4">
							<div class="form-group">
								<label>Tipo Profissional</label>

								<ui-select  ng-model="multipleProfissional.selected" theme="select2" class="form-control select2me" on-select="loadAllProfissional()">
									<ui-select-match placeholder="Selecione...">
										{{$select.selected.description}}
									</ui-select-match>
									<ui-select-choices repeat="grupo as grupo in grupoFuncionario | filter: $select.search">
										<div ng-bind-html="grupo.description | highlight: $select.search"></div>
									</ui-select-choices> 
								</ui-select>
							</div>
						</div>
						<!--END SEARCH BY TIPO PROFISSIONAL-->
					</div> <!-- END SEARCH ROW-->
					<div class="row">
						<div class="col-md-6" ng-show="showTable==false" style="margin-left:10px;">
							<br/>
							<div class="note note-info">
								<h4 class="block"> Sem dados dispon&iacute;veis</h4>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<!-- BEGIN NOVO REGISTRO-->
				<div class="row">
					<div class="col col-md-12">
						<div class="pull-left" >
							<div class="form-group">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRegistro" ng-click="maskHorario()">Novo Registro</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title" style="text-align:center;">Dados do Registro</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="form-group">
										<div class="col-md-8">
											<label class="control-label">
												Unidade<span class="required">*</span>
											</label>
											<ui-select id="nmUnidade" ng-model="escolhaUnidade.unidade.id"
												theme="select2" class="form-control select2me" on-select="loadProfissional($item, true)" name="nmUnidade" search-enabled="false">
												<ui-select-match placeholder="Selecione...">{{$select.selected.nmUnidade}}</ui-select-match>
												<ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
													<div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
												</ui-select-choices>
											</ui-select>
											<br/> <br/>
											<label class="control-label">
												Profissional <span class="required">*</span>
											</label>
											<ui-select id="nmFuncionario" ng-model="escolhaUnidade.profissional.id" theme="select2" class="form-control select2me" 
													name="nmFuncionario">
												<ui-select-match
													placeholder="Selecione...">{{$select.selected.nmFuncionario}}
												</ui-select-match>
												<ui-select-choices repeat="item.id as item in profissionaisOptions | filter: $select.search">
													<div ng-bind-html="item.nmFuncionario | highlight: $select.search">
													</div>
												</ui-select-choices> 
											</ui-select>
											<br/> <br/>
											<label class="control-label" for="date">
												Data<span class="required">*</span>
											</label><br/>
											<input type="text" class="date" name="dtRegistro" clean="true" ng-model="novoRegistro.dtRegistro" placeholder="DD/MM/YYYY" onkeyup="
												var dtRegistro = this.value;
												if (dtRegistro.match(/^\d{2}$/) !== null) {
													this.value = dtRegistro + '/';
												 } else if (dtRegistro.match(/^\d{2}\/\d{2}$/) !== null) {
													this.value = dtRegistro + '/';
												 }" maxlength="10" required /> 
											
											<br/> <br/>
										</div>
										<div class="col-md-12">
											<table class="table table-stripped table-bordered" id="tab_logic">
												<thead>
													<tr>
														<th style="width: 10%; text-align: center;" > Entrada
															<span class="required" style="color: red">*</span>
														</th>
														<th style="width: 10%; text-align: center;"> Sa&iacute;da
															<span class="required" style="color: red">*</span>
														</th>
														<th style="width: 5%"></th>
													</tr>
												</thead>
												<tbody >
													<tr id='adrr0' ng-repeat="horario in novoRegistro.listaHorarios track by $index">
														<td style="text-align: center;">
															<input class="time" class="form-control"  ng-model="horario.horaEntrada" required/>
														</td>
														<td style="text-align: center;">
															<input class="time" class="form-control" ng-model="horario.horaSaida" required/>
														</td>
														<td class="text-center">
															<a  class="btn btn-default btn-xs;" style="color: red" ng-click="deleteLinhaRegistro(novoRegistro, $index)">X</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-md-12">
												<a class="btn btn-default btn-xs" ng-click="maskHorario(); addLinhaRegistro(novoRegistro)"> Add Linha</a>
										</div>
									</div>
								</div>
							</div>
							<br/><br/>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelarNovoRegistro(novoRegistro, escolhaUnidade.profissional.id, escolhaUnidade.unidade.id)">Cancelar</button>
								<button type="button" class="btn btn-primary" ng-click="salvarNovoRegistro(novoRegistro, escolhaUnidade.profissional.id, escolhaUnidade.unidade.id)">Salvar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- END NOVO REGISTRO-->
				<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				<!--BEGIN RESULTS ROW-->
				<div class="row"> &nbsp;
						<table class = "table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" show-filter="true" ng-show="showTable">
							<tr ng-repeat-start="tipo in $data"> 
								<td title="'Detalhes'" style="width:20%" class="text-center">
									<button ng-show="tipo.expanded==false" ng-if="tipo.expanded" tooltip="Fechar"
										class="btn btn-default btn-xs" ng-hide="tipo.expanded==true"
										ng-click="tipo.expanded = false">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									<button ng-show="tipo.expanded==false" ng-if="!tipo.expanded" tooltip="Visualizar Detalhes"
										class="btn btn-default btn-xs" ng-hide="tipo.expanded == true"
										ng-click="tipo.expanded = true; carregarPontosFuncionario(tipo)">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									<button ng-show="tipo.expanded==true" ng-if="tipo.expanded" tooltip="Fechar"
										class="btn blue btn-xs" ng-click="tipo.expanded=false">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									<button ng-show="tipo.expanded==true" ng-if="!tipo.expanded" tooltip="Visualizar Detalhes"
										class="btn blue btn-xs"
										ng-click="tipo.expanded=true;carregarPontosFuncionario(tipo)">
										<span class="glyphicon glyphicon-chevron-down"></span> 
									</button>
								</td>
								<td title="'Funcionário'" class="text-left" filter="{'nmFuncionario': 'text' }">
									<span ng-show="tipo.expanded==false" ng-hide="tipo.expanded==true">
										{{tipo.nmFuncionario}}
									</span>
									<span ng-show="tipo.expanded==true" style="font-weight: bold; font-size: 14px">
										{{tipo.nmFuncionario}}
									</span>
								</td>
								<!-- <td title="'Total Carga Horária'" class="text-center" >

								</td> -->
							</tr>
							<tr ng-if="tipo.expanded" ng-repeat-end="">
								<td colspan="7" style="background-color: whitesmoke">
									<div class="row">
										<div class="col-md-12">
											<tabset>
												<tab ng-click="returnRegistro(tipo)">
													<tab-heading>
														<i class="fa fa-file-text" aria-hidden="true"></i>
															Registro de Ponto
														<!-- <div class="text-right" ng-show="showTable"> -->
															<button ng-show="showTable" class="btn btn-primary" ng-click="gerarPdf()">
																<i class="fa fa-print" aria-hidden="true"></i>
															</button>
															<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
														<!-- </div>&nbsp; -->
													</tab-heading>
													<div class="row">
														<div class="col-md-12">
															<table ng-show="showEmpty==false" class="table table-stripped table-bordered table-condensed table-hover" ng-table="tipo.tableParams" show-filter="true" >
																<tr ng-repeat="tipo in tipo.listaPonto" >
																	<td style="width: 25%" title="'Editar'" class="text-center">
																		<button class="btn btn-circle btn-icon-only; color: red" ng-if="tipo.isEditing" ng-click="cancel(tipo);tipo.isEditing=false" tooltip="Cancelar">
																			<i class="fa fa-times"></i>
																		</button>
																		<button class="btn btn-circle btn-icon-only; color: green" ng-if="tipo.isEditing" ng-click="tipo.isEditing=false;updateRegistro(tipo)" tooltip="Atualizar" >
																			<i class="fa fa-check" ></i>
																		</button>

																		<button ng-show="tipo.expanded == false" ng-hide="tipo.expanded == true "  ng-if="tipo.expanded" tooltip="Fechar"
																			class="btn btn-default btn-xs"
																			ng-click="tipo.expanded = false">
																			<span class="fa fa-pencil-square-o"></span>
																		</button>
																		<button ng-show="tipo.expanded == false " ng-hide="tipo.expanded == true"  ng-if="!tipo.expanded && !tipo.isEditing"  tooltip="Editar"
																			class="btn btn-default btn-xs"
																			ng-click="tipo.expanded = true; maskHorario(); editarRegistro(item, tipo) "
																			>
																			<span class="fa fa-pencil-square-o"></span>
																		</button>
																		
																		<button ng-show="tipo.expanded == true " ng-if="tipo.expanded" tooltip="Fechar"
																			class="btn blue btn-xs"
																			ng-click="tipo.expanded = false">
																			<span class="fa fa-pencil-square-o"></span>
																		</button>
																		<button ng-show="tipo.expanded == true" ng-if="!tipo.expanded && !tipo.isEditing" tooltip="Editar"
																			class="btn blue btn-xs" 
																			ng-click="tipo.expanded = true; editarRegistro(item,tipo) ">
																			<span class="fa fa-pencil-square-o"></span>
																		</button> 
																	</td>
																	<td title="'Data'" class="text-center" filter="{ 'dtRegistro': 'text' }">
																		{{tipo.dtFormatada}}
																	</td>
																	<td title="'Entrada'" class="text-center " >
																		<span ng-if="!tipo.isEditing"> {{tipo.listRegistros[0].hrRegistro}}</span>
																		<input class="time"  maxlength="8" ng-if="tipo.isEditing" ng-model="tipo.listRegistros[0].hrRegistro"  required />
																		<input ng-if="tipo.isEditing" ng-model="tipo.listRegistros[0].nmJustificativa" placeholder="Justificativa...."/>
																		<div ng-if="!tipo.isEditing && tipo.listRegistros[0].nmJustificativa.length > 0">
																		<!-- Trigger the modal with a button -->
																			<button type="button" class="icon-pencil" data-toggle="modal" data-target="#myModal" tooltip="justificativa"></button>
																		<!-- Modal -->
																			<div class="modal fade" id="myModal" role="dialog">
																				<div class="modal-dialog modal-sm">
																					<div class="modal-content">
																						<div class="modal-header-primary">
																							<button type="button" class="close" data-dismiss="modal">&times;</button>
																							<h4 class="modal-title">Justificativa</h4>
																						</div>
																						<div class="modal-body" >
																							<p>{{tipo.listRegistros[0].nmJustificativa}}</p>
																						</div>
																					
																						<div class=" modal-footer-primary">
																							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>																
																	</td>
																	<td title="'Saída'" class="text-center" >
																		<span ng-if="!tipo.isEditing"> {{tipo.listRegistros[1].hrRegistro}}</span>
																		<input class="time" ng-if="tipo.isEditing" ng-model="tipo.listRegistros[1].hrRegistro"  required/>
																		<input ng-if="tipo.isEditing" ng-model="tipo.listRegistros[1].nmJustificativa" placeholder="Justificativa...."/>
																		<div ng-if="!tipo.isEditing && tipo.listRegistros[1].nmJustificativa.length > 0">
																		<!-- Trigger the modal with a button -->
																			<button type="button" class="icon-pencil " data-toggle="modal" data-target="#myModal1" tooltip="justificativa"></button>
																		<!-- Modal -->
																			<div class="modal" id="myModal1" >
																				<div class="modal-dialog modal-sm">
																					<div class="modal-content">
																						<div class="modal-header-primary">
																							<button type="button" class="close" data-dismiss="modal">&times;</button>
																							<h4 class="modal-title">Justificativa</h4>
																						</div>
																						<div class ="modal-body">
																							<h4>{{tipo.listRegistros[1].nmJustificativa}}</h4>
																						</div>
																						<div class="modal-footer-primary">
																							<button type="button" class="btn  btn-default" data-dismiss="modal">Fechar</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>	
																
																	</td>
																	<td title="'Entrada'" class="text-center" >
																		<span ng-if="!tipo.isEditing"> {{tipo.listRegistros[2].hrRegistro}}</span>
																		<input  class="time" ng-if="tipo.isEditing" ng-model="tipo.listRegistros[2].hrRegistro" />
																		<input ng-if="tipo.isEditing" ng-model="tipo.listRegistros[2].nmJustificativa" placeholder="Justificativa...."/>
																		<div ng-if="!tipo.isEditing && tipo.listRegistros[2].nmJustificativa.length > 0">
																		<!-- Trigger the modal with a button -->
																			<button type="button" class="icon-pencil" data-toggle="modal" data-target="#myModal2" tooltip="justificativa"></button>
																		<!-- Modal -->
																			<div class="modal fade" id="myModal2" role="dialog">
																				<div class="modal-dialog modal-sm">
																					<div class="modal-content">
																						<div class="modal-header-primary">
																							<button type="button" class="close" data-dismiss="modal">&times;</button>
																							<h4 class="modal-title">Justificativa</h4>
																						</div>
																						<div class="modal-body">
																							<h4>{{tipo.listRegistros[2].nmJustificativa}}</h4>
																						</div>
																						<div class="modal-footer-primary">
																							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>	
																	</td>
																	<td title="'Saída'" class="text-center" ng-app="myApp" >
																		<span ng-if="!tipo.isEditing "> {{tipo.listRegistros[3].hrRegistro}}</span>
																		<input  class="time" ng-if="tipo.isEditing" ng-model="tipo.listRegistros[3].hrRegistro"  />
																		<input ng-if="tipo.isEditing" ng-model="tipo.listRegistros[3].nmJustificativa" placeholder="Justificativa...."/>
																		<div ng-if="!tipo.isEditing && tipo.listRegistros[3].nmJustificativa.length > 0">
																		<!-- Trigger the modal with a button -->
																			<button type="button" class="icon-pencil" data-toggle="modal" data-target="#myModal3" tooltip="justificativa"></button>
																		<!-- Modal -->
																			<div class="modal fade" id="myModal3" role="dialog">
																				<div class="modal-dialog modal-sm">
																					<div class="modal-content">
																						<div class="modal-header-primary">
																							<button type="button" class="close" data-dismiss="modal">&times;</button>
																							<h4 class="modal-title">Justificativa</h4>
																						</div>
																						<div class="modal-body" >
																							<h4>
																								{{tipo.listRegistros[3].nmJustificativa}}
																							</h4>
																						</div>	
																					
																						<div class="modal-footer-primary">
																							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>	
																	</td>
																	<td title="'Carga Horária'" class="text-center">
																		<b>{{getDiariaFormatada(tipo.listRegistros)}}</b>
																	</td> 
																</tr>
																<tr>
																	<td class="text-center" id="total"> <b>Total</b> </td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																	<td class="text-center">
																		<b>
																			{{getTotalHorasForm(tipo)}}
																		</b>
																	</td>
																</tr>
															</table>
															<strong ng-show="showEmpty == true"></br>Sem dados disponíveis </br></br></br></strong>
														</div>
													</div>
												</tab>
												<tab ng-click="maskHorario()"> 
													<tab-heading style="color: blue">
														<i class="fa fa-plus" aria-hidden="true"></i>
														Novo Registro
													</tab-heading>
													<div class="row">
														<div class="col-md-6">
															<form id="registroForm" name="registroForm"> 
																<fieldset style="background-color: whitesmoke">
																	<legend class="text-left" style="font-size: 16px; font-weight: bold">
																		Dados do Registro
																	</legend>
																	<div class="form-group">
																		<div class="col-md-12">
																			<label style="font-weight: bold">Profissional: {{tipo.nmFuncionario}}</label>
																		</div>
																		<br/>
																		<div class="col-md-12">
																			<div style="width: 30%">
																				<label class="control-label">Data<span class="required"> * </span></label> 
																				<input type="text" name="dtRegistro" placeholder="DD/MM/YYYY" clean="true" ng-model="tipo.novoRegistro.dtRegistro" onkeyup="
																				var dtRegistro = this.value;
																				if (dtRegistro.match(/^\d{2}$/) !== null) {
																					this.value = dtRegistro + '/';
																				 } else if (dtRegistro.match(/^\d{2}\/\d{2}$/) !== null) {
																					this.value = dtRegistro + '/';
																				 }" maxlength="10" required /> 
																			</div>
																			<br/>
																		</div>
																		<div class="col-md-12">
																			<table class="table table-stripped table-bordered" id="tab_logic">
																				<thead>
																					<tr class="text-center;">
																						<th style="width: 10%"> Entrada
																							<span class="required" style="color: red">*</span>
																						</th>
																						<th style="width: 10%"> Sa&iacute;da
																							<span class="required" style="color: red">*</span>
																						</th>
																						<th style="width: 5%"></th>
																					</tr>
																				</thead>
																				<tbody >
																					<tr id='adrr0' ng-repeat="horario in tipo.novoRegistro.listaHorarios track by $index">
																						<td>
																							<input class="time" class="form-control"  ng-model="horario.horaEntrada" required/>
																						</td>
																						<td>
																							<input class="time" class="form-control" ng-model="horario.horaSaida" required/>
																						</td>
																						<td class="text-center" >
																							<a class="btn btn-default btn-xs;" style="color: red" ng-click="deleteLinhaRegistro(tipo.novoRegistro, $index)">X</a>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																		<div class="col-md-12">
																				<a class="btn btn-default btn-xs" ng-click="maskHorario(); addLinhaRegistro(tipo.novoRegistro, tipo.idFuncionario, multipleUnidades.selected.id)"> Add Linha</a>
																		</div>
																	</div>
																</fieldset>
																<div class="text-center">
																	<input type="submit" id="submit" class="btn blue" value="Salvar" ng-click="salvarNovoRegistro(tipo.novoRegistro, tipo.idFuncionario, multipleUnidades.selected.id)" /> &nbsp;
																</div>
															</form>
														</div>
													</div>
												</tab>
											</tabset>
										</div>
									</div>
								</td>
							</tr>
						</table>
				</div> <!-- END RESULTS ROW-->
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>