<div class="modal-content print-content">
	<div class="row">
		<div class="modal-header text-center">
		    <h2>Histórico de pagamento</h2>
		</div>
		<div class="modal-body col-md-12">
		    <div class="modal-body ">
		        <div class="col-md-12">
		            <div class="row">
		                <div class="col-md-12">
		                    <div id="imageLoading">
		                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
		                    </div>
							<div class="row">
		                    	<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>
												</th>
												<th title="Quantidade">
													Qtd
												</th>
												<th>
													grupo
												</th>
												<th>
													Total
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat-start="item in lBilling">
			                                    <td class="text-center" title="''">
													<button ng-if="!item.expanded" class="btn btn-default btn-xs" ng-click="item.expanded = true;">
														<span class="fa fa-chevron-down"></span>
													</button>
			                                       	<button ng-if="item.expanded" class="btn btn-default btn-xs" ng-click="item.expanded = false">
														<span class="fa fa-chevron-up"></span>
			                                       	</button>
			                                    </td>
												<td>{{item.list.length}}</td>
												<td>{{item.label}}</td>
												<td>{{item.total.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}</td>
											</tr>
											<tr ng-repeat-end  ng-show="item.expanded">
												<td colspan="4">
												    <table class="table table-striped table-bordered table-hover">
												        <thead>
												            <th>
												                Tipo
												            </th>
												            <th>
												                Nᵒ Documento
												            </th>
												            <th title="Data de vencimento">
												                Vencimento
												            </th>
												            <th title="Data de pagamento">
												                Pagamento
												            </th>
												            <th>
												                Situação
												            </th>
												            <th>
												                Valor
												            </th>
												            <th>
												                Valor Pago
												            </th>
												        </thead>
												        <tbody ng-repeat="item2 in item.list">
												            <td>
												                {{item2.inTipo}}
																<span title="{{item2.inTipoTitle}}" class="text-primary hidden-print">
	                                                                &nbsp;<i class="fa fa-info-circle"></i>
	                                                            </span>
												            </td>
												            <td>
												                {{item2.nrDocumento}}
												            </td>
												            <td>
												                {{item2.dtVencimento}}
												            </td>
												            <td>
												                {{item2.dtPagamento}}
												            </td>
												            <td>
												                {{item2.nmSituacao}}
												            </td>
												            <td>
												                {{item2.vlTotal.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}
												            </td>
												            <td>
																{{item2.vlPago.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}
												            </td>
												        </tbody>
												    </table>
												</td>
											</tr>
										</tbody>
									</table>
		                    	</div>
							</div>
		                </div>
		            </div>
		        </div>
		        <br/>
		        <div class="modal-footer">
		            <div class="text-right">
		                <button class="btn green" ng-click="cancel()">
							<i class="fa fa-times" aria-hidden="true"></i>
							Fechar
						</button>
		            </div>
		         </div>
		    </div>
		</div>
	</div>
</div>
