<style type="text/css">
	.detail {
		font-size: 14px !important;
	}

	.clickable:hover {
		cursor: pointer;
	}

	.title {
		color: #3598DC;
		text-decoration: underline;
	}

	.modal-header {
		font-size: 22px !important;
	}

	.modal-dialog {
		margin-top: -30px;
	}

	.modal-body {
		height: 370px;
		overflow-y: auto;
	}

	.error-modal-alert {
		font-size: 15px !important;
		text-align: center;
	}

	.wrapper {
		display: inline-flex;
	}

	.wrapper .icon {
		padding-right: 5px;
	}
	.wrapper .wrap-text {
		word-wrap: break-word;
	}

	.collapse {
		width: inherit;
		padding-top: 5px;
	}
</style>
<div class="modal-header bg-blue bg-font-blue">
	Avalia&ccedil;&otilde;es para {{nameFuncionario}}
</div>
<div class="modal-body">
	<div class="row">
		<div class="col col-md-12">
			<div class="table-responsive" ng-if="avaliacoesList">
				<table ng-table="tableParams" show-filter="false" class="table table-striped table-bordered table-condensed table-hover" id="tableAvaliacoes">
					<thead>
						<tr>
							<th>Autor</th>
							<th>Resposta</th>
							<th>Data</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="avaliacao in $data">
							<td>
								<a class="title" ng-click="showClienteData(avaliacao)" title="visualizar dados do cliente">
									{{simplifyName(avaliacao.nmCliente)}} - Cod.: {{avaliacao.nrCodCliente}} {{avaliacao.isDependente ? '[Dependente]' : ''}}
								</a>
							</td>
							<td data-toggle="{{avaliacao.listaResposta.length > 1 ? 'collapse' : ''}}" data-target="#details-{{$index}}" ng-class="{'clickable': (avaliacao.listaResposta.length > 1)}">
								{{avaliacao.resposta}}

								<a class="pull-right"  ng-if="avaliacao.listaResposta.length > 1">
									<i class="fa fa-caret-down" aria-hidden="true" style="font-size: 15px;"></i>
								</a>
								<div ng-attr-id="details-{{$index}}" class="collapse">
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="resposta in avaliacao.listaResposta track by $index">
											<div class="wrapper">
												<div class="icon">
													<i class="fa fa-envelope-open" aria-hidden="true"></i>
												</div>
												<div class="wrap-text">{{resposta}}</div>
											</div>
										</li>
									</ul>
								</div>
							</td>
							<td>{{avaliacao.dtAgendamento}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="alert alert-danger error-modal-alert" ng-if="(!avaliacoesList && hasError) && !isProcessing">
				<strong>Não foi possível carregar mensagens de resposta</strong>
				<br/>
				<br/>
				<button class="btn default" ng-click="loadAvaliacoesSms()">
					<i class="fa fa-refresh" aria-hidden="true" style="font-size: 15px;"></i>
					Clique aqui para tentar novamente
				</button>
			</div>

			<div class="alert alert-info" ng-if="isProcessing">
				<strong>Aguarde</strong>
				<br/>
				Carregando mensagens...
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn green" ng-click="close()" ng-disabled="isProcessing">Ok</button>
</div>
