<style>
	.note.note-info {
	    background-color: #f5f8fd;
	    border-color: #8bb4e7;
	    color: #010407;
	}

	.note.note-danger {
	    background-color: #fefefe;
	    border-color: #f02651;
	    color: #010407;
	}

	.note {
	    margin: 0 0 20px;
	    padding: 15px 30px 15px 15px;
	    border-left: 5px solid #eee;
	    border-radius: 0 4px 4px 0;
	}

	.input-mini {
    width: 180px !important;
	} 

	.badge-info {
    	background-color: #0f83e2;
    	background-image: none;
	}
    
    .popover{
        font-size: 11px;
        width: 300px;
    }

</style>

<div  class="margin-top-10">
<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Investimento Corpo Cl&iacute;nico</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>

			<div class="portlet-body">
				<!-- SEARCH OPTIONS  -->
				<div class="row">
					<div class="col-md-12">

							<!-- OPTIONS FILTER -->
							<div class="col-md-8" style="margin-bottom:15px;">
								<div>
			                        <div class="radio-list">
			                            <label class="radio-inline" ng-repeat="option in tipoInvestimentoOptions">
			                                <input type="radio" name="tipoFiltroInvestimento" icheck class-radio-icheck="iradio_square-blue"
			                                 ng-value="{{option.value}}" ng-model="optionTipoInvestimento.value"
			                                 ng-change="nothing()"> {{option.name}}
			                            </label>
			                        </div>
			                    </div>
							</div>
							<div class="col-md-12"></div>
							<!-- END OPTIONS FILTER -->
					 	
							<!-- DATEPICKER RANGE -->
					 		<div class="col-md-4" >
					 			<label>Periodo</label>
								<div class="form-group" >
									<input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
									options="{eventHandlers:{'apply.daterangepicker': atualizarResultados}, locale:localeDateRangePicker, ranges: rangesDateRangePicker, maxDate: maxDate ,alwaysShowCalendars:true, timePicker:false }" 
									placeholder="Selecione a data" />
								</div>		
					 		</div>
					 		<!-- END DATEPICKER RANGE -->

							<div class="col-md-12"></div>

					 		<!-- BEGIN SEARCH BY ESPECIALIDADE -->
					 		<div class="col-md-4" ng-show="optionTipoInvestimento.value == 0">
					 			<label>Especialidade</label>
			                	<div class="form-group">
			                    	<ui-select ng-model="idEspecialidadeSelected" 
			                        	theme="select2" class="form-control select2me" 
			                            on-select="loadProfissionaisByEspecialidade( $item )" 
			                            name="nmEspecialidade" id="nmEspecialidade"
			                            style="min-width: 300px;" > 
			                                <ui-select-match placeholder="Selecione a especialidade ">
			                                    {{$select.selected.nmEspecialidade}}
			                                </ui-select-match> 
			                                <ui-select-choices repeat="item as item in especialidadeOptions | filter: $select.search">
			                                    <div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
			                                </ui-select-choices> 
			                            </ui-select>    
			                     
			               		</div>
		                	</div>
		               		 <!-- END SEARCH BY ESPECIALIDADE -->

		               		 <!-- BEGIN SEARCH BY UNIDADE -->
					 		<div class="col-md-4" ng-show="optionTipoInvestimento.value == 1">
			                	<div class="form-group">
				                    <label>Unidade</label>
				                    <ui-select multiple
				                        ng-model="multipleUnidades.selected " 
				                        theme="bootstrap" sortable="true" close-on-select="true" 
				                        on-select="obterEstatistica($item,'unidade')"
				                        on-remove="removerEstatistica($item, $model)">

				                        <ui-select-match placeholder="Selecione a unidade...">
				                            {{$item.nmUnidade}}
				                        </ui-select-match>

				                        <ui-select-choices repeat="item as item in unidadeOptions | filter: $select.search">
				                          <div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
				                        </ui-select-choices>
				                    </ui-select>
				                </div>
		                	</div>
		               		 <!-- END SEARCH BY UNIDADE -->

					 		<!-- MULTI SELECT PROFISSIONAL -->
							<div class="col-md-8" ng-show="optionTipoInvestimento.value == 0">
						    	<div class="form-group">
				                    <label>Profissional</label>
				                    <ui-select multiple  limit="3"
				                        ng-model="multipleProfissionais.selected " 
				                        theme="bootstrap" ng-disabled="disabled" 
				                        sortable="true" close-on-select="true" 
				                        style="width: 600px;" 
				                        on-select="obterEstatistica($item,'profissional')"
				                        on-remove="removerEstatistica($item, $model)">

				                        <ui-select-match placeholder="Selecione o profissional...">
				                            {{$item.nmFuncionario}}
				                        </ui-select-match>

				                        <ui-select-choices repeat="item as item in profissionais | filter: $select.search">
				                          <div ng-bind-html="item.nmFuncionario | highlight: $select.search"></div>
				                        </ui-select-choices>
				                    </ui-select>
				                </div>
							</div>
							<!-- END MULTI SELECT PROFISSIONAL -->
					</div>
				</div>
				<!-- END SEARCH OPTIONS  -->
		
				<!-- BEGIN DADOS ESTATISTICA  -->
				<br/><br/>
				<div ng-show="estatisticaProfissionais.length == 0" style="margin-left:10px;">
					<em><strong>Sem dados disponiveis.</strong></em>
				</div>
				<div class="row" ng-repeat="estatistica in estatistica" >
					<div class="col-md-12">
						<!-- TOTAIS IMPORTANTES PROFISSIONAIS  -->
						<div class="col-md-4">
					    	<div class="note" ng-class="{'note-info':optionTipoInvestimento.value == 0,'note-danger':optionTipoInvestimento.value == 1}">
	                        
                        		  <h4 class="block" ng-show="optionTipoInvestimento.value == 0">
                        			{{estatistica.nmProfissional}}
                        		  </h4>	


                        		  <h4 class="block" ng-show="optionTipoInvestimento.value == 1">
                        			{{estatistica.nmUnidade}}
                        		  </h4>	
	                       
	                        	
	                           	  <table class="table">
								    <tbody>
								      <tr>
								        <td>Performance da Clínica</td>
								        <td>
											<span popover-trigger="mouseenter" popover="(Agendamentos criados / Total vagas)%">
                                                <i class="badge badge-success badge-roundless"
                                                    ng-if="estatistica.performanceClinica >= 70"> 
												    {{estatistica.performanceClinica + ' %'}}
                                                </i>
											</span>	

											<span popover-trigger="mouseenter" popover="(Agend. criados / Total vagas)%">
                                                <i class="badge badge-warning badge-roundless"
                                                    ng-if="estatistica.performanceClinica >= 50 && estatistica.performanceClinica < 70"> 
												    {{estatistica.performanceClinica + ' %'}}
                                                </i>
											</span>	

											<span popover-trigger="mouseenter" popover="(Agend. criados / Total vagas)%">
                                                <i class="badge badge-danger badge-roundless"
                                                    ng-if="estatistica.performanceClinica < 50"> 
                                                    {{estatistica.performanceClinica + ' %'}}
                                                </i>
											</span>	
								        	
								        </td>
								      </tr>
                                        
                                        <tr>
                                            <td>Performance do Médico</td>
                                            <td>
                                                <span popover-trigger="mouseenter" popover="(Agend. realizados / Atend. contratados)%">
                                                    <i class="badge badge-success badge-roundless"
                                                        ng-if="estatistica.performanceProfissional >= 70"> 
                                                        {{estatistica.performanceProfissional + ' %'}}
                                                    </i>
                                                </span>	

                                                <span popover-trigger="mouseenter" popover="(Agend. realizados / Atend. contratados)%">
                                                    <i class="badge badge-warning badge-roundless"
                                                        ng-if="estatistica.performanceProfissional >= 50 && estatistica.performanceProfissional < 70"> 
                                                        {{estatistica.performanceProfissional + ' %'}}
                                                    </i>
                                                </span>	

                                                <span popover-trigger="mouseenter" popover="(Agend. realizados / Atend. contratados)%">
                                                    <i class="badge badge-danger badge-roundless"
                                                        ng-if="estatistica.performanceProfissional < 50"> 
                                                        {{estatistica.performanceProfissional + ' %'}}
                                                    </i>
                                                </span>								        	
                                            </td>
                                        </tr>
                                      
                                        <tr>
                                            <td>Índice de agendamentos não realizados</td>
                                            <td>
                                                <span popover-trigger="mouseenter" popover="100% - (Agend. realizados / Agend. criados)%">
                                                    <i class="badge badge-danger badge-roundless"
                                                        ng-if="estatistica.indiceAgendNaoRealizados >= 50" > 
                                                        {{estatistica.indiceAgendNaoRealizados + ' %'}} 
                                                    </i>
                                                </span>	

                                                <span popover-trigger="mouseenter" popover="100% - (Agend. realizados / Agend. criados)%">
                                                    <i class="badge badge-warning badge-roundless"
                                                        ng-if="estatistica.indiceAgendNaoRealizados >= 30 && estatistica.indiceAgendNaoRealizados < 50"> 
                                                        {{estatistica.indiceAgendNaoRealizados + ' %'}}
                                                    </i>
                                                </span>	
                                                
                                                <span popover-trigger="mouseenter" popover="100% - (Agend. realizados / Agend. criados)%"> 
                                                    <i class="badge badge-success badge-roundless"
                                                        ng-if="estatistica.indiceAgendNaoRealizados < 30">
                                                        {{estatistica.indiceAgendNaoRealizados + ' %'}} 
                                                    </i>
                                                </span>
                                               						        	
                                            </td>
								        </tr>
                                        
								      <tr>
								        <td>Totais de agendamentos criados</td>
								        <td>
								       		<span class="badge badge-info"> 
								       			{{estatistica.totais.totalAgendamentos}}
								       		 </span>
								        </td>
								      </tr>
								      <tr>
								        <td>Totais de agendamentos realizados</td>
								        <td>
								        	<span class="badge badge-success "> 
								       			{{estatistica.totais.totalAgAtendidos}}
								       		 </span>
								        </td>
								      </tr>
								      <tr>
								        <td>Total de vagas</td>
								        <td>
								        	<span class="badge badge-warning"> 
								       			{{estatistica.totais.totalAtendimentos}}
								       		 </span>
								        </td>
								      </tr>
                                        
                                      <tr>
								        <td>Total de atendimentos contratados </td>
								        <td>
								        	<span class="badge badge-warning"> 
								       			{{estatistica.totais.totalAtendimentosContratado}}
								       		 </span>
								        </td>
								      </tr>
								    </tbody>
								  </table>
	                        </div>
						</div>
						<!-- END TOTAIS IMPORTANTES PROFISSIONAIS  -->

						<!-- GRAFICO ESTATISTICO  -->
						<div class="col-md-8">
							<div>
								<c3chart bindto-id="{{estatistica.grafico.id}}">
									 <chart-column column-id="x" 
									 	column-values="{{estatistica.grafico.labelDescriptionArray}}"/>	
                                        <chart-column column-id="Atendimentos Contratados"  
                                                    column-values="{{estatistica.grafico.qtdAtendimentosContratadosArray}}"
                                                    column-type="line"/>
                                        <chart-column column-id="Agendamentos Realizados"                                                    
                                                    column-values="{{estatistica.grafico.qtdAtendimentoRealizadoArray}}"
                                                    column-type="bar"/>									 
                                        <chart-column column-id="Agendamentos criados"  
                                                    column-values="{{estatistica.grafico.qtdAgendamentoRealizadoArray}}"
                                                    column-type="line"/>
                                        <chart-column column-id="Vagas"                                                    
                                                    column-values="{{estatistica.grafico.qtdAtendimentosArray }}"
                                                    column-type="line"/>
                                        <chart-axes values-x="x"/>

										<chart-axis>
										    <chart-axis-x axis-position="outer-center"
										                  axis-type="category">
										    </chart-axis-x>
									  	</chart-axis>
								</c3chart>
							</div>
						</div>
						<!-- END GRAFICO ESTATISTICO  -->
					</div>
				</div>
				<!-- END DADOS ESTATISTICA  -->
			</div>
		</div>
	</div>
</div>
</div>
