<style>
    
    /* FIX LAYOUT DATEPICKER RANGER */
    .input-mini {
        width: 180px !important;
    } 

    .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }
    .note.note-info.note1{
        border-color: red;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }
    .badge {
        font-size: 13px !important;
    }
    .badge-success {
        color:rgb(41,44,47);
    }
    .panel-primary .panel-heading{
        color: white;
        background-color: #3598dc;
        border-color: #3598dc;
    }
    .panel-referencias{
      background-color: #81BEF7;  
      color: white;
    }
    .note.note-info.note-info-ref{
        background-color:#f5f8fd;
        border-color: #81BEF7;
        color: #010407;

    }

    .ng-table th.sortable.sort-desc, th.sortable.sort-asc{
        background-color: #fdfdfd !important; 
    }
</style>
<div class="margin-top-10">
	<div class="portlet light col-md-12">
	     <div class="col-md-12">	
            <div class="row">

                 <div id="imageLoading">
                     <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                </div>

            </div>
	    </div>
	
        <!-- BEGIN SEARCH OPTIONS -->
        <div class="row">
            <div class="col-md-12">
                        
                <!-- DATEPICKER RANGE -->
                <div class="col-md-12">
                    <div class="col-md-4" >
                        <label>Periodo</label>
                        <div class="form-group" >
                            <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
                            options="{eventHandlers:{'apply.daterangepicker': carregarDadosProfissionais}, locale:localeDateRangePicker, ranges: rangesDateRangePicker, maxDate: maxDate ,alwaysShowCalendars:true, timePicker:false }" 
                            placeholder="Selecione a data" /> 
                        </div> 
                    </div>
                     <!-- BEGIN RESUMO TOTAIS -->
                    <div class="col-md-offset-4 col-md-4" 
                        ng-show="dadosGeraisInvestimentoMedico.length > 0 ">  
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                            <br/><br/>
                        </div>
                        <div class="note note-info note1">
                                
                            <h4 class="block; text-center" style="color: red"><b>Geral</b></h4> 
                                
                            <table class="table">
                            <tbody >
                                <tr>
                                    <td>Horista</td>
                                    <td class="text-center">{{salarioHoristaGeral | currency: 'R$ '}}</td>
                                </tr>
                                <tr>
                                    <td>Fixo</td>
                                    <td class="text-center">{{salarioFixoGeral  | currency: 'R$ '}}</td>
                                </tr>
                                <tr>
                                    <td>Produ&ccedil;&atilde;o</td>
                                    <td class="text-center">{{salarioProducaoGeral | currency: 'R$ '}}</td>
                                </tr>
                                <tr>
                                    <td>Responsabilidade T&eacute;cnica</td>
                                    <td class="text-center">{{salarioRespTecGeral | currency: 'R$ '}}</td>
                                </tr>
                                <tr>
                                    <td><b>Total</b></td>
                                    <td class="text-center"><b>{{getCalcularTotalUnidade(salarioHoristaGeral, salarioFixoGeral, 
                                        salarioProducaoGeral, salarioRespTecGeral) | currency: 'R$ '}}</b></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    
                    </div>
                <!-- END RESUMO TOTAIS -->     
                </div>

                <!-- END DATEPICKER RANGE -->         
                <!-- BEGIN RESUMO UNIDADES-->
                <div class="col-md-12">
                    <div class="col-md-4" ng-show="dadosGeraisInvestimentoMedico.length > 0 ">
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                            <br/><br/>
                        </div>
                        <div class="note note-info">
                            <h4 class="block; text-center" style="color: #3598dc"><b>Tarum&atilde;</b></h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Horista</td>
                                        <td class="text-center">{{salarioGeralHoristaTaruma | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fixo</td>
                                        <td class="text-center">{{salarioGeralFixoTaruma | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Produ&ccedil;&atilde;o</td>
                                        <td class="text-center">{{salarioGeralProdTaruma | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Responsabilidade T&eacute;cnica</td>
                                        <td class="text-center">{{salarioGeralRespTecTaruma | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td class="text-center"><b>{{getCalcularTotalUnidade(salarioGeralHoristaTaruma, salarioGeralFixoTaruma, 
                                            salarioGeralProdTaruma, salarioGeralRespTecTaruma) | currency: 'R$ '}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="dadosGeraisInvestimentoMedico.length > 0 ">
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                            <br/><br/>
                        </div>
                        <div class="note note-info">
                            <h4 class="block; text-center"  style="color: #3598dc"><b>Joaquim Nabuco</b></h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Horista</td>
                                        <td class="text-center">{{salarioGeralHoristaJoaquim | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fixo</td>
                                        <td class="text-center">{{salarioGeralFixoJoaquim | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Produ&ccedil;&atilde;o</td>
                                        <td class="text-center">{{salarioGeralProdJoaquim | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Responsabilidade T&eacute;cnica</td>
                                        <td class="text-center">{{salarioGeralRespTecJoaquim | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td class="text-center"><b>{{getCalcularTotalUnidade(salarioGeralHoristaJoaquim, salarioGeralFixoJoaquim, 
                                            salarioGeralProdJoaquim, salarioGeralRespTecJoaquim) | currency: 'R$ ' }}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                    <div class="col-md-4" ng-show="dadosGeraisInvestimentoMedico.length > 0 ">
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                            <br/><br/>
                        </div>
                        <div class="note note-info">
                            <h4 class="block; text-center"  style="color: #3598dc"><b>Grande Circular</b></h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Horista</td>
                                        <td class="text-center">{{salarioGeralHoristaGrande | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fixo</td>
                                        <td class="text-center">{{salarioGeralFixoGrande | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Produ&ccedil;&atilde;o</td>
                                        <td class="text-center"> {{salarioGeralProdGrande | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td>Responsabilidade T&eacute;cnica</td>
                                        <td class="text-center"> {{salarioGeralRespTecGrande | currency: 'R$ '}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td class="text-center"><b>{{getCalcularTotalUnidade(salarioGeralHoristaGrande, salarioGeralFixoGrande, 
                                            salarioGeralProdGrande, salarioGeralRespTecGrande) | currency: 'R$ '}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--END RESUMO UNIDADES-->
            </div>
        </div>
        <!-- END SEARCH OPTIONS  -->
        
        <!-- BEGIN DADOS OBTIDOS --> 
        <br />
        <div class="row">
		    <div class="col-md-12">			
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Dados Obtidos
                        </div>
                    </div>
                    
                    <!-- PROFISSIONAIS VALUES -->
                    <div class="portlet-body flip-scroll">
                        <!-- TABLE PROFISSIONAIS VALUES -->
                        <br/>  
                        <em ng-show="!(dadosGeraisInvestimentoMedico.length > 0) ">Sem dados disponiveis</em>                
                        <table  class="table table-bordered table-striped table-condensed flip-content" ng-show="dadosGeraisInvestimentoMedico.length > 0"
                        ng-table="tableParams">
                            <!-- <thead class="flip-content">
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center"> Profissional </th>
                                    <th class="text-center"> Total </th>
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr ng-repeat-start="item in $data"  ng-if="item.idProfissionalRef == null">
                                    <td class="text-center" title="''">
                                       <button ng-if="item.expanded" 
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = false ">
                                         <span class="glyphicon glyphicon-eye-close" ></span>
                                       </button>
                                        <button ng-if="!item.expanded"
                                         class="btn btn-default btn-xs"
                                         ng-click="item.expanded = true;" >
                                         <span class="glyphicon glyphicon-eye-open"></span>
                                        </button>
                                    </td>
                                    <td title="'Profissional'" sortable="'nmFuncionario'">{{item.nmFuncionario}}</td>
                                    <td class="text-center" title="'Total'" sortable="'dadosGeraisFuncionario.salarioFinal'">
                                        <span class="badge badge-danger"  style="float: right;">
                                          <!--   {{item.dadosGeraisFuncionario.vlSalario | currency: 'R$ '}} -->
                                            {{item.dadosGeraisFuncionario.salarioFinal | currency: 'R$ '}}
                                        </span>
                                    </td>
                                </tr>
                                <tr  ng-if="item.expanded" ng-repeat-end="" >
                                    <td colspan="7" ng-if="item.idProfissionalRef == null">
                                        <div class="row">
                                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                                            <div class="col-md-12">
                                                <tabset >
                                                    <!-- TAB INFO GERAIS-->
                                                    <tab>
                                                        <tab-heading>
                                                            <i class="fa fa-table" aria-hidden="true"></i>
                                                            Geral
                                                        </tab-heading>
                                                        <div class="row"  >
                                                            <div class="col-md-6" >
                                                                <div class="panel panel-primary" >
                                                                        <div class="panel-heading">
                                                                            <h3 class="panel-title">Todas Unidades</h3>
                                                                        </div>
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead class="thead-inverse">
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Atendimentos</th>
                                                                                <th>Carga Hor&aacute;ria</th>
                                                                                <th>Sal&aacute;rio</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="text-center">
                                                                            <tr>
                                                                                <th ng-click="selectTab('tab-horista-' +$index)"><a>Horista</a></th>
                                                                                <td>{{item.dadosGeraisFuncionario.registrosHorista.totalServico}}</td>
                                                                                <td>{{item.dadosGeraisFuncionario.registrosHorista.totalHr}}</td>
                                                                                <td>
                                                                                    <span class="badge badge-info" style="float: right;">{{item.dadosGeraisFuncionario.registrosHorista.vlSalario | currency: 'R$ '}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th ng-click="selectTab('tab-fixo-' +$index)"><a>Fixo</a></th>
                                                                                <td>{{item.dadosGeraisFuncionario.registrosFixo.totalServico}}</td>
                                                                                <td>{{item.dadosGeraisFuncionario.registrosFixo.totalHr}}</td>
                                                                                <td>
                                                                                    <span class="badge badge-info" style="float: right;">{{item.dadosGeraisFuncionario.registrosFixo.vlSalario | currency: 'R$ '}}</span>
                                                                                </td>
                                                                                
                                                                            </tr>
                                                                            <tr>
                                                                                <th ng-click="selectTab('tab-producao-' +$index)"><a>Produ&ccedil;&atilde;o</a></th>
                                                                                <td>{{item.dadosGeraisFuncionario.registrosProducao.totalServico}}</td>
                                                                                <td>{{item.dadosGeraisFuncionario.registrosProducao.totalHr}}</td>
                                                                                <td>
                                                                                    <span class="badge badge-info" style="float: right;">{{item.dadosGeraisFuncionario.registrosProducao.vlSalario | currency: 'R$ '}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr ng-if="item.dadosGeraisFuncionario.respTecnico.vlSalario > 0">
                                                                                <th>Responsabilidade T&eacute;cnica</th>
                                                                                <td>{{item.dadosGeraisFuncionario.respTecnico.totalServico}}</td>
                                                                                <td>{{item.dadosGeraisFuncionario.respTecnico.totalHr}}</td>
                                                                                <td>
                                                                                    <span class="badge badge-info" style="float: right;">{{item.dadosGeraisFuncionario.respTecnico.vlSalario | currency: 'R$ '}}</span>
                                                                                </td>
                                                                            </tr>
                                                                           <!--  <tr>
                                                                                <th>Particular</th>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>
                                                                                    <span class="badge badge-info"></span>
                                                                                </td>
                                                                            </tr> -->
                                                                            <tr>
                                                                                <th>Total</th>
                                                                                <td>{{item.dadosGeraisFuncionario.totalServico}}</td>
                                                                                <td>{{item.dadosGeraisFuncionario.totalHr}}</td>
                                                                                <td>
                                                                                    <span class="badge badge-danger" style="float: right;">
                                                                                        {{item.dadosGeraisFuncionario.vlSalario | currency: 'R$ '}}
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody> 
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                    <!-- END TAB INFO GERAIS-->
                                                    <!-- BEGIN TAB HORISTA-->
                                                    <tab>
                                                        <tab-heading ng-attr-id="tab-horista-{{$index}}">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                            Horista
                                                        </tab-heading>
                                                        <div class="row" >
                                                            <div class="col-md-6" ng-show="item.dadosGeraisFuncionario.registrosHorista.listAtendimentoCliente.length == 0" style="margin-left:10px;">
                                                                <br/>
                                                                <div class="note note-info">
                                                                    <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                                                </div>
                                                            </div>
                            
                                                            <div class="col-md-6" ng-repeat="var in item.dadosGeraisFuncionario.registrosHorista.listAtendimentoCliente">
                                                                <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-heading">
                                                                        <h3 class="panel-title">{{var.nmUnidade}}</h3>
                                                                    </div>
                                                                    <div>
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item">
                                                                                <strong> Sal&aacute;rio Horista</strong>
                                                                            </li>
                                                                            <li class="list-group-item">
                                                                                Sal&aacute;rio
                                                                                <span class="badge badge-info">
                                                                                    {{ getCalcularSalarioUnidade(item.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade, 2) | currency: 'R$'}}
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item">
                                                                                <a tooltip="Visualizar Detalhes" ng-click="modalVisualCargaHoraria(item, var.idUnidade)">Total Carga Hor&aacute;ria
                                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                </a> 
                                                                                <span class="badge badge-info">
                                                                                    {{getCalcularCargaHoraria(item.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade)}}
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item" > 
                                                                                    <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentos(item,2, var.idUnidade)" >Total de Atendimentos
                                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                    </a>
                                                                                <span class="badge badge-info"> 
                                                                                    {{var.registrosHoristaAtend.length}} 
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item"> Valor M&eacute;dio Hora
        
                                                                                <span class="badge badge-danger">
                                                                                    {{getValorMedio(item.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade) | currency: 'R$ '}}
                                                                                </span>
                                                                            </li>
        
                                                                            <li class="list-group-item">Valor M&eacute;dio de Servi&ccedil;os
        
                                                                                <span class="badge badge-danger">
                                                                                    {{getCalcularSalarioUnidade(item.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade, 2) /  var.registrosHoristaAtend.length | currency: 'R$'}}
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </tab>
                                                    <!-- END TAB HORISTA-->
                                                    <!-- TAB SALARIO FIXO -->                                                    
                                                    <tab > 
                                                        <tab-heading id="tab-fixo-{{$index}}">
                                                            <i class="fa fa-money" aria-hidden="true"></i>
                                                            Fixo
                                                        </tab-heading>

                                                        <div class="row">
                                                            <div class="col-md-6" ng-show="item.dadosGeraisFuncionario.registrosFixo.listAtendimentoCliente.length == 0" style="margin-left:10px;">
                                                                <br/>
                                                                <div class="note note-info">
                                                                    <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" ng-repeat="tipo in item.dadosGeraisFuncionario.registrosFixo.listAtendimentoCliente">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-heading">
                                                                        <h3 class="panel-title">{{tipo.nmUnidade}}</h3>
                                                                    </div>
                                                                    <div>
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"> 
                                                                                <strong>Sal&aacute;rio fixo</strong>
                                                                            </li>
                                                                            <li class="list-group-item"> Sal&aacute;rio
                                                                                <span class="badge badge-info" >
                                                                                    {{getCalcularSalarioUnidade(item.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade, 1) | currency : 'R$ '}}
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item" ng-if="item.dadosGeraisFuncionario.registrosFixo.listAtendimentoCliente.length >0">
                                                                                <a tooltip="Visualizar Detalhes" ng-click="modalVisualDiasTrabalhados(item.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade)"> Dias Trabalhados
                                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                </a>
                                                                                <span class="badge badge-info">
                                                                                        {{getCalcularTamanho(item.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade)}}
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item" ng-if="item.dadosGeraisFuncionario.registrosFixo.totalServico != null"> 
                                                                                    <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentos(item,1,tipo.idUnidade)" >Total de Atendimentos
                                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                    </a> 
                                                                                    <span class="badge badge-info">
                                                                                        {{tipo.registroFixoAtend.length}}
                                                                                    </span>
                                                                                </li>
                                                                                <li class="list-group-item" ng-if="item.dadosGeraisFuncionario.registrosFixo.totalServico == null"> Total de Atendimentos
                                                                                    <span class="badge badge-info" >
                                                                                        {{tipo.registroFixoAtend.length}}
                                                                                        </span>
                                                                                </li>
                                                                            <li class="list-group-item"> Valor atendimento
                                                                                <span class="badge badge-danger">
                                                                                  {{ getCalcularSalarioUnidade(item.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade, 1) /tipo.registroFixoAtend.length   | currency: 'R$ '}}
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                    <!-- END TAB SALARIO FIXO -->
                                                    <!-- TAB COMISSAO -->
                                                    <tab >
                                                        <tab-heading id="tab-producao-{{$index}}">
                                                           <i class="fa fa-percent" aria-hidden="true"></i>
                                                            Produ&ccedil;&atilde;o
                                                        </tab-heading>                                                        
                                                      <!-- List group -->
                                                        <div class="row">
                                                            <div class="col-md-6" style="margin-left:10px;" ng-show="item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente.length == 0"> 
                                                                <br/>
                                                                <div class="note note-info">
                                                                    <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12" ng-repeat="tipo in item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-heading">
                                                                        <h3 class="panel-title">{{tipo.nmUnidade}}</h3>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"> 
                                                                                <strong>Consulta</strong>
                                                                            </li>
                                                                            <li class="list-group-item"> Total valor consultas
                                                                                <span class="badge badge-info">
                                                                                {{getValorTotalComissao(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) | currency: 'R$ '}} 
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item" ng-if="getQtdServicos(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) > 0"><!-- ng-if="getQtdServicos(item, true, tipo.idUnidade) > 0" --> 
                                                                                <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentosComissao(item, true, tipo.idUnidade)"> Qtd. de consultas
                                                                                        <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                                <span class="badge badge-default" >
                                                                                     {{getQtdServicosRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)}}
                                                                                </span>
                                                                                <span style="float: right;">&nbsp;&nbsp;&nbsp;&nbsp; N&atilde;o Comissionado:&nbsp; </span>
                                                                                <span class="badge badge-info" > {{getQtdServicosNaoRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)}}
                                                                                </span>
                                                                                <span style="float: right;">Comissionado:&nbsp;</span>
                                                                            </li>
                                                                            <li class="list-group-item" ng-if="getQtdServicos(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)== 0"> 
                                                                                Qtd. de consultas
                                                                                <span class="badge badge-info"> {{getQtdServicosNaoRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)}}
                                                                                </span>
                                                                            </li>
                                                                            
                                                                            <li class="list-group-item"> Valor m&eacute;dio comiss&atilde;o por consulta
                                                                                <span class="badge badge-danger">
                                                                                   {{getValorTotalComissao(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) / getQtdServicosNaoRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) || 0 | currency: 'R$ '}}
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"> 
                                                                                <strong>Procedimento</strong>
                                                                            </li>
                                                                            <li class="list-group-item"> Total valor procedimentos
                                                                                <span class="badge badge-info"> 
                                                                                {{getValorTotalComissao(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade) | currency: 'R$ '}}  
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item" ng-if="getQtdServicos(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade) > 0" >
                                                                                <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentosComissao(item, false, tipo.idUnidade)" >Qtd. de procedimentos
                                                                                    <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                                                                                <span class="badge badge-default">
                                                                                    {{getQtdServicosRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)}}
                                                                                </span>
                                                                                <span style="float: right" >&nbsp;&nbsp;&nbsp;&nbsp; N&atilde;o Comissionado:&nbsp;</span>
                                                                                &nbsp;
                                                                                <span class="badge badge-info">{{getQtdServicosNaoRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)  }}
                                                                                </span>
                                                                                <span style="float:right" >Comissionado:&nbsp;</span>
                                                                            </li>
                                                                            <li class="list-group-item" ng-if="getQtdServicos(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)== 0">Qtd. de procedimentos
                                                                                <span class="badge badge-info" >
                                                                                        {{getQtdServicosNaoRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)}}
                                                                                </span>
                                                                            </li>
                                                                            <li class="list-group-item"> 
                                                                                Valor m&eacute;dio comiss&atilde;o por procedimento
                                                                                <span class="badge badge-danger"> 
                                                                                    {{(getValorTotalComissao(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade) / getQtdServicosNaoRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)) || 0 | currency: 'R$ '}}
                                                                                </span>   
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                </tabset>
                                            </div>
                                            <!-- BEGIN INFO REFERENCIAS -->
                                            <div class="row" ng-if="item.dadosReferencia != null">
                                                <div class="col-md-12">
                                                    <div class="col-md-11">
                                                        <div class="panel ">
                                                            <div class="panel-heading panel-referencias">
                                                                <h3 class="panel-title"><b>Refer&ecirc;ncias</b></h3>
                                                            </div>
                                                            <table class="table table-bordered table-striped table-condensed flip-content" ng-show="item.dadosReferencia.length > 0" ng-table="tableParamsRef"> 
                                                                <tbody>
                                                                    <tr ng-repeat-start="ref in item.dadosReferencia"> 
                                                                        <td class="text-center" title="''">
                                                                            <button ng-if="ref.expanded" 
                                                                                class="btn btn-default btn-xs"
                                                                                ng-click="ref.expanded = false ">
                                                                                <span class="glyphicon glyphicon-eye-close" ></span>
                                                                            </button>
                                                                            <button ng-if="!ref.expanded"
                                                                                class="btn btn-default btn-xs"
                                                                                ng-click="ref.expanded = true;" >
                                                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                                            </button>
                                                                        </td>
                                                                        <td title="'Profissional'" sortable="'nmFuncionario'">{{ref.nmFuncionario}}</td>
                                                                        <td class="text-center" title="'Total'" sortable="'dadosGeraisFuncionario.vlSalario'"><!-- sortable="'dadosGeraisFuncionario.vlSalario'" -->
                                                                            <span class="badge badge-danger"  style="float: right;">
                                                                                {{ref.dadosGeraisFuncionario.vlSalario | currency: 'R$ '}}
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="ref.expanded" ng-repeat-end=""><!-- ng-if="item.expanded" ng-repeat-end=""  -->
                                                                        <td colspan="7">
                                                                            <div class="row">
                                                                                <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                                                                                <div class="col-md-12">
                                                                                    <tabset>
                                                                                        <!-- TAB INFO GERAIS-->
                                                                                        <tab>
                                                                                            <tab-heading>
                                                                                                <i class="fa fa-table" aria-hidden="true"></i>
                                                                                                Geral
                                                                                            </tab-heading>
                                                                                            <div class="row"  >
                                                                                                <div class="col-md-6" >
                                                                                                    <div class="panel" >
                                                                                                        <div class="panel-heading panel-referencias">
                                                                                                            <h3 class="panel-title"><b>Todas Unidades</b></h3>
                                                                                                        </div>
                                                                                                        <table class="table table-striped table-bordered">
                                                                                                            <thead class="thead-inverse">
                                                                                                                <tr>
                                                                                                                    <th>#</th>
                                                                                                                    <th>Atendimentos</th>
                                                                                                                    <th>Carga Hor&aacute;ria</th>
                                                                                                                    <th>Sal&aacute;rio</th>
                                                                                                                </tr>
                                                                                                            </thead>
                                                                                                            <tbody class="text-center">
                                                                                                                <tr>
                                                                                                                    <th ng-click="selectTab('tab-horista-ref-' +$index)"><a>Horista</a></th>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.registrosHorista.totalServico}}</td>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.registrosHorista.totalHr}}</td>
                                                                                                                    <td>
                                                                                                                        <span class="badge badge-info" style="float: right;">{{ref.dadosGeraisFuncionario.registrosHorista.vlSalario |  currency: 'R$ '}}</span>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th ng-click="selectTab('tab-fixo-ref-' +$index)"><a>Fixo</a></th>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.registrosFixo.totalServico}}</td>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.registrosFixo.totalHr}}</td>
                                                                                                                    <td>
                                                                                                                        <span class="badge badge-info" style="float: right;">{{ref.dadosGeraisFuncionario.registrosFixo.vlSalario | currency: 'R$ '}}</span>
                                                                                                                    </td>
                                                                                                                    
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th ng-click="selectTab('tab-producao-ref-' +$index)"><a>Produ&ccedil;&atilde;o</a></th>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.registrosProducao.totalServico}}</td>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.registrosProducao.totalHr}}</td>
                                                                                                                    <td>
                                                                                                                        <span class="badge badge-info" style="float: right;">{{ref.dadosGeraisFuncionario.registrosProducao.vlSalario | currency: 'R$ '}}</span>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th>Total</th>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.totalServico}}</td>
                                                                                                                    <td>{{ref.dadosGeraisFuncionario.totalHr}}</td>
                                                                                                                    <td>
                                                                                                                        <span class="badge badge-danger" style="float: right;">
                                                                                                                            {{ref.dadosGeraisFuncionario.vlSalario | currency: 'R$ '}}
                                                                                                                        </span>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody> 
                                                                                                        </table>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </tab>
                                                                                        <!-- BEGIN TAB HORISTA-->
                                                                                        <tab >
                                                                                            <tab-heading ng-attr-id="tab-horista-ref-{{$index}}">
                                                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                                                Horista
                                                                                            </tab-heading>
                                                                                            <div class="row" >
                                                                                                <div class="col-md-6" style="margin-left:10px;" ng-show="ref.dadosGeraisFuncionario.registrosHorista.listAtendimentoCliente.length == 0">
                                                                                                    <br/>
                                                                                                    <div class="note note-info note-info-ref">
                                                                                                        <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                                                                                    </div>
                                                                                                </div>
                                                                
                                                                                                <div class="col-md-6" ng-repeat = "var in ref.dadosGeraisFuncioanrio.registrosHorista.listAtendimentoCliente">
                                                                                                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                                                                                                    <div class="panel panel-primary">
                                                                                                        <div class="panel-heading panel-referencias">
                                                                                                            <h3 class="panel-title"><b>{{var.nmUnidade}}</b></h3>
                                                                                                        </div>
                                                                                                        <div>
                                                                                                            <ul class="list-group">
                                                                                                                <li class="list-group-item">
                                                                                                                    <strong> Sal&aacute;rio Horista</strong>
                                                                                                                </li>
                                                                                                                <li class="list-group-item">
                                                                                                                    Sal&aacute;rio
                                                                                                                    <span class="badge badge-info">
                                                                                                                        {{ref.dadosGeraisFuncionario.registrosHorista.vlSalario | currency: 'R$ '}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item">
                                                                                                                    <a tooltip="Visualizar Detalhes" ng-click="modalVisualCargaHoraria(ref, var.idUnidade)" >Total Carga Hor&aacute;ria
                                                                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                                                    </a> 
                                                                                                                    <span class="badge badge-info">
                                                                                                                        {{ref.dadosGeraisFuncionario.registrosHorista.totalHr}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item" > 
                                                                                                                        <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentos(ref,2, var.idUnidade)" >Total de Atendimentos
                                                                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                                                        </a>
                                                                                                                    <span class="badge badge-info"> 
                                                                                                                        {{var.registrosHoristaAtend.length}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item"> Valor M&eacute;dio Hora
                                            
                                                                                                                    <span class="badge badge-danger">
                                                                                                                        <!--  {{getValorMedio(item.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade) | currency: 'R$ '}} -->
                                                                                                                        {{getValorMedio(ref.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade) | currency: 'R$ '}}
                                                                                                                    </span>
                                                                                                                </li>
                                            
                                                                                                                <li class="list-group-item">Valor M&eacute;dio de Servi&ccedil;os
                                            
                                                                                                                    <span class="badge badge-danger">
                                                                                                                        <!--  {{getCalcularSalarioUnidade(item.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade, 2) /  var.registrosHoristaAtend.length | currency: 'R$'}} -->
                                                                                                                        {{getCalcularSalarioUnidade(ref.dadosGeraisFuncionario.registrosHorista.listHorarioAtendimento, var.idUnidade, 2)/ var.registrosHoristaAtend.length | currency: 'R$ '}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                
                                                                                            </div>
                                                                                        </tab>
                                                                                        <!-- END TAB HORISTA-->
                                                                                        <!-- TAB SALARIO FIXO -->                                                   
                                                                                        <tab> 
                                                                                            <tab-heading ng-attr-id="tab-fixo-ref-{{$index}}">
                                                                                                <i class="fa fa-money" aria-hidden="true"></i>
                                                                                                Fixo
                                                                                            </tab-heading>
                                    
                                                                                            <div class="row">
                                                                                                <div class="col-md-6" style="margin-left:10px;" ng-show="ref.dadosGeraisFuncionario.registrosFixo.listAtendimentoCliente.length == 0">
                                                                                                    <br/>
                                                                                                    <div class="note note-info note-info-ref">
                                                                                                        <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-6" ng-repeat="tipo in ref.dadosGeraisFuncionario.registrosFixo.listAtendimentoCliente">
                                                                                                    <div class="panel panel-primary">
                                                                                                        <div class="panel-heading panel-referencias">
                                                                                                            <h3 class="panel-title"><b>{{tipo.nmUnidade}}</b></h3>
                                                                                                        </div>
                                                                                                        <div ng-show ="ref.dadosGeraisFuncionario.registrosFixo.vlSalario != null">
                                                                                                            <ul class="list-group">
                                                                                                                <li class="list-group-item"> 
                                                                                                                    <strong>Sal&aacute;rio fixo</strong>
                                                                                                                </li>
                                                                                                                <li class="list-group-item"> Sal&aacute;rio
                                                                                                                    <span class="badge badge-info" >
                                                                                                                        <!-- {{getCalcularSalarioUnidade(item.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade, 1) | currency : 'R$ '}} -->
                                                                                                                        {{getCalcularSalarioUnidade(ref.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade, 1) | currency: 'R$ '}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item" ng-if="ref.dadosGeraisFuncionario.registrosFixo.listAtendimentoCliente.length >0">
                                                                                                                    <a tooltip="Visualizar Detalhes" ng-click="modalVisualDiasTrabalhados(ref.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade)"> Dias Trabalhados
                                                                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                                                    </a>
                                                                                                                    <span class="badge badge-info">
                                                                                                                            {{getCalcularTamanho(ref.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade)}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item"  ng-if="ref.dadosGeraisFuncionario.registrosFixo.totalServico != null" >
                                                                                                                        <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentos(ref,1, tipo.idUnidade)" >Total de Atendimentos
                                                                                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                                                        </a> 
                                                                                                                        <span class="badge badge-info">
                                                                                                                            {{tipo.registroFixoAtend.length}}
                                                                                                                        </span>
                                                                                                                    </li>
                                                                                                                    <li class="list-group-item" ng-if="ref.dadosGeraisFuncionario.registrosFixo.totalServico == null"> Total de Atendimentos
                                                                                                                        <span class="badge badge-info" >
                                                                                                                        {{tipo.registroFixoAtend.length}}
                                                                                                                        </span>
                                                                                                                    </li>
                                                                                                                <li class="list-group-item"> Valor atendimento
                                                                                                                    <span class="badge badge-danger">
                                                                                                                        <!-- {{ getCalcularSalarioUnidade(item.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade, 1) /tipo.registroFixoAtend.length   | currency: 'R$ '}} -->
                                                                                                                        {{ getCalcularSalarioUnidade(ref.dadosGeraisFuncionario.registrosFixo.listFixoAtendimento, tipo.idUnidade, 1) /tipo.registroFixoAtend.length   | currency: 'R$ '}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </tab>
                                                                                        <!-- END TAB SALARIO FIXO -->
                                                                                        <!-- TAB COMISSAO -->
                                                                                        <tab>
                                                                                            <tab-heading ng-attr-id="tab-producao-ref-{{$index}}">                                                                                                
                                                                                                <i class="fa fa-percent" aria-hidden="true"></i>
                                                                                                Produ&ccedil;&atilde;o
                                                                                            </tab-heading>                                                        
                                                                                            <!-- List group -->
                                                                                            <div class="row">
                                                                                                <div class="col-md-6" style="margin-left:10px;" ng-show="ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente.length == 0"> 
                                                                                                    <br/>
                                                                                                    <div class="note note-info note-info-ref">
                                                                                                        <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-12" ng-repeat="tipo in ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente">
                                                                                                    <div class="panel">
                                                                                                        <div class="panel-heading panel-referencias">
                                                                                                            <h3 class="panel-title"><b>{{tipo.nmUnidade}}</b></h3>
                                                                                                        </div>
                                                                                                        <div class="col-md-6">
                                                                                                            <ul class="list-group">
                                                                                                                <li class="list-group-item"> 
                                                                                                                    <strong>Consulta</strong>
                                                                                                                </li>
                                                                                                                <li class="list-group-item"> Total valor consultas
                                                                                                                    <span class="badge badge-info">
                                                                                                                    <!-- {{getValorTotalComissao(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) | currency: 'R$ '}}  -->
                                                                                                                        {{getValorTotalComissao(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, var.idUnidade) | currency: 'R$ '}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item" ng-if="getQtdServicos(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) > 0">
                                                                                                                    <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentosComissao(ref, true, tipo.idUnidade)"  > Qtd. de consultas
                                                                                                                            <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                                                                    <span class="badge badge-default" >
                                                                                                                        <!--  {{getQtdServicosRetorno(item.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)}} -->
                                                                                                                        {{getQtdServicosRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)}}
                                                                                                                    </span>
                                                                                                                    <span style="float: right;">&nbsp;&nbsp;&nbsp;&nbsp; N&atilde;o Comissionado:&nbsp; </span>
                                                                                                                    <span class="badge badge-info" > {{getQtdServicosNaoRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)}}
                                                                                                                    </span>
                                                                                                                    <span style="float: right;">Comissionado:&nbsp;</span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item" ng-if="getQtdServicos(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)== 0">
                                                                                                                    Qtd. de consultas
                                                                                                                    <span class="badge badge-info">{{getQtdServicosNaoRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade)}} 
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                
                                                                                                                <li class="list-group-item"> Valor m&eacute;dio comiss&atilde;o por consulta
                                                                                                                    <span class="badge badge-danger">
                                                                                                                        {{getValorTotalComissao(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) / getQtdServicosNaoRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, true, tipo.idUnidade) || 0 | currency: 'R$ '}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                        <div class="col-md-6">
                                                                                                            <ul class="list-group">
                                                                                                                <li class="list-group-item"> 
                                                                                                                    <strong>Procedimento</strong>
                                                                                                                </li>
                                                                                                                <li class="list-group-item"> Total valor procedimentos
                                                                                                                    <span class="badge badge-info"> 
                                                                                                                        {{getValorTotalComissao(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade) | currency: 'R$ '}} 
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item" ng-if="getQtdServicos(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade) > 0">
                                                                                                                    <a tooltip="Visualizar Detalhes" ng-click="modalVisualProcedimentosComissao(ref, false, tipo.idUnidade)" >Qtd. de procedimentos
                                                                                                                        <i class="fa fa-pencil" aria-hidden="true"></i></a> 
                                                                                                                    <span class="badge badge-default">
                                                                                                                        {{getQtdServicosRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)}}
                                                                                                                    </span>
                                                                                                                    <span style="float: right" >&nbsp;&nbsp;&nbsp;&nbsp; N&atilde;o Comissionado:&nbsp;</span>
                                                                                                                    &nbsp;
                                                                                                                    <span class="badge badge-info"> {{getQtdServicosNaoRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)}} 
                                                                                                                    </span>
                                                                                                                    <span style="float:right" >Comissionado:&nbsp;</span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item" ng-if="getQtdServicos(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)== 0">Qtd. de procedimentos
                                                                                                                    <span class="badge badge-info" >
                                                                                                                            {{getQtdServicosNaoRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)}}
                                                                                                                    </span>
                                                                                                                </li>
                                                                                                                <li class="list-group-item"> 
                                                                                                                    Valor m&eacute;dio comiss&atilde;o por procedimento
                                                                                                                    <span class="badge badge-danger"> 
                                                                                                                        {{(getValorTotalComissao(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade) / getQtdServicosNaoRetorno(ref.dadosGeraisFuncionario.registrosProducao.listAtendimentoCliente, false, tipo.idUnidade)) || 0 | currency: 'R$ '}}
                                                                                                                    </span>   
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </tab>
                                                                                    </tabset>
                                                                               </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <!--- END INFO REFERENCIAS -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                       <!-- END TABLE PROFISSIONAIS VALUES -->
                    </div>
     		    </div>
		     </div>
        </div>
        <!-- END DADOS OBTIDOS --> 
        <br/><br/>       
	</div>
</div>
<script>
    $(document).ready(function() {
        $("a[href='#producao']").attr("href", "javascript:void(0);");
    });
</script> 
