<style type="text/css">
	.centering {
		text-align: center;
	}

	.star-container {
		display: inline-grid;
	}

	.star-container .label {
		color: black;
	    border-style: none;
		font-size: medium;
		box-shadow: none;
	}

	.rate-bad {
		color: red;
	}
	.rate-good {
		color: green;
	}
	.rate-medium {
		color: orange;
	}

	th {
		vertical-align: middle !important; 
	}

	td {
		vertical-align: middle !important;
	}

	.clickable {
		cursor: pointer;
	}
</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i> 
						<span class="caption-subject font-blue-madison bold uppercase">Previs&atilde;o de Agendamentos</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
				</div>

				<div class="portlet-body">
					<!-- BEGIN SEARCH ROW -->
					<div class="row">
						<!-- BEGIN SEARCH BY UNIDADE -->
						<div class="col-sm-6 col-md-3 col-lg-3">
							<div class="form-group">
								<label>Unidade</label>
								<ui-select name="unidade" id="unidade" ng-model="multipleUnidades.selected" theme="select2" class="form-control select2me" required validation-field-required="true" validation-dynamically-defined="locallyDefinedValidations" on-select="obterEstatisticas($item)">
									<ui-select-match placeholder="Selecione...">
										{{$select.selected.nmUnidade}}
									</ui-select-match>
									<ui-select-choices repeat="item as item in unidadeOptions | filter: $select.search">
										<div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
									</ui-select-choices> 
								</ui-select>
							</div>
						</div>
						<!-- END SEARCH BY UNIDADE -->
						<!-- BEGIN NOTAS OPTIONS -->
						<div class="col-sm-6 col-md-3 col-lg-3">
							<div class="form-group">
								<label>
									Período de avaliação
									<span class="required"> *</span>
								</label>
								<ui-select name="avaliacaoSel" id="avaliacaoSel" ng-model="avaliacaoPeriodo" theme="select2" class="form-control select2me" required validation-field-required="true" validation-dynamically-defined="locallyDefinedValidations" on-select="loadAvaliacoes($item)">
									<ui-select-match placeholder="Selecione...">
										{{$select.selected.nmPeriodo}}
									</ui-select-match>
									<ui-select-choices repeat="item as item in avaliacaoOptions | filter: $select.search">
										<div ng-bind-html="item.nmPeriodo | highlight: $select.search"></div>
									</ui-select-choices> 
								</ui-select>
							</div>
						</div>
						<!-- END NOTAS OPTIONS -->
					</div>
					<!-- END SEARCH ROW -->
					<br/>

					<!-- BEGIN RESULTS ROW -->
					<div class="row" ng-if=" dataList && dataList.length > 0">
						<div class="table-responsive">
							<table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-condensed table-hover" id="tablePrevAgend">
								<tbody>
									<tr ng-repeat="item in $data">
										<td title="'Funcionário'" filter="{'nmFuncionario': 'text'}" sortable="'nmFuncionario'">
											{{item.nmFuncionario}}
										</td>
										<td title="'Especialidade'" filter="{ 'nmEspecialidade' : 'text'}" sortable="'nmEspecialidade'">
											{{item.nmEspecialidade}}
										</td>
										<!-- BEGIN DIAS DE PREVISAO -->
										<td title="days[0].title" class="centering">
											<span ng-if="item.dia1 != null">
												{{item.dia1}}
											</span>
											<span ng-if="item.dia1 == null">
												N&atilde;o atende
											</span>
										</td>
										<td title="days[1].title" class="centering">
											<span ng-if="item.dia2 != null">
												{{item.dia2}}
											</span>
											<span ng-if="item.dia2 == null">
												N&atilde;o atende
											</span>
										</td>
										<td title="days[2].title" class="centering">
											<span ng-if="item.dia3 != null">
												{{item.dia3}}
											</span>
											<span ng-if="item.dia3 == null">
												N&atilde;o atende
											</span>
										</td>
										<td title="days[3].title" class="centering">
											<span ng-if="item.dia4 != null">
												{{item.dia4}}
											</span>
											<span ng-if="item.dia4 == null">
												N&atilde;o atende
											</span>
										</td>
										<td title="days[4].title" class="centering">
											<span ng-if="item.dia5 != null">
												{{item.dia5}}
											</span>
											<span ng-if="item.dia5 == null">
												N&atilde;o atende
											</span>
										</td>
										<td title="days[5].title" class="centering">
											<span ng-if="item.dia6 != null">
												{{item.dia6}}
											</span>
											<span ng-if="item.dia6 == null">
												N&atilde;o atende
											</span>
										</td>
										<td title="days[6].title" class="centering">
											<span ng-if="item.dia7 != null">
												{{item.dia7}}
											</span>
											<span ng-if="item.dia7 == null">
												N&atilde;o atende
											</span>
										</td>
										<!-- END DIAS DE PREVISAO -->
										<td class="centering" title="'Performance'" sortable="'performance'">
											{{item.performance}}%
										</td>
										<td class="centering" ng-class="{'clickable': item.notasms}" ng-click="showDetailAvaliacao(item)" title="'Nota *'" sortable="'notasms'">
											<span ng-if="item.notasms == null" style="font-style: italic;">Ainda n&atilde;o avaliado</span>
											<span ng-if="item.notasms != null">
												<div class="star-container">
													<div class="label">{{formatRate(item.notasms)}}</div>
													<star-rating rate-value="item.notasms" max="10"></star-rating>
												</div>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>					
					<!-- END RESULTS ROW -->
				</div>
			</div>
		</div>
	</div>
</div>