<style>
    
    /* FIX LAYOUT DATEPICKER RANGER */
    .input-mini {
        width: 180px !important;
    } 

    .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }

</style>
<div class="margin-top-10">
    <div class="portlet light col-md-12">
         <div class="col-md-12">    
            <div class="row">

                 <div id="imageLoading">
                     <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                </div>

            </div>
        </div>
    
        <!--BEGIN SEARCH OPTIONS -->
        <div class="row">
            <div class="col-md-12">
                        
                <!--DATEPICKER RANGE -->
                <div class="col-md-4" >
                    <label>Periodo</label>
                    <div class="form-group" >
                        <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
                        options="{eventHandlers:{'apply.daterangepicker': carregarDadosFuncionarios}, locale:localeDateRangePicker, ranges: rangesDateRangePicker, maxDate: maxDate ,alwaysShowCalendars:true, timePicker:false }" 
                        placeholder="Selecione a data" />
                    </div>      
                </div>
               <!-- END DATEPICKER RANGE  -->       

               
                <div class="col-md-12"></div>

                <!--BEGIN RESUMO TOTAIS -->
                <div class="col-md-offset-8 col-md-4" 
                 ng-show="dadosProdutividadeFuncionario.length > 0 ">  
                 
                        <div class="note note-info">
                                
                          <h4 class="block">Totais</h4> 
                               
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Funcion&aacute;rios</td>
                                <td>
                                    <span class="badge badge-success"> 
                                        {{totais.funcionarios}} 
                                    </span>
                                </td>
                              </tr>
                              <tr>
                                <td>Agendamentos criados</td>
                                <td>
                                     <span class="badge badge-success"> 
                                        {{totais.agendamentosCriados}}
                                    </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                </div>
                <!--END RESUMO TOTAIS -->
            </div>
        </div>
        <!--END SEARCH OPTIONS -->
        
        <!--BEGIN DADOS OBTIDOS  -->
        <br />
        <div class="row">
            <div class="col-md-12">            
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Dados Obtidos
                        </div>
                    </div>
                    
                    <!--FUNCIONARIO DADOS -->
                    <div class="portlet-body flip-scroll">
                        <!--TABLE FUNCIONARIOS DADOS -->
                        <br/> 
                        <em ng-show="!(dadosProdutividadeFuncionario.length > 0) ">Sem dados dispon&iacute;veis</em>                
                        <table  class="table table-bordered table-striped table-condensed flip-content" ng-show="dadosProdutividadeFuncionario.length > 0" show-filter="true"
                        ng-table="tableParams">
                            
                            <tr ng-repeat-start="item in $data" >
                                <!-- <td class="text-center">
                                   <button ng-if="item.expanded" 
                                     class="btn btn-default btn-xs"
                                     ng-click="item.expanded = false">
                                     <span class="glyphicon glyphicon-eye-close"></span>
                                   </button>
                                    <button ng-if="!item.expanded"
                                     class="btn btn-default btn-xs"
                                     ng-click="item.expanded = true">
                                     <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </td> -->
                                <td data-title="'Funcion&aacute;rio'" filter="{ 'nmFuncionario': 'text' }"
                                class="text-center"> 
                                    {{item.nmFuncionario}} 
                                </td>
                                <td data-title="'Login'" filter="{ 'nmLogin': 'text' }" class="text-center"> 
                                    {{item.nmLogin}} 
                                </td>
                                <td data-title="'Perfil'" filter="{ 'nmPerfil': 'text' }" class="text-center"> 
                                    {{item.nmPerfil}} 
                                </td>
                                <td data-title="'Cargo'" filter="{ 'nmCargo': 'text' }" class="text-center"> 
                                    {{item.nmCargo}} 
                                </td>
                                <td data-title="'Agendamentos criados'" class="text-center" sortable="'qtdAgendamento'"> 
                                    {{item.qtdAgendamento}} 
                                </td>
                                <td data-title="'Agendamentos excluidos'" class="text-center" sortable="'qtdExclusao'"> 
                                    {{item.qtdExclusao}} 
                                </td>
                                <td data-title="'Média no período'" class="text-center"> 
                                    {{item.media}} 
                                </td>
                                <td data-title="'Atividades'" class="text-center" sortable="'qtdAtividade'" > 
                                    {{item.qtdAtividade}} 
                                </td>
                            </tr>
                             <tr  ng-if="item.expanded" ng-repeat-end="">
                                <td colspan="7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <tabset>
    
                                               <!--TAB COMISSAO -->
                                                <tab>

                                                    <tab-heading>
                                                       <i class="fa fa-percent" aria-hidden="true"></i>
                                                       Comiss&atilde;o
                                                    </tab-heading>
                                            
                                                <!--List group -->
                                                <div class="row">
                                                <div class="col-md-6">
                                                <ul class="list-group">
                                                    <li class="list-group-item"> 
                                                        <strong>Consulta</strong>
                                                    </li>
                                                    <li class="list-group-item"> Total valor consultas
                                                        <span class="badge badge-info"> {{item.totalVlComissaoConsulta | currency:'R$'}} 
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item"> Qtd. de consultas
                                                        <span class="badge badge-info"> {{item.totalConsultaComissao}} 
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item"> Valor m&eacute;dio comiss&atilde;o por consulta
                                                        <span class="badge badge-danger">
                                                            {{item.vlAtendimentoConsultaComissao | currency:'R$'}} 
                                                        </span>
                                                    </li>
                                                </ul>
                                                </div>
                                                 <div class="col-md-6">
                                                <ul class="list-group">
                                                    <li class="list-group-item"> 
                                                        <strong>Procedimento</strong>
                                                    </li>
                                                    <li class="list-group-item"> Total valor procedimentos
                                                        <span class="badge badge-info"> 
                                                            {{item.totalVlComissaoProcedimento | currency:'R$'}} 
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item"> Qtd. de procedimentos
                                                        <span class="badge badge-info"> {{item.totalProcedimentoComissao}} 
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item"> 
                                                        Valor m&eacute;dio comiss&atilde;o por procedimento
                                                        <span class="badge badge-danger">
                                                            {{item.vlAtendimentoProcedimentoComissao | currency:'R$'}} 
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            </div>
                                            </tab>
                                            <!--TAB SALARIO FIXO -->
                                            <tab>
                                                <tab-heading>
                                                  <i class="fa fa-money" aria-hidden="true"></i>
                                                   Sal&aacute;rio
                                                </tab-heading>

                                                <div class="row">
                                                    <div class="col-md-6" ng-show="item.salario == null" style="margin-left:15px;">
                                                        <em>
                                                            <strong>
                                                                Profissional n&atilde;o ganha sal&aacute;rio fixo
                                                            </strong>
                                                        </em>
                                                        <br/><br/>
                                                    </div>
                                                    <div class="col-md-6" ng-show="item.salario != null">
                                                         <ul class="list-group">
                                                            <li class="list-group-item"> 
                                                                <strong>Sal&aacute;rio fixo</strong>
                                                            </li>
                                                            <li class="list-group-item"> Sal&aacute;rio
                                                                <span class="badge badge-info">
                                                                    {{item.salario | currency:'R$'}} 
                                                                </span>
                                                            </li>
                                                            <li class="list-group-item"> Total de consultas
                                                                <span class="badge badge-info">
                                                                    {{item.totalConsultaNaoComissao}} 
                                                                </span>
                                                            </li>
                                                            <li class="list-group-item"> Total de procedimentos
                                                                <span class="badge badge-info"> 
                                                                    {{item.totalProcedimentoNaoComissao}} 
                                                                </span>
                                                            </li>
                                                            <li class="list-group-item"> Valor atendimento
                                                                <span class="badge badge-danger">
                                                                    {{item.vlAtendimentoNaoComissao | currency:'R$'}} 
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </tab>
                                            <!--END TAB SALARIO FIXO -->
                                            </tabset>
                                                
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>
                       <!-- END TABLE PROFISSIONAIS VALUES -->
                    </div>
                 </div>
             </div>
        </div>
        <!-- END DADOS OBTIDOS -->
        <br/><br/>       
    </div>
</div> 

