<div class="modal-content print-content">
	<div class="row">
		<div class="modal-body col-md-12">
		    <div class="modal-body">
                <div class="col-md-12">
                    <report-detail-vidas l-vidas=lVidas company=company></report-detail-vidas>
				</div>
				<div class="modal-footer">
					<div class="text-right">
						<button class="btn green" ng-click="cancel()">
							<i class="fa fa-times" aria-hidden="true"></i>
							Fechar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
