<div class="modal-content print-content">
	<div class="row">
		<div class="modal-header text-center">
		    <h2>Guias {{itemSummary.nmEmpresaCliente}}</h2>
		</div>
		<div class="modal-body col-md-12">
		    <div class="modal-body ">
		        <div class="col-md-12">
		            <div class="row">
		                <div class="col-md-12">
							<div class="text-right">
			                    <button class="btn btn-primary right" ng-click="getReportPdf()">
			                        <i class="fa fa-print" aria-hidden="true"></i>
			                    </button>
							</div>
		                    <div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>
											</th>
											<th>
												Qtd
											</th>
											<th>
												Serviço
											</th>
											<th>
												Valor Total
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat-start="item in lDetailServico">
		                                    <td class="text-center" title="''">
		                                       	<button ng-if="item.expanded" class="btn btn-default btn-xs" ng-click="item.expanded = false">
													<span class="fa fa-chevron-up"></span>
		                                       	</button>
		                                        <button ng-if="!item.expanded" class="btn btn-default btn-xs" ng-click="item.expanded = true;">
		                                        	<span class="fa fa-chevron-down"></span>
		                                        </button>
		                                    </td>
											<td>
												{{item.lDespesas.length}}
											</td>
											<td>{{item.nmServico}}</td>
											<td>{{item.vlTotal.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}</td>
										</tr>
										<tr ng-repeat-end="" ng-if="item.expanded">
											<td colspan="5">
											    <table class="table table-striped table-bordered table-hover">
											        <thead>
											            <th>
											                Despesa
											            </th>
														<th>
															Data
														</th>
											            <th>
											                Paciente
											            </th>
											            <th>
											                Contrato
											            </th>
											            <th>
											                Valor
											            </th>
											        </thead>
											        <tbody ng-repeat="rowDespesa in item.lDespesas">
											            <td>
											                {{rowDespesa.idDespesa}}
											            </td>
														<td>
															{{rowDespesa.dateFormated}}
														</td>
											            <td>
											                {{rowDespesa.nmPaciente}}
                                                            <span ng-if="rowDespesa.nmPaciente != rowDespesa.nmCliente" title="Titular: {{rowDespesa.nmCliente}}" class="text-primary hidden-print">
                                                                &nbsp;<i class="fa fa-info-circle"></i>
                                                            </span>
											            </td>
											            <td>
											                {{rowDespesa.nrContrato}}
											            </td>
											            <td>
											                {{rowDespesa.vlServico.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}
											            </td>
											        </tbody>
											    </table>
											</td>
										</tr>
									</tbody>
								</table>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="modal-footer">
		            <div class="text-right">
		                <button class="btn green" ng-click="cancel()">
							<i class="fa fa-times" aria-hidden="true"></i>
							Fechar
						</button>
		            </div>
		         </div>
		    </div>
		</div>
	</div>
</div>
