<div class="margin-top-10 hidden-print">
	<div class="portlet light col-md-12">
	     <div class="col-md-12">
            <div class="row">
                <div id="imageLoading">
                     <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                </div>
            </div>
	    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-4" >
                        <label>Período</label>
                        <div class="form-group" >
                            <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" options="{eventHandlers:{'apply.daterangepicker': applyFilter}, locale:localeDateRangePicker, ranges: rangesDateRangePicker, maxDate: maxDate ,alwaysShowCalendars:true, timePicker:false }" placeholder="Selecione a data" />
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-4" ng-show="lFaturamentoConveniada.length > 0 ">
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                        </div>
                        <div class="note note-info note1">
                            <h4 class="block; text-center red"><b>Geral</b></h4>
                            <table class="table">
	                            <tbody>
	                                <tr>
	                                    <td>Despesa</td>
	                                    <td class="text-center">
	                                        <span ng-if="summary.despesa != 'Aguarde...'">
	                                            {{summary.despesa | currency: 'R$ '}}
	                                        </span>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td>Mensalidade</td>
	                                    <td class="text-center">
	                                        {{summary.mensalidade | currency: 'R$ '}}
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td><b>Total</b></td>
	                                    <td class="text-center">
	                                        <b>
	                                            {{summary.total | currency: 'R$ '}}
	                                        </b>
	                                    </td>
	                                </tr>
	                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="pull-left" >
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="openModalFaturarGeral()">Faturar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
		    <div class="col-md-12">
		        <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <span ng-show="!(lFaturamentoConveniada.length > 0)">
                                {{messageLoading}}
                            </span>
                            <span ng-show="(lFaturamentoConveniada.length > 0)">
                                Dados
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table  class="table table-bordered table-striped table-condensed flip-content" ng-show="lFaturamentoConveniada.length > 0" ng-table="tableParams">
                            <tbody>
                                <tr ng-repeat-start="item in $data">
                                    <td title="'Status'" sortable="'boBloqueado'" class="text-center" style="width: 5%">
										<span ng-if="!item.boBloqueado" class="lead text-success" title="Liberado">
											<i class="fa fa-check-square x-large"></i>
										</span>
										<span ng-if="item.boBloqueado" class="lead text-danger" title="Bloqueado">
											<i class="fa fa-minus-square x-large"></i>
										</span>
                                    </td>
                                    <td title="'Cobranças'" class="text-center" style="width: 6%">
                                        <a href="javascript:;" ng-click="openModalHistory(item.idEmpresaCliente)" class="lead text-info" title="Histórico de Cobranças">
											<i class="fa fa-money x-large" aria-hidden="true"></i>
										</a>
                                    </td>
                                    <td class="text-center" sortable="'totalVidas'" title="'Vida(s)'" style="width: 5%">
                                        <a ng-if="0 < item.totalVidas && row.label != 'Total:'" href="javascript:;"
                                           ng-click="openModalVida(item)" class="text-info">
                                            <strong>
                                                {{item.totalVidas}}
                                            </strong>
                                        </a>
                                        <span ng-show="0 == item.totalVidas || row.label == 'Total:'">{{item.totalVidas}}</span>
                                    </td>
                                    <td class="text-center" title="'*'">
                                       	<button ng-if="item.expanded" class="btn btn-default btn-xs" ng-click="item.expanded = false" title="Detalhes">
											<span class="glyphicon glyphicon-eye-close"></span>
                                       	</button>
                                        <button ng-if="!item.expanded" class="btn btn-default btn-xs" ng-click="item.expanded = true" title="Detalhes">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </button>
                                    </td>
                                    <td title="'Conveniada'" sortable="'nmEmpresaCliente'">
                                        {{item.nmEmpresaCliente}}
                                    </td>
                                    <td class="text-right" title="'Total'" sortable="'vlTotal'">
                                        <span class="badge badge-danger">
											<span class="text-large">
                                            	{{item.vlTotal | currency: 'R$ '}}
											</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr ng-if="item.expanded" ng-repeat-end="">
                                    <td colspan="7">
                                        <div class="row">
                                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                                            <div class="col-md-12">
                                                <tabset>
                                                    <tab>
                                                        <tab-heading>
                                                            <i class="fa fa-table" aria-hidden="true"></i>
                                                            Detalhes
                                                        </tab-heading>
                                                        <div class="row"  >
                                                            <div class="col-md-6" >
                                                                <div class="panel panel-primary" >
                                                                        <div class="panel-heading">
                                                                            <h3 class="panel-title">Dados detalhados</h3>
                                                                        </div>
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead class="thead-inverse">
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Serviços</th>
                                                                                <th>Vidas</th>
                                                                                <th>Valor</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="float-left">
                                                                            <tr ng-repeat="row in item.detail">
                                                                                <th>
                                                                                    {{row.label}}
                                                                                </th>
                                                                                <td class="text-center">
																					<a ng-if="0 < row.servico" href="javascript:;"
                                                                                       ng-click="openModalDatailServico(item)" class="text-info">
																						<strong>
                                                                                    		{{row.servico}}
																						</strong>
																					</a>
																					<span ng-show="0 == row.servico">{{row.servico}}</span>
                                                                                </td>
                                                                                <td class="text-center">
																					<a ng-if="0 < row.vida && row.label == 'Mensalidade:'" href="javascript:;" ng-click="openModalVida(item)" class="text-info">
																						<strong>
                                                                                    		{{row.vida}}
																						</strong>
																					</a>
																					<span ng-show="0 == row.vida && row.label == 'Mensalidade:'">{{row.vida}}</span>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    R$ {{row.valor}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                </tabset>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
     		    </div>
		    </div>
        </div>
	</div>
</div>
