<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-primary right" ng-click="getPdfReportDetailVidads()">
            <i class="fa fa-print" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>Vidas</h2>
        </div>
        <div class="col-md-4">
            <h3>Total: {{patient.vlTotal.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}</h3>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Plano
                    </th>
                    <th>
                        N° Contrato
                    </th>
                    <th>
                        Valor Contrato
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="item in patient.listPaginated[page] track by $index" ng-show="item.titular">
                    <td class="text-center">
                       	<button ng-if="lShowing[item.nrContrato]" class="btn btn-default btn-xs" ng-click="hideChildrenContrato(item.nrContrato)">
							<span class="fa fa-chevron-up"></span>
                       	</button>
                        <button ng-if="!lShowing[item.nrContrato] && item.hasChild" class="btn btn-default btn-xs" ng-click="showChildrenContrato(item.nrContrato)">
                        	<span class="fa fa-chevron-down"></span>
                        </button>
                    </td>
                    <td>
                        <strong>{{item.name}}</strong>
                    </td>
                    <td>
                        {{item.nmPlano}}
                    </td>
                    <td>
                        {{item.nrContrato}}
                    </td>
                    <td>
                        {{item.vlContrato.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="!item.titular" ng-show="lShowing[item.nrContrato]">
                    <td>
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td colspan="4">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right pagination">
            <ul class="pagination">
                <!--
                <li class="page-first disabled">
                <a href="javascript:void(0)">«</a>
                </li>
                <li class="page-number active"><a href="javascript:void(0)">1</a></li>
                -->
                <li ng-repeat="item in patient.listPaginated track by $index" ng-if="($index <= (page + limitLinksToPagination) && $index >= (page - limitLinksToPagination)) || ($index == (patient.listPaginated.length - 1) || (0 == $index))" ng-class="{'active': $index == page}" class="page-number">
                    <a href="javascript:void(0)" ng-click="goToPage($index)">
                        {{$index + 1}}
                    </a>
                </li>
                <!--
                <li class="page-next"><a href="javascript:void(0)">›</a></li>
                <li class="page-last" ng-if="patient.listPaginated.length > limitLinksToPagination">
                    <a href="javascript:void(0)"  ng-click="goToPage(patient.listPaginated.length -1)">» {{patient.listPaginated.length}}</a>
                </li>
                -->
            </ul>
        </div>

    </div>
</div>
