<!-- <div class="row" >
	<div class="col-md-12">
		<div class="portlet light">
			<!-- BEGIN TITLE --
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject 
					 font-{{cssStyleObject.color}} bold uppercase">Processos Judiciais</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
            <!-- END TITLE --

            <div class="portlet box {{cssStyleObject.color}}">
                <div class="portlet-body">
                <!--BEGIN OPTIONS GERAIS --
                <br/>
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-xs {{cssStyleObject.color}}"
                            ng-click="goToCadastrarProcesso()">
                            Nova
                            <i class="fa fa-plus" aria-hidden="true"></i>			
                        </button>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">Vencimento:</label> 	
                    </div>
                    <!--DATEPICKER RANGE --
                    <div class="col-md-2" style="width: 18%">
                        <div>
                           <input date-range-picker 
                            class="form-control date-picker text-center" type="text" 
                            ng-model="dataFiltro.date" placeholder="Pesquisa por data." 
                            options="{eventHandlers:{'apply.daterangepicker':changeDateLoadContaDespesa}, locale: localeDateRangePicker, ranges:
                            rangesDateRangePicker,alwaysShowCalendars:false, showCustomRangeLabel:true ,timePicker:false }" 
                            />
                        </div>      
                    </div>
                    <!-- END DATEPICKER RANGE  -
                    <!-- BEGIN EMPRESAS -
                    <div class="col-sm-push-1 col-md-2">
                        <label class="control-label">
                            Empresa <span class="required"> * </span>
                        </label>
                    </div>
                    <div class="col-md-offset col-md-4">
                        <div class="form-group">
                            <ui-select id="selEmpresa" name="selEmpresa"
                            ng-model="empresaFinanceiro.selected"  class="form-control select2me" theme="select2" append-to-body="true" search-enabled="true" autofocus> 
                                <ui-select-match aria-placeholder="Selecione a empresa...">
                                    {{$select.selected.nmFantasia}}
                                </ui-select-match>
                                <ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
                                    <div ng-bind-html="item.nmFantasia | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- END EMPRESAS--
                </div>

                <div class="table-responsive" ng-show="totalRegistro > 0" style="margin-top: 0.5%">
                        <table id="table_centroCusto" ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-hover">
                            <tr ng-repeat="item in $data">
                                <td data-title="'Vencimento'" class="text-center"
                                sortable="'dtVencimento'"> 
                                    <a ng-click="goToCadastrarConta(item)"
                                      class="table-main-link">
                                        20/11/2017
                                    </a>
                                </td>
                                <td data-title="'Documento'" class="text-center" 
                                 filter="{ 'nrDocumento': 'text' }" 
                                 sortable="'nrDocumento'"> 
                                    <!-- {{item.nrDocumento }} 	 -- 51651651681
                                </td>
                                <td data-title="'Conta Cont&aacute;bil'" 
                                filter="{ 'contaContabil.nmContaContabil': 'text' }" 
                                sortable="'contaContabil.nmContaContabil'"> 
                                 {{item.contaContabil.nmContaContabil}} 
                                 </td>
                                 <td data-title="'Parcela'" class="text-center"> 
                                  <span class="label label-primary">
                                     {{item.nrOrdemParcela +'/'+ item.nrQuantidadeParcelas}} 
                                  </span>
                                 </td>
                                 <td data-title="'Valor Pago'" class="text-center" sortable="'vlPago'">
                                    {{item.vlPago | currency: 'R$'}}  <br/>
                                    <div ng-show="item.vlPago != null">
                                        <!-- <small style="color:green;" ng-show="item.vlPago - item.vlDespesa > 0">
                                            <i class="fa fa-arrow-up font-green-meadow" aria-hidden="true"></i>
                                            {{item.vlPago - item.vlDespesa | currency:"R$"}}
                                        </small> -
                                        <small style="color:green;" ng-show="item.vlPago - item.vlDespesa < 0">
                                            <i class="fa fa-arrow-down font-green-meadow" aria-hidden="true"></i>
                                            {{ item.vlDespesa - item.vlPago  | currency:"R$"}}
                                        </small>
                                         <small style="color:red;" ng-show="item.vlPago - item.vlDespesa > 0" >
                                             <i class="fa fa-arrow-up font-red-sunglo " aria-hidden="true"></i>
                                                {{ item.vlDespesa - item.vlPago | currency:"R$"}}	
                                         </small>
                                     </div>
                                 </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->