<!-- <div class="row" >
        <div class="col-md-12">
            <div class="portlet light">			
                <!-- BEGIN CONTENT --
                <div class="portlet-body ">
                    <form>
                        <!--BEGIN FLUXO PRINCIPAL CADASTRO -
                        <div class="row">
                            <div class="col-md-6" >
                                <div class="row">
                                    <!-- NR DOCUMENTO -
								    <div class="col-md-3">
                                        <label class="control-label">
                                            Nr.Processo <span class="required"> * </span>
                                        </label>
                                           <input id="nrDocumento" type="text" class="form-control input-sm" 
                                           ng-model="judicialFinanceiro.nrDocumento" 
                                           ng-blur="verificarDocumentoDuplicado(judicialFinanceiro.nrDocumento)"> 
                                    </div>
                                    <!-- END NR DOCUMENTO -

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 -->