<style>
    .table thead tr th {
        font-size:10px;
        font-weight: 600;
    }
    .body {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 10px;
        direction: ltr;
    }

    .accordion-heading{
        background: white;
    }
    .accordion-toggle::after {
        font-family: 'FontAwesome';
        content: "\f078";    
        float: right;
    } 
    .accordion-opened .accordion-toggle::after {    
        content: "\f054";
    }  
   
</style>

<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center">Anexar Documentos</h4>
</div>
<form>
    <div class="modal-body"  style:"width: 100px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                    &nbsp;&nbsp;
                    <div id="qrcode" class="text-center"></div>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <button class="btn green" ng-click= "ok()"> Ok </button>
                <button class="btn green" ng-click="close()">Fechar</button>
            </div>
         </div> 
    </div>
</form>

