<div ng-controller="TriagemAtendimentoPacienteTriagem">
	<div class="portlet light">
		
		<!-- BEGIN TITLE-->
		<div class="portlet-title">
			<div class="caption caption-md">
				<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Informa&ccedil;&otilde;es</span>
			</div>
		</div>
		<!-- END TITLE-->

		<div class="portlet-body " >
			<div class="row">
				<!-- BEGIN FORM TRIAGEM -->
				<form id="formTriagem" name="formTriagem" novalidate>
					<div class="form-body">

						<div class="col-md-6">
							<div class="form-group">	
								<label for="vlPeso">Peso</label>
								<div class="input-group">
							    	<input type="number" class="form-control" id="vlPeso" 
							     		ng-model="triagemDTO.vlPeso">
							     	<div class="input-group-addon">kg</div>
						     	</div>
							</div>
						</div>

						<div class="col-md-6">
						    <div class="form-group">
						    	<label for="vlAltura">Altura</label>
						   	     <div class="input-group">
							    	<input type="text" class="form-control" id="vlAltura"
							    	 ng-model="triagemDTO.vlAltura">
							    	 <div class="input-group-addon">m</div>
						    	</div>
						    </div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="tipoSanguineo">Tipo Sanguineo</label>	
								<input type="text" class="form-control" id="tipoSanguineo" 
								ng-model="triagemDTO.nmTipoSanguineo" maxlength="3" >
							</div>
						</div>

					    <div class="col-md-6">
					    	<div class="form-group">
								<label for="temperatura">Temperatura</label>
								<div class="input-group">
									<input type="text" class="form-control" id="temperatura"    ng-model="triagemDTO.vlTemperatura">
									<div class="input-group-addon">&ordm;C</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="vlGlicose">Glicose</label>
								<input type="number" class="form-control" id="vlGlicose" 
								ng-model="triagemDTO.txGlicose">
							</div>
						</div>

						<div class="col-md-12">
						</div>


						<div class="col-md-6">
							<div class="form-group">
								<label for="vlPa">P.A.</label>
								<input type="text" class="form-control" id="vlPa" 
								ng-model="triagemDTO.nmPressaoArterial" maxlength="10">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="vlPaExcelente">P.A.Excelente</label>
								<input type="text" class="form-control" id="vlPaExcelente"
							       ng-model="triagemDTO.nmPressaoArterialExcelente" maxlength="10">
							</div>
						</div>
					</div>
				
				
					<div class="col-md-12">
						<div class="text-right" style="margin-top:30px;">
							<input type="submit" class="btn btn-success" 
							ng-click="updateTriagem()" ng-disabled="buttonSaveDisable" 
							value="Salvar" />
						</div>
					</div>
					
				</form>	
				<!-- END FORM TRIAGEM -->
			</div>
		</div>			
	</div>	
</div>

<script>

	$(document).ready(function() {
		
		$("#vlAltura").inputmask("9.99");
		$("#temperatura").inputmask("99");

	});
</script>