<!-- 
@author : Joelton Matos
@since : 11-05-2016
@last-modification: 30-06-2016
@version : 1.2 
-->

<style>
    #nmClienteLink {
        text-decoration:underline; 
        color: #0099CC;
    }
</style>

<div class="margin-top-10">
	<div class="portlet light col-md-12">
	     <div class="col-md-12">	
            <div class="row">

                 <div id="imageLoading">
                     <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                </div>

            </div>
	    </div>
	
        <!-- BEGIN SEARCH OPTIONS -->
        <div class="row" >
            <form role="form">
                <div class="form-body">

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <!-- COMBO UNIDADE -->
                            <div class="form-group">
                                <label>Unidade</label>
                                <div class="input-group">
                                    <div>
                                        <ui-select 
                                            ng-model="unidadeSelecionada.idUnidade" 
                                            theme="select2" class="form-control select2me" 
                                            on-select="loadEspecialidadesUnidade( $item.id )" 
                                            name="nmUnidade" id="nmUnidade" 
                                            style="min-width: 400px;" 
                                            append-to-body="true"> 
                                            
                                            <ui-select-match placeholder="Selecione a unidade ">
                                                {{$select.selected.nmUnidade}}
                                            </ui-select-match> 
                                            <ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
                                                <div ng-bind-html="item.nmUnidade | highlight: $select.search"></div>
                                            </ui-select-choices> 
                                        </ui-select>    
                                    </div>
                                </div>
                            </div>
                            <!-- END COMBO UNIDADE -->
                           
                            <!-- MULTI SELECT ESPECIALIDADE -->    
                            <div class="form-group">
                                <label>Especialidade</label>
                                <ui-select multiple 
                                    ng-model="multipleEspecialidades.selectedEspecialidade " 
                                    theme="bootstrap" ng-disabled="disabled" 
                                    sortable="true" close-on-select="true" 
                                    style="width: 400px;" on-select="loadProfissionaisEspecialidade(false)"
                                    on-remove="removerEspecialidade($item, $model)">

                                    <ui-select-match placeholder="Selecione especialidades...">
                                        {{$item.nmEspecialidade}}
                                    </ui-select-match>

                                    <ui-select-choices repeat="item as item in especialidadeOptions | filter: $select.search">
                                      <div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <!-- END MULTI SELECT ESPECIALIDADE -->     

                        </div>

                        <div class="col-md-6">
                            <!-- PROFISSIONAIS -->
                            <div class="form-group" ng-show="profissionalOptions.length > 0">
                                <label>Profissional</label>   
                                <div class="row">
                                    <div ng-repeat="profissional in profissionalOptions">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input 
                                                        type="checkbox"
                                                        checklist-model="profissionaisSelecionado.selecionados"
                                                        ng-checked="profissional.checked"
                                                        checklist-value="profissional"
                                                        checklist-change="checkProfissional(profissional)"
                                                        value="{{profissional.nmFuncionario}}"> 
                                                </span>
                                                <input 
                                                    type="text" 
                                                    class="form-control"
                                                    type="text"
                                                    ng-model="profissional.nmFuncionario"
                                                    ng-disabled="true"
                                                    style="background-color:white; width: 200px;"
                                                    title="{{profissional.nmFuncionario}}" > 
                                            </div><br/>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- END PROFISSIONAIS -->
                        </div>
                    </div>
                </div>
             </form>
        </div>
        <!-- END SEARCH OPTIONS -->
        
        <!--BEGIN TOTAIS-->
        <br/><br/>
        <div>
              <div class="form-group text-right" style="margin-right:17px;" ng-show="canSeeAgendamentos">
                  
                   <div class="label  label-primary">
                       <i class="fa fa-thumbs-up" title="Atendidos"></i> 
                        Atendidos {{totalAtendidos}}
                   </div> 
                    <!-- &nbsp;
                    <div class="label label-default">
                        <i class="fa fa-clock-o" title="Faltosos"></i>
                         Ausentes {{totalFaltosos}} 
                     </div> -->
                      &nbsp;
                      <div class="label label-warning">
                        <i class="fa fa-user" title="Presentes"></i>
                         PResentes {{totalPresentes}} 
                     </div>
                </div> 
        </div>
         <!--END TOTAIS-->

        <!-- BEGIN AGENDAMENTOS APTOS -->   
        <div class="row">
		<div class="col-md-12" ng-show="canSeeAgendamentos">			
			<div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clock-o"></i>Pacientes a serem triados
                        
                    </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <br/>
                    <div class="text-left">
                         <a ng-click="atualizarAgendamentos()" class="btn btn-default btn-xs ">Atualizar</a>
                     </div>
                     <br/>
                    <table 
                        class="table table-bordered table-striped table-condensed flip-content" 
                        ng-table="tableParams">
                        <thead class="flip-content">
                            <tr>
                                <th class="text-center numeric"> Paciente </th>
                                <th class="text-center"> Idade </th>
                                <th class="text-center"> Especialidade </th>
                                <th class="text-center"> Profissional </th>
                                <th class="text-center numeric"> Servi&ccedil;o </th>
                                <th class="text-center"> Hr. Presenca </th>
                                <th class="text-center"> Hr. Ficha </th>
                                <th class=" text-center numeric"> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $data" >
                                <td>
                                    <a ui-sref="triagem-atendimentoPaciente({tipoCliente:item.inTipoPaciente,
                                    idPaciente:item.idPaciente,
                                    nmPaciente:item.nmPaciente,
                                    idAgendamento:item.idAgendamento,
                                    boPrioridade:item.boPrioridade,
                                    idEspecialidade: item.idEspecialidade})" id="nmClienteLink">{{item.nmPaciente}}</a>
                                </td>
                                <td>{{item.idade}}</td>
                                <td>{{item.nmEspecialidade}}</td>
                                <td>{{item.nmProfissional}}</td>
                                <td>{{item.nmServico}}</td>
                                <th class="text-center">{{item.horaPresenca}}</th>
                                <th class="text-center">{{item.hrFicha}}</th>
                                <td>
                                	<div class="actions text-center">
										<span class="label label-danger" ng-show="!item.boStatusTriagem"> PENDENTE </span>
                                         <span class="label label-success" ng-show="item.boStatusTriagem"> TRIADO </span>
									</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
        		</div>
     		</div>
		</div>
        </div>
        <!-- END AGENDAMENTOS APTOS -->
       
        <!-- BEGIN RESUMO ATENDIMENTO -->
        <br />
        <div class="row"  ng-show="isSemAgendamento" style="margin-left:20%">
            <div class="col-md-12">
                <h4>Ol&aacute;, <strong>{{profissional.nmFuncionario}}</strong></h4>
            </div>
        </div>
        <!-- END RESUMO ATENDIMENTO -->
         <div ng-show="isSemAgendamento" style="margin-left:21%">
                <em>Sem pacientes no momento para este filtro.</em>
                 &nbsp; &nbsp;
                <a ng-click="atualizarAgendamentos()" class="btn btn-primary btn-xs ">Atualizar lista pacientes </a>
        </div>
        <br/><br/>       
	</div>
</div>