<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12">
			<div id="painel-details" class="profile-sidebar" ng-hide="showDetails">
				<div class="portlet light ">
					<div class="profile-userpic profile-sidebar-portlet">
						<img src="assets/admin/pages/media/profile/avatar.gif" class="img-responsive" ng-if="selectedCliente.fotoClienteDecoded == null">
					</div>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							{{nmPaciente}}
						</div>
					</div>
					<div class="profile-usermenu">
						<ul class="nav">
							
							<li ng-class="{active: $state.includes('triagem-atendimentoPaciente.triagem')}">
								<a ui-sref="triagem-atendimentoPaciente.triagem"> 
									<i class="fa fa-file-text-o" aria-hidden="true"></i>
									Triagem
								</a>
							</li>
						</ul>
					</div><!-- END SIDE BAR -->

					<div class="text-center">
						<button class="btn btn-warning btn-xs"
                         ng-disabled="buttonFinalizarDisabled"
                         ng-click="finalizarAtendimento()">
							Finalizar triagem
						</button>
					</div>
					<br>
				</div>
			</div>			

			<div ui-view class="profile-content fade-in-up">
				<div ng-include="'templates/admin4_material_design/angularjs/views/triagem/paciente-triagem.html'">
				</div>
			</div><!--END CONTENT PAGE -->
		</div>
	</div>
</div>