<div class="margin-top-10">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption"></div>
				</div>
				<div class="portlet-body">
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					<!-- EMPRESA FINANCEIRO SELECT -->
					<div class="row">
						<div class="col-md-offset-3 col-md-6">
							<div class="form-group">
								<ui-select id="selEmpresaStart" name="selEmpresaStart"
				             	ng-model="empresaFinanceiro.selected" class="form-control select2me" 
				             	theme="select2" append-to-body="true" search-enabled="true" autofocus 
				             	on-select="loadInformacaoDahsBoard()"> 
				             		<ui-select-match placeholder="Selecione a empresa...">
										{{$select.selected.nmFantasia}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
										<div ng-bind-html="item.nmFantasia | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
					</div>
					<!-- END EMPRESA FINANCEIRO SELECT -->
					
					<br/>
					<!-- CARDS RESUMO -->
					<h3 class="font-blue" ng-show="canShowData">Resumo</h3>
					<div class="row" ng-show="canShowData">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					        <div class="dashboard-stat red">
					            <div class="visual">
					               <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
					            </div>
					            <div class="details">
					                <div class="number">
					                    <span data-counter="counterup">{{cardTotal.totalVencidas.qtd}}</span></div>
					                <div class="desc"> titulos vencidos </div>
					            </div>
					            <a class="more" ng-click="goToContas(0)">
					            	{{cardTotal.totalVencidas.vlTotal }}
					                <i class="m-icon-swapright m-icon-white"></i>
					            </a>
					        </div>
					    </div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="dashboard-stat yellow-crusta">
					            <div class="visual">
					               <i class="fa fa-clock-o" aria-hidden="true"></i>
					            </div>
					            <div class="details">
					                <div class="number">
					                    <span data-counter="counterup">
					                    	{{cardTotal.totalVencerDtAtual.qtd}}
					                    </span>
					                </div>
					                <div class="desc">titulos para hoje</div>
					            </div>
					            <a class="more" ng-click="goToContas(1)"> 
					            	<strong>{{cardTotal.totalVencerDtAtual.vlTotal }}</strong>
					            	<i class="m-icon-swapright m-icon-white"></i>
					            </a>
					        </div>
					    </div>	
					   
					    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					        <div class="dashboard-stat green">
					            <div class="visual">
					              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
					            </div>
					            <div class="details">
					                <div class="number">
					                    <span data-counter="counterup">{{cardTotal.totalVencerSemana.qtd}}</span>
					                </div>
					                <div class="desc"> titulos proximos sete dias</div>
					            </div>
					            <a class="more" ng-click="goToContas(2)"> 
					            	{{cardTotal.totalVencerSemana.vlTotal }}
					            	<i class="m-icon-swapright m-icon-white"></i>
					            </a>
					        </div>
					    </div>
					</div><br/>
					<!-- END CARDS RESUMO -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- GRAFICO DESPESA X MES -->
<div class="row"  ng-show="canShowData">
	<div class="col-md-12 col-sm-12">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-blue">
					Histórico dos últimos meses / Previsão para os próximos
				</div>
			</div>
			<div class="portlet-body">
	            <div id="site_statistics_content" ng-repeat="dados in dadosGrafico">
	                <c3chart bindto-id="{{contasPorMes.grafico.id}}">
						<chart-column column-id="x" 
						column-values="{{contasPorMes.grafico.mesArray}}"/>

						<chart-column ng-show="mesAtual == contasPorMes.grafico.mesArray" column-id="y"
			           		column-name="Total"
			            	column-color="#3598DC"
			            	column-values="{{contasPorMes.grafico.vlTotalArray}}"
							column-type="bar"/> 
						
						<chart-axes values-x="x"/>

						<chart-axis>
						    <chart-axis-x axis-position="outer-center" 
						                  axis-type="category">
						    </chart-axis-x>

						     <chart-axis-y>
						        <chart-axis-y-tick axis-id="y" tick-format="$,"/>
						     </chart-axis-y>
					  	</chart-axis>
					</c3chart>
	            </div>
			</div>
		</div>
	</div>
</div>
<!-- END GRAFICO DESPESA X MES -->

