<div class="modal-header">
	<h4 class="modal-title">Escolha Conta Banc&aacute;ria</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<!-- conta bancaria -->
			<div class="form-group">
				<div>
					<h4>Gostaria de movimentar</h4>
					 <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {{valorEntrada | currency: 'R$'}} </div>
                            <div class="desc"></div>
                        </div>
                    </div>
				</div>
				<h4 class="control-label">
					Para qual conta banc&aacute;ria dispon&iacute;vel ?
				</h4>
				<ui-select id="selContaBancaria" name="selContaBancaria"
		        ng-model="contaBancaria.selected" class="form-control input-sm select2me" 
		        search-enabled="false" theme="select2" append-to-body="false"> 
	         		<ui-select-match
					placeholder="Selecione...">
						{{$select.selected.nmContaBancaria}}
					</ui-select-match> 

					<ui-select-choices repeat="item.id as item in contasBancariaOptions | filter: $select.search">
						<div ng-bind-html="item.nmContaBancaria | highlight: $select.search"></div>
						<small class="label"  
						ng-class="{'label-yellow': item.banco.cdbanco == '001','label-blue': item.banco.cdbanco == '104','label-danger': (item.banco.cdbanco == '237' && item.nrContaBancaria != '000000' ), 'label-red-soft': item.banco.cdbanco == '033' ,'label-purple':(item.banco == null || item.nrContaBancaria == '000000' )}"
						ng-bind-html="'' + (item.nrContaBancaria != '000000' ? item.banco.nmBanco : 'INTERNO' )   | highlight: $select.search"></small><br/>
						<small><b>{{item.nrContaBancaria + '-' + item.nrDigitoVerificador + '|' }}</b>
						</small>
						<b><small><span ng-bind-html="''+ item.agencia.nmAgencia | highlight: $select.search"></span></small></b>
					</ui-select-choices> 
				</ui-select>  
			</div>
			<!-- end conta bancaria -->
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" type="button" ng-click="ok()">OK</button>
	<!-- <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button> -->
</div>