<div class="margin-top-10">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption"></div>
				</div>
				<div class="portlet-body">
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					<div class="row">
                        <div class="col-sm-12 col-md-4" ng-repeat="empresa in empresaOptions">
                            <div class="thumbnail">
                            	<img ng-src="assets/global/img/empresa/{{empresa.empresaFinanceiro.nmFantasia}}.jpg" alt="empresas" style="width: 100%; height: 200px;">
                                <div class="caption">
                                    <h4 tooltip="{{empresa.empresaFinanceiro.nmFantasia}}" 
                                    class="text-center">
                                    	{{(empresa.empresaFinanceiro.nmFantasia )}}
                                    </h4>
                                    <p class="text-center">
                                    	<a href="javascript:;" class="btn blue" ng-click="goToCaixa(empresa)" >
                                    		Conferir 
                                    	</a>
                                    </p>
                                </div>
                            </div>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>