<style>
	.button-cancel {
		border: 1px solid #E35B5A;
		transition-duration: 0.4s
	}

	.button-cancel:hover {
		background-color: #E35B5A;
		color: white;
	}
</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption"></div>
				</div>
				<div class="portlet-body">
					<div class="row">
					<div class="jumbotron">
						<div style="margin-left:20px;">
						  <h1>
						  	{{caixaSelected.nmFantasia}} 
						  	<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading> 
						  </h1> 
						  <p> 
						  	<label>{{caixaSelected.nmCaixa}}</label> 
						  	<label class="label label-blue" ng-show="caixaSelected.inStatus == 0">
						  		Aberto
						  	</label>
						  	<label class="label label-danger" ng-show="caixaSelected.inStatus == 1 && caixaSelected.idConferente == null ">
						  		Fechado
						  	</label>
						  	<label class="label label-success" ng-show="caixaSelected.inStatus == 1 && caixaSelected.idConferente != null">
						  		Conferido
						  	</label>
						  </p> 
					  	</div>
					</div>
					<div class="container">
					  <p> <strong>Operador:</strong>&nbsp;{{caixaSelected.nmOperador}}</p> <br/>
					  <p ng-show="caixaSelected.idConferente"> <strong>Conferente:</strong>&nbsp; {{caixaSelected.nmConferente}} </p> <br/>
					</div>

					</div>
					
					<div class="row">
	                	<!-- TABLE OPERACAOES -->
	                	<div class="table-responsive" cg-busy="{promise:movCaixaRequest,message:'Aguarde'}">
	                		<table class="table table-striped table-hover" ng-table="tableParamsOperacao" >
	                			<caption class="text-center">Movimentacoes</caption>
	                			<tbody>
	                				<tr ng-repeat="mov in $data ">
	                					<td data-title="'N&uacute;mero'">{{mov.idMovimentacaoCaixa}}</td>
	                					<td data-title="'Opera&ccedil;&atilde;o'">{{mov.nmTipoEntSaiCaixa}}</td>
	                					<td data-title="'Movimenta&ccedil;&atilde;o'">{{mov.nmMovimentacaoCaixa}}</td>
	                					<td data-title="'Operador'">{{mov.nmFuncionarioMovimentacao}}</td>
	                					<td data-title="'Valor'">{{mov.vlMovimentacaoCaixa | currency:'R$'}}</td>
	                					<td data-title="'C/D'">
	                						<i class="fa fa-plus-circle font-green-jungle" 
	                						tooltip="credito" ng-if="mov.inTipoOperacao == 'ABERTURA' || mov.inTipoOperacao == 'ABASTECIMENTO'">
											</i>

											<i class="fa fa-minus-circle font-red" 
	                						tooltip="d&eacute;bito" ng-if="mov.inTipoOperacao == 'FECHAMENTO' || mov.inTipoOperacao == 'RETIRADA' || mov.inTipoOperacao == 'ESTORNO_PAGAMENTO'">
											</i>
	                					</td>
	                					<td  data-title="'Data'" >{{mov.dtMovimentacaoCaixa}}</td>
	                				</tr>
	                			</tbody>
	                		</table>
	                	</div>
	                	<!-- END TABLE OPERACAOES -->
						 <tabset style="margin-top:30px;">
						 	<!-- TAB DESPESAS -->
						 	<tab>
		                    	<tab-heading>
		                        	<i class="fa fa-envelope" aria-hidden="true"></i>
		                        	Mensalidades
		                        </tab-heading>
		                       	
		                       	<!-- TABLE MENSALIDADES -->
			                	<div class="table-responsive">
			                		<em ng-show="movimentacaoCaixaDTO.conferenciaMensalidadeList.length == 0">
			                			<strong>Sem dados dispon&iacute;veis</strong>
			                		</em>
			                		<table class="table table-striped table-hover"  ng-table="tableParamsMensalidade" 
			                		show-filter="true"  ng-show="movimentacaoCaixaDTO.conferenciaMensalidadeList.length > 0">
			                			<caption class="text-center">Mensalidades</caption>			                			
			                			<tbody>
			                				<tr ng-repeat="mov in $data">
			                					<td data-title="'Mensalidade'">{{mov.nrMensalidade}}</td>
			                					<td data-title="'Contrato'" filter="{ 'nrContrato': 'text' }" >
			                						{{mov.nrContrato}}
			                					</td>
			                					<td data-title="'Cliente'" filter="{ 'nmCliente': 'text' }" >
			                						{{mov.nmCliente}}
			                					</td>
			                					<td data-title="'Plano'">{{mov.nmPlano}}</td>
			                					<td data-title="'Vencimento'">
			                						{{mov.dtVencimento}}
			                					</td>
			                					<td data-title="'Valor'" filter="{ 'vlPago': 'number' }" class="text-right">
			                						{{mov.vlPago | currency: 'R$'}}
			                					</td>
			                					<td data-title="'Forma de Pagamento'" filter="{ 'nmFormaPagamento': 'text' }" >
			                						{{mov.nmFormaPagamento}}
			                					</td>
			                					<td data-title="'Pagamento'">{{mov.dtMovimentacaoCaixa}}</td>
			                				</tr>
			                			</tbody>
			                		</table>
			                	</div>
			                	<!-- END TABLE MENSALIDADES -->  
		                    </tab>
		                    <tab>
		                    	<tab-heading>
		                        	<i class="fa fa-sticky-note" aria-hidden="true"></i>
		                        	Despesas
		                        </tab-heading>

		                        <!-- TABLE DESPESAS -->
			                	<div class="table-responsive">
			                		<em  ng-show="movimentacaoCaixaDTO.conferenciaParcelaList.length == 0">
			                			<strong>Sem dados dispon&iacute;veis</strong>
			                		</em>
			                		<table class="table table-striped table-hover"  ng-table="tableParamsDespesa" 
			                		show-filter="true" ng-show="movimentacaoCaixaDTO.conferenciaParcelaList.length > 0">
			                			<caption class="text-center">Despesas</caption>
			                			<tbody>
			                				<tr ng-repeat="mov in $data">
			                					<td data-title="'Parcela'">{{mov.nrParcela}}</td>
			                					<td data-title="'C&oacute;digo'">{{mov.nrCodCliente}}</td>
			                					<td data-title="'Cliente'" filter="{ 'nmCliente': 'text' }">
			                						{{mov.nmCliente}}
			                					</td>
			                					<td data-title="'Dependente'" filter="{ 'nmDependente': 'text' }">
			                						{{mov.nmDependente}}
			                					</td>
			                					<td data-title="'Contrato'">{{mov.nrContrato}}</td>
			                					<td data-title="'Plano'">{{mov.nmPlano}}</td>
			                					<td data-title="'Vencimento'">{{mov.dtVencimento}}</td>
			                					<td data-title="'Valor'" filter="{ 'vlPago': 'number' }">
			                						{{mov.vlPago | currency: 'R$'}}</td>
			                					<td data-title="'Forma Pagamento'" filter="{ 'nmFormaPagamento': 'text' }">
			                						{{mov.nmFormaPagamento}}
			                					</td>
			                					<td data-title="'Pagamento'">{{mov.dtMovimentacaoCaixa}}</td>
			                				</tr>
			                			</tbody>
			                		</table>
			                	</div>
			                	<!-- END TABLE DESPESAS -->
		                    </tab>
						 </tbset>

	                	<div class="col-md-12">
							<em ng-show="caixas.length == 0">
								<strong>Sem dados dispon&iacute;veis.</strong>
							</em>
		                    <div class="table-responsive" ng-show="caixas.length > 0">
		                        <table id="table_caixas" ng-table="tableParams" 
		                         show-filter="true" class="table table-striped table-bordered table-hover">
		                            <tr ng-repeat="item in $data">
		                            	<td data-title="'Operador'" class="text-center"
		                                filter="{ 'nmOperador': 'text' }" ng-click="goToCaixaMovimentacao(item)" > 
		                                	<a href="" class="link-blue">{{item.nmOperador}}</a>
		                                </td>
		                                <td data-title="'Unidade'" class="text-center"
		                                filter="{ 'nmUnidade': 'text' }" > 
		                                	{{item.nmUnidade}}
		                                </td>
		                                <td data-title="'Data'" class="text-center"> 
		                                 {{item.dtCaixa}} 
		                             	</td>
		                             	<td data-title="'Situa&ccedil;&atilde;o'" 
		                                 class="text-center"> 
		                                 	<span class="label label-blue" ng-if="item.inStatus == 0">
		                                 		Aberto
		                                 	</span>
		                                 	<span class="label label-danger" ng-if="item.inStatus == 1">
		                                 		Fechado
		                                 	</span>
		                             	</td>
		                             	<td data-title="'Data Conferencia'" class="text-center"> 
		                                 	{{item.dtConferencia}} 
		                             	</td>
		                             	<td data-title="'Conferente'" class="text-center"
		                             	 filter="{ 'nmConferente': 'text' }" > 
		                                 	{{item.nmConferente}} 
		                             	</td>
		                             	<td data-title="'Obs.'" class="text-center">
		                                 	{{item.nmObservacao}} 
		                             	</td>
		                            </tr>
		                        </table>
		                    </div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">Resumo</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive" cg-busy="{promise:movCaixaRequest,message:'Aguarde'}">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Abertura</td>
									<td>{{movimentacaoCaixaDTO.vlAbertura | currency: 'R$'}}</td>
									<td>
										<i class="fa fa-plus-circle font-green-jungle" tooltip="credito">
										</i>
									</td>
								</tr>
								<tr>
									<td>Abastecimento</td>
									<td>{{movimentacaoCaixaDTO.vlAbastecimento | currency: 'R$'}}</td>
									<td><i class="fa fa-plus-circle font-green-jungle" tooltip="credito">
									</i></td>
								</tr>
								<tr>
									<td>Retirada</td>
									<td>{{movimentacaoCaixaDTO.vlRetirada | currency: 'R$'}}</td>
									<td>
										<i class="fa fa-minus-circle font-red" tooltip="d&eacute;bito">
										</i>
									</td>
								</tr>
								<tr>
									<td>Pagamentos</td>
									<td>{{movimentacaoCaixaDTO.totalPagamentos | currency: 'R$'}}</td>
									<td>
										<i class="fa fa-plus-circle font-green-jungle" tooltip="credito">
										</i>
									</td>
								</tr>
								<tr>
									<td><strong>Total</strong></td>
									<td><label style="font-size:16px;">
										<strong>{{movimentacaoCaixaDTO.total | currency: 'R$'}}</strong>
										</label>
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- BEGIN VALORES DE CAIXA -->
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">Valores de caixa</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive" cg-busy="{promise:movCaixaRequest,message:'Aguarde'}">
						<table class="table table-hover table-light">
							<tbody>
								<tr>
									<td><label>D&eacute;bito Autom&aacute;tico</label></td>
									<td class="text-right">
										<div class="form-group">
	                                    	<div class="input-group">
	                                        	<input type="text" class="form-control" ng-disabled="true" 
	                                        	ng-model="movimentacaoCaixaDTO.totalDebitoAutomatico"/>
	                                            <span class="input-group-addon">
	                                                <i class="fa fa-university font-blue"></i>
	                                            </span>
	                                        </div>
										</div>
									</td>

									<td><label>Dinheiro</label></td>
									<td class="text-right">
										<div class="form-group">
	                                    	<div class="input-group">
	                                        	<input type="text" class="form-control"  ng-disabled="true" 
	                                        	ng-model="movimentacaoCaixaDTO.totalDinheiro"/>
	                                            <span class="input-group-addon">
	                                                <i class="fa fa-money font-blue"></i>
	                                            </span>
	                                        </div>
										</div>
									</td>

									<td><label>Cart&atilde;o de Cr&eacute;dito</label></td>
									<td class="text-right">
										<div class="form-group">
	                                    	<div class="input-group">
	                                        	<input type="text" class="form-control" ng-disabled="true" 
	                                        	ng-model="movimentacaoCaixaDTO.totalCartaoCredito"/>
	                                            <span class="input-group-addon">
	                                                <i class="fa fa-credit-card font-blue"></i>
	                                            </span>
	                                        </div>
										</div>
									</td>
									
								</tr>
								<tr>
									<td><label>Cart&atilde; de D&eacute;bito</label></td>
									<td class="text-right">
										<div class="form-group">
	                                        <div class="input-group">
	                                            <input type="text" class="form-control" ng-disabled="true" 
	                                            ng-model="movimentacaoCaixaDTO.totalCartaoDebito"/>
	                                            <span class="input-group-addon">
	                                                <i class="fa fa-credit-card-alt font-blue"></i>
	                                            </span>
	                                    	</div>
										</div>
									</td>

									<td><label>Baixa no Sistema</label></td>
									<td class="text-right">
										<div class="form-group">
	                                        <div class="input-group">
	                                        	<input type="text" class="form-control" ng-disabled="true" 
	                                        	ng-model="movimentacaoCaixaDTO.totalBaixa"/>
	                                            <span class="input-group-addon">
	                                                <i class="fa fa-server font-blue"></i>
	                                            </span>
	                                    	</div>
										</div>
									</td>

									<td><label>Conv&ecirc;nio</label></td>
									<td class="text-right">
										<div class="form-group">
	                                    	<div class="input-group">
		                                        <input type="text" class="form-control" ng-disabled="true" 
		                                        ng-model="movimentacaoCaixaDTO.totalConvenio"/>
		                                        <span class="input-group-addon">
		                                            <i class="fa fa-handshake-o font-blue"></i>
		                                        </span>
	                                        </div>
										</div>
									</td>
								</tr>
								<tr>
									<td><label>Cheque</label></td>
									<td class="text-right">
										<div class="form-group">
	                                        <div class="input-group">
	                                            <input type="text" class="form-control" ng-disabled="true" 
	                                            ng-model="movimentacaoCaixaDTO.totalCheque"/>
	                                            <span class="input-group-addon">
	                                                <i class="fa fa-ticket font-blue"></i>
	                                            </span>
	                                    	</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-md-offset-10 col-md-2">
						<div class="form-group">
	                    	<label>Fechamento</label>
	                    	<input type="text" class="form-control" ng-disabled="true"
	                    	ng-model="movimentacaoCaixaDTO.vlFechamento"/> 
	                	</div>

	                	<div class="form-group">
	                    	<label>Especie</label>
	                    	<input type="text" class="form-control" ng-disabled="true"
	                    	ng-model="movimentacaoCaixaDTO.totalEspecie"/> 
	                	</div>
					</div>
				</div>

				<div class="row">
					<div class="text-right">
						<div class="col-md-6">
							<div class="col-md-3">
									<button class="button-cancel form-control" ng-click="cancelarConferencia()">
									Cancelar
								</button>	
							</div>
							<div class="col-md-3">
								<button class="btn green-turquoise"
								ng-hide="caixaSelected.idConferente"
								ng-bootbox-confirm=" Deseja realmente conferir o caixa ? "
                                ng-bootbox-confirm-action="conferirCaixa()"
                                ng-bootbox-confirm-action-cancel="" >
									<span ng-hide="load_conferir">
									 	Conferir 
									</span>
								 
									 <span ng-show="load_conferir">
									 	Conferindo
									 	<i class="fa fa-spinner fa-spin"></i>
									 </span>
								</button>	

								<button class="btn blue-soft"
								ng-show="caixaSelected.idConferente" 
								ng-bootbox-confirm=" Deseja realmente desconferir  o caixa ? "
                                ng-bootbox-confirm-action="desconferirCaixa()"
                                ng-bootbox-confirm-action-cancel="" >
									<span ng-hide="load_desconferir">
									 	Desconferir 
									</span>
								 
									 <span ng-show="load_desconferir">
									 	Desconferindo
									 	<i class="fa fa-spinner fa-spin"></i>
									 </span>
								</button>	
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>