<style>
	/* FIX LAYOUT DATEPICKER RANGER */
    .input-mini {
    	width: 180px !important;
    } 
</style>
<div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption"></div>
				</div>
				<div class="portlet-body">
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>

					<div class="text-center">
						<h2><b>{{nmEmpresa}}</b></h2> 
					</div>
					
					<div class="row" style="padding-bottom:50px;margin-top:25px;">

	                	<!-- PERIODO -->
		                <div class="col-md-4">
		                	<div>
		                       <input date-range-picker 
		                        class="form-control date-picker text-center" type="text" 
		                        ng-model="dataFiltro.date" placeholder=" Escolha o periodo." 
		                        options="{eventHandlers:{'apply.daterangepicker':loadCaixas}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,
		                        alwaysShowCalendars:false, showCustomRangeLabel:true ,timePicker:false }" 
		                        />
		                    </div>      
		                </div>
						<!-- END PERIODO -->

						<div class="col-md-12"><br/></div>

						<!-- UNIDADE -->
						<div class="col-md-4" >
							<div class="form-group">
								<ui-select id="selUnidade" name="selUnidade"
		                     	ng-model="unidade.selected" class="form-control select2me" 
		                     	theme="select2" append-to-body="true" search-enabled="true" 
		                     	on-select="loadCaixas()"> 
		                     		<ui-select-match placeholder="Selecione a unidade...">
										{{$select.selected.description}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in unidadeOptions | filter: $select.search">
										<div ng-bind-html="item.description | highlight: $select.search">
										</div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END UNIDADE-->
						
						<!-- OPERADOR -->
						<div class="col-md-4" >
							<div class="form-group">
								<ui-select id="selContaBancaria" name="selContaBancaria"
		                     	ng-model="operador.selected" 
		                     	class="form-control select2me"
		                     	theme="select2" append-to-body="true"
		                     	on-select="loadCaixas()"> 
		                     		<ui-select-match placeholder="Selecione o operador ...">
										{{$select.selected.description}}
									</ui-select-match> 

									<ui-select-choices repeat="item as item in operadorOptions | filter: $select.search">
										<div ng-bind-html="item.description | highlight: $select.search"></div>
									</ui-select-choices> 
								</ui-select>  
							</div>
						</div>
						<!-- END OPERADOR -->		   
					</div>

					<!-- TABLE CAIXAS  -->
					<div class="row">
						<div class="col-md-12">
							<em ng-show="caixas.length == 0">
								<strong>Sem dados dispon&iacute;veis.</strong>
							</em>
		                    <div class="table-responsive" ng-show="caixas.length > 0">
		                        <table id="table_caixas" ng-table="tableParams" 
		                         show-filter="true" class="table table-striped table-bordered table-hover">
		                            <tr ng-repeat="item in $data">
		                            	<td data-title="'Operador'" filter="{ 'nmOperador': 'text' }" 
		                            	ng-click="goToCaixaMovimentacao(item)"  sortable="'nmOperador'" > 
		                                	<a href="" class="link-blue">{{item.nmOperador}}</a>
		                                </td>
		                                <td data-title="'Unidade'" filter="{ 'nmUnidade': 'text' }"  sortable="'nmUnidade'"> 
		                                	{{item.nmUnidade}}
		                                </td>
		                                <td data-title="'Data'" class="text-center"> 
		                                 {{item.dtCaixa | date:'dd/MM/yyyy'}} 
		                             	</td>
		                             	<td data-title="'Situa&ccedil;&atilde;o'" 
		                                 class="text-center"> 
		                                 	<span class="label label-blue" ng-if="item.inStatus == 0">
		                                 		Aberto
		                                 	</span>
		                                 	<span class="label label-danger" ng-if="item.inStatus == 1 && item.idConferente == null">
		                                 		Fechado
		                                 	</span>
		                                 	<span class="label label-success" ng-if="item.inStatus == 1 && item.idConferente != null">
		                                 		Conferido
		                                 	</span>
		                             	</td>
		                             	<td data-title="'Data Conferencia'" class="text-center"> 
		                                 	{{item.dtConferencia | date: 'dd/MM/yyyy'}} 
		                             	</td>
		                             	<td data-title="'Conferente'" filter="{ 'nmConferente': 'text' }" >
		                                 	{{item.nmConferente}} 
		                             	</td>
		                             	<td data-title="'Obs.'" class="text-center" 
		                             	tooltip="{{item.nmObservacaoConferencia}}">
		                                	{{(item.nmObservacaoConferencia | limitTo:20) }} 
		                             	</td>
		                            </tr>
		                        </table>
		                    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>