<style>
    
    /* FIX LAYOUT DATEPICKER RANGER */
    .input-mini {
        width: 180px !important;
    } 

    .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }

    .opacify {
        opacity: 0.4;
    }

    .line-done {
        background-color: #abd9a247 !important;
    }

</style>
<div class="margin-top-10">
    <div class="portlet light col-md-12">
        <div class="col-md-12">    
            <div class="row">

                 <div id="imageLoading">
                     <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                </div>

            </div>
        </div>
    
        <!--BEGIN SEARCH OPTIONS -->
        <div class="row">
            <div class="col-md-12">
                <!-- PERIODO -->
                <div class="col-md-4">
                    <label class="control-label">
                        Período
                    </label>
                    <div>
                       <input date-range-picker 
                        class="form-control date-picker text-center" type="text" 
                        ng-model="dataFiltro.date"  ng-disabled="buttonDisabled" placeholder=" Escolha o periodo." 
                        options="{eventHandlers:{'apply.daterangepicker':dateIntervalHasChanged}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,
                        alwaysShowCalendars:false, showCustomRangeLabel:true ,timePicker:false }" 
                        />
                    </div>    

                </div>
                <!-- END PERIODO -->
                <!-- BEGIN FORMA PAGAMENTO -->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                           Forma de Pagamento
                        </label>
                        <ui-select id="formapag" ng-model="formapag.id" theme="select2" class="form-control select2me" name="status" search-enabled="false" on-select="pesquisarRenovacao()" ng-disabled="buttonDisabled">
                            <ui-select-match placeholder="Selecione...">{{$select.selected.description}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in formaPagamentoOptions | filter: $select.search">
                                <div ng-bind-html="item.description | highlight: $select.search">
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- END FORMA PAGAMENTO -->
                <!-- BEGIN EMPRESA GRUPO -->
                <div class="col-md-12"></div>
                <div class="col-md-4">
                    <label class="control-label">Empresa</label>
                    <div>
                        <ui-select id="empresasel" ng-model="empresa.selected" theme="select2" class="form-control select2me" name="empresasel" search-enabled="true" on-select="loadPlano(empresa.selected)" ng-disabled="buttonDisabled">
                            <ui-select-match placeholder="Selecione...">
                                {{$select.selected.nmFantasia}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in empresaOptions | filter: $select.search">
                                <div ng-bind-html="item.nmFantasia | highlight: $select.search""></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- END EMPRESA GRUPO -->
                <div class="col-md-4">
                    <label>Plano</label>
                    <div>
                         <ui-select id="planosel" ng-model="plano.selected" theme="select2" class="form-control select2me" name="planosel" search-enabled="true" on-select="pesquisarRenovacao()" ng-disabled="buttonDisabled">
                            <ui-select-match placeholder="Selecione...">
                                {{$select.selected.nmPlano}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in planoOptions | filter: $select.search">
                                <div ng-bind-html="item.nmPlano | highlight: $select.search""></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <!-- BEGIN funcionario filter -->
                <div class="col-md-4" ng-if="listFuncionarios && listFuncionarios.length > 0">
                    <label>Funcion&aacute;rio</label>
                    <div>
                         <ui-select id="funcsel" ng-model="funcionario.selected" theme="select2" class="form-control select2me" name="funcsel" search-enabled="true" on-select="pesquisarRenovacao()" ng-disabled="buttonDisabled">
                            <ui-select-match placeholder="Selecione...">
                                {{$select.selected.nmFuncionario}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.idFuncionario as item in listFuncionarios | filter: $select.search">
                                <div ng-bind-html="item.nmFuncionario | highlight: $select.search""></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <!-- END funcionario filter -->
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="label label-lg label-info" style="float:right; background-color: #3598dc; font-size: 12px" ng-show="total > 0">
                <i title="Totais de Renovação">
                </i> total{{ ": "+total}} 
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" ng-show="!showTab">
                    <br/>
                    <div class="note note-info">
                        <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="relatorioRenovacao.length > 0">
                    <div class="table-responsive" style="margin-top: 0.5%" >
                        <table ng-table="tableParams" class="table table-striped table-bordered table-hover flip-content">
                            <tbody ng-repeat="item in $data">
                                <tr ng-class="{'line-done': item.boAcaoBoleto}">
                                    <td title="'Info'" class="text-center" style="width: 4%">
                                        <span class="lead text-info" title="Renovado por: {{item.nmFuncionario}}">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                        <!-- <span class="lead text-success" title="Ativo" ng-if="item.inSituacao == 0">
                                            <i class="fa fa-check-square x-large"></i>
                                        </span>
                                        <span ng-if="item.inSituacao != 0" class="lead text-danger" title="Inativo">
                                            <i class="fa fa-minus-square x-large"></i>
                                        </span> -->
                                    </td>
                                    <td title="'Renovação'">{{item.dataRenovacaoFormatada}}</td>
                                    <td title="'Código'">{{item.nrCodCliente}}</td>
                                    <td title="'Cliente'">{{item.nmCliente}}</td>
                                    <td title="'Plano'"><p tooltip="{{item.nmPlano}}">
                                     {{item.nmPlano.length > 30 ? (item.nmPlano | limitTo: 30) + '...' : item.nmPlano}} </p></td>
                                    <td title="'Empresa'">{{item.nmFantasia}}</td>
                                    <td title="'Contrato'" style="text-align: center;">
                                        {{item.nrContrato}}
                                        <br/>
                                        <span class="label label-md" ng-class="item.inSituacao == 0 ? 'label-success' : 'label-danger'">
                                            {{ item.inSituacao == 0 ? 'Ativo' : 'Inativo' }}
                                        </span>
                                    </td>
                                    <td title="'Qtd'"><span class="badge badge-success" tooltip="quantidade de mensalidades"> {{item.nrqtdemensalidade}} 
                                    </span></td>
                                    <td title="'Valor antigo/novo'" style="width: 10%" class="text-center">{{item.vlContratoAntigo | currency: 'R$ '}} {{!item.vlContratoAntigo ? 'Sem registro' : ''}} / {{item.vlContrato | currency: 'R$ '}}</td>
                                    <td title="'Forma de Pagamento'" style="width: 11%; " class="row">
                                        {{item.formaPagamentoFormatada}}
                                        
                                        <button class="btn-xs btn-primary" ng-class="{'opacify': item.boAcaoBoleto}" ng-click="gerarBoleto(item)" style="float: right;" ng-if="item.inFormaPagamento == 0 && item.inSituacao == 0" title="{{ item.boAcaoBoleto ? 'Boleto gerado' : 'Gerar Boleto'}}" ng-disabled="buttonDisabled"><i class="fa fa-print" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                           </tbody>
                        </table>
                    </div>
                </div> 
                <div class="text-right" ng-show="totalItems > itemsPerPage && relatorioRenovacao.length > 0">
                        <pagination total-items="totalItems" ng-model="currentPage" previous-text="<" next-text=">"  boundary-links="true" first-text="primeira" last-text="última" max-size="5" ng-change="pageChanged(currentPage)"
                        items-per-page="itemsPerPage"></pager>
                    </div>
                </div>
                <div class="col-md-12">    
                    <div class="row">
                        <div id="imageLoading">
                             <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                            <br/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->