<div ng-controller="AdministracaoRenovacaoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Renova&ccedil&atildeo de Contratos</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Data Inicial</label>
							<div class="input-group">
				              	<input 
				              		type="text" 
				              		class="form-control" 
				              		datepicker-popup="{{format}}" 
				              		ng-model="dtInicial" 
				              		is-open="status.openedDtInicial" 
				              		min-date="minDate" 
				              		max-date="maxDate" 
				              		datepicker-options="dateOptions" 
				              		date-disabled="disabled(date, mode)" 
				              		ng-required="true" 
				              		close-text="Close" />

				              	<span class="input-group-btn">
				                	<button type="button" class="btn btn-default" ng-click="openDtInicial($event)">
				                		<i class="glyphicon glyphicon-calendar"></i>
				                	</button>
				              	</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Data Final</label>
							<div class="input-group">
				              	<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtFinal" is-open="status.openedDtFinal" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				              	<span class="input-group-btn">
				                	<button type="button" class="btn btn-default" ng-click="openDtFinal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              	</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<div class="input-group">
								<button class="btn green" ng-click="atualizarColecao()">
										Filtrar<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<em ng-show="contratosRenovados.length == 0">Sem dados disponiveis.</em>
				<table ng-table="tableParams" show-filter="true" ng-hide="contratosRenovados.length == 0" class="table table-striped table-bordered table-hover">
					<tr ng-repeat="item in $data">
						<td data-title="'N&uacute;mero do Contrato'" filter="{ 'nrContrato': 'text' }"><a ui-sref="admin-renovacao-contrato-boletos( { id: item.id })">{{item.nrContrato}}</a></td>
						<td data-title="'Data do Contrato'" filter="{ 'dtContrato':'text' }">{{item.dtContratoFormatado }}</td>
						<td data-title="'Data de Vencimento Inicial'" filter="{ 'dtVencimentoInicial':'text' }">{{item.dtVencimentoInicialFormatado }}</td>
						<td data-title="'Situação'" filter="{ 'situacaoFormatado':'text' }">{{item.situacaoFormatado }}</td>
						<td data-title="'Plano'" filter="{ 'paciente': 'text' }">{{item.plano.nmPlano}}</td>
						<td data-title="'Valor Total do Contrato'" filter="{ 'item.vlTotal':'text' }">{{item.vlTotal | currency }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
