<div ng-controller="AdministracaoRenovacaoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Imprimir Boleto - Contrato Renovado</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<div class="portlet-body">
				<em ng-show="mensalidadesContrato.length == 0">Sem dados disponiveis.</em>
				<table ng-table="tableParams" show-filter="true" ng-hide="mensalidadesContrato.length == 0" class="table table-striped table-bordered table-hover">
					<tr ng-repeat="item in $data">
						<td width="2%" style="text-align: left" header="'ng-table/headers/checkbox.html'">
							<input type="checkbox" ng-model="checkboxes.items[item.idMensalidade]" value="{{item.idMensalidade}}"/>
						</td>
						<td data-title="'Situação'" filter="{ 'situacao':'text' }">{{item.situacao}}</td>
						<td data-title="'N&uacute;mero do Contrato'" filter="{ 'nrContrato': 'text' }">{{item.nrContrato}}</td>
						<td data-title="'Data do Contrato'" filter="{ 'dtContrato':'text' }">{{item.dtContrato}}</td>
						<td data-title="'Data de Vencimento'" filter="{ 'dtVencimento':'text' }">{{item.dtVencimento}}</td>
						<td data-title="'Plano'" filter="{ 'paciente': 'text' }">{{item.nmPlano}}</td>
						<td data-title="'Valor da Mensalidade'" filter="{ 'item.vlMensalidade':'text' }">{{item.vlMensalidade | currency}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="table-toolbar">
			<div class="row">
				<div class="col-md-6">
					<div class="btn-group">
						<div class="clearfix">
							<a ng-click="printBoletosSelecionadosPDF(item)" target="_blank" class="btn green-haze">{{printBoletosButton}}	<i class="fa fa-print"></i>
							</a>
							<a ng-click="previous()" class="btn btn-default gray"> Cancelar </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    	<input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""/>
    </script>
    <script type="text/ng-template" id="imprimirPDFBoletoModalContent.html">
	    <div class="modal-header">
			<object ng-show="pdf" data="{{pdf}}" type="application/pdf" style="width: 100%; height: 400px;"></object>
	    </div>
	    <div class="modal-footer">
	        <button class="btn green-haze" type="button" ng-click="ok()">Fechar</button>
	    </div>
	</script>
</div>



