<div class="row">
	<div class="col-md-12">
		<div class="portlet light ">
			
			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Agendamentos </span>
					 <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
	                data-loading>
				</div>
			</div>
			<!-- END TITLE -->
	
			<!-- SEARCH FILTERS -->		
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Unidade <span class="required"> * </span>
							</label>
							<ui-select id="nmUnidade" ng-model="agendamento.unidade.id" 
							theme="select2" class="form-control select2me" 
							on-select="loadProfissional($item, true)" name="nmUnidade"
							search-enabled="false" > 
								<ui-select-match
									placeholder="Selecione...">{{$select.selected.nmUnidade}}
								</ui-select-match>
								<ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
								<div ng-bind-html="item.nmUnidade | highlight: $select.search">
								</div>
								</ui-select-choices> S
							</ui-select>

							<label class="control-label">
								Profissional <span class="required"> * </span>
							</label>
							<ui-select id="nmFuncionario" ng-model="agendamento.profissional.id" theme="select2" class="form-control select2me" 
							on-select="loadCalendarioSemanal($item)" name="nmFuncionario">
								<ui-select-match
								placeholder="Selecione...">{{$select.selected.nmFuncionario}}
								</ui-select-match>
								<ui-select-choices repeat="item.id as item in profissionaisOptions | filter: $select.search">
									<div ng-bind-html="item.nmFuncionario | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>
						</div>
					</div>
					<div class="col-md-6">
						<div  style="display:inline-block; min-height:290px;">
							<datepicker ng-model="agendamento.dtAgendamento"  
							class="well well-sm"
							custom-class="getDayClass(date, mode)"
							ng-change="searchAfterChangeDate()">
							</datepicker>
						</div>
					</div>
				</div>
				
			</div><!-- END SEARCH FILTERS -->		

			<tabset>
				<!--TAB AGENDAMENTOS -->
				<tab>
	                <tab-heading>
	                  <i class="fa fa-calendar" aria-hidden="true"></i>
	                   Agendamentos
	                </tab-heading>
                                
                    <div class="row">
                    	<div class="col-md-12">
			    									
                    		<a  ng-show="agendamentoDTO.length > 0 && valideBotaoSMS"
                    			id="popoverBtn"
                    			ng-click="myPopover.open()" 
                    			class="btn blue btn-circle btn-icon-only btn-outline open" 
                    			href="#" style="margin-left:1130px;"
                    			popover-append-to-body="true"
                    			popover-is-open="myPopover.isOpen" 
                    			popover-template="myPopover.templateUrl" 
								popover-trigger = "click"
								popover-title="Mensagem"
								popover-placement="left">
                         	<i class="fa fa-envelope-o" aria-hidden="true"></i>	
							</a>

							<br/>
							<strong style="margin-left:140px;">
								<em ng-show="agendamentoDTO.length == 0">Sem dados dispon&iacute;veis.</em>
							</strong>

							<div ng-show="agendamentoDTO.length > 0">
								
								<div class="form-group text-right" >
									<div ng-show="qtdEnviados != 0" class="label label-xs label-success" style="margin-right:10px">
										<i class="fa fa-envelope-o" title="SMS Enviadas"></i> SMS ENVIADAS{{ ": "+qtdEnviados}} 
									</div>

									<div class="label label-xs label-info" style="margin-right:10px">
										<i class="fa fa-calendar-plus-o" title="Totais de Agendamentos">
										</i> total{{ ": "+total}} 
									</div>
									
									<div class="label label-xs label-danger" style="margin-right:10px">
										<i class="fa fa-lock" title="Bloqueado"></i> Bloqueado{{ ": "+contStatusBloqueado}} 
									</div>

									<div class="label label-xs label-success" style="margin-left:10px">
										<i class="fa fa-thumbs-up" title="Liberado"></i> Liberado{{": "+contStatusLiberado}}
									</div>

									<div class="label label-xs label-warning" style="margin-left:10px">
										<i class="fa fa-map-marker" title="Presente"></i> Presente{{": "+contStatusPresente}}
									</div>

									<div class="label label-xs label-primary" style="margin-left:10px">
										<i class="fa fa-star" title="Atendido"></i> Atendido{{": "+contStatusAtendido}}
									</div>

									<div class="label label-xs label-default" style="margin-left:10px">
										<i class="fa fa-clock-o" title="Faltoso"></i> Faltoso{{": "+contStatusFaltoso}}
									</div>

								</div>
							
								<div class="table-responsive">
									<table ng-table="tableParams" show-filter="true" ng-hide="agendamentoDTO.length == 0" class="table table-striped table-bordered table-condensed table-hover" id="table_agendamento">
										<thead>
											<tr>
												<th ng-hide="canSeeLog">Log</th>
                                                <th style="width: 6%" ng-if="viewDtLaudo" title="Per&iacute;odo para faturamento do laudo">Laudo</th>
												<th>Código</th>
												<th>Despesa</th>
												<th>Paciente</th>
												<th>Titular</th>
												<th>Medico</th>
												<th>Serviço</th>
												<th>Data</th>
												<th>Status</th>                                                
											</tr>
										</thead>
										<tr ng-repeat="item in $data">
											<td ng-hide="canSeeLog">
												  <span class="label label-info"
												   popover-html="'<strong>Cadastro</strong><br/>
												    operador: {{item.operadorCadastro}} <br/>
												    data: {{item.dtInclusaoFormatada}}  <br/> 
												    <strong>Alteração</strong> <br/> 
												    operador: {{item.operadorAlteracao}} <br/> 
												    data: {{item.dtModificacaoFormatada}} <br/>
												    Hr.Presença: {{item.horaPresenca}} <br/> 
												    Hr.Ficha: {{item.hrFicha}}'"  
												    popover-placement="right-top" class="label label-xs label-info" 
												    popover-trigger="mouseenter"> 
														<i class="fa fa-info" aria-hidden="true"></i>
												   </span>
											</td>
                                            <td class="text-center" ng-if="viewDtLaudo" title="M&ecirc;s de faturamento" >
                                                <input type="text" class="form-control" placeholder="MM/AAAA" datepicker-popup="{{format[0]}}" 
                                                       ng-model="item.dtFaturamentoLaudoFormatado" is-open="statusDtVencimento.opened" ng-focus="statusDtVencimento.opened = true" 
                                                       min-date="minDateFat.minDate" max-date="minDateFat.maxDate" datepicker-options="optionsVencCartao" show-button-bar="false" 
                                                       close-on-date-selection="true" close-text="Fechar" 
                                                       ng-disabled="item.inStatus != 2 || item.servicoLaudavel == false || !item.showLaudoButton"/>
                                                
                                                <button class="btn btn-circle btn-icon-only; color: green" 
                                                        ng-if="item.inStatus == 2 && item.servicoLaudavel == true && item.showLaudoButton" 
                                                        ng-click="updateRegistroAgendamento(item, item.dtFaturamentoLaudoFormatado)" tooltip="Atualizar" >
												        <i class="fa fa-check" ></i></button>
                                            </td>
											<td class="text-center">
												{{item.nrAgendamento }} <br/>
												<span class="label label-danger"
												  ng-if="item.nmRetorno == 'SIM'"> 
												 	{{'retorno'}}
												</span>
											</td>

											<td>{{item.nrDespesa}}</td>
											<td>{{item.nmPaciente}} <span 
											ng-if="item.statusEnviado == true"
											class="label label-xs label-success"
											        popover-html="'<strong>Status:
												    Enviada</strong><br/>
												    Celular: {{item.nrCelular}} <br/> 
												    Telefone: {{item.nrTelefone}}'"  
												   popover-placement="right-top" 
												   popover-trigger="mouseenter">
											<i class="fa fa-envelope-o" aria-hidden="true"></i></span>
											<span 
											ng-if="item.statusEnviado == false"
											class="label label-xs label-danger"
											        popover-html="'<strong>Status:
												    Não enviada</strong><br/>
												    Celular: {{item.nrCelular}} <br/> 
												    Telefone: {{item.nrTelefone}}'"  
												   popover-placement="right-top" 
												   popover-trigger="mouseenter">
											<i class="fa fa-envelope-o" aria-hidden="true"></i></span>
											<br/>
											</td>
											<td>{{item.nmCliente}}</td>
											<td class="text-center">
												{{item.nmProfissional}} <br/>
												<span class="label label-info"> 
												 	{{item.nmEspecialidade}}
												</span>
											</td>
											<td class="text-center">
												<span
												 popover="{{item.nmServico}}" 
                                      			 popover-trigger="mouseenter">
                                      			 	{{(item.nmServico | limitTo:25) + '...'}}
                                      			 </span>
                                      			 <br/>
                                      			 <span class="label label-success"
												  ng-if="item.inTipo == 0"> 
												 	Agendamento
												</span>
												<span class="label label-warning"
												  ng-if="item.inTipo == 1"> 
												 	Encaixe
												</span>
                                      		</td>
											<td class="text-center">
												{{item.dtAgendamentoFormatado}} <br/>
												<strong>{{item.hrAgendamento}}</strong>
											</td>
											<td ng-switch on="item.inStatus">
												<div ng-switch-when="0" class="label label-xs label-danger" style="margin-left:10px"><i class="fa fa-lock" title="Bloqueado"></i></div>
												<div ng-switch-when="1" class="label label-xs label-success" style="margin-left:10px"><i class="fa fa-thumbs-up" title="Liberado"></i></div>
												<div ng-switch-when="2" class="label label-xs label-primary" style="margin-left:10px"><i class="fa fa-star" title="Atendido"></i></div>
												<div ng-switch-when="3" class="label label-xs label-default" style="margin-left:10px"><i class="fa fa-clock-o" title="Faltoso"></i></div>
												<div ng-switch-when="4" class="label label-xs label-warning" style="margin-left:10px"><i class="fa fa-map-marker" title="Presente"></i></div>
											</td>                                            
                                            
										</tr>
									</table>
								</div>
							</div>
                        </div>
                     </div>
                </tab>
                <!--TAB AGENDA PROFISSIONAL -->
                <tab>
                    <tab-heading>
                      <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                       Agenda M&eacute;dico
                    </tab-heading>

                    <div class="row">
                    	<div class="col-md-12">
							<div>
								<em ng-show="calendarioSemanal.length == 0">
									Sem dados disponiveis.
								</em>
								<div class="table-responsive">
									<table ng-hide="calendarioSemanal.length == 0" 
										class="table table-striped table-bordered table-hover"
										id="sample_1">
										<thead>
											<tr>
												<th class="text-center">Atendimento</th>
												<th class="text-center">Unidade</th>
												<th class="text-center">Especialidade</th>
												<th class="text-center">Dia e hor&aacute;rio</th>
												<th class="text-center">Limite de Pacientes</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in calendarioSemanal">
												<td class="text-center">
													{{item.nmTipoAtendimento}} <br/>
													<span class="label label-primary"
													 ng-if="item.inTipoConsulta == 0"> 
														{{item.nmTipoConsulta | lowercase}}
													 </span>
													<span class="label label-warning"
													 ng-if="item.inTipoConsulta == 1"> 
													 {{item.nmTipoConsulta | lowercase}}
													</span>
												</td>
												<td class="text-center">{{item.nmUnidade}}</td>
												<td class="text-center">{{item.nmEspecialidade}}</td>
												<td class="text-center">
													{{item.nmDiaSemana + ' - ' + item.nmTurno }} <br/>
													<strong>
														{{item.nmHrInicio + '-' + item.nmHrFim}}
													</strong>
												</td>
												<td class="text-center">
													<span class="badge badge-default"> 
														{{item.qtPacienteAtender}} 
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
                    	</div>
                    </div>
                </tab>
            </tabset>
		</div>
	</div>
</div>
<script type="text/ng-template" id="myPopoverMensagemAgendamento.html">
					
					<div>
						<div id="numero" style="margin-left:155px">{{MSG_MAX_LENGTH - myPopover.msg.length}}</div>
						<textarea maxlength="145" id="textArea" placeholder="Escreva uma mensagem" rows="8" style="width: 100%" class="form-control" ng-model="myPopover.msg" ng-trim="false"></textarea>&nbsp;	
						<div class="text-right"> 

							<button  title="Fechar" ng-click="myPopover.close()" class="btn btn-sm btn-danger btn-circle btn-icon-only btn-outline"><i class="fa fa-times" aria-hidden="true"></i></button>

						 	<button id="btnOpen" title="Enviar" ng-disabled="myPopover.msg.length == 0 || botaoEnviar == true" value="" ng-click="enviarSMS()" ng-model="button" class="btn btn-sm btn-success btn-circle btn-icon-only btn-outline"><i class="fa fa-check" aria-hidden="true"></i></button>

						</div>
					</div>
				</script>	
	<script>

    </script>