<style>
	.note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }
</style>
<div class="row">
	<div class="col-md-12">
		<div class="portlet light ">
			
			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase"> Atendimento - Ordem Painel Profissionais </span>
					 <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
	                data-loading>
				</div>
			</div>
			<!-- END TITLE -->
	
			<!-- SEARCH FILTERS -->		
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-4">
						<label for="nmEspecialidade">
                            Especialidade
                        </label>	
                        <ui-select ng-model="especialidade.selected" theme="select2" 
                        class="form-control select2me"  
                        on-select="loadProfissionalByEspecialidade( $item )" name="nmEspecialidade" 
                        id="nmEspecialidade" > 
                        	<ui-select-match placeholder="Selecione a especialidade ">
                                {{$select.selected.nmEspecialidade}}
                            </ui-select-match> 
                            <ui-select-choices repeat="item.id as item in especialidades | filter: $select.search">
                                <div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
                            </ui-select-choices> 
                        </ui-select>    
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Profissional
							</label>
							<ui-select id="nmFuncionario" ng-model="profissional.selected" theme="select2" class="form-control select2me" 
							on-select="pesquisarAtendimentoProfissional()" 
							name="nmFuncionario">
								<ui-select-match
								placeholder="Selecione...">{{$select.selected.nmFuncionario}}
								</ui-select-match>
								<ui-select-choices repeat="item.id as item in profissionais | filter: $select.search">
									<div ng-bind-html="item.nmFuncionario | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top:30px;">
					<div class="col-md-8" ng-show="clientes.length == 0">
						<div class="note note-info">
	                        <h4 class="block"> Sem dados dispon&iacute;veis. </h4>
	                    </div>
					</div>
					<div class="col-md-10"  ng-show="clientes.length > 0" 
						style="margin-left:20px;">
						<div class="text-right">
            				<span > 
            					Total: 
            				</span>
            				<span class="badge badge-success" tooltip="total de registros"> 
            					{{clientes.length}} 
            				</span>
        				</div><br/>
					</div>
					<div class="col-md-12" ng-show="clientes.length > 0">
						<div class="table-responsive">
				        	<table id="table_cliente" ng-table="tableParams" 
				            show-filter="true" 
				            class="table table-striped table-bordered table-hover">
				            	<tr ng-repeat="item in $data">
				                	<td data-title="'Paciente'" filter="{ 'nmPaciente': 'text' }" > 
	                                	<div>
	                                		{{item.nmPaciente}}
	                                		<h6 ng-show="item.inTipoPaciente == 'C' "> 
	                                			<i>{{'('+'Titular'+ ')'}}</i> 
	                                		</h6>
	                                		<h6 ng-show="item.inTipoPaciente == 'D' "> 
	                                			<i>{{'('+'Dependente'+')'}}</i> 
	                                		</h6> 

	                                		<small tooltip="Posição | Hora da ficha" class="label label-info text-center" >
	                                			{{item.nrFicha  + ' | ' }} {{item.hrFicha}} 
	                                		</small>
	                                		<small tooltip="Hora da presença" class="label label-default text-center" style="margin-left:10px;">
	                                			 {{item.horaPresenca}} 
	                                		</small>
	                                	</div>
	                                </td>
	                                <td data-title="'Especialidade'"> 
	                                	<div>
	                                		{{item.nmEspecialidade}}
	                                	</div>
	                                </td>
	                                <td data-title="'Servi&ccedil;o'"> 
	                                	<div>
	                                		{{item.nmServico}}
	                                	</div>
	                                </td>
	                                <td data-title="'Consult&oacute;rio'"> 
	                                	<div>
	                                		{{item.nmConsultorio}}
	                                	</div>
	                                </td>
	                                <td data-title="'Localiza&ccedil;&atilde;o'"> 
	                                	<div>
	                                		{{item.localizacao}}
	                                	</div>
	                                </td>
	                                <td data-title="'Idade'" class="text-center"> 
	                                	<div>
	                                		{{item.idade}}
	                                	</div>
	                                </td>
	                                <td data-title="'Ficha'"> 
	                                	<div>
	                                		<small ng-show="item.boPrioridade" class="label label-success">
	                                			Prioridade
	                                		</small>
	                                		<small ng-show="!item.boPrioridade" class="label label-default">
	                                			Normal
	                                		</small>
	                                	</div>
	                                </td>
				               </tr>
				            </table>
				        </div>
					</div>				
				</div>
				</div>
			</div>
		</div>
	</div>
</div>