<!-- BEGIN MAIN CONTENT -->
<div class="margin-top-10">
	<div class="row">
		<div >
			<div class="portlet light tasks-widget">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green-haze hide"></i> <span class="caption-subject font-green-haze bold uppercase">Pesquisa de Serviços</span><img id="spinner"
							ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					</div>
				</div>
				<div class="portlet-body">
					<div class="input-group">
						<span class="input-group-addon"> <i class="fa fa-search" popover-placement="right" popover-title="Dica"
							popover="Utilize '%' no inicio e/ou fim da palavra para obter resultados mais precisos." popover-trigger="mouseenter"></i>
						</span>
						<ui-select id="uiSelectServicoSearch" ng-model="servicoSelected" reset-search-input="false" autofocus="true" on-select="addServico($item)"> <ui-select-match
							placeholder="Digite um nome de servi&ccedil;o">{{$select.selected.nmServico}}</ui-select-match> <ui-select-choices repeat="servico in servicos track by $index"
							refresh="atualizarSelectServicos($select.search)" refresh-delay="1000">
						<div ng-bind-html="servico.nmServico | highlight: $select.search"></div>
						<small> COD: {{servico.nrCodServico}} Servi&ccedil;o: <span ng-bind-html="''+ servico.nmServico | highlight: $select.search"></span>
						</small> </ui-select-choices> </ui-select>
					</div>
					<p>{{selectedServicoNotFound}}</p>
					<em ng-show="servicoDetalhe.length == 0">Sem dados disponiveis.</em>
					<table ng-hide="servicoDetalhe.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>Tipo</th>
								<th>Prof./Cred.</th>
								<th>Não Associado</th>
								<th>Associado</th>
								<th>Logradouro</th>
								<th>Nº</th>
								<th>Complemento</th>
								<th>Bairro</th>
								<th>Ponto referencia</th>
								<th>Tel 1</th>
								<th>Tel 2</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in servicoDetalhe">
								<td>{{item.tipo}}</td>
								<td>{{item.executor}}</td>
								<td>{{item.vlservico | currency }}</td>
								<td>{{item.vlassociado | currency }}</td>
								<td>{{item.logradouro}}</td>
								<td>{{item.numero}}</td>
								<td>{{item.complemento}}</td>
								<td>{{item.bairro}}</td>
								<td>{{item.nmPontoReferencia}}</td>
								<td>{{item.nrTelefone1}}</td>
								<td>{{item.nrTelefone2}}</td>
								<td>{{item.nmEmail}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
</div>
