<style>
.popover {
    max-width: 450px;
}
</style>
<!-- BEGIN MAIN CONTENT -->
<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light" ng-hide="hideSeachComponent">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue-madison bold uppercase">Pesquisa de Médico</span> 
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					</div>
				</div>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-search" popover-title="Ajuda" popover-trigger="mouseenter" popover-placement="bottom"></i>
					</span>

					<ui-select 
						id="uiSelectMedicoSearch" 
						ng-model="medico.selected" 
						ng-disabled="disabled" 
						reset-search-input="false" 
						autofocus="true" 
						on-select="searchUser($item)">

						<ui-select-match placeholder="Digite um nome...">{{$select.selected.nmFuncionario}} ({{$select.selected.nmCargo}})</ui-select-match> 
						<ui-select-choices repeat="medico in medicos track by $index" refresh="atualizarSelectMedicos($select.search)" refresh-delay="1000">
							<div ng-bind-html="medico.nmFuncionario | highlight: $select.search"></div>
							<small>COD: {{medico.id}} | Especialidade: <span ng-bind-html="medico.nmCargo | highlight: $select.search"></span> | CPF: 
								<span ng-bind-html="''+ medico.nrCpf | highlight: $select.search"></span>
							</small> 
						</ui-select-choices> 
					</ui-select>
				</div>
				<p>{{selectedMedicoNotFound}}</p>
			</div>
			<div class="row">
				<div id="painel-details" class="profile-sidebar" ng-hide="showDetails">
					<div class="portlet light">
						<div class="profile-usertitle">
							<div class="profile-usertitle-name">{{selectedMedico.nmFuncionario}} </div>
							<div class="profile-usertitle-job" ng-switch on="selectClienteFromSearch.statusGeral">
								<div popover-template="'myPopoverTemplate.html'" popover-placement="right" class="label label-sm label-success">{{selectedMedico.nmCargo}}</div>
							</div>
							&nbsp;
						</div>

						<div class="profile-usermenu">
							<ul class="nav">
								<li ng-class="{active: $state.includes('atendimentoMedico.medico-conta')}">
									<a ui-sref="atendimentoMedico.medico-conta"><i class="icon-user"></i> Dados</a>
								</li>
								<!-- <li ng-hide="showMedicoOptions" ng-class="{active: $state.includes('atendimentoMedico.medico-agenda')}">
									<a ui-sref="atendimentoMedico.medico-agenda"><i class="icon-calendar"></i> Agenda</a>
								</li> -->
								<li ng-class="{active: $state.includes('atendimentoMedico.templates-laudo')}">
									<a ui-sref="atendimentoMedico.templates-laudo">
										<i class="fa fa-file-text" aria-hidden="true"></i>
										<span>Templates de Laudo</span>
									</a>
								</li>
								<li ng-class="{active: $state.includes('atendimentoMedico.templates-receituario')}">
									<a ui-sref="atendimentoMedico.templates-receituario">
										<i class="fa fa-file-text-o" aria-hidden="true"></i>
										<span>Templates de Receitu&aacute;rio</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div ui-view class="profile-content fade-in-up" ng-hide="showDetails"></div>
			</div>
		</div>
	</div>
</div>

<script>
	jQuery(document).ready(function() {
		// initiate layout and plugins
		Metronic.init(); // init metronic core components
	});
</script>
