<style>
.popover {
    max-width: 450px;
}

.imgrequired {
    border-style: dashed;
    border-width: medium;
    padding: 6px;
    border-color: red;
}

#toast-container {
  top: 10%;
}

.c3 svg {
    font: 12px sans-serif;
}

</style>
<!-- BEGIN MAIN CONTENT -->
<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light no-print">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue-madison bold uppercase">Pesquisa de Cliente</span> <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
					</div>
					<div class="actions">
						<div class="btn-group">
							<div class="clear-fix">
								<button class="btn btn-xs green" ng-click="lerBiometria()">
									<i class="fa fa-dot-circle-o"></i>{{digitalClienteMsg}}</button>
								<button class="btn btn-xs blue" ng-click="novoCliente()">
									Novo Cliente
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-search" popover-title="Ajuda"
						popover="Utilize tambem o recurso de filtros ! para consultar por diferentes parametros. Por exemplo digite '!rg 16477884' e veja o resultado. Filtros disponiveis (!cod, !rg, !cpf)."
						popover-trigger="mouseenter" popover-placement="bottom"></i>
					</span>
					<ui-select id="uiSelectClienteSearch" ng-model="cliente.selected" ng-disabled="disabled" reset-search-input="false" autofocus="true" on-select="searchUser($item)"> <ui-select-match
						placeholder="Digite um nome...">{{$select.selected.nmCliente}}</ui-select-match> <ui-select-choices repeat="cliente in clientes track by $index" refresh="atualizarSelectClientes($select.search)"
						refresh-delay="1000">
					<div ng-bind-html="cliente.nmCliente | highlight: $select.search"></div>
					<small> COD: {{cliente.nrCodCliente}} CPF: <span ng-bind-html="''+ cliente.nrCPFFormatado | highlight: $select.search"></span> STATUS: <span
						ng-bind-html="''+ cliente.statusGeralFormatado | highlight: $select.search"></span>
					</small> </ui-select-choices> </ui-select>
					<span class="input-group-btn"> <select class="btn default dropdown-toggle" ng-model="searchFiltro">
							<option value="">Filtros</option>
							<option value="!cod ">Codigo</option>
							<option value="!cpf ">CPF</option>
							<option value="!rg ">RG</option>
					</select>
					</span>
				</div>
				<p>{{selectedClienteNotFound}}</p>
			</div>
			<div class="row">
				<div ng-show="showTable == true" class="col-md-6 text-left">
					<b style="margin-left:15%">Produ&ccedil;&atilde;o funcion&aacute;rio</b>
					<div id="comissaoSemanal"></div>
					<div style="font-family: sans-serif; margin-left:5%">Total comiss&atilde;o: {{somaSemanal | currency: 'R$ '}}</div><br/>
					<a class="btn blue btn-xs" style="margin-left:5%" href="#/comissaoFuncionario.html">Comissão detalhada</a>
				</div>
				<div  ng-show="showTable == true" class="col-md-6 text-center">
					<table class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams">
              <thead class="flip-content">
								<tr>
                  <th class="text-center"> Cliente </th>
					    		<th class="text-center"> Data </th>
                  <th class="text-center"> Contrato </th>
                  <th class="text-center"> Total plano </th>
                  <th class="text-center"> Comissão </th>
                  <th class="text-center"> Situação </th>
                </tr>
              </thead>
              <tbody>
								<tr ng-repeat = "item in $data " >
	        				<td class="text-center">{{item.nmcliente}}</td>
									<td class="text-center">{{item.dtContratoFormatado}}</td>
									<td class="text-center">{{item.nrcontrato}}</td>
									<td class="text-center">{{item.vlVendaFormatado}}</td>
									<td class="text-center">{{item.vlProducaoFormatado}}</td>
									<td class="text-center">
					    			<div ng-show="item.vlProducaoFormatado == null" class="label label-xs label-warning">
											PENDENTE
										</div>
										<div ng-show="item.vlProducaoFormatado != null" class="label label-xs label-success">
											APROVADO
										</div>
									</td>
								</tr>
              </tbody>
          </table>
				</div>
			</div>
			<!-- BEGIN PROFILE SIDEBAR -->
			<div id="painel-details" class="profile-sidebar no-print" ng-hide="showDetails">
				<!-- PORTLET MAIN -->
				<div class="portlet light ">
					<!-- SIDEBAR USERPIC -->
					<div class="profile-userpic profile-sidebar-portlet">

					 	<div class="text-center"  style="padding-bottom: 10px" ng-if="selectedCliente.boNaoAssociado">
					 		<button class="btn btn-warning btn-xs"
					 		ng-click="goToTornarAssociado()">Tornar Associado</button>
					 	</div>

                        <div class="profile-usertitle-job text-center" style="padding-bottom: 10px; font-size: 11px" ng-if="isFp">
                            Funcionário Público : {{newProspect.nmEsfera}}</div>

						<img ng-click="abrirCameraFoto()" title="Clique aqui para atualizar a foto do cliente" data-ng-src="data:image/png;base64,{{selectedCliente.fotoClienteDecoded}}" ng-if="selectedCliente.fotoClienteDecoded != null" class="img-responsive" />

 						<img ng-click="abrirCameraFoto()" ng-hide="showCamera" title="Clique aqui para atualizar a foto do cliente"  id="imagemCliente" src="assets/admin/pages/media/profile/avatar.gif" class="img-responsive"
 						ng-if="selectedCliente.fotoClienteDecoded == null" >

					</div>
					<!--ng-class="{imgrequired:imgRequired}"-->
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">{{selectedCliente.nmCliente}}</div>

						<div class="profile-usertitle-job" ng-switch on="selectClienteFromSearch.statusGeral">
							<div ng-switch-when="0" popover-template="'myPopoverTemplate.html'" popover-placement="right" popover-title="Status do Cliente" popover-trigger="mouseenter" class="label label-sm label-success">Liberado</div>
							<div ng-switch-when="1" popover-template="'myPopoverTemplate.html'" popover-placement="right" popover-title="Status do Cliente" popover-trigger="mouseenter" class="label label-sm label-warning">Semi-bloqueado</div>
							<div ng-switch-when="2" popover-template="'myPopoverTemplate.html'" popover-placement="right" popover-title="Status do Cliente" popover-trigger="mouseenter" class="label label-sm label-default">Bloqueado</div>
							<div ng-switch-when="3" popover-template="'myPopoverTemplate.html'" popover-placement="right" popover-title="Status do Cliente" popover-trigger="mouseenter" class="label label-sm label-danger">Inadimplente</div>
                            <div ng-switch-when="4" popover-template="'myPopoverTemplate.html'" popover-placement="right" popover-title="Cadastro Pendente - Atualizar cadastro para prosseguir com todas as ações." popover-trigger="mouseenter" class="label label-sm label-purple">Cadastro Pendente</div>

						</div>&nbsp;

						<div ng-switch on="informativoOptions">
							<div ng-hide="showClienteOptions" id="buttonPopover" popover-template="myPopover.templateUrl" popover-placement="right" popover-trigger="click" popover-title="Informativos" class="btn btn-sm btn-primary">SMS</div>

						</div>

						<script type="text/ng-template" id="myPopoverTemplateInformativo" >

							<div>
								<table st-table="aux" class="table table-striped table-bordered table-hover">
									<thead >
										<tr>
											<th>Referencia</th>
											<th>Descrição</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in informativoOptions">
											<td><input ng-click="check(item.value1)" type="checkbox" ng-model="item.value1"> {{item.nmReferencia}}</td>
											<td>{{item.nmInformativo}}</td>

										</tr>
									</tbody>

								</table>
								<div class="text-right" >
										<button title="Fechar" ng-click="myPopover.close()" class="btn btn-danger btn-circle btn-icon-only "><i class="fa fa-times" aria-hidden="true" style="font-size:17px"></i></button>
										<button  title="Enviar" ng-click="enviar()" class="btn btn-success btn-circle btn-icon-only " ng-disabled="botaoEnviar || qtdcheck <= 0"><i class="fa fa-check" aria-hidden="true" style="font-size:17px"></i></button>
								</div>
							</div>

						</script>

						<script type="text/ng-template" id="myPopoverTemplate.html">
							<div>
								<em ng-show="situacoes.length == 0">Cliente em dias</em>
								<table st-table="situacoes" ng-hide="situacoes.length == 0" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Contrato</th>
											<th>Vencimento</th>
											<th>Tipo</th>
											<th>Situacao</th>
											<th>Qtd</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in situacoes">
											<td>{{item.nrcontrato}}</td>
											<td>{{item.dtvencimentoFormatado}}</td>
											<td>{{item.nmformacombinada}}</td>
											<td>{{item.nmsituacao}}</td>
											<td>{{item.qtdaberto}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</script>
					</div>
					<!-- END SIDEBAR USER TITLE -->
					<!-- SIDEBAR MENU -->
					<div class="profile-usermenu">
						<ul class="nav">
							<li ng-class="{active: $state.includes('atendimentoCliente.cliente-conta')}" ><a ui-sref="atendimentoCliente.cliente-conta"> <i class="icon-user"></i> Dados
							</a></li>
							<li ng-hide="showClienteOptions || (selectClienteFromSearch.statusGeral == 4 && checkEditRole(perfisMenuSimplificado) )" ng-class="{active: $state.includes('atendimentoCliente.agendamento')}"><a ui-sref="atendimentoCliente.agendamento" ng-disabled="true"> <i class="icon-calendar"></i>
									Agendamento
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4" ng-class="{active: $state.includes('atendimentoCliente.cliente-dependentes')}"><a ui-sref="atendimentoCliente.cliente-dependentes"> <i class="icon-users"></i>
									Dependentes
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4" ng-class="{active: $state.includes('atendimentoCliente.cliente-contratos')}"><a ui-sref="atendimentoCliente.cliente-contratos"> <i class="icon-docs"></i> Contratos
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4" showrole="perfisMenuDespesa" ng-class="{active: $state.includes('atendimentoCliente.cliente-despesas')}"><a ui-sref="atendimentoCliente.cliente-despesas"> <i class="icon-wallet"></i> Despesas
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4" ng-class="{active: $state.includes('atendimentoCliente.cliente-cobertura')}"><a ui-sref="atendimentoCliente.cliente-cobertura"> <i class="icon-feed"></i> Cobertura
									de Plano
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4" ng-class="{active: $state.includes('atendimentoCliente.cliente-observacoes')}"><a ui-sref="atendimentoCliente.cliente-observacoes"> <i class="icon-bubbles"></i>
									Observa&ccedil;&otilde;es
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4" ng-class="{active: $state.includes('atendimentoCliente.cliente-arquivos')}"><a ui-sref="atendimentoCliente.cliente-arquivos"> <i class="icon-paper-clip"></i>
									Arquivos
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4" ng-class="{active: $state.includes('atendimentoCliente.situacaoFinanceira')}">
								<a ui-sref="atendimentoCliente.situacaoFinanceira"> <i class="fa fa-usd"></i>Situa&ccedil;&atilde;o Financeira
							</a></li>
							<li ng-hide="showClienteOptions || selectClienteFromSearch.statusGeral == 4 || valideBotaoLaudo == false" ng-show="valideBotaoLaudo == true" ng-class="{active: $state.includes('atendimentoCliente.laudos')}">
								<a ui-sref="atendimentoCliente.laudos"> <i class="fa fa-file-text-o"></i>Laudos
							</a></li>
                            <li>
                                <a ui-sref="atendimentoCliente.guias">
                                    <i class="fa fa-file-text-o"></i>
                                    Guias
                                </a>
                            </li>
						</ul>
					</div>
					<!-- END MENU -->
				</div>
				<!-- END PORTLET MAIN -->
			</div>
			<!-- END BEGIN PROFILE SIDEBAR -->
			<!-- BEGIN PROFILE CONTENT -->
			<div ui-view class="profile-content fade-in-up" ng-hide="showDetails"></div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
	<!-- END MAIN CONTENT -->
	<!-- BEGIN MAIN JS & CSS -->
	<script type="text/ng-template" id="abrirFotoCliente.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Por favor, alinhe a imagem no centro da Câmera.
	        </h4>
	    </div>
		<div class="modal-body" style="width: 100%; display: table;">
			<webcam channel="cameraSettings"></webcam>
		</div>
		<canvas id="snapshot" name="snapshot" style="display:none;" />
		<textarea class="snapshot-data ng-pristine ng-valid" ng-model="snapshotData" ng-show="showBase64" style="display: none;"></textarea>
	    <div class="modal-footer">
 			<button class="btn green-haze" type="button" ng-click="makeSnapshot()">Tirar Foto</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
	</script>
</div>
<script>

	jQuery(document).ready(function() {
		// initiate layout and plugins
		Metronic.init(); // init metronic core components
	});
</script>
