<div class="modal-content">
	<div class="row print-content">
		<div class="modal-header text-center">
			<h2 class="modal-title">
				Preparatório
			</h2>
		</div>
		<div class="modal-body col-md-12">
			<div class="col-md-12 text-left">
                <div ng-repeat="item in lServicos" class="col-md-12 text-left">
                    <h4><strong>{{item.nmServico}}</strong></h4>
<div class="white-space">{{item.nmPreparatorio}}</div>
					<hr />
                </div>
				<div ng-if="!existPreparatorio"  class="col-md-12 text-center">
					<div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        <h2>Não há preparatórios!</h2>
                    </div>
				</div>
				<div class="no-print">
					<button class="btn btn-success" ng-click="print()">
						<i class="fa fa-print"></i>
						Imprimir
					</button>
					<button class="btn btn-warning" type="button" ng-click="cancel()">
						Fechar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
