<div class="margin-top-10">
	<div class="row hidden-print">
		<div class="col col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-globe theme-font hide"></i>
						<span class="caption-subject font-blue-madison bold uppercase">Associados</span>
						<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
					</div>
                </div>
                <div class="text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class = "btn blue active" ng-click="callGetAssociados(0)">
                            <input type="radio" class="toggle" >
							Ativos
						</label>
                        <label class = "btn blue" ng-click="callGetAssociados(1)">
                            <input type="radio" class="toggle">
							Inativos
						</label>
                    </div>
                </div>
				<div class="portlet-body">
					<div class="row "></div>
					<div class="row">
            		    <div class="col-md-12">
            		        <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Gerenciamento de Associados
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                    <br/>
            						<tabset>
                                        <tab ng-click="returnConv()">
            								<tab-heading>
                                                <i class="fa fa-building fa-lg" aria-hidden="true"></i>
            									Associados
                                            </tab-heading>
                                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                    						<table ng-show="lAssociados.length > 0" class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" show-filter="true">
                    							<tr ng-repeat-start="item in $data">
                                                    <td class="text-center">
                                                        <button ng-show="!item.expanded && !item.boInativadoConveniada" tooltip="Editar"
                                                            class="btn btn-default btn-xs"
                                                            ng-click="item.expanded = true; editAssociado(item.id)">
                                                            <span class="fa fa-pencil-square-o"></span>
                                                        </button>
                                                        <button ng-show="item.expanded == true" ng-if="item.expanded" tooltip="Fechar"
                                                             class="btn blue btn-xs"
                                                             ng-click="item.expanded = false">
															<i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>
                                                        <button ng-show="!item.expanded && !item.boInativadoConveniada" tooltip="Gerar Guia" class="btn btn-default btn-xs" ng-click="openModalGenerateGuia(item.idContrato)">
                                                            <span class="fa fa-sticky-note-o"></span>
                                                        </button>
														<!-- <a href="#/conveniada/associado/{{item.id}}/detail.html">
															Detalhes
														</a> -->
                                                    </td>
                                                    <td title="'N° Contrato'" class="text-center" filter="{ 'nrContrato': 'text' }" width="15%">
														<span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nrConrato}}</span>
														<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nrContrato}}</span>
                                                    </td>
                                                    <td title="'Nome'" class="text-center" filter="{ 'nome': 'text' }">
                                                        <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.nome}}</span>
                    									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.nome}}</span>
                                                    </td>
                                                    <td title="'CPF'" class="text-center" filter="{ 'cpf': 'text' }">
                                                        <span ng-show="item.expanded == true" style="font-weight: bold; font-size: 14px">{{item.cpf}}</span>
                    									<span ng-show="item.expanded == false" ng-hide="item.expanded == true">{{item.cpf}}</span>
                                                    </td>
													<td class="text-center">
														<a ng-show="item.insituacao == 0" class="btn btn-danger btn-xs" ng-click="inactivateAssociado(item.id)" tooltip="Inativar associado">
															<span class="fa fa-minus-circle"></span>
															Inativar
														</a>
														<a ng-show="item.insituacao == 1" class="btn btn-danger btn-xs" ng-click="reactivateAssociado(item.idContratoCliente)" tooltip="Reanativar associado">
															<span class="fa fa-minus-circle"></span>
															Reativar
														</a>
													</td>
                    							</tr>
                    							<tr ng-if="item.expanded" ng-repeat-end="">
                                                    <td colspan="12" style="background-color: white">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <tabset>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
                                                                            Informações
                                                                        </tab-heading>
																		<form ng-disabled="disabled" name="formUpdate" ng-submit="updateAssociado(this, item.id)" class="css-form" novalidate>
																		    <fieldset>
																		        <legend>
																		            Dados pessoais
																		        </legend>
																		        <div class="col-md-6">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.nrCPF.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    CPF*
																		                </label>
																		                <input  ng-disabled="fieldsForm.nrCPF.disabledNow" type="text" id="nrCPF" name="nrCPF" ng-model="associadosUpdate[item.id].nrCPF" placeholder="000.000.000-00" class="form-control" ng-minlength="11" required ui-br-cpf-mask />
																		                <div ng-show="formUpdate.$submitted || formUpdate.nrCPF.$touched" class="help-block help-block-error">
																		                    <div ng-show="formUpdate.nrCPF.$error.minlength">
																		                        Este campo deve possiur no mínimo 11 carasteres
																		                    </div>
																		                    <div ng-show="formUpdate.nrCPF.$error.maxlength">
																		                        Este campo deve possiur no máximo 15 carasteres
																		                    </div>
																		                    <div ng-show="formUpdate.nrCPF.$error.required">
																		                        Este campo é requerido
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-6">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.nrRG.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    RG
																		                </label>
																		                <input ng-disabled="fieldsForm.nrRG.disabledNow" type="text" id="nrRG" name="nrRG" ng-model="associadosUpdate[item.id].nrRG" class="form-control" ng-minlength="4"/>
																		                <div ng-show="formUpdate.$submitted || formUpdate.nrRG.$touched">
																		                    <div ng-show="formUpdate.nrRG.$error.minlength">
																		                        Este campo deve possiur no mínimo 4 carasteres
																		                    </div>
																		                    <div ng-show="formUpdate.nrRG.$error.required">
																		                        Este campo é requerido
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-12">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.nmCliente.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    Nome*
																		                </label>
																		                <input ng-disabled="fieldsForm.nmCliente.disabledNow" ng-minlength="5" type="text" ng-model="associadosUpdate[item.id].nmCliente" name="nmCliente" class="form-control" required="" />
																		                <div ng-show="formUpdate.$submitted || formUpdate.nmCliente.$touched" class="help-block help-block-error">
																		                    <div ng-show="formUpdate.nmCliente.$error.minlength">
																		                        Este campo deve possiur no mínimo 5 carasteres
																		                    </div>
																		                    <div ng-show="formUpdate.nmCliente.$error.required">
																		                        Este campo é requerido
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-6">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.nrCelular.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    Celular*
																		                </label>
																		                <input ng-disabled="fieldsForm.nrCelular.disabledNow" type="text" ng-model="associadosUpdate[item.id].nrCelular" name="nrCelular" class="form-control" required="required" placeholder="(00) 00000-0000" ui-br-phone-number />
																		                <div ng-show="formUpdate.$submitted || formUpdate.nrCelular.$touched" class="help-block help-block-error">
																		                    <div ng-show="formUpdate.nrCelular.$error.required">
																		                        Este campo é requerido
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-6">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.nrTelefone.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    Telefone*
																		                </label>
																		                <input ng-disabled="fieldsForm.nrTelefone.disabledNow" type="text" ng-model="associadosUpdate[item.id].nrTelefone" name="nrTelefone" class="form-control" required="required" placeholder="(00) 00000-0000" ui-br-phone-number />
																		                <div ng-show="formUpdate.$submitted || formUpdate.nrTelefone.$touched" class="help-block help-block-error">
																		                    <div ng-show="formUpdate.nrTelefone.$error.required">
																		                        Este campo é requerido
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-6">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.dtNascimento.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    Data de nascimento*
																		                </label>
																		                <input ng-disabled="fieldsForm.dtNascimento.disabledNow" type="text" ng-model="associadosUpdate[item.id].dtNascimento" name="dtNascimento" class="form-control" required="required" placeholder="dd/mm/aaaa" ui-date-mask="DD/MM/YYYY" />
																		                <div ng-show="formUpdate.$submitted || formUpdate.dtNascimento.$touched" class="help-block help-block-error">
																		                    <div ng-show="formUpdate.dtNascimento.$error.required">
																		                        Este campo é requerido
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-6">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.inEstadoCivil.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">Estado Civil</label>
																		                <ui-select ng-disabled="fieldsForm.inEstadoCivil.disabledNow" ng-model="associadosUpdate[item.id].inEstadoCivil" id="selEstadoCivil" theme="select2" ng-disabled="" class="form-control select2me">
																		                    <ui-select-match placeholder="Selecione...">
																		                        {{$select.selected.description}}
																		                    </ui-select-match>
																		                    <ui-select-choices repeat="propType.id as propType in estadoCivilOptions track by $index | filter: $select.search">
																		                        <div ng-bind-html="propType.description | highlight: $select.search"></div>
																		                    </ui-select-choices>
																		                </ui-select>
																		            </div>
																		        </div>
																		        <div class="col-md-6">
																		            <div class="form-group">
																		                <label class="control-label">
																		                    Sexo*
																		                </label>
																		                <div>
																		                    <div class="input-group">
																								<label class="btn btn-primary" ng-model="associadosUpdate[item.id].inSexo" btn-radio="0">
																		                            Masculino
																		                        </label>
																		                        <label class="btn btn-primary" ng-model="associadosUpdate[item.id].inSexo" btn-radio="1">
																		                            Feminino
																		                        </label>
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-6">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.nmEmail.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    E-mail
																		                </label>
																		                <input ng-disabled="fieldsForm.nmEmail.disabledNow" type="text" ng-model="associadosUpdate[item.id].nmEmail" name="nmEmail" class="form-control" required="required" placeholder="username@provedor.com"/>
																		                <div ng-show="formUpdate.$submitted || formUpdate.nmEmail.$touched">
																		                    <span ng-show="formUpdate.nmEmail.$error.required">Informe seu e-mail</span>
																		                    <span ng-show="formUpdate.nmEmail.$error.email">O e-mail não é válido</span>
																		                </div>
																		            </div>
																		        </div>
																		        <div class="col-md-12">
																		            <div class="form-group" ng-class="{'has-error': formUpdate.nmOcupacao.$invalid  && formUpdate.$submitted}">
																		                <label class="control-label">
																		                    Ocupação
																		                </label>
																		                <input ng-disabled="fieldsForm.nmOcupacao.disabledNow" type="text" ng-model="associadosUpdate[item.id].nmOcupacao" placeholder="Profissão" class="form-control" />
																		                <div ng-show="formUpdate.$submitted || formUpdate.nmOcupacao.$touched" class="help-block help-block-error">
																		                    <div ng-show="formUpdate.nmOcupacao.$error.required">
																		                        Este campo é requerido
																		                    </div>
																		                </div>
																		            </div>
																		        </div>
																		    </fieldset>
																		    <fieldset>
																		        <legend>
																		            Endereço
																		        </legend>
																		        <div style="padding-bottom: 10px;">
																		            <label class="label label-success">
																		                Correspondência
																		            </label>
																		        </div>
																		        <div class="row">
																		            <div class="col-md-12">
																		                <div class="form-group" ng-class="{'has-error': formUpdate.nrCEP.$invalid  && formUpdate.$submitted}">
																		                    <label class="control-label">
																		                        CEP*
																		                    </label>
																		                    <input ng-disabled="fieldsForm.nrCEP.disabledNow" type="text" name="nrCEP" id="nrCEP" ng-model="associadosUpdate[item.id].nrCEP" placeholder="XXXXX-XXX" class="form-control" ui-br-cep-mask required/>
																		                    <div ng-show="formUpdate.$submitted || formUpdate.nrCEP.$touched" class="help-block help-block-error">
																		                        <div ng-show="formUpdate.nrCEP.$error.required">
																		                            Este campo é requerido
																		                        </div>
																		                    </div>
																		                </div>
																		            </div>
																		            <div class="col-md-6">
																		                <div class="form-group" ng-class="{'has-error': formUpdate.nmLogradouro.$invalid  && formUpdate.$submitted}">
																		                    <label class="control-label">
																		                        Logradouro*
																		                    </label>
																		                    <input ng-disabled="fieldsForm.nmLogradouro.disabledNow" type="text" name="nmLogradouro" id="nmLogradouro" ng-model="associadosUpdate[item.id].nmLogradouro" placeholder="Logradouro" class="form-control" capitalize required />
																		                    <div ng-show="formUpdate.$submitted || formUpdate.nmLogradouro.$touched" class="help-block help-block-error">
																		                        <div ng-show="formUpdate.nmLogradouro.$error.required">
																		                            Este campo é requerido
																		                        </div>
																		                    </div>
																		                </div>
																		            </div>
																		            <div class="col-md-6">
																		                <div class="form-group" ng-class="{'has-error': formUpdate.nrNumero.$invalid  && formUpdate.$submitted}">
																		                    <label class="control-label">
																		                        Número*
																		                    </label>
																		                    <input ng-disabled="fieldsForm.nrNumero.disabledNow" type="text" name="nrNumero" id="nrNumero" ng-model="associadosUpdate[item.id].nrNumero" placeholder="XXX" class="form-control" />
																		                </div>
																		            </div>
																		            <div class="col-md-12">
																		                <div class="form-group">
																		                    <label class="control-label">
																		                        Complemento
																		                    </label>
																		                    <input ng-disabled="fieldsForm.nmComplemento.disabledNow" type="text" ng-model="associadosUpdate[item.id].nmComplemento" placeholder="" class="form-control" />
																		                </div>
																		            </div>
																		            <div class="col-md-6">
																		                <div class="form-group" ng-class="{'has-error': formUpdate.nrNumero.$invalid  && formUpdate.$submitted}">
																		                    <label class="control-label">
																		                        Cidade*
																		                    </label>
																		                    <ui-select ng-required="true" ng-disabled="fieldsForm.cidade.disabledNow" ng-model="associadosUpdate[item.id].cidade.id" theme="select2" class="form-control select2me" on-select="loadBairroOptions($item)">
																		                        <ui-select-match placeholder="Selecione...">
																		                            {{$select.selected.nmCidade}}
																		                        </ui-select-match>
																		                        <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
																		                            <div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
																		                        </ui-select-choices>
																		                    </ui-select>
																		                </div>
																		            </div>
																		            <div class="col-md-6">
																		                <div class="form-group">
																		                    <label class="control-label">Bairro*</label>
																		                    <ui-select ng-required="true" ng-disabled="fieldsForm.bairro.disabledNow" ng-model="associadosUpdate[item.id].bairro.id" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match>
																		                        <ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
																		                            <div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
																		                        </ui-select-choices>
																		                    </ui-select>
																		                </div>
																		            </div>
																		            <div class="col-md-12">
																		                <div class="form-group">
																		                    <label class="control-label">Ponto de Referencia</label>
																		                    <textarea ng-disabled="fieldsForm.nmPontoReferencia.disabledNow" id="maxlength_textarea" ng-model="associadosUpdate[item.id].nmPontoReferencia" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres."></textarea>
																		                </div>
																		            </div>
																		        </div>
																		    </fieldset>
                                                                            <div class="text-center">
																				<button type="submit" ng-model="exchange_dt.btn" ng-disabled="disabled" class="btn green-haze" tooltip="salvar alteração">
																					<span ng-show="searchButtonText == 'Salvando'">
																					<i class="glyphicon glyphicon-refresh spinning"></i></span>
																					{{ searchButtonText }}
																				</button>
																				<a class="btn default" ng-click="item.expanded = false" tooltip="Cancelar alteração">Cancelar</a>
																				<a class="btn default" ng-click="cancel(associado, item.id)" tooltip="Desfazer alterações formulário">Desfazer</a>
																			</div>
																		</form>
                                                                    </tab>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
                                                                            Dependentes
                                                                        </tab-heading>
																		<dependentes contrato='item.idContrato'></dependentes>
																	</tab>
                                                                </tabset>
                                                            </div>
                                                        </div>
                                                    </td>
                    							</tr>
                                            </table>
                                        </tab>
                                        <tab>
                							<tab-heading>
                								<i class="fa fa-plus" aria-hidden="true"></i>
                								Novo Associado
                							</tab-heading>
											<div class="">
												<div class="portlet-title">
													<div ng-controller="newAssociadoController" class="portlet-body">
														<form id="formAddNewAssociado" name="form" ng-submit="addNewAssociado(newAssociado, this)" class="css-form" novalidate>
															<fieldset>
																<legend>
																	Dados pessoais
																</legend>
																<div class="col-md-6">
																	<div class="form-group" ng-class="{'has-error': (form.nrCPF.$invalid  && form.$submitted) || (form.nrCPF.$invalid  && form.nrCPF.$touched)}">
																		<label class="control-label">
																			CPF*
																		</label>
																		<input ng-disabled="disabled" type="text" id="nrCPF" name="nrCPF" ng-model="newAssociado.nrCPF" placeholder="000.000.000-00" class="form-control" ng-minlength="11" required ui-br-cpf-mask />
																		<span ng-show="validingCpf == true">
																            <i class="glyphicon glyphicon-refresh spinning"></i>
																		</span>
																		<div ng-show="form.$submitted || form.nrCPF.$touched" class="help-block help-block-error">
																			<div ng-show="form.nrCPF.$error.minlength">
																				Este campo deve possiur no mínimo 11 carasteres
																			</div>
																			<div ng-show="form.nrCPF.$error.maxlength">
																				Este campo deve possiur no máximo 15 carasteres
																			</div>
																			<div ng-show="form.nrCPF.$error.cpf && !form.nrCPF.$error.minlength">
																				Não é um CPF válido
																			</div>
																			<div ng-show="form.nrCPF.$error.required">
																				Este campo é requerido
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group" ng-class="{'has-error': form.nrRG.$invalid  && form.$submitted}">
																		<label class="control-label">
																			RG
																		</label>
																		<input ng-disabled="fieldsForm.nrRG.disabledNow" type="text" id="nrRG" name="nrRG" ng-model="newAssociado.nrRG" class="form-control" ng-minlength="4" capitalize/>
																		<div ng-show="form.$submitted || form.nrRG.$touched">
																			<div ng-show="form.nrRG.$error.minlength">
																				Este campo deve possiur no mínimo 4 carasteres
																			</div>
																			<div ng-show="form.nrRG.$error.required">
																				Este campo é requerido
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group" ng-class="{'has-error': form.nmCliente.$invalid  && form.$submitted}">
																		<label class="control-label">
																			Nome*
																		</label>
																		<input ng-disabled="fieldsForm.nmCliente.disabledNow" ng-disabled="disabled" ng-minlength="5" type="text" ng-model="newAssociado.nmCliente" name="nmCliente" class="form-control" required=""  capitalize/>
																	  	<div ng-show="form.$submitted || form.nmCliente.$touched" class="help-block help-block-error">
																			<div ng-show="form.nmCliente.$error.minlength">
																				Este campo deve possiur no mínimo 5 carasteres
																			</div>
																			<div ng-show="form.nmCliente.$error.required">
																				Este campo é requerido
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group" ng-class="{'has-error': form.nrCelular.$invalid  && form.$submitted}">
																		<label class="control-label">
																			Celular*
																		</label>
																		<input ng-disabled="fieldsForm.nrCelular.disabledNow" type="text" ng-model="newAssociado.nrCelular" name="nrCelular" class="form-control" required="required" placeholder="(00) 00000-0000" ui-br-phone-number />
																		<div ng-show="form.$submitted || form.nrCelular.$touched" class="help-block help-block-error">
																			<div ng-show="form.nrCelular.$error.required">
																				Este campo é requerido
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group" ng-class="{'has-error': form.nrTelefone.$invalid  && form.$submitted}">
																		<label class="control-label">
																			Telefone*
																		</label>
																		<input ng-disabled="fieldsForm.nrTelefone.disabledNow" type="text" ng-model="newAssociado.nrTelefone" name="nrTelefone" class="form-control" required="required" placeholder="(00) 00000-0000" ui-br-phone-number />
																		<div ng-show="form.$submitted || form.nrTelefone.$touched" class="help-block help-block-error">
																			<div ng-show="form.nrTelefone.$error.required">
																				Este campo é requerido
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group" ng-class="{'has-error': form.dtNascimento.$invalid  && form.$submitted}">
																		<label class="control-label">
																			Data de nascimento*
																		</label>
																		<input ng-disabled="fieldsForm.dtNascimento.disabledNow" type="text" ng-model="newAssociado.dtNascimento" name="dtNascimento" class="form-control" required="required" placeholder="dd/mm/aaaa" ui-date-mask="DD/MM/YYYY" />
																		<div ng-show="form.$submitted || form.dtNascimento.$touched" class="help-block help-block-error">
																			<div ng-show="form.dtNascimento.$error.required">
																				Este campo é requerido
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group" ng-class="{'has-error': form.inEstadoCivil.$invalid  && form.$submitted}">
																		<label class="control-label">Estado Civil*</label>
																		<ui-select ng-required="true" name="inEstadoCivil" ng-disabled="fieldsForm.inEstadoCivil.disabledNow" ng-model="newAssociado.inEstadoCivil" id="selEstadoCivil" theme="select2" ng-disabled="" class="form-control select2me">
																			<ui-select-match placeholder="Selecione...">
																				{{$select.selected.description}}
																			</ui-select-match>
																			<ui-select-choices repeat="propType.id as propType in estadoCivilOptions track by $index | filter: $select.search">
																				<div ng-bind-html="propType.description | highlight: $select.search"></div>
																			</ui-select-choices>
																		</ui-select>
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group" ng-class="{'has-error': form.inSexo.$invalid  && form.$submitted}">
																		<label class="control-label">
																			Sexo*
																		</label>
																		<div ng-show="fieldsForm.inSexo.disabledNow == false">
																			<div class="input-group">
																				<label class="btn btn-primary" ng-model="newAssociado.inSexo" btn-radio="0" ng-change="newAssociado.inSexo = 0">
																					Masculino
																				</label>
																				<label class="btn btn-primary" ng-model="newAssociado.inSexo" btn-radio="1" ng-change="newAssociado.inSexo = 1">
																					Feminino
																				</label>
																				<input required type="hidden" name="inSexo" ng-model="newAssociado.inSexo" />
																				<div ng-show="form.$submitted || form.inSexo.$touched" class="help-block help-block-error">
																					<div ng-show="form.inSexo.$error.required">
																						Selecione um gênero
																					</div>
																				</div>
																			</div>
																		</div>
																		<div ng-show="fieldsForm.inSexo.disabledNow == true"> <!-- only read -->
																			<div class="input-group">
																				<label ng-show="newAssociado.inSexo == 0" ng-disabled="true" class="btn btn-primary" ng-model="newAssociado.inSexo">
																					Masculino
																				</label>
																				<label ng-show="newAssociado.inSexo == 1" ng-disabled="true" class="btn btn-primary" ng-model="newAssociado.inSexo">
																					Feminino
																				</label>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group" ng-class="{'has-error': form.nmEmail.$invalid  && form.$submitted}">
																		<label class="control-label">
																			E-mail
																		</label>
																		<input ng-disabled="fieldsForm.nmEmail.disabledNow" type="text" ng-model="newAssociado.nmEmail" name="nmEmail"  class="form-control" placeholder="username@provedor.com" ng-pattern="/^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/" noncapitalize/>
																		<div ng-show="form.$submitted || form.nmEmail.$touched"  class="help-block help-block-error">
																			<span ng-show="form.nmEmail.$error.required">Informe seu e-mail</span>
																			<span ng-show="form.nmEmail.$error.email">O e-mail não é válido</span>
																			<span ng-show="form.nmEmail.$error.pattern">
																				<em>{{form.nmEmail.$viewValue}}</em> e-mail não é válido
																			</span>
																		</div>
																	</div>
																</div>
																<div class="col-md-12">
																	<div class="form-group" ng-class="{'has-error': form.nmOcupacao.$invalid  && form.$submitted}">
																		<label class="control-label">
																			Ocupação
																		</label>
																		<input ng-disabled="fieldsForm.nmOcupacao.disabledNow" type="text" ng-model="newAssociado.nmOcupacao" placeholder="Profissão" class="form-control"  capitalize/>
																		<div ng-show="form.$submitted || form.nmOcupacao.$touched" class="help-block help-block-error">
																			<div ng-show="form.nmOcupacao.$error.required">
																				Este campo é requerido
																			</div>
																		</div>
																	</div>
																</div>
															</fieldset>
															<fieldset>
																<legend>
																	Endereço
																</legend>
																<div style="padding-bottom: 10px;">
																	<label class="label label-success">
																		Correspondência
																	</label>
																</div>
																<div class="row">
																	<div class="col-md-12">
																		<div class="form-group" ng-class="{'has-error': (form.nrCEP.$invalid  && form.$submitted) || (form.nrCEP.$invalid  && form.nrCEP.$touched)}">
																			<label class="control-label">
																				CEP*
																			</label>
																			<input ng-disabled="form.nrCEP.disabledNow" type="text" name="nrCEP" id="nrCEP" ng-model="newAssociado.nrCEP" placeholder="XXXXX-XXX" class="form-control" cep-validate required/>
																			<span ng-show="fetchingAddress == true">
																	            <i class="glyphicon glyphicon-refresh spinning"></i>
																			</span>
																			<div ng-show="form.$submitted || form.nrCEP.$touched" class="help-block help-block-error">
																				<div ng-show="form.nrCEP.$error.required">
																					Este campo é requerido
																				</div>
																				<div ng-show="form.nrCEP.$error.cep-is-not-valid">
																					O CEP é inválido!
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-group" ng-class="{'has-error': form.nmLogradouro.$invalid  && form.$submitted}">
																			<label class="control-label">
																				Logradouro*
																			</label>
																			<input  ng-disabled="fieldsForm.nmLogradouro.disabledNow" type="text" name="nmLogradouro" id="nmLogradouro" ng-model="newAssociado.nmLogradouro" placeholder="Logradouro" class="form-control" capitalize required  capitalize/>
																			<div ng-show="form.$submitted || form.nmLogradouro.$touched" class="help-block help-block-error">
																				<div ng-show="form.nmLogradouro.$error.required">
																					Este campo é requerido
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-group" ng-class="{'has-error': form.nrNumero.$invalid  && form.$submitted}">
																			<label class="control-label">
																				Número*
																			</label>
																			<input ng-disabled="fieldsForm.nrNumero.disabledNow" type="text" name="nrNumero" id="nrNumero" ng-model="newAssociado.nrNumero" placeholder="XXX" class="form-control" required capitalize/>
																			<div ng-show="form.$submitted || form.nmLogradouro.$touched" class="help-block help-block-error">
																				<div ng-show="form.nmLogradouro.$error.required">
																					Este campo é requerido
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-group">
																			<label class="control-label">
																				Complemento
																			</label>
																			<input  ng-disabled="fieldsForm.nmComplemento.disabledNow" type="text" ng-model="newAssociado.nmComplemento" placeholder="" class="form-control" capitalize/>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-group" ng-class="{'has-error': form.cidade.$invalid  && form.$submitted}">
																			<label class="control-label">
																				Cidade*
																			</label>
																			<ui-select ng-required="true" name="cidade" ng-disabled="fieldsForm.cidade.disabledNow" ng-model="newAssociado.cidade.id" theme="select2" class="form-control select2me" on-select="loadBairroOptions($item)">
																				<ui-select-match placeholder="Selecione...">
																					{{$select.selected.nmCidade}}
																				</ui-select-match>
																				<ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
																					<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
																				</ui-select-choices>
																			</ui-select>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-group" ng-class="{'has-error': form.bairro.$invalid  && (form.$submitted || form.bairro.$touched)}">
																			<label class="control-label">
																				Bairro*
																			</label>
																			<ui-select ng-required="true" name="bairro" ng-disabled="fieldsForm.bairro.disabledNow" ng-model="newAssociado.bairro.id" theme="select2" class="form-control select2me">
																				<ui-select-match placeholder="Selecione...">
																					{{$select.selected.nmBairro}}
																				</ui-select-match>
																				<ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
																					<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
																				</ui-select-choices>
																			</ui-select>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-group">
																			<label class="control-label">Ponto de Referencia</label>
																			<textarea ng-disabled="fieldsForm.nmPontoReferencia.disabledNow" id="maxlength_textarea" ng-model="newAssociado.nmPontoReferencia" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
																		</div>
																	</div>
																</div>
															</fieldset>
													        <button type="submit" ng-model="exchange_dt.btn" ng-disabled="disabled" class="btn green-haze" ng-click="search()">
													            <span ng-show="searchButtonText == 'Salvando'">
														            <i class="glyphicon glyphicon-refresh spinning"></i>
																</span>
													            {{ searchButtonText }}
													        </button>
															<a class="btn default" ng-click="reset()" tooltip="Limpar formulário">Limpar</a>
														</form>
													</div>
												</div>
											</div>
                                        </tab>
                                    </tabset>
                                </div>
                                <br />
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
