<div class="col-lg-12 hasPadding7">
	<div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
				Dependentes
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
				<a href="" class="fullscreen" data-original-title="" title=""> </a>
			</div>
			<div class="actions">
				<a href="javascript:;" ng-click="showFormNewDependente()" class="btn btn-primary">
                	<i class="fa fa-plus"></i>
					{{textButtonTrigger}}
				</a>
			</div>
		</div> <!-- class="portlet-title" -->
		<div class="portlet-body" style="">
			<!-- <div class="">
				<div class="actions width80perCent painelIn">
					<h3>Dependentes</h3>
					<div class="btn-group">
						<div class="clear-fix">
							<button class="btn btn-xs blue" ng-click="showFormNewDependente()">
								{{textButtonTrigger}}
							</button>
						</div>
					</div>
				</div>
			</div> -->
			<div ng-show="showForm" class="painelIn">
				<form name="formNewDependente" ng-submit="submitNewDependente(this, newDependente)" novalidate>
					<fieldset>
						<legend>
							Dados pessoais
						</legend>
						<div class="col-md-12">
							<div class="form-group" ng-class="{'has-error': formNewDependente.nmDependente.$invalid  && formNewDependente.$submitted}">
								<label class="control-label">
									Nome*
								</label>
								<input ng-disabled="fieldsForm.nmDependente.disabledNow" ng-disabled="disabled" ng-minlength="5" type="text" ng-model="newDependente.nmDependente" name="nmDependente" class="form-control" required=""  capitalize/>
								<div ng-show="formNewDependente.$submitted || formNewDependente.nmDependente.$touched" class="help-block help-block-error">
									<div ng-show="formNewDependente.nmDependente.$error.minlength">
										Este campo deve possiur no mínimo 5 carasteres
									</div>
									<div ng-show="formNewDependente.nmDependente.$error.required">
										Este campo é requerido
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group" ng-class="{'has-error': (formNewDependente.nrCpf.$invalid  && formNewDependente.$submitted) || (formNewDependente.nrCpf.$invalid  && formNewDependente.nrCpf.$touched)}">
								<label class="control-label">
									CPF
								</label>
								<input ng-disabled="disabled" type="text" id="nrCpf" name="nrCpf" ng-model="newDependente.nrCpf" placeholder="000.000.000-00" class="form-control" ng-minlength="11" ui-br-cpf-mask />
								<span ng-show="validingCpf == true">
						            <i class="glyphicon glyphicon-refresh spinning"></i>
								</span>
								<div ng-show="formNewDependente.$submitted || formNewDependente.nrCpf.$touched" class="help-block help-block-error">
									<div ng-show="formNewDependente.nrCpf.$error.minlength">
										Este campo deve possiur no mínimo 11 carasteres
									</div>
									<div ng-show="formNewDependente.nrCpf.$error.maxlength">
										Este campo deve possiur no máximo 15 carasteres
									</div>
									<div ng-show="formNewDependente.nrCpf.$error.cpf && !formNewDependente.nrCpf.$error.minlength">
										Não é um CPF válido
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group" ng-class="{'has-error': formNewDependente.nrCelular.$invalid  && formNewDependente.$submitted}">
								<label class="control-label">
									Celular
								</label>
								<input ng-disabled="fieldsForm.nrCelular.disabledNow" type="text" ng-model="newDependente.nrCelular" name="nrCelular" class="form-control" placeholder="(00) 00000-0000" ui-br-phone-number />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group" ng-class="{'has-error': formNewDependente.nrTelefone.$invalid  && formNewDependente.$submitted}">
								<label class="control-label">
									Telefone
								</label>
								<input ng-disabled="fieldsForm.nrTelefone.disabledNow" type="text" ng-model="newDependente.nrTelefone" name="nrTelefone" class="form-control" placeholder="(00) 00000-0000" ui-br-phone-number />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group" ng-class="{'has-error': formNewDependente.dtNascimento.$invalid  && formNewDependente.$submitted}">
								<label class="control-label">
									Data de nascimento*
								</label>
								<input ng-disabled="fieldsForm.dtNascimento.disabledNow" type="text" ng-model="newDependente.dtNascimento" name="dtNascimento" class="form-control" required="required" placeholder="dd/mm/aaaa" ui-date-mask="DD/MM/YYYY" />
								<div ng-show="formNewDependente.$submitted || formNewDependente.dtNascimento.$touched" class="help-block help-block-error">
									<div ng-show="formNewDependente.dtNascimento.$error.required">
										Este campo é requerido
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3" >
							<div class="form-group"	ng-class="{'has-error': formNewDependente.inParentesco.$invalid  && formNewDependente.$submitted}">
								<label class="control-label">
									Parentesco*
								</label>
								<ui-select ng-model="newDependente.inParentesco" theme="select2"  class="form-control select2me" required="true" name="inParentesco" id="inParentesco">
									<ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
									<ui-select-choices repeat="propType.id as propType in parentescoOptions track by $index | filter: $select.search">
										<div ng-bind-html="propType.description | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group" ng-class="{'has-error': formNewDependente.inSexo.$invalid  && formNewDependente.$submitted}">
								<label class="control-label">
									Sexo*
								</label>
								<div>
									<div class="input-group">
										<label class="btn btn-primary" ng-model="newDependente.inSexo" btn-radio="0" ng-change="newDependente.inSexo = 0">
											Masculino
										</label>
										<label class="btn btn-primary" ng-model="newDependente.inSexo" btn-radio="1" ng-change="newDependente.inSexo = 1">
											Feminino
										</label>
										<input required type="hidden" name="inSexo" ng-model="newDependente.inSexo" />
										<div ng-show="formNewDependente.$submitted || formNewDependente.inSexo.$touched" class="help-block help-block-error">
											<div ng-show="formNewDependente.inSexo.$error.required">
												Selecione um gênero
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" ng-class="{'has-error': formNewDependente.nmEmail.$invalid  && formNewDependente.$submitted}">
								<label class="control-label">
									E-mail
								</label>
								<input ng-disabled="fieldsForm.nmEmail.disabledNow" type="text" ng-model="newDependente.nmEmail" name="nmEmail"  class="form-control" placeholder="username@provedor.com" ng-pattern="/^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/" noncapitalize/>
								<div ng-show="formNewDependente.$submitted || formNewDependente.nmEmail.$touched"  class="help-block help-block-error">
									<span ng-show="formNewDependente.nmEmail.$error.required">Informe seu e-mail</span>
									<span ng-show="formNewDependente.nmEmail.$error.email">O e-mail não é válido</span>
									<span ng-show="formNewDependente.nmEmail.$error.pattern">
										<em>{{formNewDependente.nmEmail.$viewValue}}</em> e-mail não é válido
									</span>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Endereço
						</legend>
						<div>
							<label class="btn btn-primary"  ng-click="setAddresWithAssociado()">
								Herdar endereço do titular
							</label>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group" ng-class="{'has-error': formNewDependente.nrCep.$invalid  && formNewDependente.$submitted}">
									<label class="control-label">
										CEP*
									</label>
									<input ng-disabled="fieldsForm.nrCep.disabledNow" type="text" name="nrCep" id="nrCep" ng-model="newDependente.nrCep" placeholder="XXXXX-XXX" class="form-control" ui-br-cep-mask required  capitalize/>
									<div ng-show="formNewDependente.$submitted || formNewDependente.nrCep.$touched" class="help-block help-block-error">
										<div ng-show="formNewDependente.nrCep.$error.required">
											Este campo é requerido
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-class="{'has-error': formNewDependente.nmLogradouro.$invalid  && formNewDependente.$submitted}">
									<label class="control-label">
										Logradouro*
									</label>
									<input ng-disabled="fieldsForm.nmLogradouro.disabledNow" type="text" name="nmLogradouro" id="nmLogradouro" ng-model="newDependente.nmLogradouro" placeholder="Logradouro" class="form-control" capitalize required  capitalize/>
									<div ng-show="formNewDependente.$submitted || formNewDependente.nmLogradouro.$touched" class="help-block help-block-error">
										<div ng-show="formNewDependente.nmLogradouro.$error.required">
											Este campo é requerido
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" ng-class="{'has-error': formNewDependente.nrNumero.$invalid  && formNewDependente.$submitted}">
									<label class="control-label">
										Número*
									</label>
									<input ng-disabled="fieldsForm.nrNumero.disabledNow" type="text" name="nrNumero" id="nrNumero" ng-model="newDependente.nrNumero" placeholder="XXX" class="form-control" required capitalize/>
									<div ng-show="formNewDependente.$submitted || formNewDependente.nmLogradouro.$touched" class="help-block help-block-error">
										<div ng-show="formNewDependente.nmLogradouro.$error.required">
											Este campo é requerido
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">
										Complemento
									</label>
									<input ng-disabled="fieldsForm.nmComplemento.disabledNow" type="text" id="selCidade" ng-model="newDependente.nmComplemento" placeholder="" class="form-control" capitalize/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-class="{'has-error': formNewDependente.cidade.$invalid  && formNewDependente.$submitted}">
									<label class="control-label">
										Cidade*
									</label>
									<ui-select ng-required="true" name="cidade" ng-disabled="fieldsForm.cidade.disabledNow" ng-model="newDependente.cidade.id" theme="select2" class="form-control select2me" on-select="loadBairroOptions($item)">
										<ui-select-match placeholder="Selecione...">
											{{$select.selected.nmCidade}}
										</ui-select-match>
										<ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
											<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-class="{'has-error': formNewDependente.bairro.$invalid  && (formNewDependente.$submitted || formNewDependente.bairro.$touched)}">
									<label class="control-label">
										Bairro*
									</label>
									<ui-select ng-required="true" name="bairro" ng-disabled="fieldsForm.bairro.disabledNow" ng-model="newDependente.bairro.id" theme="select2" class="form-control select2me">
										<ui-select-match placeholder="Selecione...">
											{{$select.selected.nmBairro}}
										</ui-select-match>
										<ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
											<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Ponto de Referencia</label>
									<textarea ng-disabled="fieldsForm.nmPontoReferencia.disabledNow" id="maxlength_textarea" ng-model="newDependente.nmPontoReferencia" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
								</div>
							</div>
						</div>
					</fieldset>
					<button type="submit" ng-model="exchange_dt.btn" ng-disabled="disabled" class="btn green-haze" ng-click="search()">
						<span ng-show="searchButtonText == 'Salvando'">
							<i class="glyphicon glyphicon-refresh spinning"></i>
						</span>
						{{ searchButtonText }}
					</button>
					<a class="btn default" ng-click="reset()" tooltip="Limpar formulário">Limpar</a>
				</form>
			</div>

			<div class="">
				<table class="table table-striped table-bordered" ng-show="data.length > 0">
					<thead>
						<th>
							&nbsp;
						</th>
						<th>
							Contrato
						</th>
						<th>
							Nome
						</th>
						<th>
							CPF
						</th>
						<th>
							Parentesco
						</th>
						<th>
							&nbsp;
						</th>
					</thead>
					<tbody>
						<tr ng-repeat-start="dependente in data">
					        <td class="text-center">
					            <button ng-show="dependente.idContratoDependente" tooltip="Editar dependente" class="btn btn-default btn-xs" ng-click="toggleFormDependente(dependente.id)">
					                <span class="fa fa-pencil-square-o"></span>
					            </button>
							</td>
							<td class="text-center">
								{{dependente.idContrato}}
							</td>
							<td class="text-left">
								{{dependente.nmDependente}}
							</td>
							<td class="text-center">
								{{dependente.nrCpf}}
							</td>
							<td class="text-center">
								{{dependente.parentescoFormatado}}
							</td>
							<td class="text-center">
								<a ng-if="dependente.idContrato == contrato && true == dependente.boFazUsoPlano" class="btn btn-danger btn-xs" ng-click="inactivateDependente(dependente.idContratoDependente)" tooltip="Remover este dependente deste contrato">
									<span class="fa fa-minus-circle"></span>
									Remover
								</a>
								<a ng-if="!(dependente.idContrato == contrato && true == dependente.boFazUsoPlano)" class="btn btn-primary btn-xs" ng-click="reactivateDependente(dependente.id)" tooltip="Adicionar este dependente ao contrato">
									<span class="fa fa-plus-circle"></span>
									Adicionar
								</a>
							</td>
						</td/>
						</tr>
						<tr ng-show="dependenteEditing[dependente.id]"  ng-repeat-end="">
							<td colspan="5">
								<div class="painelIn">
								    <form name="formUpdateDependente" ng-submit="submitEditDependente(this, dependenteUpdate[dependente.id])" novalidate>
								        <fieldset>
								            <legend>
								                Dados pessoais
								            </legend>
								            <div class="col-md-12">
								                <div class="form-group" ng-class="{'has-error': formUpdateDependente.nmDependente.$invalid  && formUpdateDependente.$submitted}">
								                    <label class="control-label">
								                        Nome*
								                    </label>
								                    <input ng-disabled="fieldsForm.nmDependente.disabledNow" ng-disabled="disabled" ng-minlength="5" type="text" ng-model="dependenteUpdate[dependente.id].nmDependente" name="nmDependente" class="form-control" required=""  capitalize/>
								                    <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.nmDependente.$touched" class="help-block help-block-error">
								                        <div ng-show="formUpdateDependente.nmDependente.$error.minlength">
								                            Este campo deve possiur no mínimo 5 carasteres
								                        </div>
								                        <div ng-show="formUpdateDependente.nmDependente.$error.required">
								                            Este campo é requerido
								                        </div>
								                    </div>
								                </div>
								            </div>
								            <div class="col-md-3">
								                <div class="form-group" ng-class="{'has-error': (formUpdateDependente.nrCpf.$invalid  && formUpdateDependente.$submitted) || (formUpdateDependente.nrCpf.$invalid  && formUpdateDependente.nrCpf.$touched)}">
								                    <label class="control-label">
								                        CPF
								                    </label>
								                    <input ng-disabled="fieldsForm.nrCpf.disabledNow" type="text" id="nrCpf" name="nrCpf" ng-model="dependenteUpdate[dependente.id].nrCpf" placeholder="000.000.000-00" class="form-control" ng-minlength="11" ui-br-cpf-mask />
								                    <span ng-show="validingCpf == true">
								                        <i class="glyphicon glyphicon-refresh spinning"></i>
								                    </span>
								                    <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.nrCpf.$touched" class="help-block help-block-error">
								                        <div ng-show="formUpdateDependente.nrCpf.$error.minlength">
								                            Este campo deve possiur no mínimo 11 carasteres
								                        </div>
								                        <div ng-show="formUpdateDependente.nrCpf.$error.maxlength">
								                            Este campo deve possiur no máximo 15 carasteres
								                        </div>
								                        <div ng-show="formUpdateDependente.nrCpf.$error.cpf && !formUpdateDependente.nrCpf.$error.minlength">
								                            Não é um CPF válido
								                        </div>
								                    </div>
								                </div>
								            </div>
								            <div class="col-md-3">
								                <div class="form-group" ng-class="{'has-error': formUpdateDependente.nrCelular.$invalid  && formUpdateDependente.$submitted}">
								                    <label class="control-label">
								                        Celular
								                    </label>
								                    <input ng-disabled="fieldsForm.nrCelular.disabledNow" type="text" ng-model="dependenteUpdate[dependente.id].nrCelular" name="nrCelular" class="form-control" placeholder="(00) 00000-0000" ui-br-phone-number />
								                </div>
								            </div>
								            <div class="col-md-3">
								                <div class="form-group" ng-class="{'has-error': formUpdateDependente.nrTelefone.$invalid  && formUpdateDependente.$submitted}">
								                    <label class="control-label">
								                        Telefone
								                    </label>
								                    <input ng-disabled="fieldsForm.nrTelefone.disabledNow" type="text" ng-model="dependenteUpdate[dependente.id].nrTelefone" name="nrTelefone" class="form-control" placeholder="(00) 00000-0000" ui-br-phone-number />
								                </div>
								            </div>
								            <div class="col-md-3">
								                <div class="form-group" ng-class="{'has-error': formUpdateDependente.dtNascimento.$invalid  && formUpdateDependente.$submitted}">
								                    <label class="control-label">
								                        Data de nascimento*
								                    </label>
								                    <input ng-disabled="fieldsForm.dtNascimento.disabledNow" type="text" ng-model="dependenteUpdate[dependente.id].dtNascimento" name="dtNascimento" class="form-control" required="required" placeholder="dd/mm/aaaa" ui-date-mask="DD/MM/YYYY" />
								                    <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.dtNascimento.$touched" class="help-block help-block-error">
								                        <div ng-show="formUpdateDependente.dtNascimento.$error.required">
								                            Este campo é requerido
								                        </div>
								                    </div>
								                </div>
								            </div>
								            <div class="col-md-3" >
								                <div class="form-group"	ng-class="{'has-error': formUpdateDependente.inParentesco.$invalid  && formUpdateDependente.$submitted}">
								                    <label class="control-label">
								                        Parentesco*
								                    </label>
								                    <ui-select ng-model="dependenteUpdate[dependente.id].inParentesco" theme="select2"  class="form-control select2me" required="true" name="inParentesco" id="inParentesco">
								                        <ui-select-match placeholder="Selecione...">{{$select.selected.description}}</ui-select-match>
								                        <ui-select-choices repeat="propType.id as propType in parentescoOptions track by $index | filter: $select.search">
								                            <div ng-bind-html="propType.description | highlight: $select.search"></div>
								                        </ui-select-choices>
								                    </ui-select>
								                </div>
								            </div>
								            <div class="col-md-3">
								                <div class="form-group" ng-class="{'has-error': formUpdateDependente.inSexo.$invalid  && formUpdateDependente.$submitted}">
								                    <label class="control-label">
								                        Sexo*
								                    </label>
								                    <div>
														<div class="input-group">
															<label ng-show="dependenteUpdate[dependente.id].inSexo == 0" ng-disabled="true" class="btn btn-primary" ng-model="dependenteUpdate[dependente.id].inSexo">
																Masculino
															</label>
															<label ng-show="dependenteUpdate[dependente.id].inSexo == 1" ng-disabled="true" class="btn btn-primary" ng-model="dependenteUpdate[dependente.id].inSexo">
																Feminino
															</label>
														</div>
								                        <!-- <div class="input-group">
								                            <label class="btn btn-primary" ng-model="dependenteUpdate[dependente.id].inSexo" btn-radio="0" ng-change="newDependente.inSexo = 0">
								                                Masculino
								                            </label>
								                            <label class="btn btn-primary" ng-model="dependenteUpdate[dependente.id].inSexo" btn-radio="1" ng-change="newDependente.inSexo = 1">
								                                Feminino
								                            </label>
								                            <input required type="hidden" name="inSexo" ng-model="dependenteUpdate[dependente.id].inSexo" />
								                            <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.inSexo.$touched" class="help-block help-block-error">
								                                <div ng-show="formUpdateDependente.inSexo.$error.required">
								                                    Selecione um gênero
								                                </div>
								                            </div>
								                        </div> -->
								                    </div>
								                </div>
								            </div>
								            <div class="col-md-6">
								                <div class="form-group" ng-class="{'has-error': formUpdateDependente.nmEmail.$invalid  && formUpdateDependente.$submitted}">
								                    <label class="control-label">
								                        E-mail
								                    </label>
								                    <input ng-disabled="fieldsForm.nmEmail.disabledNow" type="text" ng-model="dependenteUpdate[dependente.id].nmEmail" name="nmEmail"  class="form-control" placeholder="username@provedor.com" ng-pattern="/^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/" noncapitalize/>
								                    <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.nmEmail.$touched"  class="help-block help-block-error">
								                        <span ng-show="formUpdateDependente.nmEmail.$error.required">Informe seu e-mail</span>
								                        <span ng-show="formUpdateDependente.nmEmail.$error.email">O e-mail não é válido</span>
								                        <span ng-show="formUpdateDependente.nmEmail.$error.pattern">
								                            <em>{{formUpdateDependente.nmEmail.$viewValue}}</em> e-mail não é válido
								                        </span>
								                    </div>
								                </div>
								            </div>
								        </fieldset>
								        <fieldset>
								            <legend>
								                Endereço
								            </legend>
								            <div style="padding-bottom: 10px;">
								                <label class="label label-success">
								                    Correspondência
								                </label>
								            </div>
								            <div class="row">
								                <div class="col-md-3">
								                    <div class="form-group" ng-class="{'has-error': formUpdateDependente.nrCep.$invalid  && formUpdateDependente.$submitted}">
								                        <label class="control-label">
								                            CEP*
								                        </label>
								                        <input ng-disabled="fieldsForm.nrCEP.disabledNow" type="text" name="nrCep" id="nrCep" ng-model="dependenteUpdate[dependente.id].nrCep" placeholder="XXXXX-XXX" class="form-control" ui-br-cep-mask required  capitalize/>
								                        <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.nrCep.$touched" class="help-block help-block-error">
								                            <div ng-show="formUpdateDependente.nrCep.$error.required">
								                                Este campo é requerido
								                            </div>
								                        </div>
								                    </div>
								                </div>
								                <div class="col-md-6">
								                    <div class="form-group" ng-class="{'has-error': formUpdateDependente.nmLogradouro.$invalid  && formUpdateDependente.$submitted}">
								                        <label class="control-label">
								                            Logradouro*
								                        </label>
								                        <input ng-disabled="fieldsForm.nmLogradouro.disabledNow" type="text" name="nmLogradouro" id="nmLogradouro" ng-model="dependenteUpdate[dependente.id].nmLogradouro" placeholder="Logradouro" class="form-control" capitalize required  capitalize/>
								                        <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.nmLogradouro.$touched" class="help-block help-block-error">
								                            <div ng-show="formUpdateDependente.nmLogradouro.$error.required">
								                                Este campo é requerido
								                            </div>
								                        </div>
								                    </div>
								                </div>
								                <div class="col-md-3">
								                    <div class="form-group" ng-class="{'has-error': formUpdateDependente.nrNumero.$invalid  && formUpdateDependente.$submitted}">
								                        <label class="control-label">
								                            Número*
								                        </label>
								                        <input ng-disabled="fieldsForm.nrNumero.disabledNow" type="text" name="nrNumero" id="nrNumero" ng-model="dependenteUpdate[dependente.id].nrNumero" placeholder="XXX" class="form-control" required capitalize/>
								                        <div ng-show="formUpdateDependente.$submitted || formUpdateDependente.nmLogradouro.$touched" class="help-block help-block-error">
								                            <div ng-show="formUpdateDependente.nmLogradouro.$error.required">
								                                Este campo é requerido
								                            </div>
								                        </div>
								                    </div>
								                </div>
								                <div class="col-md-12">
								                    <div class="form-group">
								                        <label class="control-label">
								                            Complemento
								                        </label>
								                        <input ng-disabled="fieldsForm.nmComplemento.disabledNow" type="text" ng-model="dependenteUpdate[dependente.id].nmComplemento" placeholder="" class="form-control" capitalize/>
								                    </div>
								                </div>
								                <div class="col-md-6">
								                    <div class="form-group" ng-class="{'has-error': formUpdateDependente.cidade.$invalid  && formUpdateDependente.$submitted}">
								                        <label class="control-label">
								                            Cidade*
								                        </label>
								                        <ui-select ng-required="true" name="cidade" ng-disabled="fieldsForm.cidade.disabledNow" ng-model="dependenteUpdate[dependente.id].cidade.id" theme="select2" class="form-control select2me" on-select="loadBairroOptions($item)">
								                            <ui-select-match placeholder="Selecione...">
								                                {{$select.selected.nmCidade}}
								                            </ui-select-match>
								                            <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
								                                <div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
								                            </ui-select-choices>
								                        </ui-select>
								                    </div>
								                </div>
								                <div class="col-md-6">
								                    <div class="form-group" ng-class="{'has-error': formUpdateDependente.bairro.$invalid  && (formUpdateDependente.$submitted || formUpdateDependente.bairro.$touched)}">
								                        <label class="control-label">
								                            Bairro*
								                        </label>
								                        <ui-select ng-required="true" name="bairro" ng-disabled="fieldsForm.bairro.disabledNow" ng-model="dependenteUpdate[dependente.id].bairro.id" theme="select2" class="form-control select2me">
								                            <ui-select-match placeholder="Selecione...">
								                                {{$select.selected.nmBairro}}
								                            </ui-select-match>
								                            <ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
								                                <div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
								                            </ui-select-choices>
								                        </ui-select>
								                    </div>
								                </div>
								                <div class="col-md-12">
								                    <div class="form-group">
								                        <label class="control-label">Ponto de Referencia</label>
								                        <textarea ng-disabled="fieldsForm.nmPontoReferencia.disabledNow" id="maxlength_textarea" ng-model="dependenteUpdate[dependente.id].nmPontoReferencia" class="form-control" maxlength="225" rows="2" placeholder="Este campo texto tem um limite de 225 caracteres." capitalize></textarea>
								                    </div>
								                </div>
								            </div>
								        </fieldset>
								        <button type="submit" ng-model="exchange_dt.btn" ng-disabled="disabled" class="btn green-haze" ng-click="search()">
								            <span ng-show="searchButtonText == 'Salvando'">
								                <i class="glyphicon glyphicon-refresh spinning"></i>
								            </span>
								            {{ searchButtonText }}
								        </button>
								        <a class="btn default" ng-click="toggleFormDependente(dependente.id)" tooltip="Cancelar edição">Limpar</a>
								    </form>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div ng-show="data.length == 0" class="note note-info">
	                <h4 class="block">Não há intens para listar</h4>
	                <p>
						Não há dependentes associados a este associado (cliente)
					</p>
	            </div>
			</div>
		</div> <!-- class="portlet-body" -->
	</div> <!-- class="portlet box blue" -->
</div> <!-- class="col-lg-8" -->
