
<div class="margin-top-10">
	<div class="row">
		<div class="col col-md-12">
            associado.html
        </div>
		<div class="col col-md-12">
            <a href="#/conveniada/associados.html">
            	<i class="fa fa-chevron-left" aria-hidden="true"></i>
            	<span>Associados 2</span>
            </a>
            <hr />
            <dependentes associado=associadoid></dependentes>
        </div>
    </div>
</div>
