<div class="row portlet light">
    <div class="col-md-12">
        <div id="imageLoading">
            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
        </div>
		<h1>Cobertura de Plano</h1>
		<table ng-show="true" class="table table-striped table-bordered table-condensed table-hover hidden-print" ng-table="tableParams" show-filter="true">
			<tr ng-repeat="item in $data">
				<td data-title="'Código'" class="text-center" filter="{ 'servico.nrCodServico': 'text' }" title="Código do serviço">{{item.servico.nrCodServico}}</td>
				<td data-title="'Serviço'" filter="{'servico.nmServico': 'text' }">{{item.servico.nmServico}}</td>
				<td data-title="'Tipo'" class="text-center" filter="{ 'servico.tipoServicoHumanized': 'text' }">{{item.servico.tipoServicoHumanized}}</td>
				<td data-title="'Associado'" class="text-right" title="Valor Associado">{{item.vlServicoAssociado | currency:"R$":2}}</td>
				<td data-title="'Não Associado'" class="text-right" title="Valor Nao Associado">{{item.vlServico | currency:"R$":2}}</td>
				<td data-title="'Carência'" class="text-center">{{item.carencia}}</td>
				<td data-title="'Plano'" filter="{ 'plano.nmPlano': 'text' }">{{item.plano.nmPlano}}</td>
			</tr>
		</table>
		<button class="btn btn-success hidden-print" ng-click="print();">
			<i class="fa fa-print"></i>
			Imprimir
		</button>
		<table class="table visible-print-block">
			<thead>
				<th>
					Código
				</th>
				<th>
					Serviço
				</th>
				<th>
					Tipo
				</th>
				<th>
					Associado
				</th>
				<th>
					Não asociado
				</th>
				<th>
					Carência
				</th>
				<th>
					Plano
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="row in dataToPrinter">
					<td>
						{{row.servico.nrCodServico}}
					</td>
					<td>
						{{row.servico.nmServico}}
					</td>
					<td>
						{{row.servico.tipoServicoHumanized}}
					</td>
					<td>
						{{row.servico.vlServicoAssociado}}
					</td>
					<td>
						{{row.servico.vlServico}}
					</td>
					<td>
						{{row.carencia}}
					</td>
					<td>
						{{row.plano.nmPlano}}
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>
