<!-- PERSONNAL DATA-->
<fieldset>
	<legend>
		Dados Pessoais
	</legend>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="txtCPF">CPF</label>
				<input type="text" id="txtCPF" name="txtCPF" edit-role ng-model="selectedCliente.nrCPF" placeholder="XXX.XXX.XXX-XX" class="form-control" ui-br-cpf-mask />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">RG</label> <input type="text" id="txtRG" name="txtRG" edit-role ng-model="selectedCliente.nrRG" placeholder="XXXXXXX-X" class="form-control" />
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Nome</label> <input type="text" name="txtNome" id="txtNome" edit-role ng-model="selectedCliente.nmCliente" placeholder="Seu Nome" class="form-control" capitalize />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Celular</label> <input type="text" id="txtCelular" name="txtCelular" ng-model="selectedCliente.nrCelular" placeholder="(XX) XXXXX-XXXX" class="form-control" ui-br-phone-number />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Telefone</label> <input type="text" id="txtTelefone" name="txtTelefone" ng-model="selectedCliente.nrTelefone" placeholder="(XX) XXXX-XXXX" class="form-control" ui-br-phone-number />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Data de Nascimento</label> <input type="text" name="txtDtNascimento" id="txtDtNascimento"  class="form-control" ng-model="selectedCliente.dtNascimento"
				ng-required="true" ui-date-mask="DD-MM-YYYY" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Estado Civil</label>
				<ui-select ng-model="selectedCliente.inEstadoCivil" id="selEstadoCivil" theme="select2" ng-disabled="checkEditRole(rwRoles)" class="form-control select2me">
					<ui-select-match placeholder="Selecione...">{{$select.selected.description}}
					</ui-select-match>
					<ui-select-choices repeat="propType.id as propType in estadoCivilOptions track by $index | filter: $select.search">
						<div ng-bind-html="propType.description | highlight: $select.search"> </div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Sexo</label>
				<div ng-switch on="checkEditRole(rwRoles)">
					<div ng-switch-when="true">
						<div class="input-group" ng-switch on="selectedCliente.inSexo">
							<label ng-switch-when="0" class="btn btn-primary" ng-model="selectedCliente.inSexo" btn-radio="0">Masculino</label>
							<label ng-switch-when="1" class="btn btn-primary" ng-model="selectedCliente.inSexo" btn-radio="1">Feminino</label>
						</div>
					</div>
					<div class="input-group" ng-switch-when="false">
						<label class="btn btn-primary" ng-model="selectedCliente.inSexo" btn-radio="0">Masculino</label> <label class="btn btn-primary" ng-model="selectedCliente.inSexo" btn-radio="1">Feminino</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Email</label>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-envelope"></i>
					</span> <input type="text" ng-model="selectedCliente.nmEmail" class="form-control" placeholder="Email">
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Ocupa&ccedil;&atilde;o</label>
				<input type="text" edit-role ng-model="selectedCliente.nmOcupacao" placeholder="Profissao" class="form-control" capitalize />
			</div>
		</div>
	</div>
</fieldset>
<!-- PERSONNAL DATA-->
<fieldset>
	<legend>
		Endere&ccedil;o
	</legend>
	<div style="padding-bottom: 10px;">
		<label class="label label-success"> Correspond&ecirc;cia </label>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">CEP *</label> <input type="text" name="txtCEP1" id="txtCEP1" edit-role ng-model="selectedCliente.nrCEP" placeholder="XXXXX-XXX" class="form-control" ui-br-cep-mask />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Logradouro *</label> <input type="text" name="txtLogradouro" id="txtLogradouro" edit-role ng-model="selectedCliente.nmLogradouro" placeholder="Endereco"
					class="form-control" capitalize />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">N&uacute;mero *</label> <input type="text" name="txtLogradouroNumero" id="txtLogradouroNumero" edit-role ng-model="selectedCliente.nrNumero" placeholder="XXX"
					class="form-control" />
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Complemento</label> <input type="text" id="selCidade" edit-role ng-model="selectedCliente.nmComplemento" placeholder="" class="form-control" capitalize />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Cidade</label>
				<ui-select ng-model="selectedCliente.cidade.id" theme="select2" ng-disabled="checkEditRole(rwRoles)" class="form-control select2me" on-select="loadBairroOptions($item)"> <ui-select-match
					placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> <ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
				<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Bairro</label>
				<ui-select ng-disabled="checkEditRole(rwRoles)" ng-model="selectedCliente.bairro.id" theme="select2" class="form-control select2me"> <ui-select-match placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match>
				<ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
				<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
				</ui-select-choices> </ui-select>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Ponto de Referencia</label>
				<textarea edit-role id="maxlength_textarea" ng-model="selectedCliente.nmPontoReferencia" class="form-control" maxlength="225" rows="2" capitalize placeholder="Este campo texto tem um limite de 225 caracteres."></textarea>
			</div>
		</div>
	</div>
</fieldset>
