<style type="text/css">
.gambi
{
    display: none;
}
@media print
{
    .gambi
    {
        display:table-row !important;
    }
}
</style>
<div class="margin-top-10">
    <div class="row">
        <div class="col col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md hidden-print">
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row hidden-print"> <!-- block config -->
                        <div class="col-lg-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Filtro
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="expand" data-original-title="" title=""></a>
                                        <a href="javascript:;" class="fullscreen" data-original-title="" title=""></a>
                                    </div>
                                </div>
                                <div class="portlet-body portlet-collapsed">
                                    <form name="formFilters" ng-submit="applyFilter(this)">
                                        <fieldset>
                                            <legend>
                                                Configurações da pesquisa
                                            </legend>
                                            <div class="col-md-3" style="margin-left:1%">
                    							<div class="form-group">
                    								<label>Período</label>
                    								<div>
                    									<label style="width: 80%">
                    										<input id="calendar" date-range-picker placeholder="Escolha o período" class="form-control date-picker text-center input-xs" type="text" ng-model="filter.interval.date" options="{eventHandlers:{'apply.daterangepicker':buscarDados}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:true, maxDate: maxDate ,showCustomRangeLabel:true ,timePicker:false }">
                    									</label>
                    								</div>
                    							</div>
                    						</div>
                                            <div class="form-group col-md-6 form-md-checkboxes">
                                                <label class="control-label">
                                                    Status
                                                </label>
                                                <div class="md-checkbox-inline">
                                                    <div ng-repeat="status in filter.lStatus track by $index" class="md-checkbox">
                                                        <input ng-model="filter.lStatusSelecteds[$index]" id="{{$index}}" type="checkbox">
                                                        <label for="{{$index}}">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            {{status}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button type="submit" class="btn btn-primary">
                                            Aplicar filtros
                                        </button>
                                    </form>
                                </div> <!-- class="portlet-body" -->
                            </div> <!-- class="portlet box blue" -->
                        </div> <!-- class="col-lg-8" -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-file-text-o fa-lg hidden-print" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Relatório de Consumo</h2>
                                            <div class="note note-info note1 col-md-6 pull-right margin-top-10">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Quantidade serviços
                                                            </th>
                                                            <th>
                                                                valor
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="summary in lSummaryServicoByStatusHumanized" ng-class="{'bold': summary.classBold}">
                                                            <td>{{summary.status}}</td>
                                                            <td>{{summary.qdtServico}}</td>
                                                            <td class="text-left">{{summary.custoServicos | currency: 'R$ '}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="col-md-12 hidden-print">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Serviço
                                                        </th>
                                                        <th>
                                                            Quantidade
                                                        </th>
                                                        <th>
                                                            Total
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat-start="summary in lSummaryGuiaServicoByServico track by $index" ng-if="summary.head == true">
                                                        <td>
                                                            <button ng-show="detailServicoShowing != summary.idServico" ng-click="getDetailServico(summary.idServico)" tooltip="Exibir mais detalhes" class="btn btn-xs hidden-print">
                                                                <i class="fa fa-chevron-down fa-lg"></i>
                                                            </button>
                                                            <button ng-show="detailServicoShowing == summary.idServico" ng-click="hideDetailServico(summary.idServico)" tooltip="Exibir menos" class="btn blue btn-xs hidden-print">
                                                                <i class="fa fa-chevron-up fa-lg"></i>
                                                            </button>
                                                            {{summary.nmServico}}
                                                        </td>
                                                        <td>{{summary.qdtServico}}</td>
                                                        <td>{{summary.vlServicoAssociado * summary.qdtServico | currency: 'R$ '}}</td>
                                                    </tr>
                                                    <tr ng-if="summary.head2 == true" ng-class="{'hide': detailServicoShowing != summary.idServico}">
                                                        <td>
                                                            <strong>Nome</strong>
                                                        </td>
                                                        <td>
                                                            <strong>Status</strong>
                                                        </td>
                                                        <td colspan="3">
                                                            <strong>Valor</strong>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat-end ng-if="summary.head == false" ng-class="{ 'gambi':detailServicoShowing != summary.idServico}">
                                                        <td>
                                                            {{summary.beneficiario}}
                                                            <span ng-if="summary.titularidade == 'Dependente'" title="Titular: {{summary.nmCliente}}" class="text-primary hidden-print">
                                                                <i class="fa fa-info-circle"></i>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            {{summary.statusFormatado}}
                                                        </td>
                                                        <td colspan="3">
                                                            {{summary.vlServicoAssociado.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-12 visible-print-block">
                                            <table class="table borderless">
                                                <tbody>
                                                    <tr ng-repeat-start="rowPrint in dataToPrint.list track by $index">
                                                        <td width="15%">
                                                            <strong>Código:</strong>
                                                        </td>
                                                        <td colspan="3">
                                                            {{rowPrint.guia.contrato.nrContrato}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Titular:</strong>
                                                        </td>
                                                        <td colspan="3">{{rowPrint.guia.cliente.nmCliente}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Beneficiário:</strong>
                                                        </td>
                                                        <td colspan="3">{{rowPrint.guia.beneficiario.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                        </td>
                                                        <td width="15%">
                                                            <strong>Custo:</strong>
                                                        </td>
                                                        <td width="15%">{{rowPrint.vlServicoAssociado.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            Serviço
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <strong>
                                                                - {{rowPrint.servico.nmServico}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat-end>
                                                        <td colspan="4">
                                                            <hr class="hr-dashed"/>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div>
                                                <p class="text-right">
                                                    Total {{dataToPrint.total.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'})}}
                                                </p>
                                            </div>
                                        </div>
                                        <button ng-show="dataToPrint.list > 0" class="btn btn-success hidden-print" ng-click="exportPrint();">
                                            <i class="fa fa-print"></i>
                                            Imprimir
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
