<div class="margin-top-10">
    <div class="row">
        <div class="col col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading/>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row"> <!-- block config -->
                        <div class="col-lg-12">
                        	<div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                        				Filtro
                        			</div>
                        			<div class="tools">
                        				<a href="javascript:;" class="expand" data-original-title="" title=""></a>
                        				<a href="javascript:;" class="fullscreen" data-original-title="" title=""></a>
                        			</div>
                        		</div>
                        		<div class="portlet-body portlet-collapsed">
                    				<form name="formFilters" ng-submit="applyFilter(this)">
                    					<fieldset>
                    						<legend>
                    							Configurações da pesquisa
                    						</legend>
                                            <div class="form-group col-md-6 form-md-line-input">
                                                <input ng-model="filter.key" class="form-control" id="keySearch" placeholder="Palavra chave" type="text">
                                                <label for="keySearch">Buscar por</label>
                                                <span class="help-block">Ex: código da Guia</span>
                                            </div>
                                            <div class="form-group col-md-6 form-md-checkboxes">
                                                <label class="control-label">Campo para a pesquisa</label>
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox">
                                                        <input ng-model="filter.field.id" id="id" class="md-check" type="checkbox">
                                                        <label for="id">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Código
                                                        </label>
                                                    </div>
                                                    <div class="md-checkbox">
                                                        <input ng-model="filter.field.nmCliente" id="nmCliente" class="md-check" checked="" type="checkbox">
                                                        <label for="nmCliente" class="popovers" title="Nome do titular" data-container="body" data-trigger="hover" data-placement="top" data-content="Referente ao associado titular do contrato, não necessariamente o mesmo que fez/fará uso da guia" data-original-title="Nome do titular">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Nome titular
                                                        </label>
                                                    </div>
                                                    <!--<div class="md-checkbox">
                                                        <input ng-model="filter.field.nmBeneficiario" id="nmBeneficiario" class="md-check" checked="" type="checkbox">
                                                        <label for="nmBeneficiario" title="Nome do beneficiário" class="popovers" title="Nome do beneficiário" data-container="body" data-trigger="hover" data-placement="top" data-content="Referente ao benefiário que usurfruir/usufruirá da guia" data-original-title="Nome do beneficiário">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Nome do beneficiário
                                                        </label>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 form-md-radios">
                                                <label>Status</label>
                                                <div class="md-radio-inline">
                                                    <div class="md-radio">
                                                        <input class="md-radiobtn" type="radio" ng-model="filter.field.status" ng-value="'all'" name="status" id="statusAll" ng-checked="true"/>
                                                        <label for="statusAll">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Todos
                                                        </label>
                                                    </div>
                                                    <div class="md-radio has-error">
                                                        <input class="md-radiobtn" type="radio" ng-model="filter.field.status" ng-value="0" name="status" id="statusResolved"/>
                                                        <label for="statusResolved">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Resolvido
                                                        </label>
                                                    </div>
                                                    <div class="md-radio has-success">
                                                        <input class="md-radiobtn" type="radio" ng-model="filter.field.status" ng-value="1" name="status" id="statusPending"/>
                                                        <label for="statusPending">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Pendentes
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                    					</fieldset>
                    					<button type="submit" class="btn btn-primary">
                    						Aplicar filtros
                    					</button>
                    				</form>
                        		</div> <!-- class="portlet-body" -->
                        	</div> <!-- class="portlet box blue" -->
                        </div> <!-- class="col-lg-8" -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
										Guias geradas
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                    <tabset ng-show="lGuias.data">
                                        <tab>
                                            <tab-heading>
												Todas
                                            </tab-heading>
                                            <table class="table table-striped table-bordered table-condensed table-hover" ng-table="tableParams" show-filter="false">
                                                <tr ng-repeat="guia in lGuias.data" ng-class="{'text-danger': guia.tdExclusaoFormated}">
													<td title="'Código'" class="text-left">
    	                                                <a class="text-info" ng-href="#/conveniada/guia_{{guia.id}}.html">
                                                            <strong>
                                                                {{('000000' + guia.id).slice(-6)}}
                                                            </strong>
    													</a>
													</td>
                                                    <td title="'Cliente'" class="text-left">
														{{guia.beneficiario}}
                                                    </td>
                                                    <td title="'Titularidade'" class="text-left">
														{{guia.titularidade}}
                                                    </td>
                                                    <td title="'Validade'">
														{{guia.validateFormated}}
                                                    </td>
                                                    <td class="text-left">
                                                        <button class="btn btn-danger no-print" type="button" ng-click="inactiveGuia(guia)" ng-show="guia.canBeInactivated">
                                                            <i class="fa fa-trash"></i>
                                                            Inativar
                                                        </button>
                                                        <span  ng-show="guia.tdExclusaoFormated">
                                                            Inativado em {{guia.tdExclusaoFormated}}
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
											<ul class="pager">
	                                            <li class="previous">
	                                                <a class="btn blue" ng-href="{{prevPage}}" ng-show="prevPage">
														← Página {{lGuias.offset - 1}}
													</a>
	                                            </li>
                                                <li>
                                                    <span>
                                                        Exibindo {{lGuias.data.length}} de {{lGuias.total}}
                                                    </span>
                                                </li>
	                                            <li class="next">
	                                                <a class="btn blue" ng-href="{{nextPage}}" ng-show="nextPage">
														Página {{lGuias.offset + 1}} →
													</a>
	                                            </li>
                                        	</ul>
                                        </tab>
                                        <!--<tab>
                                            <tab-heading>
                                                <i class="fa fa-plus" aria-hidden="true"></i>
												Filtro
                                            </tab-heading>
                                            <div class="row">
                                                Formulário do filtro
                                            </div>
                                        </tab>-->
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
