<div class="row print-content">
    <div class="modal-header text-center">
        <h2 class="modal-title">
            Guia - <strong>{{idPretty}}</strong>
        </h2>
        <div class="margin10horizonte">
            <div class="text-left">
                <p class="">
                    Criado em: <strong>{{dateCreatePretty}}</strong>
                </p>
                <p class="">
                    Válido até: <strong>{{dateValidPretty}}</strong>
                    <button ng-show="showReactive" ng-disabled="disabledBtnReactive" class="btn btn-success" title="Cria outra Guia com os itens vencidos" ng-click="reactiveGuia()">
                        Reativar
                    </button>
                </p>
                <p ng-show="guia.dtExclusao" class="text-danger">
                    Inativado em: <strong>{{dateExclusaoPretty}}</strong>
                </p>
                <p class="">
                    Beneficiário (Paciente):
                    <strong>{{own}}</strong>
                </p>
                <p class="">
                    Titularidade:
                    <strong>{{ownership}}</strong>
                    <span ng-show="ownership == 'Dependente'">
                        do titular
                        <strong>{{guia.cliente.nmCliente}}</strong>
                    </span>
                </p>
                <p>
                    Agende em:
                    <strong>{{company.nmUnidade}}</strong>
                    <br/>
                    <strong>{{company.nmLogradouro}}, Número {{company.nrNumero}},
                        Bairro {{company.bairro.nmBairro}}
                    </strong>
                </p>
                <p>
                    Contato para agendamento:
                    <strong>{{company.nrTelefone1}}</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-body col-md-12">
        <div class="col-md-12 text-center">
            <table ng-hide="guia.guiaServicos.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th>Serviço</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in guia.guiaServicos"  ng-class="{'text-danger': item.status == 4}">
                        <td class="text-left">{{item.servico.nmServico}}</td>
                        <td class="text-left">
                            {{item.statusLabel}}
                        </td>
                        <td class="text-left">
                            <button class="btn btn-danger no-print" type="button" ng-click="removeItemServico(item)" ng-show="item.status == 0">
                                <i class="fa fa-trash"></i>
                                Inativar
                            </button>
                            <span  ng-show="item.status == 4">
                                Inativado em {{item.tdExclusaoFormated}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="no-print">
                <button class="btn btn-success" ng-click="print()">
                    <i class="fa fa-print"></i>
                    Imprimir
                </button>
                <button class="btn btn-warning" type="button" ng-click="backList()">
                    <i class="fa fa-arrow-left"></i>
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>
