<div class="modal-content">
	<div ng-show="modal.modalType == 'formCreateGuia'" class="row">
		<div class="modal-header text-center">
			<h4 class="modal-title">
				Emitir Guias
			</h4>
		</div>
		<div class="modal-body col-md-12">
			<form name="formCreateGuia" ng-submit="submitFormCreateGuia()">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">
							Pessoa
						</label>
						<ui-select ng-model="servicosMult.cliente" ng-required="true" theme="select2" class="form-control select2me" on-select="setTipoPaciente($item)">
							<ui-select-match placeholder="Selecione...">
								{{$select.selected.name}}
							</ui-select-match>
							<ui-select-choices repeat="item.id as item in lPeople | filter: $select.search">
								<div ng-bind-html="item.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="col-md-12">
					<label class="control-label">
						Serviço
					</label>
					<div class="input-group">
						<ui-select ng-model="servicosMult.servico" reset-search-input="true" autofocus="true" on-select="addServico($item)">
							<ui-select-match placeholder="Digite um nome de serviço">
								{{$select.selected.nmServico}}
							</ui-select-match>
							<ui-select-choices repeat="servico in servicos track by $index" refresh="atualizarSelectServicos($select.search)" refresh-delay="1000">
								<div ng-bind-html="servico.nmServico | highlight: $select.search"></div>
								<small>
									COD: {{servico.nrCodServico}} Serviço:
									<span ng-bind-html="''+ servico.nmServico | highlight: $select.search"></span>
								</small>
							</ui-select-choices>
						</ui-select>
						<span class="input-group-addon">
							<i class="fa fa-search" popover-placement="right" popover-title="Dica"
								popover="Utilize '%' no inicio e/ou fim da palavra para obter resultados mais precisos." popover-trigger="mouseenter">
							</i>
						</span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-12">
						<hr/>
						<h4 ng-show="newGuia.guiaServicos.length > 0">Lista de serviços selecionados</h4>
						<h5 ng-show="newGuia.guiaServicos.length == 0">
							Lista de serviços vazia
						</h5>
					</div>
					<table ng-hide="newGuia.guiaServicos.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>Serviço</th>
								<th> </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in newGuia.guiaServicos">
								<td>{{item.servico.nmServico}}</td>
								<td>
									<button type="button" class="btn btn-sm btn-danger" ng-click="removeRowAndItem(item)">
										<i class="fa fa-trash-o" popover="Remover"></i>
										Remover
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		        <div class="col-md-12 text-center">
					<hr />
		            <button ng-show="(newGuia.guiaServicos.length > 0) && (newGuia.cliente.id)" ng-disabled="labelBtnSubmit == 'Aguarde...'" class="btn btn-primary" type="submit">
						<span ng-show="labelBtnSubmit == 'Aguarde...'">
							<i class="glyphicon glyphicon-refresh spinning"></i>
						</span>
						{{labelBtnSubmit}}
					</button>
		            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
		        </div>
			</form>
		</div>
	</div>
	<div ng-show="modal.modalType == 'printVoucherGuia'" class="row print-content">
		<div class="modal-header text-center">
			<h2 class="modal-title">
				Comprovante de Guia - <strong>{{idPretty}}</strong>
			</h2>
			<div class="margin10horizonte">
				<div class="text-left">
					<p class="">
						Criado em: <strong>{{dateCreatePretty}}</strong>
					</p>
					<p class="">
						Válido até: <strong>{{dateValidPretty}}</strong>
					</p>
					<p class="">
						Paciente:
						<strong>{{newGuia.paciente.name}}</strong>
					</p>
					<p class="">
						Titularidade:
						<strong>{{ownership}}</strong>
					</p>
					<p>
						Agende em:
						<strong>{{company.nmUnidade}}</strong>
						<br/>
						<strong>{{company.nmLogradouro}}, Número {{company.nrNumero}},
							Bairro {{company.bairro.nmBairro}}
						</strong>
					</p>
					<p>
						Contato para agendamento:
						<strong>{{company.nrTelefone1}}</strong>
					</p>
				</div>
			</div>
		</div>
		<div class="modal-body col-md-12">
			<div class="col-md-12 text-center">
				<table ng-hide="newGuia.guiaServicos.length == 0" class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th>Serviço</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in newGuia.guiaServicos">
							<td class="text-left">{{item.servico.nmServico}}</td>
						</tr>
					</tbody>
				</table>
				<hr />
				<div class="no-print">
					<button class="btn btn-success" ng-click="print()">
						<i class="fa fa-print"></i>
						Imprimir
					</button>
					<button class="btn btn-warning" type="button" ng-click="cancel()">
						Encerrar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
