<div class="modal-content">
	<div class="row">
		<div class="modal-header text-center">
			<h4 class="modal-title">
				Pedidos para {{servico.nmServico}}
			</h4>
		</div>
		<div class="modal-body col-md-12">
            <table class="table table-bordered table-hover" ng-table="tableParams" show-filter="false">
                <tr ng-repeat="guia_servico in lGuiaServicos.data" ng-class="{'text-danger': guia_servico.tdExclusaoFormated}">
					<td title="'Código'" class="text-left">
                        <a class="text-info" ng-href="#/conveniada/guia_{{guia_servico.guia.id}}.html">
                            <strong>
                                {{('000000' + guia_servico.guia.id).slice(-6)}}
                            </strong>
						</a>
					</td>
                    <td title="'Valor'" class="text-left">
						{{guia_servico.valorServico.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}
                    </td>
                    <td title="'Criação'">
						{{guia_servico.guia.dtInicioFormated}}
                    </td>
                    <td title="'Validade'">
						{{guia_servico.validateFormated}}
                    </td>
                    <td title="'Status'">
						{{guia_servico.statusLabel}}
                    </td>
                    <td title="'Cliente'" class="text-left">
						{{guia_servico.beneficiario}}
                        <span ng-show="guia_servico.guia.dependente" title="O titular do contrato é: {{guia_servico.guia.cliente.nmCliente}}" class="text-primary">
                            &nbsp;<i class="fa fa-info-circle"></i>
                        </span>
                    </td>
                    <td title="'Titularidade'" class="text-left">
						{{guia_servico.titularidade}}
                    </td>
                </tr>
            </table>
		</div>
	</div>
</div>
