<style type="text/css">
	.daterangepicker .input-mini {
		width: 100% !important;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Cortesias concedidas</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<!-- DATEPICKER RANGE -->
					<div class="col-md-3" >
						<label><strong>Periodo</strong></label>
						<div class="form-group" >
							<input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
							options="{eventHandlers:{'apply.daterangepicker': loadData}, locale:localeDateRangePicker, ranges: rangesDateRangePicker, maxDate: maxDate ,alwaysShowCalendars:true, timePicker:false }" 
							placeholder="Selecione a data" />
						</div>		
					</div>
					<!-- END DATEPICKER RANGE -->
					<!-- BEGIN status filter -->
					<div class="col-md-6">
						<label><strong>Status</strong></label>
						<br/>
						<label class="radio-inline" ng-repeat="option in statusFilterOptions">
							<input type="radio" name="statusFilter" icheck class-radio-icheck="iradio_square-blue" ng-value="{{option.value}}" ng-model="filterStatus.value" ng-change="loadData()">{{option.name}}
						</label>
					</div>
					<!-- END status filter -->
					<div class="col-md-3">
						<label><strong>Já utilizadas?</strong></label>
						<br/>
						<label class="radio-inline" ng-repeat="option in utilizacaoFilterOptions">
							<input type="radio" name="utilizacaoFilter" icheck class-radio-icheck="iradio_square-blue" ng-value="{{option.value}}" ng-model="filterUtilizacao.value" ng-change="loadData()">{{option.name}}
						</label>
					</div>
				</div>
				<div class="row">
					<div class="table-responsive" ng-if="tableParamsCortesias">
						<table ng-table="tableParamsCortesias" show-filter="true" class="table table-striped table-bordered table-hover">
							<tr ng-repeat="item in $data">
								<td title="'Nome'" filter="{'nmCliente': 'text'}" class="text-center">
									{{ item.nmCliente }}
								</td>
								<td title="'Data Nasc.'" filter="{'dataNascimento': 'text'}" class="text-center">
									{{ formatDate(item.dataNascimento) }}
								</td>
								<td title="'Vendedor'" filter="{'nmVendedor': 'text'}" class="text-center">
									{{ item.nmVendedor }}
								</td>
								<td title="'Observações'" class="text-center">
									{{ item.nmDescricao }}
								</td>
								<td title="'Status'" class="text-center align-middle" sortable="'inStatusCortesia'">
									<span class="label label-primary" ng-if="item.inStatusCortesia == 0 || item.inStatusCortesia == null" tooltip="Cortesia ainda não analisada pelo setor administrativo">
										N&atilde;o Analisada
									</span>
									<span class="label label-success" ng-if="item.inStatusCortesia == 1" tooltip="Aprovada por: {{item.funcionarioAproRepro.nmFuncionario}}">
										<i class="fa fa-check"></i> Aprovada
									</span>
									<span class="label label-danger" ng-if="item.inStatusCortesia == 2" tooltip="Rerovada por: {{item.funcionarioAproRepro.nmFuncionario}}">
										<i class="fa fa-times"></i> Rejeitada
									</span>
								</td>
								<td title="'Analisar'" class="text-center align-middle" style="width: 95px !important;" ng-if="showAvaliarActions">
									<div class="btn-group" ng-if="!item.boUtilizada">
										<a class="btn btn-circle btn-icon-only red" tooltip="Rejeitar" ng-disabled="isInProcessingList(item.id) || item.inStatusCortesia == 2" ng-click="atualizarStatus(item, 2)">
											<i class="fa fa-times"></i>
										</a>
										<a class="btn btn-circle btn-icon-only green" tooltip="Aprovar" ng-disabled="isInProcessingList(item.id) || item.inStatusCortesia == 1" ng-click="atualizarStatus(item, 1)">
											<i class="fa fa-check"></i>
										</a>
									</div>
									<!-- END botões averiguar -->
									<span class="label label-warning align-middle" style="font-size: 12px;" tooltip="Liberada por: {{item.funcionarioLiberou.nmFuncionario}}" ng-if="item.boUtilizada">usada</span>
								</td>
								<td title="'Ações'" class="text-center align-middle" ng-if="showLiberarActions">
									<!-- BEGIN botão liberar -->
									<a class="btn blue" ng-if="!item.boUtilizada" ng-click="liberarCortesia(item)" ng-disabled="isInProcessingList(item.id)">
										<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-if="isInProcessingList(item.id)"></i>
										Liberar
									</a>
									<!-- END botão liberar -->
									<span class="label label-warning align-middle" style="font-size: 12px;" tooltip="Liberada por: {{item.funcionarioLiberou.nmFuncionario}}" ng-if="item.boUtilizada">usada</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>