<style>
.finger-medida {
	width: 64px;
	height: 64px;
}

.checkboxdemoSelectAll .demo-legend {
	color: #3F51B5;
}

.checkboxdemoSelectAll .demo-fieldset {
	border-style: solid;
	border-width: 1px;
	height: 100%;
}

.checkboxdemoSelectAll .demo-select-all-checkboxes {
	padding-left: 30px;
}

input[type=file] {
	display: none;
}
</style>

<div  class="margin-top-10">
	<div class="row">
		<div class="portlet light ">
			<div class="portlet-title">
					<div class="caption caption-md">
						
						<h2	class="caption-subject font-green-haze bold">
							Funcion&aacute;rios Ativos
						</h2>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<!-- BEGIN SEARCH BY FORMA PAGAMENTO -->
                <div class="col-md-4">
                    <label>Grupos</label>
                    <div class="form-group">
                        <ui-select ng-model="grupoFuncionarioSelected.grupo" 
                            theme="select2" class="form-control select2me" 
                            on-select="updateFuncionarios()" 
                            name="nmGrupoFuncionarios" id="nmGrupoFuncionarios"
                            search-enabled="false"
                            style="min-width: 300px;" > 
                                <ui-select-match placeholder="Filtrar por grupo">
                                    {{$select.selected.nmGrupo}}
                                </ui-select-match> 
                                <ui-select-choices repeat="item as item in optionsGrupoFuncionario | filter: $select.search">
                                    <div ng-bind-html="item.nmGrupo | highlight: $select.search"></div>
                                </ui-select-choices> 
                        </ui-select>    
                    </div>
                </div>

                <div>

                				<a id="popoverBtn"
                    			ng-click="myPopover.open()" 
                    			class="btn blue btn-circle btn-icon-only btn-outline open" 
                    			href="#"
                    			popover-append-to-body="true"
                    			popover-is-open="myPopover.isOpen" 
                    			popover-template="myPopover.templateUrl" 
								popover-trigger = "click"
								popover-title="Mensagem"
								popover-placement="left">
                         	<i class="fa fa-envelope-o" aria-hidden="true"></i>	
							</a>
                </div>
                <!-- END SEARCH BY FORMA PAGAMENTO -->

					<div id="imageLoading">
                    	<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    	<br/><br/>
                	</div>
			</div><!-- END TITLE -->

			<div class="col-md-11"  ng-show="funcionarios.length > 0" style="margin-left:20px;">
				<div class="text-right">
    				<span > 
    					Total: 
    				</span>
    				<span class="badge badge-success" tooltip="total de registros"> 
    					{{funcionarios.length}} 
    				</span>
    				<span > 
    					Total SMS: 
    				</span>
    				<span class="badge badge-success" tooltip="total de registros"> 
    					{{totalChecked}} 
    				</span>
				</div><br/>
			</div>

			<div class="portlet-body">
				
				<div class="table-responsive">
					<table 
						id="tbFuncionarios" 
						ng-table="tableParams" show-filter="true"
						class="table table-striped table-bordered table-hover">				
						
						<tr ng-repeat="item in $data">
							<td width="2%" style="text-align: left" header="'ng-table/headers/checkbox.html'">
							<input ng-click="checkFuncionario(item)" type="checkbox" ng-model="item.selected" value="{{item.selected}}"/>
							</td>
							<td data-title="'Nome'" filter="{'nmFuncionario': 'text'}" sortable="'nmFuncionario'" >
								{{item.nmFuncionario}}
							</td>
							<td data-title="'CPF'" filter="{'nrCpf': 'text'}" >
								{{item.nrCpf}}
							</td>
							<td data-title="'Cargo'" filter="{'nmCargo': 'text'}" sortable="'nmCargo'" >
								{{item.nmCargo}}
							</td>
							<td data-title="'Assinatura Digital'" class="text-center">
								</br>
								
								<div ng-show="item.inGrupoFuncionario == 1">	
									<button ng-show="item.assinaturaDigital == null" class="btn btn-xs green" ng-click="openModalAssinaturaDigitalFuncionario(item)">
                                		Cadastrar assinatura
                            		</button>
									<div ng-show="item.assinaturaDigital != null">
										<img  ng-src="{{item.assinaturaDigital}}" alt="Base64 encoded image" width="70%" height="60"/>
										<br> </br>
										<button class="btn btn-xs red-haze" ng-click="openModalAssinaturaDigitalFuncionario(item)">
											Atualizar assinatura
										</button>
									</div>
								</div> 
								<!--
								<button class="btn btn-xs blue" ng-click="openModalDigitalFuncionario(item)"
                                        ng-show="item.digitalFuncionario == null">
                                    Atualizar assinatura digital
                                </button>  
								-->
							</td>
                            <td data-title="'Digital'" class="text-center">
                                <div class="input-group-center" ng-switch on="item.idDedoDigital">
									<div ng-switch-when="0">
										<img class="finger-medida" ng-src="assets/global/img/fingers/all.png">
										<h5>
											<span class="label label-warning">Dedo desconhecido</span>
										</h5>
									</div>
									<div ng-switch-when="1">
										<img tooltip="Polegar direito"
										class="finger-medida" ng-src="assets/global/img/fingers/right-polegar.png">
									</div>
									<div ng-switch-when="2">
										<img tooltip="Indicador direito"
										class="finger-medida" ng-src="assets/global/img/fingers/right-indicador.png">
									</div>
									<div ng-switch-when="3">
										<img tooltip="Médio direito"
										class="finger-medida" ng-src="assets/global/img/fingers/right-medio.png">
									</div>
									<div ng-switch-when="4">
										<img tooltip="Anelar direito"
										class="finger-medida" ng-src="assets/global/img/fingers/right-anelar.png">
									</div>
									<div ng-switch-when="5">
										<img tooltip="Mínimo direito"
										class="finger-medida" ng-src="assets/global/img/fingers/right-mindinho.png">
									</div>
									<div ng-switch-when="6">
										<img tooltip="Polegar esquerdo"
										class="finger-medida" ng-src="assets/global/img/fingers/left-polegar.png">
									</div>
									<div ng-switch-when="7">
										<img tooltip="Indicador esquerdo"
										class="finger-medida" ng-src="assets/global/img/fingers/left-indicador.png">
									</div>
									<div ng-switch-when="8">
										<img tooltip="Médio esquerdo"
										class="finger-medida" ng-src="assets/global/img/fingers/left-medio.png">
									</div>
									<div ng-switch-when="9">
										<img tooltip="Anelar esquerdo"
										class="finger-medida" ng-src="assets/global/img/fingers/left-anelar.png">
									</div>
									<div ng-switch-when="10">
										<img tooltip="Mínimo esquerdo"
										class="finger-medida" ng-src="assets/global/img/fingers/left-mindinho.png">
									</div>
									<!-- <div ng-switch-default>
										<img class="finger-medida" ng-src="assets/global/img/fingers/all.png">
										<img tooltip="Polegar direto"
										class="finger-medida" ng-src="assets/global/img/fingers/right-polegar.png">
										<h5>
											<span class="label label-warning">Dedo desconhecido</span>
										</h5>
									</div> -->
								</div>
								<br/>
								 <button class="btn btn-xs green" ng-click="openModalDigitalFuncionario(item)"
                                        ng-show="item.digitalFuncionario == null">
                                    Cadastrar Digital
                                </button>   
                                <button class="btn btn-xs red-haze" ng-click="openModalDigitalFuncionario(item)"
                                        ng-show="item.digitalFuncionario != null">                                    
                                    <i class="fa fa-dot-circle-o"></i> Cadastrar Digital Novamente
                                </button>
                                 <button ng-disabled="item.digitalFuncionario == null"class="btn btn-xs green" title="Autorização Totem" ng-click="updateAutorizacaoTotem(item)">
                                 	<i title="Autorização Totem"><input ng-disabled="item.digitalFuncionario == null" type="checkbox" title="Autorização Totem" ng-model="item.boAutorizacaoTotem"></i>
								</button>
							</td>

							<td data-title="'*'" class="text-center">
								<a  href="#/funcionario/{{item.id}}/{{item.nmFuncionario}}/upload"  tooltip="Enviar arquivos"
								 ng-show="canAccessUpload">
									<span class="glyphicon glyphicon-upload" aria-hidden="true" />
								</a>
							</td>
						</tr>
					</table><!-- END EMPLOYEES TABLE -->				
				</div>
			</div><!-- END BODY -->
		</div>	
	</div>
</div>

	<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    	<input type="checkbox" ng-model="checkboxes.checked" tooltip="selecionar todos" ng-click="checkAll()" />
    </script>

    <script type="text/ng-template" id="myPopoverMensagemAgendamento.html">
					
					<div>
						<div id="numero" style="margin-left:155px">{{MSG_MAX_LENGTH - myPopover.msg.length}}</div>
						<textarea maxlength="145" id="textArea" placeholder="Escreva uma mensagem" rows="8" style="width: 100%" class="form-control" ng-model="myPopover.msg" ng-trim="false"></textarea>&nbsp;	
						<div class="text-right"> 

							<button  title="Fechar" ng-click="myPopover.close()" class="btn btn-sm btn-danger btn-circle btn-icon-only btn-outline"><i class="fa fa-times" aria-hidden="true"></i></button>

						 	<button id="btnOpen" title="Enviar" ng-disabled="myPopover.msg.length == 0 || botaoEnviar == true" value="" ng-click="enviarSMS()" ng-model="button" class="btn btn-sm btn-success btn-circle btn-icon-only btn-outline"><i class="fa fa-check" aria-hidden="true"></i></button>

						</div>
					</div>
				</script>	

<script type="text/ng-template" id="cadDigitalFotoModalContent2.html">
	    <div class="modal-header">
	        <h4 class="modal-title">Deseja cadastrar uma nova digital?
	        </h4>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn green-haze" type="button" id="btnCadDigitalFoto" ng-click="cadDigitalFoto()">{{digitalFotoClienteMsg}}</button>
	        <button class="btn default" type="button" ng-click="exit()">Fechar</button>
	        <button class="btn default" type="button" ng-click="cancel()">Cancelar</button>
	    </div>
</script>

<script type="text/ng-template" id="funcionarioAssinaturaDigital.html">
	<div class="modal-header">
	    <h4 class="modal-title">Deseja cadastrar uma nova assinatura digital?</h4>
	</div>
	<div class="modal-footer">
		<form id="uploadFileForm"  name="uploadFile" class="text-center" novalidate >
			<div class="form-group">
				<input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" ngf-model-invalid="invalidFiles"
				ngf-select="preencher($files,invalidFiles)" ng-model="uploadedFile" 
				ngf-accept="'.png,.jpg'" ngf-pattern="'.png,.jpg'"
				ngf-validate="{size:{min:'1',max:'3MB'}}" ngf-max-files="1" 
				ngf-max-total-size="9MB" required multiple 
				ng-click="inicializarForm()"/>
				<label for="file-7">
					<img ng-show = "fileB64View != null" ng-src="{{fileB64View}}" alt="Base64 encoded image" width="90%" height="90"/>
					<br/></br/>
					<strong><span>{{fileName}}</span></strong>
					<strong ng-hide="fileName">
						<i class="fa fa-upload" aria-hidden="true"></i> 
						Escolher imagem
					</strong>
				</label>
			</div>
		</form><!-- END FORM UPLOAD -->
		<button type="submit" class="btn blue"  ng-click="salvarArquivo()" style="margin-left:140px;" ng-disabled="!fileName.length">
			<span>Salvar</span>
		</button>
		<button class="btn default" type="button" ng-click="exit()">Fechar</button>
	</div>
</script>