<style>
	input[type=file] {
    	display: none;
	}
</style>
<div  class="margin-top-10">
	<div class="row">
		<div class="portlet light">
			
			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md col-md-8">
					<i class="fa fa-user" aria-hidden="true"></i>
					<span class="caption-subject font-green-haze bold">
						{{nmFuncionario}}
					</span>
				</div>
			</div>
			<!-- END TITLE-->

			<br />
			<form id="uploadFileForm"  name="uploadFile" style="margin-left:30%" novalidate ng-show = "canUpload" >
				 
				 <div class="form-group">
				   <input 
						type="file" name="file-7[]" id="file-7" 
						class="inputfile inputfile-6" data-multiple-caption="{count} files selected"
						ngf-model-invalid="invalidFiles"
						ngf-select="preencher($files,invalidFiles)" ng-model="uploadedFile" 
						ngf-accept="'.png,.jpg,.pdf'" ngf-pattern="'.png,.jpg,.pdf'"
						ngf-validate="{size:{min:'1',max:'3MB'}}" ngf-max-files="3" 
						ngf-max-total-size="9MB" required multiple 
						ng-click="inicializarForm()"/>
					<label for="file-7">
						<span></span> 
						<strong>
						 <i class="fa fa-upload" aria-hidden="true"></i> 
					 	 Escolha arquivos
					 	</strong>
					</label>
				  </div>

				  <button type="submit" class="btn blue"  ng-click="salvarArquivo()" style="margin-left:140px;">
				  		<span ng-show="!buttonDisabled">
				  			Enviar
				  		</span>

				  		<span ng-show="buttonDisabled">
				  			Enviando
				  			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				  		</span>
				  </button>		  

			</form><!-- END FORM UPLOAD -->
		
  		    <br />
		    <div ng-repeat="f in invalidFiles" class="alert alert-danger" role="alert">
		  		<h4>{{f.name}}</h4>
		  		<h5>Tipo: {{f.type}}</h5>
		  		<h5 ng-show="f.$error == 'maxSize'">Arquivo Invalido: Tamanho ultrapassou 3MB</h5>	
		  		<h5 ng-show="f.$error == 'maxFiles'">Arquivo Invalido: Maximo 3 arquivos por vez</h5>	
		  		<h4>Erro: {{f.$errorParam}}</h4>
		    </div>
		
			 <br /><br />

			 <div class="col-md-offset-3 col-md-6">
				 <div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="0"
				  aria-valuemin="0" aria-valuemax="100"style="width:{{f.progress}}%"  >
				  </div>
				</div>
			</div>

			 <br /><br />

		</div>
	</div><!--  END ROW UPLOAD-->
	<div class="row" ng-show="canUpload">
		<form novalidate >
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="fa fa-file-text-o"></i>
						<span class="caption-subject font-green-haze bold uppercase">
							Arquivos
						</span>
					</div>
					<div id="imageLoading">
                    	<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    	<br/><br/>
                	</div>
				</div>
				<div class="portlet-body">
					
					<tabset active="active">
						 <tab index="0" heading="Imangens">

						 	<br/>
						 	<div style="margin-left:20px;">
						 		<ng-gallery images="employeeImages" thumbs-num="11">
							</ng-gallery>	
						 	</div>
							
						 </tab><!-- END TAB IMAGES-->

						 <tab index="1" heading="Documentos">
							<div class="table-responsive" style="margin-left:20px;">
								<table class="table table-striped table-bordered table-hover" id="table_arquivos_cliente">
									<thead>
										<tr>
											<th>Arquivo</th>
											<th>Formato</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="arquivo in arquivosFuncionario.arquivos">
											<td ng-show="arquivo.extensao == 'pdf'">{{arquivo.nome}}</td>
											<td ng-show="arquivo.extensao == 'pdf'">
												<a 
												ui-sref="funcionario-visualizarArquivo({
												idFuncionario:arquivosFuncionario.funcionario.id,nmFuncionario: arquivosFuncionario.funcionario.nmFuncionario ,
												nmArquivo: arquivo.nome,
												linkArquivo: arquivo.url})">
													<i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
												</a>
											</td>
									</tbody>
								</table>
							</div>
						 </tab><!-- END TAB FILES-->
					</tabset>
				</div>
			</div>
		 </form>
	</div><!-- END ROW FILES-->
</div> <!-- END CONTENT-->
<script>

	/* customize file input */

	'use strict';

;( function ( document, window, index )
{
	var inputs = document.querySelectorAll( '.inputfile' );
	Array.prototype.forEach.call( inputs, function( input )
	{
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

		input.addEventListener( 'change', function( e )
		{
			var fileName = '';
			if( this.files && this.files.length > 1 )
				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
			else
				fileName = e.target.value.split( '\\' ).pop();

			if( fileName )
				label.querySelector( 'span' ).innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});

		// Firefox bug fix
		input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
		input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
	});
}( document, window, 0 ));
</script>


