<!-- 
@author : Joelton Matos
@since : 01/05/2016
@version : 1.0 
-->

<div  class="margin-top-10">
	<div class="row">
		<div class="portlet light ">
			<div class="portlet-title">
					<div class="caption caption-md col-md-8">
						<i class="fa fa-eye" aria-hidden="true"></i>
						<span	class="caption-subject font-green-haze bold">
							Visualizacao de arquivos
						</span>
					</div>
					<div id="imageLoading">
                    	<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    	<br/><br/>
                	</div>
			</div><!--  END TITLE-->
			<div class="portlet-body">
				<h3>{{pdfName}}</h3>
				<div class="table-responsive">
						<div class="wrapper" ng-controller="VisualizarPdfController">
	    					<ng-pdf 
	    						template-url="templates/admin4_material_design/angularjs/views/funcionario/viewer.html" 
	    						canvasid="pdf" scale="page-fit">
	    					</ng-pdf>
					</div>
				</div>
			</div><!-- END BODY-->
		</div>	
	</div>
</div>