<!-- 
@author : Joelton Matos
@since : 01/05/2016
@last-modification: 18/06/2016
@version : 1.1
-->

<style type="text/css">
  
  .pdf-controls { width: 100%; display: block; background: #eee; padding: 1em;}

  .fixed { position: fixed; top: 40px; left: calc(50% - 480px); z-index: 100; width: 100%; padding: 1em; background: rgba(238, 238, 238,.9); width: 960px; }

</style><!-- END STYLE -->

<nav ng-class="{'pdf-controls fixed': scroll > 100, 'pdf-controls': scroll <= 100}">
  
    <button ng-click="goPrevious()" class="btn btn-info  btn-sm">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
  
    <button ng-click="goNext()" class="btn btn-info  btn-sm">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
  
    <button ng-click="zoomOut()" class="btn btn-warning  btn-sm">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button>

    <button ng-click="fit()" class="btn btn-default  btn-sm">
        100%</span>
    </button>

    <button ng-click="zoomIn()" class="btn btn-success  btn-sm">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  
    <button ng-click="rotate()" class="btn btn-default  btn-sm">90</span></button>

     &nbsp;&nbsp;
    <span>Page: </span>
    <input type="text" min=1 ng-model="pageNum" style="width:40px;" class="text-center">
    <span> / {{pageCount}}</span>

    &nbsp;&nbsp;
    <span>Document URL: </span>
    <input type="text" ng-model="pdfUrl" style="width:200px;">
  
    &nbsp;&nbsp;
    <a class="btn btn-warning btn-sm" style="margin-left:20px" ui-sref="funcionario_uploadArquivo({idFuncionario:idFuncionario,nmFuncionario:nmFuncionario})">Voltar</a>

</nav>

<hr>
<div class="alert alert-warning" role="alert" ng-if="loading"><strong><h4>{{loading}}</h4></strong></div>
<canvas id="pdf" class="rotate0"></canvas>
