<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center">Deseja inserir o número de serviço?</h4>
</div>
<br/><br/>
<div class="row" >
	<div class="col-md-12">
		<div class="portlet light">			
			<!-- BEGIN CONTENT -->
			<div class="portlet-body ">
				<form>
					<!--BEGIN FLUXO PRINCIPAL CADASTRO -->
					<div class="row">
						<div class="col-md-8" >

							<div class="row">

								<!-- NR Servico -->
								<div class="col-md-8">
									<label class="control-label">
										Nr. Serviço <span class="required"> * </span>
									</label>
			                       	<input id="nrServico" type="text" class="form-control input" 
			                       	ng-model="nrServico"> 
								</div>
								<!-- END NR Servico -->

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" >
							<div class="btn-group" style="float:right">
			                	<button type="button" class="btn btn-sm green-meadow"
			                	 ng-click="inserirNrServico(nrServico)" ng-disabled="buttonSalvarDisabled">Sim</button>
			                	<button type="button" class="btn btn-sm" ng-click="close(null)"> Não</button>
	                    	</div>	
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>