<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center">Importar Extrato</h4>
</div>
<br/><br/>
<form id="uploadFileForm"  name="uploadFile" style="margin-left:30%" novalidate ><!-- ng-show = "canUpload"  -->
					 
	<div class="form-group">
	   <input 
			type="file" name="file-7[]" id="file-7" 
			class="inputfile inputfile-6" data-multiple-caption="{count} files selected"
			ngf-model-invalid="invalidFiles"
			ngf-select="preencher($files,invalidFiles)" ng-model="uploadedFile" 
			ngf-accept="'.ofx'" ngf-pattern="'.ofx'"
			ngf-validate="{size:{min:'1',max:'3MB'}}" ngf-max-files="3" 
			ngf-max-total-size="9MB" required multiple 
			ng-click="inicializarForm()"/>
		<label for="file-7">
			<span>{{fileName}}</span> 
			<strong>
			 <i class="fa fa-upload" aria-hidden="true"></i> 
		 	 Escolha arquivos
		 	</strong>
		</label>
 	</div>

  	<button type="submit" class="btn blue"  ng-click="importarAquivo()" style="margin-left:140px;">
  		<span ng-show="!buttonDisabled">
  			Importar
  		</span>

  		<span ng-show="buttonDisabled">
  			Importando
  			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  		</span>
 	</button>		  

</form><!-- END FORM UPLOAD -->
<br />
<div ng-repeat="f in invalidFiles" class="alert alert-danger" role="alert">
		<h4>{{f.name}}</h4>
		<h5>Tipo: {{f.type}}</h5>
		<h5 ng-show="f.$error == 'maxSize'">Arquivo Invalido: Tamanho ultrapassou 3MB</h5>	
		<h5 ng-show="f.$error == 'maxFiles'">Arquivo Invalido: Maximo 3 arquivos por vez</h5>	
		<h4>Erro: {{f.$errorParam}}</h4>
</div>

 <br /><br />

 <div class="col-md-offset-3 col-md-6">
	 <div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="0"
	  aria-valuemin="0" aria-valuemax="100"style="width:{{f.progress}}%"  >
	  </div>
	</div>
</div>
<br /><br />
