<style>
	#conta-dados-gerais {
   		border-right: 3px solid #eee;
	}
</style>
<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center">Nova Despesa</h4>
</div>
<br/><br/>
<div class="row" >
	<div class="col-md-12">
		<div class="portlet light">			
			<!-- BEGIN CONTENT -->
			<div class="portlet-body ">
				<form>
					<!--BEGIN FLUXO PRINCIPAL CADASTRO -->
					<div class="row">
						<div class="col-md-6" id="conta-dados-gerais" >

							<div class="row">

								<!-- NR DOCUMENTO -->
								<div class="col-md-4">
									<label class="control-label">
										Nr.Documento <span class="required"> * </span>
									</label>
			                       	<input id="nrDocumento" type="text" class="form-control input-sm" 
			                       	ng-model="despesaFinanceiro.nrDocumento" 
			                       	ng-blur="verificarDocumentoDuplicado(despesaFinanceiro.nrDocumento)"> 
								</div>
								<!-- END NR DOCUMENTO -->

								<!-- valor --
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">
											Valor <span class="required">*</span>
										</label>
										<input type="text" class="form-control input-sm"  ng-model="despesaFinanceiro.vlDespesa" ui-number-mask>
									</div>	
								</div>
								<!-- end valor -->	

								<!-- DESCRICAO-->
								<div class="col-md-8">
									<label class="control-label">
										Descri&ccedil;&atilde;o <span class="required"> * </span>
									</label>
									<textarea id="nmDescricao" class="form-control input-sm"  rows="3"
									 ng-model="despesaFinanceiro.nmDespesa"></textarea>
									<span class="help-block text-right"> 
										<label class="label label-sm label-info">
										{{ ( 200 - despesaFinanceiro.nmDespesa.length ) + ' carac. restantes' }} 
										</label>
									</span>
								</div>
								<!--END DESCRICAO -->

							</div>
							<br>
							<div class="row">

								<!-- CONTA CONTABIL-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">
											Conta Cont&aacute;bil <span class="required"> * </span>
										</label>
										<div>
											<div class="changeButtonColorBorder">
												<button 
											 	 ng-click="loadContasContabil()" 
											 	 ng-show="!despesaFinanceiro.contaContabil"
											 	 class=" button-openModal form-control input-sm text-center">selecione</button>	
											</div>
											
											<div class="input-group input-group-sm"
											 ng-if="despesaFinanceiro.contaContabil.nmContaContabil.length > 0">
		                                        <input id="nmContaContabil" type="text" class="form-control" ng-model="despesaFinanceiro.contaContabil.nmContaContabil" ng-disabled="true">
		                                        <span class="input-group-btn">
		                                            <button class="btn blue" type="button"
		                                             ng-click="loadContasContabil()">
		                                            	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		                                            </button>
		                                        </span>
		                                    </div>
				                        </div>
									</div>
								</div>
								<!-- END CONTA CONTABIL-->

								<!-- data vencimento -->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">
											Vencimento <span class="required">*</span>
										</label>
									 	<p class="input-group  input-group-sm">
				                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="despesaFinanceiro.dtVencimento" 
				                            is-open="openDtVencimento" 
				                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-focus="openDtVencimento = true"
				                            close-text="Close"/>
				                            <span class="input-group-btn">
				                                <button type="button" class="btn btn-default" 
				                                 ng-click="openDtVencimento = true">
				                                    <i class="glyphicon glyphicon-calendar"></i>
				                                </button>
				                            </span>
				                        </p>
									</div>
								</div>	
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<!-- FORNECEDOR -->
								<div class="col-md-6">
									<label for="">Fornecedor
									</label>
									<ui-select id="selFornecedor" name="selFornecedor"
			                     	 ng-model="despesaFinanceiro.fornecedor.id"  
			                     	 class="form-control input-sm select2me" theme="select2" 
			                     	 append-to-body="true"> 
			                     		<ui-select-match
										placeholder="Selecione...">
											{{$select.selected.nmNomeFantasia}}
										</ui-select-match> 

										<ui-select-choices repeat="item.id as item in fornecedorOptions | filter: $select.search">
											<div ng-bind-html="item.nmNomeFantasia | highlight: $select.search">
											</div>
										</ui-select-choices> 
									</ui-select>  
								</div>

								<!-- CENTRO CUSTO-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">
											Centro de Custo<span class="required">*</span>
										</label>
										<div>
			                        	 	<div class="changeButtonColorBorder">
												<button
											 	 ng-click="loadCentroCusto()" 
											 	 ng-show="!despesaFinanceiro.centroCusto"
											 	 class=" button-openModal form-control input-sm  text-center">selecione</button>	
											</div>
											
											<div class="input-group input-group-sm"
											 ng-if="despesaFinanceiro.centroCusto.nmCentroCusto.length > 0">
		                                    	<input id="nmCentroCusto" type="text" class="form-control" 
					                       	 	 ng-model="despesaFinanceiro.centroCusto.nmCentroCusto"
					                       	 	 ng-disabled="true">
		                                        <span class="input-group-btn">
		                                            <button class="btn blue" type="button"
		                                             ng-click="loadCentroCusto()">
		                                            	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		                                            </button>
		                                        </span>
		                                    </div>
				                        </div>
									</div>
								</div>
							</div>	
							<div class="row">
								<div class="col-md-7" >
									<label class="control-label">
										Empresa Solicitante<span class="required">*</span>
									</label>
									<div class="form-group">
										<ui-select id="selEmpresa" name="selEmpresa"
				                     	ng-model="despesaFinanceiro.empresaFinanceiroSolicitante" class="form-control select2me" 
				                     	theme="select2" append-to-body="true" search-enabled="true"> 
				                     		<ui-select-match placeholder="Selecione a empresa...">
												{{$select.selected.nmFantasia}}
											</ui-select-match> 

											<ui-select-choices repeat="item as item in empresaSolicitanteOptions | filter: $select.search">
												<div ng-bind-html="item.nmFantasia | highlight: $select.search">
												</div>
											</ui-select-choices> 
										</ui-select>  
									</div>
								</div>
							</div>
							<div class="row">
								<!-- DATA COMPETENCIA-->
								<div class="col-md-5">
									<div class="form-group">
										<label for="">Data Competencia</label>
									 	<p class="input-group  input-group-sm">
				                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="despesaFinanceiro.dtCompetencia" 
				                            is-open="openDtCompetencia" 
				                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-focus="openDtCompetencia = true"
				                            close-text="Close" id="dtCompetencia"  />
				                            <span class="input-group-btn">
				                                <button type="button" class="btn btn-default" 
				                                ng-click="openDtCompetencia = true">
				                                    <i class="glyphicon glyphicon-calendar"></i>
				                                </button>
				                            </span>
				                        </p>
									</div>
								</div>
								<div class="col-md-3">
									<!-- NR SERVICO -->
									<label>
										Nr. Servico
									</label>
			                       	<input id="nrServico" type="text" class="form-control input-sm" 
			                       	 ng-model="despesaFinanceiro.nrServico">
								</div>

							</div>
							<!-- <div class="row">

								<div class="col-md-4">
									<!-- NR SERVICO --
									<label>
										Nr. Servico
									</label>
			                       	<input id="nrServico" type="text" class="form-control input-sm" 
			                       	 ng-model="despesaFinanceiro.nrServico">
								</div>

							</div> -->
						</div>
					</div>
					<!--END FLUXO PRINCIPAL CADASTRO -->
					<div class="row">
						<div class="col-md-12" >
							<div class="btn-group" style="float:right">
			                	<button type="button" class="btn btn-sm green-meadow"
			                	 ng-click="salvarDespesaFinanceiro( despesaFinanceiro, 0 )" ng-disabled="buttonSalvarDisabled">
			                		Salvar</button>
	                    	</div>	
						</div>
					</div>
				</form>
			</div>
			<!-- END CONTENT -->
		</div>
	</div>
</div>
