<style>
	.table thead tr th {
        font-size:10px;
        font-weight: 600;
    }
    .body {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 10px;
        direction: ltr;
    }
    .show-calendar {
        width:50% !important;
    }

</style>
<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center">Encontre o lançamento para <b tooltip="{{nmDespesa}}">{{nmDespesa.length > 15 ? (nmDespesa | limitTo: 15) + '...' : nmDespesa }} </b><!-- {{nmDespesa}} --></b> de R$ {{valorDespesaExt}}</h4>
</div>
<form>
    <div class="modal-body">
		<div class="row">
			<div class="col-md-12"> 
				<div class="col-md-7">
					<div class="input-group">
                        <ui-select id="listDespesa" ng-model="listDespesa.selected" ng-disabled="false" autofocus="true" reset-search-input="false" ng-required="true"  on-select="selectDespesa($item)"> 
                            <ui-select-match  placeholder="Pesquise a despesa...">{{$select.selected.nmDespesa}}</ui-select-match>
							<ui-select-choices repeat="item in listPesquisa track by $index " refresh="atualizarSelect($select.search)" refresh-delay="1000">
                                <div ng-bind-html="item.nmDespesa | highlight: $select.search">  </div>
                                <small> NrDocumento: {{item.nrDocumento}} Conta Contábil: {{item.contaContabil.nmContaContabil}}</small>
                            </ui-select-choices> 
						</ui-select>
                        <span class="input-group-btn" > 
                            <select class="btn default dropdown-toggle" ng-model="searchFiltro" style="width:90px; font-size:10px">
                                <option value="">Filtros</option>
                                <option value="!cod">Nr Documento</option>
                                <!-- <option value="!cpf ">CPF</option>
                                <option value="!rg ">RG</option> -->
                            </select>
                        </span> 
					</div>
				</div>
				<div class="col-md-3" style="width: 30%;">
                    <div>
                        <input date-range-picker
                        class="form-control date-picker text-center" type="text" 
                        ng-model="dataFiltro.date" placeholder="Selecione o período "
                        options="{eventHandlers:{'apply.daterangepicker' : changeDateLoad}, locale: localeDateRangePicker, ranges:
                        rangesDateRangePicker,alwaysShowCalendars:false, showCustomRangeLabel: true, timePicker:false}"/>
                    </div>
                </div>
                <br/>
				<!-- END FILTRO PERIODO -->
			</div>
            <br/><br/><br>
            <div class="col-md-5">
                <div class="form-group">
                    <ui-select
                        ng-model="contaContabil.selected" ng-change="filterContaContabil(contaContabil.selected)" class="form-control select2me" theme="select2" append-to-body="true" search-enabled="true" autofocus> 
                            <ui-select-match placeholder="Conta Contábil">
                            {{$select.selected.nmContaContabil}}
                        </ui-select-match> 

                        <ui-select-choices repeat="item in listContaContabil | filter: $select.search | orderBy:'id' ">
                            <div ng-bind-html="item.nmContaContabil | highlight: $select.search">
                            </div>
                        </ui-select-choices> 
                    </ui-select>  
                </div>
            </div>
		</div>
        <br/><br/>
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portle-body">
						<tabset >
                            <tab>
                                <tab-heading>
                                    Lançamentos
                                </tab-heading>
                            </tab>
                        </tabset>
                        <br/>                        
                        <span class="block" ng-if="!showTabela" > <i>Sem dados dispon&iacute;veis</i></span>
                        <span ng-show="showTabela">Selecione um ou mais lançamentos para conciliar</span>
                        <br/><br/>
                        <table class="table table-striped table-condensed table-hover" ng-table="tableParams" ng-show="showTabela">
                            <!-- <thead>
                                <tr>
                                    <th>Data Vencimento</th>
                                    <th>Nr Documento </th>
                                    <th>Descri&ccedil;&atilde;o</th>
                                    <th>Fornecedor</th>
                                    <th>Empresa Solicitante</th>
                                    <th style="width: 10%">Conta Contábil</th>
                                    <th>Valor</th>
                                    <th>Situação</th>
                                </tr>                   
                            </thead>
                            <tbody> -->
                                <tr ng-repeat="tipo in $data | filter : listDespesa.selected.nmDespesa">
                                    <td data-title="'Vencimento'" class="text-center"
                                    sortable="'dtVencimentoFormatado'"><input type="checkbox" ng-model="tipo.isChecked" >   
                                    {{tipo.dtVencimentoFormatado}}</td>
                                    <td data-title="'Nr Documento'" class="text-center" filter="{'nrDocumento':'text'}">{{tipo.nrDocumento}}</td>
                                    <td data-title="'Descri&ccedil;&atilde;o'" class="text-center">
                                        <p tooltip="{{tipo.nmDespesa}}">
                                       {{tipo.nmDespesa.length > 15 ? (tipo.nmDespesa | limitTo: 15) + '...' : tipo.nmDespesa }} </p>
                                    </td>
                                    <td data-title="'Fornecedor'" class="text-center">
                                        <p tooltip="{{tipo.fornecedor.nmNomeFantasia}}">
                                    {{tipo.fornecedor.nmNomeFantasia.length > 15 ? (tipo.fornecedor.nmNomeFantasia | limitTo: 15) + '...' : tipo.fornecedor.nmNomeFantasia}} </p></td>
                                    <td data-title="'Empresa Solicitante'" class="text-center">
                                        <p tooltip="{{tipo.empresaFinanceiroSolicitante.nmFantasia}}">
                                        {{tipo.empresaFinanceiroSolicitante.nmFantasia.length > 10 ? (tipo.empresaFinanceiroSolicitante.nmFantasia | limitTo: 15) + '...' : tipo.empresaFinanceiroSolicitante.nmFantasia}}
                                    </td>
                                    <td data-title="'Conta Contábil'" class="text-center">
                                        {{tipo.contaContabil.nmContaContabil}}
                                    </td>
                                    <td style="text-align: right" data-title="'Valor'" class="text-center" filter="{'vlDespesa' : 'text'}">
                                        {{tipo.vlPagoFormatado ||tipo.vlDespesaFormatado}}
                                    </td>
                                    <td data-title="'Situa&ccedil;&atilde;o'" class="text-center"
                                    sortable="'inStatus'">
                                        <span class="label label-blue" ng-show="tipo.inStatus == 0"> {{'EM ABERTO'}}</span>
                                        <span class="label label-success" ng-show="tipo.inStatus == 1"> {{'PAGO'}}</span>
                                        <span class="label label-danger" ng-show="tipo.inStatus == 2"> {{'ATRASADO'}}</span>
                                    </td>
                                </tr>
                            <!-- </tbody>     -->        
                        </table> 

                    </div>
                </div>
			</div>
		</div>
		<div class="modal-footer">
	        <div class="text-right">
	        	<button class="btn gray" style="float: left" ng-click="close()">Fechar</button>
	        	<button class="btn green" ng-click="utilizar()">Utilizar esse lançamento</button>
	        </div>
	    </div> 
	</div>
</form>
