<style>
	.buttonID {
		height: 135px !important;
	}
	.tamImagem{
		font-size:48px;
	}
</style>
<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center">Cadastro Conta Bancária</h4>
</div>
<form>
    <div class="modal-body">
		<!-- <div class="col-md-12"> -->
			<div class="row">
				<div class="col-md-12"> 
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Empresa <span class="required"> * </span>
							</label>
							<ui-select  ng-required="true" id="selEmpresa" name="selEmpresa"
			             	ng-model="empresaFinanceiro.selected" class="form-control select2me" 
			             	theme="select2" append-to-body="true" search-enabled="true" 
			             	ng-required="true"> 
			             		<ui-select-match placeholder="Selecione a empresa...">
									{{$select.selected.nmFantasia}}
								</ui-select-match> 

								<ui-select-choices repeat="item as item in empresaFinanceiroOptions | filter: $select.search">
									<div ng-bind-html="item.nmFantasia | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>  
						</div>
					</div>
				</div>
				<br/><br/>
				<!-- CONTA BANCÁRIA -->
				<div class="col-md-12">
					<div class="col-md-6" >
						<div class="form-group">
							<label class="control-label" for="txtDescricao">
								Descrição <i class="fa fa-exclamation-circle" popover-placement="right" popover-title="Dica"
	                    	popover="Ex: Caixa Interno - Dr Consulta ou Conta Dr Consulta Santander" popover-trigger="mouseenter"></i><span class="required"> * </span>
							</label>
							<input type="text" name="txtDescricao" id="txtDescricao" ng-model="banco.nmContaBancaria" placeholder="Descrição Banco" class="form-control" capitalize />
						</div>
					</div>
				</div>
				<!-- END CONTA BANCÁRIA -->
				<!--TIPO CONTA -->
				<div class="col-md-12">
					<div class="col-md-3">
	                    <label class="control-label">
	                    	Tipo Conta<span class="required"> * </span>
	                    </label>
	                    <ui-select id="selTipo" name="selTipo"
				             	ng-model="filters.selected" class="form-control select2me" 
				             	theme="select2" append-to-body="true" search-enabled="true" ng-value="filter.status" on-select="loadCondicao($item)">
		             		<ui-select-match placeholder="Selecione o tipo...">
								{{$select.selected.nome}}
							</ui-select-match> 

							<ui-select-choices repeat="item as item in filters | filter: $select.search">
								<div ng-bind-html="item.nome | highlight: $select.search">
								</div>
							</ui-select-choices> 
						</ui-select>  
	                </div>
	            </div>
				<!-- END TIPO CONTA -->
				<!--BANCO-->
				<div class="col-md-12" ng-show="showResto">
					<div class="col-md-6">
						<div class="form-group" >
							<label class="control-label">
								Banco <span class="required"> * </span>
							</label>
							<ui-select id="selBanco" name="selBanco"
			             	ng-model="banco.selected" class="form-control select2me" 
			             	theme="select2" append-to-body="true" search-enabled="true" 
			             	on-select="loadAgencias($item)"> 
			             		<ui-select-match placeholder="Selecione o banco...">
									{{$select.selected.nmBanco}}
								</ui-select-match> 

								<ui-select-choices repeat="item as item in bancoOptions | filter: $select.search">
									<div ng-bind-html="item.nmBanco | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select>  
						</div>
					</div>
				</div>
				<!--END BANCO-->
				<!--AGENCIA-->
				<br/><br/>
				<div class="col-md-12" ng-show="showResto">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Agência <span class="required"> * </span>
							</label>
							<ui-select id="selAgencia" name="selAgencia"
			             	ng-model="agencia.selected" class="form-control select2me" 
			             	theme="select2" append-to-body="true" search-enabled="true"> 
			             		<ui-select-match placeholder="Selecione a agência...">
									{{$select.selected.nrAgencia}} - {{$select.selected.nmAgencia}}
								</ui-select-match> 

								<ui-select-choices repeat="item as item in agenciaOptions | filter: $select.search">
									<div ng-bind-html="item.nrAgencia +' - '+ item.nmAgencia | highlight: $select.search">
									</div>
								</ui-select-choices> 
							</ui-select> 
						</div>
					</div>
					<div class="col-md-3" ng-show="showResto">
						<div class="form-group">
							<label class="control-label">
								Número Conta <span class="required"> * </span>
							</label>
							<input type="text" name="txtNrConta" id="txtNrConta"  placeholder="XXXX" class="form-control" maxlength="8" ng-model="agencia.nrNumeroConta"/>
						</div>
					</div>
					<div class="col-md-3" ng-show="showResto">
						<div class="form-group">
							<label class="control-label">
								Dígito <span class="required"> * </span>
							</label>
							<input type="text" name="txtDigito" id="txtDigito"  placeholder="XX" class="form-control" maxlength="2" ng-model="agencia.nrDigitoConta"/>
						</div>
					</div>
				</div>
				<!--END AGENCIA-->	
				

			</div>
		<!-- </div> -->
		<div class="modal-footer">
	        <div class="text-right">
	        	<button class="btn green" ng-click="salvarCadastroContaBan()">Salvar</button>
	            <button class="btn gray" ng-click="close()">Fechar</button>
	        </div>
	    </div> 
	</div>
</form>