<style>
    .table thead tr th {
        font-size:10px;
        font-weight: 600;
    }
    .body {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 10px;
        direction: ltr;
    }

    .accordion-heading{
        background: white;
    }
    .accordion-toggle::after {
        font-family: 'FontAwesome';
        content: "\f078";    
        float: right;
    } 
    .accordion-opened .accordion-toggle::after {    
        content: "\f054";
    }  

    .checkboxColor
        {
            background-color: #E0E5E5 !important;
        }
   
</style>

<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center">Retiradas</h4>
     <button class="btn btn-sm red" type="button"
      ng-click="gerarPdfDetalhes()" ng-if="showPDF">
        <i class="fa fa-print" aria-hidden="true"></i>
     </button>
</div>
<form>
    <div class="modal-body"  style:"width: 100px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <div class="form-check" ng-click="mostrarExcluidos(firstLoad)" ng-model="valorPorcentagem">
                        <input  type="checkbox"> Mostrar Excluidos </label>
                    </div>
                    <br/><br/>
                     <h4 style="text-align: right" ng-if="!showExcluidos"><b>Total:</b> {{totalRetirada | currency: 'R$'}}</h4>
                     <h4 style="text-align: right" ng-if="showExcluidos"><b>Total:</b> {{totalRetiradaExcluidas | currency: 'R$'}} </h4>
                    <div class="note note-info col-md-6" ng-show="showTab == false">
                        <h4 class="block"> Sem dados dispon&iacute;veis</h4>
                    </div>
                    <div ng-show="showTab == true">

                        <table class="table table-bordered table-striped table-condensed flip-content" ng-table="tableParams"  >
                            <tbody >
                                 <tr ng-repeat="item in $data" ng-class="{'checkboxColor': item.isChecked}">
                                    <td ng-if="item.boExcluido != true">
                                        <input type="checkbox" ng-model="item.isChecked" />
                                    </td>
                                    <td ng-if="item.boExcluido == true && showExcluidos">
                                        <input type="checkbox" ng-model="item.isChecked" />
                                    </td>
                                    <td class="text-center" title="'Data Movimenta&ccedil;&atilde;o'" filter="{'dtMovimentacaoCaixaFormatada' : 'text'}" ng-if="item.boExcluido != true" >{{item.dtMovimentacaoCaixaFormatada}}</td>
                                    <td class="text-center" title="'Data Movimenta&ccedil;&atilde;o'" filter="{'dtMovimentacaoCaixaFormatada' :'text'}" ng-if="item.boExcluido == true && showExcluidos" style="color:red">{{item.dtMovimentacaoCaixaFormatada}}</td>


                                    <td class="text-center" title="'Nr Movimentação'" filter="{'idMovimentacaoCaixa' : 'text'}"ng-if="item.boExcluido != true " >{{item.idMovimentacaoCaixa}}</td>
                                    <td class="text-center" title="'Nr Movimentação'" filter="{'idMovimentacaoCaixa' : 'text'}" ng-if="item.boExcluido == true && showExcluidos " style="color:red">{{item.idMovimentacaoCaixa}}</td>

                                    <td title="'Funcionário'" filter="{'nmFuncionario' : 'text'}" ng-if="item.boExcluido != true ">{{item.nmFuncionario}}</td>
                                    <td title="'Funcionário'" filter="{'nmFuncionario' : 'text'}" ng-if="item.boExcluido == true && showExcluidos" style="color:red">{{item.nmFuncionario}}</td>

                                    <td style="text-align: right" title="'Valor'" filter="{'vlMovimentacaoCaixa' : 'text'}"ng-if="item.boExcluido != true ">{{item.vlMovimentacaoCaixa | currency:'R$ '}}</td>
                                    <td style="text-align: right; color:red" title="'Valor'"  filter="{'vlMovimentacaoCaixa' : 'text'}"ng-if="item.boExcluido == true && showExcluidos" >{{item.vlMovimentacaoCaixa | currency:'R$ '}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="modal-footer">
            <div class="text-right">
                <button class="btn green" ng-click="close()">Fechar</button>
            </div>
         </div> 
    </div>
</form>

