<style>
    
    /* FIX LAYOUT DATEPICKER RANGER */
    .input-mini {
        width: 180px !important;
    } 

    .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

    .note {
        margin: 0 0 20px;
        padding: 0px 30px 0px 15px;
        border-left: 5px solid #eee;
        border-radius: 0 4px 4px 0; 
    }

</style>
<div class="margin-top-10">
    <div class="portlet light col-md-12">
        <div class="col-md-12">    
            <div class="row">
                <div id="imageLoading">
                     <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                </div>
            </div>
        </div>
    
        <!--BEGIN SEARCH OPTIONS -->
        <div class="row">
            <div class="col-md-12">
                        
                <!-- PERIODO -->
                <div class="col-md-4">
                    <label class="control-label">
                        Período
                    </label>
                    <div>
                       <input date-range-picker 
                        class="form-control date-picker text-center" type="text" 
                        ng-model="dataFiltro.date" placeholder=" Escolha o periodo." 
                        options="{eventHandlers:{'apply.daterangepicker':pesquisarAgendamentosMedicos}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,
                        alwaysShowCalendars:false, showCustomRangeLabel:true ,timePicker:false }" 
                        />
                    </div>    
                </div>
                <!-- END PERIODO -->
                <!-- STATUS -->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Status Agendamento<span class="required"> * </span>
                        </label>
                        <ui-select id="status" ng-model="status.id" theme="select2" class="form-control select2me" on-select="" name="status" search-enabled="false">
                            <ui-select-match placeholder="Selecione...">{{$select.selected.description}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in statusAgendamento | filter: $select.search">
                                <div ng-bind-html="item.description | highlight: $select.search">
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- END STATUS -->
                <div class="col-md-12"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            Grupo Funcion&aacute;rio
                        </label>
                        <ui-select id="grupoFuncionario" ng-model="grupoFuncionario.id" 
                            theme="select2" class="form-control select2me" 
                            on-select="loadFuncionarios($item)" name="grupoFuncionario"
                            search-enabled="false" > 
                            <ui-select-match
                                placeholder="Selecione...">{{$select.selected.description}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in grupoOptions| filter: $select.search">
                            <div ng-bind-html="item.description | highlight: $select.search">
                            </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            Funcion&aacute;rio Cadastro
                        </label>
                        <ui-select multiple close-on-select="true" ng-model="funcionario.selected" 
                            theme="bootstrap" sortable="true" on-select="choiceFuncionario($item)" on-remove="removeFuncionario($item)"> 
                            <ui-select-match aria-placeholder="Selecione..."> {{$item.nmFuncionario}} 
                            </ui-select-match>
                            <ui-select-choices repeat="item as item in funcionarioOptions | filter: $select.search">
                            <div ng-bind-html="item.nmFuncionario | highlight: $select.search">
                            </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            Unidade
                        </label>
                        <ui-select id="nmUnidade" ng-model="unidade.id" 
                            theme="select2" class="form-control select2me" 
                            on-select="loadEspecialidades($item, true)" name="nmUnidade"
                            search-enabled="false" > 
                            <ui-select-match
                                placeholder="Selecione...">{{$select.selected.nmUnidade}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in unidadeOptions | filter: $select.search">
                            <div ng-bind-html="item.nmUnidade | highlight: $select.search">
                            </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Especialidade</label>
                        <ui-select ng-model="especialidade.id" theme="select2" class="form-control select2me" on-select="loadProfissional($item, true, unidade.id)" name="nmEspecialidade" id="nmEspecialidade">
                        <ui-select-match placeholder="Selecione...">{{$select.selected.nmEspecialidade}}</ui-select-match> 
                        <ui-select-choices repeat="item.id as item in especialidadeOptions | filter: $select.search">
                        <div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
                        </ui-select-choices> </ui-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            Profissional
                        </label>
                        <ui-select id="nmFuncionario" ng-model="profissional.selected" theme="select2" class="form-control select2me" name="nmFuncionario">
                            <ui-select-match
                            placeholder="Selecione...">{{$select.selected.nmFuncionario}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in profissionaisOptions | filter: $select.search">
                                <div ng-bind-html="item.nmFuncionario | highlight: $select.search">
                                </div>
                            </ui-select-choices> 
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-push-5 col-md-6">
                    <span class="input-group-btn">
                        <button class="btn blue" type="button" ng-click="pesquisar(dataFiltro.date, status.id, grupoFuncionario.id, unidade.id, especialidade.id, profissional.selected)" ng-disabled="disabledButton">Pesquisar</button> 
                    </span> 
                </div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="row">
            <div class="col-md-6" ng-if="!showTab">
                <br/>
                <div class="note note-info">
                    <h4 class="block"> N&atilde;o h&aacute; registros.</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="label label-sm label-info" style="float:right; background-color: #3598dc; font-size: 12px" ng-show="tamListaAgendamento > 0">
                    <i title="Totais de Agendamentos"></i> total{{ ": "+tamListaAgendamento}} 
                </div>
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-12" ng-show="relatorioAgendamento.length > 0">
                <div class="table-responsive" style="margin-top: 0.5%" >
                    <table ng-table="tableParams" class="table table-striped table-bordered table-hover flip-content">
                        <tbody>
                            <tr ng-repeat="item in $data">
                                <td title="'Paciente'">{{item.paciente}} <i  ng-if="item.nmTitular != null" class="fa fa-exclamation-circle" popover-placement="right" popover="Titular: {{item.nmTitular}}" popover-trigger="mouseenter"></i>
                                </td>
                                <td title="'Código Paciente'">{{item.codCliente}}</td>
                                <td title="'Num Agendamento'">{{item.nrAgendamento}}</td>
                                <td title="'Data Agendamento'">{{item.dtAgendamentoFormatado}}</td>
                                <td title="'Hora Agendamento'">{{item.hrAgendamento}}</td>
                                <td title="'Data e Hora Inclusão'">{{item.dtInclusaoFormatada}}</td>
                            </tr>
                       </tbody>
                    </table>
                </div>
            </div>
            <div class="text-right" ng-show="totalItems > itemsPerPage" >
                 <pagination total-items="totalItems"  ng-change="pageChanged(dataFiltro.date, status.id, grupoFuncionario.id, unidade.id, especialidade.id, profissional.selected, currentPage)"
                  ng-model="currentPage" items-per-page="itemsPerPage" previous-text="<" next-text=">"  boundary-links="true" first-text="primeira" last-text="última" max-size="5"></pagination> 
            </div>
            <div class="col-md-12">    
                <div class="row">
                    <div id="imageLoading">
                         <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>