<div ng-controller="MedicoContaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Médico </span> <span class="caption-helper"> COD:
						{{selectedMedico.id}}</span>
				</div>
			</div>
			<div class="portlet-body">
				<form ng-submit="" id="formmedico" class="horizontal-form">
					<div class="form-body">
						<div class="alert alert-danger display-hide">
							<button class="close" data-close="alert"></button>
							Dados Inv&aacute;lidos. Por favor verifique os campos abaixo.
						</div>
						<h4 class="form-section">Informa&ccedil;&otilde;es Pessoais</h4>
						<hr />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label" for="txtCPF">CPF</label> <input type="text" id="txtCPF" name="txtCPF" edit-role ng-model="selectedMedico.nrCpf" placeholder="XXX.XXX.XXX-XX" class="form-control" readonly="true" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">RG</label> <input type="text" id="txtRG" name="txtRG" edit-role ng-model="selectedMedico.nrRg" placeholder="XXXXXXX-X" class="form-control" readonly="true" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Nome</label> <input type="text" name="txtNome" id="txtNome" edit-role ng-model="selectedMedico.nmFuncionario" placeholder="Nome do médico" class="form-control" readonly="true" capitalize />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Celular</label> <input type="text" id="txtCelular" name="txtCelular" ng-model="selectedMedico.nrCelular" placeholder="(XX) XXXXX-XXXX" class="form-control" readonly="true" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Telefone</label> <input type="text" id="txtTelefone" name="txtTelefone" ng-model="selectedMedico.nrTelefone" placeholder="(XX) XXXX-XXXX" class="form-control" readonly="true" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Data de Nascimento</label> <input type="text" name="txtDtNascimento" id="txtDtNascimento" edit-role class="form-control" datepicker-popup="dd/MM/yyyy"
									date-disabled="disabled(date, mode)" ng-model="selectedMedico.dtNascimento" is-open="opened" ng-click="opened = true" max-date="today" ng-required="true" datepicker-local-date readonly="true" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Sexo</label>
								<div ng-switch on="checkEditRole(rwRoles)">
									<div ng-switch-when="true">
										<div class="input-group" ng-switch on="selectedMedico.inSexo">
											<label ng-switch-when="0" class="btn btn-primary" ng-model="selectedMedico.inSexo" btn-radio="0">Masculino</label> <label ng-switch-when="1" class="btn btn-primary"
												ng-model="selectedMedico.inSexo" readonly="true" btn-radio="1">Feminino</label>
										</div>
									</div>
									<div class="input-group" ng-switch-when="false">
										<label class="btn btn-primary" ng-model="selectedMedico.inSexo" btn-radio="0">Masculino</label> <label class="btn btn-primary" ng-model="selectedMedico.inSexo" readonly="true" btn-radio="1">Feminino</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Email</label>
								<div class="input-group">
									<span class="input-group-addon"> <i class="fa fa-envelope"></i>
									</span> <input type="text" ng-model="selectedMedico.nmEmail" class="form-control" placeholder="Email" readonly="true">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Especialidade</label> <input type="text" edit-role ng-model="selectedMedico.nmCargo" placeholder="Especialidade" class="form-control" capitalize readonly="true" />
					</div>
					<!-- END PERSONAL INFO TAB -->
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {

		//$("#txtCelular").inputmask("(99) 99999-9999");

		//$("#txtTelefone").inputmask("(99) 9999-9999");

		$("#txtCPF").inputmask("999.999.999-99", {
			removeMaskOnSubmit : true
		});

		$("#txtDtNascimento").inputmask("d/m/y");

		$("#txtCEP1").inputmask("99999-999", {
			removeMaskOnSubmit : true
		});

		$("#txtCEP2").inputmask("99999-999", {
			removeMaskOnSubmit : true
		});
	});

	$("#rdSexo").buttonset();
</script>