<!-- 
@author : Joelton Matos
@since : 11-05-2016
@last-modification: 19-05-2016
@version : 1.1 
-->
<style>
#barcode-input
{
	background: transparent;
	border: none;
	color: transparent;
}

#barcode-input:focus {
	outline: none;
}
</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12">
			<div id="painel-details" class="profile-sidebar" ng-hide="showDetails">
				<div class="portlet light ">
					<div class="profile-userpic profile-sidebar-portlet">
						<img src="assets/admin/pages/media/profile/avatar.gif" class="img-responsive" ng-if="selectedCliente.fotoClienteDecoded == null">
					</div>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							{{nmPaciente}}
						</div>
					</div>
					<div class="profile-usermenu">
						<ul class="nav">
							<li ng-class="{active: $state.includes('medico-atendimentoPaciente.historico-consulta')}"><a ui-sref="medico-atendimentoPaciente.historico-consulta"> 
							<i class="fa fa-calendar" aria-hidden="true"></i>
									 Resumo
							</a></li>
							<li ng-class="{active: $state.includes('medico-atendimentoPaciente.anamnese-geral')}">
								<a ui-sref="medico-atendimentoPaciente.anamnese-geral"> 
									<i class="fa fa-file-text-o" aria-hidden="true"></i>
									Atendimento
								</a>
							</li>
							<li ng-class="{active: $state.includes('medico-atendimentoPaciente.anamnese-especifica')}">
								<a ui-sref="medico-atendimentoPaciente.anamnese-especifica">
									<i class="fa fa-list-ul" aria-hidden="true"></i>
									Anamnese
								</a>
							</li>
							<li ng-class="{active: $state.includes('medico-atendimentoPaciente.receituario')}">
								<a ui-sref="medico-atendimentoPaciente.receituario">
									<i class="fa fa-list-ul" aria-hidden="true"></i>
									Receitu&aacute;rio
								</a>
							</li>
							<li ng-class="{active: $state.includes('medico-atendimentoPaciente.laudo')}">
								<a ui-sref="medico-atendimentoPaciente.laudo">
									<i class="fa fa-list-ul" aria-hidden="true"></i>
									Laudo
								</a>
							</li>
							<li ng-class="{active: $state.includes('medico-atendimentoPaciente.lancar-exames')}">
								<a ui-sref="medico-atendimentoPaciente.lancar-exames"> 
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									Lan&ccedil;amento de exames
								</a>
							</li>
							<li ng-class="{active: $state.includes('medico-atendimentoPaciente.receituario-oftalmologico')}" ng-show="canSeeOftalmologia" >
								<a ui-sref="medico-atendimentoPaciente.receituario-oftalmologico">
									<i class="fa fa-file-text-o" aria-hidden="true"></i>
									Receituario Oftalmologico
								</a>
							</li> 
						</ul>

					</div><!-- END SIDE BAR -->

						<div class="text-center">
							<button class="btn btn-warning btn-xs"
							ng-click="openConfirmModal()" ng-disabled="buttonFinalizarDisabled">
								<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true" ng-if="buttonFinalizarDisabled"></i>
								Finalizar atendimento
							</button>
						</div>
						<br>
				</div>
			</div>			

			<div ui-view class="profile-content fade-in-up">
				<div ng-include="'templates/admin4_material_design/angularjs/views/medico/paciente-anamnese-geral.html'">
				</div>
			</div><!--END CONTENT PAGE -->
		</div>
	</div>
</div>

<script type="text/ng-template" id="finish-box.html">
	<div class="modal-header">
		<strong>Deseja realmente finalizar o atendimento do(a) paciente {{nmPaciente}} ?</strong>
	</div>
	<div class="modal-body" ng-if="shouldReadBarcode">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h4>Leia o c&oacute;digo de barras no comprovante de presen&ccedil;a do cliente</h4>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
				<img src="assets/global/img/barcode-icon.png" style="width: 50%;"/>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<input id="barcode-input" ng-model="$parent.barcodeModel" ng-change="modelChanged()" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-disabled="buttonFinalizarDisabled" ng-click="cancel()">Cancelar</button>
		<button class="btn blue" ng-click="modalConfirmBtn()" ng-disabled="buttonFinalizarDisabled" ng-if="!shouldReadBarcode">Ok</button>
	</div>
</script>