<!-- 
@author : Joelton Matos
@since : 11-05-2016
@last-modification: 03-06-2016
@version : 1.3
-->

<style>
	
	.redBackground{
		background-color:red;
	}

</style>


<div ng-controller="MedicoLancamentoExamesController" class="row">
	<div class="col-md-12">
		<div class="portlet light">

			<!-- TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Lan&ccedil;ar exames</span>
				</div>
			</div>
			<!-- /TITLE -->

			<div class="portlet-body">

				<!-- TIPOS DE ESPECIALIDADES CARDS-->
				<div class="row" >
					<div ng-repeat="tipoEspecialidade in tiposEspecialidade">	
						<div class="col-md-3">
							<div class="panel panel-default">
							  	<div class="panel-heading" style="background-color:#4ECDC4;color:#FFFFFF">
							  		<img ng-src="assets/global/img/medical-icons/{{tipoEspecialidade | lowercase}}A.png">
							  		 &nbsp; {{tipoEspecialidade}}
							  	</div>
							  	<div class="panel-body text-center">
							    	<a class="btn btn-default " ng-click="getServicosEspecialidade( tipoEspecialidade )" 
							    	 du-smooth-scroll="infoAfterSelected" duration="1000" >Servi&ccedil;os</a>
						  		</div>
							</div>
					    </div>
					</div>
				</div>
				<!-- /TIPO ESPECIALIDADE CARDS-->

				<!-- TITLE TIPO ESPECIALIDADE-->
				<br/>
				<div id="infoAfterSelected" ng-show="canLancarServicos" >
					<blockquote style="border-left: 5px solid #4ECDC4;">
  						<h3>
							<strong>{{especialidadeSelecionada}}</strong>
						</h3>
  						<footer>
  							Servicos mais procurados 
  							<cite title="Source Title">nesta especialidade</cite>
  						</footer>
					</blockquote>
				</div>
				<!-- /TITLE TIPO ESPECIALIDADE-->
					

				<div class="row"  id="servicesAvaliable" >

					<!-- LIST DE SERVICOS RANQUEADOS -->	
					<div ng-repeat="servico in servicosEspecialidadeRanqueados | limitTo:18 " 
					ng-show="canLancarServicos">
					 	<div class="col-lg-4" >
						    <div class="input-group">
						      <span class="input-group-addon"  id="checkExam" style="background-color:{{servico.backGroundColor}}" >
						        <input 
						        	type="checkbox"
						        	checklist-model="servicosSelecionado.selecionados" 
						        	ng-checked="servico.checked"
						        	checklist-value="servico"
						        	checklist-change="checkService(servico)"
						        	value="{{servico.nmServico}}">
						      </span>
						      <span>
						      <input 
						      	type="text" class="form-control" 
						      	ng-model="servico.nmServico" ng-disabled="true"
						      	style="background-color:white; width: 220px;"
						      	title="{{servico.nmServico}}" 
						      	>
						      	</span>
						    </div><br/>   
					  	</div>
				  	</div>
				  	<!-- /LIST DE SERVICOS RANQUEADOS -->	

					<!-- COMBO SERVICOS AVULSOS-->
					<br /><br /><br />
					<div  ng-show="canLancarServicos" >
						<div class="col-md-6"></div>
					 	<form  id="formFiltros"  class="form-horizontal">
					 			<div class="form-group">
			                        <div class="col-md-5">
			                            <ui-select ng-model="servicoSelecionado.idServico" theme="select2" 
			                              class="form-control select2me" on-select="adicionarServicoEspecialidadeAvulso( $item, $model )" name="nmServico" id="nmServico" append-to-body="false" style="min-width: 300px;"> 
			                                <ui-select-match placeholder=" Não encontrou o servico?  Tente aqui.">
			                                    {{$select.selected.nmServico}}
			                                </ui-select-match> 
			                                <ui-select-choices repeat="item.idServico as item in servicosEspecialidadeAvulsos | filter: $select.search">
			                                    <div ng-bind-html="item.nmServico | highlight: $select.search"></div>
			                                </ui-select-choices> 
			                            </ui-select>    
			                        </div>  
			                    </div>
	                	</form>			
					</div>
					<!-- /COMBO SERVICOS AVULSOS-->

					<div class="col-md-12" ng-show="existeOrcamento || canLancarServicos">
						<div class="jumbotron" id="contentServicos">
							<div  class="container">

								<h2>Servi&ccedil;os selecionados</h2>

								<br/>
								<div style="width: 69%;margin-left: 8%;">
									<em ng-show="servicosSelecionado.selecionados.length == 0">
										Nenhum servico selecionado.
									</em>	
									<div>
										<table class="table table-striped  table-bordered" ng-show="servicosSelecionado.selecionados.length > 0">
										    <thead>
											      <tr>
											        <th class="text-center">Servi&ccedil;o</th>
											        <th class="text-center">Especialidade</th>
											        <th class="text-center">Quantidade</th>
											        <th class="text-center">*</th>
											      </tr>
										    </thead>
										    <tbody>
											      <tr ng-repeat="servico in servicosSelecionado.selecionados" >
											         <td>{{servico.nmServico}}</td>
											         <td>{{servico.tipoEspecialidade}}</td>
											         <td>
											         	 <input 
													      	type="number" class="form-control text-center" 
													      	ng-model="servico.quantidade" 
													      >
											         </td>
											         <td>
											         	<button type="button" class="btn btn-xs red" ng-click="removerServicoEspecialidade(servico)">
											         		<i class="fa fa-trash-o"></i>
														</button>
											         </td>
											      	</tr>
										    </tbody>
										  </table>

										  <div class="text-center" 
										  	style="width: 69%;margin-left: 10%;"
										  	ng-show="servicosSelecionado.selecionados.length > 0">
												<button class="btn btn-primary" ng-click="finalizarOrcamento( servicosSelecionado.selecionados )"
												ng-disabled="buttonFinalizarDisabled">
													Salvar
												</button>	
										  </div>
									</div>
								 </div>
							</div>
						</div>
					</div><!-- END AREA SERVICOS EScOLHIDOS -->
				</div>
			</div>
		</div>
	</div>
</div>