<style>
  #nmClienteLink {
      text-decoration:underline; 
      color: #0099CC;
  }

  .label{
    padding: 2px 4px 2px 4px !important;
    font-size: 8px !important; 
  }
/*  ESTILO PARA BELL */

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}

</style>

<div class="margin-top-10">
	<div class="portlet light col-md-12">
	     <div class="col-md-12">	
            <div class="row">

                 <div id="imageLoading">
                     <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br/><br/>
                </div>
  
                 <!-- BEGIN SEARCH BY ESPECIALIDADE -->
                 <div class="text-left form-horizontal">
                    <h5 class="text-right" ng-show="agendamentosAptos.length != 0">Bem vindo, <strong>{{profissional.nmFuncionario}}</strong></h5>
                    <form class="form-group" id="formFiltros">
                        <label class="col-md-2 control-label" for="nmEspecialidade">
                            Especialidade <span class="required"> * </span>
                        </label>
                        <div class="col-md-4">
                            <ui-select ng-model="idEspecialidadeSelected" theme="select2" class="form-control select2me" 
                            on-select="carregaAgendamentoApto( $item )" name="nmEspecialidade" id="nmEspecialidade" > 
                                <ui-select-match placeholder="Selecione a especialidade ">
                                    {{$select.selected.nmEspecialidade}}
                                </ui-select-match> 
                                <ui-select-choices repeat="item.idEspecialidade as item in especialidades | filter: $select.search">
                                    <div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
                                </ui-select-choices> 
                            </ui-select>    
                        </div>
                    </form>
                   
                </div>
                <!-- END SEARCH BY ESPECIALIDADE -->

              <div><br/></div>
              <!--BEGIN TOTAIS-->
              <div class="form-group text-right" style="margin-right:17px;" ng-show="canSeeAgendamentos">
                    &nbsp;
                    <div class="label  label-primary">
                        <i class="fa fa-thumbs-up" title="Liberados"></i> 
                         Atendidos {{totalAtendidos}}
                    </div>
                    &nbsp;
                    <div class="label label-default">
                        <i class="fa fa-clock-o" title="Faltosos"></i>
                         Ausentes {{totalFaltosos}} 
                     </div>
                      &nbsp;
                      <div class="label label-warning">
                        <i class="fa fa-user" title="Presentes"></i>
                         PResentes {{totalPresentes}} 
                     </div>
                </div> 
                <!--END TOTAIS-->
            </div>
	    </div>

	
        <!-- BEGIN AGENDAMENTOS APTOS -->
		<div class="col-md-12" ng-show="canSeeAgendamentos">			
			<div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clock-o"></i>Pacientes a serem atendidos
                        
                    </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <br/>
                    <div class="text-left">
                         <a ng-click="atualizarAgendamentos()" class="btn btn-warning btn-xs ">Atualizar</a>
                     </div>
                     <br/>
                    <table 
                        class="table table-bordered table-striped table-condensed flip-content" ng-table="tableParams">
                        <thead class="flip-content">
                            <tr>
                                <th>*</th>
                                
                                <th class="text-center numeric"> Paciente </th>
                                <th class="text-center"> Idade </th>
                                <th class="text-center"> Especialidade </th>
                                <th class="text-center numeric"> Servi&ccedil;o </th>
                                <!--<th class=" text-center numeric"> Op&ccedil;&otilde;es </th>-->

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $data" class="{{item.callPacientSuccess}}" >
                                <td class="text-center" width="70">
                                    <a  ng-click= "chamarPacienteConsultorio(item, $data)"
                                     ng-hide="item.notShow" title="Chamar paciente">
                                        <span ng-hide="item.disableCallPaciente">
                                            <i class="fa fa-bullhorn {{item.actionChamarPaciente}}" 
                                            aria-hidden="true"></i>      
                                        </span>
                                    </a> 
                                 
                                     <span class="fa-stack" 
                                     ng-show="item.disableCallPaciente">
                                        <i class="fa fa-bullhorn {{item.actionChamarPaciente}}  fa-stack-1x fa-5x" 
                                        aria-hidden="true"></i>
                                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                     </span>
                                </td>
                               
                                <td>
                                    <span class="label label-xs label-danger" tooltip="{{item.obsUrgencia}}" style="margin-right: 1%" ng-show="item.inStatusPrioridade == 1">&nbsp;&nbsp;</span>
                                    <a ui-sref="medico-atendimentoPaciente({tipoCliente:item.inTipoPaciente,
                                    idPaciente:item.idPaciente,
                                    nmPaciente:item.nmPaciente,
                                    idAgendamento:item.idAgendamento,
                                    idEspecialidade: item.idEspecialidade})" id="nmClienteLink" 
                                    ng-style="item.nameStyle">{{item.nmPaciente}}</a>
                                </td>
                                <td>{{item.idade}}</td>
                                <td>{{item.nmEspecialidade}}</td>
                                <td>{{item.nmServico}}</td>
                                <!--<td>
                                  <div class="actions text-center">
              											<div class="btn-group">
              												<div class="clear-fix">
              													<button
                                          class="btn btn-xs red"
                                          ng-bootbox-confirm=" Deseja realmente ausentar o paciente {{item.nmPaciente}} ? "
                                          ng-bootbox-confirm-action="ausentarPaciente(item.idAgendamento)"
                                          ng-bootbox-confirm-action-cancel=""
                                        >
                                          <i class="glyphicon glyphicon-remove-sign" title="Ausentar"></i>
              													</button>
              												</div>
              											</div>
              									  </div>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                    <br>
        		</div>
     		</div>
		</div>
        <!-- END AGENDAMENTOS APTOS -->
       
        <!-- BEGIN RESUMO ATENDIMENTO -->
        <br />
        <div class="row"  ng-show="agendamentosAptos.length == 0" style="margin-left:20%">
            <div class="col-md-12">
                <h4>Ol&aacute;, <strong>{{profissional.nmFuncionario}}</strong>.</h4>
                <h5>Seu resumo at&eacute; o momento para esta especialidade:</h5>
                <br/>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {{totalAtendidos}} </div>
                        <div class="desc"> atendidos </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {{totalFaltosos}} </div>
                        <div class="desc"> Faltosos </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END RESUMO ATENDIMENTO -->
    
         <br/>
         <div ng-show="agendamentosAptos.length == 0" style="margin-left:21%">
                <em ng-show="agendamentosAptos.length == 0">Sem pacientes no momento.</em>
                 &nbsp; &nbsp;
                <a ng-click="atualizarAgendamentos()" class="btn btn-primary btn-xs ">Atualizar lista pacientes </a>
        </div>
        <br/><br/>       
	</div>
</div>