<style>
  .page-header.navbar.navbar-fixed-top {
    z-index: 100; }
  .page-header.navbar.navbar-static-top {
    z-index: 100; }

	.jumbotron p {
    margin-bottom: 10px;
    font-size: 100%;
    font-weight: 400;
	}

	p {
    margin: 0 0 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
	}

	
	.panel-heading.note-toolbar .note-para .dropdown-menu {
    min-width: 500%;
    padding: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	}


</style>

<div ng-controller="PacienteLaudoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Laudo</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="col-md-6">
					<ui-select ng-model="templateSelected.id" search-enabled="false" theme="select2" class="form-control select2me" on-select="loadMascara($item)" >
					<ui-select-match placeholder="Selecione uma máscara..." >{{$select.selected.nmTemplate}}</ui-select-match> 
					<ui-select-choices repeat="item.id as item in template | filter: $select.search">
					<div ng-bind-html="item.nmTemplate | highlight: $select.search"></div>
					</ui-select-choices> 
					</ui-select>
				</div>
                <button class="btn btn-primary" ng-click="clear()">Limpar</button>

				<div  class="jumbotron">
					<form   id="formMascaras" style="width: 60%; margin-left:7%" novalidate >
						<div id="textMascaras3" style="width: 700px;">
							<summernote id="textMascaras2" name="textMascaras2" config="options" lang="pt-BR" ng-model="content">	
							</summernote>
						</div>
					</form>
					<div class="text-center" >
						<button type="submit"  class="btn btn-primary" 
							ng-click="salvarLaudo(0)"
							ng-disabled="buttonDisabledSalvar == content.length || content.length == 0">Salvar</button>	
								
						<button type="submit"  class="btn btn-primary" 
							ng-click="salvarLaudo(1)"
							ng-disabled = "content.length == 0 || buttonPrint == true">Imprimir</button>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

