<!-- 
@author : Joelton Matos
@since : 11-05-2016
@last-modification: 08-06-2016
@version : 1.2 
-->

<div ng-controller="PacienteAnamneseGeralController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Informa&ccedil;&otilde;es b&aacute;sicas</span>
				</div>
			</div><!-- END TITLE-->

			<div class="portlet-body" >
				
				<div id="triagem" class="text-right">
					<a  href="#"  title="visualizar triagem"
						data-toggle="modal" data-target="#modalTriagem"
						ng-click="recuperarTriagem()">
						<img ng-src="assets/global/img/medical-icons/triagem2.png">
					</a>
				</div>

				<!-- INICIO MODAL TRIAGEM -->
				<div class="modal fade" id="modalTriagem" tabindex="-1" role="dialog" 
				 aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title text-left" id="myModalLabel">
				        	Triagem
				        </h4>
				      </div>
				      <div class="modal-body">

				      	<!-- INICIO FORM TRIAGEM-->
				      	<div class="form-group col-md-6">
						    <label for="vlPeso">Peso</label>
						    <div class="input-group">
							    <input type="number" class="form-control" id="vlPeso" 
							     ng-model="triagemResult.vlPeso" disabled >
							     <div class="input-group-addon">kg</div>
						     </div>
						</div>
					    <div class="form-group col-md-6">
					   	    <label for="vlAltura">Altura</label>
					   	     <div class="input-group">
						    	<input type="number" class="form-control" id="vlAltura"
						    	 ng-model="triagemResult.vlAltura" disabled>
						    	 <div class="input-group-addon">m</div>
					    	</div>
					  	</div>
					  	<div class="form-group col-md-6">
							<label for="vlIMC">IMC</label>
							<input type="number" class="form-control" id="vlIMC" 
							 ng-model="triagemResult.vlIMC"  disabled>
						</div>
						<div class="form-group col-md-6">
							<label for="situacao">Situacao</label>
							<div class="form-control text-center" id="situacao">
								  <span class="label label-sm label-danger"
								  ng-show="triagemResult.analiseIMC.nivel == 0">	{{triagemResult.analiseIMC.descricao}}
								  </span>
								  <span class="label label-sm label-warning"
								  ng-show="triagemResult.analiseIMC.nivel == 1">
								  {{triagemResult.analiseIMC.descricao}}
								   </span>
								  <span class="label label-sm label-success"
								  ng-show="triagemResult.analiseIMC.nivel == 2">{{triagemResult.analiseIMC.descricao}}
								  </span>
								  <span class="label label-sm label-warning"
								  ng-show="triagemResult.analiseIMC.nivel == 3">{{triagemResult.analiseIMC.descricao}}
								  </span>
								  <span class="label label-sm label-danger"
								  ng-show="triagemResult.analiseIMC.nivel == 4">{{triagemResult.analiseIMC.descricao}}
								   </span>
								  <span class="label label-sm label-danger"
								  ng-show="triagemResult.analiseIMC.nivel == 5">{{triagemResult.analiseIMC.descricao}}
								  </span>
								  <span class="label label-sm label-danger"
								  ng-show="triagemResult.analiseIMC.nivel == 6">
								  {{triagemResult.analiseIMC.descricao}}
								  </span>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="tipoSanguineo">Tipo Sanguineo</label>
							<input type="text" class="form-control" id="tipoSanguineo"       ng-model="triagemResult.nmTipoSanguineo" disabled>
						</div>
						<div class="form-group col-md-6">
							<label for="temperatura">Temperatura</label>
							<div class="input-group">
								<input type="number" class="form-control" id="temperatura"    ng-model="triagemResult.vlTemperatura" disabled>
								<div class="input-group-addon">&ordm;C</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="vlPa">P.A.</label>
							<input type="text" class="form-control" id="vlPa" 
							ng-model="triagemResult.nmPressaoArterial" disabled>
						</div>
						<div class="form-group col-md-6">
							<label for="vlPaExcelente">P.A.Excelente</label>
							<input type="text" class="form-control" id="vlPaExcelente"       ng-model="triagemResult.nmPressaoArterialExcelente" disabled>
						</div>
			      		<!-- FIM FORM TRIAGEM-->

				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">fechar</button>
				      </div>
				    </div>
				  </div>
				</div>

				<!-- INICIO  FORM ANAMNESE GERAL-->
				<br />
				<div  class="jumbotron">
					<form  id="formAnamneseGeral" name="formAnamneseGeral" style="width: 60%; margin-left:10%" novalidate >
						<div class="form-group"  >
							<label for="textQueixa" class="control-label">
								Queixa atual do paciente <span class="required"> * </span>
							</label>
							<textarea id="textQueixa" name="textQueixa"
							 	ng-model="anamneseGeral.nmQueixaPaciente"  class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="textDiagnostico" class="control-label">
								Diagn&oacute;stico <span class="required"> * </span>
							</label>
							<textarea id="textDiagnostico" name="textDiagnostico"
								 ng-model="anamneseGeral.nmDiagnostico" class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="textCondutaMedica" class="control-label">
								Conduta M&eacute;dica <span class="required"> * </span>
							</label>
							<textarea id="textCondutaMedica" name="textCondutaMedica"
								 ng-model="anamneseGeral.nmCondutaMedica" class="form-control" rows="3"></textarea>
						</div>

						 <label  ng-show = "disableRetorno" >
						 	 <i class="fa fa-info-circle" aria-hidden="true"></i>
						  	 <b> Imposs&iacute;vel habilitar o retorno, pois este agendamento é um retorno. </b>
						 </label>
					
						<div ng-hide = "disableRetorno" class="form-group">
						    <label  class="control-label">
						    	Solicitar retorno <span class="required"> * </span>
						    </label>
						    <div>
						    	<label class="radio-inline">
							    	 <input 
							    	     type="radio" 
							    	     name="inlineRadioOptions" 
							    	     ng-model="anamneseGeral.boSolicitouRetorno"
							    	 	 ng-value={{true}}> Sim
							    </label>
							     <label class="radio-inline">
							    	 <input 
							    	     type="radio" 
							    	     name="inlineRadioOptions" 
							    	     ng-model="anamneseGeral.boSolicitouRetorno"
							    	 	  ng-value={{false}}> N&atilde;o
							    </label>
						    </div>
						</div>	 

						 <br/>
						 <br/>
	
						<div class="text-right">
							<button type="submit" 
								class="btn btn-primary" 
								ng-click="finalizarAnamneseGeral(anamneseGeral) "
								ng-disabled="buttonFinalizarDisabled">Salvar
							</button>	
						</div>
						<br/>
					</form>
				</div><!-- END FORM-->

				<!-- <pre>{{anamneseGeral.boSolicitouRetorno | json}}</pre>
				<pre>{{anamneseGeral | json}}</pre> -->
			</div>
		</div>
	</div>
</div>

<script>

	var form = $('#formAnamneseGeral');
	var error = $('.alert-danger', form);

	form.validate({
		errorElement : 'span',
		errorClass : 'help-block help-block-error', 
		focusInvalid : true,
		ignore : "", 
		rules : {
			textQueixa : {
				required : true,
				minlength : 10,
			},
			textDiagnostico : {
				required : true,
				minlength : 10,
			},
			textCondutaMedica : {
				required : true,
				minlength : 10,
			},
			teste2 : {
				required : true,
			},
			inlineRadioOptions : "required",

		}, messages : {
			inlineRadioOptions : "Seleciona uma opção.",
		},


		invalidHandler : function(event, validator) { 
			error.show();
		},

		highlight : function(element) { 
			$(element).closest('.form-group').addClass('has-error'); 
		},

		unhighlight : function(element) { 
			$(element).closest('.form-group').removeClass('has-error'); 
		},

		success : function(label) {
			label.closest('.form-group').removeClass('has-error'); 
		},

		submitHandler : function(form) {
			error.hide();
		},

		errorPlacement: function(error, element) {
				if (element.is(":radio")){
					error.appendTo(element.parent().parent().parent().parent());
					console.log(element.parent());
				} else if (element.is(":checkbox"))
					error.appendTo(element.next());
				else
					error.appendTo(element.parent());
		},
	});
</script>