<!-- 

@author : Joelton Matos
@since :11-05-2016
@last-modification: 19-05-2016
@version : 1.1 

-->

<div ng-controller="PacienteHistoricoAtendimentoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">

			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Hist&oacute;rico de atendimentos</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
	
				</div>
			</div><!-- END TITLE -->
			
			<!-- BEGIN ESPECIALIDADES -->
	        <div class="text-left form-horizontal">
	            <div class="container text-center">
	                <div class="col-md-4">
	                    <ui-select ng-model="idEspecialidadeSelected" theme="select2" class="form-control select2me" 
	                    on-select="carregarHistoricoByEspecialidade( $item )" name="nmEspecialidade" id="nmEspecialidade"  append-to-body="true"> 
	                        <ui-select-match placeholder="Selecione a especialidade ">
	                            {{$select.selected.nmEspecialidade}}
	                        </ui-select-match> 
	                        <ui-select-choices repeat="item.id as item in especialidades | filter: $select.search">
	                            <div ng-bind-html="item.nmEspecialidade | highlight: $select.search"></div>
	                        </ui-select-choices> 
	                    </ui-select>    
	                </div>
	            </div>
            </div>
			<!-- END ESPECIALIDADES -->
			<br/>
			<div class="portlet-body ">
				<em ng-show="events.length == 0" >Sem hist&oacute;rico de atendimento.</em>
				<div class="row" style="margin-left:-85%;">		 	
			    	<timeline>
				   		<timeline-event ng-repeat="event in events" side="right">

				     	   <timeline-badge class="timeline-hidden {{event.badgeClass}} "
				           	when-visible="animateElementIn" 
				           	when-not-visible="animateElementOut">
				        		<i class="glyphicon {{event.badgeIconClass}}"></i>
				      		</timeline-badge>

				        	<timeline-panel 
					         	class=" timeline-hidden {{event.badgeClass}} "
					            when-visible="animateElementIn" 
					            when-not-visible="animateElementOut">

						        <timeline-heading>
						         	 <h4>{{event.title}}</h4>
						         	 <h6 style="margin-left:6px;">
						         	 	<strong>
						         	 	   - {{event.nmEspecialidade}}
						         	 	</strong>
						         	 </h6>
							          <p ng-if="event.when">
							            <small class="text-muted">
							            	<i class="glyphicon glyphicon-time"></i>{{event.when | date:'dd/MM/yyyy'}}
							            </small>
							          </p>
						         	  <p ng-if="event.titleContentHtml" 
						         	  	ng-bind-html="event.titleContentHtml">
						          	 </p>
						        </timeline-heading>

				        		<p ng-bind-html="event.contentHtml"></p>
				        		<div>
				        			<p><em><strong>{{event.nmServico}}</em></strong></p>
				        		
				        			<br/>
					        		<div id="anamneseGeral">
						        		<blockquote 
						        			style="border-left: 5px solid #3998C4;background-color: #BFC0C0;width: 200%;">
										  <p>Anamnese Geral</p>
										</blockquote>
										<div class="jumbotron" style="width: 150%; 
										margin-left: 5%;">
											 <div class="container">
												<h4><strong>Queixa Paciente:</strong></h4>
												<p>{{event.nmQueixaPaciente}}</p>
												<h4><strong>Diagonostico:</strong></h4>
												<p>{{event.nmDiagnostico}}</p>
												<h4><strong>Conduta Medica:</strong></h4>
												<p>{{event.nmCondutaMedica}}</p>
											</div>
										</div>
					        		</div>

		<!-- 							<div id="receituario" ng-show="event.nmReceituario">
			<blockquote 
								        			style="border-left: 5px solid #23914B;background-color: #BFC0C0;width: 200%;">
			  	<p>Receituario</p>
			</blockquote>
		
			<div class="jumbotron" style="width: 150%; margin-left: 5%;">
				 <div class="container">
				 	<p>{{event.nmReceituario}}</p>
				 </div>
			</div>
		</div> -->
				       			</div>

						        <timeline-footer ng-if="event.footerContentHtml">
						          	<span ng-bind-html="event.footerContentHtml"></span>
						        </timeline-footer>
				     		</timeline-panel>
				   		</timeline-event>
				 	</timeline><!-- END TIMELINE DIRECTIVE -->
				 	
				</div><!-- END TIMELINE CONTENT -->
			</div>
		</div>
	</div>
</div>