<!-- 
@author : Joelton Matos
@since : 20-06-2016
@last-modification: 30-06-2016
@version : 1.0
-->
<style>
	
</style>
<div class="row" ng-controller="PacienteReceituarioOftalmologicoController">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-blue">
					 <span class="caption-subject bold uppercase">Receita oftalmol&Oacute;gica</span>
				</div>
			</div>

			<div id="historicoOfltalmologico" class="text-right">
					<a  href="#"  title="histórico oftalmológico"
						data-toggle="modal" data-target="#modalOftalmologico"
						ng-click="recuperarHistoricoOftalmologico()">
						<img ng-src="assets/global/img/medical-icons/triagem2.png">
					</a>
			</div><br/>

			<!-- INICIO MODAL OFTALMOLOGICO -->
			<div class="modal fade -lg" id="modalOftalmologico" tabindex="-1" role="dialog" 
			 aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title text-left" id="myModalLabel">
		        		Hist&oacute;rico Oftalmol&oacute;gico
		        	</h4>
			      </div>
				  <div class="modal-body">
				      	<div class="row">
				      		<div class="col-md-12">
						      	<div class="table-responsive">
									<table class="table table-bordered table-striped">
									    <thead>
									      <tr>
									      	<th></th>
									        <th>Data</th>
									        <th>Profissional</th>
									        <th>Longe</th>
									        <th>Perto</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr ng-repeat-start="consulta in consultasOftal">
									      	<td>
											   <button ng-if="consulta.expanded" 
											   	class=" btn btn-info btn-xs glyphicon glyphicon-chevron-up"
											   	ng-click="consulta.expanded = false">
											   </button>
              									<button ng-if="!consulta.expanded"
												class="btn btn-info btn-xs glyphicon glyphicon-chevron-down"
              									ng-click="consulta.expanded = true">
              									</button>
											</td>
									        <td>{{consulta.atendimento.dtAtendimento | date : 'dd/MM/yyyy'}}</td>
									        <td>{{consulta.atendimento.agendamento.profissional.nmFuncionario}}</td>
									        <td>
									        	<div class="row">
										        	<div class="col-md-3 ">
										        		<label>OD</label>
										        		<h5></h5>
										        	</div>
										        	<div class="col-md-3  ">
										        		<label>Esf&eacute;rico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrLongeOdEsferico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3">
										        		<label>Cil&iacute;ndrico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrLongeOdCilindrico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3 ">
										        		<label>Eixo</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrLongeOdEixo}}
										        			</strong>
										        		</h5>
										        	</div>
									        	</div>
												
												<div class="row">
										        	<div class="col-md-3 ">
										        		<label>OE</label>
										        		<h5></h5>
										        	</div>
										        	<div class="col-md-3  ">
										        		<label>Esf&eacute;rico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrLongeOeEsferico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3">
										        		<label>Cil&iacute;ndrico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrLongeOeCilindrico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3 ">
										        		<label>Eixo</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrLongeOeEixo}}
										        			</strong>
										        		</h5>
										        	</div>
									        	</div>						        	
									        </td>
									        <td>
												<div class="row">
										        	<div class="col-md-3 ">
										        		<label>OD</label>
										        		<h5></h5>
										        	</div>
										        	<div class="col-md-3  ">
										        		<label>Esf&eacute;rico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrPertoOdEsferico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3">
										        		<label>Cil&iacute;ndrico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrPertoOdCilindrico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3 ">
										        		<label>Eixo</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrPertoOdEixo}}
										        			</strong>
										        		</h5>
										        	</div>
									        	</div>						        	
												<div class="row">
										        	<div class="col-md-3 ">
										        		<label>OE</label>
										        		<h5></h5>
										        	</div>
										        	<div class="col-md-3  ">
										        		<label>Esf&eacute;rico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrPertoOeEsferico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3">
										        		<label>Cil&iacute;ndrico</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrPertoOeCilindrico}}
										        			</strong>
										        		</h5>
										        	</div>
										        	<div class="col-md-3 ">
										        		<label>Eixo</label>
										        		<h5>
										        			<strong>
										        				{{consulta.nrPertoOeEixo}}
										        			</strong>
										        		</h5>
										        	</div>
									        	</div>							        	
									        </td>
									      </tr>
									      <tr ng-if="consulta.expanded" ng-repeat-end="">
									      	<td colspan="5">
									      		<div class="col-md-12">
									      			<div class="form-group">
    												<label for="nmObervacao">Observa&ccedil;&atilde;o:
    												</label>
    												<p id="nmObervacao" ng-bind-html="consulta.nmObservacao"></p>
    												</div>
									      		</div>
									      	</td>
									      </tr>
									    </tbody>
									</table>
								</div>
							</div>
						</div>
			      	</div>
			      	<!-- FIM FORM TRIAGEM-->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">fechar</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- END MODAL OFTALMOLOGICO -->
	
			<!-- BEGIN MAIN CONTENT -->
			<div class="portlet-body form">
				<form  role="form" id="formOftalmologista">
					<div class="row">
						<div class="form-body">
							<!-- BEGIN PANEL LONGE	-->
							<div class="col-md-6">
								<div class="panel panel-primary" >
	                                <div class="panel-heading"
	                                style="background-color:#4ECDC4;color:#FFFFFF">
	                                    <h3 class="panel-title bold">Longe</h3>
	                                </div>
	                                <div class="panel-body"> 
										<div class="col-md-12">	
											<!-- BEGIN OLHO DIREITO LONGE -->
											<div class="col-md-3">
												<div class="form-group">
													<label><strong>Olho Direito</strong></label>
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrLongeOdEsferico">Esf&eacute;rico</label>
													<input type="text"
													 id="nrLongeOdEsferico" 
													 name="nrLongeOdEsferico" 
													class="form-control" 
													ng-model="receituarioOftalmologico.nrLongeOdEsferico">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrLongeOdCilindrico">Cil&iacute;ndrico</label>
													<input type="text" 
													 id="nrLongeOdCilindrico" 
													 name="nrLongeOdCilindrico"
													 class="form-control"
													 ng-model="receituarioOftalmologico.nrLongeOdCilindrico" >
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrLongeOdEixo">Eixo</label>
													<input type="text" 
													id="nrLongeOdEixo"
													name="nrLongeOdEixo"
													class="form-control"
													ng-model="receituarioOftalmologico.nrLongeOdEixo"  >
												</div>	
											</div>
											<!-- END OLHO DIREITO LONGE -->

											<!-- BEGIN OLHO ESQUERDO LONGE -->
											<div class="col-md-3">
												<div class="form-group">
													<label><strong>Olho Esquerdo</strong></label>
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrLongeOeEsferico">Esf&eacute;rico</label>
													<input type="text" id="nrLongeOeEsferico" 
													name="nrLongeOeEsferico" 
													class="form-control"
													ng-model="receituarioOftalmologico.nrLongeOeEsferico" >
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrLongeOeCilindrico">Cil&iacute;ndrico</label>
													<input type="text" 
													id="nrLongeOeCilindrico"
													name="nrLongeOeCilindrico"
													class="form-control" 
													ng-model="receituarioOftalmologico.nrLongeOeCilindrico" >
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrLongeOeEixo">Eixo</label>
													<input type="text" 
													id="nrLongeOeEixo" 
													name="nrLongeOeEixo"
													class="form-control" 
													ng-model="receituarioOftalmologico.nrLongeOeEixo" >
												</div>	
											</div>
											<!-- END OLHO ESQUERDO LONGE -->
										</div>	                                	
	                                </div>
                            	</div>							
							</div>
							<!-- END PANEL LONGE	-->

							<!-- BEGIN PANEL PERTO	-->
							<div class="col-md-6">
								<div class="panel panel-primary">
	                                <div class="panel-heading" 
	                                style="background-color:#4ECDC4;color:#FFFFFF">
	                                    <h3 class="panel-title bold">Perto</h3>
	                                </div>
                                    <div class="panel-body">
										<div class="col-md-12">
										<!-- BEGIN OLHO DIREITO PERTO -->
											<div class="col-md-3">
												<div class="form-group">
													<label><strong>Olho Direito</strong></label>
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrPertoOdEsferico">Esf&eacute;rico</label>
													<input type="text" id="nrPertoOdEsferico"
													name="nrPertoOdEsferico" 
													class="form-control"
													ng-model="receituarioOftalmologico.nrPertoOdEsferico" >
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrPertoOdCilindrico">Cil&iacute;ndrico</label>
													<input type="text"
													id="nrPertoOdCilindrico"
													name="nrPertoOdCilindrico"
													class="form-control" 
													ng-model="receituarioOftalmologico.nrPertoOdCilindrico" >
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrPertoOdEixo">Eixo</label>
													<input type="text" id="nrPertoOdEixo"
													name="nrPertoOdEixo"
													class="form-control"
													ng-model="receituarioOftalmologico.nrPertoOdEixo"  >
												</div>	
											</div>
											<!-- END OLHO DIREITO PERTO -->

											<!-- BEGIN OLHO ESQUERDO PERTO -->
											<div class="col-md-3">
												<div class="form-group">
													<label><strong>Olho Esquerdo</strong></label>
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrPertoOeEsferico">Esf&eacute;rico</label>
													<input type="text" 
													id="nrPertoOeEsferico"
													name="nrPertoOeEsferico" 
													class="form-control"
													ng-model="receituarioOftalmologico.nrPertoOeEsferico" >
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrPertoOeCilindrico">Cil&iacute;ndrico</label>
													<input type="text" 
													id="nrPertoOeCilindrico"
													name="nrPertoOeCilindrico"
													class="form-control"
													ng-model="receituarioOftalmologico.nrPertoOeCilindrico"  >
												</div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="nrPertoOeEixo">Eixo</label>
													<input type="text" id="nrPertoOeEixo"
													name="nrPertoOeEixo"
													class="form-control"
													ng-model="receituarioOftalmologico.nrPertoOeEixo"  >
												</div>	
											</div>
											<!-- END OLHO ESQUERDO PERTO -->	
										</div>
                                 	</div>
                                </div>
							</div>
							<!-- END PANEL PERTO	-->

							<!-- BEGIN OBSERVACAO -->		
							<div class="col-md-12">
								<div class="form-group">
									<label for="nmObservacao" class="control-label">Observacao
											<span class="required"> * </span>
									</label>

									<div id="nmObservacao">
										<summernote id="nmObservacaoEditor" name="nmObservacaoEditor" 
										 config="optionsEditor" lang="pt-BR" 
										 ng-model="receituarioOftalmologico.nmObservacao">
										</summernote>
									</div>
								</div>	
							</div>
							<!-- END OBSERVACAO -->
						</div>
												
						<div class="col-md-12 text-right">
							<div class="form-actions">
                         	<button type="submit" class="btn blue"
                         	 ng-click="finalizarReceituarioOftalmologico(receituarioOftalmologico)
                         	 " ng-disabled="buttonSaveDisabled">{{buttonTitle}}</button>
                        	</div>
                        </div>
					</div>
				</form>				
			</div>
		</div>
	</div>
</div>



<!-- BEGIN ASSINATURA -->

<!-- 		
<style>
	.border-normal {
		 border: 2px solid red;
	}
</style>


<div class="col-md-12">
<div id="signature-pad" class="m-signature-pad" >
    <div class="m-signature-pad--body border-normal">
      <canvas></canvas>
    </div>
    <div class="m-signature-pad--footer">
      <div class="description">Sign above</div>
      <button type="button" class="button clear" data-action="clear">Clear</button>
      <button type="button" class="button save" data-action="save">Save</button>
    </div>
</div>	
</div>	 -->
							  <!-- END ASSINATURA -->