<!-- 

@author : Joelton Matos
@since : 11-05-2016
@last-modification: 19-05-2016
@version : 1.1 

-->

<style>
	#checkExam {
		background: #0099CC;
		color: blue
	}

	.timeline-hidden {
			visibility: hidden;
	 }

</style>
<div ng-controller="PacienteAnamneseEspecificaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Anamnese</span>
				</div>
			</div>

			<div class="portlet-body ">
				<div id="formAnamneseGeral" class="jumbotron">
					<form  id="formAnamnese" name="formAnamnese" style="width: 60%; margin-left:10%" >

						 <div class="form-group">
						 	<h5 style="color:red;">{{aviso}}</h5> 
							<div ng-repeat="preAnamnese in anamneseGeral.atendimentomedicoanamneseview">
								
								 <div class="form-group">
								    <label  class="control-label">
								    	<strong>
								    	 {{preAnamnese.idPreAnamnese}}. {{preAnamnese.nmPergunta}} <span class="required"> * </span>
								    	</strong>
								    </label>
								    <div class="input-group" style="margin-left:15px;">
								    	<div class="form-group">
											<div class="input-group" ng-disabled="true">
												<label ng-readonly="true" class="btn btn-primary" 
													ng-model="preAnamnese.inResposta" btn-radio="1">Sim
												</label> 
												   &nbsp;	
												<label ng-readonly="true" class="btn btn-primary"
													ng-model="preAnamnese.inResposta" btn-radio="0">N&atilde;o
												</label>
											</div>
										</div>
								    </div>
								  </div>	
							</div>					
							
							<br/>							
						</div> 

						<div class="form-group">
							<label for="textDoencaBefore" class="control-label">
								Doen&ccedil;as anteriores ou adquiridas 
								<span class="required"> * </span>
							</label>
							<textarea id="textDoencaBefore" name="textDoencaBefore" 
								class="form-control" rows="3" ng-model="anamneseGeral.anamnese.nmDoencaAnterior" ></textarea>
						</div>

						<div class="form-group">
							<label for="textDoencaFamily" class="control-label">
								Doen&ccedil;as na fam&iacute;lia <span class="required"> * </span>
							</label>
							<textarea id="textDoencaFamily" name="textDoencaFamily"
								class="form-control" rows="3" ng-model="anamneseGeral.anamnese.nmDoencaFamilia"></textarea>    					
						</div>

						<div class="form-group">
							<label for="textTipoAlergia" class="control-label">
								Tipos de alergias <span class="required"> * </span>
							</label>
							<textarea id="textTipoAlergia" name="textTipoAlergia"
								class="form-control" rows="3"  ng-model="anamneseGeral.anamnese.nmTipoAlergia"></textarea>
						</div>
						
						
						<br/>
						<div class="text-right">
							<button type="submit" class="btn btn-primary" 
								ng-click="finalizarAnamnese(anamneseGeral)"
								ng-disabled="buttonFinalizarDisabled">
								Salvar
							</button>	
						</div>

						<br/> 
											 	
					</form><!-- END FORM -->
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	var form = $('#formAnamnese');
	var error = $('.alert-danger', form);

	form.validate({
		errorElement : 'span', //default input error message container
		errorClass : 'help-block help-block-error', // default input error message class
		focusInvalid : true, // do not focus the last invalid input
		ignore : "", // validate all fields including form hidden input
		rules : {
			textDoencaBefore : {
				required : true,
				minlength : 10,
			},
			textDoencaFamily : {
				required : true,
				minlength : 10,
			},
			textTipoAlergia : {
				required : true,
				minlength : 10,
			},
		},
		invalidHandler : function(event, validator) { //display error alert on form submit              
			error.show();
		//	Metronic.scrollTo(error, -200);
		},

		highlight : function(element) { // hightlight error inputs
			$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
		},

		unhighlight : function(element) { // revert the change done by hightlight
			$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
		},

		success : function(label) {
			label.closest('.form-group').removeClass('has-error'); // set success class to the control group
		},

		submitHandler : function(form) {
			error.hide();
		}
	});
	
</script>