<style>
#tbreceituario textarea {
	resize: none;
}

#tbreceituario td {
	padding: 0;
	vertical-align: middle;
}

#tbreceituario input, #tbreceituario textarea {
	width: 100%;
	border-color: transparent !important;
}

#tbreceituario input:focus, #tbreceituario textarea:focus {
	outline-color: #3598DC;
	border-color: #3598DC !important;
}

.general-rec-wrapper {
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 10px;
}

#general-rec-txt {
	outline-color: #00BCD4;
	border-color: #00BCD4;
	resize: none;
}

.tagged-med {
	padding: 6px 12px 8px 12px;
	border: none !important;
	height: 100%;
}

.delete-med-btn {
	background: none;
	padding: 3px;
}

.centering {
	text-align: center;
}
</style>
<div class="row" >
	<div class="col-md-12" ng-controller="PacienteReceituarioController">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Receitu&aacute;rio</span>
				</div>
			</div>
			<div class="portlet-body ">
				<div class="row">
					<div class="col-md-6">
						<ui-select ng-model="templateReceituario.selected" search-enabled="false" theme="select2" class="form-control select2me" on-select="applyTemplate($item)" >
							<ui-select-match placeholder="Selecione o template de receituario">
								{{$select.selected.nmTemplate}}
							</ui-select-match> 
							<ui-select-choices repeat="item as item in listTemplates | filter: $select.search">
								<div ng-bind-html="item.nmTemplate | highlight: $select.search"></div>
							</ui-select-choices> 
						</ui-select>
					</div>
					<br/><br/><br/>
				</div>
				<form id="receituarioForm" name="receiturarioForm">
					<table class="table" id="tbreceituario">
						<thead>
							<tr>
								<th>Medicamento</th>
								<th>Posologia</th>
								<th>Orienta&ccedil;&otilde;es</th>
								<th style="width: 55px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in receituarioList">
								<td>
									<span class="tagged-med form-control" ng-hide="!obj.medicamento" tabindex="-1">
										{{obj.medicamento.descricao}}
										<a class="btn delete-med-btn" ng-click="removeMedAtIndex($index)" tabindex="-1">
											<i class="fa fa-times"></i>
										</a>
									</span>
									<textarea ng-attr-id="medicamento-{{$index}}" class="form-control" type="text" placeholder="Nome do medicamento" rows="2"
									ng-model="obj.nmMedicamento" 
									typeahead-loading=""
									typeahead-min-length="3"
									typeahead-no-results=""
									typeahead-wait-ms="300"
									typeahead="remedio.descricao for remedio in consultar($viewValue) | filter:$viewValue" 
									typeahead-on-select="medSelected($item, obj, $index);"
									ng-show="!obj.medicamento" ng-blur="onBlurEvent(obj, $index)"></textarea> 
								</td>
								<td>
									<textarea ng-attr-id="posologia-{{$index}}" class="form-control" placeholder="Posologia..." rows="2" ng-model="obj.nmPosologia" ng-blur="onBlurEvent(obj, $index)"></textarea>
								</td>
								<td>
									<textarea ng-attr-id="orientacoes-{{$index}}" class="form-control" placeholder="Orientações..." rows="2" ng-model="obj.nmOrientacoes" ng-blur="onBlurEvent(obj, $index)"></textarea>
								</td>
								<td class="centering">
									<a class="btn blue-chambray btn-icon-only btn-circle" href="#" tooltip-placement="left" tooltip="{{getTooltipMessage($index)}}" ng-if="obj.medicamento && shouldShowInvalidWarning($index)" tabindex="-1" style="margin: auto;">
										<i class="fa fa-info" aria-hidden="true"></i>
									</a>
									
									<a class="btn yellow-lemon btn-icon-only" href="#" tooltip-placement="left" tooltip="{{getTooltipMessage($index)}}" tooltip-enable="shouldShowInvalidWarning($index)" tabindex="-1" ng-click="removeMedRow($index)" style="margin: auto;" ng-if="!obj.medicamento || (obj.nmPosologia && (obj.medicamento || obj.nmMedicamento))">
										<i class="fa fa-times-circle" aria-hidden="true" ng-hide="shouldShowInvalidWarning($index)"></i>
										<i class="fa fa-info-circle" aria-hidden="true" ng-show="shouldShowInvalidWarning($index)"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>

					<br/>
					<div class="panel panel-default">
						<a tabindex="-1" ng-click="showingRecs = !showingRecs">
							<div class="panel-heading">
								Recomenda&ccedil;&otilde;es gerais
								<span class="pull-right">
									<i class="fa " ng-class="!showingRecs ?'fa-caret-down' : 'fa-minus'"></i>
								</span>
							</div>
						</a>
						<div id="general-rec" class="panel-body" collapse="!showingRecs">
							<div class="general-rec-wrapper">
								<summernote id="general-rec-text" name="general-rec-text" config="options" lang="pt-BR" ng-model="generalRec"></summernote>
								<!-- <textarea id="general-rec-txt" class="form-control" placeholder="Recomendações gerais..." ng-model="generalRec" rows="4"></textarea> -->
							</div>
						</div>
					</div>

					<div class="centering">
						<button type="submit" class="btn btn-primary" 
						ng-click="finalizarReceituario()"
						ng-disabled="(!hasInsertedMedicamento() && !generalRec) || buttonDisabled">Salvar</button>
					</div>
					<br/>
				</form>
				<form  id="formReceituario" style="width: 60%; margin-left:7%" novalidate ng-hide="true">
					<div id="textReceituario2" style="width: 700px;">
						<summernote id="text-receituario" name="text-receituario" config="options" lang="pt-BR" ng-model="receituario.nmReceituario">
						</summernote>
					</div>
					<br/>
				</form>
			</div>
		</div>
	</div>
</div>

<script>

	var form = $('#formReceituario');
	var error = $('.alert-danger', form);

	form.validate({
		errorElement : 'span',
		errorClass : 'help-block help-block-error', 
		focusInvalid : true,
		ignore : "", 
		rules : {
			textReceituario : {
				required : true,
				minlength : 10,
			}

		},

		invalidHandler : function(event, validator) { 
			error.show();
		},

		highlight : function(element) { 
			$(element).closest('.form-group').addClass('has-error'); 
		},

		unhighlight : function(element) { 
			$(element).closest('.form-group').removeClass('has-error'); 
		},

		success : function(label) {
			label.closest('.form-group').removeClass('has-error'); 
		},

		submitHandler : function(form) {
			error.hide();
		}
	});


	$('#summernote').on('summernote.paste', function (customEvent, nativeEvent) {
		setTimeout(function () {
			$('.note-editable').selectText();
			$("#summernote").summernote("removeFormat");
		}, 100);
	});

</script>