<style>
input[type="radio"] {
	visibility: hidden;
	margin-left: -15px;
}
#tbreceituario textarea {
	resize: none;
}

#tbreceituario td {
	padding: 0;
	vertical-align: middle;
}

#tbreceituario input, #tbreceituario textarea {
	width: 100%;
	border-color: transparent !important;
}

#tbreceituario input:focus, #tbreceituario textarea:focus {
	outline-color: #3598DC;
	border-color: #3598DC !important;
}

.general-rec-wrapper {
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 10px;
}

#general-rec-txt {
	outline-color: #00BCD4;
	border-color: #00BCD4;
	resize: none;
}

.tagged-med {
	padding: 6px 12px 8px 12px;
	border: none !important;
	height: 100%;
}

.delete-med-btn {
	background: none;
	padding: 3px;
}

.centering {
	text-align: center;
}
</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN especialidades portlet -->
			<div class="panel" ng-if="selectedMedico">
				<div class="panel-heading bg-blue bg-font-blue">
					<h3 class="panel-title">Selecione uma Especialidade</h3>
				</div>
				<div class="panel-body">
					<div class="btn-group">
						<label class="btn btn-primary" ng-class="{'active': especialidade.selected && especialidade.selected.idEspecialidade == esp.idEspecialidade}" ng-repeat="esp in listEspecialidades">
							<input type="radio" ng-model="especialidade.selected" ng-change="selectedEspecialidade(esp)" ng-value="{{esp}}"/> {{esp.nmEspecialidade}}
						</label>
					</div>
				</div>
			</div>
			<!-- END especialidades portlet -->

			<!-- BEGIN templates list portlet -->
			<div class="portlet light" ng-if="especialidade.selected && !templateControl.status">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue-madison bold uppercase">Templates salvos</span>
					</div>
					<div class="actions">
						<a class="btn green" ng-click="configureTemplateReceituario()">
							<i class="fa fa-plus-square"></i>
							Novo Template
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="col col-md-12">
							<div class="alert alert-info" ng-if="listTemplates && listTemplates.length == 0">
								<strong>Nenhum template cadastrado para essa especialidade</strong>
							</div>
							<table class="table table-bordered" id="tbtemplates" ng-if="listTemplates && listTemplates.length > 0">
								<thead>
									<tr>
										<th>Template</th>
										<th>A&ccedil;&otilde;es</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="template in listTemplates">
										<td>
											<a ng-click="configureTemplateReceituario(template)">{{template.nmTemplate}}</a>
										</td>
										<td>
											<a class="btn btn-danger btn-icon-only" ng-disabled="deleteTemplate.isDeleting" ng-click="deleteTemplate(template)">
												<i class="fa fa-trash"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- END templates list portlet -->

			<!-- BEGIN novo template portlet -->
			<div class="portlet light" ng-if="especialidade.selected && templateControl.status != undefined">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue-madison bold uppercase">
							{{templateControl.status == 'creating' ? 'Novo Template' : 'Edição de template'}}
						</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="alert alert-info" ng-if="templateControl.status == 'creating'" style="font-size: 15px">
						<p>É importante marcar corretamente os medicamentos, para uma integração precisa com os produtos da <strong>DrogaMed</strong></p>
					</div>
					<form name="formTemplateReceituario" ng-submit="saveTemplate()" novalidate="true">
						<div class="form-group row">
							<div class="col col-md-6">
								<label class="control-label">Nome do Template</label>
								<input type="text" name="nmTemplate" class="form-control" ng-model="templateReceituario.nmTemplate" autofocus="true" required />
							</div>
						</div>
						<div class="form-group">
							<table class="table" id="tbreceituario">
								<thead>
									<tr>
										<th>Medicamento</th>
										<th>Posologia</th>
										<th>Orienta&ccedil;&otilde;es</th>
										<th style="width: 55px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="obj in receituarioList">
										<td>
											<span class="tagged-med form-control" ng-hide="!obj.medicamento" tabindex="-1">
												{{obj.medicamento.descricao}}
												<a class="btn delete-med-btn" ng-click="removeMedAtIndex($index)" tabindex="-1">
													<i class="fa fa-times"></i>
												</a>
											</span>
											<textarea ng-attr-id="medicamento-{{$index}}" class="form-control" type="text" placeholder="Nome do medicamento" rows="2"
											ng-model="obj.nmMedicamento" 
											typeahead-loading=""
											typeahead-min-length="3"
											typeahead-no-results=""
											typeahead-wait-ms="300"
											typeahead="remedio.descricao for remedio in consultar($viewValue) | filter:$viewValue" 
											typeahead-on-select="medSelected($item, obj, $index);"
											ng-show="!obj.medicamento" ng-blur="onBlurEvent(obj, $index)"></textarea> 
										</td>
										<td>
											<textarea ng-attr-id="posologia-{{$index}}" class="form-control" placeholder="Posologia..." rows="2" ng-model="obj.nmPosologia" ng-blur="onBlurEvent(obj, $index)"></textarea>
										</td>
										<td>
											<textarea ng-attr-id="orientacoes-{{$index}}" class="form-control" placeholder="Orientações..." rows="2" ng-model="obj.nmOrientacoes" ng-blur="onBlurEvent(obj, $index)"></textarea>
										</td>
										<td class="centering">
											<a class="btn blue-chambray btn-icon-only btn-circle" href="#" tooltip-placement="left" tooltip="{{getTooltipMessage($index)}}" ng-if="obj.medicamento && shouldShowInvalidWarning($index)" tabindex="-1" style="margin: auto;">
												<i class="fa fa-info" aria-hidden="true"></i>
											</a>
											
											<a class="btn yellow-lemon btn-icon-only" href="#" tooltip-placement="left" tooltip="{{getTooltipMessage($index)}}" tooltip-enable="shouldShowInvalidWarning($index)" tabindex="-1" ng-click="removeMedRow($index)" style="margin: auto;" ng-if="!obj.medicamento || (obj.nmPosologia && (obj.medicamento || obj.nmMedicamento))">
												<i class="fa fa-times-circle" aria-hidden="true" ng-hide="shouldShowInvalidWarning($index)"></i>
												<i class="fa fa-info-circle" aria-hidden="true" ng-show="shouldShowInvalidWarning($index)"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="form-group">
							<div class="centering">
								<div class="button-group">
									<a class="btn btn-danger" ng-click="cancelAction()">Cancelar</a>
									<button type="submit" class="btn btn-primary" ng-disabled="!templateReceituario.nmTemplate || !hasInsertedMedicamento() || buttonDisabled">
										<i class="fa fa-floppy-o" aria-hidden="true"></i>
										Salvar
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END novo template portlet -->
		</div>
	</div>
</div>