<style>
input[type="radio"] {
	visibility: hidden;
	margin-left: -15px;
}

.note-wrapper {
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 10px;
}

.centering {
	text-align: center;
}
</style>
<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN especialidades portlet -->
			<div class="panel" ng-if="selectedMedico && selectedMedico.id">
				<div class="panel-heading bg-blue bg-font-blue">
					<h3 class="panel-title">Selecione uma Especialidade</h3>
				</div>
				<div id="especialidadesPortletBody" class="panel-body">
					<div class="btn-group">
						<label class="btn btn-primary" ng-class="{'active': especialidade.selected && especialidade.selected.idEspecialidade == esp.idEspecialidade}" ng-repeat="esp in listEspecialidades">
							<input type="radio" ng-model="especialidade.selected" ng-change="selectedEspecialidade(esp)" ng-value="{{esp}}"/> {{esp.nmEspecialidade}}
						</label>
					</div>
				</div>
			</div>
			<!-- END especialidades portlet -->

			<!-- BEGIN templates list portlet -->
			<div class="portlet light" ng-if="especialidade.selected && !templateControl.status">
				<div id="templatesPortletTitle" class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue-madison bold uppercase">Templates salvos</span>
					</div>
					<div class="actions">
						<a class="btn green" ng-click="configureTemplateLaudo()">
							<i class="fa fa-plus-square"></i>
							Novo Template
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">
						<div class="col col-md-12">
							<div class="alert alert-info" ng-if="listTemplates && listTemplates.length == 0">
								<strong>Nenhum template cadastrado para essa especialidade</strong>
							</div>
							<table class="table table-bordered" id="tbtemplates" ng-if="listTemplates && listTemplates.length > 0">
								<thead>
									<tr>
										<th>Template</th>
										<th>A&ccedil;&otilde;es</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="template in listTemplates">
										<td>
											<a ng-click="configureTemplateLaudo(template)">{{template.nmTemplate}}</a>
										</td>
										<td>
											<a class="btn btn-danger btn-icon-only" ng-disabled="template.isDeleting" ng-click="deleteTemplate(template)">
												<i class="fa fa-trash"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- END templates list portlet -->

			<!-- BEGIN novo template portlet -->
			<div class="portlet light" ng-if="especialidade.selected && templateControl.status != undefined">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue-madison bold uppercase">
							{{templateControl.status == 'creating' ? 'Novo Template' : 'Edição de template'}}
						</span>
					</div>
				</div>
				<div class="portlet-body">
					<form name="formTemplateLaudo" ng-submit="saveTemplate()" novalidate="true">
						<div class="form-group row">
							<div class="col col-md-6">
								<label class="control-label">Nome do Template</label>
								<input type="text" name="nmTemplate" class="form-control" ng-model="templateLaudo.nmTemplate" autofocus="true" required />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Corpo do Template</label>
							<div class="note-wrapper">
								<summernote id="laudo-txt" name="laudo-text" config="options" lang="pt-BR" ng-model="templateLaudo.nmConteudo"></summernote>
							</div>
						</div>
						<div class="form-group">
							<div class="centering">
								<div class="button-group">
									<a class="btn btn-danger" ng-click="cancelAction()" ng-disabled="buttonDisabled">Cancelar</a>
									<button type="submit" class="btn btn-primary" ng-disabled="!templateLaudo.nmTemplate || !templateLaudo.nmConteudo || buttonDisabled">
										<i class="fa fa-floppy-o" aria-hidden="true"></i>
										Salvar
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END novo template portlet -->
		</div>
	</div>
</div>