<style>
    .table thead tr th {
        font-size:10px;
        font-weight: 600;
    }

</style>
<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center" >Carga Hor&aacute;ria</h4>
</div>
    <h5 style="text-align: center">
        <b>
            Total Carga Hor&aacute;ria -  {{cargaHoraria}}
        </b>
    </h5>
    <form>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="serv_sub" ng-table="obsTableParams" class="table table-striped table-bordered table-hover" style="font-size:11px;"> <!-- ng-table="obsTableParams"  -->
                               <!--  <thead>
                                    <th class="text-center;"> Data </th>
                                    <tr>
                                        <th class="text-center;">Data</th>
                                        <th ng-repeat="i in getArrayRange(null, registroHr) track by $index">{{$index % 2 == 0 ? ' Entrada ': ' Sa&iacute;da '}} </th>
                                        <th class="text-center;">Carga Diaria</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dados">
                                        <td class="text-center"> 
                                            {{item.dtFormatada}}
                                        </td>
                                        <td class="text-center" ng-repeat="horario in item.horariosCheck track by $index">
                                            {{horario}}
                                        </td>
                                        <td><b>{{item.hrTotal}}</b></td>
                                    <th class="text-center;">Data</th>
                                </thead>
                                <tbody>
                                </tbody> -->
                                <tr ng-repeat-start="item in $data">
                                        <td data-title="'Data'" class="text-center">
                                            {{item.dtFormatada}}
                                        </td>
                                        <td data-title="'Entrada'" class="text-center">
                                            {{item.horariosCheck0}}
                                        </td>
                                        <td data-title="'Saida'" class="text-center">
                                            {{item.horariosCheck1}}
                                        </td> 
                                        <td data-title="'Entrada'" class="text-center">
                                            {{item.horariosCheck2}}
                                        </td>
                                        <td data-title="'Saida'" class="text-center">
                                            {{item.horariosCheck3}}
                                        </td>
                                        <td data-title="'Carga Diaria'" class="text-center">
                                            <b>{{item.hrTotalFormatada}}</b> 
                                        </td> 
                                        <td ng-if="item.tamanhoHorarios > 4" class="text-center">
                                            <button ng-if="item.expanded" 
                                                class="btn btn-default btn-xs"
                                                ng-click="item.expanded = false" >
                                                <span class="fa fa-chevron-up"></span>
                                            </button>
                                            <button ng-if="!item.expanded"
                                                class="btn btn-default btn-xs"
                                                ng-click="item.expanded = true"> 
                                                <span class="fa fa-chevron-down"></span>
                                            </button>
                                        </td>                           
                                    </tr>
                                    <tr ng-if="item.expanded" ng-repeat-end="">
                                        <td colspan="7">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table ng-table="obsTableParams2" class="table table-striped table-bordered table-condensed table-hover" >
                                                                <td data-title="'Data'" class="text-center">
                                                                        {{item.dtFormatada}}
                                                                    </td>
                                                                    <td data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck0}}
                                                                    </td>
                                                                    <td data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck1}}
                                                                    </td> 
                                                                    <td data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck2}}
                                                                    </td>
                                                                    <td data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck3}}
                                                                    </td> 
                                                                    <td ng-if="item.tamanhoHorarios == 5 || item.tamanhoHorarios > 5" data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck4}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 6 || item.tamanhoHorarios > 6" data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck5}}
                                                                    </td> 
                                                                    <td ng-if="item.tamanhoHorarios == 7 || item.tamanhoHorarios >7" data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck6}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 8 || item.tamanhoHorarios >8" data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck7}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 9 || item.tamanhoHorarios >9" data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck8}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 10 || item.tamanhoHorarios >10" data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck9}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 11 || item.tamanhoHorarios >11" data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck10}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 12 || item.tamanhoHorarios >12" data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck11}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 13 || item.tamanhoHorarios >13" data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck12}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 14 || item.tamanhoHorarios >14" data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck13}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 15 || item.tamanhoHorarios >15" data-title="'Entrada'" class="text-center">
                                                                        {{item.horariosCheck14}}
                                                                    </td>
                                                                    <td ng-if="item.tamanhoHorarios == 16 || item.tamanhoHorarios >16" data-title="'Saida'" class="text-center">
                                                                        {{item.horariosCheck15}}
                                                                    </td>
                                                                    <td data-title="'Carga Diaria'" class="text-center">
                                                                        <b>{{item.hrTotalFormatada}}</b> 
                                                                    </td>    
                                                            </table> 
                                                        </div>    
                                                    </div>      
                                                </div>
                                            </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button class="btn green" ng-click="close()">Fechar</button>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                            <tr ng-repeat="item in $data">
                                <td data-title="'Data'" class="text-center">
                                    {{item.dtFormatada}}
                                </td>
                                <td data-title="'Entrada'" class="text-center">
                                    {{item.horariosCheck0}}
                                </td>
                                <td data-title="'Saida'" class="text-center">
                                    {{item.horariosCheck1}}
                                </td> 
                                <td data-title="'Entrada'" class="text-center">
                                    {{item.horariosCheck2}}
                                </td>
                                <td data-title="'Saida'" class="text-center">
                                    {{item.horariosCheck3}}
                                </td>
                                <td data-title="'Entrada'" class="text-center">
                                    {{item.horariosCheck4}}
                                </td>
                                <td  data-title="'Saida'" class="text-center">
                                    {{item.horariosCheck5}}
                                </td>
                            <tr>
                    </div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
        </div>
    </form>