<style>
        .table thead tr th {
            font-size:10px;
            font-weight: 600;
        }
        .body {
            color: #333333;
            font-family: "Open Sans", sans-serif;
            padding: 0px !important;
            margin: 0px !important;
            font-size: 10px;
            direction: ltr;
        }
        .badge-success{
            color: rgb(255,255,255) !important;
        }
        [class^="fa-"]:not(.fa-stack), [class^="glyphicon-"], [class^="icon-"], [class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"] {
            display: inline-block;
            font-size: 11px !important;
            line-height: 14px;
            -webkit-font-smoothing: antialiased;
        }
    </style>
    
    <div class="modal-header" >
        <button type="button" class="close" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" style="text-align: center" >Dias Trabalhados</h4>
    </div>
    <form>
        <div class="modal-body ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div>
                                <i class="fa fa-check " style="color: green" aria-hidden="true"> Aprovado</i>
                                    <br/>
                                <i class="fa fa-minus " style="color: red" aria-hidden="true"> Sem registro(s) de atendimento(s)/Agenda bloqueada</i>
                                <br/>
                                <i class="fa fa-adjust" style="color: blue" aria-hidden="true"> Bloqueio parcial por turno</i>
                                <br/>
                                <!-- <span class="badge badge-success" style="float: right;">
                                    {{getCalcularSalario(dados) | currency: 'R$ '}}
                                </span>
                                <span style="float: right;">
                                    &nbsp;&nbsp;Sal&aacute;rio:&nbsp;
                                </span> -->
                            </div>
                            <table  ng-table="obsTableParams1" class="table table-striped table-bordered table-hover"  style="font-size:11px"> 
                                <tr ng-repeat="item in $data">
                                    <td data-title="'Data'"  class="text-center" > 
                                        {{item.dtFormatada}}
                                    </td>
                                    <td data-title="'Di&aacute;ria'" class="text-center" > 
                                        {{item.vlDiaria | currency: 'R$ '}}                                               
                                    </td>
                                    <td class="text-center">
                                        <i ng-if="item.statusDesconto == 1" class="fa fa-minus" style="color: red" aria-hidden="true"></i>
                                        <i ng-if="item.statusDesconto == 0" class="fa fa-check" style="color: green" aria-hidden="true"></i>
                                        <i ng-if="item.statusDesconto == 2" class="fa fa-adjust" style="color: blue" aria-hidden ="true"></i> 
                                    </td> 
                                </tr> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="modal-footer">
                <div class="text-right">
                    <button class="btn green" ng-click="close()">Fechar</button>
                </div>
             </div> 
        </div>
    </form>
    
    