<style>
    .table thead tr th {
        font-size:10px;
        font-weight: 600;
    }
    .body {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 10px;
        direction: ltr;
    }

    .accordion-heading{
        background: white;
    }
    .accordion-toggle::after {
        font-family: 'FontAwesome';
        content: "\f078";    
        float: right;
    } 
    .accordion-opened .accordion-toggle::after {    
        content: "\f054";
    }    
</style>

<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center" ng-if="!isConsulta">Procedimentos24H</h4>
    <h4 class="modal-title" style="text-align: center" ng-if="isConsulta">Consultas</h4>
</div>
<h5 style="text-align: center" >
    <b ng-if="!isConsulta">
        Total Procedimentos - {{totalServico}}
    </b>
    <b ng-if="isConsulta">
        Total Consultas - {{totalServico}}
    </b>
</h5>
<form>
    <div class="modal-body ">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="gerarPdf()" style="float: right;">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </button>
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                            <br/><br/>
                        </div>
                    <div class="table-responsive">
                        <table  ng-table="obsTableParams1" class="table table-striped table-bordered table-hover"  style="font-size:11px" ng-show="$data.length != null">
                            <tr ng-repeat-start="tipo in $data" ng-if="(!isConsulta) || (isConsulta)"><!-- ng-if="!isConsulta && !boConsulta" -->
                                <td class="text-center">
                                    <button ng-if="tipo.expanded" 
                                        class="btn btn-default btn-xs"
                                        ng-click="tipo.expanded = false" >
                                        <span class="fa fa-chevron-up"></span>
                                    </button>
                                    <button ng-if="!tipo.expanded"
                                        class="btn btn-default btn-xs"
                                        ng-click="tipo.expanded = true"> 
                                        <span class="fa fa-chevron-down"></span>
                                    </button>
                                </td>
                                <td data-title="'Qtd'" class="text-center">
                                    <b>{{tipo.registrosProdAtend.length}}</b>
                                </td>
<!--                                 <td data-title="'Data'"  class="text-center" > 
                                    {{item.dtFormatada}}
                                </td>
                                <td data-title="'Paciente'" class="text-center">
                                    {{item.nmPaciente}}
                                </td>  -->
                                <td data-title="'Servi&ccedil;os'" >                                    
                                    {{tipo.nmServico}}                                               
                                </td>
                                <td data-title = "'Valor Total'" ng-if="isConsulta">
                                    {{getValorTotalServico(tipo.registrosProdAtend, true, tipo.idServico) | currency: 'R$ '}}
                                </td>
                                <td data-title = "'Valor Total'" ng-if="!isConsulta">
                                    {{getValorTotalServico(tipo.registrosProdAtend, false, tipo.idServico) | currency: 'R$ '}}
                                </td>
                            </tr> 
                            <tr ng-if="tipo.expanded" ng-repeat-end="">
                                <td colspan="7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-condensed table-hover" >
                                                        <thead>
                                                            <tr>
                                                                <th>Data</th>
                                                                <th>Paciente</th>
                                                                <th>Retorno</th>
                                                                <th>Valor Comiss&atilde;o</th>
                                                            </tr>                   
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in tipo.registrosProdAtend" >
                                                                <td class="text-center" >{{item.dtFormatada}}</td> 
                                                                <td>
                                                                    {{item.nmPaciente}}
                                                                </td>
                                                                <td ng-if="item.boRetorno">Sim
                                                                </td>
                                                                <td ng-if="!item.boRetorno">N&atilde;o</td>
                                                                <td class="text-center">
                                                                    {{item.vlComissao | currency: 'R$ '}}
                                                                </td>
                                                            </tr>
                                                        </tbody>            
                                                    </table> 
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="modal-footer">
            <div class="text-right">
                <button class="btn green" ng-click="close()">Fechar</button>
            </div>
         </div> 
    </div>
</form>


<script>
      $(document).on('show','.accordion', function (e) {
         //$('.accordion-heading i').toggleClass(' ');
         $(e.target).prev('.accordion-heading').addClass('accordion-opened');
    });
    
    $(document).on('hide','.accordion', function (e) {
        $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
        //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
    });
</script>
