<style>
    .table thead tr th {
        font-size:10px;
        font-weight: 600;
    }
    .body {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 10px;
        direction: ltr;
    }

</style>

<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center" >Atendimentos</h4>
</div>
<form>
    <div class="modal-body ">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="gerarPdf()" style="float: right;">
                <i class="fa fa-print" aria-hidden="true" ></i>
            </button>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
<!--                         <div class="col-md-12">
                            <div class="col-md-6">
                                <h4> Procedimentos Executados </h4>
                            </div>
                        </div> -->
                        <table  ng-table="obsTableParams1" class="table table-striped table-bordered table-hover"  style="font-size:11px"> 
                            <tr ng-repeat="item in $data">
                                <td data-title="'Data'"  class="text-center" > 
                                    {{item.dtFormatada}}
                                </td>
                                <td data-title="'Paciente'">
                                    {{item.nmPaciente}}
                                </td> 
                                <td data-title="'Servi&ccedil;o(s)'" > 
                                    {{item.nmServico}}                                               
                                </td>
                            </tr> 
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="modal-footer">
            <div class="text-right">
                <button class="btn green" ng-click="close()">Fechar</button>
            </div>
         </div> 
    </div>
</form>

