<div class="modal-header" >
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align: center"  ng-show='empresaGrupo == 1'>Faturamento( Dr.Consulta ) </h4>
    <h4 class="modal-title" style="text-align: center"  ng-show='empresaGrupo == 2'>Faturamento( Dental ) </h4>
    <h4 class="modal-title" style="text-align: center"  ng-show='empresaGrupo == 3'>Faturamento( Performance ) </h4> 
</div>
<form>
    <div class="modal-body"  style:"width: 100px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
                    <br>
                    <em ng-show="report0016.length == 0">Sem dados disponiveis.</em>
                    <div class="table-responsive"  ng-show="report0016 && report0016.length > 0">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center">*</th>
                                    <th>Unidade</th>
                                    <th>Contratos</th>
                                    <th>Faturamento</th>
                                </tr>
                            </thead>
                            <tr ng-repeat-start="item in report0016">
                                <td class="text-center">
                                    <button ng-if="item.expanded" class=" btn blue btn-xs glyphicon glyphicon-chevron-up" ng-click="item.expanded = false">
                                   </button>

                                    <button ng-if="!item.expanded" class="btn blue btn-xs glyphicon glyphicon-chevron-down" ng-click="getDetalheUnidades(item)">
                                    </button>
                                </td>
                                <td>{{item.nmUnidade}}</td>
                                <td>{{item.numerocontratos}}</td>
                                <td style="text-align: right">{{item.faturamentoFormatado}}</td>
                            </tr>
                            <tr ng-if="item.expanded" ng-repeat-end=""><!--  -->
                                <td colspan="4">
                                    <div class="col-md-offset-1 col-md-11">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="subItem in item.dataReport17">
                                                    <td>{{subItem.formapagamento}}</td>
                                                    <td>{{subItem.numerocontratos}}</td>
                                                    <td style="text-align: right">{{subItem.faturamentoFormatado}}</td>
                                                </tr>                                                
                                            </tbody>
                                        </table> 
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="col-md-12" ng-show="report0016 && report0016.length > 0">
                    <h4 class="block">Mensalidades Pagas</h4>
                    <em ng-show="report0018.length == 0">Sem dados disponiveis.</em>
                     <div class="table-responsive" ng-show="report0018 && report0018.length > 0">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center">*</th>
                                    <th>Unidade</th>
                                    <th>Contratos</th>
                                    <th>Faturamento</th>
                                </tr>
                            </thead>
                            <tr ng-repeat-start="item in report0018">
                                <td class="text-center">
                                    <button ng-if="item.expanded" class=" btn blue btn-xs glyphicon glyphicon-chevron-up" ng-click="item.expanded = false">
                                   </button>

                                    <button ng-if="!item.expanded" class="btn blue btn-xs glyphicon glyphicon-chevron-down" ng-click="getDetalhePagoUnidades(item)">
                                    </button>
                                </td>
                                <td>{{item.nmUnidade}}</td>
                                <td>{{item.numerocontratos}}</td>
                                <td style="text-align: right">{{item.faturamentoFormatado}}</td>
                            </tr>
                            <tr ng-if="item.expanded" ng-repeat-end=""><!--  -->
                                <td colspan="4">
                                    <div class="col-md-offset-1 col-md-11">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="subItem in item.dataReport19">
                                                    <td>{{subItem.formapagamento}}</td>
                                                    <td>{{subItem.numerocontratos}}</td>
                                                    <td style="text-align: right">{{subItem.faturamentoFormatado}}</td>
                                                </tr>                                                
                                            </tbody>
                                        </table> 
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="modal-footer">
            <div class="text-right">
                <button class="btn green" ng-click="close()">Fechar</button>
            </div>
         </div> 
    </div>
</form>

