<style>
	td {
		text-align: center;
		vertical-align: middle !important;
	}

	thead {
		font-weight: bold;
	}

	.clickable:hover {
		cursor: pointer;
	}
</style>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i>
					<span class="caption-subject font-green-haze bold uppercase">Atendimentos</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"></a>
					<a class="btn btn-circle btn-icon-only btn-default" data-toggle="collapse" data-target="#agendamentos-data" ng-click="agendamentosCollapsed = !agendamentosCollapsed;">
						<i class="fa" ng-class="agendamentosCollapsed ? 'fa-minus' : 'fa-caret-down'"></i>
					</a>
				</div>
			</div>
			<div id="agendamentos-data" class="portlet-body">
				<div class="row">
					<!-- BEGIN chart block -->
					<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
						<div class="chart" style="height: auto;">
							<div id="agendamentosChart" class="c3">
							</div>
						</div>
						<div style="text-align: center;">
							<h3 class="font-blue">
								<strong>Corretos: {{totalOk}}/{{total}}</strong>
							</h3>
						</div>
					</div>
					<!-- END chart block -->

					<!-- BEGIN tables -->
					<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
						<!-- BEGIN warning block -->
						<h4 class="block alert alert-block alert-danger clickable" data-toggle="collapse" data-target="#warning-agendamentos-content" ng-click="warningCollapsed = !warningCollapsed;">
							<strong>Alertas</strong>
                            <div class="pull-right">
								<i class="fa" ng-class="warningCollapsed ? 'fa-caret-down' : 'fa-minus'"></i>
							</div>
						</h4>
						<div id="warning-agendamentos-content" class="collapse in">
							<div class="alert" ng-if="!listAgendamentosAlerta || listAgendamentosAlerta.length == 0">
								<strong>Todos os atendimentos ocorrendo como desejado</strong>
							</div>
							<div class="table-responsive regular-pulsate" ng-show="listAgendamentosAlerta && listAgendamentosAlerta.length > 0">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
                                            <td>Profissional</td>
											<td>Unidade</td>											
											<td>Paciente</td>
                                            <td>Aguardando</td>
                                            <td>Presen&ccedil;a</td>
											<td>Agendado</td>                                            
											<td>Comparecimento</td>											
                                            <td>N&deg; Agendamento</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in listAgendamentosAlerta">
                                            <td>
												{{formatName(item.nmProfissional)}}
												<br/>
												<span class="label label-info">{{item.nmEspecialidade}}</span>
	                                            <!-- <br/> -->
	                                            <!-- <br/>
												<span class="label label-primary" style="display: inline-block; font-size: 11px;">
													<i class="fa fa-mobile"></i>
													{{formatMobileNum(item.nrCelular)}}
												</span> -->
											</td>
											<td>{{item.nmUnidade}}</td>											
											<td>{{item.nmPaciente}}</td>
                                            <td>{{item.difftime}}</td>
                                            <td>{{item.horaPresenca}}</td>
											<td>{{item.horaAgendamento}}</td>                                            
											<td>
												{{item.horaChegadaInicio}} - {{item.horaChegadaFim}}
											</td>
											
                                            <td>{{item.nrAgendamento}}</td>											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- END warning block -->
					</div>
					<!-- END tables-->
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// $(document).ready(function() {
	// 	$('.regular-pulsate').pulsate({
	// 		color: '#bf1c56',
	// 		reach: 5,
	// 		speed: 1000,
	// 		pause: 100,
	// 		glow: true,
	// 		repeat: true,
	// 		onHover: false
	// 	});
	// });
</script>