<style>
	td {
		text-align: center;
		vertical-align: middle !important;
	}

	thead {
		font-weight: bold;
	}

	.clickable:hover {
		cursor: pointer;
	}
</style>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i>
					<span class="caption-subject font-green-haze bold uppercase">Profissionais</span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"></a>
					<a class="btn btn-circle btn-icon-only btn-default" data-toggle="collapse" data-target="#profissionais-data" ng-click="profissionaisCollapsed = !profissionaisCollapsed;">
						<i class="fa" ng-class="profissionaisCollapsed ? 'fa-minus' : 'fa-caret-down'"></i>
					</a>
				</div>
			</div>
			<div id="profissionais-data" class="portlet-body">
				<div class="row">
					<!-- BEGIN chart block -->
					<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
						<div class="chart" style="height: auto;">
							<div id="professionalsChart" class="c3">
							</div>
						</div>
                        <div style="text-align: center;">
                            <h3 class="font-blue">
                                <strong>Corretos: {{totalOk}}/{{total}}</strong>
                            </h3>
						</div>
					</div>
					<!-- END chart block -->

					<!-- BEGIN tables -->
					<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
						<!-- BEGIN warning block -->
						<h4 class="block alert alert-block alert-danger clickable" data-toggle="collapse" data-target="#warning-content" ng-click="warningCollapsed = !warningCollapsed;">
							<strong>Alertas</strong>
							<div class="pull-right">
								<i class="fa" ng-class="warningCollapsed ? 'fa-caret-down' : 'fa-minus'"></i>
							</div>
						</h4>
						<div id="warning-content" class="collapse in">
							<div class="alert" ng-if="!listAlertas || listAlertas.length == 0">
								<strong>Sem alertas no momento</strong>
							</div>
							<div class="table-responsive regular-pulsate" ng-show="listAlertas && listAlertas.length > 0">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<td>Profissional</td>
											<td>Unidade</td>
											<td>Atendimento</td>
											<td>Presen&ccedil;a</td>
											<td>Status</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in listAlertas">
											<td>
												{{formatName(item.funcionario)}}											
												<br/>
												<span class="label label-info">{{item.especialidade}}</span>
	                                            <br/>
	                                            <br/>
												<span class="label label-primary" style="display: inline-block; font-size: 11px;">
													<i class="fa fa-mobile"></i>
													{{formatMobileNum(item.nrCelular)}}
												</span>
											</td>
											<td>{{item.unidade}}</td>
											<td>
												{{item.horaAtendimentoInicial}} - {{item.horaAtendimentoFinal}}
												<br/>
												<span><strong>1º Atendimento:</strong> {{getRegisterValue(item.horaChamada)}}</span>
											</td>
											<td>
												Primeiro registro: {{getRegisterValue(item.horaPontoInicial)}}
												<br/>
												&Uacute;ltimo registro:
												{{getRegisterValue(item.horaPontoFinal)}}
											</td>
											<td>
												<span class="label label-danger">Problemas</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- END warning block -->

						<!-- BEGIN info block -->
						<h4 class="block alert alert-block alert-info clickable" data-toggle="collapse" data-target="#info-content" ng-click="infoExpanded = !infoExpanded;">
							<strong>Informa&ccedil;&otilde;es</strong>
							<div class="pull-right">
								<i class="fa" ng-class="infoExpanded ? 'fa-minus' : 'fa-caret-down'"></i>
							</div>
						</h4>
						<div id="info-content" class="collapse">
							<div class="alert" ng-if="!listProfissionais || listProfissionais.length == 0">
								<strong>Sem informa&ccedil;&otilde;es no momento</strong>
							</div>
							<div class="table-responsive" ng-show="listProfissionais && listProfissionais.length > 0">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<td>Profissional</td>
											<td>Unidade</td>
											<td>Atendimento</td>
											<td>Presen&ccedil;a</td>
											<td>Status</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in listProfissionais">
											<td>
												{{formatName(item.funcionario)}}											
												<br/>
												<span class="label label-info">{{item.especialidade}}</span>
	                                            <br/>
	                                            <br/>
												<span class="label label-primary" style="display: inline-block; font-size: 11px;">
													<i class="fa fa-mobile"></i>
													{{formatMobileNum(item.nrCelular)}}
												</span>
											</td>
											<td>{{item.unidade}}</td>
											<td>
												{{item.horaAtendimentoInicial}} - {{item.horaAtendimentoFinal}}
												<br/>
												<span><strong>1º Atendimento:</strong> {{getRegisterValue(item.horaChamada)}}</span>
											</td>
											<td>
												Primeiro registro: {{getRegisterValue(item.horaPontoInicial)}}
												<br/>
												&Uacute;ltimo registro:
												{{getRegisterValue(item.horaPontoFinal)}}
											</td>
											<td>
												<span class="label label-success" ng-if="!item.bloqueio">OK</span>
												<span class="label label-warning" ng-if="item.bloqueio">
													Bloqueado
												</span>
												<br/>
												<span ng-if="item.bloqueio">Motivo: {{item.bloqueio}}</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- END info block -->
					</div>
					<!-- END tables-->
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// $(document).ready(function() {
	// 	$('.regular-pulsate').pulsate({
	// 		color: '#bf1c56',
	// 		reach: 5,
	// 		speed: 1000,
	// 		pause: 100,
	// 		glow: true,
	// 		repeat: true,
	// 		onHover: false
	// 	});
	// });
</script>