<div class="row">
	<!-- BEGIN profissionais view -->
	<div ui-view="profissionais" class="fade-in-up"></div>
	<!-- END profissionais row -->
</div>
<div class="row">
	<!-- BEGIN agendamentos view -->
	<div ui-view="agendamentos" class="fade-in-up"></div>
	<!-- END agendamentos row -->
</div>