<style>
	.note.note-info {
	    background-color: #f5f8fd;
	    border-color: #8bb4e7;
	    color: #010407;
	}

	.note {
	    margin: 0 0 20px;
	    padding: 15px 30px 15px 15px;
	    border-left: 5px solid #eee;
	    border-radius: 0 4px 4px 0;
	}
</style>

<div ng-controller="CobrancaHistoricoAtendimentoController" class="row">
	<div class="col-md-12">
		<div class="portlet light">

			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Hist&oacute;rico de Cobrancas</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
	
				</div>
			</div>
			<!-- END TITLE -->
			
			<!-- MAIN CONTENT -->
			<br/>
			<div class="portlet-body ">
				<!-- BEGIN TIMELINE CONTENT -->	 
				<em ng-show="historicoContato.length == 0" >
					Sem hist&oacute;rico de atendimento.
				</em>
				<div class="row" style="margin-left:-85%;">	
					<!-- BEGIN TIMELINE -->	 	
					<div class="col-md-12">
			    	<timeline>
				   		<timeline-event ng-repeat="cobranca in historicoContato" side="right">

				     	   <timeline-badge class="timeline-hidden {{cobranca.badgeClass}} "
				           	 when-visible="animateElementIn" 
				           	 when-not-visible="animateElementOut">
				        		<i class="glyphicon {{cobranca.badgeIconClass}}"></i>
				      		</timeline-badge>

				        	<timeline-panel 
					         class=" timeline-hidden {{cobranca.badgeClass}} "
					         when-visible="animateElementIn" 
					         when-not-visible="animateElementOut">

						        <timeline-heading>
						        	<h4>{{cobranca.title}}</h4>
							        <p ng-if="cobranca.when">
							        	<small class="text-muted">
							            	<i class="glyphicon glyphicon-time"></i>
							            	{{cobranca.when | date : 'dd/MM/yyyy'}}
							            	<strong>&agrave;s</strong>
							            	{{cobranca.when | date : 'HH:mm:ss' : 'UTC'}}
							            </small>
							        </p>
							        <p ng-if="cobranca.tipoContato != null">
							        	<small class="text-muted" ng-show="cobranca.tipoContato == 0">
							        	 	<i class="fa fa-volume-control-phone"></i>Telefone
							            </small>
							            <small class="text-muted" ng-show="cobranca.tipoContato == 1"><i class="fa fa-whatsapp"></i> Whatsapp
							            </small>
							            <small class="text-muted" ng-show="cobranca.tipoContato == 2">
							             <span class="glyphicon glyphicon-envelope"></span> Mensagem
							            </small>
							            <small class="text-muted" ng-show="cobranca.tipoContato == 3">
							             <i class="fa fa-facebook"></i>Facebook
							            </small>
							            <small class="text-muted" ng-show="cobranca.tipoContato == 4">
							            	<i class="fa fa-user"></i>In Loco
							            </small>
							        </p>
						        </timeline-heading>

				        		<div>
				        			<br/>
					        		<div class="row">
					        			<div class="col-md-12">
						        			<div class="note note-info" style="width: 150%; margin-left: 5%;">
												<h4 class="block"><strong>Conversa</strong></h4>
												<div>
													 <p ng-if="cobranca.nmObservacao" 
							         	  				ng-bind-html="cobranca.nmObservacao">
							          	 			  </p>			
												</div>

												<br/>
												<h4><strong>Dados adicionais
												</strong></h4>
												<div>
													 <span>
														 <p>Data previs&atilde;o de pagamento:&nbsp;
														 <em>{{cobranca.dtPrevisaoPagamento | date : 'dd/MM/yyyy'}}</em>
														</p>
													 </span>
													 <span>
														 <p>Data pr&oacute;xima ligac&atilde;o:&nbsp;
														 	<em>{{cobranca.dtProximaLigacao | date : 'dd/MM/yyyy' }}</em>
														 </p>	
													 </span>		
												</div>
											</div>
					        			</div>
					        		</div>
				       			</div>

						        <timeline-footer ng-if="cobranca.footerContentHtml">
						          	<span ng-bind-html="cobranca.footerContentHtml"></span>
						        </timeline-footer>
				     		</timeline-panel>
				   		</timeline-event>
				 	</timeline>
				 	</div>
				 	<!-- END TIMELINE -->
				</div>
				<!-- END TIMELINE CONTENT -->	 
			</div>
			<!-- END MAIN CONTENT -->
		</div>
	</div>
</div>