<div class="modal-header">
	<h4 class="modal-title">Estat&iacute;stica {{nmFuncionario}}</h4>
</div>

<div class="modal-body">
	<div>
		<div class="row">
			<div class="col-md-offset-3	col-md-6">
	        	<div class="dashboard-stat blue">
	                <div class="visual">
	                    <i class="fa fa-comments"></i>
	                </div>
	                <div class="details">
	                    <div class="number">
	                        <span data-counter="counterup">{{totalCobranca.id}}</span>
	                    </div>
	                    <div class="desc"> cobranças realizadas hoje </div>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="cancel()">ok</button>
</div>
</form>