<style>
    #nmClienteLink {
        text-decoration:underline; 
        color: #0099CC;
    }

    .input-mini {
        width: 180px !important;
    } 

    .timeline.blue-red-red .timeline-content, .timeline.blue-red-red .timeline-icon, .timeline.blue-red-red .timeline-icon.timeline-icon-text span {
        border-color: #1690ed;
    }

    .sectionSerch {
      margin-bottom: 60px;
      padding: 30px;
      background-color: #efefef;
    }

    .sectionSerch:last-child {
      margin-bottom: 0;
    }

</style>

<div class="margin-top-10">
	<div class="portlet light col-md-12">
	     
        <!-- FILTROS -->  
        <br/><br/>  
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8  text-right" ng-hide="canSearchCliente">

                    <a class="general-link" ng-click="pesquisarPorCliente()" > 
                        Clique aqui para pesquisar por cliente</a>
                </div>
                <!-- BEGIN SEARCH BY CLIENTE -->
                <br/>
                <div class="col-md-8" ng-show="canSearchCliente">
                    <label>Cliente</label>
                    <div class="sectionSerch">                    
                        <ui-select id="uiSelectClienteSearch" ng-model="cliente.selected" 
                         ng-disabled="disabled" reset-search-input="false" 
                         on-select="pesquisarClienteInadimpente($item)" > 
                            <ui-select-match placeholder="Digite um nome...">
                                {{$select.selected.nmCliente}}
                            </ui-select-match> 
                            <ui-select-choices repeat="cliente in clientes track by $index" 
                            refresh="atualizarPesquisaCliente($select.search)"
                            refresh-delay="1000">
                                <div ng-bind-html="cliente.nmCliente | highlight: $select.search">
                                </div>
                                <small> COD: {{cliente.nrCodCliente}} CPF: 
                                    <span ng-bind-html="''+ cliente.nrCPFFormatado | highlight: $select.search"></span> 
                                </small>
                            </ui-select-choices> 
                        </ui-select>                   
                    </div>
                </div>                            
                <!-- END SEARCH BY CLIENTE-->
                <br/>
                <div class="col-md-8 text-right" ng-show="canSearchCliente">
                    <br/>
                    <a class="general-link" ng-click="pesquisarPorCliente()" > 
                        Voltar filtro padr&atilde;o</a>
                </div>
            </div>
        </div>

        <div class="row" ng-show="!canSearchCliente">
            <div class="col-md-12">
                 <!-- BEGIN SEARCH BY EMPRESA -->
                <div class="col-md-4">
                    <label>Empresa</label>
                    <div class="form-group">
                        <ui-select ng-model="empresaGrupoSelected.empresaGrupo" 
                            theme="select2" class="form-control select2me" 
                            on-select="alterarEmpresaClientesInadimplentes( $item )" 
                            name="nmEmpresaGrupo" id="nmEmpresaGrupo"
                            search-enabled="false"
                            style="min-width: 300px;" > 
                                <ui-select-match placeholder="Selecione a empresa ">
                                    {{$select.selected.nmFantasia}}
                                </ui-select-match> 
                                <ui-select-choices repeat="item as item in empresaGrupoOptions | filter: $select.search">
                                    <div ng-bind-html="item.nmFantasia | highlight: $select.search"></div>
                                </ui-select-choices> 
                        </ui-select>    
                    </div>
                </div>
                 <!-- END SEARCH BY EMPRESA -->

                <!-- BEGIN SEARCH BY FORMA PAGAMENTO -->
                <div class="col-md-4">
                    <label>Formas de Pagamento</label>
                    <div class="form-group">
                        <ui-select ng-model="formaPagamentoSelected.formaPagamento" 
                            theme="select2" class="form-control select2me" 
                            on-select="alterarFormaPagtoClientesInadimplentes( $item )" 
                            name="nmFormaPagamento" id="nmFormaPagamento"
                            search-enabled="false"
                            style="min-width: 300px;" > 
                                <ui-select-match placeholder="Selecione a forma de pagamento ">
                                    {{$select.selected.nmFormaPagamento}}
                                </ui-select-match> 
                                <ui-select-choices repeat="item as item in formaPagamentoOptions | filter: $select.search">
                                    <div ng-bind-html="item.nmFormaPagamento | highlight: $select.search"></div>
                                </ui-select-choices> 
                        </ui-select>    
                    </div>
                </div>
                <!-- END SEARCH BY FORMA PAGAMENTO -->

                <!-- fix-->
                <div class="col-md-12" ></div>
                <!-- fix-->

                <!-- OPTIONS filtro DATEPICKER -->
                <div class="col-md-12">

                    <label>Op&ccedil;&otilde;es por data</label><br/>

                     <!-- OPTIONS filtro DATEPICKER -->
                    <div class="col-md-12"  style="margin-left:5px;">
                        <div class="radio-list">
                            <label class="radio-inline" ng-repeat="optionDate in rdOptionsDate">
                                <input type="radio" name="tipoFiltroData" icheck class-radio-icheck="iradio_square-blue"
                                 ng-value="{{optionDate.value}}" ng-model="optionDateSelected.value">{{optionDate.name}}
                            </label>
                        </div>
                    </div>
                    <br/><br/>
                </div>
                <!-- END OPTIONS-->

                <!-- DATEPICKER RANGE -->
                <div class="col-md-8">
                    <div class="form-group" >
                        <input date-range-picker class="form-control date-picker text-center" type="text" ng-model="dataFiltro.date"
                        options="{eventHandlers:{'apply.daterangepicker': pesquisarClientesInadimplentes}, locale:localeDateRangePicker, ranges: rangesDateRangePicker,alwaysShowCalendars:mostrarCalendario, showCustomRangeLabel:mostrarCustomizado ,timePicker:false }" 
                        placeholder="Selecione a data" />
                    </div>
                </div> 
                <!-- END DATEPICKER RANGE -->

                 <!-- fix-->
                <div class="col-md-12" ></div>
                <!-- fix-->                        
            </div>
        </div>
        <!-- END FILTROS -->    

        <!-- BEGIN CLIENTES INADIMPLENTES --> 
        <br/><br/>
        <div class="row">
            
            <div class="col-md-12 text-right">
                <a ng-click="prepararModalEstatisticaOperadorCobranca()" 
                 popover="Estatísticas" popover-trigger="mouseenter"  popover-placement="left">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
            <div>
                <span class="text-center">
                  <strong>Soma Total Divida {{somaTotalDivida | currency:'R$': 2}}</strong>
                 </span>
            </div>
            <div>
                 <span class="text-center">
                  <strong>Soma Total c/ juros {{somaTotalDividaComJuros | currency:'R$': 2}}</strong>
                 </span>
            </div>
            </div>

    		<div class="col-md-12">			

    			<div class="portlet box blue">
                    
                    <div class="portlet-title">
                        <div class="caption">
                           <i class="fa fa-money"></i>  CLIENTES INADIMPLENTES
                        </div>
                    </div>

                    <div class="portlet-body flip-scroll">
                        
                        <br/>
                        <div class="text-right" ng-show="exportXLS">
                             <button class="btn green btn-sm " ng-click="pesquisarClientesInadimplentesExport()">
                                <i class="fa fa-download" aria-hidden="true"> Download</i>
                            </button>
                        </div>

                        <div ng-show="clientesInadimplentes.length == 0">
                            <em><strong>Sem dados dispon&iacute;veis.</strong></em>
                        </div>
                        <div id="imageLoading">
                            <img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" 
                            data-loading>
                            <br/><br/>
                        </div>
                        <table 
                         class="table table-bordered table-striped table-condensed table-hover flip-content"
                         ng-show="clientesInadimplentes.length > 0">
                            <thead>
                              <tr>
                                <th class="text-center" >Titular</th>
                                <th class="text-center">CPF</th>
                                <th class="text-center">Contato</th>
                                <th class="text-center">T&iacute;tulos abertos</th>
                                <th class="text-center">Total d&iacute;vida</th>
                                <th class="text-center">Total c/ juros</th>
                                <th class="text-center">Receptor(a)</th>
                                <th class="text-center">Último contato</th>
                                <th class="text-center">Op&ccedil;&otilde;es</th>
                              </tr>
                            </thead>
                           
                            <tr dir-paginate="item in clientesInadimplentes| itemsPerPage: itemsPerPage" 
                            total-items="total_count" >
                                <td>     
                                    <a class="general-link"
                                        ui-sref="cobranca-clienteAtendimento({idCliente:item.idCliente,nmCliente:item.nmCliente})">
                                        {{item.nmCliente}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{item.nrCPF}}
                                </td>
                                <td class="text-center">
                                    <div ng-if="item.nrCelular">
                                       <a title="Ligar" ng-click="ligar(item.nrCelular,1000)" >{{item.nrCelular}}</a>
                                       <br/>
                                    </div> 
                                    <div ng-if="item.nrTelefone">
                                        <a title="Ligar" ng-click="ligar(item.nrTelefone,1000)" >{{item.nrTelefone}}</a>                                        
                                    </div> 
                                </td>
                                <td class="text-center">
                                    <span 
                                      popover="Mensalidades: {{item.qtdeMensalidade}} Despesas: {{item.qtdeDespesa}}" 
                                      popover-trigger="mouseenter"
                                      popover-title="Resumo títulos abertos">
                                      {{item.totalDocumentoAberto}}
                                    </span>
                                </td>
                                
                                <td class="text-center">
                                    {{item.totalDivida | currency:'R$': 2}}
                                </td>
                                
                                <td class="text-center">
                                    {{item.totalDividaComJuros | currency:'R$': 2}}
                                </td>
                                
                                <td class="text-center">
                                    {{item.ultimoNegociador}}
                                </td>
                                
                                <td class="text-center">
                                    {{item.ultimaDataContato}}
                                </td>
                                
                                <td class="text-center">

                                    <a title="Histórico de contatos"
                                        ng-click="historicoContatoSimplificado(item.idCliente)"
                                        data-toggle="modal" data-target="{{'#'+ item.idCliente}}">
                                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                                    </a>
                                    
                                      &nbsp; &nbsp;
                                     <!-- <a title="Iniciar Atendimento"
                                        data-toggle="modal" data-target="{{'#'+ item.idCliente}}">
                                         <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                                         </a> -->
                                    
                                    <!-- BEGIN TIMELINE SIMPLIFICADA -->
                                    <div class="modal fade" id="{{item.idCliente}}" 
                                     tabindex="-1" 
                                     role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" 
                                                 data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            
                                                <h4 class="modal-title" id="myModalLabel">
                                                    Hist&oacute;rico Simplificado - {{item.nmCliente}}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                            <div class="row">
                                            <div class="col-md-12">
                                            <div style="float:left; width: 91%;" 
                                            class="timeline blue-red-red" 
                                            ng-class="{'timeline-left': timelineSettings.isLeft,'timeline-alternating':timelineSettings.isAlternating,'timeline-collapsing':timelineSettings.isCollapsing,'timeline-with-arrows':timelineSettings.isWithArrows}">

                                            <em ng-show="timelineEntries.length == 0">
                                                <strong>Sem hist&oacute;rico de contato.</strong>
                                            </em>

                                            <div ng-if="!block.isNull" ng-repeat="block in timelineEntries" 
                                            class="timeline-block " ng-class="{'timeline-block-icon-only':block.iconOnly}" 
                                            ng-show="timelineEntries.length > 0">
                                                <div class="timeline-icon" ng-class="{'timeline-icon-text':block.icon.isText,'timeline-icon-hide-border':(block.icon.noBorder||block.icon.isText)}">
                                                    <i ng-if="block.icon.isIcon" style="color:{{block.icon.color}}" ng-class="block.icon.value" class="fa fa-lg"></i>
                                                    <span ng-if="block.icon.isText">{{block.icon.value}}</span>
                                                </div>
                                                <div class="timeline-content">
                                                    <div>
                                                        <p>{{block.content.value}}</p>
                                                        <p ng-if="block.content.tipoContato != null"> 
                                                            <small class="text-muted" ng-show="block.content.tipoContato == 0">
                                                            <i class="fa fa-volume-control-phone"></i>&nbsp; Telefone</small> 

                                                             <small class="text-muted" ng-show="block.content.tipoContato == 1"><i class="fa fa-whatsapp"></i> &nbsp;whatsapp
                                                            </small>

                                                            <small class="text-muted" ng-show="block.content.tipoContato == 2">
                                                             <i class="glyphicon glyphicon-envelope"></i> &nbsp; Mensagem
                                                            </small>

                                                            <small class="text-muted" ng-show="block.content.tipoContato == 3">
                                                             <i class="fa fa-facebook"></i> &nbsp; Facebook
                                                            </small>
                                                        </p>
                                                        <p>
                                                            <small class="text-muted"
                                                             style="margin-right: 12px;">
                                                                <i class="glyphicon glyphicon-time"></i>
                                                                {{block.date.time}}
                                                            </small>
                                                        </p>
                                                    </div>
                                                    <div class="timeline-date">
                                                        <span class="text-muted">
                                                            {{block.date.value | date : 'dd/MM/yyyy'}}
                                                            <strong>&agrave;s</strong>
                                                            {{block.date.value| date : 'HH:mm:ss' : 'UTC'}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" 
                                                 class="btn btn-default" data-dismiss="modal">Certo</button>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- END TIMELINE SIMPLIFICADA -->
                                </td>
                            </tr>
                        </table>
                         <dir-pagination-controls
                           max-size="1000"
                           direction-links="true"
                           boundary-links="true"
                           on-page-change="pesquisarClientesInadimplentes(newPageNumber)" >
                        </dir-pagination-controls>

                        <br>
            		</div>
         		</div>
    		</div>
        </div>
        <!-- END AGENDAMENTOS APTOS -->
	</div>
</div>