<style>
	.clockStyle {
		/* background-color:#407F7F; */
		/* border:#999 2px inset; */
		border: 2px solid;
    	border-radius: 5px;
		padding:6px;
		color:#0099CC;
		font-family:"Arial Black", Gadget, sans-serif;
	    font-size:16px;
	    font-weight:bold;
		letter-spacing: 2px;
		display:inline;
	}
</style>

<div class="margin-top-10">
	<div class="row">
		<div class="col-md-12">
			<div id="painel-details" class="profile-sidebar" ng-hide="showDetails">
				<div class="portlet light ">
					<div class="profile-userpic profile-sidebar-portlet">
						<img src="assets/admin/pages/media/profile/avatar.gif" class="img-responsive" 
						 ng-if="fotoClienteDecoded == null">
						<img data-ng-src="data:image/png;base64,{{fotoClienteDecoded}}" 
						 class="img-responsive" ng-if="fotoClienteDecoded != null"/>
					</div>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							{{nmCliente}}
						</div>
					</div>

					<div class="text-center" >
        				<h3>
    						<timer interval="1000">
    							<div class="clockStyle">
    								&nbsp;{{minutes}}min : {{seconds}}seg
    							</div>	
    						</timer>
    						&nbsp;
    						<span class="badge badge-info" title="tempo total atendimento">
    							<i class="fa fa-info" aria-hidden="true"></i>
    						</span>
    						
						</h3>
                	</div>
                	<div class="text-right">
                		
                	</div>

					<div class="profile-usermenu">
						<ul class="nav">
							<li ng-class="{active: $state.includes('cobranca-clienteAtendimento.historicoAtendimento')}"><a ui-sref="cobranca-clienteAtendimento.historicoAtendimento"> 
							<i class="fa fa-calendar" aria-hidden="true"></i>
									 Hist&oacute;rico 
							</a></li>
							<li ng-class="{active: $state.includes('cobranca-clienteAtendimento.documentos')}"><a ui-sref="cobranca-clienteAtendimento.documentos"> 
							<i class="fa fa-file-image-o" aria-hidden="true"></i>
									 Documentos
							</a></li>
							<li ng-class="{active: $state.includes('cobranca-clienteAtendimento.situacaoFinanceira')}">
								<a ui-sref="cobranca-clienteAtendimento.situacaoFinanceira"> 
									<i class="fa fa-file-text-o" aria-hidden="true"></i>
									Situa&ccedil;&atilde;o Financeira
								</a>
							</li>
							<li ng-class="{active: $state.includes('cobranca-clienteAtendimento.processoCobranca')}">
								<a ui-sref="cobranca-clienteAtendimento.processoCobranca">
									<i class="fa fa-list-ul" aria-hidden="true"></i>
									Cobran&ccedil;a
								</a>
							</li>
						</ul>

					</div><!-- END SIDE BAR -->

					<div class="text-center">
						<button class="btn btn-warning btn-xs"
						ng-bootbox-confirm=" Deseja realmente finalizar o atendimento do(a) clinte {{nmCliente}} ? "
                        ng-bootbox-confirm-action="finalizarAtendimentoCobranca()"
                        ng-bootbox-confirm-action-cancel="cancelarFinalizarAtendimentoCobranca()"
                        ng-disabled="buttonFinalizarDisabled">
							Finalizar atendimento
						</button>
					</div>
					<br>
				</div>
			</div>			

			<div ui-view class="profile-content fade-in-up">
				<div ng-include="'templates/admin4_material_design/angularjs/views/cobranca/cobranca-processoCobranca.html'">
				</div>
			</div><!--END CONTENT PAGE -->
		</div>
	</div>
</div>