<div ng-controller="CobrancaDocumentosController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Documentos</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
				</div>
			</div>
			<!-- END TITLE -->
	
			<br/>
			<!-- BEGIN MAIN CONTENT -->
			
			<div class="portlet-body ">
				<div class="row">
					<div class="col-md-12">
						<tabset>
							<!-- TAB DADOS GERAIS-->
							<tab>
	                            <tab-heading>
	                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	                              Dados Gerais
	                            </tab-heading>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label" for="txtCPF">CPF</label> 
											<input type="text" id="txtCPF" name="txtCPF" ui-br-cpf-mask
											 ng-model="selectedCliente.nrCPF" class="form-control" 
											 ng-disabled="true"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">RG</label> <input type="text" id="txtRG" name="txtRG" ng-model="selectedCliente.nrRG" placeholder="XXXXXXX-X" class="form-control" 
											ng-disabled="true" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Celular</label> <input type="text" id="txtCelular" name="txtCelular" ng-model="selectedCliente.nrCelular" placeholder="(XX) XXXXX-XXXX" class="form-control" ng-disabled="true" ui-br-phone-number />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Telefone</label> <input type="text" id="txtTelefone" name="txtTelefone" ng-model="selectedCliente.nrTelefone" class="form-control" 
											ng-disabled="true" ui-br-phone-number />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Data de Nascimento</label> 
											<input type="text" name="txtDtNascimento" id="txtDtNascimento"  
											 class="form-control" ng-model="selectedCliente.dtNascimento" ng-disabled="true" />
										</div>
									</div>
								</div>

								<br/>
								<h4><strong>Endere&ccedil;o de Correspond&ecirc;ncia</strong></h4>
								<hr>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">CEP *</label> 
											<input type="text" name="txtCEP1" id="txtCEP1" 
											ng-model="selectedCliente.nrCEP" ui-br-cep-mask
											placeholder="XXXXX-XXX" class="form-control"
											ng-disabled="true" />
										</div>	
									</div>
								</div>
									
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Logradouro *</label> <input type="text" name="txtLogradouro" id="txtLogradouro" 
											ng-model="selectedCliente.nmLogradouro" 
											placeholder="Endereco" class="form-control"
											ng-disabled="true"/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">N&uacute;mero *</label> 
											<input type="text" name="txtLogradouroNumero" 
											 id="txtLogradouroNumero" ng-model="selectedCliente.nrNumero" class="form-control"
											 ng-disabled="true" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label">Complemento</label> <input type="text" id="selCidade" ng-model="selectedCliente.nmComplemento" placeholder="" class="form-control" ng-disabled="true" />
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Cidade</label>
											<ui-select ng-model="selectedCliente.cidade.id" theme="select2" class="form-control select2me" 
											on-select="loadBairroOptions($item)"
											ng-disabled="true">
											 <ui-select-match
												placeholder="Selecione...">{{$select.selected.nmCidade}}</ui-select-match> 
												<ui-select-choices repeat="item.id as item in cidadeOptions | filter: $select.search">
											<div ng-bind-html="item.nmCidade | highlight: $select.search"></div>
											</ui-select-choices> </ui-select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Bairro</label>
											<ui-select ng-model="selectedCliente.bairro.id" 
											theme="select2" class="form-control select2me"
											ng-disabled="true"> 
											 <ui-select-match placeholder="Selecione...">{{$select.selected.nmBairro}}</ui-select-match>
											<ui-select-choices repeat="item.id as item in bairrosOptions | filter: $select.search">
											<div ng-bind-html="item.nmBairro | highlight: $select.search"></div>
											</ui-select-choices> </ui-select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Ponto de Referencia</label>
									<textarea id="maxlength_textarea" ng-model="selectedCliente.nmPontoReferencia" class="form-control" maxlength="225" rows="2" 
									ng-disabled="true"></textarea>
								</div>
	                     	</tab>
	                     	<!-- END TAB DADOS GERAIS-->

	                     	<!-- TAB IMAGENS CLIENTE-->
	                     	<tab select="loadImagensCliente()">
	                            <tab-heading>
	                            	<i class="fa fa-file-image-o" aria-hidden="true"></i>
	                               	Imagens
	                            </tab-heading>

	                           	<em ng-show="arquivos.length == 0">
	                           		<strong>Sem dados dispon&iacute;veis.</strong>
	                           	</em>
								<table ng-show="arquivos.length > 0" 
								 class="table table-striped table-bordered table-hover" id="table_arquivos_cliente">
									<thead>
										<tr>
											<th class="text-center">Arquivo</th>
											<th class="text-center">Pr&eacute;-Visualiza&ccedil;&atilde;o</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in arquivos">
											<td>{{item.nmImagemCliente}}</td>
											<td class="text-center">
												<a href="http://images.elev-sistema.com.br:8083/{{item.urlImagem}}" target="_blank">
													<img style="width: 150px; height: auto" 
													 ng-src="http://images.elev-sistema.com.br:8083/{{item.urlImagem}}"/>
												</a>
											</td>
									</tbody>
								</table>
	                     	</tab>
	                     	<!-- END IMAGENS CLIENTE-->
						</tabset>
					</div>
				</div>	
			</div>
			
			<!-- END MAIN CONTENT -->
		</div>
	</div>
</div>
