<div ng-controller="CobrancaProcessoCobrancaController" class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<!-- BEGIN TITLE -->
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i> <span class="caption-subject font-blue-madison bold uppercase">Processo de cobran&ccedil;a</span>
					<img id="spinner" ng-src="assets/admin/layout4/img/loading.gif" data-loading>
	
				</div>
			</div>
			<!-- END TITLE -->
			
			<br/>
			<form>
			<div class="portlet-body ">
				<div class="row">
					<div class=" col-md-offset-1 col-md-12">
						<!-- TIPO CONTATO OPTIONS -->
						<div class="col-md-12">
							<div class="form-group">
								<label for="dtPrevistaPagamento" class="control-label">
									Forma de contato <span class="required"> * </span>
								</label>
	                            <div style="margin-left:17px;">
	                            <div class="radio-list">
	                                <label class="radio-inline" ng-repeat="tipoContato in tipoContatoOptions">
	                                    <input type="radio" name="tipoContatoOptions" 
	                                      icheck class-radio-icheck="iradio_flat-blue"
	                                   	  ng-value="{{tipoContato.tipo}}" 
	                                   	  ng-model="clienteContatoCobrancaDTO.tipoContato">
	                                    {{tipoContato.nmTipo}} 
	                                </label>
	                            </div></div>
	                        </div>
						</div>
						<!-- END CONTATO OPTIONS -->

						<!-- EDITOR DE TEXTO -->
						<div class="col-md-8">
							<div class="form-group">
								<label for="editorObservacao" class="control-label">
									Conversa <span class="required"> * </span>
								</label>
                                <summernote 
                                	id="editorObservacao"
                                    config="optionsTextEditor" lang="pt-BR" 
                                    ng-model="clienteContatoCobrancaDTO.nmConversa">
                                </summernote>
                            </div>
						</div>
						<!-- END EDITOR DE TEXTO -->

						<div class="col-md-12"></div>

						<!-- Data prevista pagamento -->	
						<div class="col-md-4">
							<div class="form-group">
								<label for="dtPrevistaPagamento" class="control-label">
									Data prevista de pagamento<span class="required"> * </span>
								</label>
                                <!-- DATEPICKER RANGE -->
								 <div class="input-icon left">
                                	<i class="fa fa-calendar" aria-hidden="true"></i>
									<input id="dtPrevistaPagamento" date-range-picker 
									class="form-control date-picker" type="text" 
									 min="minDatePrevisaoPagamento"
									 ng-model="clienteContatoCobrancaDTO.dtPrevistaPagamento.date"
									 options="{eventHandlers:{'apply.daterangepicker': atualizarResultados}, locale:datePickerConfiguration,alwaysShowCalendars:true, timePicker:false,singleDatePicker:true, drops: 'up', opens: 'center' }"  placeholder="Selecione a data" /></div>
						 		<!-- END DATEPICKER RANGE -->
                            </div>
						</div>
						<!-- End Data prevista pagamento -->

						<!-- Data proxima ligacao -->	
						<div class="col-md-4">
							<div class="form-group">
								<label for="dtProximaLigacao" class="control-label">
									Data pr&oacute;xima liga&ccedil;&atilde;o <span class="required"> * </span>
								</label>
								<!-- DATEPICKER RANGE -->
								<div class="input-icon left">
                                	<i class="fa fa-calendar" aria-hidden="true"></i>
									<input id="dtProximaLigacao"  date-range-picker class="form-control date-picker" type="text" min="minDateProximaLigacao"
									 ng-model="clienteContatoCobrancaDTO.dtProximaLigacao.date"
									 options="{locale:datePickerConfiguration,alwaysShowCalendars:true, timePicker:false,singleDatePicker:true, drops: 'up', opens: 'center' }"  placeholder="Selecione a data" />
								</div>
						 		<!-- END DATEPICKER RANGE -->
                            </div>
						</div>
						<!-- End Data proxima ligacao -->
						
						<!-- <div class="col-md-12">
							<br/>
							<a ng-click="modalEnviarMensagem()" class="general-link">
								Enviar mensagem</a>
						</div> -->
						
					</div>
				</div>	

				<div class="row">
					<div class="col-md-offset-1 col-md-8 ">
						<div class="col-md-12 text-right">
						<br/>
						<input type="submit" class="btn green-haze" 
						ng-disabled="buttonDisabled" 
						ng-click="finalizarCobranca(clienteContatoCobrancaDTO)"  value="Salvar" />
						<br/><br/>
					</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>