<div class="modal-header">
	<h4 class="modal-title">Envio de mensagem</h4>
</div>
<form id="formEnvioMensagem" ng-submit="enviarMensagem()">
	<div class="modal-body">
		<div class="page-alerts">
			<alert ng-if="alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</alert>
			<alert ng-if="!alert.timeout" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	
		<br/>
		
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN SEARCH BY TEMPLATE MESSAGEM -->
                <div class="col-md-4">
                    <label>Template</label>
                    <div class="form-group">
                        <ui-select ng-model="templateMensagemSelected" 
                            theme="select2" class="form-control select2me" 
                            on-select="prepararEnvioMensagem( $item )" 
                            name="templateMensagem" id="templateMensagem"
                            search-enabled="false"
                            style="min-width: 300px;" > 
                                <ui-select-match placeholder="Selecione o template ">
                                    {{$select.selected.tipoDescricao}}
                                </ui-select-match> 
                                <ui-select-choices repeat="item as item in templatesMensagem | filter: $select.search">
                                    <div ng-bind-html="item.tipoDescricao | highlight: $select.search"></div>
                                </ui-select-choices> 
                        </ui-select>    
                    </div>
                </div>
                <!-- END SEARCH BY TEMPLATE MESSAGEM -->

                <!-- BEGIN SEARCH BY TEMPLATE MESSAGEM -->
                <div class="col-md-12">
                    <label>Celular</label>
                    <div class="form-group">
                        <input type="text" ng-model="nrCelular" class="form-control" > 
                    </div>
                </div>
                <!-- END SEARCH BY TEMPLATE MESSAGEM -->

				<!-- EDITOR DE TEXTO -->
                <div class="col-md-12">
                	<br/>
					<div class="form-group">
						<label for="editorObservacao" class="control-label">
							Mensagem <span class="required"> * </span>
						</label>
                        <summernote 
                        	id="editorObservacao"
                            config="optionsTextEditor" lang="pt-BR" 
                            ng-model="templateMensagemTexto">
                        </summernote>
                    </div>
                </div>
                <!-- END EDITOR DE TEXTO -->
			</div>
		</div>	
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning btn-xs" type="button" ng-click="cancel()">Cancelar</button>
	<button class="btn btn-primary btn-xs">Enviar</button>
	
</div>
</form>
