<form id="boletoForm" name="boletoForm">
<div class="modal-header">
	Confirmar dados do boleto
</div>
<div class="modal-body">
	<div class="row">
		<div class="form-group" ng-hide="showPrintingMessage">
			<div class="col col-md-12">
				<div class="col-sm-6 col-md-5">
					<div class="form-group">
						<label for="vl-boleto" class="control-label">Desconto (%)</label>
						<input id="vl-boleto" type="text" class="form-control" ng-model="valorPorcentagem"/>
					</div>
					<div class="form-group">
						<label>
							<input  type="checkbox" ng-click="usoPorcentagem(firstLoad, valorPorcentagem, totalValue)" ng-disabled="valorPorcentagem == undefined"> Utilizar Porcentagem(%)
						</label>
					</div>
				</div>
				<div class="col-sm-6 col-md-offset-1 col-md-5">
					<div class="form-group">
						<label for="celular-cliente" class="control-label">Celular para envio do boleto</label>
						<input id="celular-cliente" class="form-control" type="text"  name="celular-cliente" ng-model="clienteContato.nrCelular" pattern="\(\d{2}\)\d{5}-\d{4}" minlength="14" ng-required="true" />
					</div>
					<div class="form-group">
						<label>
							<input type="checkbox" name="update-cel" ng-model="clienteContato.shouldUpdate" ng-disabled="!clienteContato.nrCelular" />
							Atualizar celular no cadastro do cliente?
						</label>
					</div>
				</div>
            </div>
            <div class="col-md-8">
            	<br>
            </div>
			<div class="col col-md-8">
				<label class="control-label">Valor (R$)</label>
				<input type="text" class="form-control" ng-model="totalValue" ng-change="formatValue()" ng-required="true" />
			</div>
			<div class="col col-md-4">
				<label class="control-label">Vencimento</label>
				<p class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtVencimento" is-open="popupVencimento.opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fechar" ng-required="true" />
					<span class="input-group-btn">
						<button type="button" class="btn blue" ng-click="openVencimentoPopup()"><i class="fa fa-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>
		<div class="alert alert-info" ng-show="showPrintingMessage">
			<stong style="font-size: 25px;">Aguarde a visualização do boleto</stong>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-disabled="processing" ng-click="cancel()">Cancelar</button>
	<button class="btn green" ng-click="okButton()" ng-disabled="boletoForm.$invalid || !hasValidValue() || processing" type="submit">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true" ng-if="processing"></i>
		Gerar boleto
	</button>
</div>
</form>